<div class="thnksarea" id="${feedType.replaceAll(" ", "-").replaceAll("&", "and")}Tab">
#{list items: activeTalkers, as: 'talker' }
	#{if currentTalker || talker.name != null}
		#{talker/talkerInList talker: talker, currentTalker: currentTalker /}
	#{/if}
#{/list}
</div>
#{if activeTalkers != null && activeTalkers.size() == logic.TalkerLogic.TALKERS_PER_PAGE }
	<div align="center" style=" clear: both;" id="${feedType.replaceAll(" ", "-").replaceAll("&", "and")}Btn">
		<input type="submit" src="images/seemore.jpg" onclick="return loadMoreUser('${feedType.replaceAll(" ", "-").replaceAll("&", "and")}');" value=" " class="seemorecom" />
	</div>
#{/if}