<div class="thnksfollowing">
    <div class="thnksfollowingimg">
		#{talker/talkerImageLink size: 80, userName: _talker.userName /}
	</div>
	<div class="thnksfollowingtext">
      	<a class="blue13" href="@{ViewDispatcher.view(_talker.userName)}">
     		<strong>${_talker.userName}</strong>
     	</a>
        <span class="blacktext12">
			#{talker/talkerInfo talker: _talker /}
		</span><br/>
        #{ifnot _talker.isPrivate(models.PrivacySetting.PrivacyType.PROFILE_INFO) }
        	<span class="greytext12 moretext">
				${_talker.bio?.nl2br()}
			</span>
			<br/>
        #{/ifnot}
        <span class="bluetext12">
        	#{ifnot _currentTalker?.equals(_talker) }
			 	<a class="bluetext12" href="#" onclick="return followTalker(this, '${_talker.id}');">
				${ _currentTalker?.followingList?.contains(_talker) ? 'Unfollow' : 'Follow'}
				</a> | 
			#{/ifnot}
		 	<a href="#" onclick="return showPopupForm('comment', '${_talker.id}', '${_talker.userName}');" 
			 	class="bluetext12 commentLink">Post Thought</a>
		 	#{ifnot _currentTalker?.equals(_talker) }
			 	 | <a href="#" onclick="return showPopupForm('thankYou', '${_talker.id}', '${_talker.userName}');" 
			 	 		class="bluetext12 thankYouLink">Thank</a>
			#{/ifnot}
        </span>
	</div>
</div>
