<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Home video: List</title>
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}"/> 
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" ></script>
	<style type="text/css">
		body {
			margin: 20px;
			width: auto;
			font-size: 14px;
		}
		#notificationbar {
			border: #000000 dashed 1px;
			margin-top: 3px;
			padding: 10px;
		}
	</style>
	
	<script>
	<!--
	addThisVideo = function(index){
		var form = $("#videoList");
		var videoId = $("#videoList :input[name='video" + index + "Id']").val();
		var videoTitle = $("#videoList :input[name='video" + index + "Title']").val();
		var videoLink = $("#videoList :input[name='video" + index + "Link']").val();
		
		if($.trim(videoId) == ''){
			alert('Please add vide id');
			return;
		} else if($.trim(videoTitle) == ''){
			alert('Please add video Title');
			return;
		} else if($.trim(videoLink) == ''){
			alert('Please add video Link');
			return;
		} else {
			$("#videoForm :input[name='videoId']").val(videoId);
			$("#videoForm :input[name='videoTitle']").val(videoTitle);
			$("#videoForm :input[name='videoLink']").val(videoLink);
			$("#videoForm").submit();
		}
	}
	-->
	</script>
</head>
<body>
		<table width="100%">
			<tr>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Home.index()}">Home</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/notification">Moderate New Questions</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/userlist">Users</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/questionrecovery">Question Recovery</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/questionnotification">Question Notifications</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Profile.updateEmailList()}">Update Emails</a></td>
				<td style="padding-right:20px;" nowrap><a href="@{Secure.logout()}">Logout</a></td>
				<td style="width: 100%;">&nbsp;</td>
			</tr>
		</table>
		#{form @Video.addHomeVideo(), id:'videoForm' }
			<input type="hidden" name="videoId" />
			<input type="hidden" name="videoTitle"/>
			<input type="hidden" name="videoLink"/>
		#{/form}
		<form id="videoList">
			<table style="width: 100%">
				<tr>
					<td valign = "top" width="50%">
						<div>
							<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="100%">
								<tr>
									<th style="padding:3px;" colspan="2">Home page video List</th>   
								</tr>
									<tr>
										<td  colspan="2">
										<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;" width="100%">
											<tr>
												<th>Video Id</th>
												<th>Title</th>
												<th>Link</th>
												<th>Add/Remove</th>
											</tr>
											#{if list != null}
												#{if list.size > 0}
													#{list items: list, as: 'video' }
														<tr>
															<td>${video.videoId}</td>
															<td>${video.videoTitle}</td>
															<td>${video.homeVideoLink}</td>
															<td><a href="/video/removeHomeVideo?videoId=${video.videoId}">Remove</a></td>
														</tr>
													#{/list}
												#{/if}
												#{if list.size == 1}
													<tr>
														<td><input type="text" size="12" name="video2Id" /></td>
														<td><input type="text" name="video2Title"/></td>
														<td><input type="text" name="video2Link"/></td>
														<td><a href="javaScript:addThisVideo('2')">Add</a></td>
													</tr>
													<tr>
														<td><input type="text" size="12" name="video3Id" /></td>
														<td><input type="text" name="video3Title"/></td>
														<td><input type="text" name="video3Link"/></td>
														<td><a href="javaScript:addThisVideo('3')">Add</a></td>
													</tr>
												#{/if}
												#{if list.size == 2}
													<tr>
														<td><input type="text" size="12" name="video3Id" /></td>
														<td><input type="text" name="video3Title"/></td>
														<td><input type="text" name="video3Link"/></td>
														<td><a href="javaScript:addThisVideo('3')">Add</a></td>
													</tr>
												#{/if}
											#{/if}
											#{else}
												<tr>
													<td><input type="text" size="12" name="video1Id" /></td>
													<td><input type="text" name="video1Title"/></td>
													<td><input type="text" name="video1Link"/></td>
													<td><a href="javaScript:addThisVideo('1')">Add</a></td>
												</tr>
												<tr>
													<td><input type="text" size="12" name="video2Id" /></td>
													<td><input type="text" name="video2Title"/></td>
													<td><input type="text" name="video2Link"/></td>
													<td><a href="javaScript:addThisVideo('2')">Add</a></td>
												</tr>
												<tr>
													<td><input type="text" size="12" name="video3Id" /></td>
													<td><input type="text" name="video3Title"/></td>
													<td><input type="text" name="video3Link"/></td>
													<td><a href="javaScript:addThisVideo('3')">Add</a></td>
												</tr>
											#{/else}
										</table>
										</td>   
									</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr><td>Note: Please don't add title of more than 125 char's</td></tr>
			</table>
		</form>
		#{ common/googleAnalytics /}
		<!-- Quantcast Tag -->
		<script type="text/javascript">
			var _qevents = _qevents || [];
			
			(function() {
			var elem = document.createElement('script');
			elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
			elem.async = true;
			elem.type = "text/javascript";
			var scpt = document.getElementsByTagName('script')[0];
			scpt.parentNode.insertBefore(elem, scpt);
			})();
			
			_qevents.push({
			qacct:"p-7aWXmxtlCHn1M"
			});
		</script>
		<noscript>
		<div style="display:none;">
		<img src="//pixel.quantserve.com/pixel/p-7aWXmxtlCHn1M.gif" border="0" height="1" width="1" alt="Quantcast"/>
		</div>
		</noscript>
		<!-- End Quantcast tag -->
	</body>
</html>