<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Dashboard</title>
	
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" ></script>

	<style type="text/css">
		body {
			margin: 20px;
			width: auto;
			font-size: 14px;
		}
		#notificationbar {
			border: #000000 dashed 1px;
			margin-top: 3px;
			padding: 10px;
		}
	</style>
	<script type="text/javascript">
		var lastTopicId = '${lastTopicId}';
		var selectedTopicId;
		var selectedTopic;
		var selectedTalkers = new Array();
		
		var services = {"WindowLive":0, "GoogleTalk":0, "YahooIM":0};
		var totalServices = 0;
			
		$(document).ready(function() {
			//check for new topics every 5 seconds
			setInterval("checkNewTopic()", 5000);

			$("input[type=radio]").click (function() {
				selectedTopicId = $(this).val();
				selectedTopic = $(this).next().val();
				$("#selectedtopic").html("Selected topic is '"+selectedTopic+"'");
				updateButton();
			});

			$("input[type=checkbox]").click (function() {
				var talkerId = $(this).val();
				var talkerIMService = $(this).next().val();
				if ($(this).attr("checked") == true) {
					selectedTalkers.push(talkerId);
					updateServices(talkerIMService, 1);
				}
				else {
					selectedTalkers = removeItem(selectedTalkers, talkerId);
					updateServices(talkerIMService, -1);
				}
				$("#selectedtalkers").html(
						selectedTalkers.length+" selected talker(s): Google="+
						services['GoogleTalk']+", Yahoo="+services['YahooIM']+", MSN="+services['WindowLive'] );
				updateButton();
			});

			$("#sendNotiBtn").click(function() {
				$.post("@{Dashboard.notification()}",
					{uidArray: selectedTalkers, topicId: selectedTopicId, topic: selectedTopic},
	  				function(data) {
		  				//on receive - reload page
						document.location.reload();
	  				}
	  			);
			});
		});

		function updateServices(imService, delta) {
			totalServices = totalServices + delta;
			services[imService] = services[imService] + delta;
		}

		function updateButton() {
			if (selectedTopicId && selectedTalkers.length > 0) {
				$("#sendNotiBtn").attr("disabled", false);
			}
			else {
				$("#sendNotiBtn").attr("disabled", true);
			}
		}

		function checkNewTopic() {
			$.get("@{Dashboard.checkNewTopic()}", {oldLastTopic: lastTopicId},
  				function(data) {
  					if (data == 'true') {
  	  					$("#newtopicmessage").html("You got a new topic!!!");
  					}
  				}
  			);
		}

		function removeItem(array, item) {
			var i = 0;
			while (i < array.length) {
				if (array[i] == item) {
					array.splice(i, 1);
				} else {
					i++;
				}
			}
			return array;
		}
	</script>
</head>
<body>
		<a href="@{Secure.logout()}">Logout</a>
		<div id="notificationbar">
			Notification Bar<br/>
			<span id="newtopicmessage" class="error"></span><br/>
			<span id="selectedtopic" class="success"></span><br/>
			<span id="selectedtalkers" class="success"></span><br/><br/>
			
			<input id="sendNotiBtn" type="button" disabled="true" value="Send Notifications" />
		</div>
		<form method = "GET" action = "@{Dashboard.notification()}" >
			<table style="width: 100%">
				<tr>
					<td valign = "top" width="50%">
						<div>
							<table border = "1">
								<tr>
									<th>Topics list 1</th>   
								</tr>
									<tr>
										<td>
										#{list items: topicsList, as: 'topicInfo'}
											<br>
											<input type="radio" name="topicId" value="${topicInfo.topicId}" />
											<input type="hidden" id="topic" value="${topicInfo.topic}" />
											"${topicInfo.topic}", created: ${topicInfo.cr_date}
											<br>User: ${topicInfo.uname}
											<br/>
										#{/list}
										</td>   
									</tr>
									<tr>
										<th>Topics list 2
										</th>   
									</tr>
									<tr>
										<td>
										#{list items: topicsWithNotificationsList, as: 'topicInfo'}
											<br>
											<input type="radio" name="topicId" value="${topicInfo.topicId}" />
											<input type="hidden" id="topic" value="${topicInfo.topic}" />
											"${topicInfo.topic}", created: ${topicInfo.cr_date}
											<br>Topic ${topicInfo.topicId} has invited ${topicInfo.notificationsNum} people
											<br>User: ${topicInfo.uname}
											<br/>
										#{/list}
										</td>   
									</tr>
							</table>
						</div>
					</td>
					<td valign = "top" width="50%">
						<div>
							<table border = "1">
								<tr>
									<th> Online Users
									</th>   
								</tr>
								<tr>
									<td>
										#{list items: talkersList, as: 'talkerInfo'}
											#{if onlineUsersSingleton.isUserOnline(talkerInfo.id)}
												<br>
												<input type="checkbox" name="uidArray" value="${talkerInfo.id}">
												<input type="hidden" name="imservice" value="${talkerInfo.imService}">  
												${talkerInfo.uname}, account: ${talkerInfo.imUsername} [${talkerInfo.imService}]
												<br>Last notified on: ${talkerInfo.latestNotification}
												<br> ${talkerInfo.uname} has been notified 
													${talkerInfo.numOfNotifications} times in past 24 hours.	
											#{/if}
										#{/list}
									</td>   
								</tr>
								<tr>
									<th> Offline Users
									</th>   
								</tr>
								<tr>
									<td>
									#{list items: talkersList, as: 'talkerInfo'}
										#{ifnot onlineUsersSingleton.isUserOnline(talkerInfo.id)}
											<br>
											${talkerInfo.uname} has account of ${talkerInfo.email}
											<br>Last notified on: ${talkerInfo.latestNotification}
											<br> ${talkerInfo.uname} has been notified 
												${talkerInfo.numOfNotifications} times in past 24 hours.	
											<br/>
										#{/ifnot}
									#{/list}
									</td>   
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>