#{list items: _similarMembers, as: 'member'}
		<div id="${member.id}" class="topbox1">
	       <div class="topleftimg">
	       	#{talker/talkerImageLink size: 39, userName: member.userName /}
	       </div>
	       <div class="topr">
	         <div class="trendingtext comname">
	           	<a href="@{ViewDispatcher.view(member.userName)}">
		     		<strong>${member.userName}</strong>
		     	</a>
		        <span class="blacktext12">
					#{talker/talkerInfo talker: member /}
				</span>
	         </div>
	         <div id="memberFollowDiv${member.id}" class="follow" style='margin-left:125px;'>
	           <input type="submit" rel="${member.id}" class="followers followMemberLink" value=" " />
	         </div>
	         <div id="memberUnfollowDiv${member.id}" class="follow" style="display: none; text-align: right;">
	           Followed!
	         </div>
	       </div>
	       <div class="cb"></div>
	   </div>
#{/list}