<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GabrielHortobagyiMD")}"><img src="/public/images/GabrielHortobagyiMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology </strong>(Monday, December 10th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GabrielHortobagyiMD")}" target="_blank">Gabriel Hortobagyi</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine and Past Chairman of the Department of Breast Medical Oncology and Chair in Breast Cancer at the University of Texas MD Anderson Cancer Center. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GabrielHortobagyiMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ThomasSmithMD")}"><img src="/public/images/ThomasSmithMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Palliative Care </strong>(Wednesday, December 12th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ThomasSmithMD")}" target="_blank">Thomas Smith</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Director of Palliative Care for Johns Hopkins Medicine and Professor of Oncology at the Hopkins' Sidney Kimmel Comprehensive Cancer Center. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ThomasSmithMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SupriyaMohileMD")}"><img src="/public/images/SupriyaMohileMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Geriatric Oncology </strong>(Tuesday, December 18th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SupriyaMohileMD")}" target="_blank">Supriya Mohile</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Medicine at the James Wilmot Cancer Center at the University of Rochester and Director of the Geriatric Oncology Clinic.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SupriyaMohileMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CancerQuest")}"><img src="/public/images/gregg-orloff.jpg" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Cancer Biology </strong>(Thursday, December 20th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CancerQuest")}" target="_blank">Gregg Orloff</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Hematology and Medical Oncology at Emory University.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CancerQuest")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<span class="blacktext18">January<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BernardoGoulartMD")}"><img src="/public/images/BernardoGoulartMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Cost Effectiveness of Cancer Treatments </strong>(Thursday, January 10th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BernardoGoulartMD")}" target="_blank">Bernardo Goulart</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Affiliate Investigator at Fred Hutchinson Cancer Research Center and Acting Instructor, University of Washington School of Medicine.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BernardoGoulartMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ElissaBantug")}"><img src="/public/images/ElissaBantug.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Survivorship </strong>(Monday, January 14th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Elissa Bantug</a></strong></span><br />
	<span class="blacktextgrey14">Project Coordinator of the Breast Cancer Survivorship Program at the Johns Hopkins Sidney Kimmel Comprehensive Cancer Center.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

