<input type="hidden" id="listSize" value="${_listsize}">
#{list items: _messageList, as: 'messageInfo' }
	<div class="KenCover">
		<input type="checkbox" name="selectedMessageIds" class="radioibox" value="${messageInfo.id}"/>
		#{if messageInfo.replied}
			#{if messageInfo.toTalker.userName.equals(_talker.userName)}
				<div class="kanpic">#{talker/talkerImageLink size: 40, userName: messageInfo.fromTalker.userName /}</div>
	         	<div class="Kantxt"><a href="@{ViewDispatcher.view(messageInfo.fromTalker.userName)}">${messageInfo.fromTalker.userName}</a><br />
	           	<span class="Kandate"> ${messageInfo.displayDate}</span> </div>
			#{/if}
			#{else}
				<div class="kanpic">#{talker/talkerImageLink size: 40, userName: messageInfo.toTalker.userName /}</div>
	         	<div class="Kantxt"><a href="@{ViewDispatcher.view(messageInfo.toTalker.userName)}">${messageInfo.toTalker.userName}</a><br />
	           	<span class="Kandate"> ${messageInfo.displayDate}</span> </div>
			#{/else}
		#{/if}
		#{else}
			<div class="kanpic">#{talker/talkerImageLink size: 40, userName: messageInfo.fromTalker.userName /}</div>
         	<div class="Kantxt"><a href="@{ViewDispatcher.view(messageInfo.fromTalker.userName)}">${messageInfo.fromTalker.userName}</a><br />
           	<span class="Kandate"> ${messageInfo.displayDate}</span> </div>
		#{/else}
         #{if messageInfo.readFlag == true}
         		<div class="kansubtxt" style="font-weight: lighter; font-size: 20;"><a href="@{Messaging.email(messageInfo.id,'','',_page,'inbox')}">${messageInfo.subject}</a><br />
         #{/if}
         #{else}
         	 <div class="kansubtxt"><a href="@{Messaging.email(messageInfo.id,'','',_page,'inbox')}">${messageInfo.subject}</a><br />
         #{/else}
         
           <span class="style3">${messageInfo.displayMessage}</span> </div>
         <div class="inboxclose"><a href="javascript:deleteMessage('${messageInfo.id}');" title="Delete"><img src="/public/images/inboxclose.jpg" alt="inboxclose" border="0" /></a></div>
    </div>
#{/list}
		