#{ extends 'main.html' /}

	<script type="text/javascript"> 	 
	var feedsPerPage = 10;
	var totalCount = ${totalCount};
	
		$(document).ready(function() {
			makeAutocomplete("#allSearchBox", "all");

			$("#allSearchBox")
				.focus(function() {
					$("#allSearchBox").autocomplete( "search" );
				})
				.keydown(function(c) {
					if (c.keyCode === 13) {
						makeFullSearch("#allSearchBox");
						return false;
					}
				});
		});
   	</script>
	<style>
		#innermiddlearea { padding: 0px }
		#mtleft,.activitiestext { width:100%;}
		.jointxtbox{ width: 90%;}
		.replytommentbox { text-align: center; }
	</style>
</head>
<body>
	#{include 'header.html' /}
		<div id="bottom_container">
	        <div class="haderbanner"><div id="innerbanner"></div></div>
	        <div id="targetedtherapy">
	          <div id="innermiddlearea">
	            <div id="mtcover">
	              <div id="mtleft">
	                <div class="profileCatant">
	                  <div class="mtcontent">
	                    <div class="pph1Cover">
			                  <div class="resultsaerchCover">
			                    <input id="allSearchBox" type="text" class="resultsaerch ieseachbox" value="${params.query}"/>
			                  </div>
			                  <!--topsearchinput-->
			                  <div class="topsubmitsz">
			                    <input type="submit" class="topsubmit" 
			                    	onclick="return makeFullSearch('#allSearchBox');"
			                    	src="images/topsubmitbtn.png" value=" " style="cursor:pointer" />
			                  </div>
	                    </div>
						<div class="cb"></div>
	                  </div>
	                  #{if params.query}
		                  <div class="searchresulth1">Search Results</div>
		                  <div class="topicborder"></div>

		                  #{ifnot topicResults || convoResults }
							<span style="font-size: 14px;"><br/>Sorry, no matches were found.</span>
							
							<div style="font-size: 14px;margin-top:10px;">Suggestions:
								<ul style="padding: 20px 20px 20px 40px;">
									<li style="list-style-type:disc;">Make sure all words are spelled correctly.</li>
									<li style="list-style-type:disc;">Try different keywords.</li>
									<li style="list-style-type:disc;">Try more general keywords.</li>
									<li style="list-style-type:disc;">Try fewer keywords.</li>
									<li style="list-style-type:disc;">Try to browse some of the popular topics, 
										<a href="@{ViewDispatcher.view('breast-cancer')}">Breast cancer</a>,&nbsp;
										<a href="@{ViewDispatcher.view('cancer-prevention')}">Cancer prevention</a>,&nbsp;
										<a href="@{ViewDispatcher.view('side-effects')}">Side effects</a>
										
									</li>
								</ul>
							</div>
							
		                  #{/ifnot}

		                  #{if topicResults}
		                 	  <div class="resulttopics">Topics</div>
			                  <div class="topicborder"></div>

							#{list items: topicResults, as: 'topic'}
								<div class="resulbreast">
									<a href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a>
								</div>
			                  	<div class="resulbreasttxt">
			                  		${topic.followersCount} Follower(s) | ${topic.noOfConverstions} Conversation(s)
			                  	</div>
							#{/list}
		                  #{/if}
		                  
		                  #{if convoResults}
			                <div class="resulttopics">Questions</div>
			                <div class="topicborder"></div>
		                  	
						  	<div class="activitiestext" id="convoList">
			                  	#{list items: convoResults, as: 'convoResult'}
			                  		#{feed/feedActivity activity: convoResult, talker: talker /}
			                  	#{/list}
							</div>
		                  #{/if}
		                  #{if convoResults.size() == 10 }
		                  		<div class="replytommentbox" id="convoFeedBtn">
		                          <input type="submit" src="images/seemore.jpg" 
		                          	onclick="return makeFullSearchAjaxLoad('#allSearchBox');" value=" " class="seemorecom" />
		                        </div>
		                  #{/if}
		                  <div class="cb" style="padding-top: 15px"></div>
		              #{/if}
		              #{else}
		              		<div class="cb" style="padding: 100px 0px"></div>
		              #{/else}
		              
	                </div>
	                <div class="cb"></div>
	              </div>
	              <!--mtleft--><!--mtright-->
	              <div class="cb"></div>
	            </div>
	            <!--mtcover-->
	            <div class="cb"></div>
	          </div>
	          <div id="signupright"></div>
	
	        </div>
		</div>
	</div>
