#{extends 'main.html' /}
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
			font-size: 14px;
		}
		#innermid {
			padding: 10px;
		}
		
		#reply {
			padding: 10px 0 0 0;
		}
		.commentsarea {
			padding-top: 0px;
		}
		#replytext {
			height: 20px;
			color: #777777;
		}
		.commentreply {
			height: 20px;
			color: #777777;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#followTopicLink").click(function() {
				$.post("@{Topics.follow()}", 
	  				{ topicId: '${topic.id}'},
	  				function(data) {
	  					if ($("#followTopicLink").html() == "Follow Topic") {
	  						$("#followTopicLink").html("Unfollow Topic");
	  					}
	  					else {
	  						$("#followTopicLink").html("Follow Topic");
	  					}
	  				}
	  			);
			});

			$("#newAliasBtn").click(function() {
				var newAlias = $("#newAlias").val();
				$("#newAlias").val("");
				$.post("@{Topics.manageAliases()}", 
					{topicId: "${topic.id}", todo: "add", alias : newAlias},
					function(data) {
						$(data).appendTo($("#aliases"));
					}
				);
			});

			$(".removeAliasLink").live("click", function() {
				var alias = $(this).attr("rel");
				$(this).parent().remove();
				$.post("@{Topics.manageAliases()}", 
					{topicId: "${topic.id}", todo: "remove", alias : alias}
				);
			});
		});
	</script>
</head>

<body>
<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{include 'menu.html' /}
		</div>
	</div>
</div>

<div id="innerbanner"></div>
<div id="bottom_container">
	<div class="blacktext2" id="innerheading">${topic.title}</div>
	<div id="middle_area_inner">
		<div id="innerboxarea">
			<div id="innerleft">
				<div id="innerlefttop"></div>
				<div id="innermid">
					<h3>Topic Summary:</h3><br/>
					${topic.summary}<br/>
					Contributions by: 
					#{list items: topic.sumContributors, as: 'contributor'}
						${contributor}&nbsp;&nbsp;&nbsp;
					#{/list}
					<br/><br/><br/><br/>
					
					<div style="clear: both"></div>
					<h3>Topic Aliases:</h3><br/>
					Topic aliases are used to capture common misspellings, 
					alternative names and common abbreviations for the relevant topic. <br/>
					<input id="newAlias" type="text" value="" size="40"/>
					<input id="newAliasBtn" type="button" value="Add Alias" />
					<ul id="aliases">
						#{list items: topic.aliases, as: 'alias'}
							<li>
								${alias}&nbsp;<a href="#" rel="${alias}" class="removeAliasLink">remove</a>
							</li>
						#{/list}
					</ul>
					<br/><br/>
					<br/><br/>

					<h3>Latest activities:</h3><br/>
					
					
					<br/><br/>
					<br/><br/>
					<br/>
					${topic.creationDate?.format('M/d/yyyy')}
					<br/>
				</div>
				<div id="innerbot"></div>
			</div>
			<div id="innerright">
				<!-- 
				<div id="searcharea">
					<input name="" type="text" class="search"  value="Search Conversation" 
						onclick="this.value=''" onblur="this.value='Search Conversation'"/>
				</div>
				<div id="searchright"><img src="/public/images/searchbutton.gif" width="34" height="35" /></div>
				-->
				#{if talker }
				<div class="innerrightbox" style="padding-top: 0px">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						#{if talker.followingTopicsList?.contains(topic) }
							<a href="#" id="followTopicLink">Unfollow Topic</a>
						#{/if}
						#{else}
							<a href="#" id="followTopicLink">Follow Topic</a>
						#{/else}
					</div>
					<div class="innerrighbot"></div>
				</div>
				#{/if}
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<a href="@{Home.index()}">Home</a><br/>
						<a href="#">Your Feeds</a><br/>
						<a href="#">Your Comment</a><br/>
						<a href="#">Open Questions</a><br/><br/><br/>
						
						<a href="@{Topics.manage(topic.mainURL)}">Manage Topic</a>
					</div>
					<div class="innerrighbot"></div>
				</div>
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<b>Topic Statistics</b><br/>
						Conversations/Questions: ${topic.conversations?.size()}<br/>
						Views: ${topic.views}<br/>
						Followed by ${topic.followers?.size()} members<br/>
						#{list items: topic.followers, as: 'follower'}
							<a href="@{ViewDispatcher.view(follower.userName)}" title="${follower.userName}" >
								<img src="@{Image.show(follower.userName)}" width="48" height="48" border="0" />
							</a>
						#{/list}
					</div>
					<div class="innerrighbot"></div>
				</div>
			</div>
		</div>
	</div>
</div>