#{extends 'Topics/topicPage.html' /}
#{set currentPage = 'manageTopic' /}
<style>
.topic{padding:10px;}
.inputCover{ float:left;}</style>
<script type="text/javascript">
	$(document).ready(function() {
		makeAutocomplete("#newParent", "topic");
		makeAutocomplete("#newChild", "topic");

		//Aliases
		$("#newAliasBtn").click(function() {
			var newAlias = $("#newAlias").val();
			$("#newAlias").val("");
			$.post("@{Topics.manageAliases()}", 
				{topicId: "${topic.id}", todo: "add", alias : newAlias},
				function(data) {
					$(data).appendTo($("#aliases"));
				}
			);
			return false;
		});

		$(".removeAliasLink").live("click", function() {
			var alias = $(this).attr("rel");
			$(this).parent().remove();
			$.post("@{Topics.manageAliases()}", 
				{topicId: "${topic.id}", todo: "remove", alias : alias}
			);
			return false;
		});

		//Relatives
		$("#newParentBtn").click(function() {
			var newParent = $("#newParent").val();
			$("#newParent").val("");
			if($.trim(newParent) != ''){
				$.post("@{Topics.manageParents()}", 
					{topicId: "${topic.id}", todo: "add", parentId: newParent},
					function(data) {
						$("#parents").after($(data));
					}
				);
			}
			return false;
		});
		$(".removeParentLink").live("click", function() {
			var parentId = $(this).attr("rel");
			$(this).parent().remove();
			$.post("@{Topics.manageParents()}", 
				{topicId: "${topic.id}", todo: "remove", parentId: parentId}
			);
			return false;
		});

		$("#newChildBtn").click(function() {
			$("#childError").html("");
			var newChild = $("#newChild").val();
			$("#newChild").val("");
			if($.trim(newChild) != ''){
				$.post("@{Topics.manageChildren()}", 
					{topicId: "${topic.id}", todo: "add", childId: newChild},
					function(data) {
						if (data.charAt(0) === '<') {
							$(data).appendTo($("#children"));
						}
						else {
							//error
							$("#childError").html(data);
						}
					}
				);
			}
			return false;
		});
		$(".removeChildLink").live("click", function() {
			var childrenId = $(this).attr("rel");
			$(this).parent().remove();
			$.post("@{Topics.manageChildren()}", 
				{topicId: "${topic.id}", todo: "remove", childId: childrenId}
			);
			return false;
		});

		$("#deleteTopicBtn").click(function() {
			var confirmDel = confirm("Are you sure want to delete this topic?");
   	   		if (confirmDel) {
   	   	  		$.post("@{Topics.delete()}", 
    				{ topicId: '${topic.id}'},
    				function(data) {
    					document.location = "/home";
    				}
    			);
   	   		}
   	   		
   	   		return false;
		});
	});

	function updateFrozen(newValue) {
		$.post("@{Topics.updateField()}", 
			{ topicId : '${topic.id}', name: 'freeze', value: newValue},
			function() {
				window.location.reload();
			}
		);
		//window.location.reload();
		return false;
	}
</script>

<div class="cb"></div>
<div class="mtborder" style="margin-top: 20px;"></div>
<div class="tabBody" style="margin-top:10px;">
				*{
				Temporary hidden - topic aliases
                    <div class="topic">
                      <div class="topich1">Topic Aliases</div>
                      <div class="topicborder"></div>
                      <div class="topictxt">Topic aliases are used for misspelling , abbreviations, and alternative names.</div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input id="newAlias" type="text" class="mtinput"/>
                        </div>
                        <input id="newAliasBtn" type="submit" value=" " src="/public/images/addaliasbtn.jpg" class="allaliasbtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
						<div id="aliases">
							#{list items: topic.aliases, as: 'alias'}
								<div class="topictxt1">
									${alias}&nbsp;&nbsp;<a href="#" rel="${alias}" class="removeAliasLink style2">remove</a>
								</div>
							#{/list}
						</div>
                        <div class="cb"></div>
                    </div>
                
                    <!--topic-->
                    <div class="topic" style="display: none;">
                      <div class="topich1">Merge Topics</div>
                      <div class="topicborder"></div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input type="text" class="mtinput"/>
                        </div>
                        <input type="submit" value=" " src="/public/images/mergebtn.jpg" class="mergebtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                 }*   
                    <div class="topic">
                      <div class="topich1">Parent Topic</div>
                      <div class="topicborder"></div>
                      <div id="parents">
						#{list items: topic.parents, as: 'parent'}
							<div class="topictxtz">
								<a href="/${parent.mainURL}">${parent.title}</a>&nbsp;
								#{ifnot topic.fixed }
									<a href="#" rel="${parent.id}" class="removeParentLink style2">remove</a>
								#{/ifnot}
							</div>
						#{/list}
					  </div>
                      #{ifnot topic.fixed }
	                      <div class="mtinputbox">
	                        <div class="inputCover">
	                          <input id="newParent" type="text" class="mtinput"/>
	                        </div>
	                        <input id="newParentBtn" type="submit" value=" Add " class="addbtn" />
	                        <div class="cb"></div>
	                      </div>
	                  #{/ifnot}
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    <div class="topic">
                      <div class="topich1">Sub-topics</div>
                      <div class="topicborder"></div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input  id="newChild"  type="text" class="mtinput"/>
                        </div>
                        <input id="newChildBtn"  type="submit" value=" Add " src="/public/images/addbtn.jpg" class="addbtn"/>
                        <div class="cb" style="margin-bottom:3px;"></div>
                        <span id="childError" style="color: red;"></span>
                      </div>
                      <!--mtinputbox-->
                      <div id="children">
						#{list items: topic.children, as: 'child'}
							<div class="topictxtz">
								<a href="/${child.mainURL}">${child.title}</a>&nbsp;
								#{ifnot topic.fixed }
									<a href="#" rel="${child.id}" class="removeChildLink style2">remove</a>
								#{/ifnot}
							</div>
						#{/list}
					  </div>
                      <div class="cb"></div>
                    </div>
                    
                    #{ifnot topic.fixed }
                   		<div class="topic">
	                      <div class="topich1">Delete Topic</div>
	                      <div class="topicborder"></div>
	                      #{if topic.children.size() == 0 && topic.conversations.size() == 0}
		                      <div class="topictxt">Deleting a topic will remove all connection with conversations and users.</div>
		                      <div class="mtinputbox">
		                        <input id="deleteTopicBtn" type="submit" value=" " src="/public/images/deletez.jpg" class="deletez"/>
		                        <div class="cb"></div>
		                      </div>
		                  #{/if}
	                      #{else}
	                    	<div class="topictxt">A Topic may only be deleted if it does not have any Sub-topics or 
	                    		Questions associated with it.</div>	
	                      #{/else}
	                      <!--mtinputbox-->
	                      <div class="cb"></div>
	                    </div>
	                #{/ifnot}
	                
	                #{if topic.fixed }
	                    <div class="topic" style="margin-top: 30px;">
	                      <div class="topictxt">
	                      	<span style="color: red;">This Topic has been frozen by administrator.</span><br/>
	                      	- New Sub-topics may be added, but not removed. (To remove a Sub-topic, 
	                      		the Parent Topic must be removed from the Sub-topic.)<br/>
	                      	- The Topic may not be deleted and the Parent Topic may not be changed.<br/>
	                      	- Email <a href="mailto:support@talkabouthealth.com">support@talkabouthealth.com</a>
	                      		to suggest a change to the Topic Organization.	                      		                      	
	                      </div>
	                      <div class="cb"></div>
	                    </div>
	                #{/if}
                    
                    #{if session.username?.equals("admin") }
	                    <div class="topic">
	                      <div class="topich1">Admin settings</div>
	                      <div class="topicborder"></div>
	                      <div class="topictxt">
	                      #{if topic.fixed }
	                      	 This topic is Frozen. <a href="#" onclick="return updateFrozen('false');">Unfreeze Topic</a>
	                      #{/if}
	                      #{else}
	                      	<a href="#" onclick="return updateFrozen('true');">Freeze Topic</a>
	                      #{/else}
	                      </div>
	                      
	                      <div class="cb"></div>
	                    </div>
                    #{/if}
                    
                    
                    <div class="cb"></div>
                  </div>
