#{extends 'Topics/topicPage.html' /}
#{set currentPage = 'manageTopic' /}

<div class="cb"></div>
<div class="mtborder" style="margin-top: 20px;"></div>
<div class="topipcWraper">
                    <div class="topic">
                      <div class="topich1">Topic Aliases</div>
                      <div class="topicborder"></div>
                      <div class="topictxt">Topic aliases are used for misspelling , abbreviations, and alternative names.</div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input id="newAlias" type="text" class="mtinput"/>
                        </div>
                        <input id="newAliasBtn" type="submit" value=" " src="/public/images/addaliasbtn.jpg" class="allaliasbtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
						<div id="aliases">
							#{list items: topic.aliases, as: 'alias'}
								<div class="topictxt1">
									${alias}&nbsp;&nbsp;<a href="#" rel="${alias}" class="removeAliasLink style2">remove</a>
								</div>
							#{/list}
						</div>
                        <div class="cb"></div>
                    </div>
                    <!--topic-->
                    <div class="topic" style="display: none;">
                      <div class="topich1">Merge Topics</div>
                      <div class="topicborder"></div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input type="text" class="mtinput"/>
                        </div>
                        <input type="submit" value=" " src="/public/images/mergebtn.jpg" class="mergebtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    
                    <div class="topic">
                      <div class="topich1">Parent Topics</div>
                      <div class="topicborder"></div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input id="newParent" type="text" class="mtinput"/>
                        </div>
                        <input id="newParentBtn" type="submit" value=" " src="/public/images/addbtn.jpg" class="addbtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
					  <div id="parents">
						#{list items: topic.parents, as: 'parent'}
							<div class="topictxtz">
								${parent.title}&nbsp;&nbsp;<a href="#" rel="${parent.id}" class="removeParentLink style2">remove</a>
							</div>
						#{/list}
					  </div>
					
                      
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    <div class="topic">
                      <div class="topich1">Sub-topics</div>
                      <div class="topicborder"></div>
                      <div class="mtinputbox">
                        <div class="inputCover">
                          <input  id="newChild"  type="text" class="mtinput"/>
                        </div>
                        <input id="newChildBtn"  type="submit" value=" " src="/public/images/addbtn.jpg" class="addbtn"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
                      <div id="children">
						#{list items: topic.children, as: 'child'}
							<div class="topictxtz">
								${child.title}&nbsp;&nbsp;<a href="#" rel="${child.id}" class="removeChildLink style2">remove</a>
							</div>
						#{/list}
					  </div>
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    <div class="topic" style="display: none">
                      <div class="topich1">Delete Topic</div>
                      <div class="topicborder"></div>
                      <div class="topictxt">Deleting a topic will remove all connection with conversations and users.</div>
                      <div class="mtinputbox">
                        <input type="submit" value=" " src="/public/images/deletez.jpg" class="deletez"/>
                        <div class="cb"></div>
                      </div>
                      <!--mtinputbox-->
                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    <div class="cb"></div>
                  </div>
