#{extends 'main.html' /}
	<style>
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		#innermiddlearea { padding-top: 10px }
		
		h1 {
			color:#000000;
			font-family:arial;
			font-size:20px;
			text-decoration:none;
		}
		h2 {
			font-size:14px;
			font-weight:normal;
		}
		
		.style1 { color: #000 }
		.style2 {
			font-size: 11px;
			font-style: italic;
			color: #404040;
		}
		
		.tabContent { padding-top: 10px }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		var currentURL = '${currentURL}';
		#{if talker}
			var hasTwitter = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.TWITTER) != null };
			var hasFB = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.FACEBOOK) != null };		
		#{/if}

		$(document).ready(function() {
			$("#followTopicLink").click(function() {
				$.post("@{Topics.follow()}", 
	  				{ topicId: '${topic.id}'},
	  				function(nextAction) {
		  				if (nextAction === "follow") {
		  					$("#followTopicLink").removeClass().addClass("followTopicBtn");
		  				}
		  				else {
		  					$("#followTopicLink").removeClass().addClass("followingTopicBtn");
		  				}
	  				}
	  			);
			});

			$(".flagConvoLink").click(function() {
				flagType = "convo";
				flagId = $(this).attr("rel");
				showPopup("#flagPopup", 200);
			});

			$('.inline-edit').inlineEdit(
		  		{ hover: '', saveFunction: saveData}
		  	);
			initNewTabs();

			var share = "${params.share}";
			if (share === "twitter") {
				showPopup("#shareTwitterDialog", 350);
			}
			else if (share === "facebook") {
				showPopup("#shareFBDialog", 450);
			}
		});

		function saveData(dataType, newValue) {
			if (dataType === 'titleEdit') {
				$.post("@{Topics.updateField()}", 
   					{ topicId : '${topic.id}', name: 'title', value: newValue},
   					function() {
   	   					//good save!!
   					}
   				);
			}
			else if (dataType === 'summaryEdit') {
				$.post("@{Topics.updateField()}", 
   					{ topicId : '${topic.id}', name: 'summary', value: newValue},
   					function() {
   	   					//good save!!
   					}
   				);
			}
		}
	</script>
</head>

<body>
#{include 'header.html' /}
	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
	<div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="comcover">
              <div id="comleft">
                <div class="comcontent">
					#{if currentPage.equals('manageTopic') && !talker?.hiddenHelps.contains('topicManage')}
					<div id="topicManageHelp" class="helpInfo">
					      <div class="popboxWraper">
					        <div class="popbox2" style="width: 600px;">
					          <div class="closecover" style="clear: none; float: right;">
					            <div class="close" onclick="return hideHelpInfo('topicManage', true);"><img src="/public/images/close.jpg" alt="Close" /></div>
					          </div>
					          <div class="note">
							  	<strong>Help: <a href="@{ViewDispatcher.view('what-can-i-do-on-the-manage-topic-page')}">What can I do on the Manage Topic page?</a></strong><br/><br/>
					          </div>
					          <div class="cb"></div>
					        </div>
					        <!--popbox2-->
					
					      </div>
					      <div class="cb"></div>
					</div> 
					#{/if}
					#{if currentPage.equals('viewTopic') && talker && !talker?.hiddenHelps?.contains('topic')}
					<div id="topicHelp" class="helpInfo">
					      <div class="popboxWraper">
					        <div class="popbox2" style="width: 600px;">
					          <div class="closecover" style="clear: none; float: right;">
					            <div class="close" onclick="return hideHelpInfo('topic', true);"><img src="/public/images/close.jpg" alt="Close" /></div>
					          </div>
					          <div class="note">
							  	<strong>Help: <a href="http://talkabouthealth.com/what-can-i-do-on-the-topic-page">What can I do on the Topic page?</a></strong><br/><br/>
					          </div>
					          <div class="cb"></div>
					        </div>
					        <!--popbox2-->
					
					      </div>
					      <div class="cb"></div>
					</div> 
					#{/if}
                  <div id="targestedtherapy">
                    <div class="editsWraper">
						<div class="inline-edit" id="titleEdit">
							<div class="inline_display">
								<div class="inline_full">
									<div class="targetedh7"><h1 class="inline_view">${topic.title}</h1></div>
									#{if talker && (!topic.fixed || session.username?.equals("admin")) }
										<div class="editdiv">
											<div class="editit">
												<a href="#" class="inline_editlink">Edit</a>
											</div>
										</div>
									#{/if}
								</div>
								<div class="inline_empty" style="display: none"></div>
							</div>
							<div class='inline_form'>
								<div style="float:left; width:auto; padding-bottom:5px;" >
							       	<input id="titleinput" type="text" style="width:600px"  
							       		value="${topic.title}" class="edititinputs inline_text notempty" >
						       </div>
								<div style="float:right; clear:both;">
							        <input id="titleBtn" type="submit" class="updatebtns inline_save" value=" " />
							        <div class="canclebtnz">
							        	<a class="cancel" href="#">Cancel</a>
							        </div>
								</div>
							</div>
						</div>
                    </div>
                    <!--editsWraper-->
                    <div class="cb"></div>
                    <br/>
                  </div>
                  <div class="topipcWraper">
                    <div style="width: 600px; margin-top: -10px;" class="comments">
						<div class='inline-edit' id="summaryEdit" style="width: 600px;">
							<div class="suggestxt inline_display" style="width: 600px">
								<div class="inline_full" style="display: ${topic.summary ? 'block' : 'none'}">
									<div style="float: left; width: 540px;">
										<h2 class="inline_view" style="text-align: justify;">${topic.summary}</h2>
									</div>
									#{if talker }
										<div style="float:right; margin-right:10px;">
											<div class="editit">
												<a href="#" class="inline_editlink">Edit</a>
											</div>
										</div>
									#{/if}
								</div>
								<div class="inline_empty" style="display: ${!topic.summary ? 'block' : 'none'}">
									#{if talker }
										<div class="targetenew">
											<a class="inline_addlink" href="#">Add Topic Description</a>
										</div>
									#{/if}
								</div>
						          </div>
							<div class='inline_form'>
								<div style="padding-top:10px;">
							        <textarea id="summaryinput" class="edititinputx inline_text" 
							        	style="width: 585px; height: 100px; font-size: 14px; font-weight: normal;" rows="3" cols="4"
							        	>${topic.summary}</textarea>
						        </div>
								<div style="float:right;margin-right:30px;">
									<input id="summaryBtn" type="submit" class="updatebtns inline_save" value=" " />
									<div class="canclebtnz">
										<a class="cancel" href="#">Cancel</a>
									</div>
								</div>
							</div>
						</div>                      
                      
                      	#{doLayout /}
                      
                      <!--comreplyCover-->
                      <div class="cb"></div>
                    </div>
                    <!--comments-->
                    <div class="cb"></div>
                  </div>
                  <!--topipcWraper-->
                  <div class="cb"></div>
                </div>
                <!--comcontent-->
                <div class="cb"></div>
              </div>
              
              
              <div style="margin-left: 30px;" id="mtright">
              	#{if talker }
					<div class="topipsts">
						#{if talker.followingTopicsList?.contains(topic) }
							<input type="submit" id="followTopicLink" value="" class="followingTopicBtn"/>
						#{/if}
						#{else}
							<input type="submit" id="followTopicLink" value="" class="followTopicBtn"/>
						#{/else}
	                  <div class="mtop"></div>
	                  <div class="topicborder"></div>
	                </div>
	                <div class="cb"></div>
				#{/if}
				
				#{if talker }
	                <div class="topipsts">
	                	<div class="mtrighttxt">
					     	<a class="${currentPage.equals('viewTopic') ? 'current' : ''}" 
					     		href="@{ViewDispatcher.view(topic.mainURL)}">Topic Home</a>
					    </div>
	                  	<div class="mtrighttxt">
					     	<a class="${currentPage.equals('manageTopic') ? 'current' : ''}" 
					     		href="@{Topics.manage(topic.mainURL)}">Manage Topic</a>
					    </div>
	                  <div class="mtop"></div>
	                  <div class="topicborder"></div>
	                  <div class="cb"></div>
	                </div>
                #{/if}
                #{else}
                	#{include 'tahInfo.html' /}
                #{/else}
                
                <div class="topipsts">
                  <div class="mtrighttxt1">Topic Statistics</div>
                  <div class="latextCover">
                    <div class="latextr"><strong><span class="black">Conversations/Questions:</span></strong> </div>
                    <div style="float: left; width: auto;" class="viewstext1">${topic.conversations?.size()}</div>
                  </div>
                  <!--topixtext-->
                  <div class="latextCover">
                    <div class="latextr"><strong><span class="black">Views:</span></strong> </div>
                    <div style="float: left; width: auto;" class="viewstext1">${topic.views}</div>
                  </div>
                  <!--topixtext-->
                  <div class="latextCover">
                    <div class="latextr"><strong><span class="black">Followed By:</span></strong> </div>
                    <div style="float: left; width: auto;" class="viewstext1">${topic.followers?.size()} Members</div>
                  </div>
                  <!--topixtext-->
                  <div class="membersarea">
                  	#{if talker }
	                  	#{list items: topic.followers, as: 'follower'}
							#{talker/talkerImageLink size: 25, userName: follower.userName /}
						#{/list}
					#{/if}
                  </div>
                  <!--membersarea-->
                  <div class="topicborder"></div>
                </div>
                <!--topipsts-->
                <div class="topipsts">
                  <div class="mtrighttxt1">Topic Organization</div>
                  <div class="topixtext">
                    <div class="viewstext" style="color: #000000;">Parent Topic: </div>
                    <div class="viewstext1">
	                    #{list items: topic.parents, as: 'parent'}
							<a href="@{ViewDispatcher.view(parent.mainURL)}">${parent.title}</a>${ parent_isLast ? '' : ', ' }
						#{/list}
						#{else}
							none
						#{/else}
                    </div>
                  </div>
                  <!--topixtext-->
                  <div class="topixtext">
                    <div class="viewstext" style="color: #000000;">Sub-topics: </div>
                    <div class="viewstext1">
                    	#{list items: topic.children, as: 'children'}
							<a href="@{ViewDispatcher.view(children.mainURL)}">${children.title}</a>${ children_isLast ? '' : ', ' }
						#{/list}
						#{else}
							none
						#{/else}
                    </div>
                  </div>
                  <!--topixtext-->
                  <br/>
                  <div class="mtop"></div>
                  <div class="topicborder"></div>
                </div>
                
                #{set currentPage = 'topicPage' /}
                #{include 'tahShare.html' /}
                
                *{
                <div class="topipsts">
                  <div class="mtrighttxt1">Top Answerers</div>
                  <div class="topbox">
                    <div style="float: left;" class="topleftimg"><img alt="topanser" src="/public/images/topanswer1.jpg"/></div>
                    <div class="topr">
                      <div class="toprighttext">
                        <div class="latextleft"><strong><strong><a href="#">Murray</a></strong></strong></div>
                        <div class="latextrigtz">  (Physician, Advocate)</div>
                      </div>
                      <!--toprighttext-->
                      <div class="toprighttext">
                        <div class="topiptextl"><a href="#">101 Answers</a></div>
                      </div>
                      <!--toprighttext-->
                    </div>
                    <!--topr-->
                    <div class="cb"></div>
                  </div>
                </div>
                }*
                
                <!--topipsts-->
                <div class="cb"></div>
              </div>
              <!--comright-->
              <div class="cb"></div>
            </div>
            <!--comcover-->
            <div class="cb"></div>
          </div>
          <div id="signupright"></div>
    </div>
    
<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/flag /}
	
	#{if talker}
			#{set twitterAccount = talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.TWITTER) /}
			
			#{ popups/shareEmail shareType: 'Topic', userName: talker?.userName, topicName: topic.title, topicDetails: topic.summary, topicURL: currentURL /}	
			#{ popups/shareTwitter shareType: 'Topic', userName: twitterAccount?.userName, topicName: topic.title, topicURL: topic.bitly /}
			#{ popups/shareFacebook shareType: 'Topic', topicName: topic.title, topicURL: currentURL /}
	#{/if}
</div>
<!-- Mask to cover the whole screen -->
<div id="mask"></div>    
