#{extends 'Topics/topicPage.html' /}

<br/>
<div style="padding-top: 10px; height: 30px;" class="lacover">
  <div class="latestactivity"><a href="#">Latest Activity</a></div>
  <div class="latestactivity1"><a href="#">Open Question</a></div>
  <div class="latestactivity1"><a href="#">Best Conversation</a></div>
  <div class="laborder"></div>
</div>
<div class="cb"></div>
<div>
	<h3>Conversations/Questions:</h3><br/>
	#{list items: topic.conversations, as: 'convo' }
		<a href="@{ViewDispatcher.view(convo.mainURL)}"><b>${convo.topic}</b></a><br/>
		Started by: 
		<a href="@{ViewDispatcher.view(convo.talker.userName)}" 
			class="blue13"><strong>${convo.talker.userName}</strong></a>
		<span class="blacktext12">
			#{if convo.talker.connection}
				(${convo.talker.connection}, ${convo.talker.levelOfRecognition})
			#{/if}
			#{else}
				(${convo.talker.levelOfRecognition})
			#{/else}
		</span><br/>
		
		#{if talker }
			${convo.comments.size()} Answer(s)&nbsp;|&nbsp;
			${convo.members.size()} member(s) spoke&nbsp;|&nbsp;
			<a href="#" class="bluetext12 followTopicLink" rel="${convo.id}">
			${ talker.followingConvosList?.contains(convo.id) ? 'Unfollow' : 'Follow'}
			</a>&nbsp;|&nbsp;
			<a href="#" onclick="return restartConvo(${convo.tid}, '${convo.id}');" 
				class="restartConvoLink">Re-start</a>&nbsp;|&nbsp;
			${convo.creationDate?.since()}
		#{/if}
		#{if convo.comments.size() > 0}
			<div style="padding-left: 10px">
				#{set answer = convo.comments.get(0) /}
				Top Answer by: ${answer.fromTalker.userName}<br/>
				${answer.text}
			</div>
		#{/if}
	#{/list}	
				
	<br/><br/>
	<br/><br/>
	
	<h3>Latest activities:</h3><br/>
	#{list items: activities, as: 'activity'}
		<span class="blacktext12">${activity.toHTML().raw()}</span><br/>
		<span class="greytext11">${activity.time.format("MMM dd 'at' HH:mm a")}</span><br />
	#{/list}     
</div>