#{set pageType = 'Topic' /}
#{set pageTitle = topic.title /}
#{set pageDescription = (topic.summary?.length() > 0 ? topic.summary : topic.title) /}

#{extends 'Topics/topicPage.html' /}
#{set currentPage = 'viewTopic' /}

<br/>
<div class="newTabCover">
  <div class="newActiveTab"><a href="#" id="latestActivity" class="tabLink">Latest Activity</a></div>
  <div class="newTab"><a href="#" id="openQuestions" class="tabLink">Unanswered Questions</a></div>
  <div class="newTab"><a href="#" id="popularConvos" class="tabLink">Popular Questions</a></div>
  <!-- <div class="newTab"><a href="#" id="trendingConvos" class="tabLink">Trending Questions</a></div>  -->
  <div class="laborder"></div>
</div>
<div class="cb"></div>
<div>
	<div id="latestActivityContent" class="tabContent">	
		#{list items: activities, as: 'activity'}
			#{feed/feedActivity activity: activity, talker: talker /}
		#{/list}     
	</div>
	<div id="openQuestionsContent" class="tabContent" style="display: none;">
		#{list items: topic.conversations, as: 'convo' }
			#{if convo.opened}
				#{convo/convoListItem convo: convo, talker: talker /}
			#{/if}
		#{/list}	
	</div>
	<div id="popularConvosContent" class="tabContent" style="display: none;">
		#{list items: popularConvos, as: 'convo' }
			#{convo/convoListItem convo: convo, talker: talker /}
		#{/list}	
	</div>
	*{
		<div id="trendingConvosContent" class="tabContent" style="display: none;">
				
		</div>
	 }*
</div>

#{ notLoggedNotice /}
