<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Newsletter Statistics</title>
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" />
	<link href="@{'/public/stylesheets/jquery-ui.css'}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" ></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.14.custom.min.js'}" ></script>
	<style type="text/css">
		body { margin: 20px;width: auto;font-size: 14px; }
	</style>
	<script type="text/javascript">
	<!--
	$(document).ready(function() {
		$("#rename").click(function(){
			var oldName = $("#oldName").val();
			var newName = $("#newName").val();
			$.post("/newsletterstats/changeNewsletterName", { newName: newName,oldName: oldName }, function(data) { alert(data); } );
		});
	});
	-->
	</script>
</head>
<body>
	<table width="100%">
		<tr>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Home.index()}">Home</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="#" id="automaticNotificationLink">Turn ${ automaticNotification ? 'off' : 'on' } Automatic Notification</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Dashboard.sendEmailToSailThrou()}">Update Email List</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/notification">Notifications</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/userlist">Users</a></td>
			<td style="padding-right:20px;" nowrap><a href="@{Secure.logout()}">Logout</a></td>
			<td style="width: 100%;">&nbsp;</td>
		</tr>
	</table>
	<table>
		<tr>
			<td><b>Rename List </b></td>
		</tr>
		<tr>
			<td>Old Name : <input type="text" name="oldName" id="oldName"></input></td>
		</tr>
		<tr>
			<td>New Name : <input type="text" name="newName" id="newName"></input></td>
		</tr>
		<tr>
			<td style="float:right;"><input type="button" id="rename" value="Rename"></input> </td>
		</tr>
	</table>
		<form action="@{NewsletterStats.emailLookup()}" method="post">
		 <table cellpadding="0" cellspacing="0" style="margin-top:10px;width:100%;height:100%;">
			<tr>
				<td style="padding:10px 0;"><b>Email Lookup</b></td>
			</tr>
			<tr>
				<td style="padding: 10px 0pt 5px;">
					<b>Email:</b>
					<input id="email" name="email" type="text" value="${email}"/> 
					<input type="submit" value="Apply" />
				</td>
			</tr>
			#{if errorMsg != ""}
				<tr><td style="color:#FF0000;">${errorMsg}</td></tr>
			#{/if}
			</table>
		</form>
		#{if letterBean != null}
			#{list items:letterBean.newsLetterType, as: 'letterName' }
			${letterName} <br/>
			#{/list}
		#{/if}
</body>
</html>