<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Newsletter Statistics</title>
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" />
	<link href="@{'/public/stylesheets/jquery-ui.css'}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" ></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.14.custom.min.js'}" ></script>
	<style type="text/css">
		body { margin: 20px;width: auto;font-size: 14px; }
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#fromDate").datepicker({maxDate:new Date(),dateFormat: "yy-dd-mm"});
			$("#toDate").datepicker({maxDate:new Date(),dateFormat: "yy-dd-mm"});
		});
	</script>
</head>
<body>
	<table width="100%">
		<tr>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Home.index()}">Home</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="#" id="automaticNotificationLink">Turn ${ automaticNotification ? 'off' : 'on' } Automatic Notification</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Dashboard.sendEmailToSailThrou()}">Update Email List</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/notification">Notifications</a></td>
			<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/userlist">Users</a></td>
			<td style="padding-right:20px;" nowrap><a href="@{Secure.logout()}">Logout</a></td>
			<td style="width: 100%;">&nbsp;</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" style="margin-top:10px;width:100%;height:100%;">
		<tr>
			<td style="padding:10px 0;"><b>Newsletter Stats</b></td>
		</tr>
		<form action="@{NewsletterStats.index()}" method="post">
		<tr>
			<td style="padding:10px 0;">
				<b>Letter Type:</b>
				<select name="letterType">
					<option value="2" #{if letterType == "2"}selected#{/if}>Newsletter</option>
					<option value="0" #{if letterType == "0"}selected#{/if}>Disease</option>
					<option value="1" #{if letterType == "1"}selected#{/if}>Benefits</option>
					<option value="3" #{if letterType == "3"}selected#{/if}>Expert</option>
					<option value="4" #{if letterType == "4"}selected#{/if}>Topic</option>
					<option value="5" #{if letterType == "5"}selected#{/if}>Health & Condition Management</option>
					<!-- <option value="5" #{if letterType == "5"}selected#{/if}>Question</option>  -->
				</select>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px 0pt 5px;">
				<b>Date Range:</b>
				<input id="fromDate" name="fromDate" type="text" maxlength="10" size="10" value="${fromDate}"/> 
				- 
				<input id="toDate" name="toDate" type="text" maxlength="10" size="10" value="${toDate}"/> 
				<input type="submit" value="Apply" />
			</td>
		</tr>
		#{if errorMsg != ""}
			<tr><td style="color:#FF0000;">${errorMsg}</td></tr>
		#{/if}
		</form>
		<tr>
			<td style="padding:10px 0 0 0;float: right;">
				Total # of Emails collected: ${total}
			</td>
		</tr>
		<tr>
			<td>
				<table border="1" cellpadding="5" cellspacing="0" style="width:100%;height:100%;border-color: #CCC;border-collapse: collapse;">
					<tr>
						<th style="width:250px;border-right: 1px solid #CCC;background-color: #EEE;">Newsletter</th>
						<th style="background-color: #EEE;"># of email's collected</th>
					</tr>
					#{list items:emailList , as: 'email'}
					<tr>
						<td style="width:250px;border: 1px solid #CCC;">
						#{if (letterType != "0" && letterType != "1" && letterType != "2" && letterType != "5") || email.value == "0"}
							<a href="#">${email.key}</a>
						#{/if}
						#{else}
							<!-- <a href="@{NewsletterStats.emailList(email.key)}">${email.key}</a> -->
							<a href="#">${email.key}</a>
						#{/else}	
						</td>
						<td style="border: 1px solid #CCC;">${email.value}</td></tr>
					#{/list}
					*{ 
					#{list items:diseaseList , as: 'disease'}
					<tr>
						<td style="width:250px;border: 1px solid #CCC;">
							<a href="#">${disease.name}</a>
						</td>
						<td style="border: 1px solid #CCC;">-</td>
					</tr>
					#{/list}
					}*
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
<!-- 	<a href="/NewsletterStats/moveEmail?type=topic">Topic</a> | <a href="/NewsletterStats/moveEmail?type=expert">Expert</a> -->
	#{ common/googleAnalytics /}
	<script type="text/javascript"><!-- Quantcast Tag -->
		var _qevents = _qevents || [];
		(function() {
		var elem = document.createElement('script');
		elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
		elem.async = true;
		elem.type = "text/javascript";
		var scpt = document.getElementsByTagName('script')[0];
		scpt.parentNode.insertBefore(elem, scpt);
		})();
		_qevents.push({
		qacct:"p-7aWXmxtlCHn1M"
		});
	</script>
	<noscript>
		<div style="display:none;"><img src="//pixel.quantserve.com/pixel/p-7aWXmxtlCHn1M.gif" border="0" height="1" width="1" alt="Quantcast"/></div>
	</noscript><!-- End Quantcast tag -->
</body>
</html>