@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, 
sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html { height: 100%; }

a, a:visited {
	color: #014ba9;
	text-decoration: none;
}

a:hover, a:focus { color: #E9225F; }

/*ol, ul { list-style: none; }*/

em { font-style: italic; }

strong { font-weight: bold; }

small { font-size: 80%; }

table { border-collapse: collapse; }

p {
	line-height: 20px;
	margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}

body {
	background: #FFFFFF;
	font-family:Helvetica,  Arial, sans-serif;
	font-size: 13px;
	/* color: #282828; */
	color: #323a3f
}

/* comman css end */

.home { background: url(../images/index/banner_bg.png) 0 89px repeat-x; }

#wrapper {
	margin: 0 auto;
	width: 980px;
}

#header {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}

.logo { float: left; position: relative; }

.logo p { 
    color: #0FA04B;
    font-size: 11px;
    font-weight: bold;
    left: 54px;
    position: absolute;
    top: 45px;
}

.logo span {color: #eb208c;}

.search_signin {
	float: left;
	margin: 0 0 10px 19px;
}

.search_signin li {
	display: inline;
	float: left;
	margin: 0 10px;
	line-height: 27px;
}

.search_field {
	border: 1px solid #dadada;
	padding: 5px;
	width: 180px;
	border-radius: 3px 0 0 3px;
	-moz-border-radius:  3px 0 0 3px;
	-webkit-border-radius:  3px 0 0 3px;
}

.search_btn {
	background: #f5f5f5 url(../images/index/search_icon.png) center center no-repeat;
	padding: 4px 10px;
	margin: 0 0 0 -5px;
	border: 1px solid #dadada;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	cursor: pointer;
}

/* main nav */

#nav { float: left;margin-left:20px; }

#nav li {
	float: left;
	display: inline;
}

#nav li a {
	cursor: pointer;
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	color: #014ba9;
	font-weight: bold;
	padding: 10px;
}

/* banner */

#banner {
	float: left;
	width: 980px;
	height: 335px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px #1c7eb9;
}

#banner h4 {
	margin: 50px 0 0 63px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

#banner h2 {
	margin: 0 0 0 63px;
	font-size: 40px;
	text-align: left;
	font-weight: bold;
}

#banner p {
	font-size: 17px;
	font-style: italic;
	margin: 0 0 0 63px;
}

.get_started { display: block; margin: 20px 0 0 90px;}
.get_started a { display: inline-block; vertical-align: middle; }
/* slides */

#slider {
	float: left;
	width:980px;
	/*padding:10px;*/
	margin:0 auto;
	position:relative;
	z-index:0;/*background: #F97F4C;*/
}

#frame {
	position:absolute;
	z-index:0;
	width:990px;
	height:435px;
	top:-3px;
	left:-80px;
}

#example {
	width:980px;
	height: 335px;
	position:relative;
}

#slides {
	position:absolute;
	/*left:20px;*/
	z-index:100;
}

.slides_container {
	width:980px;
	height:335px;
	overflow:hidden;
	position:relative;
	display:none;
}

#slides .slide {
	width:980px;
	/*height:230px;*/
	display:block;
	padding: 0 0 0 359px;
}

#slides .next, #slides .prev {
	position:absolute;
	top: 80px;
	left: -10px;
	width:20px;
	height:30px;
	display:block;
	z-index:101;
	background: url(../images/index/arrow.png) 0 0 no-repeat;
	text-indent: -9999px;
}

#slides .next {
	left:560px;
	background-position: -20px 0;
}

.pagination {
	left: 45%;
	bottom: 10px;
	position: absolute;
	z-index: 2000;
	background: url(../images/index/pagination_bg.png) 0 0 repeat-x;
	padding: 8px 15px 6px 15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width: 13px;
	height:0;
	padding-top: 13px;
	background-image:url(../images/index/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a { background-position:0 -13px; }

.banner1 {
	/*background: url(../images/index/banner1.png) 0 bottom no-repeat;*/
	height: 350px;
}

.banner2 {
	/*background: url(../images/index/banner2.png) 0 bottom no-repeat;*/
	height: 350px;
}

.banner3 {
	/*background: url(../images/index/banner3.png) 0 bottom no-repeat;*/
	height: 350px;
}

.banner4 {
	/*background: url(../images/index/banner4.png) 0 bottom no-repeat;*/
	height: 350px;
}

/* content start */
#content {
	float: left;
	width: 100%;
	margin: 30px 0;
}

#main {
	float: left;
	width: 690px;
}

.tabs {
	float: left;
	width: 100%;
}

.tabs li { display: inline;list-style: none; }

.tabs li a {
	float: left;
	padding: 10px 20px;
	border: 1px solid #d5d5d5;
	border-bottom: none;
	border-left: none;
	color: #242424;
	text-shadow: 1px 1px 0 #FFFFFF;
	-moz-text-shadow: 1px 1px 0 #FFFFFF;
	-webkit-text-shadow: 1px 1px 0 #FFFFFF;
	font-weight: bold;
	background: #fafafa;
	background: -moz-linear-gradient(center bottom, #fafafa 0%, #efefef 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #fafafa 0%, #efefef 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #fafafa), color-stop(0.7, #efefef));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#efefef);
}

.tabs li.fst a { border-left: 1px solid #d5d5d5; }

.tabs li.active a {
	background: #014ba9;
	background: -moz-linear-gradient(center bottom, #014ba9 0%, #048bcf 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #fafafa 0%, #048bcf 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #014ba9), color-stop(0.7, #048bcf));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#014ba9, endColorstr=#048bcf);
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #014381;
	-moz-text-shadow: 1px 1px 0 #014381;
	-webkit-text-shadow: 1px 1px 0 #014381;
	box-shadow: 0 1px 0 #4dacdd inset;
	-moz-box-shadow: 0 1px 0 #4dacdd inset;
	-webkit-box-shadow: 0 1px 0 #4dacdd inset;
	border: 1px solid #186fa7;
}

.tabBody {
	float: left;
	background: #f7f7f7;
	border: 1px solid #d5d5d5;
	width: 100%;
}

.tabBody li {
	padding: 30px;
	border-bottom: 1px solid #d5d5d5;
	min-height: 105px;
	list-style: none;
}

.tabBody h3 {
	display: block;
	font-weight: bold;
	margin: 0 0 10px 0;
	font-size: 18px;
}

.tabBodyOther {
	float: left;
	background: #f7f7f7;
	border: 1px solid #d5d5d5;
	width: 100%;
}

.tabBodyOther li {
	padding: 30px;
	border-bottom: 1px solid #d5d5d5;
	min-height: 105px;
	list-style: none;
}

.tabBodyOther h3 {
	display: block;
	font-weight: bold;
	margin: 0 0 10px 0;
	font-size: 18px;
}

.disc { 
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 10px; 
}

.disc ul li,.disc ol li, .joinbox ul li,.joinbox  ol li  {
		margin: 0 0 0 15px;
		border-bottom: 0px;
		min-height: 100%;
		list-style: inherit !important;
		padding: 0px;
	}

.by { color: #5a5959; }
.by a{font-weight: bold;}
.by span {
	font-weight: bold;
	color: #014ba9;
}

.ans {
	float: left;
	margin: 0 10px 0 0;
}

.ans img {
	float: left;
	margin: 1px 5px 0 0;
}

.varified { float: left; }

.varified img {
	border: 1px solid #d5d5d5;
	padding:2px;
	margin: 0 0 3px 0;
}

.varified h4 {
	border: 1px solid #5fa30f;
	color: #45a40b;
	padding: 3px;
	background: #e6e6e6;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.varified h4.not {
	border: 1px solid #eb208c;
	color: #eb208c;
	padding: 3px;
	background: #e6e6e6;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.q { margin-left: 16%; }

/* sidebar */

#sidebar {
	float: right;
	width: 265px;
	margin: 0 0 0 25px;
}

.box, .box2 {
	float: right;
	width: 263px;
	margin: 0 0 10px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	/*color: #014ba9; */
	
}

.heading {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #d5d5d5;
	background: #f5f5f5;
	background: -moz-linear-gradient(center bottom, #f5f5f5 0%, #efefef 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #f5f5f5 0%, #efefef 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #f5f5f5), color-stop(0.7, #efefef));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#efefef);
}

.heading img {
	float: left;
	margin: 2px 5px 0 0;
}

.sub_heading {
	display: block;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.box ul, .box2 ul, .box div.body {
	padding: 20px;
	background: #fafafa;
	/* color:#000; */
	display: inline-block;
	width: 223px;
}

.box li, .box2 li { display: inline;list-style: none; }

.box li a {
	display: inline-block;
	background: url(../images/index/bullet_2.png) 0 5px no-repeat;
	padding: 0 0 0 10px;
	margin: 0 0 15px;
	width: 100%;
}

.box2 li a {
	display: inline-block;
	background: url(../images/index/bullet_2.png) 0 center no-repeat;
	padding: 5px 0 5px 10px;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
}

.lastFeed { border-bottom: none !important; text-align: center;min-height: 20px !important;}
.last{ border-bottom: none !important; }
.box li a span { font-weight: bold; }

.more {
	display: block;
	padding: 10px;
	border-top: 1px solid #d5d5d5;
	background: #f1f1f1;
	background: -moz-linear-gradient(center bottom, #f1f1f1 0%, #fafafa 70%) repeat scroll 0 0;
	background: -o-linear-gradient(center bottom, #f1f1f1 0%, #fafafa 70%) repeat scroll 0 0;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #f1f1f1), color-stop(0.7, #fafafa));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f1f1f1, endColorstr=#fafafa);
}

/* client */

#client {
	float: left;
	width: 100%;
	background: #F7F7F7 url(../images/index/partners_bg.png) 0 0 repeat-x;
}

#client_inner {
	overflow: hidden;
	position: relative;
	visibility: visible;
	width: 950px !important;
	margin: 20px auto;
}

#client h2 {
	color: #3f3f3f;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px;
	float: left;
	line-height: 27px;
}

#client h2 a {
	float: right;
	margin: 0 0 0 10px;
}

ul.client { float: left; }

.client li { display: inline; list-style: none;}

.client li a {
	float: left;
	margin: 5px 10px;
	height: 79px;
}

.client li a img { 
	width:166px;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

.client li a img:hover { 
	width:166px;
	opacity:1;
	filter:alpha(opacity=400); /* For IE8 and earlier */
}

.next, .prev {
	position:absolute;
	top: 60px;
	left: 0px;
	width: 7px;
	height: 10px;
	display: block;
	z-index:101;
	background: url(../images/index/arrow.png) 0 0 no-repeat;
	text-indent: -9999px;
}

.next {
	left: 940px;
	background-position: -7px 0;
}

/* footer start */

#footer {
	float: left;
	background: #419ed5 url(../images/index/footer_bg.png) 0 0 repeat-x;
	width: 100%;
	color: #666;
	text-shadow: 1px 2px 2px #2f759e;
	-moz-text-shadow: 1px 2px 2px #2f759e;
	-webkit-text-shadow: 1px 2px 2px #2f759e;
	color: #FFFFFF;
}
#footer li {list-style:none;}
#footer_inner {
	margin: 10px auto;
	width: 980px;
	position: relative;
}

#footer h3 {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: bold;
	padding: 25px 0 20px 0;
}

#footer li a {
	color: #FFFFFF;
	font-weight: bold;
}

#footer p a {
	color: #FFFFFF;
}

.footer_logo {
	position: absolute;
	left: 0;
	top: 230px;
	background: url(../images/index/footer_logo.png) 0 0 no-repeat;
	width: 280px;
	height: 50px;
}
/* newsletter start */

#newsltr {
	float: left;
	width: 279px;
}

.follow { display: block;}
.follow img {
	margin: 3px 5px 7px 0;
}
.newsltr_field {
	border: 1px solid #b5c3cd;
	color: #01659e;
	padding: 6px 5px 5px 5px;
	float: left
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 3px;
	box-shadow: 0 1px 0 #edf2f5 inset;
	-moz-box-shadow: 0 1px 0 #edf2f5 inset;
	-webkit-box-shadow: 0 1px 0 #edf2f5 inset;
	width:175px;
}

.newsltr_btn {
	background: url(../images/index/signin_btn.png) 0 0 no-repeat;
	border: none;
	width: 83px;
	height: 30px;
	cursor: pointer;
	margin-bottom: 5px;
}

#newsltr ul {
	float: left;
	margin: 0 0 10px 0;
}

#newsltr li {
	float: left;
 width: 100% display: block;
	padding: 04px 10px 0 0;
	list-style: none;
}

.sml_logo {
	float: left;
	margin: -2px 2px 0 0;
}

#site_nav {
	float: left;
	margin: 0 45px 0 0;
}

#site_nav li a {
	float: left;
	width: 90%;
	background: url(../images/index/bullet.png) 0 no-repeat;
	padding: 2px 0 2px 10px;
	line-height: 20px;
	text-transform: capitalize;
	white-space: nowrap;
}

#copy {
	float: left;
	width: 100%;
}

#copy_inner { width: 980px; margin: 0 auto;
	padding: 10px 0;
	font-size: 12px;}
#copy a { color: #2d2d2d;}
.moreBtn { cursor: pointer; }

/*From Style.css : For question Page*/
.replyr1 {
	float:left;
	width:auto;
	padding-top:20px;
	padding-right:5px;
}
.arrowups {
	display:block;
	width:17px;
	height:17px;
	background:url(../images/arrowup.jpg);
}
.arrowups a {
	display:block;
	border:0;
	width:17px;
	height:17px;
	background:url(../images/arrowup.jpg);
}
.arrowups a:hover, .arrowups a.selected {
	display:block;
	border:0;
	width:17px;
	height:17px;
	background:url(../images/arrowup1.jpg);
}
.arrowdons {
	display:block;
	width:17px;
	height:17px;
	background:url(../images/arrowup.jpg);
}
.arrowdons a {
	display:block;
	border:0;
	width:17px;
	height:17px;
	background:url(../images/arrowdown.jpg)
}
.arrowdons a:hover, .arrowdons a.selected {
	display:block;
	border:0;
	width:17px;
	height:17px;
	background:url(../images/arrowdown1.jpg);
}
.sstyles3 {
	color: #555555;
	clear:both;
	font-size:12px;
}
.sstyles3 ul {
	padding:0;
	margin:0;
	list-style:none;
}
.sstyles3 li {
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	width:auto;
}
.sstyles3 li a {
	color:#555555;
	text-decoration:none;
}
.sstyles3 li a:hover {
	color:#0286BC;
	text-decoration:underline;
}
.sstyles3 a {
	color: #555555;
	text-decoration:none;
}
.submitSubscribeEmail,.repcomsubmits,.updatebtns,.submitspops,.submitspopss{
	background: url("../images/index/submitBtn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.submitSubscribeEmail:HOVER,.repcomsubmits:HOVER,.updatebtns:HOVER,.submitspops:HOVER,.submitspopss:HOVER { background: url("../images/index/submitBtnHover.png") no-repeat scroll 0 0px transparent; } 

.addcomments {
	background:url(../images/index/buttonBg.png);
	width:233px;
	height:32px;
	float:right;
	margin-top:10px;
	background-repeat:no-repeat;
	border:0;
	cursor:pointer;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
}
.addcomments:HOVER { background:url(../images/index/buttonBgHover.png); }

.edititinputs, .repcominput,.popinputs,.askkinput{
		border: 1px solid #dadada;
	padding: 5px;
	width:100%;
	border-radius: 3px 0 0 3px;
	-moz-border-radius:  3px 0 0 3px;
	-webkit-border-radius:  3px 0 0 3px;
}
.popinputs{
	width:90%;
}
.repcommbox22{ margin-left: 110px;}

.canclebtnz {
	float:right;
	width:auto;
	padding-top:7px;
	padding-left:5px;
}

/*-----------------Popups Global (common popup css)------------------------------*/
#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	display:none;
	background-color: #FFFFFF
}
#mask1 {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	display:none;
}
#boxes .window {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
}
#boxes #dialog {
	width:375px;
	height:203px;
	padding:10px;
	background-color:#ffffff;
}
.closecover {
	clear:both;
	padding-top:7px;
	height:21px;
}
#close {
	float:right;
	width: 30px;
	height:31px;
	padding-right:5px;
}
.popboxWraper {
	clear:both;
}

.popsubmit {
	width:111px;
	height:28px;
	background:url(../images/popsubmit.jpg);
	background-repeat:no-repeat;
	border:0;
}
.popboxflag {
	background:url("../images/flagbg.gif") repeat scroll 0 0 transparent;
	height:197px;
	left:2px;
	padding-left:30px;
	position:relative;
	top:520px;
	width:400px;
}
.popboxflagzx,.popboxflagzx1 {
	background-color:#FFF;
	border:1px solid #000;
	height:100%;
	left:2px;
	padding:15px;
	position:relative;
	top:350px;
	width:400px;
	float:left;
}
#modal {
	padding:1px;
	z-index:10000;
	height:auto;
	width: 705px;
	height: 251px;
	position: fixed;
}
#popuparea {
	float:left;
	width:705px;
}
#popup_top {
	float:left;
	width:705px;
	background:url(../images/popup_graphic/pop_top.png) no-repeat top;
	height:20px;
}
#popupmainarea {
	float:left;
	width:703px;
	border-left:1px solid #989898;
	border-right:1px solid #989898;
	background-color:#FFFFFF;
}
#popuptop {
	float:left;
	width:703px;
	height:40px;
	border-bottom:1px dashed #989898;
}
#popup_logo {
	float:left;
	width:233px;
	height:31px;
	padding-left:5px;
}

#userpicarea {
	float:left;
	width:685px;
	margin:1px;
	background:#cae3ed;
	padding: 9px 0px 9px 16px
}
.userpic {
	float:left;
	width:137px;
	height:130px;
	margin-right:13px;
	background:url(../images/popup_graphic/userpic_box.gif) no-repeat top left;
	padding: 9px 11px 5px 9px;
	text-align:center;
}
.userpic span {
	padding-top:5px;
	float:left;
	text-align:center;
	width:137px;
}
#popup_middle {
	float:left;
	width:693px;
	border-top:1px dashed #989898;
	padding:14px 5px 0px 5px;
}
#popup_left {
	float:left;
	width:520px;
	margin-right:5px;
}
#popup_leftbox {
	float:left;
	width:518px;
	border:1px solid #b6b6b6;
}
.popheading {
	float:left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #1d68a2;
	padding-bottom:10px;
}
.popupleftrow {
	float:left;
	width:518px;
	vertical-align:middle;
	background-color:#d9eaf5;
	padding-top:10px;
	padding-bottom:10px;
}
.popleftbox {
	float:left;
	width:67px;
	padding-left:5px;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #1d68a2;
}
.popleftbox2 {
	float:left;
	width:446px;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
#popup_right {
	float:left;
	width:163px;
	margin-right:5px;
}
.popuprightrow {
	float:left;
	width:163px;
	vertical-align:middle;
	background-color:#d9eaf5;
	padding-top:10px;
	padding-bottom:10px;
}
.poprightbox {
	float:left;
	width:40px;
	margin-right:10px;
	border:1px solid #a5dbeb;
	height:40px;
	margin-left:5px;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #1d68a2;
}
.poprightbox2 {
	float:left;
	width:105px;
	font-family: arial;
	height:40px;
	line-height:40px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #1d68a2;
}
#popup_rightbox {
	float:left;
	width:164px;
	border:1px solid #b6b6b6;
}
#popupbottom {
	float:left;
	width:513px;
	background:url(../images/popup_graphic/bottomgradient.gif) repeat-x bottom;
	height:94px;
	margin-top:1px;
	border-top:1px dashed #989898;
	padding-left:5px;
	padding-bottom:8px;
}
#popupbottomleft {
	float:left;
	width:513px;
	height:35px;
	line-height:35px
}
.popupbottomleft1 {
	float:left;
	width:200px;
	height:35px;
	line-height:35px
}
.popupicon {
	float:right;
	width:25px;
	height:26px;
	padding-right:5px;
	padding-top:5px;
}
#popuptextarea {
	float:left;
	width:510px;
	padding-top:5px;
}
.popuptext {
	border:1px solid #cccccc;
	width:500px;
	height:50px;
	background:#FFFFFF
}
#popupfooter {
	float:left;
	width:695px;
	padding:8px 5px 0px 5px;
}
#popup_bottom {
	float:left;
	width:705px;
	background:url(../images/popup_graphic/pop_bottom.png) no-repeat top;
	height:20px;
}
.popup_blue {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #1d68a2;
}
a.popup_blue:hover {
	text-decoration: none;
	color: #1d68a2;
}
.popup_black {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
a.popup_black:hover {
	text-decoration: none;
	color: #000000;
}
.popup_blue10 {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #1d68a2;
}
a.popup_blue10:hover {
	text-decoration: none;
	color: #1d68a2;
}
.popup_black10 {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #949494;
}
a.popup_black10s:hover {
	text-decoration: none;
	color: #949494;
}
/* New design for popups */
.popup {
	width:563px;
	height:325px;
	background:#f7fcff;
	border:2px solid #a6c4d6;
	margin-top:20px;
	margin-left:20px;
}
.popupheading {
	clear:both;
	background:url(../images/popupheading.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	height:42px;
}
.popuph1 {
	color:#444444;
	float:left;
	font-size:16px;
	font-weight:bold;
	padding-left:15px;
	padding-top:15px;
	width:auto;
}
.close {
	width:20px;
	height:21px;
	float:right;
	padding-right:15px;
	padding-top:5px;
	cursor: pointer;
}
.invitepeople {
	clear:both;
	color:#313030;
	font-size:13px;
	padding-bottom:9px;
	padding-left:15px;
	padding-top:5px;
}
.popupinut {
	background:url(../images/popupinut.jpg);
	border:0;
	height:82px;
	margin-left:15px;
	width:526px;
}
.Addnote {
	clear:both;
	color:#131313;
	font-size:13px;
	padding-bottom:9px;
	padding-left:15px;
	padding-top:5px;
}
.popupinut {
	background:url(../images/popupinut.jpg);
	border:0;
	height:75px;
	margin-left:15px;
	padding-top:7px;
	width:520px;
	padding-left:5px;
	font-weight:normal;
	font-size:12px;
	color:#303030;
}
.sentbox {
	clear:both;
	float:right;
	padding-right:20px;
	padding-top:13px;
	width:auto;
}
.senttxt {
	float:left;
	padding-right:10px;
	padding-top:8px;
	width:auto;
	font-size:12px;
}
.sendinvites {
	background:url(../images/sendinvites.jpg);
	border:0;
	width:111px;
	height:28px;
	float:right;
	cursor:pointer;
}
/*---------------------------------Popup 2---------------------------------------*/

.popbox2 {
	background:none repeat scroll 0 0 #F7FCFF;
	border:1px solid #A6C4D6;
	height:400px;
	padding:0 0 15px 15px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #77e4ff;
	width:670px;
	text-align:left;
}
.boxtopcenter {
	position:absolute;
	top:-5px;
	width:685px;
}
.popzsabmit
{
float:left;
background:url(../images/popsubmit.jpg);
width:111px;
height:28px;
border:0;
}
.popbox3 {
	width:670px;
	padding-left:15px;
	height:140px;
	background:#f7fcff;
	border:1px solid #a6c4d6;
	margin-top:15px;
	text-align:left;
}
.popbox3a {
	width:670px;
	padding-left:15px;
	height:170px;
	background:#f7fcff;
	border:1px solid #a6c4d6;
	margin-top:15px;
	text-align:left;
}
.askquestion {
	width:635px;
	border-bottom:1px solid #c5d0d6;
	height:30px;
	font-size:16px;
	margin-top: -10px;
}
.asktext1 {
	margin-left: 20px;
}
.askquestionbox {
	float:left;
}
.askheadingCoverz {
	clear:both;
	padding-top:10px;
}
.asktext2 {
	float:left;
	font-size:16px;
	padding-top:7px;
}
.askinputCover {
	float:left;
	width:620px;
}
.askheadingCover {
	clear:both;
	padding-top:5px;
}
.asksubtxt {
	color: #ababab;
	font-size: 10px;
	font-weight:normal;
}
.askinput2 {
	float:left;
	width:620px;
	height:110px;
	padding-top:6px;
	padding-left:10px;
	color:black;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}
.popsubmitcovar {
	clear:both;
	padding-right:30px;
	padding-top:10px;
}
.notetext {
	color:#ABABAB;
	float:left;
	font-size:12px;
	font-weight:normal;
	padding-right:13px;
	padding-top:4px;
}
.popnothanks1 {
	float:left;
	color:#0286bc;
	font-size:13px;
	padding-top:3px;
}
.popsubmitbox1 {
	float:right;
	width:125px;
}
.popsubmitcover1 {
	clear:both;
	width:185px;
	float:right;
	padding-right:30px;
}
#boxes .window1 {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
}

#boxes #dialog1 {
	width:685px;
	height:407px;
}
#dialog1 .d-header {
	background:url(images/login-header.png) no-repeat 0 0 transparent;
	width:375px;
	height:150px;
}
#dialog1 .d-header input {
	position:relative;
	top:60px;
	border:3px solid #cccccc;
	height:22px;
	width:200px;
	font-size:15px;
	padding:5px;
	margin-top:4px;
}
#dialog1 .d-blank {
	float:left;
	background:url(images/login-blank.png) no-repeat 0 0 transparent;
	width:267px;
	height:53px;
}
#dialog1 .d-login {
	float:left;
	width:108px;
	height:53px;
}
#boxes #dialog2 {
	width:326px;
	height:229px;
	padding:0px 0 20px 0px;
}
.askkinput {
	float:left;
	width:620px;
	height:25px;
	padding-top: 4px;
	padding-left:3px;
	color:black;
	font-size:13px;
}
.askinput {
	float:left;
	width:530px;
	height:29px;
	background:url(../images/askinput.jpg);
	background-repeat:no-repeat;
	padding-left:10px;
	color:#737373;
	font-size:13px;
	border:0;
}
.popnothanks3 {
	float:right;
	color:#0286bc;
	font-size:13px;
	padding-top:3px;
	font-size:12px;
}
.popbox2 {
	height: auto;
	width: auto;
	padding-right: 10px;
}
.cancs { float: right; margin-right: 30px; margin-left: 10px; padding-top: 8px; }
.poptxtzzCover input{float: right;}
#checkboxarea3 {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-top: 10px;
    width: 590px;
}
.subscribe{
	background: url("../images/subscribe.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 45px;
    margin-right: 50px;
    width: 140px;
    cursor: pointer;
}

.followConvoBtn { 	border: 0 none;float:left;
	cursor: pointer;
	width: 170px;
	height: 34px; 
	margin-left: 50px;
	display: block;background: url(../images/followConvoBtn.jpg); }
	.followingConvoBtn { cursor: pointer;float:left;
	width: 170px;
	height: 34px; 
	margin-left: 50px;background: url(../images/followingBtn.jpg); }
	.green12{color:#1BA553;font-weight:bold;}
	.stylezx,.votestxt3 {
    color: #787878;
    font-size: 11px;
}
.newsletterWidgetBtn{ 
	background: url(../images/index/newsletter_btn.png);
	border: 0px;height: 32px;width: 233px;margin-top: 5px;cursor: pointer;
}
.newsletterWidgetBtn:HOVER{ 
	background: url(../images/index/newsletter_btnHover.png);
}
.questionbannerSignup{
	background: url('/public/images/index/newbanner.png');width:690px;height:35px; background-repeat: no-repeat;  
	padding: 25px;color:#FFF; font-weight:bold;
}
.questionbannerSignup:HOVER{
	background: url('/public/images/index/newbannerHover.png'); background-repeat: no-repeat;  
}
.editit,.editit2 {font-size:8pt;}
.editit a,.editit2 a {
	background:transparent url(../images/edi.jpg) no-repeat scroll 0 3px;
	color:#4B4B4B;
	height:12px;
	padding-left:12px;
	padding-top:3px;
	text-decoration:none;
	width:27px;
}
.editit a:hover,.editit2 a:hover {
	width:27px;
	color:#4B4B4B;
	height:12px;
	padding-top:3px;
	padding-left:12px;
	padding-right:5px;
	background-repeat:no-repeat;
	background-position:0 3px;
	background:url(../images/edi1.jpg);
}

/* New following buttons */
.followMemberBtn, .followingMemberBtn, .restartChatBtn, 
.followConvoBtn, .followingConvoBtn, .followTopicBtn, .followingTopicBtn {	
	border: 0 none;
	cursor: pointer;
	width: 170px;
	height: 34px; 
	margin-left: 35px;
	display: block;
}
.followTopicBtn { background: url(../images/followTopicBtn.jpg); }
.followingTopicBtn { background: url(../images/followingBtn.jpg); }
.followingTopicBtn:hover { background: url(../images/unfollowTopicBtn.jpg); }

/*CSS For new drop down menu*/

/* .mega-menu .sub, .mega-menu ul li ul {display: none;} */
.mega-menu .sub ul {display: block;}

ul.mega-menu, ul.mega-menu li a.dc-mega {position: relative;} 
ul.mega-menu li a .dc-mega-icon { background: url("/public/images/bullet.gif"); position: absolute; width: 7px; height: 7px;  top: 15px; right: 0px;}
a.dc-mega .dc-mega-icon { background: url("/public/images/bullet.gif") no-repeat; position: absolute; width: 7px; height: 7px;  top: 21px;margin-left:3px;}
ul.mega-menu li .sub-container {position: absolute;} /*background-color: #FFF; border:1px solid #CCC;*/
ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
ul.mega-menu li .sub li { float: none; width: 250px; font-weight: normal;}
ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 10px !important; font-weight: normal !important;}
ul.mega-menu .sub li.mega-hdr li a:hover {background: #efefef;}
.row{position: absolute;background-color: #FFF;z-index: 9999; border:1px solid #CCC; }
#settings div.row, #uprofile div.row,#settings1 div.row, #settings2 div.row{width:175px !important;}
li.settings {width:150px !important;float:left;}
#settings1 div.row li , #settings2 div.row li{clear:both;margin: 0px 5px !important;width:95%;}


/*Profile page css*/

.bn1{
	background: #1295e1; /* Old browsers */
background: -moz-linear-gradient(top,  #1295e1 0%, #43b8fb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1295e1), color-stop(100%,#43b8fb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1295e1 0%,#43b8fb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1295e1', endColorstr='#43b8fb',GradientType=0 ); /* IE6-9 */
float:left;
 border:1px solid #1295e1;
 line-height:30px;
 border-radius: 5px;
 color:#FFFFFF;
padding:0 20px 0 20px;
}
.bn1 a{
	text-decoration:none;
	color:#FFFFFF;
}
.bn1 a:hover{
	text-decoration:none;
	color:#FFFFFF;
}
.headerStrip{
	background: #1295e1; /* Old browsers */
background: -moz-linear-gradient(top,  #1295e1 0%, #43b8fb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1295e1), color-stop(100%,#43b8fb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1295e1 0%,#43b8fb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1295e1 0%,#43b8fb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1295e1', endColorstr='#43b8fb',GradientType=0 ); /* IE6-9 */
 border:1px solid #1295e1;
 border-radius: 5px 5px 0px 0px;
 color:#FFFFFF;
}
.f1{
	line-height:40px;
	text-align:center;
	float:left;
	font-size:16px;
	font-weight:bold;
	
	}
.f1 a{
	text-decoration:none;
	
	background:url(/public/images/profile/leftfollw.png) no-repeat left top;
	float:left;
	/*padding:0 20px 0 0;
	margin:0 10px 0 0 ;*/
	border:0px solid #000000;
	
	
	}
.f1 a span {
	text-decoration:none;
	color:#FFFFFF;
	background:url(/public/images/profile/rightfollow.png) no-repeat right top;
	display:block;
	float:left;
	
	padding:0 20px 3px 10px;
	margin:0 0 0 10px;
		}