/* CSS Document */

body {
	margin: 0px;
	padding:0px;
	font-family:arial;
	font-size:11px;
	width:100%;
	color:#000000;
	font-family: arial; font-size: 25px;}

form { padding:0px; margin:0px;}
#top_container { width:972px; margin-left:auto; margin-right:auto; font-size:1px}
#bottom_container { width:972px; margin-left:auto; margin-right:auto;}
#top { float:left; width:972px; padding:0px; margin:0px; height:73px; }
#logo { float:left; width:328px; padding:0px; margin:0px; height:73px; background:url(../images/logo.gif) no-repeat top;}
#topmid { float:right; width:130px; margin:0px;  padding-top:45px; height:23px;  }
#topnav { float:right; width:590px; margin:0px;  padding:30px 0px 0px 20px; }
#topnav ul {padding:0; margin:0; width:100%; list-style:none;}
#topnav ul li { }
#topnav ul li a {width:150px;  font-weight: normal; font-size: 14px; color: #2a2a2a; font-family:arial; text-decoration: none;  }
#topnav ul li a:hover {    font-weight: normal; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none;   }


#topright { float:right; width:95px; margin:0px;  padding-top:20px; height:53px; text-align:right;}
.icon { float:right; width:27px; margin:0px;  padding-top:4px; height:27px; text-align:right; padding-right:4px;}
#text_heading {float:left;  width:972px; height:110px; background:url(../images/real_heading.gif) center no-repeat ;}
#banner { float:left; width:100%; height:119px; margin-top:1px; background:url(../images/banner.jpg) repeat-x; }
#innerbanner { float:left; width:100%; height:10px;  background:url(../images/colourribbon.gif) repeat-x; }
#middle_area2 { float:left; padding:45px 0 5px 10px; width:962px; }
#middle_area { float:left; padding:15px 0 5px 10px; width:962px; }
#middle_area_inner { float:left; padding:22px 0 5px 10px; width:962px; }
#arealeft2 { float:left;  width:650px; padding-bottom:20px;  }
#arealeftinner { float:left;  width:685px; padding-bottom:20px;  }
#curvetop {float:left;  width:685px; height:19px; background:url(../images/curvetop.gif) no-repeat; }
#curvetophome {float:left;  width:639px; height:9px; background:url(../images/curvetophome.gif) no-repeat; }
#lefttextarea {float:left;  width:662px;  background-color:#FFFFFF; border-left:1px solid #9abcca;  padding:10px; border-bottom:1px dotted #939393;border-right:1px solid #9abcca;   }
#lefttextareainner {float:left;  width:662px;  background-color:#FFFFFF; border-left:1px solid #9abcca;  padding:10px; border-bottom:1px dotted #939393;border-right:1px solid #9abcca;   }
#comingsoonhead {float:left; background-color:#FFFFFF;  padding-right:10px; }

#arealeft { float:left;  width:625px; padding-bottom:0px; height:248px; background:url(../images/home_box_left.gif) no-repeat; padding-right:10px;  }
#welcometext { float:left;  width:630px; padding-left:24px; padding-top:23px; padding-bottom:27px;  }
#joinnowbutton { float:left;  width:480px; padding-left:25px;   }
#arealefttextarea {float:left;  width:675px; padding-left:7px; background-color:#e4e4e4; border-left:1px solid #9abcca; border-right:1px solid #9abcca;      }
#arealeftgrey {float:left;  width:460px; background-color:#e4e4e4;  padding:3px 3px 0 0; height:46px; border-top:1px solid #ffffff; text-align:right; }
#arealeftgrey2 {float:left;  width:627px; background-color:#ffffff;  padding:10px 3px 0 5px; height:46px; border-top:1px solid #ffffff; text-align:left; }
#greybg {float:left;  width:485px; background-color:#e4e4e4;  padding:3px 3px 0 0; height:46px;  text-align:right; }
#examplequestion {float:left;  width:150px; background:url(../images/questionIcon.gif) no-repeat center left; height:50px; line-height:50px; padding-left:25px; }
#arealefttextarea2 {float:left;  width:637px; padding-left:0px; background-color:#ffffff; border-left:1px solid #9abcca; border-right:1px solid #9abcca;      }
#arealefttextareainner {float:left;  width:675px; padding-left:7px; background-color:#e4e4e4; border-left:1px solid #9abcca; border-right:1px solid #9abcca;      }
#arearightbutton {float:left;  width:220px;  background-color:#ffffff; padding-left:20px;  }
#curvebottom {float:left; width:685px; height:8px; background:url(../images/curvebottomn.gif) no-repeat;}
#arealefttext2 {float:left;  width:600px; padding: 0 0 20px 5px;   }
#curvebottom2{float:left; width:639px; height:9px; background:url(../images/curvebottomhome.gif) no-repeat;}
#curvebottominner {float:left; width:685px; height:8px; background:url(../images/curvebottominner.gif) no-repeat;}
#rightcurvetop { float:left; width:242px; height:9px; background:url(../images/right_curvetop.gif) no-repeat top; font-size:1px;}
#rightmid { float: left; width:242px; background:url(../images/right_curvemid.gif) repeat-y top;}
#rightbot { float: left; width:242px; height:9px;  background:url(../images/right_curvebot.gif) no-repeat top; }
#imgarea { float:left; width:71px; height:75px;  padding:0px 5px 5px 5px; margin-left:5px;}
#imghead { float:left; width:140px; padding:10px 4px 0px 5px;}
#textrightbox { float:left; width:222px; border-top:1px dotted #cccccc; padding:4px 4px 0px 10px; }
#arealefttext {float:left;  width:150px; background:url(../images/questionIcon.gif) no-repeat center left; height:50px; line-height:50px; padding-left:25px; }
#arearight2 { float:left;  width:242px; padding:0 20px 20px 20px; }
#arearight2 ul {padding:0; margin:0; width:242px; float:left; list-style:none;}
#arearight2 ul li { float:left; padding-bottom:3px; width:242px; border-bottom:1px dashed #6e6e6e; padding-top:5px;  } 
#arearight2 h1 {font-weight: bold; font-size: 16px; color: #1550a4; font-family:arial; text-decoration: none;}
#arearight2 p { float:left; padding-bottom:3px; width:247px; padding:0px; margin:0px; padding-top:5px;  }

#arearight { float:left; padding:0px 10px 0px 20px; width:270px; height:248px; background:url(../images/right_boxbg.gif) no-repeat left top;  }
#arearight ul {padding:0; margin:0; width:216px; float:left; list-style:none;}
#arearight ul li { float:left; padding-bottom:3px; width:216px; border-bottom:1px dashed #6e6e6e; padding-top:5px;  } 
#arearight h1 {font-weight: bold; font-size: 18px; color: #000000; font-family:arial; text-decoration: none; padding:20px 0px 10px 0px; }
#arearight p { float:left; padding-bottom:3px; width:247px; padding:0px; margin:0px; padding-top:5px;  }

#arearightinner { float:left; padding:45px 0 0 27px; width:242px; }
#arearightinner ul {padding:0; margin:0; width:247px; float:left; list-style:none;}
#arearightinner ul li { float:left; padding-bottom:3px; width:247px; border-bottom:1px dashed #6e6e6e; padding-top:5px;  } 
#arearightinner h1 {font-weight: bold; font-size: 16px; color: #1550a4; font-family:arial; text-decoration: none;}
#arearightinner p { float:left; padding-bottom:3px; width:247px; padding:0px; margin:0px; padding-top:5px;  }
#boxarea_headmail { float:left;  width:962px; padding-top:30px; height:37px; }
#boxarea_head { float:left;  width:962px; padding-top:27px; height:37px; }
#innerarea_head { float:left;  width:962px; padding-bottom:5px; padding-top:5px; }
#boxarea {float:left;  width:962px; padding-top:20px; padding-bottom:7px;}
#innerboxarea {float:left;  width:962px;  padding-bottom:7px;}
#innerleft { float:left; width:685px; }
#innerright {float:left; width:239px; padding: 10px 5px 0px 28px}
.innerrightbox { float:left; width:241px; padding-top:20px;}
.innerrightop { float:left; width:241px; background:url(../images/innerrighttop.gif) no-repeat; height:9px; font-size:1px;}
.innerrighmid { float:left; width:211px; background:url(../images/innerrightmid.gif) repeat-y; padding:15px; }
.innerrighbot { float:left; width:241px; background:url(../images/innerrightbot.gif) no-repeat; height:10px;}


.search { float:left; width:199px; height:22px; padding-top:10px;border-bottom:1px solid #c9c9c9;  border-top:1px solid #c9c9c9; border-left:0px solid #ffffff; border-right:0px solid #ffffff;  }
#searcharea { float:left; width:199px; background:url(../images/searchleft.gif) no-repeat left; padding-left:6px; height:35px; }
#searchright {float:left; width:34px;  height:35px;}
#innermid { float:left; width:683px; border-left: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9;  }
.area { float:left; padding:10px; width:663px; border-bottom:1px dashed #c9c9c9;}
.arealeft2 {float:left; padding-right:15px; width:71px; text-align:center;}
.areatop { float:left; width:577px; background:url(../images/blue_curvetop.gif) no-repeat; height:8px; font-size:1px;}
.arearight { float:left; width:547px;}
.areamid { float:left; width:562px; background-color:#e2eef3; padding:7px 5px 7px 10px; }

.areabot { float:left; width:577px; background:url(../images/blue_curvebot.gif) no-repeat top; height:8px; }
.join { float:right; width:178px; padding-right:5px;  padding-left:367px; text-align:right;}

#innerbot { float:left; width:685px; background:url(../images/inner_box_bot.gif) no-repeat; height:9px; font-size:1px; }
#innerlefttop { float:left; width:685px; background:url(../images/inner_box_top.gif) no-repeat; height:20px; }
.box {float:left;  width:294px; padding-right:34px; }
.box_top {float:left; width:294px;}
.boxmid { float:left; width:269px; background:url(../images/boxbg.gif) repeat-y top; padding:5px 10px 5px 15px; font-family: arial;	font-size: 16px; font-weight: bold; text-decoration: none; color: #1559a5;}
.boxmid p {font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000; padding-top:5px;} 
.box_bot {float:left; width:294px; background:url(../images/boxcurve.gif) no-repeat top; height:26px;}
#box3 {float:left;  width:294px; }
#bottomboxarea {float:left;  width:962px; padding-top:20px; padding-bottom:20px;}
.bottomboxinnerarea {float:left;  width:300px; padding-right:5px; }
.bottomboxinnerarea2 {float:left;  width:320px;  }
#boxarea1 {float:left;  width:190px; padding:10px 0px 30px 110px; background:url(../images/meetimg.jpg) no-repeat left top;}
#boxarea2 {float:left;  width:190px; padding:0px 0px 30px 110px; background:url(../images/learnimg.jpg) no-repeat left top;}
#boxarea3 {float:left;  width:215px; padding:0px 0px 30px 105px; background:url(../images/shareimg.jpg) no-repeat left top;}
.colantext {float:left;  width:275px; padding:0px 0px 0px 25px; background:url(../images/colantop.gif) no-repeat left top;}
#innermain {float:center; margin-left:auto; margin-right:auto; width:942px; padding-left:30px;}

#innerheading { float:left; width: 100%; height:56px; line-height:56px;}
#innermiddlearea {float:left; width: 942px; padding-top:20px; padding-bottom:20px;}
#innerpersonalarea {float:left; width: 942px; padding-top:20px; padding-bottom:10px;}
.generaltextarea {float:left; width:285px; height:27px; line-height:27px; padding-top:10px;}
.generaltextarea2 {float:left; width:500px; height:27px; line-height:27px; padding-top:10px;}
.button {float:left; width:500px;  padding-top:10px;}
.generalcheck {float:left; width:580px;  padding-bottom:10px; }
.generalcheck1 {float:left; width:255px; padding-right:5px; }
.generalcheck2 {float:left; width:310px;   }
.generalinfosignrighttop { float:left; width:284px; background:url(../images/generalforight_top.gif) no-repeat; height:57px; }
#signupleftarea { float:left; width:590px; padding-top:10px;}
.signupleftarea2 { float:left; width:600px; padding-top:10px;}
.generalsubhead { float:left; width:590px; padding-top:20px; padding-bottom:10px; font-weight: bold; font-size: 16px; color: #000000; font-family:arial; text-decoration: none;}
.checkbox1 {float:left; width:280px; padding-bottom:10px; padding-right:5px;}
.checkbox2 {float:left; width:300px; padding-bottom:10px; }
.generalcheck3 {float:left; width:280px; padding:2px;   }
.generalcheck4 {float:left; width:300px; padding:2px;   }
.signupmain { float:left; width:580px; padding-bottom:10px;}
.signuptextarea {float:left; width:220px; height:27px; line-height:27px; padding-top:10px;}
#signupleft { float:left; width:590px;}
#signupleft h6 { padding:0px; margin:0px;}
#dashedborder {float:left; height:1px; width:100%; /*border-bottom:1px dashed #939393;*/ background:url(../images/bordergraphic.gif) repeat-x;}
#personalleft { float:left; width:437px;}
#personalleft1 { float:left; width:437px; padding-left:30px;}
.signtag { float:left; width:580px; }
.personalmain { float:left; width:437px; padding-bottom:10px;}
.personaltextarea {float:left; width:156px; height:27px; line-height:27px; padding-top:10px;}
.personaltextfield {float:left; width:276px; background:url(../images/fieldsbg.gif) no-repeat top; height:37px; line-height:37px;  padding-top:4px; padding-left:5px;  }
#personalsettings {float:left; width:270px; height:37px; line-height:37px; }
.personalcheck {float:left; width:281px; padding-left:156px; padding-bottom:10px; }
.personalcheck1 {float:left; width:138px; padding-right:5px; }
.personalcheck2 {float:left; width:138px;   }
.personaltextarea2 {float:left; width:156px; height:94px; padding-top:10px;}
.textareabig {float:left; width:276px; background:url(../images/textareabig.gif) no-repeat top; height:94px; padding-top:4px; margin-bottom:5px; padding-left:5px; }
.textarea3 { border:0px solid #ffffff; width:271px; height:85px;}
#personalright { float:left; width:143px; padding-left:10px;}
#personalrightimg { float:left; width:143px; }
#personalrighttext { float:left; width:143px; padding-top:5px; }

#signupright { float:right; width:300px; }
.socialicons2{ float:left; width:590px;  }
.socialicons2 ul{ float:left; padding-bottom:8px; padding-top:8px; border-bottom:1px dotted #433d3d; width:590px;  }
.socialicons2 ul li { width:135px; display:inline;  }
.signuparea { float:left; width:281px; padding-top:10px;}
#editfields { float:left; width:500px;}
#signfields { float:left; width:281px;}
#signfields ul h5 { float:left; width:281px; height:28px; padding:0xp; margin:0px;}
#signfields ul{ float:left; width:281px; padding-top:15px;}
#signfields ul li{ float:left; width:261px; list-style-type:none;  background:url(../images/fieldsbg.gif) no-repeat top; height:36px; line-height:36px; padding:1px 0px 15px 20px; }
#signfieldsleft { float:left; width:281px;}
.signfields1 { float:left; width:281px;}
.signfields1 h5 { float:left; width:281px;  padding:0xp; margin:0px;}
.signfields1 ul{ float:left; width:281px; padding-top:10px;}
.signfields1 ul li{ float:left; width:261px; list-style-type:none;  background:url(../images/fieldsbg.gif) no-repeat top; height:36px; line-height:36px; padding:1px 0px 15px 20px; }
#homefields { float:left; width:281px; height:50px; padding:0 0 0 5px;}
#homefields ul{ float:left; width:281px; padding-top:5px;}
#homefields ul li{ float:left; width:261px; list-style-type:none;  background:url(../images/fieldsbg.gif) no-repeat top; height:36px; line-height:36px; padding:1px 0px 15px 20px; }

.datefields { float:left; width:112px;  padding:8px 0px 5px 5px; margin:0 5px 0 0; line-height:36px; }
.signdown { float:left; width:590px; }
.signdown h4 { float:left; width:590px; height:20px; line-height:20px; padding:0px; margin:0px; font-weight: normal; font-size: 14px; color: #545454; font-family:arial; text-decoration: none;}
#checkboxarea2 {float:left; width:590px; height:20px; padding-top:30px; font-weight: normal; font-size: 14px; color: #545454; font-family:arial; text-decoration: none; }
#alreadyuser { float:left; width:300px; height:54px; line-height:54px; }
#signfieldsright { float:left; width:285px; padding-left:5px; }
#usertext { float:left; width:285px;  padding-top:15px; }
#selectim { float:left; width:285px; padding-top:130px; }
#datebirth { float:left; width:285px;  padding-top:70px;}
.signrightbox { float:left; width:284px; padding-top:20px;}
.personalinfosignrightbox { float:left; width:284px; padding-top:5px;}
.personalinfosignrighttop { float:left; width:284px; background:url(../images/personalinforight_top.gif) no-repeat; height:57px; }
.signrightop { float:left; width:284px; background:url(../images/signrighttop.gif) no-repeat; height:57px; }
.aboutrightop { float:left; width:284px; background:url(../images/aboutrighttop.gif) no-repeat; height:57px; }
.signrighmid { float:left; width:254px; background:url(../images/sinmid.gif) repeat-y; padding:15px; }
.signrighbot { float:left; width:284px; background:url(../images/signrightbottom.gif) no-repeat; height:14px;}

#loginarea {float:left; width: 330px; padding-left:0px; background:url(../images/dotted_line.gif) no-repeat center right;}
#loginarea h1 {float:left; width:281px; font-family:arial; font-size:14px; color:#3b3b3b; padding-bottom:6px; padding-top:20px;}
.fieldarea{ float:left; width:281px;  }
.fieldarealeft{ float:left; width:15px; background:url(../images/txtfieldleft.gif) no-repeat left; height:37px;}
.fieldareamid{ float:left; width:249px;  height:35px; border-bottom:1px solid #b3b3b3; border-top:1px solid #b3b3b3;}
.textfields{width:249px;  height:22px; padding-top:10px; border:0px; font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000;}
.personalfields{width:249px;  height:23px; margin-top:5px; margin-bottom:5px; border:0; font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000;}
.fieldarearight{ float:left; width:15px; background:url(../images/txtfieldright.gif) no-repeat right; height:37px;}
.forgotpassword{ float:left; text-align:right; height:20px; width:138px; padding-top:20px; font-weight: normal; font-size: 12px; color: #1450a4; font-family:arial; text-decoration: none;  }
.inputfields {
border:1px solid #BDC7D8;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
padding:3px;
width:150px;
height:23px;
margin-bottom:5px;
}
.checkboxarea{ float:left; height:20px; width:140px; padding-top:20px; font-weight: normal; font-size: 14px; color: #545454; font-family:arial; text-decoration: none; }
.checkboxclass{ background:url(../images/checkboxbg.gif) repeat-x; border:1px solid #d1d1d1;  }
.signupbutton{ float:left;  width:150px; height:46px; padding-top:10px; font-weight: normal; font-size: 12px; color: #1450a4; font-family:arial; text-decoration: none;  }
.newusersignup{ float:right;  width:150px; height:46px; padding-top:20px; font-weight: normal; font-size: 14px; color: #3b3b3b; font-family:arial; text-decoration: none; }

#rightarea {float:left; width: 330px; padding-left:30px; padding-top:60px; font-weight: normal; font-size: 14px; color: #1550a4; font-family:arial; text-decoration: none;}
.socialicons{ float:left; width:281px;  }

.socialicons1 {	margin: 0px; padding-top:10px;	color: #000; 	width: 120px; 	list-style: none; }
.socialicons1 li {
	padding: 10px 2px 0px 0px;
	margin: 0px;
}
.socialicons1 li a{
	margin: 0px;
	padding: 3px 3px;
	display: block;
	border:none;
	text-decoration: none;
}

#notifactionbox { float:left; width:664px;}
.notifactionboxtop { float:left; width:664px; background:url(../images/notificationcurvetop.gif) no-repeat top; height:9px; font-size:1px;}
.notifactionboxmid { float:left; width:664px; background:url(../images/notificationmid.gif) repeat-y top;}
.notifactionboxbot { float:left; width:664px; background:url(../images/notifcationcurvebot.gif) no-repeat top; height:11px; font-size:1px;}
.notibluearea { float:left; width:640px; padding:0px 12px 15px 12px; }
.notiblueareatop { float:left; width:640px; background:url(../images/notcurvebluetop.gif) no-repeat top; height:9px; font-size:1px;}
.notiblueareamid { float:left; width:618px; border-left:1px solid #cae3ed; border-right:1px solid #cae3ed; background:#e8f1f5; padding:10px;}
.notiblueareamid h1 { float:left; width:618px; font-weight: bold; font-size: 18px; color: #1550a4; font-family:arial; text-decoration: none; padding-bottom:5px; }
.notiblueareabot { float:left; width:640px; background:url(../images/notcurvebluebot.gif) no-repeat top; height:9px; font-size:1px; }
.notiblueareamid ul { float:left; width:620px; list-style-type:none;}
.notiblueareamid ul li { float:left; width:620px; padding-top:4px; padding-bottom:4px; list-style-type:none; }
.radiobutton {font-family: arial; font-size: 25px; font-weight: normal; text-decoration: none; color: #000000;  } 
#savebutton {float:left; width:654px; padding-left:10px;}


#midnoticontainer { float:left; width:100%; background:url(../images/notificationbottombg.gif) repeat-x top; }
#midnoticontainermain { width:942px; padding-left:30px;  margin-left:auto; margin-right:auto;}
#boxarea_head2 { float:left;  width:962px; padding-top:10px; height:37px; }

#midnoticontainer1 { float:left; width:100%; background:url(../images/notificationbottombg.gif) repeat-x top; }
#midnoticontainermain1 { width:942px; padding-left:30px;  margin-left:auto; margin-right:auto;}
#boxarea_head3 { float:left;  width:962px; padding-top:10px; height:37px; }

#notifactionbox2 { float:left; width:664px; padding-top:30px; padding-bottom:20px;}
.signfields2 { float:left; width:618px; border-left:1px solid #cae3ed; border-right:1px solid #cae3ed; background:#e8f1f5; padding:10px;}
.signfields2 ul{ float:left; width:281px; padding-top:15px;}
.signfields2 ul li{ float:left; width:261px; list-style-type:none;  background:url(../images/textfieldbluebg.gif) no-repeat top; height:36px; line-height:36px; padding:1px 0px 15px 20px; }
.signfields2 h1 { float:left; width:618px; font-weight: bold; font-size: 18px; color: #1550a4; font-family:arial; text-decoration: none; padding-bottom:5px; }

#personalarea { float:left; width:100%; background:url(../images/bordergraphic.gif) repeat-x; padding-bottom:15px; }
/*#footerarea { float:left; width:100%; height:119px; border-top:1px dotted #cccccc; }*/
#personalinner { width:962px; padding-top:10px; margin-left:auto; margin-right:auto;}

#footerarea { float:left; width:100%; height:72x; background:url(../images/bordergraphic.gif) repeat-x; padding-bottom:15px; }
/*#footerarea { float:left; width:100%; height:119px; border-top:1px dotted #cccccc; }*/
#footer { width:972px; padding-top:10px; margin-left:auto; margin-right:auto;}
#footerleft {float:left; width:700px; height:25px; line-height:25px;}
#footerright {float:right; width:250px;}
#footericons {float:left; width:210px;  color:#403c3e; font-size:11px;}

.footerlink {font-weight: normal; font-size: 11px; color: #403c3e; font-family:arial; text-decoration: none;}
a.footerlink:link {font-weight: normal; font-size: 11px; color: #403c3e; font-family:arial; text-decoration: none;}
a.footerlink:active {font-weight: normal; font-size: 11px; color: #403c3e; font-family:arial; text-decoration: none;}
a.footerlink:visited {font-weight: normal; font-size: 11px; color: #403c3e; font-family:arial; text-decoration: none;}
a.footerlink:hover {font-weight: normal; font-size: 11px; color: #403c3e; font-family:arial; text-decoration: underline;}

h1 {font-weight: bold; font-size: 30px; color: #1550a4; font-family:arial; text-decoration: none;}
h3 {font-weight: bold; font-size: 18px; color: #404040; font-family:arial; text-decoration: none;}
#bottomboxarea p {font-weight: normal; font-size: 14px; color: #5b5b5b; font-family:arial; text-decoration: none; padding-top:5px; padding-bottom:20px; }
.text24 {font-family: arial; font-size: 24px; font-weight: normal; text-decoration: none; color: #000000;}
a.text24:hover {text-decoration: none; color: #000000;}
.pinktext {font-family: arial; font-size: 14px; font-weight: bold; text-decoration: none; color: #eb1d90;}
a.pinktext:hover {text-decoration: none; color: #eb1d90;}
.pinktext14 {font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #eb1d90;}
a.pinktext14:hover {text-decoration: none; color: #1550a4;}
.pinktext11 {font-family: arial; font-size: 11px; font-weight: normal; text-decoration: none; color: #eb1d90;}
a.pinktext11:hover {text-decoration: none; color: #1550a4;}
.pinktext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #eb1d90;}
a.pinktext12:link, a.pinktext12:visited, a.pinktext12:active {text-decoration: none; color: #eb1d90; font-weight:bold;}
a.pinktext12:hover {text-decoration: underline; color: #eb1d90; font-weight:bold;}
.blacktext {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #000000;}
.blacktext11 {font-family: arial; font-size: 11px; font-weight: normal; text-decoration: none; color: #000000;}
a.blacktext:hover {text-decoration: none; color: #000000;}
.blacktextbold {font-family: arial; font-size: 12px; font-weight: bold; text-decoration: none; color: #000000;}
a.blacktextbold:hover {text-decoration: none; color: #000000; font-weight: bold;}
.red {font-family: arial; font-size: 18px; font-weight: bold; text-decoration: none; color: #e21c3f;}
a.red:hover {text-decoration: none; color: #e21c3f;}
.red12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #e21c3f;}
a.red12:hover {text-decoration: none; color: #e21c3f;}
.green {font-family: arial; font-size: 18px; font-weight: bold; text-decoration: none; color: #71860b;}
a.green:hover {text-decoration: none; color: #71860b;}
.purple {font-family: arial; font-size: 18px; font-weight: bold; text-decoration: none; color: #a90e99;}
a.purple:hover {text-decoration: none; color: #a90e99;}
.blacktext2 {font-family: arial; font-size: 30px; font-weight: bold; text-decoration: none; color: #000000;}
a.blacktext2:hover {text-decoration: none; color: #000000;}
.bluetext30 {font-family: arial; font-size: 30px; font-weight: bold; text-decoration: none; color: #1550a4;}
a.bluetext30:hover {text-decoration: none; color: #1550a4;}
.greentext {font-family: arial; font-size: 30px; font-weight: bold; text-decoration: none; color: #1ba553;}
a.greentext:hover {text-decoration: none; color: #1ba553;}
.blueext30 {font-family: arial; font-size: 30px; font-weight: bold; text-decoration: none; color: #1550a4;}
ablueext30:hover {text-decoration: none; color: #1550a4;}
.pinktext30 {font-family: arial; font-size: 30px; font-weight: bold; text-decoration: none; color: #eb1d90;}
a.pinktext30:hover {text-decoration: none; color: #eb1d90;}

.greentext16 {font-family: arial; font-size: 16px; font-weight: bold; text-decoration: none; color: #1ba553;}
a.greentext16:hover {text-decoration: none; color: #1ba553;}
.blueext16 {font-family: arial; font-size: 16px; font-weight: bold; text-decoration: none; color: #1550a4;}
ablueext16:hover {text-decoration: none; color: #1550a4;}
.pinktext16 {font-family: arial; font-size: 16px; font-weight: bold; text-decoration: none; color: #eb1d90;}
a.pinktext16:hover {text-decoration: none; color: #eb1d90;}
.pinktext18 {font-family: arial; font-size: 18px; font-weight: bold; text-decoration: none; color: #eb1d90;}
a.pinktext18:hover {text-decoration: none; color: #eb1d90;}

.blacktext18{font-family: arial; font-size: 18px; font-weight: bold; text-decoration: none; color: #000000; line-height:20px;}
a.blacktext18:hover {text-decoration: none; color: #000000;}
.blacktext14 {font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000; line-height:20px;}
a.blacktext14:hover {text-decoration: none; color: #000000;}
.blacktext16 {font-family: arial; font-size: 16px; font-weight: normal; text-decoration: none; color: #000000; line-height:20px;}
a.blacktext16:hover {text-decoration: none; color: #000000;}

.blacktext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #000000; line-height:20px;}
a.blacktext12:hover {text-decoration: none; color: #000000;}
.blacktextgrey14 {font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #434242; line-height:20px;}
.textgreylight12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #7c7c7c; line-height:20px;}
a.blacktextgrey14:hover {text-decoration: none; color: #434242;}
.greytext {font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; color: #434242;}
a.greytext:hover {text-decoration: none; color: #434242;}
.bluetext2 {font-family: arial; font-size: 11px; font-weight: bold; text-decoration: none; color: #1550a4;}
a.bluetext2:hover {text-decoration: none; color: #1550a4;}
.bluetext11 {font-family: arial; font-size: 11px; font-weight: normal; text-decoration: none; color: #1550a4;}
a.bluetext11:hover {text-decoration: underline; color: #1550a4;}
.greytext11 {font-family: arial; font-size: 11px; font-weight: normal; text-decoration: none; color: #989898;}
a.greytext11:hover {text-decoration: none; color: #1550a4;}
.bluetext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #1550a4;}
a.bluetext12:hover {text-decoration: underline; color: #1550a4;}
.bluetextbold12 {font-family: arial; font-size: 12px; font-weight: bold; text-decoration: none; color: #1550a4;}
a.bluetextbold12:hover {text-decoration: underline; color: #1550a4; font-weight: bold;}
.navybluetext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #0286bc;}
a.navybluetext12:hover {text-decoration: underline; color: #0286bc;}
.navybluetext14 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #0286bc;}
a.navybluetext14:hover {text-decoration: none; color: #0286bc;}
.bluetext14 {font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #1550a4; line-height:20px;}
a.bluetext14:hover {text-decoration: underline; color: #1550a4;}
.bluetext16 {font-family: arial; font-size: 16px; font-weight: normal; text-decoration: none; color: #1550a4; line-height:20px;}
a.bluetext16:hover {text-decoration: none; color: #eb1d90;}
.bluetext18 {font-family: arial; font-size: 16px; font-weight: bold; text-decoration: none; color: #1550a4; line-height:20px;}
a.bluetext18:hover {text-decoration: none; color: #eb1d90;}
.bluetext20 {font-family: arial; font-size: 20px; font-weight: bold; text-decoration: none; color: #1550a4; line-height:20px;}
a.bluetext20:hover {text-decoration: underline; color: #1550a4;}
.bluetext {font-weight: bold; font-size: 14px; color: #5e82b1; font-family:arial; text-decoration: none;}
a.bluetext:link {font-weight: bold; font-size: 14px; color: #5e82b1; font-family:arial; text-decoration: none;}
a.bluetext:active {font-weight: bold; font-size: 14px; color: #5e82b1; font-family:arial; text-decoration: none;}
a.bluetext:visited {font-weight: bold; font-size: 14px; color: #5e82b1; font-family:arial; text-decoration: none;}
a.bluetext:hover {font-weight: bold; font-size: 14px; color: #5e82b1; font-family:arial; text-decoration: underline;}

.redtext {font-weight: bold; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none; line-height:20px;}
a.redtext:link {font-weight: bold; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none; line-height:20px;}
a.redtext:active {font-weight: bold; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none; line-height:20px;}
a.redtext:visited {font-weight: bold; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none; line-height:20px;}
a.redtext:hover {font-weight: bold; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: underline; line-height:20px;}



.textarea { width:660px; height:95px; border:0px; font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000;} 

.textarea1 {width:249px;  height:20px; border:none; border:hidden; font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000; margin:6px 0px 0px 0px;}
.textarea2{width:60px;  height:20px;  margin:5px 5px 5px 0; border:0;  font-family: arial; font-size: 14px; font-weight: normal; text-decoration: none; color: #000000;}

div, p, h1 , h2, h3, ul,li { padding:0px; margin:0px;}
select { border:none;}

/*blog*/
#blogleft { float:left; width:665px;}
.blogtextarea { float:left; width:665px; padding-bottom:12px;}
.blogtextareahead { float:left; width:665px; background:url(../images/bordergraphic.gif) repeat-x; padding-bottom:12px; }
.blogimgarea { float:left; width:665px;  padding-top:12px;}
.blogimg { float:left; padding-right:20px; width:48px;}
.blogimgtext { float:left; padding-right:10px; width:533px;}
.blogimgright { float:left; padding-right:10px; width:44px;}
.blogtext { float:left; padding-top:20px; padding-right:10px; width:655px; padding-bottom:10px;}
.blogiconarea { float:left; width:665px;}
.likepost { float:left; width:100px; height:26px; padding-right:5px;}
.face { float:left; width:340px; height:16px;  padding-top:7px; }
.blogicon { float:left; width:50px; height:16px; padding-top:7px; padding-right:0px;}
.blogicon ul { float:left;padding:0px; margin:0px; list-style-type:none; width:50px;}
.blogicon ul li {float:left; padding:0px; margin:0px; list-style-type:none; width:16px; padding-left:5px; display:inline;}
.blogicontext { float:right; width:200px; height:16px; padding-top:7px; vertical-align:bottom;}
#blogright { float:left; width:272px; padding-left:5px;}
#blogrighttop { float:left; width:272px; background:url(../images/blogrighttop.gif) no-repeat top; height:7px;}
.blogrightmidmain { float:left; width:250px; background:url(../images/blogrightmid.gif) repeat-y top; padding:5px 5px 5px 17px; }
#blogrightbottom { float:left; width:272px; background:url(../images/blogrightbottom.gif) no-repeat top; height:7px;}
#searcharea2 { float:left; width:199px; background:url(../images/searchleft2.gif) no-repeat left; padding-left:6px; height:35px; }
#searchright {float:left; width:34px;  height:35px;}
.blogrightmidmain1 { float:left; width:255px; background:url(../images/blogrightmid.gif) repeat-y top; padding:5px 5px 5px 12px; }
.blogarearight1 { float:left;  width:246px; padding-top:20px; }
.blogarearight { float:left;  width:242px; padding-top:20px; }
.blogrightcurvetop { float:left; width:242px; height:9px; background:url(../images/right_curvetop.gif) no-repeat top; font-size:1px;}
.blogrightmid { float: left; width:225px; background:url(../images/right_curvemid.gif) repeat-y top left; padding-left:15px;}
.blogrightmid h1 { float:left; font-weight: bold; font-size: 16px; color: #0286bc; font-family:arial; text-decoration: none; }
.blogrightbot { float: left; width:242px; height:9px;  background:url(../images/right_curvebot.gif) no-repeat top; }
.blogiconright { float:left; width:215px; height:22px; padding-top:7px; padding-right:10px;}
.blogiconright ul { float:left;padding:0px; margin:0px; list-style-type:none; width:215px;}
.blogiconright ul li {float:left; padding:0px; margin:0px; list-style-type:none; width:21px; padding-right:10px; display:inline;}
.blogiconright2 { float:left; width:215px;  padding-top:7px; padding-right:10px;}
.blogiconright2 ul { float:left;padding:0px; margin:0px; list-style-type:none; width:215px;}
.blogiconright2 ul li {float:left; padding:0px; margin:0px; list-style-type:none; width:205px; height:20px; line-height:20px; padding-right:10px; }
.blogbg { float:left; width:270px; border-left:1px solid #b6d5e1; border-right:1px solid #b6d5e1; background:url(../images/blogbg.gif) no-repeat; font-size:1px; height:2px;  }
.blogbluetop { float:left; width:246px; height:9px; background:url(../images/blogbluetop.gif) no-repeat top; font-size:1px;}
.blogbluemid1 { float: left; width:231px; background:url(../images/blogbluemid1.gif) repeat-y top left; padding-left:15px; border-bottom:1px dashed #9dc2cf;}
.blogbluemid2 { float: left; width:231x; background:url(../images/blogbluemid2.gif) repeat-y top left; padding-left:15px; border-bottom:1px dashed #9dc2cf;}
.blogbluemid3 { float: left; width:231px; background:url(../images/blogbluemid3.gif) repeat-y top left;  padding-left:15px; border-bottom:1px dashed #9dc2cf;}
.blogbluemid4 { float: left; width:231px; background:url(../images/blogbluemid4.gif) repeat-y top left;  padding-left:15px;}
.blogbluebot { float: left; width:246px; height:9px;  background:url(../images/blogbluebottom.gif) no-repeat top; }

.blogarrow { float:left; width:221px;  padding-top:7px; padding-right:10px;}
.blogarrow ul { float:left;padding:0px; margin:0px; width:227px;}
.blogarrow ul li {float:left; padding:0px; margin:0px; list-style-type:none; list-style-position:inside; width:211px; padding-right:10px; padding-left:10px; padding-bottom:10px; }
h4 { float:left; width:221px; padding-bottom:7px;  font-weight: bold; font-size: 14px; color: #303030; font-family:arial; text-decoration: none; margin:0px;}
#topnav2 { float:right; width:400px; margin:0px;  padding:30px 0px 0px 30px; }
#topnav2 ul {padding:0; margin:0; width:100%; float:left; list-style:none;}
#topnav2 ul li {display: inline; }
#topnav2 ul li a {  font-weight: normal; font-size: 14px; color: #2a2a2a; font-family:arial; text-decoration: none;  padding:10px 0px 15px 10px; 	}
#topnav2 ul li a:hover { padding:10px 0px 12px 10px;  font-weight: normal; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none;   }
#topnav2 ul li a.currenttext { font-weight: normal; font-size: 14px; color: #eb1d90; font-family:arial; text-decoration: none; 	}



/*publicprofile*/
#profileleft { float:left; width:264px;}
#profilelefttop { float:left; width:264px; background:url(../images/profile_lefttop.gif) no-repeat top left; font-size:1px; height:11px;}
#profileleftmid { float:left; width:264px; background:url(../images/profile_leftmid.gif) repeat-y top left;  }
#profileleftbot { float:left; width:264px; background:url(../images/profile_leftbot.gif) no-repeat top left; font-size:1px; height:11px;}
.proleftwhite {float:left; width:240px; padding:0px 12px 12px 12px;}
.proleftwhitetop { float:left; width:240px; background:url(../images/profileleftwhitetop.gif) no-repeat top left; font-size:1px; height:6px;}
.proleftwhitemid { float:left; width:230px; background:url(../images/profileleftwhitemid.gif) repeat-y top left; padding:0px 5px 0px 5px;}
.proleftwhitebot { float:left; width:240px; background:url(../images/profileleftwhitebot.gif) no-repeat top left; font-size:1px; height:8px;}
.profilearea { float:left; width: 208px; padding:5px 0px 10px 10px;}
.profileimg { float:left; width: 208px; }
.profileimgtext { float:left; width: 208px; padding-top:10px;  }
.profileimgtext ul  { float:left; width: 208px; list-style-type:none; padding:0px; margin:0px; }
.profileimgtext ul li  { float:left; width: 208px; list-style-type:none; padding:0px; margin:0px; height:20px; line-height:20px; }
.followarea { float:left; width:220px; padding-right:15px; padding-left:5px;}
.profileheading { float:left; font-weight: normal; font-size: 18px; color: #000000; font-family:arial; text-decoration: none; }
.seeall { float:right; padding-top:4px; }
.followingimg { float:left; width: 220px; padding-top:10px; padding-bottom:5px; }
.followingimg ul  { float:left; width: 220px; list-style-type:none; padding:0px; margin:0px; }
.followingimg ul li  { float:left; width: 48px; padding-bottom:10px; padding-right:7px; list-style-type:none; margin:0px; text-align:center;  }
#profileright { float:left; width:663px; padding-left:15px;}
#proheading { float:left; width:663px;  }
.profiletext2 { float:left; width: 254px; padding-bottom:10px; padding-top:10px;}
.profiletext2 ul  { float:left; width: 254px; list-style-type:none; padding:0px; margin:0px; }
.profiletext2 ul li  { float:left; width: 254px; list-style-type:none; padding-right:10px; margin:0px; height:20px; line-height:20px; }
.thankyoutextarea { float:left; width: 600px; padding-bottom:10px; padding-top:10px; }
.thankyoupic { float:left; width: 48px; text-align:center; }
.thankyoutext { float:left; width: 180px; padding-left:8px; padding-top:2px; vertical-align:top;}
.commentsarea { float:left; /* width: 350px; */ padding-bottom:10px; padding-top:10px;}
.commentbox { float:left; width: 350px; padding-bottom:5px; padding-top:5px;}
#toggleText { float:left; width: 400px; padding-bottom:5px; padding-top:5px;}
#toggleText ul { float:left; width: 550px; list-style-type:none;}
#toggleText ul li {list-style-type:none; float:left; width: 350px; padding-bottom:5px; }
.togglecommentfield {float:left; width:500px; border:1px solid #cccccc; height:25px; padding-top:4px; margin-bottom:5px; padding-left:5px; }
.replycommentfield {float:left; width:276px; border:1px solid #cccccc; height:25px; padding-top:4px; margin-bottom:5px; padding-left:5px; }
.togglecomment {float:left; width:276px; border:1px solid #cccccc; height:60px; padding-top:4px; margin-bottom:5px; padding-left:5px; }
#leavecommentText { float:left; width: 650px; padding-bottom:0px; padding-top:0px;}
#leavecommentText ul { float:left; width: 650px; list-style-type:none;}
#leavecommentText ul li {list-style-type:none; float:left; width: 650px;  }
#hidecommentfield { float:left; width: 650px; padding-bottom:10px; padding-top:0px;}
#hidecommentfield ul { float:left; width: 650px; list-style-type:none;}
#hidecommentfield ul li {list-style-type:none; float:left; width: 650px;  }
#leavethankyouText { float:left; width: 650px; padding-bottom:5px; padding-top:5px;}
#leavethankyouText ul { float:left; width: 650px; list-style-type:none;}
#leavethankyouText ul li {list-style-type:none; float:left; width: 650px; padding-bottom:5px; }

#conversation_addcomment { float:left; width: 650px; padding-bottom:5px; padding-top:5px;}
#conversation_addcomment ul { float:left; width: 650px; list-style-type:none;}
#conversation_addcomment ul li {list-style-type:none; float:left; width: 650px; padding-bottom:0px; }



#commentForm {float:left; width:250px; display:none; font-family:Arial,sans-serif; font-size:0.8em;}
.commentsreply { float:left; width: 300px; padding-left:20px; padding-top:20px;}
.conversationarea { float:left; width: 650px; padding-bottom:10px; padding-top:10px;}
.conversationarea ul  { float:left; width: 650px; list-style-type:none; padding:0px; margin:0px; }
.conversationarea ul li  { float:left; width: 650px; list-style-type:none; padding-right:10px; margin:0px; height:20px; line-height:15px; }
.conversationtext { float:left; width: 500px; padding-left:8px; padding-top:0px;}
.conversationtext ul  { float:left; width: 500px; list-style-type:none; padding:0px; margin:0px; }
.conversationtext ul li  { float:left; width: 500px; list-style-type:none; padding-right:10px; margin:0px; height:20px; line-height:20px; }
.conversationtextsmall { float:left; width:500px;  padding-top:6px;}
.activitiestext { float:left; width: 500px; padding-top:10px; }
.activitiestext ul  { float:left; width: 500px; list-style-type:none; padding:0px; margin:0px; }
.activitiestext ul li  { float:left; width: 500px; list-style-type:none; padding-right:10px; margin:0px; height:20px; line-height:20px; }
.prosubheading { float:left; width:663px; border-top:1px dashed #a7a7a7; border-bottom:1px dashed #a7a7a7; padding:8px 0px 8px 0px;}
.protext { float:left; padding-top:8px; padding-bottom:8px; width:663px; color:#000000; font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none;}


/* Tabs area*/
#tabbed_box_1 {
	
	width:940px;
}
.tabbed_area {


	padding:8px;	
}

.greytext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #585b5c;}
a.greytext12:hover {text-decoration: none; color: #585b5c;}
.lightgrey12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #979797;}
a.lightgrey12:hover {text-decoration: none; color: #979797;}
.blue13{font-family: arial; font-size: 13px; font-weight: normal; text-decoration: none; color: #1550a4;}
a.blue13:hover {text-decoration: none; color: #000000;}
.blkq13{font-family: arial; font-size: 13px; font-weight: normal; text-decoration: none; color: #000000;}
a.blkq13:hover {text-decoration: none; color: #000000;}
.pinktext25 {font-family: arial; font-size: 25px; font-weight: normal; text-decoration: none; color: #ec2b98; }
a.pinktext25:hover {text-decoration: none; color: #ec2b98;}
.blacktext25 {font-family: arial; font-size: 25px; font-weight: normal; text-decoration: none; color: #000000; }
a.blacktext25:hover {text-decoration: none; color: #000000;}
.headingarea { float:left; width:893px; padding-left:30px; padding-bottom:10px; height:33px; line-height:33px; border-bottom:1px dashed #c2c2c2;}
.tabheading {float:left; width:540px; vertical-align:middle; }
.seemore {float:right;}
.headingarea2 { float:left; width:923px; padding-bottom:10px; height:33px; line-height:33px; border-bottom:1px dashed #c2c2c2;}
.thnksarea {float:left; width:893px; padding-top:10px; padding-left:30px; }

.thnksfollowing { float:left; width:289px; padding-right:8px; padding-bottom:28px; }
.thnksfollowingimg { float:left; width:80px; padding-right:10px;}
.thnksfollowingtext { float:left; width:199px; }
.thnksbottom {float:left; width:893px; padding-left:30px; padding-top:10px; height:33px; line-height:33px; border-top:1px dashed #c2c2c2;}

.thnksarea2 {float:left; width:923px; padding-top:10px; }
.thnkstext2 { float:left; width:294px; padding-right:8px; padding-bottom:28px; }

.greytext25 {font-family: arial; font-size: 25px; font-weight: normal; text-decoration: none; color: #818181;}
a.greytext25:hover {text-decoration: none; color: #818181;}

/* convques ans*/
.startedarea  { float:left; padding-top:10px; width:923px;}
.started { float:left;width:420px; padding:0px 20px 15px 21px;}
.started  p{ float:left;width:420px; padding-top:8px;}
.convquetext p { float:left;width:344px; padding-top:8px;}
.paging { float:right; text-align:right; width:325px; height:33px; line-height:33px;}
.nextprebutton { float:left; height:24px; width:79px; padding-top:5px;}
.pagenumb { float:left; width:150px; padding-left:2px; padding-right:10px; height:33px; line-height:33px; font-family: arial; font-size: 11px;text-decoration: none; color: #1550a4;}
a.visited { font-weight:bold;font-family: arial; font-size: 11px;text-decoration: none; color: #1550a4;}
.headingarea2 { float:left; width:903px; padding-left:20px; padding-bottom:10px; height:33px; line-height:33px; border-bottom:1px dashed #c2c2c2;}

.convque { float:left; width:442px; padding:0px 2px 15px 17px; padding-bottom:28px; }
.convqueimg { float:left; width:80px; padding-right:10px;}
.convquetext { float:left; width:348px; }








/* 
	Additions/Fixes 
	We put this separately because designer's code changes frequently now.
*/
.datefields {width:75px;}
/* #signupleft h5 {margin: 0px; padding-top: 10px; font-size:14px; clear:both;} */
.error {font-size: 14px; color: red}
.success {font-size: 14px; color: green}
.simpletext {font-size: 14px;}
#footerleft {font-size:11px;}

#innermiddlearea #tipsbox {float: right; width: 200px; font-size: 14px;}
.notifactionboxmid #submit {padding-left: 10px}

.signfields2 .row label {float: left; display: block; width: 300px; font-size: 18px; padding-top:5px;}
.signfields2 .row div { background:transparent url(../images/textfieldbluebg.gif) no-repeat scroll center top; height:36px; line-height:36px; padding:1px 0 7px 20px; width:261px; margin-left:300px;}

.commentsreply {
	padding-top: 0px;
}

.replyForm { float:left; width: 350px; padding-bottom:5px; padding-top:5px;}
.replyForm ul { float:left; width: 350px; list-style-type:none;}
.replyForm ul li {list-style-type:none; float:left; width: 350px; padding-bottom:5px; }

/* Health Details page - for now we make Health Items lists in one column */
.healthitemCol1 { float:left; width:500px; margin-left: 0em; line-height: 1.2em; }
.healthitemCol2 { float:left; width:300px; margin-left: 20em; line-height: 1.2em; }
/* .healthitemCol2margin-top: -6em; */

/* Headings on Public Profile page */
.prosubheading { margin-top: 14px }
/* Public info on Profile page - for multirows values */
.personalinfo ul li { height: auto }
/* Health Info on Profile page - wider columns */
.profiletext2 { width: 300px }
.profiletext2 ul li { width: 300px }

/* Profile Prefernces items */
.preferencescheck {
	float:left;
	padding-right:5px;
	width:600px;
	margin-bottom:5px;
}

.required { font-size: 14px; color: red; font-weight: bold; padding-left: 5px}

.blacksubtitle {
	color: black;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	text-decoration:none;
}

#examplequestion {
	background: none;
	padding-left: 0px;
	position: relative;
	line-height: normal;
}
.exampleQuestionsImage {
	position: absolute;
	top: 12px;
}
.exampleQuestionsText {
	position: absolute;
	top: 18px;
	left: 25px;
}

.tabcontent {
	background-color:#ffffff;
	padding-top:20px;
	border-top:1px solid #d3d3d3; 	
	font-family:Arial, Helvetica, sans-serif;
}

.whitetext12 {font-family: arial; font-size: 12px; font-weight: normal; text-decoration: none; color: #ffffff;}

/* 
	Fix for pagination
	Designer's made static paging (with 10 pages), but we have variable number of pages.
*/
.pagenumb { width: auto; float: right; padding-left:9px; }
.nextprebutton { float: right}

.fulltext { display: none }

/* Autocomplete items */
.ui-menu .ui-menu-item a {
	font-size: 14px;
	color: #666666;
}
.ui-menu .ui-menu-item a span {
	color: #BBBBBB;
	font-size: 70%;
}
.ui-menu .ui-menu-item a span b {
	color: #000000;
}