<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Dashboard : Moderate new Question</title>
	
	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	<link type="text/css" href="/public/stylesheets/smoothness/jquery-ui-1.8.14.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" ></script>
    <script type="text/javascript" src="/public/javascripts/jquery-ui-1.8.14.custom.min.js"></script>
	<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
	<script type="text/javascript" src="/public/javascripts/all.js" ></script>
	<script type="text/javascript"><!--
	
	saveNote = function(convoId) {
		var note = $("#note_"+convoId).val();
		$.post("/dashboard/notification", 
				{ id: convoId, details: note },
				function(data) {
					//alert(data);
				}
			);
		return false;
	}
	notifyExpert = function(convoId) {

		var note = $("#note_"+convoId).val();
		var expertName = $("#userName"+convoId).val();
		$.post("/dashboard/notification", 
				{ id: convoId, details: "NOTIFY", expertName: expertName, note: note  },
					function(data) {
						document.getElementById("notifyUser"+convoId).innerHTML = "";
						document.getElementById("notifyUser"+convoId).innerHTML = expertName +" notified!";
				}
			);
		return false;
		
	}

	$(document).ready(function(){
		$("#userName")
		.focus(function() {
			$("#userName").autocomplete( "search" );
		})
		

		$("#userNameHelp")
		.focus(function() {
			$(this).hide();
			$("#userName").show().focus();
		})
		
		makeAutocomplete("#userName", "user");
	});

	setAutocomplete = function(convoId) {
		$("#userName"+convoId).focus(function() {
			$("#userName"+convoId).autocomplete( "search" );
		});
		

		$("#userNameHelp"+convoId).focus(function() {
			$(this).hide();
			$("#userName"+convoId).show().focus();
		});
		
		makeAutocomplete("#userName"+convoId, "user");
	}

	changeState = function(convoId, state){
		if(state == "Select")
			state = "";
		$.post("/dashboard/notification", 
				{ id: convoId, details: "CHANGE_STATE", state: state},
					function(data) {
						//alert(data);
				}
			);
		return false;
	}
	
	--></script>
	<style type="text/css">
		body {
			margin: 20px;
			width: auto;
			font-size: 12px;
		}
		#notificationbar {
			border: #000000 dashed 1px;
			margin-top: 3px;
			padding: 10px;
		}
	</style>
</head>
<body>
		<table width="100%">
			<tr>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Home.index()}">Home</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/notification">Moderate New Questions</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/dashboard/userlist">Users</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="/questionrecovery">Question Recovery</a></td>
				<td style="padding-right:20px;" nowrap="nowrap"><a href="@{Secure.logout()}">Logout</a></td>
				<td style="width: 100%;">&nbsp;</td>
			</tr>
		</table>
		 
		<form method = "post" action = "@{Dashboard.notification()}" >
			<table style="width: 100%">
				<tr>
					<td valign = "top" width="50%">
						<div>
							<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
								<tr>
									<th style="padding:3px;" >Question List</th>   
								</tr>
									<tr>
										<td>
										<table border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
											
												#{if list != null}
												<tr>
											 
												<th nowrap="nowrap">Last modified</th>
												<th nowrap="nowrap">Question</th>
												<th nowrap="nowrap">Question Details</th>
												<th nowrap="nowrap">Notes from moderator</th>
												<th nowrap="nowrap">To Expert</th>
												<th nowrap="nowrap">Notify Expert</th>
												<th nowrap="nowrap">State of Question</th>
												<!-- <th nowrap="nowrap">Moderated</th> 
												<th nowrap="nowrap">Moderate & Notify</th> -->
												<th nowrap="nowrap">Remove from list</th>
												
											</tr>
													
													#{list items: list, as: 'convo' }
													<tr>
														
														<td nowrap="nowrap"> ${convo.creationDate?.format('MM/dd/yyyy, HH:MM ')} </td> 
														<td><a href="/${convo.mainURL}" target="_new">${convo.topic}</a></td>
														<td>${convo.details}</td>
														<td nowrap="nowrap">
															<table cellpadding="0" cellspacing="0"><tr><td><textarea id="note_${convo.id}" cols="25" rows="3">${convo.adminComments}</textarea>
															</td><td><button onclick="return saveNote('${convo.id}');">Save</button>
															</td></tr></table> 
														</td>
														<td>
															#{if convo.notifedTalker != null }
															${convo.notifedTalker.userName} (${convo.notifedTalker.email})
															#{/if}
														</td>
														<td nowrap="nowrap">
															<div id="notifyUser${convo.id}">
																<table cellpadding="0" cellspacing="0">
																	<tr><td><!--<input type="text" size="15" id="exp_${convo.id}"/>
																	 --><input id="userNameHelp${convo.id}" type="text" size="15"/>
		             												 <input type="text" size="15" style="display: none;" id="userName${convo.id}" />
																	</td><td><button onclick="return notifyExpert('${convo.id}');">Notify</button>
																	</td></tr>
																</table>
															</div> 
														</td>
														<!-- # { if topicInfo . flag}
														<td>Yes</td>
														<td></td>
														# { / i f }
														# { e lse }
														<td>No</td> -->
														<!-- <td><a href="/dashboard/notification?id=$ { t opicInfo . id }">Moderate & Send</a></td> -->
														<td>
															<select onchange="changeState('${convo.id}',this.value);">
																#{list items:models.ConversationBean.QUESTION_STATE_ARRAY, as:'state'}
																    <option value="${state}"
																    #{if state.equals(convo.questionState) } selected #{/if} 
																    >${state}</option>
																#{/list}
															</select>
														</td>
														<td><a href="/dashboard/notification?id=${convo.id}&details=REMOVE">Remove</a></td>
														
														<!--  # { / else }-->
													</tr>
													<script>setAutocomplete('${convo.id}');</script>
													#{/list}
													#{/if}
													#{else}
														<tr><td>To</td><td>${bean.talker.userName} (${bean.talker.email})
															<input type="hidden" name="id" value="${bean.id}" />
														</td></tr>
														<tr><td>Message</td><td>${bean.convos.topic}</td></tr>
														<tr><td>Details</td><td><textarea rows="10" cols="100" name="details">${bean.convos.details}</textarea> </td></tr>
														<tr><td colspan="2"><button type="submit" value="do" >Modrate & Notify</button>
														<a href="/dashboard/notification">Back</a>
														</td></tr>
													#{/else}
										</table>
										</td>   
									</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</form>
		#{ common/googleAnalytics /}
		
		<!-- Quantcast Tag -->
		<script type="text/javascript">
			var _qevents = _qevents || [];
			
			(function() {
			var elem = document.createElement('script');
			elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
			elem.async = true;
			elem.type = "text/javascript";
			var scpt = document.getElementsByTagName('script')[0];
			scpt.parentNode.insertBefore(elem, scpt);
			})();
			
			_qevents.push({
			qacct:"p-7aWXmxtlCHn1M"
			});
		</script>
		
		<noscript>
		<div style="display:none;">
		<img src="//pixel.quantserve.com/pixel/p-7aWXmxtlCHn1M.gif" border="0" height="1" width="1" alt="Quantcast"/>
		</div>
		</noscript>
		<!-- End Quantcast tag -->
	</body>
</html>
