#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		#innermiddlearea { padding-top: 10px }
		
		.topicfolth1 { font-size: 22px; }
	</style>
	
</header>
<body>
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
    	<div id="targetedtherapy">
          <div id="innerpersonalareaz">
            <div id="mtcover">
              <div id="comleft">
                <div class="comcontent" style="width: 650px;">
                  <div class="topipcWraper">
                  	<div class="topicfolth1">
	                  	<a href="@{ViewDispatcher.view(talker.userName)}" 
	                    	class="bluetext20">${talker.userName}'s</a> Answers (${answersFeed.size()}) 
	                    #{if answersFeed.size() > 0}
	                    	- Top Answers: ${numOfTopAnswers}
	                    #{/if} 
	                </div>
	                
	                #{if answersFeed.size() == 0 && talker.equals(currentTalker) }
						<span class="blacktext14">No answers yet, 
							but we are looking forward to you sharing your experiences and knowledge.</span>
						<br/><br/>
					#{/if}
	                #{if noHealthInfo}
	                	<span class="blacktext14">Please fill out your Health Information 
	                		so that we can recommend conversations to answer.</span>
                  	#{/if}
                  	
                  	#{list items: answersFeed, as: 'answerActivity'}
                  		#{feedActivity activity: answerActivity, talker: talker /}
                  	#{/list}
                  	
                  </div>
                  <div class="cb"></div>
                </div>
                <!--comcontent-->

                <div class="cb"></div>
              </div>
            
            #{ set currentPage = 'answers' /}
            #{ include 'PublicProfile/profileRight.html' /}
            
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>