#{ extends 'main.html' /}
	<script type="text/javascript"> 	 
   		$(document).ready(function() {
   			$(".commentreply").each(function() {
				$(this).val("Reply to comment..").css("color", "#777777");
			});

   			$("#replytext")
	   			.click(function() {
		   			updateCommentState('Extended');
	   			})
	   			.blur(function() {
		   			if ($(this).val() == "") {
		   				updateCommentState('Initial');
		   			}
	   			});
	
	   		$(".commentreply")
	   			.click(function() {
	   				updateReplyState($(this), 'Extended');
	   			})
	   			.blur(function() {
		   			if ($(this).val() == "") {
		   				updateReplyState($(this), 'Initial');
		   			}
	   			});
	   	});

   		function updateCommentState(newState) {
   	   		if (newState == 'Initial') {
   	   			$("#replytext").val("What are you thinking?").css("color", "#777777");
				$("#commentBtn").hide();
   	   		}
   	   		else if (newState == 'Extended') {
	   	   		$("#replytext").val("").css("color", "#000000");
	   			$("#commentBtn").show();
   	   		}
   		}

   		function updateReplyState(replyTextArea, newState) {
   	   		if (newState == 'Initial') {
   	   			replyTextArea.val("Reply to comment..").css("color", "#777777");
   	   			replyTextArea.parent().next().hide();
   	   		}
   	   		else if (newState == 'Extended') {
   	   			replyTextArea.val("").css("color", "#000000");
	   			replyTextArea.parent().next().show();
   	   		}
   		}

   		//saveProfileComment(String profileTalkerId, String parentId, String text)
   		function saveProfileComment(parentId) {
   	   		var commentText = $("#replytext"+parentId).val();
   			$("#replytext"+parentId).val("");

   			$.post("@{Actions.saveProfileComment()}", 
  				{ profileTalkerId: '${talker.id}', parentId: parentId, text: commentText},
  				function(html) {
  	  				$("#firstcommentmessage").hide();
  					//put comment in the tree
  					if (parentId == '') {
  	  					//add as first element in the top
  						$(html).prependTo($(".commentsarea"));
  					}
  					else {
  						//add as last element in subtree
  						$("#reply"+parentId).before($(html));
  					}
  				}
  			);

   			if (parentId == '') {
   				updateCommentState('Initial');
			}
			else {
				updateReplyState($("#replytext"+parentId), 'Initial');
			}
  			return false;
   		}
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		#reply {
			padding: 10px 0 0 0;
		}
		.commentsarea {
			padding-top: 0px;
		}
		#replytext {
			height: 20px;
			color: #777777;
		}
		.commentreply {
			height: 20px;
			color: #777777;
		}
	</style>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">${talker.userName} Comments (${talker.profileCommentsList.size()})</div>
		<div id="innerpersonalarea">
			<div id="signupleftarea">
				#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.COMMENTS) }
					#{if talker.followingList.contains(currentTalker) || talker.userName.equals(currentTalker.userName)}
						<div id="reply" class="replyForm">
							<ul>
								<li>
									<textarea class="togglecomment" rows="1" cols="45" 
										id="replytext">What are you thinking?</textarea>
							    </li>
								<li id="commentBtn" style="display: none">
									<div style="height: 46px; padding-top: 2px;" class="personaltextarea">
										<a href="#" onclick="return saveProfileComment('');">
											<img width="145" height="32" border="0" src="/public/images/addcomment_btn.gif"/>
										</a>
									</div>
								</li> 
							</ul>
						</div>
					#{/if}
					<div class="commentsarea">
						#{if talker?.profileCommentsList?.isEmpty()}
							<span id="firstcommentmessage" class="blacktext12">
								${talker.userName} does not have any Comments, be the first to leave a Comment.
							</span>
						#{/if}
						#{profileCommentsTree commentsList: talker.profileCommentsList, level: 1 /}
					</div>
				#{/if}
				#{else}
					<span class="blacktext14">This information has been made private.</span>
				#{/else}
			</div>
		</div>
	</div>