#{ extends 'main.html' /}
*{ TODO: Same as following? One parent template? }*
	<script type="text/javascript"> 	 
		var selectedTalkerId = '';
   		$(document).ready(function() {
   			$(".followActionLink").click(function() {
   				var followingId = $(this).attr("rel");
   				var followLink = $(this);
   	   			$.post("@{Actions.follow()}", 
   	  				{ followingId: followingId },
   	  				function(data) {
   	  					followLink.html(data);
   	  				}
   	  			);
	   		});

   			$(".commentLink")
   				.click(function(){ 
	   				selectedTalkerId = $(this).attr("rel2");
	   			})
	   			.fancybox({
	   			    'hideOnContentClick': false,
	   			    'showCloseButton': false
	   			});
	   		
	   		$(".thankYouLink")
	   			.click(function(){ 
	   				selectedTalkerId = $(this).attr("rel2");
	   			})
	   			.fancybox({
	   			    'hideOnContentClick': false,
	   			    'showCloseButton': false
	   			});
   		});

   		//createThankYou(String toTalker, String note)
   		function thankYou() {
   	   		var noteText = $("#thankYouNote").val();

   	   		$.fancybox.close();
   			$("#thankYouNote").val("");

   			$.post("@{Actions.createThankYou()}", 
  				{ toTalker: selectedTalkerId, note: noteText}
  			);
   		}

   		//saveProfileComment(String profileTalkerId, String parentId, String text)
   		function saveProfileComment() {
   	   		var commentText = $("#commentText").val();
   	   		$.fancybox.close();
			$("#commentText").val("");

   			$.post("@{Actions.saveProfileComment()}", 
  				{ profileTalkerId: selectedTalkerId, parentId: '', text: commentText}
  			);
   		}
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		#signupleftarea, #thankyoulist {
			width: auto;
		} 
		.profiletext2 {
			width:250px;
		}
	</style>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">${talker.userName} Followers</div>
		<div id="innerpersonalarea">
			<div id="signupleftarea">
				#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
					<div>
						#{list items:talker.followerList.limit(3*10), as:'follower' }
							<div class="profiletext2">
								<div class="thankyoupic">
									<a href="@{PublicProfile.view(follower.userName)}">
										<img width="48" height="48" src="@{Image.show(follower.userName)}" border="0" />
									</a>
								</div>
								<div class="thankyoutext">
									<a href="@{PublicProfile.view(follower.userName)}" 
										class="bluetext11">${follower.userName}</a><br/>
									<span class="blacktext11">${follower.levelOfRecognition}</span><br/>
								  	<span class="blacktext11">${follower.bio}</span>
								 </div>
								 <div style="clear: both; padding-left: 5px; padding-top: 3px;">
								 	#{ifnot currentTalker?.equals(follower) }
									 	<a class="bluetext12 followActionLink" rel="${follower.id}" href="#">
										${ currentTalker.followingList.contains(follower) ? 'Unfollow' : 'Follow'}
										</a> | 
									#{/ifnot}
									*{ TODO Not rel2 ? }* 
								 	<a href="#commentform" rel2="${follower.id}" class="bluetext12 commentLink">Comment</a>
								 	#{ifnot currentTalker?.equals(follower) }
									 	 | <a href="#thankyouform" rel2="${follower.id}" class="bluetext12 thankYouLink">Thank</a>
									#{/ifnot}
								 </div>
							</div>
						#{/list}
					</div>
				#{/if}
				#{else}
					<span class="blacktext14">This information has been made private.</span>
				#{/else}
			</div>
		</div>
	</div>

<!-- Pop-up Thank You form -->
<div id="hiddenwindows" style="display: none">
	<div id="thankyouform">
		<table align="center" cellspacing="10">
			<tr>
				<td align="right" valign="top">'Thanks You' note:</td>
				<td><textarea rows="5" cols="30" id="thankYouNote" name="thankYouNote" ></textarea></td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input id="thankYouBtn" onClick="thankYou()" type="button" value="Give a 'Thanks you'"/>
					<input id="cancelBtn" onClick="$.fancybox.close();" value="Cancel" type="button" />
				</td>
			</tr>
		</table>	
	</div>
	
	<div id="commentform">
		<table align="center" cellspacing="10">
			<tr>
				<td align="right" valign="top">Comment:</td>
				<td><textarea rows="5" cols="30" id="commentText" name="commentText" ></textarea></td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input id="commentBtn" onClick="saveProfileComment()" type="button" value="Save comment"/>
					<input id="cancelBtn" onClick="$.fancybox.close();" value="Cancel" type="button" />
				</td>
			</tr>
		</table>	
	</div>
</div>