#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		/* Hide images in talker's feed */
		.joinpic { display: none; }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		var feedsPerPage = ${logic.FeedsLogic.TALKERFEEDS_PER_PAGE};
	
		$(document).ready(function() {
			$('.inline-edit').inlineEdit( { hover: ''} );
		});
	</script>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
		<div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">


			  <div class="profileCatant">
                  <div class="mtcontent">
                  	#{if notProvidedInfo }
                  		<div id="provideInfoHelp" class="helpInfo">
						      <div class="popboxWraper">
						        <div class="popbox2">
						          <div class="closecover" style="clear: none; float: right;">
						            <div class="close" onclick="return hideHelpInfo('provideInfo', false);">
						            	<img src="/public/images/close.jpg" alt="Close" /></div>
						          </div>
						          <div class="note">
								  	<strong>Notice:</strong>
								  	#{if talker.isProf() }
								    	You have not provided Personal Info. 
									  	You may provide this information using the 
									  	<a href="@{Profile.edit()}">Edit Profile</a> page. 
									  	<br/>
									  	<br/>
									  	Your Personal Info will never be viewable by the public.
								    #{/if}
								    #{else}
								    	You have not provided Personal Info or Health Info. 
									  	You may provide this information using the 
									  	<a href="@{Profile.edit()}">Edit Profile</a> and 
									  	<a href="@{Profile.healthDetails()}">Edit Health Info</a> pages. 
									  	<br/>
									  	<br/>
									  	Your Personal Info and Health Info will never be viewable by the public.
								    #{/else}
								  	
								  	<br/>
								  	<br/>
						          </div>
						          <div class="cb"></div>
						        </div>
						        <!--popbox2-->
						
						      </div>
						      <div class="cb"></div>
						</div> 
                  	#{/if}
                  	#{if !notProvidedInfo && notViewableInfo }
                  		<div id="viewableInfoHelp" class="helpInfo">
						      <div class="popboxWraper">
						        <div class="popbox2">
						          <div class="closecover" style="clear: none; float: right;">
						            <div class="close" onclick="return hideHelpInfo('viewableInfo', false);">
						            	<img src="/public/images/close.jpg" alt="Close" /></div>
						          </div>
						          <div class="note">
								  	<strong>Notice:</strong>
								  	Some of your profile information is private and no one else may view it. 
								  	You may share your profile information with the TalkAboutHealth Community 
								  	by changing your <a href="@{Profile.preferences()}">Privacy Settings</a>.
								  	<br/>
								  	<br/>
						          </div>
						          <div class="cb"></div>
						        </div>
						        <!--popbox2-->
						
						      </div>
						      <div class="cb"></div>
						</div> 
                  	#{/if}
                  
                    <div class="pph1Cover">
                      <div class="pph1">
                      		${talker.name} 
                      		#{talker/talkerInfo talker: talker /}
                      </div>
                    </div>
                    <!--pph1Cover-->
                    <div class="profiletxtCantant">
                      <div class="profileCantanttxt1"><strong>Community:</strong> Breast Cancer</div>
                      <div class="profileCantanttxt2">
                      	<strong>Thank You's:</strong>
                      	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.name, 'thankyous')}">
							${talker.thankYouList.size()}
						</a>
					  </div>
                    </div>
                    <!--profiletxtCantant-->
                    <div class="profiletxtCantant">
                      <div class="profileCantanttxt1"><strong>Member Since:&nbsp;</strong>${talker.regDate.format('MMM. yyyy')}</div>
                      <div class="profileCantanttxt2">
                      	<strong>Top Answers:&nbsp;</strong>
                      	<a style="text-decoration: none" 
                      		href="@{PublicProfile.answers(talker.name)}">${numOfTopAnswers}</a>
                      </div>
                    </div>
                    
                    <!--profiletxtCantant-->
                    <div class="profiletxtCantant">
                      <div class="profileCantanttxt1">
                      	<strong>Conversations:&nbsp;</strong>
                      	<a style="text-decoration: none" 
                      		href="@{PublicProfile.conversations(talker.name)}">${numOfStartedConvos}</a>
                      </div>
                      
                      <div class="profileCantanttxt2">
                      	<strong>Answers:&nbsp;</strong>
                      	<a style="text-decoration: none" 
                      		href="@{PublicProfile.answers(talker.name)}">${numOfAnswers}</a>
                      </div>
                    </div>
                    
                    
                    <!--profiletxtCantant-->
							#{if talker.isProf() && talker.isAllowed(models.PrivacySetting.PrivacyType.PROFESSIONAL_INFO, currentTalker)}
								#{if talker.isOrg()}
								<div class="profilebio">Organization Info</div>
			                    <div class="topicborder"></div>
								#{/if}				
										
								#{if talker.profStatement}
									#{ifnot talker.isOrg()}
									<div class="profilebio">Professional Statement</div>
				                    <div class="topicborder"></div>
									#{/ifnot}
				                    <div class="profilebiotxt">${talker.profStatement.nl2br()}</div>
								#{/if}
								
								#{if talker.isOrg()}
								#{/if}							
								#{elseif talker.isProf()}
								<div class="Profileperson">								
								Professional Info
								</div>
			                    <div class="topicborder"></div>						
								#{/elseif}
								#{else}
								<div class="Profileperson">								
								Profile Info
								</div>
			                    <div class="topicborder"></div>								
								#{/else}
			                    
			                    #{list items: logic.TalkerLogic.PROF_FIELDS_MAP.keySet(), as: 'field'}
			                    	#{if field.equals("gender")}
				                    	#{if talker.fullGender}
						                    <div class="profiletxtCantant">
						                    	<div class="profileCantanttxt1">
							                      	<strong>Gender:</strong> <span class="Profilepersonsub">${talker.fullGender}</span>
							                    </div>
							                </div>
						                #{/if}
					                #{/if}
					                #{elseif field.equals("age")}
				                    	#{if talker.age}
						                    <div class="profiletxtCantant">
						                      <div class="profileCantanttxt1">
						                      	<strong>Age:</strong> <span class="Profilepersonsub">${talker.age}</span>
						                      </div>
						                    </div>
					                    #{/if}
					                #{/elseif}
					                #{elseif field.equals("web")}
				                    	#{if talker.webpage}
							                <div class="profiletxtCantant">
						                    	<div class="profileCantanttxt1">
						                      	<strong>Webpage:</strong> 
						                      	<span class="Profilepersonsub">
						                      		<a href="${talker.webpage.startsWith('http') ? talker.webpage : 'http://'+talker.webpage}"
						                      			target="_blank">${talker.webpage}</a>
						                      	</span>
						                      </div>
							                </div>
						                #{/if}
					                #{/elseif}
					                #{elseif field.equals("pract_adr") && talker.connection.equals("Physician")}
						                <div class="profiletxtCantant">
					                    	<div class="profileCantanttxt1">
					                      	<strong>Practice address:</strong>
					                      	<span class="Profilepersonsub">
					                      		${talker.profInfo.get("pract_adr1")} ${talker.profInfo.get("pract_adr2")}
					                      		${talker.profInfo.get("pract_city")}, ${talker.profInfo.get("pract_state")} 
					                      		${talker.profInfo.get("pract_zip")}
					                      	</span>
					                      </div>
						                </div>
					                #{/elseif}
					                #{elseif field.equals("pract_adr") && talker.isOrg()}
						                <div class="profiletxtCantant">
					                    	<div class="profileCantanttxt1">
					                      	<strong>Organization address:</strong>
					                      	<span class="Profilepersonsub">
					                      		${talker.profInfo.get("pract_adr1")} ${talker.profInfo.get("pract_adr2")}
					                      		${talker.profInfo.get("pract_city")}, ${talker.profInfo.get("pract_state")} 
					                      		${talker.profInfo.get("pract_zip")}
					                      	</span>
					                      </div>
						                </div>
					                #{/elseif}
					                #{elseif field.equals("pract_phone") && talker.isOrg()}
						                <div class="profiletxtCantant">
					                    	<div class="profileCantanttxt1">
					                      	<strong>Contact phone:</strong>
					                      	<span class="Profilepersonsub">
					                      		${talker.profInfo.get("pract_phone")}
					                      	</span>
					                      </div>
						                </div>
					                #{/elseif}
					                #{elseif field.equals("pract_email") && talker.isOrg()}
						                <div class="profiletxtCantant">
					                    	<div class="profileCantanttxt1">
					                      	<strong>Contact email:</strong>
					                      	<span class="Profilepersonsub">
					                      		${talker.profInfo.get("pract_email")}
					                      	</span>
					                      </div>
						                </div>
					                #{/elseif}
			                    	#{elseif field.equals("tw_page")}			                    	
			                    		#{if talker.profInfo.get("tw_page")}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	<a href="${talker.profInfo.get("tw_page")}" target=_blank>${talker.profInfo.get("tw_page")}</a>					                      		
					                      	</span>
					                      </div>
					                    </div>			                    		
			                    		#{/if}
			                    		#{elseif talker.getTwitterAccount()}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	<a href="http://twitter.com/${talker.getTwitterAccount().getUserName()}" target=_blank>http://twitter.com/${talker.getTwitterAccount().getUserName()}</a>					                      		
					                      	</span>
					                      </div>
					                    </div>			                    		
			                    		#{/elseif}			                    	
			                    	#{/elseif}
			                    	#{elseif talker.profInfo.get(field) || (field.equals("educ") && talker.connection.equals("Physician"))}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PROF_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	#{if talker.profInfo.get(field)} 
					                      		${talker.profInfo.get(field).replaceAll("(http://[^\"\'\n ]+)", "<a href=\"\$1\" target=_blank>\$1</a>").nl2br()}					                      		
					                      	#{/if}
					                      	</span>
					                      </div>
					                    </div>
				                    #{/elseif}
			                    #{/list}
			                    
			                    #{if talker.insuranceAccepted?.size() > 0 }
			                    	<div class="profiletxtCantant">
										<div class="profileCantanttxt1">
											<br/>
			                      			<strong>Insurance accepted:</strong> <br/>
			                      			#{list items: talker.insuranceAccepted, as: 'insurance' }
			                      				${insurance}<br/>
			                      			#{/list}
			                      		</div>
			                    	</div>
			                    #{/if}
							#{/if}
							
							#{if talker.bio && talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_INFO, currentTalker)}
								<div class="profilebio">Personal Bio</div>
			                    <div class="topicborder"></div>
			                    <div class="profilebiotxt">${talker.bio.nl2br()}</div>
							#{/if}
							
							#{if talker.isProf() && talker.isAllowed(models.PrivacySetting.PrivacyType.PROFESSIONAL_INFO, currentTalker)}
								#{ifnot talker.connection.equals("Physician")}
									<br/>
									#{if talker.city}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>City:</strong> <span class="Profilepersonsub">${talker.city}</span>
					                      </div>
					                    </div>
				                    #{/if}
				                    #{if talker.state}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>State:</strong> <span class="Profilepersonsub">${talker.state}</span>
					                      </div>
					                    </div>
				                    #{/if}
				                    #{if talker.zip}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>Zip:</strong> <span class="Profilepersonsub">${talker.zip}</span>
					                      </div>
					                    </div>
				                    #{/if}
				                    #{if talker.country}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>Country:</strong> <span class="Profilepersonsub">${talker.country}</span>
					                      </div>
					                    </div>
				                    #{/if}
								#{/ifnot}
							#{/if}
							#{elseif talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_INFO, currentTalker)}
								<div class="Profileperson">Personal Info</div>
			                    <div class="topicborder"></div>
			                    #{if talker.state && talker.city}
			                    <div class="profiletxtCantant">
			                      	<div class="profileCantanttxt1">
				                      	<strong>Location:</strong> <span class="Profilepersonsub">${talker.state}, ${talker.city}</span>
				                    </div>
			                    </div>
			                    #{/if}
			                    #{if talker.age}
			                    <div class="profiletxtCantant">
			                      <div class="profileCantanttxt1">
			                      	<strong>Age:</strong> <span class="Profilepersonsub">${talker.age}</span>
			                      </div>
			                    </div>
			                    #{/if}
			                    #{if talker.fullGender}
			                    <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
				                      	<strong>Gender:</strong> <span class="Profilepersonsub">${talker.fullGender}</span>
				                    </div>
				                </div>
				                #{/if}
				                #{if talker.maritalStatus}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
			                      		<strong>Marital Status:</strong> <span class="Profilepersonsub">${talker.maritalStatus}</span>
			                        </div>
				                </div>
				                #{/if}
				                #{if talker.childrenNum != -1}
				                    <div class="profiletxtCantant">
				                    	<div class="profileCantanttxt1">
					                      	<strong>Number of children:</strong><span class="Profilepersonsub"> ${talker.childrenNum}</span>
					                    </div>
					                </div>
				                #{/if}
				                #{if talker.childrenAges}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
				                      	<strong>Ages of children:</strong>
			                      		<span class="Profilepersonsub"> ${talker.childrenAges?.toCommaStringView()}</span>
				                    </div>
				                </div>
				                #{/if}
				                #{if talker.ethnicities}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
				                      	<strong>Ethnicity:</strong>
			                      		<span class="Profilepersonsub"> ${talker.ethnicities?.toCommaStringView()}</span>
				                    </div>
				                </div>
				                #{/if}
				                #{if talker.religion}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
				                      	<strong>Religion:</strong>
			                      		<span class="Profilepersonsub"> ${talker.religion} ${talker.religionSerious}</span>
				                    </div>
				                </div>
				                #{/if}
				                #{if talker.languagesList}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
				                      	<strong>Speaks:</strong>
			                      		<span class="Profilepersonsub"> ${talker.languagesAsString}</span>
				                    </div>
				                </div>
				                #{/if}
				                #{if talker.webpage}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
			                      	<strong>Webpage:</strong>
			                      	<span class="Profilepersonsub">
			                      		<a href="${talker.webpage.startsWith('http') ? talker.webpage : 'http://'+talker.webpage}"
						                      			target="_blank">${talker.webpage}</a>
			                      	</span>
			                      </div>
				                </div>
				                #{/if}
				                #{if talker.keywords}
				                <div class="profiletxtCantant">
			                    	<div class="profileCantanttxt1">
			                      	<strong>Ask me about:</strong>
			                      	<span class="Profilepersonsub"> ${talker.keywords?.toCommaStringView()}</span>
			                      </div>
				                </div>
				                #{/if}

			                    #{list items: logic.TalkerLogic.PRIV_FIELDS_MAP.keySet(), as: 'field'}
			                    	#{if field.equals("tw_page")}			                    	
			                    		#{if talker.profInfo.get("tw_page")}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	<a href="${talker.profInfo.get("tw_page")}" target=_blank>${talker.profInfo.get("tw_page")}</a>					                      		
					                      	</span>
					                      </div>
					                    </div>			                    		
			                    		#{/if}
			                    		#{elseif talker.getTwitterAccount()}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	<a href="http://twitter.com/${talker.getTwitterAccount().getUserName()}" target=_blank>http://twitter.com/${talker.getTwitterAccount().getUserName()}</a>					                      		
					                      	</span>
					                      </div>
					                    </div>			                    		
			                    		#{/elseif}			                    	
			                    	#{/if}
			                    	#{elseif field.equals("fb_page")}
			                    		#{if talker.profInfo.get("fb_page")}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	<a href="${talker.profInfo.get("fb_page")}" target=_blank>${talker.profInfo.get("fb_page")}</a>					                      		
					                      	</span>
					                      </div>
					                    </div>			                    		
			                    		#{/if}
			                    	#{/elseif}			                    			                    				                    
			                    	#{elseif talker.profInfo.get(field)}
					                    <div class="profiletxtCantant">
					                      <div class="profileCantanttxt1">
					                      	<strong>${logic.TalkerLogic.PRIV_FIELDS_MAP.get(field)?.raw()}:</strong> 
					                      	<span class="Profilepersonsub">
					                      	#{if talker.profInfo.get(field)} 
					                      		${talker.profInfo.get(field).replaceAll("(http://[^\"\'\n ]+)", "<a href=\"\$1\" target=_blank>\$1</a>").nl2br()}					                      		
					                      	#{/if}
					                      	</span>
					                      </div>
					                    </div>
				                    #{/elseif}
			                    #{/list}
				                
							#{/elseif}
					
					#{if talker.isAllowed(models.PrivacySetting.PrivacyType.HEALTH_INFO, currentTalker) && talkerDisease && !talker.isProf() }
							#{if talkerDisease.healthBio }
								<div class="profilebio">Health Bio</div>
		                    	<div class="topicborder"></div>
		                    	<div class="profilebiotxt">${talkerDisease.healthBio.nl2br()}</div>
							#{/if}
							<div class="ProfileHealth">Health Info</div>
                    		<div class="topicborder"></div>
							<div class="profiletext2">
								<ul>
									<li class="blacktext12"><b>Disease</b>: <span class="blacktext">${talkerDisease.name}</span></li>
									#{list items: disease.questions, as: 'question'}
										#{if talkerDisease.healthInfo?.get(question.name)}
											<li class="blacktext12" style="height: auto"><b>${question.displayName}</b>: 
												<span class="blacktext">${talkerDisease.healthInfo.get(question.name)?.toCommaStringView()}</span>
											</li>
										#{/if}
									#{/list}
									#{if talkerDisease.symptomDate}
										<li class="blacktext12"><b>Date of first symptom</b>: 
											<span class="blacktext">${talkerDisease.symptomDate?.format('MM/dd/yyyy')}</span>
										</li>
									#{/if}
									#{if talkerDisease.diagnoseDate}
										<li class="blacktext12"><b>Date of diagnosis</b>: 
											<span class="blacktext">${talkerDisease.diagnoseDate?.format('MM/dd/yyyy')}</span>
										</li>
									#{/if}
									#{if talkerDisease.recurrent}
									<li class="blacktext12"><b>Recurrent</b>:
										<span class="blacktext">${talkerDisease.recurrent}</span>
									</li>
									#{/if}
									
									<li class="blacktext12 healthitemtitle" style="padding-top:10px;"><strong>Initial Symptoms</strong></li>
									<!-- We need span to hide health items titles without children using jQuery -->
									#{ profile/healthItemsList healthItem: healthItemsMap.symptoms, talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.symptoms, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
									
									<li class="blacktext12 healthitemtitle" style="padding-top:10px;"><strong>Tests</strong></li>
									#{ profile/healthItemsList healthItem:healthItemsMap.tests, talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.tests, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
								</ul>
							</div>
							<div class="profiletext2">
								<ul>
									<li class="blacktext12 healthitemtitle"><strong>Procedures/Surgeries</strong></li>
										#{ profile/healthItemsList healthItem:healthItemsMap["procedures"], talkerDisease: talkerDisease /}
										#{list items: talkerDisease.otherHealthItems?.procedures, as: 'item' }
											<li class="blacktext12">${item}</li>
										#{/list}
									
									<li class="blacktext12 healthitemtitle" style="padding-top:10px;">
										<strong>Medications and Treatments</strong>
									</li>
										#{ profile/healthItemsList healthItem:healthItemsMap["treatments"], talkerDisease: talkerDisease /}
										#{list items: talkerDisease.otherHealthItems?.treatments, as: 'item' }
											<li class="blacktext12">${item}</li>
										#{/list}
									
									<li class="blacktext12 healthitemtitle" style="padding-top:10px;">
										<strong>Side effects from medications/treatments</strong>
									</li>
										#{ profile/healthItemsList healthItem:healthItemsMap["sideeffects"], talkerDisease: talkerDisease /}
										#{list items: talkerDisease.otherHealthItems?.sideeffects, as: 'item' }
											<li class="blacktext12">${item}</li>
										#{/list}
								</ul>
							</div>
					#{/if}
                                        
                    #{if talker.isAllowed(models.PrivacySetting.PrivacyType.ACTIVITY_STREAM, currentTalker) && talkerFeed}
						<div class="Profilemurray">${talker.name} Activities</div>
	                    <div class="topicborder"></div>
	                    <div>
	                        <div id="talkerFeedList">
		                    	#{list items: talkerFeed, as: 'activity'}
									#{feed/feedActivity activity: activity, talker: talker /}
								#{/list}
							</div>
							#{if talkerFeed.size() == logic.FeedsLogic.TALKERFEEDS_PER_PAGE }
								<div class="replytommentbox" id="talkerFeedBtn">
		                          <input type="submit" src="images/seemore.jpg" 
		                          	onclick="return loadMoreFeed('talkerFeed', '${talker.userName}');" value=" " class="seemorecom" />
		                        </div>
							#{/if}
								
                      		<div class="cb"></div>
                    	</div>
					#{/if}
					
					<div class="cb"></div>
*{
	If the user has not made all of their information public, let's display the following text at the bottom of their profile:
	"member310 has chosen to have all or some of their profile information private or only viewable by the community."
}*
#{if talker.isProf()}					
	#{if !talker.isAllowed(models.PrivacySetting.PrivacyType.USERNAME, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_IMAGE, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_INFO, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.PROFESSIONAL_INFO, currentTalker) }
		<div style="padding-top: 50px; clear: both;">
			<b>${talker.name}</b> has chosen to have all or some of their profile information private or only viewable by the community.</div>
	#{/if}
#{/if}
#{else}
	#{if !talker.isAllowed(models.PrivacySetting.PrivacyType.USERNAME, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_IMAGE, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.PROFILE_INFO, currentTalker) || !talker.isAllowed(models.PrivacySetting.PrivacyType.HEALTH_INFO, currentTalker) }
		<div style="padding-top: 50px; clear: both;">
			<b>${talker.name}</b> has chosen to have all or some of their profile information private or only viewable by the community.</div>
	#{/if}
#{/else}
                    
                  </div>
                  <!--profileCatant-->
                  <div class="cb"></div>
                </div>
              

			  </div>
            	<!--mtleft-->
            
            	#{ set currentPage = 'publicProfile' /}
            	#{ include 'PublicProfile/profileRight.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
   </div>