<script type="text/javascript">
		//for ThankYou and Comment popups
		selectedTalkerId = '${talker.id}';
	 
   		$(document).ready(function() {
   			$("#thankYouUser").html('${talker.userName}');
   			$("#commentUser").html('${talker.userName}');
   			
   			$("#followActionlink").click(function() {
   				$.post("@{Actions.follow()}", 
   		  				{ followingId: '${talker.id}'},
   		  				function(data) {
   		  					//$("#followResult").html("Ok! ");
   		  					$("#followActionlink").html(data);

   		  					//$("#followActionImagelink img").attr("src", "/public/images/"+data.toLowerCase()+"_icon.gif");
   		  					if ($("#followActionImagelink")) {
	   		  					if (data == 'Follow') {
	   		  						$("#followActionImagelink").html(
	   		   		  						'<img src="/public/images/follow_icon.gif" width="52" height="19" border="0"/>');
	   		  					}
	   		  					else {
	   		  						$("#followActionImagelink").html('Unfollow');
	   		  					}
   		  					}
   		  				}
   		  			);
	   		});
   		});

</script>
<div style="padding-left: 30px;" id="mtright"> <br/>
                <div class="followpicbox">
                  <div class="followpic">
                  	<img src="@{Image.show(talker.userName)}" width="81" height="81"/>
                  </div>
                  <div class="foloowpictext">
                    #{ifnot talker.userName.equals(currentTalker.userName) }
						<a id="followActionlink" href="#">
						${ currentTalker.followingList.contains(talker) ? 'Unfollow' : 'Follow'}
						</a>
						<br/>
					#{/ifnot}
                    <a href="#" onclick="return showPopup('#commentPopup', 200);">Comment</a><br/>
                    #{ifnot talker.userName.equals(currentTalker.userName) }
                    	<a href="#" onclick="return showPopup('#thankYouPopup', 200);">Give a Thank You</a><br/>
                    #{/ifnot}
                    <!-- <a href="#">Private Message</a><br/>  -->
                  </div>
                  <!--foloowpictext-->
                  <div class="mtop"></div>
                  <div class="topicborder"></div>
                  <br/>
                  <div class="cb"></div>
                </div>
                <!--followpicbox-->
                <div class="topipsts">
                  <div class="mtrighttxt">
			     	<a class="${currentPage.equals('publicProfile') ? 'current' : ''}" 
			     		href="@{ViewDispatcher.view(talker.userName)}">Profile</a>
			      </div>
                  <div class="mtrighttxt"><a href="@{PublicProfile.journal(talker.userName)}">Journal</a></div>
                  <!-- 
	                  <div class="mtrighttxt"><a href="#">Answers</a></div>
	              -->
	              <div class="mtrighttxt">
	              	<a href="@{PublicProfile.conversationsStarted(talker.userName)}">Questions & Talks</a>
	              </div>
                  <div class="mtrighttxt">
			     	<a class="${currentPage.equals('topicsFollowing') ? 'current' : ''}" 
			     		href="@{PublicProfile.topicsFollowing(talker.userName)}"
			     		>Topics Following (${talker.followingTopicsList.size()})</a>
			      </div>
                  <div class="mtrighttxt">
                  	<a href="@{PublicProfile.userBasedActions(talker.userName, 'thankyous')}"
                  	>Thank You's (${talker.thankYouList.size()})</a>
                  </div>
                  <div class="mtop"></div>
                  <div class="topicborder"></div>
                  <div class="cb"></div>
                </div>
                <!--topipsts-->
                #{if talker.userName.equals(currentTalker.userName) }
	                <div class="profilecompletion">
	                  <div class="profilecompletionh1">Profile Completion</div>
	                  <!-- 
	                  <div class="completion" >
	                    <div class="completiotxt">${talker.profileCompletionValue} %</div>
	                  </div>
	                   -->
	                  <style type="text/css">
						#profilebar {
							width: 200px;
							height: 20px;
							border: 1px solid #CCCCCC;
						}
						#profileprogress {
							background-color: #0386bc;
							padding-left: 5px;
							line-height: 20px;
							width: ${2*talker.profileCompletionValue}px;
							height: 100%;
						}
					</style>
					<div id="profilebar">
						<div id="profileprogress">
							<span class="whitetext12">${talker.profileCompletionValue}%</span>
						</div>
					</div>
	                  <div class="profilecompletiontxt">${talker.profileCompletionMessage}</div>
	                  <div class="topicborder"></div>
	                  <div class="cb"></div>
	                </div>
				#{/if}
                
                #{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWING) }
                	<div class="followingbox">
	                  <div class="followingtoptxt">
	                    <div class="followingh1">
	                    	<a href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">
	                    		Following (${talker.followingList.size()})</a>
	                    </div>
	                    <div class="followingseeall">
	                    	<a href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">see all</a>
	                    </div>
	                  </div>
	                  <!--followingtoptxt-->
	                  <div class="cb"></div>
	                </div>
	                
	                <div class="followingpicbox">
	                  #{list items:talker.followingList.limit(8), as:'following' }
							<div class="followingtxtpic">
			                    <div class="followingpic">
			                    	<a href="@{ViewDispatcher.view(following.userName)}">
										<img src="@{Image.show(following.userName)}" width="48" height="48" border="0" />
									</a>
			                    </div>
			                    <div class="followingpictxt">
			                    	<a href="@{ViewDispatcher.view(following.userName)}">${following.userName}</a>
			                    </div>
			                    <div class="cb"></div>
			                  </div>
						#{/list}
	                </div>
	                
	                <!--followingpicbox-->
	                <div class="cb"></div>
	                <br/>
	                <div class="topicborder"></div>
				#{/if}
				
				#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
                	<div class="followingbox">
	                  <div class="followingtoptxt">
	                    <div class="followingh1">
	                    	<a href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">
	                    		Followers (${talker.followerList.size()})</a>
	                    </div>
	                    <div class="followingseeall">
	                    	<a href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">see all</a>
	                    </div>
	                  </div>
	                  <!--followingtoptxt-->
	                  <div class="cb"></div>
	                </div>
	                
	                <div class="followingpicbox">
	                  #{list items:talker.followerList.limit(8), as:'following' }
							<div class="followingtxtpic">
			                    <div class="followingpic">
			                    	<a href="@{ViewDispatcher.view(following.userName)}">
										<img src="@{Image.show(following.userName)}" width="48" height="48" border="0" />
									</a>
			                    </div>
			                    <div class="followingpictxt">
			                    	<a href="@{ViewDispatcher.view(following.userName)}">${following.userName}</a>
			                    </div>
			                    <div class="cb"></div>
			                  </div>
						#{/list}
	                </div>
	                <div class="cb"></div>
				#{/if}
</div>

<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/thankyou2 /}
	#{ popups/comment2 /}
</div>
<div id="mask"></div>