<script type="text/javascript">
		//for ThankYou and Comment popups
		selectedTalkerId = '${talker.id}';
	 
   		$(document).ready(function() {
   			$("#thankYouUser").html('${talker.userName}');
   			$("#commentUser").html('${talker.userName}');

   			$("#followActionImageBtn, #followActionlink").click(function() {
   	   			$.post("@{Actions.followTalker()}", 
   	  				{ followingId: '${talker.id}'},
   	  				function(data) {
   	  					$("#followActionlink").html(data);

   	  					if (data == 'Follow') {
   	  						$("#followActionImageBtn").removeClass("followingMemberBtn").addClass("followMemberBtn");
   	  					}
   	  					else {
   	  						$("#followActionImageBtn").removeClass("followMemberBtn").addClass("followingMemberBtn");
   	  					}
   	  				}
   	  			);
	   		});
   		});
</script>
<div style="padding-left: 30px; font-size: 12px;" id="mtright">
	#{if currentTalker && currentPage.equals('publicProfile') && !talker.userName.equals(currentTalker.userName) }
		<input type="button" id="followActionImageBtn" value=""
			class="${ currentTalker.followingList.contains(talker) ? 'followingMemberBtn' : 'followMemberBtn'}"  />
    #{/if}
	<div style="padding-left: 10px; padding-top: 10px;">
		#{if session.username.equals(talker.userName) }
     		Welcome 
           	<a href="@{ViewDispatcher.view(talker.userName)}"><strong>${talker.userName}</strong></a>!
     	#{/if}
     	#{else}
     		<a href="@{ViewDispatcher.view(talker.name)}"><strong>${talker.name}'s</strong></a> Profile
     	#{/else}
    </div>
	<div class="followpicbox" style="padding-top: 3px;">
		<div class="followpic" style="width: 110px; height: 110px;">
			<img src="@{Image.show(talker.name)}" width="110" height="110"/>
		</div>
		#{if currentTalker}
			<div class="foloowpictext" style="width: 110px;">
				#{ifnot talker.userName.equals(currentTalker.userName) }
					<a id="followActionlink" href="#">
					${ currentTalker.followingList.contains(talker) ? 'Unfollow' : 'Follow'}
					</a><br/>
					<a href=# onclick="return showSaveDialog('postQuestion');">Ask Question</a><br/>					
				#{/ifnot}
	            <a href="#" onclick="return showPopup('#commentPopup', 200);">Post Thought</a><br/>
	            #{ifnot talker.userName.equals(currentTalker.userName) }
	           		<a href="#" onclick="return showPopup('#thankYouPopup', 200);">Give a Thank You</a><br/>
	            #{/ifnot}
	            #{else}
	            	#{if currentPage.equals('publicProfile') }
	            		<a href="@{Profile.edit()}">Edit Profile</a><br />
	            		#{ifnot talker.isProf()}
	            			<a href="@{Profile.healthDetails()}">Edit Health Info</a><br />
	            		#{/ifnot}
					<a href="@{Profile.preferences()}">Privacy Settings</a>
	            	#{/if}
	            #{/else}
	                 <!-- <a href="#">Private Message</a><br/>  -->
			</div>
		#{/if}
        <div class="mtop"></div>
        <div class="topicborder"></div>
        <br/>
        <div class="cb"></div>
	</div>
	<div class="topipsts">
		<div class="mtrighttxt">
	     	<a class="${currentPage.equals('publicProfile') ? 'current' : ''}" 
	     		href="@{ViewDispatcher.view(talker.name)}">Profile</a>
		</div>
		#{if talker.isAllowed(models.PrivacySetting.PrivacyType.THOUGHTS, currentTalker) }
			<div class="mtrighttxt">
				<a class="${currentPage.equals('thoughts') ? 'current' : ''}" 
	     			href="@{PublicProfile.thoughts(talker.name)}">Thoughts</a>
	      	</div>
      	#{/if}
      	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.QUESTIONS_STARTED, currentTalker) || talker.isAllowed(models.PrivacySetting.PrivacyType.CHATS_JOINED, currentTalker) || talker.isAllowed(models.PrivacySetting.PrivacyType.QUESTIONS_FOLLOWING, currentTalker)}
	      	<div class="mtrighttxt">
	           	<a class="${currentPage.equals('conversations') ? 'current' : ''}" 
	           		href="@{PublicProfile.conversations(talker.name)}">Questions</a>
			</div>
		#{/if}
		#{if talker.isAllowed(models.PrivacySetting.PrivacyType.TOPICS_FOLLOWING, currentTalker) }
			<div class="mtrighttxt">
		     	<a class="${currentPage.equals('topicsFollowing') ? 'current' : ''}" 
		     		href="@{PublicProfile.topicsFollowing(talker.name)}"
		     		>Topics Following (${talker.followingTopicsList.size()})</a>
			</div>
		#{/if}
		#{if talker.isAllowed(models.PrivacySetting.PrivacyType.ANSWERS, currentTalker) }
			<div class="mtrighttxt">
	               	<a class="${currentPage.equals('answers') ? 'current' : ''}" 
	     		href="@{PublicProfile.answers(talker.name)}">Answers</a>
			</div>
		#{/if}
		#{if talker.isAllowed(models.PrivacySetting.PrivacyType.THANKYOUS, currentTalker) }
			<div class="mtrighttxt">
				<a class="${currentPage.equals('thankyous') ? 'current' : ''}" 
	               		href="@{PublicProfile.userBasedActions(talker.name, 'thankyous')}"
	               	>Thank You's (${talker.thankYouList.size()})</a>
			</div>
		#{/if}
        <div class="mtop"></div>
        <div class="topicborder"></div>
        <div class="cb"></div>
	</div>
             
	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.FOLLOWING, currentTalker) }
		<div class="followingbox">
			<div class="followingtoptxt">
				<div class="followingh1">
                  	<a href="@{PublicProfile.userBasedActions(talker.name, 'following')}">
                  		Following (${talker.followingList.size()})</a>
				</div>
			</div>
			<div class="cb"></div>
		</div>
              
		<div class="followingpicbox">
			#{list items:talker.followingList.limit(8), as:'following' }
				<div class="followingtxtpic">
                    <div class="followingpic">
						#{talker/talkerImageLink size: 48, userName: following.name /}
                    </div>
                    <div class="followingpictxt">
                    	<a href="@{ViewDispatcher.view(following.name)}">${following.name.limitSize(8)}</a>
                    </div>
                    <div class="cb"></div>
				</div>
			#{/list}
		</div>
        <div class="cb"></div>
        <br/>
        <div class="topicborder"></div>
	#{/if}
	
	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.FOLLOWERS, currentTalker) }
		<div class="followingbox">
			<div class="followingtoptxt">
				<div class="followingh1">
                  	<a href="@{PublicProfile.userBasedActions(talker.name, 'followers')}">
                  		Followers (${talker.followerList.size()})</a>
				</div>
			</div>
			<div class="cb"></div>
		</div>
		<div class="followingpicbox">
			#{list items:talker.followerList.limit(8), as:'following' }
				<div class="followingtxtpic">
                    <div class="followingpic">
                    	#{talker/talkerImageLink size: 48, userName: following.name /}
                    </div>
                    <div class="followingpictxt">
                    	<a href="@{ViewDispatcher.view(following.name)}">${following.name.limitSize(8)}</a>
                    </div>
                    <div class="cb"></div>
				</div>
			#{/list}
		</div>
		<div class="cb"></div>
	#{/if}
</div>

<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/thankyou /}
	#{ popups/thoughtComment /}
	
	#{popups/startConvo page: 'profileRight', target: talker /}
</div>
<div id="mask"></div>
