#{extends 'main.html' /}
	<style type="text/css">
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
	</style>
	
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent" style="margin: 10px 0 100px; font-size: 16px;">
               	Sorry, this account is suspended.
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{set talker = currentTalker /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
</div>