#{ extends 'main.html' /}
	<script type="text/javascript"> 	 
   		$(document).ready(function() {
   			$("#displayThankYouText").click(function() {
   				$('#leavethankyouText').toggle(); 
   				$('#thankYouNote').focus(); 
   				return false;
	   		});
   		});

   		//createThankYou(String toTalker, String note)
   		function thankYou() {
   	   		var noteText = $("#thankYouNote").val();
   			$("#thankYouNote").val("");

   			$.post("@{Actions.createThankYou()}", 
  				{ toTalker: '${talker.id}', note: noteText, tagFile: 'thanksThankYou'},
  				function(html) {
  					//put new thank you item in the list
  					$(html).prependTo($(".thnksarea2"));
  				}
  			);

   			$("#leavethankyouText").hide();
   		}
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
	</style>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Thank you's</div>
		<div id="innermiddlearea">
   			<div class="headingarea2">
	      		<div class="tabheading">
	      			<span class="blacktext25">${talker.userName}'s Thank You's </span> 
	      			<span class="pinktext25"><strong>(${talker.thankYouList.size()})</strong></span> 
	      			
	      			#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) &&
							!talker.userName.equals(currentTalker.userName) }
						<span class="greytext25">|</span> 
						<a id="displayThankYouText" href="#" 
							class="bluetext14">Give ${talker.userName} a "Thank you"</a>
					#{/if}
	      		</div>
	      		#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
		            <div class="seemore">
		            	<a href="#"><img width="134" height="33" border="0" src="/public/images/seemorebutton.gif"/></a>
		            </div>
		        #{/if}
    		</div>
			<div id="leavethankyouText" style="display:none">
				<ul>
					<li class="blacktext14">Give a Thank You</li>
					<li>
						<input id="thankYouNote" name="thankYouNote" type="text" 
							class="togglecommentfield" value="" size="6" />
					</li>
					<li>
						<div class="personaltextarea" style="height:46px; padding-top:2px;">
							<a href="#thankyouSection" onclick="thankYou()">
								<img src="/public/images/addcomment_btn.gif" width="145" height="32" border="0" />
							</a>
						</div>
					</li> 
				</ul>
			</div>
            <div class="thnksarea2">
            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
					#{list items:talker.thankYouList.limit(10), as:'thankYou'}
						#{ thanksThankYou thankYou: thankYou /}
					#{/list}
				#{/if}
				#{else}
					<span class="blacktext14" style="margin: 30px 0; float: left">This information has been made private.</span>
				#{/else}
            </div>
            #{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
	            <div class="thnksbottom">
	            	<div class="seemore">
	            		<a href="#"><img width="134" height="33" border="0" src="/public/images/seemorebutton.gif"/></a>
	            	</div>
	            </div>
	        #{/if}
        </div>
	</div>
