#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		#mask { background-color:#e6e6e6; }
		
		.inline_form { display:none; }
		.inline-edit .editdiv { float:left; width:45px; }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".followTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Conversations.follow()}", 
	  				{ topicId: topicId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});

			//if close button is clicked
			$('.window .close, .window .cancelLink').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();
				hideAll();
			});		

			$('.inline-edit').inlineEdit(
		  		{ hover: '', saveFunction: updateData}
		  	);
		});

		function updateData(dataType, newValue) {
			if (dataType.indexOf('experienceEdit') == 0) {
				var topicId = dataType.substring(14);
				
				//post to save experience
				$.post("@{Actions.updateTopicExperience()}", 
					{ topicId: topicId, newValue: newValue }
				);
			}
		}

		function endorse(topicId) {
			$.post("@{Actions.endorse()}", 
				{ topicId: topicId, toTalker: '${talker.id}' },
				function() {
	  					//good save!!
				}
			);
		}
	</script>
		
<div id="managtopic1" style="background:url(/public/images/inner_bgmt.gif); background-repeat:repeat-x;">
  <div id="managtopic">
  	#{include 'header.html' /}
		<div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
  		
<h3>Following ${talker.followingTopicsList?.size()} Topic(s):</h3><br/>
<div style="font-size: 14px">
#{list items: talker.followingTopicsList, as: 'topic'}
	<div style="margin-bottom: 15px; padding-top: 10px; clear: both;">
		<a href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a><br/>
		#{set talkerTopicInfo = talker.topicsInfoMap.get(topic) /}
		#{if talkerTopicInfo?.numOfAnswers != 0}
			${talkerTopicInfo?.numOfAnswers} answer(s)<br/>
		#{/if}
		<br/>
		<div class='inline-edit' id="experienceEdit${topic.id}">
			<div class="suggestxt inline_display">
				<div class="inline_full" style="display: ${talkerTopicInfo.experience ? 'block' : 'none'}">
					<p class="inline_view" style="float:left; padding-top:10px;">${talkerTopicInfo.experience}</p>
					<div class="editdiv">
						<div class="editit" style="padding-top:10px;">
							<a href="#" class="inline_editlink">Edit</a>
						</div>
					</div>
				</div>
				<div class="inline_empty" style="display: ${!talkerTopicInfo.experience? 'block' : 'none'}">
					<div class="targetenew">
						<a class="inline_addlink" href="#">Add your experience</a>
					</div>
				</div>
            </div>
			<div class='inline_form'>
				<div style="padding-top:10px;">
			        <textarea class="edititinputx inline_text" 
			        	style="width:600px">${talkerTopicInfo.experience}</textarea>
		        </div>
				<div style="float:right;margin-right:30px;">
					<input type="submit" class="updatebtns inline_save" value=" " />
					<div class="canclebtnz">
						<a class="cancel" href="#">Cancel</a>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;">
			Endorsements: ${talkerTopicInfo.endorsements.size()}
			#{ifnot session.username.equals(talker.userName)}
				<a href="#" onclick="return endorse('${topic.id}');">Endorse</a>
			#{/ifnot}
		</div>
	</div>
#{/list}
</div>
        
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'topicsFollowing' /}
            #{ include 'PublicProfile/profileRight.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
   </div>