#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		#mask { background-color:#e6e6e6; }
		
		.inline_form { display:none; }
		.inline-edit .editdiv { float:left; width:45px; }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".followTopicLink, .unfollowTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				$.post("@{Topics.follow()}", 
	  				{ topicId: topicId},
	  				function(nextAction) {
	  					if (nextAction === "follow") {
		  					$("#topicUnfollowDiv"+topicId).hide();
		  					$("#topicFollowDiv"+topicId).show();
	  					}
	  					else {
	  						$("#topicUnfollowDiv"+topicId).show();
		  					$("#topicFollowDiv"+topicId).hide();
	  					}
	  				}
	  			);
	  			return false;
			});

			//if close button is clicked
			$('.window .close, .window .cancelLink').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();
				hideAll();
			});		

			$('.inline-edit').inlineEdit(
		  		{ hover: '', saveFunction: updateData}
		  	);
		});

		function updateData(dataType, newValue) {
			if (dataType.indexOf('experienceEdit') == 0) {
				var topicId = dataType.substring(14);
				
				//post to save experience
				$.post("@{Topics.updateTopicExperience()}", 
					{ topicId: topicId, newValue: newValue }
				);
			}
		}

		function endorse(topicId) {
			$.post("@{Topics.endorse()}", 
				{ topicId: topicId, toTalker: '${talker.id}' },
				function() {
	  					//good save!!
				}
			);
		}

		function loadMoreTopics() {
			var lastId = $("#recommendedTopics").children().last().attr("id");

			//public static void conversationFeedAjax(String afterActionId) {
			$.get("/publicprofile/recommendedTopicsAjaxLoad", {afterId: lastId},
				function(data) {
					var feedSize = $(data).find(".topicfoltxt1").size();
					if (feedSize < 10) {
						//no more topics - hide 'More' link
						$("#recommendedTopicsBtn").hide();
					}
					
					$(data).appendTo($("#recommendedTopics"));
				}
			);
			
			return false;
		}
	</script>
		
<div id="managtopic1" style="background:url(/public/images/inner_bgmt.gif); background-repeat:repeat-x;">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
		<div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
              
              <div class="profileCatant">
                  <div class="topicfolth1">
                  	<a href="@{ViewDispatcher.view(talker.userName)}" 
                    	class="bluetext20">${talker.userName}'s</a> Topics Following
                  </div>
                  <div class="topicborder"></div>
                  <div class="topicborder" style="margin-bottom: 10px;"></div>
#{if talker.equals(currentTalker) || talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.TOPICS_FOLLOWED) }
	
	#{if talker.followingTopicsList.size() == 0 }
		Currently no Topics being followed.<br/>
	#{/if}
	#{if talker.equals(currentTalker) && !talker.isProf() && talkerDisease == null}
		Please fill out your <a href="@{Profile.healthDetails()}">Health Information</a> so that we can recommend Topics most relevant to you.
	#{/if}
                  
	#{list items: talker.followingTopicsList, as: 'topic'}
		#{set talkerTopicInfo = talker.topicsInfoMap.get(topic) /}
		
		<div class="topicfoltxtCover">
			<div class="topicfoltxt1">
				<a href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a> - 
				<span class="topicfoltxtsub">
					#{if talkerTopicInfo?.numOfAnswers != 0}
						${talkerTopicInfo?.numOfAnswers} answer(s) | 
					#{/if}
					Endorsements: ${talkerTopicInfo.endorsements.size()}
					#{ifnot session.username.equals(talker.userName) || talkerTopicInfo.endorsements.contains(currentTalker) }
						&nbsp;|&nbsp;<a href="#" onclick="return endorse('${topic.id}');">Endorse</a>
					#{/ifnot}
				</span>
			</div>
			<div class="topicfoltxt2">
				#{set isFollowingTopic = currentTalker.getFollowingTopicsList().contains(topic) /}
				<div id="topicUnfollowDiv${topic.id}" style="display : ${ isFollowingTopic ? 'block' : 'none' }">
					<img class="topicfolright" alt="right" src="/public/images/right.jpg"/>
					<div class="topicfoltxtsub1">Following</div>
					<input type="submit" rel="${topic.id}" value=" " 
						class="unfollowz unfollowTopicLink" src="/public/images/unfollowz.jpg"/>
				</div>
				<div id="topicFollowDiv${topic.id}" style="display : ${ !isFollowingTopic ? 'block' : 'none' }">
					<input type="submit" rel="${topic.id}" value=" " 
						class="topiczfollow followTopicLink" src="/public/images/ppfollow.jpg" />
				</div>
			</div>
			
			<div style="border: 1px solid white; clear: both;">
				<div class='inline-edit' id="experienceEdit${topic.id}">
					<div class="suggestxt inline_display">
						<div class="inline_full" style="display: ${talkerTopicInfo.experience ? 'block' : 'none'}">
							<div class="topicfoltxt4 inline_view" style="clear: none; float: left;">${talkerTopicInfo.experience}</div>
							#{if session.username.equals(talker.userName)}
								<div class="editdiv">
									<div class="editit" >
										<a href="#" class="inline_editlink">Edit</a>
									</div>
								</div>
							#{/if}
						</div>
						<div class="inline_empty topicfoltxt3" style="display: ${!talkerTopicInfo.experience? 'block' : 'none'}">
							#{if session.username.equals(talker.userName)}
								<a class="inline_addlink" href="#">Describe your ${topic.title} expertise</a>
							#{/if}
						</div>
		            </div>
					<div class='inline_form'>
						<div style="float: left;">
	                       <textarea rows="3" cols="4" class="topfoltxtarea inline_text">${talkerTopicInfo.experience}</textarea>
	                       <br/>
	                       <div class="topiccanlcel">
	                         <div class="topiccanlceltxt"> <a class="cancel" href="#">Cancel </a></div>
	                         <input type="submit" value=" " class="topicupdate inline_save" src="/public/images/topicupdate.jpg"/>
	                       </div>
	                     </div>
					</div>
				</div>
			</div>
			<div class="cb"></div>
		</div>
	#{/list} 
		
		<input type="submit" style="margin-top: 10px; display: none;" class="seemorecom" value=" " src="images/seemore.jpg"/>

#{/if}
#{else}
	<span class="blacktext14">This information has been made private.</span>
#{/else}				

#{if talker.equals(currentTalker) }
	<div class="topicfolth1" style="padding-top: 50px;">
       	Recommended Topics for you
    </div>
    <div class="topicborder"></div>
    <div class="topicborder" style="margin-bottom: 10px;"></div>
    #{if talkerDisease == null && !talker.isProf()}
		Please fill out your <a href="@{Profile.healthDetails()}">Health Information</a> so that we can recommend Topics most relevant to you.
	#{/if}
	
	
	<div id="recommendedTopics">
		#{ recommendedTopicsList recommendedTopics: recommendedTopics, talker: currentTalker /}
	</div>
	#{if recommendedTopics.size() == 10 }
		<input id="recommendedTopicsBtn" type="submit" style="margin-top: 25px;" 
			onclick="return loadMoreTopics();"
			class="seemorecom" value=" " src="images/seemore.jpg"/>
	#{/if}
	
	
#{/if}
				
			</div>     

            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'topicsFollowing' /}
            #{ include 'PublicProfile/profileRight.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
   </div>