#{ extends 'main.html' /}

	<script type="text/javascript"> 	 
		//maps actions to tabs
		var perPage = 16;
		var tabs = {
		   		"thankyous" : "tab2",
		   		"following" : "tab3",
		   		"followers" : "tab4" 
			}
		
   		$(document).ready(function() {
   			//default action
			var activeTab = tabs["${action}"];
			initOldTabs(activeTab);
			
			//--- Thanks you's ---
			$("#displayThankYouText").click(function() {
   				$('#leavethankyouText').toggle(); 
   				$('#thankYouNote').focus(); 
   				return false;
	   		});

			prepareList("thankyous");
			prepareList("following");
			prepareList("follower");

			$('.moreThankYouText').truncatable({ limit: 80, more: '... more', less: true, hideText: '' }); 
   		});

		//void createThankYou(String toTalkerId, String note, String tagFile) {
   		function saveThankYouNote() {
   	   		var noteText = $("#thankYouNote").val();
   			$("#thankYouNote").val("");

   			$.post("@{Actions.createThankYou()}", 
  				{ toTalkerId: '${talker.id}', note: noteText, tagFile: 'publicprofile/thanksThankYou'},
  				function(html) {
  					//put new thank you item in the list
  					$(html).prependTo($(".thnksarea2"));
  				}
  			);

   			$("#leavethankyouText").hide();
   		}
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
			font-family:arial;
			font-size:11px;
		}
		#signupleftarea, #thankyoulist { width: auto; } 
		.profiletext2 { width:250px; }
		.headingarea, .thnksarea2, .thnksarea, .thnksbottom { width: 610px !important; }
	</style>
</head>
<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div style="float: left; width: 630px;">
		<div class="blacktext2" id="innerheading" style="width: 550px;">
			<a href="@{ViewDispatcher.view(talker.name)}" class="bluetext20">${talker.name}'s</a> 
			Contacts and Thank you's</div>
		<div id="innermiddlearea" style="width: 600px;">
			<div class="tabbed_box" id="tabbed_box_1" style="width: 600px;">
    			<div class="tabbed_area">
			        <ul class="tabs">
			            <li><a href="#tab2"><span>Thank you's (${talker.thankYouList.size()})</span></a></li>
			            <li><a href="#tab3"><span>Following (${talker.followingList.size()})</span></a></li>
			            <li><a href="#tab4"><span>Followers (${talker.followerList.size()})</span></a></li>
			        </ul>
			        <div class="tab_container">
			       		<div id="tab2" class="tab_content">
				        <div>
				        	<div class="headingarea">
					            <div class="tabheading">
					      			<span class="blacktext25">Thank you's <strong>(${talker.thankYouList.size()})</strong></span> 
					      			#{if currentTalker && !talker.userName.equals(currentTalker.userName) }
										<span class="greytext12">&nbsp;|&nbsp;</span> 
										<a id="displayThankYouText" href="#" 
											class="bluetext14">Give ${talker.name} a "Thank you"</a>
									#{/if}
					      		</div>
						    </div>
				            <div id="leavethankyouText" style="display:none">
								<ul>
									<li class="blacktext14">Give a Thank You</li>
									<li>
										<input id="thankYouNote" name="thankYouNote" type="text" 
											class="togglecommentfield" value="" size="6" />
									</li>
									<li>
										<div class="personaltextarea" style="height:46px; padding-top:2px;">
											<a href="#thankyouSection" onclick="saveThankYouNote()">
												<img src="/public/images/addcomment_btn.gif" width="145" height="32" border="0" />
											</a>
										</div>
									</li> 
								</ul>
							</div>
				            <div id="thankyousList" class="thnksarea2">
				            	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.THANKYOUS, currentTalker) }
									#{list items:talker.thankYouList, as:'thankYou'}
										#{ publicprofile/thanksThankYou thankYou: thankYou /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14" style="margin: 30px 0; float: left">This information has been made private.</span>
								#{/else}
				            </div>
				            
	                        <input id="thankyousMoreBtn" type="submit" value="" class="seemorecom" 
	                        	style="margin-left: 50px; display: none;" onclick="return showMore('thankyous');"  />
								
							*{
							Old Paging
				            <div class="thnksbottom">
				            	#{if !talker.isPrivate(models.PrivacySetting.PrivacyType.THANKYOUS) }
#{ publicprofile/paging totalSize: talker.thankYouList.size(), from: thankyousFrom, perPage: perPage, action: 'thankyous', talker: talker /}				      			
					        	#{/if}
				            </div>
				            }*
			        	</div>
			        	</div>
			        
			        	<div id="tab3" class="tab_content">
				        <div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Following <strong>(${talker.followingList.size()})</strong></span> 
					            </div>
				            </div>
				            <div id="followingList" class="thnksarea">
				            	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.FOLLOWING, currentTalker) }
									#{list items:talker.followingList, as:'following' }
										#{talker/talkerInList talker: following, currentTalker: currentTalker /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14">This information has been made private.</span>
								#{/else}
				            </div>
				            
				            <input id="followingMoreBtn" type="submit" value="" class="seemorecom" 
	                        	style="margin-left: 50px; display: none;" onclick="return showMore('following');"  />
	                        	
				            *{
				            <div class="thnksbottom">
				            	#{if !talker.isPrivate(models.PrivacySetting.PrivacyType.FOLLOWING) }
#{ publicprofile/paging totalSize: talker.followingList.size(), from: followingFrom, perPage: perPage, action: 'following', talker: talker /}
						        #{/if}
				            </div>
				            }*
			        	</div>
				        </div>
				        
				        <div id="tab4" class="tab_content">
			        	<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Followers <strong>(${talker.followerList.size()})</strong></span> 
					            </div>
				            </div>
				            <div id="followerList" class="thnksarea">
				            	#{if talker.isAllowed(models.PrivacySetting.PrivacyType.FOLLOWERS, currentTalker) }
									#{list items:talker.followerList, as:'follower' }
										#{talker/talkerInList talker: follower, currentTalker: currentTalker /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14">This information has been made private.</span>
								#{/else}
			        		</div>
			        		
			        		<input id="followerMoreBtn" type="submit" value="" class="seemorecom" 
	                        	style="margin-left: 50px; display: none;" onclick="return showMore('follower');"  />
			        		
			        		*{
		            		<div class="thnksbottom">
		            			#{if !talker.isPrivate(models.PrivacySetting.PrivacyType.FOLLOWERS) }
#{ publicprofile/paging totalSize: talker.followerList.size(), from: followersFrom, perPage: perPage, action: 'followers', talker: talker /}
						        #{/if}
		            		</div>
		            		}*
			        	</div>
    					</div>
    				</div>
    			</div>
			</div>
		</div>
		</div>
		
		#{ set currentPage = 'thankyous' /}
        #{ include 'PublicProfile/profileRight.html' /}
	</div>

<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/thankyou /}
	#{ popups/thoughtComment /}
</div>
<div id="mask"></div>