#{ extends 'main.html' /}

#{set perPage = 6 /}
#{set thankyousFrom = (action.equals('thankyous') ? from : 0) /}
#{set followingFrom = (action.equals('following') ? from : 0) /}
#{set followersFrom = (action.equals('followers') ? from : 0) /}

	<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
	<script type="text/javascript"> 	 
		//maps actions to tabs
		var tabs = {
		   		"comments" : "tab1",
		   		"thankyous" : "tab2",
		   		"following" : "tab3",
		   		"followers" : "tab4" 
			}
		
   		$(document).ready(function() {
   			//Default Action
   			var activeTab = tabs["${action}"];
   			$(".tab_content").hide(); //Hide all content
   			//activate initial tab
   			$("ul.tabs li a[href='#"+activeTab+"']").parent().addClass("active").show(); 
   			$("#"+activeTab).show();

   			//On Click Event
   			$("ul.tabs li ").click(function() {
   				$("ul.tabs li ").removeClass("active"); //Remove any "active" class
   				$(this).addClass("active"); //Add "active" class to selected tab
   				$(".tab_content").hide(); //Hide all tab content
   				var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
   				$(activeTab).fadeIn(); //Fade in the active content
   				return false;
   			});
   		 
   			//--- Comments ---
   			$(".commentreply").each(function() {
				$(this).val("Reply to comment..").css("color", "#777777");
			});
   			$("#replytext")
	   			.click(function() {
		   			updateCommentState('Extended');
	   			})
	   			.blur(function() {
		   			if ($(this).val() == "") {
		   				updateCommentState('Initial');
		   			}
	   			});
	   		$(".commentreply")
	   			.click(function() {
	   				updateReplyState($(this), 'Extended');
	   			})
	   			.blur(function() {
		   			if ($(this).val() == "") {
		   				updateReplyState($(this), 'Initial');
		   			}
	   			});

			
			//--- Thanks you's ---
			$("#displayThankYouText").click(function() {
   				$('#leavethankyouText').toggle(); 
   				$('#thankYouNote').focus(); 
   				return false;
	   		});

			$('.moretext').truncatable({ limit: 80, more: '... more', less: true, hideText: '' }); 
   		});

   		function updateCommentState(newState) {
   	   		if (newState == 'Initial') {
   	   			$("#replytext").val("What are you thinking?").css("color", "#777777");
				$("#commentBtn").hide();
   	   		}
   	   		else if (newState == 'Extended') {
	   	   		$("#replytext").val("").css("color", "#000000");
	   			$("#commentBtn").show();
   	   		}
   		}

   		function updateReplyState(replyTextArea, newState) {
   	   		if (newState == 'Initial') {
   	   			replyTextArea.val("Reply to comment..").css("color", "#777777");
   	   			replyTextArea.parent().next().hide();
   	   		}
   	   		else if (newState == 'Extended') {
   	   			replyTextArea.val("").css("color", "#000000");
	   			replyTextArea.parent().next().show();
   	   		}
   		}

   		//saveProfileComment(String profileTalkerId, String parentId, String text)
   		function saveProfileComment(parentId) {
   	   		var commentText = $("#replytext"+parentId).val();
   			$("#replytext"+parentId).val("");

   			$.post("@{Actions.saveProfileComment()}", 
  				{ profileTalkerId: '${talker.id}', parentId: parentId, text: commentText},
  				function(html) {
  	  				$("#firstcommentmessage").hide();
  					//put comment in the tree
  					if (parentId == '') {
  	  					//add as first element in the top
  						$(html).prependTo($(".commentsarea"));
  					}
  					else {
  						//add as last element in subtree
  						$("#reply"+parentId).before($(html));
  					}
  				}
  			);

   			if (parentId == '') {
   				updateCommentState('Initial');
			}
			else {
				updateReplyState($("#replytext"+parentId), 'Initial');
			}
  			return false;
   		}

   		//createThankYou(String toTalker, String note)
   		function saveThankYou() {
   	   		var noteText = $("#thankYouNote").val();
   			$("#thankYouNote").val("");

   			$.post("@{Actions.createThankYou()}", 
  				{ toTalker: '${talker.id}', note: noteText, tagFile: 'thanksThankYou'},
  				function(html) {
  					//put new thank you item in the list
  					$(html).prependTo($(".thnksarea2"));
  				}
  			);

   			$("#leavethankyouText").hide();
   		}
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
			font-family:arial;
			font-size:11px;
		}
		#reply {
			padding: 10px 0 0 0;
		}
		.commentsarea {
			padding-top: 0px;
			clear: left;
		}
		#replytext {
			height: 20px;
			color: #777777;
		}
		.commentreply {
			height: 20px;
			color: #777777;
		}
		#signupleftarea, #thankyoulist {
			width: auto;
		} 
		.profiletext2 {
			width:250px;
		}
	</style>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">
			<a href="@{ViewDispatcher.view(talker.userName)}" class="bluetext20">${talker.userName}'s</a> 
			Contacts, Comment Stream, and Thank you's</div>
		<div id="innermiddlearea">
			<div class="tabbed_box" id="tabbed_box_1">
    			<div class="tabbed_area">
			        <ul class="tabs">
			        	<li><a href="#tab1"><span>Comments (${talker.profileCommentsList.size()})</span></a></li>
			            <li><a href="#tab2"><span>Thank you's (${talker.thankYouList.size()})</span></a></li>
			            <li><a href="#tab3"><span>Following (${talker.followingList.size()})</span></a></li>
			            <li><a href="#tab4"><span>Followers (${talker.followerList.size()})</span></a></li>
			        </ul>
			        <div class="tab_container">
				        <div id="tab1" class="tab_content">
				        <div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Comment Stream</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.COMMENTS) }
										<div id="reply" class="replyForm">
											<ul>
												<li>
													<textarea class="togglecomment" rows="1" cols="45" 
														id="replytext">What are you thinking?</textarea>
											    </li>
												<li id="commentBtn" style="display: none">
													<div style="height: 46px; padding-top: 2px;" class="personaltextarea">
														<a href="#" onclick="return saveProfileComment('');">
															<img width="145" height="32" border="0" src="/public/images/addcomment_btn.gif"/>
														</a>
													</div>
												</li> 
											</ul>
										</div>
									<div class="commentsarea">
										#{if talker?.profileCommentsList?.isEmpty()}
											<span id="firstcommentmessage" class="blacktext12">
												${talker.userName} does not have any Comments, be the first to leave a Comment.
											</span>
										#{/if}
										#{profileCommentsTree commentsList: talker.profileCommentsList, level: 1 /}
									</div>
								#{/if}
								#{else}
									<span class="blacktext14">This information has been made private.</span>
								#{/else}
				            </div>
				            <div class="thnksbottom" style="display: none">
				            	<div class="seemore">
				            		<a href="#"><img width="134" height="33" 
				            			border="0" src="/public/images/seemorebutton.gif"/>
				            		</a>
				            	</div>
				            </div>
			        	</div>
			        	</div>
			        
			       		<div id="tab2" class="tab_content">
				        <div>
				        	<div class="headingarea">
					            <div class="tabheading">
					      			<span class="blacktext25">Thank you's <strong>(${talker.thankYouList.size()})</strong></span> 
					      			#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) &&
											!talker.userName.equals(currentTalker.userName) }
										<span class="greytext12">&nbsp;|&nbsp;</span> 
										<a id="displayThankYouText" href="#" 
											class="bluetext14">Give ${talker.userName} a "Thank you"</a>
									#{/if}
					      		</div>
					      		#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
#{ publicprofile/paging totalSize: talker.thankYouList.size(), from: thankyousFrom, perPage: perPage, action: 'thankyous', talker: talker /}
						        #{/if}
						    </div>
				            <div id="leavethankyouText" style="display:none">
								<ul>
									<li class="blacktext14">Give a Thank You</li>
									<li>
										<input id="thankYouNote" name="thankYouNote" type="text" 
											class="togglecommentfield" value="" size="6" />
									</li>
									<li>
										<div class="personaltextarea" style="height:46px; padding-top:2px;">
											<a href="#thankyouSection" onclick="saveThankYou()">
												<img src="/public/images/addcomment_btn.gif" width="145" height="32" border="0" />
											</a>
										</div>
									</li> 
								</ul>
							</div>
				            <div class="thnksarea2">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
									#{list items:talker.thankYouList.limit(thankyousFrom, perPage), as:'thankYou'}
										#{ thanksThankYou thankYou: thankYou /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14" style="margin: 30px 0; float: left">This information has been made private.</span>
								#{/else}
				            </div>
				            <div class="thnksbottom">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
#{ publicprofile/paging totalSize: talker.thankYouList.size(), from: thankyousFrom, perPage: perPage, action: 'thankyous', talker: talker /}				      			
					        	#{/if}
				            </div>
			        	</div>
			        	</div>
			        
			        	<div id="tab3" class="tab_content">
				        <div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Following <strong>(${talker.followingList.size()})</strong></span> 
					            </div>
					            #{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWING) }
#{ publicprofile/paging totalSize: talker.followingList.size(), from: followingFrom, perPage: perPage, action: 'following', talker: talker /}
						        #{/if}
				            </div>
				            <div class="thnksarea">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWING) }
									#{list items:talker.followingList.limit(followingFrom, perPage), as:'following' }
										#{talkerInList talker: following, currentTalker: currentTalker /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14">This information has been made private.</span>
								#{/else}
				            </div>
				            <div class="thnksbottom">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWING) }
#{ publicprofile/paging totalSize: talker.followingList.size(), from: followingFrom, perPage: perPage, action: 'following', talker: talker /}
						        #{/if}
				            </div>
			        	</div>
				        </div>
				        
				        <div id="tab4" class="tab_content">
			        	<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Followers <strong>(${talker.followerList.size()})</strong></span> 
					            </div>
					            #{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
#{ publicprofile/paging totalSize: talker.followerList.size(), from: followersFrom, perPage: perPage, action: 'followers', talker: talker /}
						        #{/if}
				            </div>
				            <div class="thnksarea">
				            	#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
									#{list items:talker.followerList.limit(followersFrom, perPage), as:'follower' }
										#{talkerInList talker: follower, currentTalker: currentTalker /}
									#{/list}
								#{/if}
								#{else}
									<span class="blacktext14">This information has been made private.</span>
								#{/else}
			        		</div>
		            		<div class="thnksbottom">
		            			#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
#{ publicprofile/paging totalSize: talker.followerList.size(), from: followersFrom, perPage: perPage, action: 'followers', talker: talker /}
						        #{/if}
		            		</div>
			        	</div>
    					</div>
    				</div>
    			</div>
			</div>
		</div>
	</div>

<div id="hiddenwindows" style="display: none">
	#{popups/thankyou /}	
	#{popups/comment /}
</div>