#{extends 'main.html' /}
<script type="text/javascript">

	$(document).ready(function(){
	
		/*$("#searchMessage")
		.focus(function() {
			$("#searchMessage").autocomplete( "search" );
		})
		.keydown(function(c) {
					if (c.keyCode === 13) {
						mailSearch("#searchMessage","");
						return false;
					}
				});
		*/
	
		$("#searchMessageHelp")
		.focus(function() {
			$(this).hide();
			$("#searchMessage").show().focus();
		})
		
		makeAutocomplete("#searchMessage", "message");
		
		$("#userNameHelp")
		.focus(function() {
			$(this).hide();
			$("#userName").show().focus();
		})
		
		makeAutocomplete("#userName", "user");
	
		
	});

	function sendReply(id){
		var replyText =  $("#replyText"+"").val();
		var emailForm = document.getElementById('emailForm');
		document.getElementById('sendReplyForm').style.display = 'none';
		var div = $("#showLoading");
		$("#ajaxLoading").prependTo(div).show();
		$.get("/message/email", {id: id, action: 'sendReply', fromPage: '${fromPage}', replyText: replyText}
		,function(data){
			$("#replyMsgList").empty();
			$("#replyMsgList").html(data);
			$("#ajaxLoading").hide();
			document.getElementById('sendReplyForm').style.display = 'block';
			document.getElementById('replyText').value = "";
			}
		);
	}

	function setNewMessageDiv(){
		document.getElementById("divForNewMessage").style.display  = 'block';
		document.getElementById("msgList").style.display = 'none'; 
	}
	function cancelMessage(){
		document.getElementById("divForNewMessage").style.display  = 'none';
		document.getElementById("msgList").style.display = 'block';
	}

	
	function doAction(action){
		var path = '${fromPage}'+'emailPage';
		var  selectedMessageIds = new Array();
		selectedMessageIds.push('${userMessage.id}');
		$.get("/message/doaction", {selectedMessageIds: selectedMessageIds, actionState: action, page: ${_page}, path: path}
		,function(data){
			if(action=='ARCHIEVE')
			window.location.href="/message/inbox";
			if(action=='MARK_AS_UNREAD')
			window.location.href="/message/"+'${fromPage}';
			if(action=='DELETE')	
			window.location.href="/message/"+'${fromPage}';
			}
		);
        
	}

	function setNewMessageDiv(){
		document.getElementById("divForNewMessage").style.display  = 'block';
		document.getElementById("msgList").style.display = 'none'; 
	}
	function cancelMessage(){
		document.getElementById("divForNewMessage").style.display  = 'none';
		document.getElementById("msgList").style.display = 'block';
	}

	function sendMessage(){
		var user= document.getElementById("userName").value;
		var subject = document.getElementById("subject").value;
		var message = document.getElementById("message").value;
		var isValid = true;
		if(user == ""){
			isValid = false;
			alert("Please enter the user");
		}else if(subject == ""){
			isValid = false;
			alert("Please enter the subject");
		}else if(message == ""){
			isValid = false;
			alert("Please enter the message");
		}
		if(isValid == true){
			var messageForm = document.getElementById('messageForm');
			messageForm.action = "/message/sentmail?user="+user+"&subject="+subject+"&message="+message+"&action=sendMessage";
			messageForm.submit();
		}
	}
</script>
<style type="text/css">
<!--
.display {
	width:1px;
	height:1px;
}
.style3 {
	color: #555555
}
.ajaxLoading {
		display: none;
		background-image: url(/public/images/ajax-loader.gif);
		background-repeat:no-repeat;
		width: 15px;
		height: 15px;
		margin: 10px auto;
		padding-top: 10px;
	}
-->
</style>
  <div id="waperhome">
    #{include 'header.html' /}
    <!--headerHome-->
    <!--======================================header Ends======================================-->
    <div class="haderbanner"><div id="innerbanner"></div></div>
    <div id="ContentHome">
      <div id="bodysubpge"  style="margin-top: 30px; margin-bottom: 10px;">
        #{include 'Messaging/messageHeader.html' /}
        <!--inboxCover-->
        #{if flash.contains("error") }
			<p class="errorMsg">${flash.error}</p>
		#{/if}
		#{else}
	         <div id="msgList">
	         <div class="ArchiveCover2">
	         <div style="display: block">  #{include 'Messaging/messageSubHeader.html' /} </div>
	         
	          <div class="subiectline" style="padding-top: 15px;">${userMessage.subject}</div>
	          </div>
	          
		         <div style="margin: 10px 0 10px 20px;" class="Kantxt"> 
		        	<label style="margin-left: -22px; font-size: 13px; font-weight: bold;">To :</label>
		              <a href="@{ViewDispatcher.view(userMessage.toTalker.userName)}" >${userMessage.toTalker.userName}</a>
		              #{list items: userMessage.toTalers, as: 'totalkers' }
		                , <a href="@{ViewDispatcher.view(totalkers)}" >${totalkers}</a>
		              #{/list}
		          </div>  
	             
	             
	        <!--ArchiveCover2-->
	        <div class="KenCoveremail" style="border: none; height: auto;">
	          <div class="kanpic1">#{talker/talkerImageLink size: 40, userName: userMessage.fromTalker.userName /}</div>
	          <div class="Kantxtemail"><a href="@{ViewDispatcher.view(userMessage.fromTalker.userName)}">${userMessage.fromTalker.userName}</a><br />
	            <span class="Kandate"> ${userMessage.displayDate}</span>
	            <p>${userMessage.printMessage(session.username)}</p>
	          </div>
	        </div>
	        
	        <div id="replyMsgList">
				#{Messaging/replyMessage messageList: messageList/}
	        </div>
		        
		    <div id="showLoading"  style="clear: both;padding-top: 10px; "> </div>
		    
	        <div class="eamilreplyCover" id="sendReplyForm">
	          <form method = "post" action = "" id="emailForm">
		          <div class="eamilreply">
		            <div class="nmessagetxt">Reply:</div>
		             <textarea class="replyinput" style=" height: 70px;" id="replyText"></textarea>
		          </div>
		          <!--nmessage-->
		          <div class="cb"></div>
		          <div class="repltext2"><a href="/message/${fromPage}?page=${_page}">Back to messages</a></div>
		          <input type="button" class="emailrepsubit" src="images/emailrepsubit.jpg" value=" " onClick="sendReply('${userMessage.id}');"/>
	          </form>
	        </div>
	        
	         </div>
         #{/else}
        <div id="divForNewMessage" style="display: none;">
         #{ include 'Messaging/newMessage.html' /}
		 </div>
        <!--eamilreplyCover-->
      </div>
      <!--bodysubpge-->
      <div id="mtright" style="padding-left:30px; padding-top: 10px;"> <br />
        #{ include 'PublicProfile/messagingRight.html' /}
      <div class="cb"></div>
      </div>
      <!--mtright-->
      
    </div>
    <!--Content-->
    <!--======================================Content Ends=============================-->
    <div class="cb"></div>
  </div>
    </div>
  <!--waperhome-->


<!--footercover-->
<!--==================================Footer Ends=================================-->
