#{extends 'main.html' /}
<script type="text/javascript">

	$(document).ready(function(){
	
		/*$("#searchMessage")
		.focus(function() {
			$("#searchMessage").autocomplete( "search" );
		})
		.keydown(function(c) {
					if (c.keyCode === 13) {
						mailSearch("#searchMessage","");
						return false;
					}
				});*/

				$("#searchMessageHelp")
				.focus(function() {
					$(this).hide();
					$("#searchMessage").show().focus();
				})
				
				makeAutocomplete("#searchMessage", "message");
		
	
		$("#searchMessageHelp")
		.focus(function() {
			$(this).hide();
			$("#searchMessage").show().focus();
		})
		
		makeAutocomplete("#searchMessage", "message");
	});

	function sendReply(id){
		var replyText = document.getElementById("replyText").value;
		var emailForm = document.getElementById('emailForm');
		emailForm.action = "/message/email?id="+id+"&action=sendReply&fromPage=${fromPage}&replyText="+replyText;
		emailForm.submit();
	}

	function setNewMessageDiv(){
		document.getElementById("divForNewMessage").style.display  = 'block';
		document.getElementById("msgList").style.display = 'none'; 
	}
	function cancelMessage(){
		document.getElementById("divForNewMessage").style.display  = 'none';
		document.getElementById("msgList").style.display = 'block';
	}

	
	function doAction(action){

		//alert('${fromPage}');
		
		var path = '${fromPage}'+'emailPage';
		var  selectedMessageIds = new Array();
		//var selectedMessageIds = document.mailForm.selectedMessageIds;
		selectedMessageIds.push('${userMessage.id}');
		$.get("/message/doaction", {selectedMessageIds: selectedMessageIds, actionState: action, page: ${_page}, path: path}
		,function(data){
			if(action=='ARCHIEVE')
			window.location.href="/message/archive";
			if(action=='MARK_AS_UNREAD')
			window.location.href="/message/"+'${fromPage}';
			if(action=='DELETE')	
			window.location.href="/message/"+'${fromPage}';
			}
		);
        
	}
</script>
<style type="text/css">
<!--
.display {
	width:1px;
	height:1px;
}
.style3 {
	color: #555555
}
-->
</style>
  <div id="waperhome">
    #{include 'header.html' /}
    <!--headerHome-->
    <!--======================================header Ends======================================-->
    <div class="haderbanner"><div id="innerbanner"></div></div>
    <div id="ContentHome">
      <div id="bodysubpge"  style="margin-top: 30px; margin-bottom: 10px;">
        #{include 'Messaging/messageHeader.html' /}
        <!--inboxCover-->
        #{if flash.contains("error") }
			<p class="errorMsg">${flash.error}</p>
		#{/if}
		#{else}
	         <div id="msgList">
	         <div class="ArchiveCover2">
	         <div style="display: block">  #{include 'Messaging/messageSubHeader.html' /} </div>
	         
	          <div class="subiectline" style="padding-top: 15px;">${userMessage.subject}</div>
	          </div>
	          
		         <div style="margin: 10px 0 10px 20px;" class="Kantxt"> 
		        	<label style="margin-left: -22px; font-size: 13px; font-weight: bold;">To :</label>
		              <a href="@{ViewDispatcher.view(userMessage.toTalker.userName)}" >${userMessage.toTalker.userName}</a>,
		              #{list items: userMessage.toTalers, as: 'totalkers' }
		                <a href="@{ViewDispatcher.view(totalkers)}" >${totalkers}</a>,
		              #{/list}
		          </div>  
	             
	             
	        <!--ArchiveCover2-->
	        <div class="KenCoveremail" style="border: none; height: auto;">
	          <div class="kanpic1">#{talker/talkerImageLink size: 40, userName: userMessage.fromTalker.userName /}</div>
	          <div class="Kantxtemail"><a href="@{ViewDispatcher.view(userMessage.fromTalker.userName)}">${userMessage.fromTalker.userName}</a><br />
	            <span class="Kandate"> ${userMessage.displayDate}</span>
	            <p>${userMessage.text}</p>
	          </div>
	        </div>
	        
	         
	        
	       		 #{if messageList != null}
					#{if messageList.size > 0}
					<div class="subiectline" style="padding-top: 15px; padding-bottom: 15px;">Reply - </div>	
						#{list items: messageList, as: 'messageInfo' }
						<div class="KenCoveremail" style="border-bottom: 1px solid #DBDBDB; height: auto;">
					          <div class="kanpic1" style="margin-top: 10px;">#{talker/talkerImageLink size: 40, userName: messageInfo.fromTalker.userName /}</div>
					          <div class="Kantxtemail" style="width: 525px;margin-top: 10px;"><a href="@{ViewDispatcher.view(userMessage.fromTalker.userName)}">${messageInfo.fromTalker.userName}</a><br />
					            <span class="Kandate"> ${messageInfo.displayDate}</span>
					            <p>${messageInfo.text}</p>
					          </div>
					    </div>
				         #{/list}
					#{/if}
				#{/if}
	        
	        
	        <div class="eamilreplyCover">
	          <form method = "post" action = "" id="emailForm">
		          <div class="eamilreply">
		            <div class="nmessagetxt">Reply:</div>
		             <textarea class="replyinput" style=" height: 70px;" id="replyText"></textarea>
		          </div>
		          <!--nmessage-->
		          <div class="cb"></div>
		          <div class="repltext2"><a href="/message/${fromPage}?page=${_page}">Back to messages</a></div>
		          <input type="submit" class="emailrepsubit" src="images/emailrepsubit.jpg" value=" " onClick="sendReply('${userMessage.id}');"/>
	          </form>
	        </div>
	        
	         </div>
         #{/else}
        <div id="divForNewMessage" style="display: none;">
         #{ include 'Messaging/newMessage.html' /}
		 </div>
        <!--eamilreplyCover-->
      </div>
      <!--bodysubpge-->
      <div id="mtright" style="padding-left:30px; padding-top: 10px;"> <br />
        #{ include 'PublicProfile/messagingRight.html' /}
      <div class="cb"></div>
      </div>
      <!--mtright-->
      
    </div>
    <!--Content-->
    <!--======================================Content Ends=============================-->
    <div class="cb"></div>
  </div>
    </div>
  <!--waperhome-->


<!--footercover-->
<!--==================================Footer Ends=================================-->
