<div class="Archivebtn"><a href="javascript:doAction('ARCHIEVE');"><img src="/public/images/Archieves.jpg" alt="Archieves" border="0" /></a></div>
<div class="Markasunreed"><a href="javascript:doAction('MARK_AS_UNREAD');"><img src="/public/images/Markasunreadbtn.jpg" alt="Markasunread" border="0" /></a></div>
<!--<div class="Markasunreed"><a href="#"><img src="/public/images/Report-Spam.jpg" alt="Report Spam" border="0" /></a></div>
--><div class="Archivebtn"><a href="javascript:doAction('DELETE');"><img src="/public/images/Delete.jpg" alt="Delete" border="0" /></a></div>