<script  type="text/javascript">
function converToHtml(val){
	 var commentText = $("#oldMessage"+val).val();
	 document.getElementById("message").value = commentText;
}
</script>

<div class="NewmssageCover" id="newMessageDiv">
  <form method = "post" action = "/message/sentmail" id="messageForm">
  	<input type="hidden" name="action" value="sendMessage">
  	<textarea  name="message" id="message" cols="0" rows="0" style="display: none;"> </textarea>
   <div class="newsmessageTop">New Message </div>
   <div class="newsmessageMid">
     <div class="nmessage">
       <div class="newmsgtext">To (username):</div>
       <input id="userNameHelp" type="text" class="nmessageinput"/>
       <input type="text" class="nmessageinput"  style="display: none;" id="userName" name="user"/>
     </div>
     <!--nmessage-->
     <div class="nmessage">
       <div class="newmsgtext">Subject:</div>
       <input type="text" class="nmessageinput" id="subject" name="subject"/>
     </div>
     <!--nmessage-->
     <div class="nmessage">
       <div class="newmsgtext">Message:</div>
       <textarea class="inputtxtarea" id="oldMessage" style="width: 484px;" name="oldMessage" onchange="converToHtml('');"></textarea>
     </div>
     <!--nmessage-->
     <div class="nmessage1">
       <div class="inboxcancel"><a href="javascript:cancelMessage();">Cancel</a></div>
       <input type="button" class="inboxsend" src="/public/images/inboxsend.jpg" value=" " onclick="sendMessage();"/>
     </div>
     <!--nmessage-->
     <div class="cb"></div>
   </div>
   <!--newsmessageMid-->
   <div class="newsmessagebot"> </div>
  </form>
</div>
