#{extends 'main.html' /}
	<link rel="stylesheet" href="/public/plugins/jquery-tooltip/jquery.tooltip.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/public/plugins/jquery-tooltip/jquery.tooltip.js" ></script>

	<style>
		body {
			background:url(/public/images/innerpagebg.gif) repeat-x top;
			font-size: 11px;
		}
		
		#mask {
		  position:absolute;
		  left:0;
		  top:0;
		  z-index:9000;
		  background-color:#e6e6e6;
		  display:none;
		}
		  
		#boxes .window {
		  position:absolute;
		  left:0;
		  top:0;
		  width:440px;
		  height:200px;
		  display:none;
		  z-index:9999;
		  padding:20px;
		}
		
		#boxes #dialog {
		  width:375px; 
		  height:203px;
		  padding:10px;
		  background-color:#ffffff;
		}
		
		#boxes #dialog1 {
		  width:685px; height:407px;
		}
		
		#dialog1 .d-header {
		  background:url(/public/images/login-header.png) no-repeat 0 0 transparent; 
		  width:375px; 
		  height:150px;
		}
		
		#dialog1 .d-header input {
		  position:relative;
		  top:60px;
		  left:100px;
		  border:3px solid #cccccc;
		  height:22px;
		  width:200px;
		  font-size:15px;
		  padding:5px;
		  margin-top:4px;
		}
		
		#dialog1 .d-blank {
		  float:left;
		  background:url(/public/images/login-blank.png) no-repeat 0 0 transparent; 
		  width:267px; 
		  height:53px;
		}
		
		#dialog1 .d-login {
		  float:left;
		  width:108px; 
		  height:53px;
		}
		
		#boxes #dialog2 {
		  background:url(/public/images/notice.png) no-repeat 0 0 transparent; 
		  width:326px; 
		  height:229px;
		  padding:50px 0 20px 25px;
		}
	</style>

	<script type="text/javaScript" src="/public/javascripts/validation.js" charset="utf-8"></script>    
	<script type="text/javaScript" src="/public/javascripts/talkerhome.js" charset="utf-8"></script>    
	<script type="text/javascript">
		var username = "${talker.userName}";
		var levelOfRecognition = "${talker.levelOfRecognition}";

		#{ oauthJavaScripts /}

		$(document).ready(function() {
			$(".followTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Conversations.follow()}", 
	  				{ topicId: topicId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});

			var showIMPopup = ${showIMPopup};
			if (showIMPopup) {
				//var id = $(this).attr('href');
				var id = "#dialog1";
			
				//Get the screen height and width
				var maskHeight = $(document).height();
				var maskWidth = $(window).width();
			
				//Set heigth and width to mask to fill up the whole screen
				$('#mask').css({'width':maskWidth,'height':maskHeight});
				
				//transition effect		
				$('#mask').fadeIn(500);	
				$('#mask').fadeTo("slow",0.6);	
			
				//Get the window height and width
				var winH = $(window).height();
				var winW = $(window).width();
		              
				//Set the popup window to center
				/*$(id).css('top',  winH/3-$(id).height()/2);*/
				$(id).css('top',  20);
				$(id).css('left', winW/2-$(id).width()/2);
			
				//transition effect
				$(id).fadeIn(200); 
			}

			//if close button is clicked
			$('.window .close, .window #noPopupLink').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();
				
				$('#mask').hide();
				$('.window').hide();
			});		

			$('.window #saveIMBtn').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();

				var imService = $(".window input[checked=true]").val();
				var imUserName = $("#imUserName").val();

				if (imService.length == 0) {
					alert("Please choose IM Service");
					return;
				}
				
				if (imService === "Twitter") {
					$('#mask').hide();
					$('.window').hide();
					
					openTwitter();
				}
				else {
					if (imUserName.length == 0) {
						alert("Please enter correct IM Username");
						return;
					}
					
					$.post("@{Profile.addIMAccount()}", 
							{imUserName : imUserName, imService : imService},
							function(data) {
								if (data.indexOf("<tr>") == 0) {
									$("#imUserName").val("");

									$('#mask').hide();
									$('.window').hide();
								}
								else {
									alert(data);
								}
							}
						);
				}
			});	
			
			//if mask is clicked
			$('#mask').click(function () {
				$(this).hide();
				$('.window').hide();
			});		
		});

		function checkForm() {
			//Check topic name field
			var newTopicField = document.postnewtopic.newTopic;
			if((newTopicField.value == "") 
					|| (newTopicField.value == "Please enter your Conversation here ...")) {
				alert("Please enter topic name.");
				newTopicField.focus();
				return false;
			}
			
			return true;
		}

		function submitenter(myfield,e) {
			var keycode;
			if (window.event) keycode = window.event.keyCode;
			else if (e) keycode = e.which;
			else return true;
			
			if (keycode == 13) {
				createTopic();
		    }
			return true;
		}
		
		function createTopic() {
			if (checkForm()) {
				postNewTopic(document.getElementById('newTopic'));
				document.getElementById('newTopic').value = "Please enter your Conversation here ...";
				return false;
			}
		}
	</script>
</head>

<body>
<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{include 'menu.html' /}
		</div>
	</div>
</div>

<div id="innerbanner"></div>
<div id="bottom_container">
	<div id="middle_area_inner">
		<div id="arealeftinner">
			<h1>Start <span class="text24">a New Conversation </span></h1>
			<div id="curvetop"></div>
			<div id="lefttextareainner">
				<form id="postform" name="postnewtopic" action="javascript:postNewTopic(document.getElementById('newTopic'));" method="post" > 
					<textarea cols="" rows="" class="textarea" id="newTopic" name="newTopic" maxlength="40" 
						onKeyPress="submitenter(this,event)" TABINDEX=1
						onclick="if (this.value == 'Please enter your Conversation here ...') this.value=''" >${newTopic}</textarea>
				</form>
			</div>
			<div id="arealefttextareainner">
				#{ common/exampleQuestions /}
				<div id="greybg">
					<a href="#" id="submitnewtopic" onClick="createTopic();" TABINDEX=2>
						<img src="/public/images/startbutton.gif" width="206" height="46" border="0" />
					</a>
				</div>
			</div>
			<div id="curvebottominner"></div>
		</div>
		<div id="arearightinner">
			<div id="rightcurvetop"></div>
			<div id="rightmid">
				<div id="imgarea">
					<a href="@{ViewDispatcher.view(talker.userName)}">
						<img src="@{Image.show(talker.userName)}" width="71" height="71" border="0" />
					</a>
				</div>
				<div class="blacktext14" id="imghead">
					<a href="@{ViewDispatcher.view(talker.userName)}" style="color: black; text-decoration: none">
						<strong>${talker.userName}</strong>
					</a><br />
			  		<span class="blacktext14">${talker.levelOfRecognition}</span>
			  	</div>
			  	<div class="bluetext14" id="textrightbox">
			  		<span class="blacktext">Conversations:</span>
			  		<a style="text-decoration: none" href="@{PublicProfile.conversationsJoined(talker.userName)}">
				    	<strong>${talker.joinedTopicsList?.size()}</strong>
				    </a> <br />
				    <span class="blacktext">Thank You's: </span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'thankyous')}">
				    	<strong>${talker.thankYouList.size()}</strong>
				    </a> <br />
				    <span class="blacktext">Followers:</span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">
				    	<strong>${talker.followerList.size()}</strong>
				    </a> <br />
				    <span class="blacktext">Following:</span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">
				    	<strong>${talker.followingList.size()}</strong>
				    </a>
				</div>
			</div>
			<div id="rightbot"></div>
		</div>
		<div id="innerarea_head">
			<h1>Your  <span class="blacktext2">Community Conversations</span></h1>
		</div>
		<div id="innerboxarea">
			<div id="innerleft">
				<div id="innerlefttop"></div>
				<div id="innermid">
					#{list items:mapTalkmiTopics.values(), as:'topic'}
					<div class="area">
						<div class="arealeft2">
							<a href="@{ViewDispatcher.view(topic.talker.userName)}" class="bluetext11">
								<img src="@{Image.show(topic.talker.userName)}" width="71" height="71" border="0" />
								<br /><span class="bluetext11">${topic.talker.userName}</span>
							</a>
				  			<br/>
				  			<span class="blacktext11">${topic.talker.levelOfRecognition}</span>
				  		</div>
						<div class="arearight">
						    <div class="areatop"></div>
						    <div class="areamid">
						    	<div class="areamidleft">
						    		<p>
						    			<span class="blacktext14">
						    				<a href="@{ViewDispatcher.view(topic.mainURL)}">${topic.topic}</a><br />
				        					<span class="blacktext12">3 members talking</span> | 
				        					<span class="blacktext12">Started ${topic.creationDate.since()}</span> |
											<a href="#" class="bluetext12 followTopicLink" rel="${topic.id}">
											${ talker.followingConvosList?.contains(topic.id) ? 'Unfollow' : 'Follow'}
											</a>
				        				</span>
				        			</p>
				        		</div>
								<div class="join">
									<a href="#" onclick="openChat('${topic.tid}')">
										<img border="0" src="/public/images/join_conv.gif" width="178" height="27" />
									</a>
								</div>
							</div>
			  				<div class="areabot"></div>
			 	 		</div>
					</div>		
					#{/list}
				</div>
				
				
				<h3>Your TalkAboutHealth Feed:</h3><br/>
					#{list items: convoFeed, as: 'activity'}
						<span class="blacktext12">${activity.toHTML().raw()}</span><br/>
						<span class="greytext11">${activity.time.format("MMM dd 'at' HH:mm a")}</span><br />
					#{/list}
					
				<br/><br/>
						
				<div id="innerbot"></div>
			</div>
			<div id="innerright">
				<form name="searchForm" action="@{Community.browseMembers('search')}" method="POST">
					<div id="searcharea">
						<input name="query" type="text" class="search"  value="Search Members" 
							onclick="this.value=''" onblur=""/>
					</div>
					<div id="searchright">
						<a href="#" onclick="document.searchForm.submit(); return false;">
							<img src="/public/images/searchbutton.gif" width="34" height="35" border="0"/>
						</a>
					</div>
				</form>
				
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="blacksubtitle">Tell us about you</span><br />
						<span class="blacktext14">Tell us more about you 
						to be notified of relevant conversations just for you.
						</span><br /><br />
						<a class="bluetext14" href="@{Profile.edit()}">Profile Information</a><br />
						<a class="bluetext14" href="@{Profile.healthDetails()}">Health Information</a><br />
						<a class="bluetext14" href="@{Profile.notifications()}">Notification Settings</a>
					</div>
					<div class="innerrighbot"></div>
				</div>
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="blacksubtitle">Share TalkAboutHealth</span><br />
			  			<span class="blacktext14">Invite friends to join the community</span><br /><br />
						<a href="#" onclick="openInvitationsWindow()"><img border="0" src="/public/images/invite.gif" /></a>
					</div>
					<div class="innerrighbot"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="boxes">

<div id="dialog" class="window"></div>

<!-- Start of Login Dialog -->  
<div id="dialog1" class="window">
	<div id="innermiddlearea">
		<div class="popboxWraper">
			<div class="popbox">
				<div class="tah">
					<img src="/public/images/talkabouthealth.jpg" alt="TalkAboutHealth" 
						onmouseover="this.style.cursor='pointer'"/>
				</div>
            	<div class="closecover">
            		<div class="close">
            			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'"/>
            		</div>
            	</div>
            	<div class="imheading">Please provide your Instant Message or Twitter account.</div>
            	<div class="opheading">(This is optional. TalkAboutHealth notifies you of conversations and questions
 					relevant to you via instant message or Twitter.)</div>
 				<div class="selheading">Select a Service:</div>
 		
 		#{list items: models.IMAccountBean.IM_SERVICES_MAP.keySet(), as:'imService'}
		    <div class="poptxtCover">
	        	<div class="popradio">
	        		<input name="imService" value="${imService}" 
	        			#{if "GoogleTalk".equals(imService) } checked="true" #{/if}
	        			type="radio" />
	        	</div>
	        	<div class="poptext">${models.IMAccountBean.IM_SERVICES_MAP.get(imService)}</div>
	        </div>
		#{/list}
		<div class="poptxtCover">
        	<div class="popradio">
        		<input name="imService" value="Twitter" type="radio" />
        	</div>
        	<div class="poptext">Twitter</div>
        </div>
        
        <div class="popuser">
        <div class="popusertxzt">Username:</div>
        <div class="popuserinput"><input id="imUserName" type="text" class="popinput" /></div>
        </div><!--popuser-->
        <div class="popusertxt1">Just the username (i.e. janesmith), no need for the @gmail.com or @yahoo.com  </div><!--popusertxt1-->
        <div class="popsubmitcover">
        <div class="popsubmitbox">
        	<input type="submit" id="saveIMBtn" src="/public/images/popsubmit.jpg" value=" " class="popsubmit" 
        		onmouseover="this.style.cursor='pointer'"/>
        </div>
        <div class="popnothanks" ><a id="noPopupLink" href="#">No thanks</a>.</div>
        </div><!--popsubmitcover-->
            <div class="cb"></div>
            </div>
            <!--popbox-->
            </div><!--popboxWraper-->
           
            <div class="cb"></div>
          </div>
</div>
<!-- End of Login Dialog -->  





<!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div><!--boxes-->