#{extends 'main.html' /}
	<link rel="stylesheet" href="/public/plugins/jquery-tooltip/jquery.tooltip.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/public/plugins/jquery-tooltip/jquery.tooltip.js" ></script>

	<style>
		body {
			background:url(/public/images/innerpagebg.gif) repeat-x top;
			font-size: 11px;
		}
	</style>

	<script type="text/javaScript" src="/public/javascripts/validation.js" charset="utf-8"></script>    
	<script type="text/javaScript" src="/public/javascripts/talkerhome.js" charset="utf-8"></script>    
	<script type="text/javascript">
		var username = "${talker.userName}";
		var levelOfRecognition = "${talker.levelOfRecognition}";

		$(document).ready(function() {
			$(".followTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Topics.follow()}", 
	  				{ topicId: topicId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});
		});
		
		function checkForm()
		{
			//Check topic name field
			var newTopicField = document.postnewtopic.newTopic;
			if((newTopicField.value == "") 
					|| (newTopicField.value == "Please enter your Conversation here ...")) {
				alert("Please enter topic name.");
				newTopicField.focus();
				return false;
			}
			
			return true;
		}

		function submitenter(myfield,e) {
			var keycode;
			if (window.event) keycode = window.event.keyCode;
			else if (e) keycode = e.which;
			else return true;
			
			if (keycode == 13) {
				createTopic();
		    }
			return true;
		}
		
		function createTopic() {
			if (checkForm()) {
				postNewTopic(document.getElementById('newTopic'));
				document.getElementById('newTopic').value = "Please enter your Conversation here ...";
				return false;
			}
		}
		
		function openChat(topicId){
			window.open("@{Talk.talkApp()}/"+topicId, "TalkerWindow", "width=700,height=500");
		}
	</script>
</head>

<body>
<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{include 'menu.html' /}
		</div>
	</div>
</div>

<div id="innerbanner"></div>
<div id="bottom_container">
	<div id="middle_area_inner">
		<div id="arealeftinner">
			<h1>Start <span class="text24">a New Conversation </span></h1>
			<div id="curvetop"></div>
			<div id="lefttextareainner">
				<form id="postform" name="postnewtopic" action="javascript:postNewTopic(document.getElementById('newTopic'));" method="post" > 
					<textarea cols="" rows="" class="textarea" id="newTopic" name="newTopic" maxlength="40" 
						onKeyPress="submitenter(this,event)" TABINDEX=1
						onclick="if (this.value == 'Please enter your Conversation here ...') this.value=''" >${newTopic}</textarea>
				</form>
			</div>
			<div id="arealefttextareainner">
				#{ common/exampleQuestions /}
				<div id="greybg">
					<a href="#" id="submitnewtopic" onClick="createTopic();" TABINDEX=2>
						<img src="/public/images/startbutton.gif" width="206" height="46" border="0" />
					</a>
				</div>
			</div>
			<div id="curvebottominner"></div>
		</div>
		<div id="arearightinner">
			<div id="rightcurvetop"></div>
			<div id="rightmid">
				<div id="imgarea">
					<a href="@{PublicProfile.view(talker.userName)}">
						<img src="@{Image.show(talker.userName)}" width="71" height="71" border="0" />
					</a>
				</div>
				<div class="blacktext14" id="imghead">
					<a href="@{PublicProfile.view(talker.userName)}" style="color: black; text-decoration: none">
						<strong>${talker.userName}</strong>
					</a><br />
			  		<span class="blacktext14">${talker.levelOfRecognition}</span>
			  	</div>
			  	<div class="bluetext14" id="textrightbox">
			  		<span class="blacktext">Conversations:</span>
			  		<a style="text-decoration: none" href="@{PublicProfile.conversationsJoined(talker.userName)}">
				    	<strong>${talker.numberOfTopics}</strong>
				    </a> <br />
				    <span class="blacktext">Thank You's: </span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'thankyous')}">
				    	<strong>${talker.thankYouList.size()}</strong>
				    </a> <br />
				    <span class="blacktext">Followers:</span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">
				    	<strong>${talker.followerList.size()}</strong>
				    </a> <br />
				    <span class="blacktext">Following:</span>
				    <a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">
				    	<strong>${talker.followingList.size()}</strong>
				    </a>
				</div>
			</div>
			<div id="rightbot"></div>
		</div>
		<div id="innerarea_head">
			<h1>Your  <span class="blacktext2">Community Conversations</span></h1>
		</div>
		<div id="innerboxarea">
			<div id="innerleft">
				<div id="innerlefttop"></div>
				<div id="innermid">
					#{list items:mapTalkmiTopics.values(), as:'topic'}
					<div class="area">
						<div class="arealeft2">
							<a href="@{PublicProfile.view(topic.talker.userName)}" class="bluetext11">
								<img src="@{Image.show(topic.talker.userName)}" width="71" height="71" border="0" />
								<br /><span class="bluetext11">${topic.talker.userName}</span>
							</a>
				  			<br/>
				  			<span class="blacktext11">${topic.talker.levelOfRecognition}</span>
				  		</div>
						<div class="arearight">
						    <div class="areatop"></div>
						    <div class="areamid">
						    	<div class="areamidleft">
						    		<p>
						    			<span class="blacktext14">
						    				<a href="@{Topics.viewTopic(topic.mainURL)}">${topic.topic}</a><br />
				        					<span class="blacktext12">3 members talking</span> | 
				        					<span class="blacktext12">Started ${topic.creationDate.since()}</span> |
											<a href="#" class="bluetext12 followTopicLink" rel="${topic.id}">
											${ talker.followingTopicsList?.contains(topic.id) ? 'Unfollow' : 'Follow'}
											</a>
				        				</span>
				        			</p>
				        		</div>
								<div class="join">
									<a href="#" onclick="openChat('${topic.tid}')">
										<img border="0" src="/public/images/join_conv.gif" width="178" height="27" />
									</a>
								</div>
							</div>
			  				<div class="areabot"></div>
			 	 		</div>
					</div>		
					#{/list}
				</div>
				<div id="innerbot"></div>
			</div>
			<div id="innerright">
				<form name="searchForm" action="@{Search.search()}" method="POST">
					<div id="searcharea">
						<input name="query" type="text" class="search"  value="Search Members" 
							onclick="this.value=''" onblur=""/>
					</div>
					<div id="searchright">
						<a href="#" onclick="document.searchForm.submit(); return false;">
							<img src="/public/images/searchbutton.gif" width="34" height="35" border="0"/>
						</a>
					</div>
				</form>
				
				<div class="innerrightbox" style="padding-top: 0px">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="blacksubtitle">Tell us about you</span><br />
						<span class="blacktext14">Tell us more about you 
						to be notified of relevant conversations just for you.
						</span><br /><br />
						<a class="bluetext14" href="@{Profile.edit()}">Profile Information</a><br />
						<a class="bluetext14" href="@{Profile.healthDetails()}">Health Information</a><br />
						<a class="bluetext14" href="@{Profile.notifications()}">Notification Settings</a>
					</div>
					<div class="innerrighbot"></div>
				</div>
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="blacksubtitle">Share TalkAboutHealth</span><br />
			  			<span class="blacktext14">Invite friends to join the community</span><br /><br />
						<a href="#" onclick="openInvitationsWindow()"><img border="0" src="/public/images/invite.gif" /></a>
					</div>
					<div class="innerrighbot"></div>
				</div>
			</div>
		</div>
	</div>
</div>