#{extends 'main.html' /}

	<style>
		body {
			background:url(/public/images/innerpagebg.gif) repeat-x top;
		}
	</style>

	<script type="text/javaScript" src="/public/javascripts/validation.js" charset="utf-8"></script>    
	<script type="text/javaScript" src="/public/javascripts/talkerhome.js" charset="utf-8"></script>    
	<script type="text/javascript">
		var username = "${talker.userName}";
		var imgPath = "${talker.imagePath}";
		var levelOfRecognition = "${talker.levelOfRecognition}";
		
		function checkForm()
		{
			//Check topic name field
			var newTopicField = document.postnewtopic.newTopic;
			if((newTopicField.value == "") 
					|| (newTopicField.value == "Please enter your Conversation here ...")) {
				alert("Please enter topic name.");
				newTopicField.focus();
				return false;
			}
			
			return true;
		}

		function submitenter(myfield,e) {
			var keycode;
			if (window.event) keycode = window.event.keyCode;
			else if (e) keycode = e.which;
			else return true;
			
			if (keycode == 13) {
				createTopic();
		    }
			return true;
		}
		
		function createTopic() {
			if (checkForm()) {
				postNewTopic(document.getElementById('newTopic'));
				document.getElementById('newTopic').value = "Please enter your Conversation here ...";
				return false;
			}
		}
		
		function open_chat(){
			window.open("http://talkabouthealth.com:5080/tah/chat.jsp?id="+username);
		}
		
		function openInvitationsWindow() {
			window.open("@{Home.invitations()}", "TalkAboutHealthInvitations", "width=600,height=350");
		}
	</script>
</head>

<body>
<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{include 'menu.html' /}
		</div>
	</div>
</div>

<div id="innerbanner"></div>
<div id="bottom_container">
	<div id="middle_area_inner">
		<div id="arealeftinner">
			<h1>Start <span class="text24">a New Conversation </span></h1>
			<div id="curvetop"></div>
			<div id="lefttextareainner">
				<form id="postform" name="postnewtopic" action="javascript:postNewTopic(document.getElementById('newTopic'));" method="post" > 
					<textarea cols="" rows="" class="textarea" id="newTopic" name="newTopic" maxlength="40" 
						onKeyPress="submitenter(this,event)" TABINDEX=1
						onclick="if (this.value == 'Please enter your Conversation here ...') this.value=''" >${newTopic}</textarea>
				</form>
			</div>
			<div id="arealefttextareainner">
				<div id="examplequestion">
					<p><a href="#" class="blacktext">&nbsp;Example Question</a></p>
				</div>
				<div id="greybg">
					<a href="#" id="submitnewtopic" onClick="createTopic();" TABINDEX=2>
						<img src="/public/images/startbutton.gif" width="206" height="46" border="0" />
					</a>
				</div>
			</div>
			<div id="curvebottominner"></div>
		</div>
		<div id="arearightinner">
			<div id="rightcurvetop"></div>
			<div id="rightmid">
				<div id="imgarea"><img src="${talker.imagePath}" width="71" height="71" /></div>
				<div class="pinktext" id="imghead">
					${talker.userName}<br />
			  		<span class="blacktext14">${talker.levelOfRecognition}</span>
			  	</div>
			  	<div class="bluetext14" id="textrightbox">
			  		<span class="blacktext">Conversations:</span><strong> ${talker.numberOfTopics}</strong> <br />
				    <span class="blacktext">Thanks You's:</span><strong> ${talker.thankYouList.size()}</strong> <br />
				    <span class="blacktext">Followers:</span> <strong> ${talker.followerList.size()}</strong> <br />
				    <span class="blacktext">Following:</span><strong> ${talker.followingList.size()}</strong>
				</div>
			</div>
			<div id="rightbot"></div>
		</div>
		<div id="innerarea_head">
			<h1>Your  <span class="blacktext2">Community Conversations</span></h1>
		</div>
		<div id="innerboxarea">
			<div id="innerleft">
				<div id="innerlefttop"></div>
				<div id="innermid">
					#{list items:mapTalkmiTopics.values(), as:'topic'}
					<div class="area">
						<div class="arealeft2">
							<img src="${topic.talker.imagePath}" width="71" height="71" />
							<br />
				  			<span class="bluetext11">${topic.talker.userName}</span><br/>
				  			<span class="blacktext11">${topic.talker.levelOfRecognition}</span>
				  		</div>
						<div class="arearight">
						    <div class="areatop"></div>
						    <div class="areamid">
						    	<div class="areamidleft">
						    		<p>
						    			<span class="blacktext14">
						    				${topic.topic}<br />
				        					<span class="bluetext12">3 people talking</span> | 
				        					<span class="red12">Started ${topic.creationDate.since()}</span><br />
				        				</span>
				        				<span class="blacktext">Community: Breast Cancer</span>
				        			</p>
				        		</div>
								<div class="join">
									<a href="javascript:open_chat('${topic.id}')">
										<img border="0" src="/public/images/join_conv.gif" width="178" height="27" />
									</a>
								</div>
							</div>
			  				<div class="areabot"></div>
			 	 		</div>
					</div>		
					#{/list}
				</div>
				<div id="innerbot"></div>
			</div>
			<div id="innerright">
				<!-- 
				<div id="searcharea">
					<input name="" type="text" class="search"  value="Search Conversation" 
						onclick="this.value=''" onblur="this.value='Search Conversation'"/>
				</div>
				<div id="searchright"><img src="/public/images/searchbutton.gif" width="34" height="35" /></div>
				-->
				<div class="innerrightbox" style="padding-top: 0px">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="redtext">Tell us about you</span><br />
						<span class="blacktext14">Tell us more about you to be 
							notified of the most relevant 
							conversations to you
						</span><br /><br />
						<span class="bluetext14">Treatments and Medications<br />
							Personal Info<br />
							Notification Settings
						</span>
					</div>
					<div class="innerrighbot"></div>
				</div>
				<div class="innerrightbox">
					<div class="innerrightop"></div>
					<div class="innerrighmid">
						<span class="redtext">Share TalkAboutHealth</span><br />
			  			<span class="blacktext14">Invite friends to join the community</span><br /><br />
						<a href="#" onclick="openInvitationsWindow()"><img border="0" src="/public/images/invite.gif" /></a>
					</div>
					<div class="innerrighbot"></div>
				</div>
			</div>
		</div>
	</div>
</div>