<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<title>TalkAboutHealth Invitations</title>
	
	<style type="text/css">
		body {
			margin: 0px;
			padding:0px;
			font-family:arial;
			font-size:14px;
			color:#000000;
		}
		#container {
			margin: 0px auto;
			padding: 10px;
			width: 500px;
		}
		#invitesform {
			background-color: #E2EEF3;
			text-align: left;
			padding: 10px;
		}
		textarea {
			border:1px solid black;
			height:5em;
			padding:5px;
			width:400px;
		}
		.error {color: red}
		.msg {font-weight:bold}
	</style>
</head>
<body>

<div id="container">
#{if invitations <= 0 }
	<span class='label'>Sorry, you don't have invites!</span>
#{/if}
#{else}
	You have ${invitations} TalkAboutHealth invitations left.<br/><br/>
	#{if flash.success}
	    <span class="success">Invitations successfully sent!</span>
	#{/if}
	#{ifErrors}
	   #{errors}
	       <span class="error">${error}</span><br/>
	   #{/errors}
	#{/ifErrors}
	<form id="invitesform" action="@{Home.sendInvitations()}" method="post">
		<span class="label">To invite people, type their email addresses here (separated by commas):</span><br/>
		<textarea id="emails" name="emails">${flash.emails}</textarea><br/><br/>
		
		<span class="label">Add a note to the invitation:</span><br/>
		<textarea id="note" name="note">${flash.note}</textarea><br/><br/>
		
		<input type="submit" value="Send invites" />
	<form>
#{/else}
</div>

	#{ common/googleAnalytics /}

</body>
</html>