#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		#mask { background-color:#e6e6e6; }
		
		.stylez2 {
			font-size:22px;
			color:#000000;
			clear:both;
			padding-top:5px;
			text-align:left;
			padding-bottom:4px;
		}
		.style2 {
			color: #000000
		}
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
	<script type="text/javascript">
		var titleLimit = 150;
		
		$(document).ready(function() {
			makeAutocomplete("#convoText", "convo");
			
			$(".followConvoLink").live('click', function() {
				var topicId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Conversations.follow()}", 
	  				{ topicId: topicId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});

			$('#saveConvoBtn').click(function (e) {
				var type = "QUESTION";
				if ($("#newConvoTypeConvo").attr("checked")) {
					type = "CONVERSATION";
				}
				var title = $("#newConvoTitle").val();
				var details = $("#newConvoDetails").val();
				var topics = $("#newConvoTopics").val();

				if (title === "") {
					alert("Please input headline.");
					return false;
				}

				$.post("@{Conversations.create()}", 
	  				{ type: type, title: title, details: details, topics: topics},
	  				function(data) {
	  					if (type == "CONVERSATION") {
	  						hideAll();
	  						openChat(data.tid);
	  					}
	  					else {
	  						$("#questionLink").attr("href", data.url).html(data.url);
		  					
	  						$("#newConvoForm").hide();
	  						$("#newQuestionConfirm").show();
	  					}
	  				}
	  			);

				$("#convoText").val("");
				$("#newConvoTitle").val("");
				$("#newConvoDetails").val("");
				$("#newConvoTopics").val("");

	  			return false;
			});

			//if close button is clicked
			$('.window .close, .window .cancelLink').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();
				hideAll();
			});		

			$("#startLink").click(function(e) {
				//Cancel the link behavior
				e.preventDefault();

				$("#newConvoForm").show();
				$("#newQuestionConfirm").hide();
				$("#newConvoTitle").val($("#convoText").val());
				showPopup("#startDialog", 350);
			});

			//----- Topics autocomplete -----------
			function split( val ) {
				return val.split( /,\s*/ );
			}
			function extractLast( term ) {
				return split( term ).pop();
			}

			var cache = {};
			$( "#newConvoTopics" ).autocomplete({
				minLength: 1,
				source: function(request, response) {
					if ( request.term in cache ) {
						response( cache[ request.term ] );
						return;
					}
					
					$.ajax({
						url: "/search/ajaxTopicSearch",
						dataType: "json",
						data: request,
						success: function( data ) {
							cache[ request.term ] = data;
							response( data );
						}
					});
				},
				search: function() {
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 1 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			})
			.data( "autocomplete" )._renderItem = function( ul, item ) {
				return $( "<li></li>" )
					.data( "item.autocomplete", item )
					.append( "<a>" + item.label + "&nbsp;<span>" + item.type + "</span></a>" )
					.appendTo( ul );
			};

			$('.moretext').truncatable({ limit: 160, more: '... more', less: true, hideText: '' });
		});
	</script>
		
<div id="managtopic1" style="background:url(/public/images/inner_bgmt.gif); background-repeat:repeat-x;">
  <div id="managtopic">
  	#{include 'header.html' /}
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
                <div id="targetedtherapy">
                  <div class="comh1">Ask a question or start a talk</div>
                  <div class="comborder"></div>
                </div>
                <div class="topipcWraper">
                  #{startConvoInput /}

                  <div class="stylez2">Live Community Talks (${liveTalks.size()})</div>
                    <div class="topicborder"></div>
                    <!--mtinputbox-->

                    <div class="cb"></div>
                    <div class="topic">
                    
#{list items: liveTalks, as: 'convo'}
<div class="joinbox">
	<div class="joinpic">
		<a href="@{ViewDispatcher.view(convo.talker.userName)}">
			<img src="@{Image.show(convo.talker.userName)}" width="48" height="48" border="0" />
		</a>
	</div>
	<div class="jointxtbox">
		<div class="jointextstop">
			<a href="${convo.mainURL}">${convo.topic}</a>
		</div>
		<div class="joinztextlink">
			<a href="#" class="followConvoLink" rel="${convo.id}">
				${talker.followingConvosList?.contains(convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
			<span>${convo.creationDate.since()}</span>
		</div>
		<div class="jointxtlink1">
			Conversation by 
			<a href="@{ViewDispatcher.view(convo.talker.userName)}" 
				class="blue13"><strong>${convo.talker.userName}</strong></a>
			<span class="blacktext12">
				#{if convo.talker.connection}
					(${convo.talker.connection}, ${convo.talker.levelOfRecognition})
				#{/if}
				#{else}
					(${convo.talker.levelOfRecognition})
				#{/else}
			</span>
		</div>
		<div class="jointxtlink2"></div>
	</div>
	<div class="joinconbox">
		<input type="submit" src="/public/images/joinconversation.jpg" 
			value=" " class="joinconversation" onclick="return openChat('${convo.tid}');" />
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>		                      
						#{/list}
						#{else}
							<span class="blacktext14">Be the first to start a live talk.</span>
						#{/else}
						
                      <div class="replytommentbox1" style="display: none;">
                        <input type="submit" src="images/seemore.jpg" value=" " class="seemorecom" />
                      </div>

                      <div class="cb"></div>
                    </div>
                    <!--topic-->

                  <!--topic-->
                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'liveTalks' /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>


<div id="boxes">
  <div id="dialog" class="window"> </div>
  <!-- Start of Login Dialog -->
  <div id="startDialog" class="window">
    <div class="boxtopcenter">
      <div id="newConvoForm" class="popboxWraper">
        <div class="popbox2">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant">I want to</div>
          <div class="askquestion">

            <div class="askquestionbox">
              <div class="askradio1">
                <input id="newConvoTypeQuestion" name="newConvoType" checked="checked" type="radio" />
              </div>
              <div class="asktext1">Ask a Question</div>
              <div class="asktext2">Or</div>
              <div class="askradio1">
                <input id="newConvoTypeConvo" name="newConvoType" type="radio" />
              </div>
              <div class="asktext3">Start a Live Conversation </div>
            </div>
            <!--askquestionbox-->
          </div>
          <!--askquestion-->
          <div class="askheadingCoverz">
            <div class="asktextl">Headline:</div>
            <div class="askinputCover">
				<textarea id="newConvoTitle" class="askkinput" cols="4" rows="4"></textarea>
            </div>
          </div>
          <!--askheadingCoverz-->
          <div class="askheadingCover">
            <div class="asktextl">Details:<br />
              <span class="asksubtxt">(Optional)</span></div>
            <div class="askinputCover">
              <textarea id="newConvoDetails" class="askinput2" cols="4" rows="3"></textarea>
            </div>
          </div>
          <!--askheadingCover-->
          <div class="askheadingCover">
            <div class="asktextl">Topics:<br />
              <span class="asksubtxt">(Optional)</span></div>

            <div class="askinputCover">
              <textarea id="newConvoTopics" class="askkinput" cols="4" rows="3"></textarea>
            </div>
          </div>
          <!--askheadingCover-->
          <div class="popsubmitcovar">
            <div class="notetext">Note: The more descriptive your request, the more like you are to receive support.</div>
            <div class="popnothanks1"><a href="#" class="cancelLink">Cancel</a></div>

            <div class="popsubmitbox1">
              <div class="popupsubmits"><a href="#" id="saveConvoBtn">Submit</a></div>
            </div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <!--popboxWraper-->
      <div id="newQuestionConfirm" class="popboxWraper" style="display: none;">
        <div class="popbox3">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">Thank you for sharing your question</div>

          <div class="popusertxt3">We will notify other members of your question. Responses will be sent to your email account as well as viewable at the
            following link: <a id="questionLink" href="#"></a></div>
          <div class="popsubmitcover1">
            <div class="popnothanks3"><a class="cancelLink" href="#">Close</a></div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      <!--popboxWraper-->
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
  </div>
  <!-- End of Login Dialog -->
  <!-- Mask to cover the whole screen -->

  <div id="mask"></div>
</div>