#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		#mask { background-color:#e6e6e6; }
	</style>
	
	<script type="text/javascript">
		var username = "${talker.userName}";
		var levelOfRecognition = "${talker.levelOfRecognition}";

		#{ oauthJavaScripts /}

		$(document).ready(function() {
			$(".followTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Conversations.follow()}", 
	  				{ topicId: topicId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});

			var showIMPopup = ${showIMPopup};
			//showIMPopup = true;
			if (showIMPopup) {
				var id = "#imDialog";
				showPopup(id);
			}

			$('.window #saveIMBtn').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();

				var imService = $(".window input[checked=true]").val();
				var imUserName = $("#imUserName").val();

				if (imService.length == 0) {
					alert("Please choose IM Service");
					return;
				}
				
				if (imService === "Twitter") {
					$('#mask').hide();
					$('.window').hide();
					
					openTwitter();
				}
				else {
					if (imUserName.length == 0) {
						alert("Please enter correct IM Username");
						return;
					}
					
					$.post("@{Profile.addIMAccount()}", 
						{imUserName : imUserName, imService : imService},
						function(data) {
							if (data.indexOf("<tr>") == 0) {
								$("#imUserName").val("");

								$('#mask').hide();
								$('.window').hide();
							}
							else {
								alert(data);
							}
						}
					);
				}
			});	

			$('#saveConvoBtn').click(function (e) {
				var type = "QUESTION";
				if ($("#newConvoTypeConvo").attr("checked")) {
					type = "CONVERSATION";
				}
				var title = $("#newConvoTitle").val();
				var details = $("#newConvoDetails").val();
				var topics = $("#newConvoTopics").val();

				if (title === "") {
					alert("Please input headline.");
					return false;
				}

				$.post("@{Conversations.create()}", 
	  				{ type: type, title: title, details: details, topics: topics},
	  				function(data) {
	  					if (type == "CONVERSATION") {
	  						hideAll();
	  						openChat(data.tid);
	  					}
	  					else {
	  						$("#questionLink").attr("href", data.url).html(data.url);
		  					
	  						$("#newConvoForm").hide();
	  						$("#newQuestionConfirm").show();
	  					}
	  				}
	  			);

				$("#convoText").val("");
				$("#newConvoTitle").val("");
				$("#newConvoDetails").val("");
				$("#newConvoTopics").val("");

	  			return false;
			});

			//if close button is clicked
			$('.window .close, .window .cancelLink').click(function (e) {
				//Cancel the link behavior
				e.preventDefault();
				hideAll();
			});		

			$("#startLink").click(function(e) {
				//Cancel the link behavior
				e.preventDefault();

				$("#newConvoForm").show();
				$("#newQuestionConfirm").hide();
				$("#newConvoTitle").val($("#convoText").val());
				showPopup("#startDialog");
			});
		});
	</script>
		
<div id="managtopic1" style="background:url(/public/images/inner_bgmt.gif); background-repeat:repeat-x;">
  <div id="managtopic">
  	#{include 'header.html' /}
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
                <div id="targetedtherapy">
                  <div class="comh1">Ask a question or start a talk</div>
                  <div class="comborder"></div>
                </div>
                <div class="topipcWraper">
                  <div class="startsearchbox">
                    <div class="startserch">
                      <div class="demo">
                        <div class="ui-widget">
                          <textarea id="convoText" name="textarea" 
                          	onKeyDown="limitText(this, 150);" onKeyUp="limitText(this, 150);" 
                            class="edititinputx" rows="4"  cols="3" style="width:450px;height:40px" ></textarea>
                        </div>
                      </div>
                      <!-- End demo -->
                    </div>
                    <input id="startLink" type="submit" src="/public/images/startsubmit.jpg" value=" " class="startsubmit" />
                  </div>

                  <!--startsearchbox-->
                  <div class="topic">
                  	*{
                    <div class="newpage1">Live Community Talks (8)</div>
                    <a href="#"><img src="/public/images/refreshicon.jpg" alt="refresh" border="0" style="float:left; padding-left:4px; padding-top:22px"  /></a>
                    <div class="seeall"><a href="#">See All</a></div>
                    <div class="topicborder"></div>
                    <!--mtinputbox-->
                    <div class="cb"></div>
                    }*

                    <div class="newpageCover">
                      *{
                      <div class="joinbox">
                        <div class="joinpic"><img src="/public/images/joinpic.jpg" alt="join" /></div>
                        <div class="jointxtbox">
                          <div class="jointextstop"> <a href="#">Received 2 different Diagnoses today, What do i do next?
                            Shouldi speak to another...</a></div>
                          <div class="joinztextlink"><a href="#">3 members speaking</a> | <a href="#"> Follow</a> | <a href="#">Flag</a> | <a href="#">Stated 4 minutes ago</a></div>

                          <div class="jointxtlink1">Question by<a href="#"> jill</a> (Patient) in topic<a href="#"> Just Diagnosed</a> ...<a href="#" style="font-size:11px; font-weight:normal;"> more</a></div>
                        </div>
                        <!--jointxtbox-->

                        <div class="joinconbox">
                          <input type="submit" src="/public/images/joinconversation.jpg" value=" " class="joinconversation" />
                        </div>
                        <div class="cb"></div>
                        <div class="joinborder"></div>
                      </div>
                      }*
                     
                      <!--joinbox-->
                      <div class="topic">
                        <div class="newpage1">Conversation Feed</div>

                        <div class="seeall"><a href="#">See All</a></div>
                        <div class="topicborder"></div>
                        <div class="cb"></div>
                      </div>
                      <!--topic-->
                      <div class="topic">
                      	*{
                        <div class="joinbox">
                          <div class="joinpic"><img src="/public/images/joinpic.jpg" alt="join" /></div>

                          <div class="jointxtbox">
                            <div class="jointextstop"> <a href="#">Received 2 different Diagnoses today, What do i do next?
                              Shouldi speak to another&nbsp;&nbsp;&nbsp;...</a> <a href="#" style="font-size:11px; font-weight:normal;"> more</a></div>
                            <div class="joinztextlink"><a href="#">3 members speaking</a> | <a href="#"> Follow</a> | <a href="#">Flag</a> | <a href="#">Stated 4 minutes ago</a></div>

                            <div class="jointxtlink1">Question by<a href="#"> jill</a> (Patient) in topic<a href="#"> Just Diagnosed</a> ...<a href="#" style="font-size:11px; font-weight:normal;"> more</a></div>
                            <div class="jointxtlink2">Need a study partner? Sure you do! Studying with others is not only fun, but one of the best ways to learn. So Grockit has added a cool new feature ......<a href="#" style="font-size:11px; font-weight:normal;"> more</a></div>

                          </div>
                          <!--jointxtbox-->
                          <div class="cb"></div>
                          <div class="joinborder"></div>
                        </div>
                        }*
                        #{list items: convoFeed, as: 'activity'}
							<div class="joinbox">
								<div class="joinpic">
									<a href="@{ViewDispatcher.view(activity.talker.userName)}">
										<img src="@{Image.show(activity.talker.userName)}" width="48" height="48" border="0" />
									</a>
								</div>
								<div class="jointxtbox">
									#{if activity.convo}
										<div class="jointextstop">
											<a href="${activity.convo.mainURL}">${activity.convo.topic}</a>
										</div>
										<div class="joinztextlink">
											<span>3 members speaking</span> | 
											<a href="#" class="followTopicLink" rel="${activity.convo.id}">
												${talker.followingConvosList?.contains(activity.convo.id) ? 'Unfollow' : 'Follow'}
											</a> | 
											<a href="#">Flag</a> | 
											<span>Started ${activity.convo.creationDate.since()}</span>
										</div>
									#{/if}
									<div class="jointxtlink1">
										${activity.toHTML().raw()}
									</div>
									<div class="jointxtlink2"></div>
								</div>
								<div class="cb"></div>
								<div class="joinborder"></div>
							</div>
						#{/list}
                        <div class="cb"></div>
                      </div>
                      <!--topic-->
                      <div class="cb"></div>
                    </div>
                    <!--newpageCover-->
                    <div class="cb"></div>
                  </div>
                  <!--topic-->
                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'home' /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>


<div id="boxes">
  <div id="dialog" class="window"> </div>
  <!-- Start of Login Dialog -->
  <div id="startDialog" class="window">
    <div class="boxtopcenter">
      <div id="newConvoForm" class="popboxWraper">
        <div class="popbox2">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant">I want to</div>
          <div class="askquestion">

            <div class="askquestionbox">
              <div class="askradio1">
                <input id="newConvoTypeQuestion" name="newConvoType" checked="checked" type="radio" />
              </div>
              <div class="asktext1">Ask a Question</div>
              <div class="asktext2">Or</div>
              <div class="askradio1">
                <input id="newConvoTypeConvo" name="newConvoType" type="radio" />
              </div>
              <div class="asktext3">Start a Live Conversation </div>
            </div>
            <!--askquestionbox-->
          </div>
          <!--askquestion-->
          <div class="askheadingCoverz">
            <div class="asktextl">Headline:</div>
            <div class="askinputCover">
				<textarea id="newConvoTitle" class="askkinput" cols="4" rows="4"></textarea>
            </div>
          </div>
          <!--askheadingCoverz-->
          <div class="askheadingCover">
            <div class="asktextl">Details:<br />
              <span class="asksubtxt">(Optional)</span></div>
            <div class="askinputCover">
              <textarea id="newConvoDetails" class="askinput2" cols="4" rows="3"></textarea>
            </div>
          </div>
          <!--askheadingCover-->
          <div class="askheadingCover">
            <div class="asktextl">Topics:<br />
              <span class="asksubtxt">(Optional)</span></div>

            <div class="askinputCover">
              <textarea id="newConvoTopics" class="askkinput" cols="4" rows="3"></textarea>
            </div>
          </div>
          <!--askheadingCover-->
          <div class="popsubmitcovar">
            <div class="notetext">Note: The more descriptive your request, the more like you are to receive support.</div>
            <div class="popnothanks1"><a href="#" class="cancelLink">Cancel</a></div>

            <div class="popsubmitbox1">
              <div class="popupsubmits"><a href="#" id="saveConvoBtn">Submit</a></div>
            </div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <!--popboxWraper-->
      <div id="newQuestionConfirm" class="popboxWraper" style="display: none;">
        <div class="popbox3">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">Thank you for sharing your question</div>

          <div class="popusertxt3">We will notify other members of your question. Responses will be sent to your email account as well as viewable at the
            following link: <a id="questionLink" href="#"></a></div>
          <div class="popsubmitcover1">
            <div class="popnothanks3"><a class="cancelLink" href="#">Close</a></div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      <!--popboxWraper-->
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
  </div>
  <!-- End of Login Dialog -->
  
  <div id="imDialog" class="window">
	<div id="innermiddlearea">
		<div class="popboxWraper">
			<div class="popbox">
				<div class="closecover">
            		<div class="close">
            			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'"/>
            		</div>
            	</div>
				<div class="tah">
					<img src="/public/images/talkabouthealth.jpg" alt="TalkAboutHealth" 
						onmouseover="this.style.cursor='pointer'"/>
				</div>
            	<div class="imheading">Please provide your Instant Message or Twitter account.</div>
            	<div class="opheading">(This is optional. TalkAboutHealth notifies you of conversations and questions
 					relevant to you via instant message or Twitter.)</div>
 				<div class="selheading">Select a Service:</div>
 		
 		#{list items: models.IMAccountBean.IM_SERVICES_MAP.keySet(), as:'imService'}
		    <div class="poptxtCover">
	        	<div class="popradio">
	        		<input name="imService" value="${imService}" 
	        			#{if "GoogleTalk".equals(imService) } checked="true" #{/if}
	        			type="radio" />
	        	</div>
	        	<div class="poptext">${models.IMAccountBean.IM_SERVICES_MAP.get(imService)}</div>
	        </div>
		#{/list}
		<div class="poptxtCover">
        	<div class="popradio">
        		<input name="imService" value="Twitter" type="radio" />
        	</div>
        	<div class="poptext">Twitter</div>
        </div>
        
        <div class="popuser">
        <div class="popusertxzt">Username:</div>
        <div class="popuserinput"><input id="imUserName" type="text" class="popinput" /></div>
        </div><!--popuser-->
        <div class="popusertxt1">Just the username (i.e. janesmith), no need for the @gmail.com or @yahoo.com  </div><!--popusertxt1-->
        <div class="popsubmitcover">
        <div class="popsubmitbox">
        	<input type="submit" id="saveIMBtn" src="/public/images/popsubmit.jpg" value=" " class="popsubmit" 
        		onmouseover="this.style.cursor='pointer'"/>
        </div>
        <div class="popnothanks" ><a id="noPopupLink" href="#">No thanks</a></div>
        </div><!--popsubmitcover-->
            <div class="cb"></div>
            </div>
            <!--popbox-->
            </div><!--popboxWraper-->
           
            <div class="cb"></div>
          </div>
	</div>
  
  
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>