#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		/* Width for autocomplete */
		.ui-menu { width: 350px }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		var username = "${talker.userName}";
		var feedsPerPage = ${logic.FeedsLogic.FEEDS_PER_PAGE};

		$(document).ready(function() {
			initNewTabs();

			//start convo tabs
			$(".topTabLink").click(function() {
   				$(".activeTopTab").removeClass("activeTopTab").addClass("topTab"); //Remove any "active" class
   				$(this).parent().removeClass("topTab").addClass("activeTopTab"); //Add "active" class to selected tab

   				var id = $(this).attr("id");
   				$(".topTabContent").hide(); //Hide all tab content
   				$("#startConvoSmall").hide();
   				$("#"+id+"Content").show(); //Fade in the active content
   				return false;
   			});
			$("#startConvoSmall a").click(function() {
				$("#postQuestionTab").parent().addClass("activeTopTab");
				
				$("#startConvoSmall").hide();
				$("#postQuestionTabContent").show();
				$("#postQuestionTabContent input[type='text']").focus();
			});					

			/* ------- Follow methods for Recommended sections ---------- */
			$(".followTopicLink").live('click', function() {
				var topicId = $(this).attr("rel");
				$.post("@{Topics.follow()}", 
	  				{ topicId: topicId},
	  				function(nextAction) {
	  					if (nextAction === "follow") {
		  					$("#topicUnfollowDiv"+topicId).hide();
		  					$("#topicFollowDiv"+topicId).show();
	  					}
	  					else {
	  						$("#topicUnfollowDiv"+topicId).show();
		  					$("#topicFollowDiv"+topicId).hide();
	  					}
	  				}
	  			);
	  			return false;
			});
			$(".followConvoLink2").live('click', function() {
				var convoId = $(this).attr("rel");
				$.post("@{Conversations.follow()}", 
	  				{convoId : convoId},
	  				function(nextAction) {
  						$("#convoUnfollowDiv"+convoId).show();
	  					$("#convoFollowDiv"+convoId).hide();
	  				}
	  			);
	  			return false;
			});
			$(".followMemberLink").live('click', function() {
				var memberId = $(this).attr("rel");
				$.post("@{Actions.followTalker()}", 
					{followingId: memberId},
	  				function(nextAction) {
	  					if (nextAction === "Follow") {
		  					$("#memberUnfollowDiv"+memberId).hide();
		  					$("#memberFollowDiv"+memberId).show();
	  					}
	  					else {
	  						$("#memberUnfollowDiv"+memberId).show();
		  					$("#memberFollowDiv"+memberId).hide();
	  					}
	  				}
	  			);
	  			return false;
			});

			/* -------------- Right profile updates ------------- */
			//TODO: check them
			$("#updateUsernameBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var newValue = $("#newUsername").val();
				$.post("/profile/updateProfile", {name: 'userName', newValue: newValue},
						function(data) {
							showResponse(data);
							hideHelpInfo('updateUsername', true);
						}
					);
			});
			$("#updatePasswordBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var newValue = $("#newPassword").val();
				$.post("/profile/updateProfile", {name: 'password', newValue: newValue},
						function(data) {
							showResponse(data);
							hideHelpInfo('updatePassword', true);
						}
					);
			});
			$("#updateEmailBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var newValue = $("#newEmail").val();
				$.post("/profile/updateProfile", {name: 'email', newValue: newValue},
						function(data) {
							showResponse(data);
							if (data.indexOf("Error:") !== 0) {
								hideHelpInfo('updateEmail', false);
							}
						}
					);
			});
			$("#updateConnectionBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var newValue = $("#newConnection").val();
				$.post("/profile/changeConnection", {value: newValue},
						function(data) {
							showResponse(data);
							hideHelpInfo('updateConnection', true);
						}
					);
			});
			$("#updateTwitterSettingsBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var params =  {name: "twittersettings"};
				$("#updateTwitterSettingsHelp input:checked").each(
						function() {
							params[$(this).attr("name")] = true;
						}
					); 
				$.post("/profile/updateProfile", params,
						function(data) {
							showResponse(data);
							hideHelpInfo("updateTwitterSettings", true);
						}
					);
			});
			$("#updateFacebookSettingsBtn").click(function() {
				if (closeTimeout) {
					window.clearTimeout(closeTimeout);
				}
				$("#savedHelpText").html("Saving...");
				$("#savedHelpError").html("");
				$("#savedHelp").fadeIn(300);

				var params =  {name: "facebooksettings"};
				$("#updateFacebookSettingsHelp input:checked").each(
						function() {
							params[$(this).attr("name")] = true;
						}
					); 
				$.post("/profile/updateProfile", params,
						function(data) {
							showResponse(data);
							hideHelpInfo("updateFacebookSettings", true);
						}
					);
			});
			
			/* -------------- Right accounts updates ------------- */
			
			//radio buttons for Notification Accounts
			$(".notifyType").click(function() {
				var selectedType = $(this).val();
				if (selectedType === "Twitter") {
					$("#notifyUsernamePanel").hide();
				}
				else {
					$("#notifyUsernamePanel").show();
				}
			}); 

			$("#addNotificationAccount").click(function () {
				var imService = $("#notificationAccountsHelp input:checked").val();
				var imUserName = $("#notificationUsername").val();
				if (!imService || imService.length == 0) {
					alert("Please choose IM Service");
					return;
				}
				
				if (imService === "Twitter") {
					openTwitter();
					hideHelpInfo('notificationAccounts', true);
				}
				else {
					if (imUserName.length == 0) {
						alert("Please enter correct IM Username");
						return;
					}
					
					$.post("@{Profile.addIMAccount()}", 
						{imUserName : imUserName, imService : imService},
						function(data) {
							if (data.indexOf("<tr>") == 0) {
								$("#notificationUsername").val("");
								hideHelpInfo('notificationAccounts', true);
							}
							else {
								alert(data);
							}
						}
					);
				}
			});	

			if (${emailVerification}) {
				showPopup("#emailVerificationDialog", 350);
			}

			makeAutocomplete("#postQuestionText", "convo");
			makeAutocomplete("#startChatText", "convo");
			$('.inline-edit').inlineEdit( { hover: ''} );
		});

   		function saveThought() {
   	   		var text = $("#shareThoughtText").val();
   			$("#shareThoughtText").val("");
   			$("#shareThoughtTextSize").html("0");

   			if (text === "" || text === "What are you thinking or feeling?") {
   	   			alert("Please enter thought");
   	   			return;
   			}
   			linkedText = linkify(text);

   			$.post("@{Actions.saveProfileComment()}", 
  				{ parentId: '', text: linkedText, cleanText: text, from: 'home'},
  				function(html) {
  					$(html).prependTo($("#convoFeedList"));
  					$(html).prependTo($("#communityFeedList"));
  					
  					$('.inline-edit').inlineEdit( { hover: ''} );
  				}
  			);
  			return false;
   		}

   		function showSaveDialog(type) {
   	   		if (type === 'startChat') {
   	   			$("#newConvoTypeConvo").attr("checked", "checked");
   	   		}
   	   		else {
   	   			$("#newConvoTypeQuestion").attr("checked", "checked");
   	   		}
			
			$("#newConvoForm").show();
			$("#newQuestionConfirm").hide();
			$("#newTalkConfirm").hide();

			var convoTitle = $("#"+type+"Text").val();
			if (convoTitle !== "" 
					&& convoTitle !== "Post a question and receive an answer within a couple of minutes."
					&& convoTitle !== "Start a live chat by sharing the topic you would like to discuss. Your peers will join within minutes." ) {
				$("#newConvoTitle").val($("#"+type+"Text").val());
			}
			showPopup("#startDialog", 350);
   		}

   		function clearTextArea (id, defaultText) {
   	   		var value = $("#"+id).val();
   	   		$("#"+id).removeClass("greyarea");
   	   		if (value === defaultText) {
   	   	   		$("#"+id).val("");
   	   		}
   		}
	</script>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
                <div style="padding-top: 10px; height: 30px;">
				  <div class="topTab"><a href="#" id="postQuestionTab" class="topTabLink">Post Question</a></div>
				  <div class="topTab"><a href="#" id="startChatTab" class="topTabLink">Start Chat</a></div>
				  <div class="topTab"><a href="#" id="shareThoughtTab" class="topTabLink">Share Thought</a></div>
				</div>
				<div class="cb"></div>
				
                <div class="topipcWraper">
                  <div class="startsearchbox" style="padding: 0px;">
                  	<div id="startConvoSmall" style="clear:both; height:30px; margin-bottom:7px; position:relative;">
						<a href="#">
		             		<textarea name="textarea" 
					            class="edititinputx greyarea" rows="1" cols="3" style="width:627px;height:30px; margin: 0px; padding-top: 10px;" 
					            >Post a question and receive an answer within a couple of minutes.</textarea>
						</a>
					</div>
                  	<div id="shareThoughtTabContent" class="topTabContent">	
                  		<div style="float:left;">
							<textarea id="shareThoughtText" class="edititinputx inline_text greyarea" 
								onKeyUp=" $('#shareThoughtTextSize').html($(this).val().length);"
								onfocus="clearTextArea('shareThoughtText', 'What are you thinking or feeling?');"
								style="width:627px; height: 70px; margin: 0px; padding: 3px;" cols="4" rows="4" 
								>What are you thinking or feeling?</textarea>
						</div>
						<div style="float: right; padding-top: 5px;">
							<span id="shareThoughtTextSize" style="font-size: 16px;">0</span>
							<input type="button" onclick="return saveThought();" 
								id="shareThoughtBtn" value="" />
						</div>
                  	</div>
                  	<div id="postQuestionTabContent" class="topTabContent">	
                  		<div style="float:left;">
							<input type="text" id="postQuestionText" class="edititinputx inline_text greyarea" 
								onKeyUp=" $('#postQuestionTextSize').html($(this).val().length);"
								maxlength="160"
								onfocus="clearTextArea('postQuestionText', 'Post a question and receive an answer within a couple of minutes.');"
								style="width:627px; height: 35px; margin: 0px; padding: 3px;" cols="4" rows="4" 
								value="Post a question and receive an answer within a couple of minutes." />							
						</div>
						<div style="float: right; padding-top: 5px;">
							<span id="postQuestionTextSize" style="font-size: 16px;">0</span>
							<input type="button" onclick="return showSaveDialog('postQuestion');" 
								id="postQuestionBtn" value="" />
						</div>
                  	</div>
                  	<div id="startChatTabContent" class="topTabContent">	
                  		<div style="float:left;">
							<input type="text" id="startChatText" class="edititinputx inline_text greyarea" 
								onKeyUp=" $('#startChatTextSize').html($(this).val().length);"
								maxlength="160"
								onfocus="clearTextArea('startChatText', 'Start a live chat by sharing the topic you would like to discuss. Your peers will join within minutes.');"
								style="width:627px; height: 35px; margin: 0px; padding: 3px; vertical-align: top; line-height: 10px;"
								value="Start a live chat by sharing the topic you would like to discuss. Your peers will join within minutes." />
						</div>
						<div style="float: right; padding-top: 5px;">
							<span id="startChatTextSize" style="font-size: 16px;">0</span>
							<input type="button" onclick="return showSaveDialog('startChat');" 
								id="startChatBtn" value="" />
						</div>
                  	</div>
				  </div>

                  <div class="topic" style="padding-top: 10px;">
	                  #{if liveConversations?.size() > 0}
	                    <div class="newpage1">
	                    	<a href="@{Explore.liveTalks()}">Live Breast Cancer Community Chats (${liveConversations.size()})</a>
	                    </div>
	                    <!-- <a href="#"><img src="/public/images/refreshicon.jpg" alt="refresh" 
	                    	border="0" style="float:left; padding-left:4px; padding-top:22px"  /></a> -->
	                    #{if liveConversations?.size() > 5}
	                    	<div class="seeall"><a href="#">See All</a></div>
	                    #{/if}
	                    <div class="topicborder"></div>
	                    <div class="cb"></div>
	
	                    <div class="newpageCover">
	                   		#{list items: liveConversations, as: 'convo'}
								#{convo/liveChat convo: convo, talker: talker /}		                      
							#{/list}
							#{else}
								<a href="#" onclick="return showStartConvoDialog('chat')" 
									style="font-size: 16px;">Be the first to start a live chat.</a>
							#{/else}
						</div>
					  #{/if}
					
	                    <div class="newpageCover">  
							<div class="newTabCover">
							  <div class="${convoFeed.size() < 20 ? 'newTab' : 'newActiveTab'}">
							  	<a href="#" id="convoFeed" class="tabLink">Your Conversation Feed</a>
							  </div>
							  <div class="${convoFeed.size() < 20 ? 'newActiveTab' : 'newTab'}">
							  	<a href="#" id="communityFeed" class="tabLink">Breast Cancer Community Feed</a>
							  </div>
							  <div class="laborder"></div>
							</div>
							<div class="cb"></div>
							<div>
								<div id="convoFeedContent" class="tabContent" 
										style="display: ${convoFeed.size() < 20 ? 'none' : 'block'};">	
									<div class="topic">
				                      <div class="cb"></div>
				                      <div class="topic">
				                        <div id="convoFeedList" class="conversationsList">
					                    	#{list items: convoFeed, as: 'activity'}
												#{feed/feedActivity activity: activity, talker: talker, parentList: 'convoFeedList' /}
											#{/list}
											#{else}
												<br /><span class="blacktext16">Follow topics, conversations, and
													other members to get the latest updates.</span>
											#{/else}
										</div>
										#{if convoFeed.size() == logic.FeedsLogic.FEEDS_PER_PAGE }
											<div class="replytommentbox" id="convoFeedBtn">
					                          <input type="submit" src="images/seemore.jpg" 
					                          	onclick="return loadMoreFeed('convoFeed');" value=" " class="seemorecom" />
					                        </div>
										#{/if}
				                        <div class="cb"></div>
				                      </div>
				                      <div class="cb"></div>
				                    </div> 
								</div>
								<div id="communityFeedContent" class="tabContent" 
										style="display: ${convoFeed.size() < 20 ? 'block' : 'none'};">	
									<div class="topic">
				                      <div class="cb"></div>
				                      <div class="topic">
				                        <div id="communityFeedList">
					                    	#{list items: communityFeed, as: 'activity'}
												#{feed/feedActivity activity: activity, talker: talker, parentList: 'communityFeedContent' /}
											#{/list}
										</div>
										#{if communityFeed.size() == logic.FeedsLogic.FEEDS_PER_PAGE }
											<div class="replytommentbox" id="communityFeedBtn">
					                          <input type="submit" src="images/seemore.jpg" 
					                          	onclick="return loadMoreFeed('communityFeed');" value=" " class="seemorecom" />
					                        </div>
										#{/if}
				                        <div class="cb"></div>
				                      </div>
				                      <!--newpageCover-->
				                      <div class="cb"></div>
				                    </div> 
								</div>    
							</div>               
	                      <div class="cb"></div>
	                    </div>
	                    <!--newpageCover-->
	                    <div class="cb"></div>
                  </div>
                  <!--topic-->
                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'home' /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>

<!-- Right button -->
<a href="/feedback-for-talkabouthealth" id="feedbackImage">Feedback</a>