*{
	Displays button with popup texts (example question title)
	Currently unused
}*

<link rel="stylesheet" href="/public/plugins/jquery-tooltip/jquery.tooltip.css" type="text/css" media="screen" />
<script type="text/javascript" src="/public/plugins/jquery-tooltip/jquery.tooltip.js" ></script>
	
<script language="javascript">
	$(document).ready(function() {
		$('.exampleQuestionsImage, .exampleQuestionsText').tooltip({
			track: true,
			delay: 0,
			showURL: false,
			extraClass: "pretty",
			left: 5,
			top: 15
		});
	});
</script>
<div id="examplequestion">
	<a class="blacktext exampleQuestionsImage" href="#"
		title="After a mastectomy, what items come in handy?<br/>
		What are some things you wish people had said or done?">
		<img src="/public/images/questionIcon.gif" border="0"/>
	</a>
	<a class="blacktext exampleQuestionsText" href="#"
		title="After a mastectomy, what items come in handy?<br/>
		What are some things you wish people had said or done?"
		>&nbsp;Example Questions</a>
</div>