<!-- begin Google Analytics -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-13005583-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
<!-- end Google Analytics -->

<!-- userreport Analytics -->
<script type="text/javascript">
var _urq = _urq || [];
_urq.push(['initSite', '62eeb023-2cc5-4b70-8cc6-1b94e2f22f10']);
(function() {
var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
ur.src = 'http://sdscdn.userreport.com/userreport.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
})();
</script>
<!-- userreport Analytics end -->