<div class="signrightbox">
	<div class="signrightop"></div>
	<div class="signrighmid">
		<span class="blacktext14">We'll help guide you through the cancer journey.<br /><br />
		Learn about the pros and cons of all your treatment options.<br /><br />
		We'll explain difficult concepts and give you feedback.<br /><br />
		Answers from the world's leading medical professionals.<br /><br />
		Advice and support from trained survivors and supporters.<br /><br />
	</div>
	<div class="signrighbot"></div>
</div>
