#{ extends 'main.html' /}
	<script type="text/javascript"> 	 
		//maps actions to tabs
		var tabs = {
	   		"active" : "tab1",
	   		"new" : "tab2",
	   		//"likeyou" : "tab3",
	   		"search" : "tab4" 
		}

		$(document).ready(function() {
			//default action
			var activeTab = tabs["${action}"];
			initOldTabs(activeTab);
		});
   	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
			font-family:arial;
			font-size:11px;
		}
	</style>
</head>
<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Browse Members</div>
		<div id="innermiddlearea">
			<div class="tabbed_box" id="tabbed_box_1">
    			<div class="tabbed_area">
    				<ul class="tabs">
			        	<li><a href="#tab1"><span>Active</span></a></li>
			            <li><a href="#tab2"><span>New</span></a></li>
			            <li><a href="#tab4"><span>Search</span></a></li>
			            #{list items: members.keySet(), as: 'memberType'}
			            	<li><a href="#tab${memberType_index+4}"><span>${memberType}</span></a></li>
			            #{/list}
			        </ul>
			        <div class="tab_container">
				        <div id="tab1" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Active Users</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	#{list items: activeTalkers, as: 'talker' }
				            		#{talkerInList talker: talker, currentTalker: currentTalker /}
				            	#{/list}
				            </div>
				            <div class="thnksbottom" style="display: none">
				            	<div class="seemore">
				            		<a href="#"><img width="134" height="33" 
				            			border="0" src="/public/images/seemorebutton.gif"/>
				            		</a>
				            	</div>
				            </div>
			        	</div>
			        	</div>
			        
			        	<div id="tab2" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">New Users</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	#{list items: newTalkers, as: 'talker' }
				            		#{talkerInList talker: talker, currentTalker: currentTalker /}
				            	#{/list}
				            </div>
				            <div class="thnksbottom" style="display: none">
				            	<div class="seemore">
				            		<a href="#"><img width="134" height="33" 
				            			border="0" src="/public/images/seemorebutton.gif"/>
				            		</a>
				            	</div>
				            </div>
			        	</div>
			        	</div>
			        
			        	<div id="tab3" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Like You</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	<span class="blacktext14">This page is being developed. It will be available soon.</span>
				            </div>
				            <div class="thnksbottom" style="display: none">
				            	<div class="seemore">
				            		<a href="#"><img width="134" height="33" 
				            			border="0" src="/public/images/seemorebutton.gif"/>
				            		</a>
				            	</div>
				            </div>
			        	</div>
			        	</div>
			        	
			        	<div id="tab4" class="tab_content">
			        	<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Search</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	<form name="searchForm" action="@{Community.browseMembers('search')}" method="POST">
									<div id="searcharea">
										<input name="query" type="text" class="search"  value="${flash.query ? flash.query : 'Search Members'}" 
											onclick="if (this.value == 'Search Members') this.value=''" onblur=""/>
									</div>
									<div id="searchright">
										<a href="#" onclick="document.searchForm.submit(); return false;">
											<img src="/public/images/searchbutton.gif" width="34" height="35" border="0"/>
										</a>
									</div>
								</form>
								
								#{if results }
									<div style="font-size: 14px; clear: left; padding-top: 10px">	
										#{list items:results, as: 'talker'}
											#{talkerInList talker: talker, currentTalker: currentTalker /}
										#{/list}
									</div>
								#{/if}
								#{elseif flash.query}
									<div style="font-size: 14px; clear: left; padding-top: 10px">
										Sorry. No results match the query.
									</div>
									<br/><br/><br/>
								#{/elseif}
				            </div>
			        	</div>
    					</div>
    					
    					#{list items: members.keySet(), as: 'memberType'}
    						<div id="tab${memberType_index+4}" class="tab_content">
					   			<div>
						        	<div class="headingarea">
							            <div class="tabheading">
							            	<span class="blacktext25">${memberType}</span> 
							            </div>
						            </div>
						            <div class="thnksarea">
						            	#{list items: members.get(memberType), as: 'talker' }
						            		#{talkerInList talker: talker, currentTalker: currentTalker /}
						            	#{/list}
						            </div>
						            <div class="thnksbottom" style="display: none">
						            	<div class="seemore">
						            		<a href="#"><img width="134" height="33" 
						            			border="0" src="/public/images/seemorebutton.gif"/>
						            		</a>
						            	</div>
						            </div>
					        	</div>
					        </div>
			            #{/list}
    				</div>
    			</div>
			</div>
		</div>
	</div>
	
<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/thankyou2 /}
	#{ popups/comment2 /}
</div>
<div id="mask"></div>