<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>    
    <title>${cancerType} - Health and Medical Answers From World Leading Experts. Relevant, helpful, and accurate health information.</title>  
    <meta name="description" content="${pageDescription ? pageDescription : 'Health and Medical Answers From World Leading Experts. Relevant, helpful, and accurate health information. We are a welcoming and caring community who have come together to meet, share, and learn with each other. We welcome patients, families, caregivers, survivors, professionals, and organizations. Everyone is encouraged to share their unique knowledge and experiences. The more we share, the more lives we improve and save.'}" /> 
    <meta name="keywords" content="${pageKeywords ? pageKeywords : 'support, health, talk'}" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="author" content="TalkAboutHealth" /> 
    <meta name="robots" content="all" /> 
    <meta property="og:title" content="Talk About Health" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="${currentURL}" />
    <meta property="og:image" content="http://talkabouthealth.com/public/images/mainlogo.png"/>    
    <meta property="og:site_name" content="TalkAbouthealth" />
    <meta property="og:description" content="${pageDescription}"/>
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
    <link href="/public/stylesheets/new_style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/public/plugins/ui-lightness/jquery-ui-1.8.4.custom.css" type="text/css" media="screen" />
	<style type="text/css">
	<!--
	.email {
		background: url(/public/images/email_box.png) no-repeat;
		border: medium none;
    	height: 35px;
    	margin-top: 2px;
    	padding-left: 35px;
    	width: 210px;
    	background-size:250px;
    	padding-right: 10px;
	}
	.buttonNL {
		font-size: 15px;
		font-size-adjust: none;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: bolder;
		height: 35px;
		line-height: normal;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 5px;
		text-align: center;
		width: 90px;
		color: #FFFFFF;
		background-color: #ff8300;
		background-image: -moz-linear-gradient(center bottom , #f75e1a 26%, #ff8300 55%);
		border:1px solid #cd4300;
		border-top-color: #ffd390;
		border-left-color:#fe8d31;
		border-right-color:#fe8d31;
		border-top-left-radius:5px;
		border-radius:5px;
		cursor: pointer;
		border-left-radius: 10px; 
	}
	.buttonNL:HOVER {
		background-image: -moz-linear-gradient(center bottom , #f75e1f 26%, #ff5202 55%);
	}
	#subscribeDiseaseForm a:HOVER { text-decoration: underline; }
	-->
	</style>
	#{ common/analytics_top /}
</head>
<body class="home">
	<div id="wrapper">
		<div id="header">
			<h1 class="logo">
				<div style="height:61px;width:370px;">
					<span style="float:left;margin-right:0px;"><img src="/public/images/index/tah_logo_only.png" alt="${cancerType}" /></span>
					<div style="margin-top:0px;font-weight:bold;font-size:35px;float: left;color:#EB208C;"><!-- text-shadow: 1px 1px 3px #1C7EB9; -->
						#{if cancerType.indexOf(" ") > 0}
							<span style="color:#1550a4;">Talk</span><span style="color:#1da655;">${cancerType.replaceAll(" ","").substring(0,cancerType.indexOf(" "))}</span><span style="color:#eb1d90;">${cancerType.replaceAll(" ","").substring(cancerType.indexOf(" "))}</span>
						#{/if}
						#{else}
							<span style="color:#1550a4;">Talk</span><span style="color:#1da655;">${cancerType.replaceAll(" ","")}</span>
						#{/else}
					</div>
					<!-- 
					<div style="font-weight:bolder;font-size:12px;float: left;">
					<font color="#014BA9">By Talk</font><font color="#0FA04B">About</font><font color="#EB208C">Health.com</font>
					</div>
					 -->
				</div>
				<br /><p style="left:55px;top:35px;">You're not alone! <span>${numberOfMembers} Members &amp; ${numberOfAnswers} Answers</span></p>
			</h1>
			<ul class="search_signin">
			    <li>
			      <form action="?action=search" method="get">
			        <input id="topSearchBox" type="text" placeholder="Your search here..." class="search_field" />
			        <input id="topSearchText" type="button" class="search_btn" />
			      </form>
			    </li>
			    <li><a href="@{Application.signup()}"><img src="/public/images/index/user.png" alt="join now" /> Join Now</a></li>
			    <li><a href="@{Secure.login()}"><img src="/public/images/index/sign_in_icon.png" alt="sign in" /> Sign In</a></li>
			    <li><a href="#" class="twitterBtn"><img src="/public/images/index/t_signin.png" alt="twitter signin" /></a></li>
			    <li><a href="#" class="facebookBtn"><img src="/public/images/index/fb_signin.png" alt="facebook signin" /></a></li>
			</ul>
			<ul id="nav">
			    <li><a href="@{Explore.conversations('expert')}">Answers</a></li>
			    <li><a href="@{Explore.topics()}">Topics</a></li>
			    <li><a href="@{MicroSite.video()}">Videos</a></li>
			    <li><a href="@{Explore.browseMembers('active')}">Members</a></li>
			    <li><a href="@{MicroSite.medical_professionals()}">Experts</a></li>
			    <li><a href="@{MicroSite.workshops()}">Workshops</a></li>
			    <li><a href="@{Static.trained_peer_support_program()}">Support</a></li><!-- Support Team -->
			    <li><a href="http://blog.talkabouthealth.com" target="_new">Blog</a></li>
			</ul>
		</div>
		<!-- header end -->
		<!-- Banner code -->
		<div id="banner">
		  <div id="slider">
		      <div id="slides">
		        <div class="slides_container">
		          <div class="slide banner1">
		          	#{if videoList != null && videoList.size() >= 1}
			          	<div style="position: absolute;top:30px;left:0px;width:350px;">
				          	<table cellpadding="0" cellspacing="" width="100%"><tr><td>
				          	<iframe width="435" height="255" src="http://www.youtube.com/embed/${videoList.get(0).videoId}" frameborder="0" allowfullscreen></iframe>
				          	</td></tr><tr><td style="padding-top:5px">
				          	<a href="${videoList.get(0).homeVideoLink}" style="color:#FFF;font-size:13px;font-weight:bold;">
				          	${videoList.get(0).videoTitle }
				          	</a>
				          	</td></tr>
				          	</table>
			          	</div>
		          	#{/if}
		          	<div style="margin-left: 30px;">
			            <h4>${cancerType} Answers from the World's</h4>
			            <h2>Leading Medical Experts</h2>
			         </div>
		          </div>
		          <div class="slide banner3">
		          	#{if videoList != null  && videoList.size() >= 2}
			          	<div style="position: absolute;top:30px;left:0px;width:350px;">
				          	<table cellpadding="0" cellspacing="" width="100%"><tr><td>
				          	<iframe width="435" height="255" src="http://www.youtube.com/embed/${videoList.get(1).videoId}" frameborder="0" allowfullscreen></iframe>
				          	</td></tr><tr><td style="padding-top:5px">
				          	<a href="${videoList.get(1).homeVideoLink}" style="color:#FFF;font-size:13px;font-weight:bold;">
				          	${videoList.get(1).videoTitle }
				          	</a>
				          	</td></tr>
				          	</table>
			          	</div>
		          	#{/if}
		          	<div style="margin-left: 30px;">
			            <h4>Answers from Trained Supporters</h4>
			            <h2>Sharing Their Experiences</h2>
			         </div>
		          </div>
		          <div class="slide banner4">
		          	#{if videoList != null  && videoList.size() >= 3}
			          	<div style="position: absolute;top:30px;left:0px;width:350px;">
				          	<table cellpadding="0" cellspacing="" width="100%"><tr><td>
				          	<iframe width="435" height="255" src="http://www.youtube.com/embed/${videoList.get(2).videoId}" frameborder="0" allowfullscreen></iframe>
				          	</td></tr><tr><td style="padding-top:5px">
				          	<a href="${videoList.get(2).homeVideoLink}" style="color:#FFF;font-size:13px;font-weight:bold;">
				          	${videoList.get(2).videoTitle }
				          	</a>
				          	</td></tr>
				          	</table>
			          	</div>
		          	#{/if}
		          	<div style="margin-left: 30px;">
			            <h4>Connect with Experts and Trained Survivors</h4>
			            <h2>Who Can Help</h2>
			         </div>
		          </div>
		        </div>
		        <div style="position: absolute; top: 122px; float: left; left: 40%;">
		        	<p style="font-style:inherit;margin-top:20px;font-weight: bolder;">Sign up for our ${cancerType} newsletter to keep up with the<br/> latest news, best answers & featured expert.</p>
		            <div style="float: left; margin-left: 63px; margin-top: 20px;">
		            	<div style="float: left; height: 12px; width: 385px;padding-bottom: 5px;">&nbsp;<span id="diseaseMessage" style="float:left;display: none;">Test Text</span></div>
		            	#{form @Newsletter.subscribeMoreNewsLetter() , id:'subscribeDiseaseForm' }
		            		<input name="newsletter.newsLetterType" type="hidden" value="${cancerType}"/>
		            		<input type="text" class="email" placeholder="Valid Email" id="email" name="newsletter.email">
		            		<input style="margin-left:0px;" type="submit" class="buttonNL" id="subscribeDisease" value="Sign Up!"></input>
		            		<br/>By signing up I agree to the <a href="@{Static.tos()}" target="_new" style="color:#FFFFFF;">Terms of Service</a> and <a href="@{Static.privacy()}" target="_new" style="color:#FFFFFF;">Privacy Policy</a>.
		            	#{/form}
		            </div>
	            </div>
		        <!--slides_container end--> 
		     </div>
		     <!--slides end--> 
		 </div>
		 <!--slider end--> 
		</div>
		<!-- banner end -->
		<div id="content">
			<div id="main" class="slide">
			    <ul class="tabs">
			     <li id="expert" class="fst active"><a href="#">Expert Answers</a></li>
			     <li id="recent"><a href="#">Recent Answers</a></li>
			     <li id="open"><a href="#">Unanswered Questions</a></li>
			   </ul>
			   <div id="expertTab" class="tabBody">
			     <ul id="expertCnt">
			     </ul>
			     <ul>
			     	<li class="lastFeed">
			     		<a class="moreBtn" id="expertMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
			     	</li>
			     </ul>
			   </div>
			   <div id="recentTab" class="tabBody" style="display:none;">
					<ul id="recentCnt">
			     	</ul>
			     	<ul>
			     	<li class="lastFeed">
			     		<a class="moreBtn" id="recentMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
			     	</li>
			     </ul>
			   </div>
			   <div id="openTab" class="tabBody" style="display:none;">
			   		<ul id="openCnt">
			     	</ul>
			     	<ul>
			     	<li class="lastFeed">
			     		<a class="moreBtn" id="openMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
			     	</li>
			     </ul>
			   </div>
			   <!-- Recent end --> 
			 </div>
			 <!-- main end -->
			 <div id="sidebar">
			 #{ community/Upcoming_Workshops_micro category: cancerType /}
			 #{ community/home_topic_list_micro category: cancerType /}

			 <div class="box2">
		        <h2 class="heading"><img src="/public/images/index/logo_blue.png" alt="logo_blue" /><a href="@{Explore.topics()}"> Cancer Communities</a></h2>
		        <ul>
			        #{list items: diseaseList, as: 'disease'}
			        	#{ifnot disease.name == null}
						<li><a href="/explore/${disease.name.convertToURL()}">${disease.name}</a></li>
						#{/ifnot}
					#{/list}
					<li><a href="@{Explore.topics()}" class="last">More Options +</a></li>
		        </ul>
		      </div>
			 
			 </div>
		</div>
		<!-- Content end -->
	</div>
	<!-- wrapper end -->
	<div id="client">
	  <div id="client_inner">
	    <h2><a href="@{Static.partner_network()}" style="float: left;">Partners</a> <a href="@{Static.become_a_partner()}"><img src="/public/images/index/become_partner.png" alt="become a partner" /></a> </h2>
	    <ul class="client">
	      <li><a href="#"><img src="/public/images/index/senology.png" alt="senology" /></a></li>
	      <li><a href="#"><img src="/public/images/index/q_cancerquest.png" alt="q cancer quest" /></a></li>
	      <li><a href="#"><img src="/public/images/index/cfah.png" alt="cfah" /></a></li>
	      <li><a href="#"><img src="/public/images/index/clrc.png" alt="clrc" /></a></li>
	      <li><a href="#"><img src="/public/images/index/paf.png" alt="paf" /></a></li>
	      <li><a href="#"><img src="/public/images/index/women_at_risk.png" alt="women at risk" /></a></li>
	      <li><a href="#"><img src="/public/images/index/4th_angel.png" alt="4th angel" /></a></li>
	      <li><a href="#"><img src="/public/images/index/cancel_and_careers.png" alt="cancel_and_careers" /></a></li>
	      <li><a href="#"><img src="/public/images/index/share.png" alt="share" /></a></li>
	      <li><a href="#"><img src="/public/images/index/the_leukemia_and_lymphoma_society.png" alt="the_leukemia_and_lymphoma_society" /></a></li>
	    </ul>
	    <a href="#" class="prev"></a> <a href="#" class="next"></a> </div>
	</div>
	<!-- Footer -->
	<div id="footer">
  <div id="footer_inner">
    <div id="site_nav">
      <h3>Answers &amp; Members</h3>
      <ul>
        <li><a href="@{Explore.conversations('expert')}">Expert Answers</a></li>
        <li><a href="@{Explore.conversations('feed')}">Recent Answers</a></li>
        <li><a href="@{Explore.conversations('open')}">Unanswered Questions</a></li>
        <li><a href="@{Explore.browseMembers('experts')}">Experts</a></li>
        <li><a href="@{Explore.browseMembers('patients')}">Patients &amp; Survivors</a></li>
        <li><a href="/explore/familyandfriends">Family &amp; Friends</a></li>
      </ul>
    </div>
    <div id="site_nav">
      <h3>Topics</h3>
      <ul>
        <li><a href="@{Explore.topics()}">Cancer Communities</a></li>
        <li><a href="@{Explore.topics('survivorship')}">Cancer Patients and Survivors</a></li>
        <li><a href="@{Explore.topics('Symptoms and Diagnosis')}">Cancer Symptoms and Diagnosis</a></li>
        <li><a href="@{Explore.topics('treatments and side effect')}">Cancer Treatments and Side Effects</a></li>
        <li><a href="@{Explore.topics('Life and Everyday')}">Life and Everyday</a></li>
        <li><a href="@{Explore.topics('Risk')}">Cancer Risk and Screening</a></li>
      </ul>
    </div>
    <!-- site nav end -->
    <div id="site_nav">
      <h3>More</h3>
      <ul>
        <li><a href="@{Static.aboutus()}">About</a></li>
        <li><a href="@{Static.howitworks()}">How it Works</a></li>
        <li><a href="@{MicroSite.workshops()}">Q/A Workshops</a></li>
        <li><a href="@{Static.trained_peer_support_program()}">Trained Peer Support</a></li>
        <li><a href="@{Explore.browseMembers('active')}">Members</a></li>
        <li><a href="http://blog.talkabouthealth.com" target="_new">Blog</a></li>
      </ul>
    </div>
    <!-- site nav end -->
    <div id="newsltr">
      <h3>Stay in the loop!</h3>
      <div class="follow">
      	<div style="float: left;margin-right: 5px;">
			<!-- <img src="/public/images/index/t_follow.png" alt="twitter follow" /> -->
			<a href="https://twitter.com/talkabouthealth" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div style="float: left;margin-right: 5px;">
			<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/talkabouthealth&amp;layout=button_count&amp;show_faces=true&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:30px;" allowTransparency="true"></iframe>
      	</div>
      	<a href="http://talkabouthealth.tumblr.com" target="_new"><img src="/public/images/index/t_icon.png" alt="t" /></a> 
      	<a href="http://www.youtube.com/user/talkabouthealth" target="_new"><img src="/public/images/index/youtube_icon.png" alt="you tube" /></a>
      </div>
      	<div style="float: left;">
      		<img src="/public/images/index/logo_bw.png" alt="Talk About Health Newsletter" class="sml_logo" />
			<span style="float: left; font-weight: bold; font-size: 20px;">Talk${cancerType.replaceAll(" ","")}</span>
			<span style="float:left;padding-top:5px;">&nbsp;Newsletter</span>
		</div>
      	#{form @Newsletter.subscribeMoreNewsLetter() , id:'subcribeNewsletter' }
        <ul>
          <li>
            <input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="workshop" checked='checked' />
            Daily Update &amp; Workshop Announcement</li>
          <li>
            <input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Workshop summery" checked='checked' />
            Q&amp;A Workshop Summary</li>
          <li>
            <input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TalkAboutHealth Rewards" checked='checked' />
            Benefits(Custom Health &amp; Medical Offers)</li>
          <li>
            <input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Best of TalkAboutHealth" checked='checked' />
            Best of Talk${cancerType.replaceAll(" ","")} (Weekly)</li>
        </ul>
        <div>
	        <div style="float:left;height:12px;">&nbsp;<span id="respMessage" style="float:left;display: none;">Test Text</span></div>
	        <div style="float:left;">
	        	<input name="newsletter.email" id="email" placeholder="Valid Email" type="text" class="newsltr_field" />
	        	<input id="subscribe" type="submit" class="newsltr_btn" value=""/>
	        </div>
        </div>
      	#{/form}
		<div style="float:left;">
			<p>
				<a href="@{Explore.newsletter()}">
				<img src="/public/images/index/newsletter_icon.png" alt="all newsletters" /> View All Newsletters
				</a>
			</p>
		</div>
    </div>
    <!-- newsletter end -->
    #{if session.get("cancerType")}
    	<div class="footer_logo" style="background-image:none;font-size: 30px;width:660px;">
    		<img style="float: left;" src="/public/images/index/footer_logo_new.png" />
    		<span style="float: left; padding-top: 5px; padding-left: 10px;">Talk${cancerType.replaceAll(" ","")}</span>
    	</div>
    #{/if}
	#{else}<div class="footer_logo"></div>#{/else} 
    
  </div>
  <!--footer inner end--> 
</div>
<!-- footer end -->
<div id="copy">
  <div id="copy_inner"> &copy; Copyright ${java.util.Calendar.getInstance().get(Calendar.YEAR)} -
  	#{if session.get("cancerType")}Talk${cancerType.replaceAll(" ","")}#{/if}
  	#{else}Talk About Health#{/else} 
  	 - 
  	<a href="@{Static.privacy()}">Privacy Policy</a> | <a href="@{Static.tos()}">Terms of Service</a>
  </div>
  <!-- copy_inner end --> 
</div>
<!-- copy end -->
	<!--footer end--> 

<script type="text/javascript" src="/public/javascripts/jquery-1.5.1.min.js" ></script>
<script type="text/javascript" src="/public/javascripts/jquery-ui-1.8.4.custom.min.js" ></script>
<script type="text/javascript" src="/public/javascripts/slides.min.jquery.js" ></script>
<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
<script type="text/javascript" src="/public/javascripts/jscroller.js"></script>
<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
<script type="text/javascript">
<!--
$(window).load(function() {
	//Search button code
	$("#topSearchText").click(function() {
		makeSearch();
	});

	$("#topSearchBox").keydown(function(c) {
		if (c.keyCode === 10 || c.keyCode === 13) {
			makeSearch();
		}
	});
	$(".twitterBtn").click(function() {
		openServiceLogin('T');
	});
	$(".facebookBtn").click(function() {
		openServiceLogin('F');
	});

	makeAutoComplete();

	// Initialize Slides
	$('#slides').slides({
		preload: false,
		preloadImage: '/public/images/index/tah_loading.gif',
		generatePagination: true,
		/*play: 100000,
		pause: 100000,*/
		effect: 'fade',
		crossfade: true,
		hoverPause: true,
		start: 1
	});

	$('#subcribeNewsletter').submit(function() {
		$("#subcribeNewsletter").ajaxSubmit({ success: setNewsletterMessage }); 
		return false;
	});

	$('#subscribeDiseaseForm').submit(function() {
		$("#subscribeDiseaseForm").ajaxSubmit({ success: function(responseText){
			var errorText;
			$("#diseaseMessage").css("color","#FFFFFF");
			if (responseText.indexOf("Error:") === 0) {
		   		errorText = responseText.replace("Error:", "");
		   		$("#diseaseMessage").css("color","#ff0000");
		   	} else if (responseText.indexOf("Email alrady subscribed!") === 0) {
		   		errorText = responseText;
		   	} else {
		   		window.location.href = "/signup?cancerType=${cancerType}";
		   		errorText= "Thank you for subscribing!";
		   	}
			$("#diseaseMessage").html(errorText); 
			$("#diseaseMessage").fadeIn(100);
			closeTimeout = setTimeout(function() { $("#diseaseMessage").fadeOut(200) }, 4000);		
		} 
	});
		return false;
	});
	
	//TAbs
	$(".tabs li").click(function() {
		$(".active").removeClass("active");
		$(this).addClass("active");
		var id = $(this).attr("id");
		var lastActionId = '';
		var loading = $('<li><img src="/public/images/index/tah_loading.gif" width="25"/></li>');
		$("#"+id+"Cnt").html(loading);
		$.get("/Explore/homePageFeed",{ type : id,lastActionId:lastActionId },function(data){
			$(loading).remove();
			$(data).appendTo($("#"+id+"Cnt"));
			$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
		});
		$(".tabBody").hide();
		$("#" + id + "Tab").fadeIn();
		return false;
	});

	$(".moreBtn").click(function() {
		var idBtn = $(this).attr("id");
		var id = "expert"
		if(idBtn == 'expertMore')
			id = "expert";
		else if(idBtn == 'recentMore')
			id = "recent";
		else if(idBtn == 'openMore')
			id = "open";
		var idElm =  $("#" + id);
		var lastActionId = $("#"+id+"Cnt").children().last().attr("id");
		var loading = $('<li><img src="/public/images/index/tah_loading.gif" width="25"/></li>');
		$(loading).appendTo($("#"+id+"Cnt"));
		$.get("/Explore/homePageFeed",{ type : id,lastActionId:lastActionId },function(data){
			$(loading).remove();
			$(data).appendTo($("#"+id+"Cnt"));
			$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
		});
		return false;
	});

	$("#client_inner").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
		auto: 800,
   		speed: 1000,
		visible:4,
		mouseWheel:true
    });

	$("#expert").click();
});
setNewsletterMessage = function(responseText, statusText, xhr, $form)  {
	var errorText;
	$("#respMessage").css("color","#FFFFFF");
	if (responseText.indexOf("Error:") === 0) {
   		errorText = responseText.replace("Error:", "");
   		$("#respMessage").css("color","#ff0000");
   	} else if (responseText.indexOf("Email alrady subscribed!") === 0) {
   		errorText = responseText;
   	} else {
   		window.location.href = "/signup?fromPage=NEWS";
   		errorText= "Thank you for subscribing!";
   	}
	$("#respMessage").html(errorText); 
	$("#respMessage").fadeIn(100);
	closeTimeout = setTimeout(function() { $("#respMessage").fadeOut(200) }, 4000);
}
makeSearch = function(){
	var query = $("#topSearchBox").val();
	if ($.trim(query) === '') {
		$("#topSearchBox").focus();
		return false;
	}else{
		query = encodeURIComponent($.trim(query));
		var url = "/search?query="+query;
		document.location = url; 
	}
}
makeAutoComplete = function(){
	var url = "/search/ajaxSearch";
	var cache = {};
	$("#topSearchBox").autocomplete({
		minLength: 1,
		source: function(request, response) {
			var term = ""
			if ( request.term in cache ) {
					response( cache[ request.term ] );
					return;
			}
			request.term = request.term;
			$.ajax({
				url: url,
				dataType: "json",
				data: request,
				success: function( data ) {
					cache[ term ] = data;
					response( data );
				}
			});
		},
		select: function(event, ui) {
			var url = ui.item.url;
			if (url === "#fullsearch") {
				if ($.trim(ui.item.value) === '') {
					$("#topSearchBox").focus();
					return false;
				}else{
					url = "/search?query="+ui.item.value;
				}
			}
			document.location = url;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.label + "&nbsp;<span>" + item.type + "</span></a>" )
			.appendTo( ul );
	};
}

openServiceLogin = function(serviceType) {
	if(serviceType === 'F')
		window.open("/oauth/getauth?type=facebook&redirectURL=","FacebookLogin", "width=1000,height=550,toolbar=no,location=no,menubar=no");
	else if(serviceType === 'T')
		window.open("/oauth/getauth?type=twitter&redirectURL=","TwitterLogin", "width=800,height=470,toolbar=no,location=no,menubar=no");
}
-->
</script>
#{ common/googleAnalytics cpage: "home" /}
</body>
</html>