#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
	</style>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
              	<div id="targetedthderapy">
                    <div class="targetedh1">Breast Cancer Community</div>
                    <div class="cb"></div>
                    <br/>
                    <div class="mtborder"></div>
                </div>
                  
                <div class="topipcWraper">
                  <div class="newpage1">Live Community Talks (${liveTalks.size()})</div>
                    <div class="topicborder"></div>
                    <div class="cb"></div>
                    
                    <div class="topic">
						#{list items: liveTalks, as: 'convo'}
		                      #{convo/liveChat convo: convo, talker: talker /}
						#{/list}
						#{else}
							<span class="blacktext14">Be the first to start a live chat.</span>
						#{/else}
						
                      <div class="replytommentbox1" style="display: none;">
                        <input type="submit" src="images/seemore.jpg" value=" " class="seemorecom" />
                      </div>
					  <span>
						<br/>
						<b>Note:</b> You must be a member of the community to join a live chat.
					  </span>
					  
                      <div class="cb"></div>
                    </div>

					<div class="topic">
                        <div class="newpage1">Conversation Feed</div>

                        <div class="seeall"></div>
                        <div class="topicborder"></div>
                        <div class="cb"></div>
                      </div>
                      <!--topic-->
                      <div class="topic">
                        <div id="convoFeedList">
	                        #{feed/feedList feedItems: communityConvoFeed, talker: talker /}
						</div>
						<div class="replytommentbox" style="display: none;">
                          <input type="submit" src="images/seemore.jpg" onclick="return loadMoreConvoFeed();"value=" " class="seemorecom" />
                        </div>
                        <div class="cb"></div>
                      </div>
                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
			<div id="comright" style="padding-left:30px;">
				#{if talker}
	                <div class="topipsts">
	                  <div class="mtrighttxt1">Community Members</div>
	                  #{list items: communityMembers, as: 'member'}
	                  	<div class="topbox">
		                    <div class="topleftimg" style="float: left;">
								#{talker/talkerImageLink size: 39, userName: member.userName /}
		                    </div>
		                    <div class="topr">
		                      <div class="toprighttext">
		                        <div class="latextleft">
		                        	<a href="@{ViewDispatcher.view(member.userName)}">
										<strong>${member.userName}</strong>
									</a>
								</div>
		                        <div class="latextrigtz">&nbsp;#{talker/talkerInfo talker: member /}</div>
		                      </div>
		                      <div class="toprighttext">
		                        <div class="topiptextl" style="color: #000;">${member.numOfConvoAnswers} Answers</div>
		                      </div>
		                    </div>
		                    <div class="cb"></div>
		                </div>
	                  #{/list}
	                </div>
	                <div class="cb"></div>
				#{/if}              
			</div>            
            <!--mtright-->
            
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>