#{list items: _commentsList, as: 'comment' }
#{ifnot comment.deleted}
	<div id="comment${comment.id}" class="topic" style="padding-bottom:5px;">
    	<div class="answerCover">
			<div class="replyWraper">
				#{if _level == 1 }
					<div id="vote${comment.id}" class="replyr1">
						#{ifnot session.username?.equals(comment.fromTalker.userName)}
							<div class="arrowups">
								<a href="#" class="votebtn" title="up" rel="${comment.id}">&nbsp;</a>
							</div> 
							<div class="arrowdons">
								<a href="#" class="votebtn" title="down" rel="${comment.id}">&nbsp;</a>
							</div>
						#{/ifnot}
		            </div><!--replyr1-->
	            #{/if}
	            <div class="replyl1">
	            	<div class="replyz">
						<div class="replytop"></div>
						<div class="replymid">
	                    	<div class="replypics">
	                    		<a href="@{ViewDispatcher.view(comment.fromTalker.userName)}" title="${comment.fromTalker.userName}" >
									<img src="@{Image.show(comment.fromTalker.userName)}" width="48" height="48" border="0" />
								</a>
	                    	</div>
	             			<div class="replytextarea">
								<p>
									<span class="stylzz">
										<a href="@{ViewDispatcher.view(comment.fromTalker.userName)}">${comment.fromTalker.userName}</a>
									</span> 
									<span class="stylexz"> #{ talkerInfo talker: comment.fromTalker /} - </span> 
									<span class="stylezx">${comment.time.format("MM / dd / yyyy")}</span>
								</p>
	               				<p>   
						 			<div class="styles1">
						 				#{if comment.upVotes.size() > 0}
						 					<div class="votestxt3">
												${comment.upVotes.size()} vote(s) by
												#{list items: comment.upVotes, as: 'vote' }
													#{ifnot vote_isLast}
														<a href="@{ViewDispatcher.view(vote.talker.userName)}">${vote.talker.userName}</a>, 
													#{/ifnot}
													#{else}
														<a href="@{ViewDispatcher.view(vote.talker.userName)}">${vote.talker.userName}</a>
													#{/else}
												#{/list}
											</div>
						 				#{/if}
						 				
										<div class='inline-edit' id="answerEdit${comment.id}">
											<div class="suggestxt inline_display">
												<div class="inline_full inline_empty">
													<span class="styles2 inline_view ${ _level == 1 ? 'styles2answers' : 'styles2replies'}"
														>${comment.text.nl2br()}</span>
													#{if session.username?.equals(comment.fromTalker.userName) }
														<div class="editdiv">
															<div class="editit">
																<a href="#" class="inline_editlink">Edit</a>
															</div>
														</div>
													#{/if}
												</div>
								            </div>
								            <div style="margin-top:10px; margin-bottom:10px;"></div>
											<div class='inline_form'>
												<div style="float:left; width:auto; padding-bottom:5px;" >
										        	<textarea id="titleinput" type="text" style="width:400px; height: auto;"  
										        		class="edititinputs inline_text">${comment.text}</textarea>
										        </div>
												<div style="float:right;margin-right:30px;">
											        <input id="titleBtn" type="submit" class="updatebtns inline_save" value=" " />
											        <div class="canclebtnz">
											        	<a class="cancel" href="#">Cancel</a>
											        </div>
												</div>
											</div>
										</div>
									</div>
			                        <div class="sstyles3">
				                        <ul>
				                        	#{if _level == 1}
				                        		<li><a href="#" onclick="$('#replies${comment.id}').show(); return false;"
				                        			#{if comment.children?.size() == 0}
				                        				#{if session.username}
				                        					>Add Reply</a>
				                        				#{/if}
				                        				#{else}
				                        					></a>
				                        				#{/else}
				                        			#{/if}
					                        		#{elseif comment.children?.size() == 1}
					                        			>1 Reply</a>
					                        		#{/elseif}
					                        		#{else}
					                        			>${comment.children?.size()} Replies</a>
					                        		#{/else}
				                        		</li>
				                        		#{if session.username}
				                        			<li>&nbsp;|&nbsp;</li>
				                        		#{/if}
					                        #{/if}
					                        #{if session.username?.equals(comment.fromTalker.userName) ||
					                        		session.username?.equals("admin") }
					                        	<li><a href="#" onclick="return deleteAnswer('${comment.id}');">Delete</a></li>
					                        	<li>&nbsp;|&nbsp;</li>
					                        #{/if}
					                  		#{if session.username}
				<li><a href="#" onclick="return thankYou('${comment.fromTalker.id}', '${comment.fromTalker.userName}');">Thank</a></li>
				
						                      	<li>&nbsp;|&nbsp;</li>
						                        <li><a href="#" class="flagAnswerLink" rel="${comment.id}"
						                        	>Flag ${ _level == 1 ? 'Answer' : 'Reply' }</a></li> 
						                        
						                        #{if _level == 1}
						                        	<li>&nbsp;|&nbsp;</li>
						                        	#{if comment.notHelpful }
						                        		<li><a href="#" onclick="return markNotHelpful('${comment.id}')">Not Helpful</a></li>
						                        	#{/if}
						                        	#{else}
						                        		<li><a href="#" onclick="return markNotHelpful('${comment.id}')">Not Helpful</a></li>
						                        	#{/else}
						                        #{/if}
						                    #{/if}
				                       	</ul>
			                    	</div> 
			                   	</p>
							</div><!--replytextarea-->
	                    	<div class="cb"></div>
	                   	</div><!--replymid-->
	                    <div class="replybot"></div>
	                    <div class="cb"></div>
	               	</div><!--replyz-->
	            	<div class="cb"></div>
	            
				     #{if _level == 1}
				     	<div id="replies${comment.id}" class="replysub" style="display: none">
			            	<div style="clear:both" id="foo">
								#{convoCommentsTree commentsList: comment.children, level: (_level+1)/}
								#{if session.username }
									<div id="replyform${comment.id}" style="clear:both">
					                    <div class="repcommbox22">
						                    <textarea id="replytext${comment.id}" type="text" class="repcominput" ></textarea>
						                    <div class="repcommstextbox">
						                    	<input type="submit" class="repcomsubmits" onclick="return saveProfileComment('${comment.id}');"
						                    		src="/public/images/repcomsubmits.jpg" value=" " />
						                     	<span class="canclelz">
						                     		<a href="#" onclick="$('#replies${comment.id}').hide(); return false;">Cancel</a>
						                     	</span>
						                    </div>
						                    <div class="cb"></div>
					                    </div>
				                    </div><!--Blankdivsub-->
								#{/if}
							</div>
						</div>
					#{/if}
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="cb"></div>
	</div>  
#{/ifnot}     
#{/list}