#{list items: _commentsList, as: 'comment' }
	<div id="comment${comment.id}" class="topic">
    	<div class="answerCover">
			<div class="replyWraper">
				#{if _level == 1}
					<div class="replyr1">
						<div class="arrowups">
							<a href="#" class="votebtn" value="true" rel="${comment.id}">&nbsp;</a>
						</div> 
						<div class="arrowdons">
							<a href="#" class="votebtn" value="false" rel="${comment.id}">&nbsp;</a>
						</div>
		            </div><!--replyr1-->
	            #{/if}
	            <div class="replyl1">
	            	<div class="replyz">
						<div class="replytop"></div>
						<div class="replymid">
	                    	<div class="replypics">
	                    		<img src="@{Image.show(comment.fromTalker.userName)}" border="0" width="48px" height="48px" />
	                    	</div>
	             			<div class="replytextarea">
								<p>
									<span class="stylzz"><a href="#">${comment.fromTalker.userName}</a> </span> 
									<span class="stylexz"> #{ talkerInfo talker: comment.fromTalker /} - </span> 
									<span class="stylezx">${comment.time.format("MM / dd / yyyy")}</span>
								</p>
	               				<p>   
						 			<div class="styles1">
						 				#{if comment.upVotes.size() > 0}
						 					<div class="votestxt3">
												${comment.upVotes.size()} vote(s) by
												#{list items: comment.upVotes, as: 'vote' }
													#{ifnot vote_isLast}
														<a href="#">${vote.talker.userName}</a>, 
													#{/ifnot}
													#{else}
														<a href="#">${vote.talker.userName}</a>
													#{/else}
												#{/list}
											</div>
						 				#{/if}
										<span class="styles2">${comment.text}</span>
									</div>
			                        <div class="sstyles3">
				                        <ul>
					                        <li><a href="#" onclick="toggle_visibility('foo');">1 Reply &nbsp; </a></li>
					                        <li>| </li>
					                        <li><a href="#dialog1" name="modal" > &nbsp;Thank&nbsp;</a></li>
					                      	<li>| </li>
					                        <li><a href="#dialog1" name="modal" >&nbsp;Flag Comment &nbsp;</a></li> 
				                       	</ul>
			                    	</div> 
			                   	</p>
							</div><!--replytextarea-->
	                    	<div class="cb"></div>
	                   	</div><!--replymid-->
	                    <div class="replybot"></div>
	                    <div class="cb"></div>
	               	</div><!--replyz-->
	            	<div class="cb"></div>
	            
				     #{if _level == 1}
				     	<div class="replysub">
			            	<div style="clear:both" id="foo">
								#{convoCommentsTree commentsList: comment.children, level: (_level+1)/}
								#{if session.username }
									<div style="clear:both">
					                    <div class="repcommbox22">
						                    <input id="replytext${comment.id}" type="text" class="repcominput" />
						                    <div class="repcommstextbox">
						                    	<input type="submit" class="repcomsubmits" onclick="return saveProfileComment('${comment.id}');"
						                    		src="/public/images/repcomsubmits.jpg" value=" " />
						                     	<span class="canclelz"><a href="#">Cancel</a></span>
						                    </div>
						                    <div class="cb"></div>
					                    </div>
				                    </div><!--Blankdivsub-->
								#{/if}
							</div>
						</div>
					#{/if}
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="cb"></div>
	</div>       
#{/list}