#{list items: _commentsList, as: 'comment' }
#{ifnot comment.deleted }
	<div id="comment${comment.id}" class="topic" style="padding-bottom:5px;">
    	<div class="answerCover">
			<div class="replyWraper">
				#{if _level == 1}
					<div id="vote${comment.id}" class="replyr1">
						<div class="arrowups">
							<a href="#" class="votebtn" title="up" rel="${comment.id}">&nbsp;</a>
						</div> 
						<div class="arrowdons">
							<a href="#" class="votebtn" title="down" rel="${comment.id}">&nbsp;</a>
						</div>
		            </div><!--replyr1-->
	            #{/if}
	            <div class="replyl1">
	            	<div class="replyz">
						<div class="replytop"></div>
						<div class="replymid">
	                    	<div class="replypics">
	                    		<a href="@{ViewDispatcher.view(comment.fromTalker.userName)}" title="${comment.fromTalker.userName}" >
									<img src="@{Image.show(comment.fromTalker.userName)}" width="48" height="48" border="0" />
								</a>
	                    	</div>
	             			<div class="replytextarea">
								<p>
									<span class="stylzz">
										<a href="@{ViewDispatcher.view(comment.fromTalker.userName)}">${comment.fromTalker.userName}</a>
									</span> 
									<span class="stylexz"> #{ talkerInfo talker: comment.fromTalker /} - </span> 
									<span class="stylezx">${comment.time.format("MM / dd / yyyy")}</span>
								</p>
	               				<p>   
						 			<div class="styles1">
						 				#{if comment.upVotes.size() > 0}
						 					<div class="votestxt3">
												${comment.upVotes.size()} vote(s) by
												#{list items: comment.upVotes, as: 'vote' }
													#{ifnot vote_isLast}
														<a href="@{ViewDispatcher.view(vote.talker.userName)}">${vote.talker.userName}</a>, 
													#{/ifnot}
													#{else}
														<a href="@{ViewDispatcher.view(vote.talker.userName)}">${vote.talker.userName}</a>
													#{/else}
												#{/list}
											</div>
						 				#{/if}
						 				
						 				*{
						 				<div class='inline-edit'>
											<div id="hidit${comment.id}">
												<span class="styles2" style="float: left" id="answerText${comment.id}">${comment.text}</span>
												#{if session.username?.equals(comment.fromTalker.userName) }
													<div class="display" style="display:block;">
														<div class="editit" style="display:block;">
															<a href="#" onclick="hidit('${comment.id}')">Edit</a>
														</div>
													</div>
												#{/if}
										    </div>
										    <div style="margin-top:10px; margin-bottom:10px;"></div>
											<div class='form' id="editit${comment.id}">
												<div style="float:left; width:auto; padding-bottom:5px;" >
										        	<input id="answerInput${comment.id}" type="text"
										        		value="${comment.text}" class="edititinputs" style="width:400px"  >
										        </div>
												<div style="float:right;margin-right:30px;">
											        <input type="submit" class="updatebtns" value=" " 
											        	onclick="return updateAnswer('${comment.id}');" />
											        <div class="canclebtnz">
											        	<a class="cancel" href="#" onclick="shoit('${comment.id}')">Cancel</a>
											        </div>
												</div>
											</div>
										</div>
										}*
										
										<div class='inline-edit' id="answerEdit${comment.id}">
											<div class="suggestxt inline_display">
												<div class="inline_full inline_empty">
													<span class="styles2 inline_view" style="float: left">${comment.text}</span>
													#{if session.username?.equals(comment.fromTalker.userName) }
														<div class="editdiv">
															<div class="editit">
																<a href="#" class="inline_editlink">Edit</a>
															</div>
														</div>
													#{/if}
												</div>
								            </div>
								            <div style="margin-top:10px; margin-bottom:10px;"></div>
											<div class='inline_form'>
												<div style="float:left; width:auto; padding-bottom:5px;" >
										        	<input id="titleinput" type="text" style="width:400px"  
										        		value="${comment.text}" class="edititinputs inline_text" >
										        </div>
												<div style="float:right;margin-right:30px;">
											        <input id="titleBtn" type="submit" class="updatebtns inline_save" value=" " />
											        <div class="canclebtnz">
											        	<a class="cancel" href="#">Cancel</a>
											        </div>
												</div>
											</div>
										</div>
									</div>
			                        <div class="sstyles3">
				                        <ul>
				                        	#{if _level == 1}
				                        		<li><a href="#" onclick="$('#replies${comment.id}').show(); return false;"
				                        			#{if comment.children?.size() == 0}
				                        				>Add Reply</a>
				                        			#{/if}
					                        		#{else}
					                        			>${comment.children?.size()} Reply</a>
					                        		#{/else}
				                        		</li>
				                        		<li>&nbsp;|&nbsp;</li>
					                        #{/if}
					                        #{if session.username?.equals(comment.fromTalker.userName) ||
					                        		session.username?.equals("admin") }
					                        	<li><a href="#" onclick="return deleteAnswer('${comment.id}');">Delete</a></li>
					                        	<li>&nbsp;|&nbsp;</li>
					                        #{/if}
					                        <li><a href="#dialog" name="modal">Thank</a></li>
					                      	<li>&nbsp;|&nbsp;</li>
					                        <li><a href="#" class="flagAnswerLink" rel="${comment.id}">Flag Comment</a></li> 
					                        #{if _level == 1}
					                        	<li>&nbsp;|&nbsp;</li>
					                        	#{if comment.notHelpful }
					                        		<li><a href="#" onclick="return markNotHelpful('${comment.id}')">Undo!</a></li>
					                        	#{/if}
					                        	#{else}
					                        		<li><a href="#" onclick="return markNotHelpful('${comment.id}')">Not Helpful</a></li>
					                        	#{/else}
					                        #{/if}
				                       	</ul>
			                    	</div> 
			                   	</p>
							</div><!--replytextarea-->
	                    	<div class="cb"></div>
	                   	</div><!--replymid-->
	                    <div class="replybot"></div>
	                    <div class="cb"></div>
	               	</div><!--replyz-->
	            	<div class="cb"></div>
	            
				     #{if _level == 1}
				     	<div id="replies${comment.id}" class="replysub" style="display: none">
			            	<div style="clear:both" id="foo">
								#{convoCommentsTree commentsList: comment.children, level: (_level+1)/}
								#{if session.username }
									<div id="replyform${comment.id}" style="clear:both">
					                    <div class="repcommbox22">
						                    <input id="replytext${comment.id}" type="text" class="repcominput" />
						                    <div class="repcommstextbox">
						                    	<input type="submit" class="repcomsubmits" onclick="return saveProfileComment('${comment.id}');"
						                    		src="/public/images/repcomsubmits.jpg" value=" " />
						                     	<span class="canclelz">
						                     		<a href="#" onclick="$('#replies${comment.id}').hide(); return false;">Cancel</a>
						                     	</span>
						                    </div>
						                    <div class="cb"></div>
					                    </div>
				                    </div><!--Blankdivsub-->
								#{/if}
							</div>
						</div>
					#{/if}
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="cb"></div>
	</div>  
#{/ifnot}     
#{/list}