<div class="joinbox">
	<div class="joinpic">
		<a href="@{ViewDispatcher.view(_activity.talker.userName)}">
			<img src="@{Image.show(_activity.talker.userName)}" width="48" height="48" border="0" />
		</a>
	</div>
	<div class="jointxtbox">
		#{if _activity.convo}
			<div class="jointextstop">
				<a href="${_activity.convo.mainURL}">${_activity.convo.topic}</a>
			</div>
			<div class="joinztextlink">
				#{if _activity.convo.comments.size() == 0}
					<a href="${_activity.convo.mainURL}#answers">Answer</a> | 
				#{/if}
				#{else}
					<a href="${_activity.convo.mainURL}#answers">${_activity.convo.comments.size()} 
						Answer${_activity.convo.comments.pluralize()}</a> | 
				#{/else}
				<a href="#" class="followConvoLink" rel="${_activity.convo.id}">
					${_talker.followingConvosList?.contains(_activity.convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
				<a href="#" onclick="restartConvo(${_activity.convo.tid}, '${_activity.convo.id}')">Re-start talk</a> | 
				<span>${_activity.convo.creationDate.since()}</span>
			</div>
		#{/if}
		<div class="jointxtlink1">
			${_activity.toHTML().raw()}
		</div>
		<div class="jointxtlink2">
			#{if _activity.reply}
				${_activity.reply.text}
			#{/if}
			#{elseif _activity.answer}
				${_activity.answer.text}
			#{/elseif}
		</div>
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>