#{list items: _healthItem.children, as: 'item' }
	#{if item.children?.size() > 0 }
		<div class="generalcheck1"><span class="blacktext14"><strong>${item.name}</strong></span></div>
		#{ healthItemsTree healthItem: item, checkedItems: _checkedItems /}
	#{/if}
	#{else}
		<div class="generalcheck1">
			<input name='healthitem${item.id}' type='checkbox'
			#{if _checkedItems?.contains(item.id) }
				checked='checked'
			#{/if}
			/>&nbsp; <span class="blacktext14">${item.name}</span>
		</div>
	#{/else}
#{/list}