*{ TODO: 2 column display }*
#{set currentNum = 1 /}
#{list items: _healthItem.children, as: 'item' }
	#{if item.children?.size() > 0 }
		*{ 
			We use 'Empty' item for ordering items.
			Items with parent as top item ("tests", "procedures") should have 'Empty' as parent
		}*
		#{ifnot item.name.equals("Empty") }
			<div class="healthitemCol${currentNum}"><span class="blacktext14"><strong>${item.name}</strong></span></div>
		#{/ifnot}
		#{ healthItemsTree healthItem: item, checkedItems: _checkedItems /}
	#{/if}
	#{else}
		<div class="healthitemCol${currentNum}">
			<input name='healthitem${item.id}' type='checkbox'
			#{if _checkedItems?.contains(item.id) }
				checked='checked'
			#{/if}
			/>&nbsp; <span class="blacktext14">${item.name}</span>
		</div>
	#{/else}
#{/list}