<div class="joinbox">
	<div class="joinpic">
		#{talker/talkerImageLink size: 48, userName: _convo.talker.userName /}
	</div>
	<div class="jointxtbox">
		<div class="jointextstop">
			<a href="@{ViewDispatcher.view(_convo.mainURL)}">${_convo.topic}</a>
		</div>
		<div class="joinztextlink">
			<!-- <span>3 members speaking</span> |  --> 
			#{if session.username }
				<a href="#" class="followConvoLink" rel="${_convo.id}">
					${_talker?.followingConvosList?.contains(_convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
			#{/if}
			<a href="#" class="flagConvoLink" rel="${_convo.id}">Flag</a> | 
			<span>Started ${_convo.creationDate.since()}</span>
		</div>
		<div class="jointxtlink1">
			Conversation by 
			#{talker/talkerLink userName: _convo.talker.userName /}
			<span class="blacktext12">
				#{talker/talkerInfo talker: _convo.talker /}
			</span>
		</div>
		<div class="jointxtlink2"></div>
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>

*{
<a href="@{ViewDispatcher.view(convo.mainURL)}"><b>${convo.topic}</b></a><br/>
			#{if talker }
				${convo.comments.size()} Answer(s)&nbsp;|&nbsp;
				${convo.members.size()} member(s) spoke&nbsp;|&nbsp;
				<a href="#" class="bluetext12 followTopicLink" rel="${convo.id}">
				${ talker.followingConvosList?.contains(convo.id) ? 'Unfollow' : 'Follow'}
				</a>&nbsp;|&nbsp;
				<a href="#" onclick="return restartConvo(${convo.tid}, '${convo.id}');" 
					class="restartConvoLink">Re-start</a>&nbsp;|&nbsp;
				${convo.creationDate?.since()}
			#{/if}
			#{if convo.comments.size() > 0}
				<div style="padding-left: 10px">
					#{set answer = convo.comments.get(0) /}
					Top Answer by: ${answer.fromTalker.userName}<br/>
					${answer.text}
				</div>
			#{/if}
*}