function openTwitter() {
	var popupWindow = window.open("@{OAuth.getAuth()}?type=twitter", 
		"TwitterLogin", "width=800,height=400,toolbar=no,location=no,menubar=no");
	
	//TODO: center pop-up on the screen and make one function for all pages
	//for prototype library
	//var offsets = document.viewport.getScrollOffsets();
	//var x = Math.ceil((document.viewport.getWidth()/2)-425);
	//var y = Math.ceil(200);
	//popupWindow.moveTo(x,y);
	return false;
}

function openFacebook() {
	var popupWindow = window.open("@{OAuth.getAuth()}?type=facebook", 
		"FacebookLogin", "width=1000,height=450,toolbar=no,location=no,menubar=no");
}