#{list items: _commentsList, as: 'comment' }
#{ifnot comment.deleted}
<div id="comment${comment.id}" class="${_level == 1 ? 'comments' : 'comreply'}">
	<div class="commentstop">
		<div class="${_level == 1 ? 'compic' : 'comreplypic'}">
			#{if _level == 1}
				<img src="@{Image.show(comment.fromTalker.userName)}" border="0" width="40px" height="40px" />
			#{/if}
			#{else}
				<img src="@{Image.show(comment.fromTalker.userName)}" border="0" width="31px" height="31px" />
			#{/else}
		</div>
		<div class="${_level == 1 ? 'comtextr' : 'comreplytxt'}">
			<div class="${_level == 1 ? 'comtext' : 'comreplytext'}">
				<span class="comname">
					<a href="@{ViewDispatcher.view(comment.fromTalker.userName)}">${comment.fromTalker.userName}</a>
				</span>&nbsp;&nbsp;&nbsp;
				${comment.text.nl2br()}
			</div>
			<div class="${_level == 1 ? 'comadd' : 'comreplytext1'}">
				${comment.time.since()}
				#{if _level == 1}
					&nbsp;|&nbsp;
					#{if comment.children == null || comment.children?.size() == 0 }
						<a href="#" onclick="return showReplyForm('${comment.id}');">Reply</a>
					#{/if}
					#{elseif comment.children?.size() == 1}
						1 Reply
					#{/elseif}
					#{else}
						${comment.children?.size()} Replies
					#{/else}
				#{/if}
				#{if _showDelete }
					&nbsp;|&nbsp;
					<a href="#" onclick="deleteComment('${comment.id}');">Delete</a>
				#{/if}
			 </div>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
	#{if _level == 1}
		<div class="commentsreply">
			#{profileCommentsTree2 commentsList: comment.children, level: (_level+1), showDelete: _showDelete/}
			
			<div id="reply${comment.id}" class="replytommentbax"
					*{ 
					#{if comment.children == null || comment.children?.size() == 0}
						style="display: none;"
					#{/if}
					}*
				>
				<div class="cb"></div>
				<div>
					<div class="cb"></div>
					<div class="inline-edit" id="replyAdd">
						<div class="inline_display">
							<div class="inline_full inline_empty">
								<div style="clear:both; height:30px; margin-bottom:7px; position:relative;">
									<a href="#" class="inline_editlink">
					             		<textarea class="edititanputx" rows="1" cols="4" 
					             			style="width:444px; height:20px;">Reply to comment</textarea>
									</a>
								</div>
							</div>
						</div>
						<div class='inline_form'>
							<div class="addnewansar" style="text-align:left">Reply to comment</div>
							<div style="float:left;">
								<textarea id="replytext${comment.id}" class="edititinputx inline_text" 
									style="width:444px" cols="4" rows="3" ></textarea>
								<input type="submit" class="repcomsubmits inline_save" src="/public/images/repcomsubmits.jpg" value=" " 
									onclick="return saveProfileComment('${comment.id}');" 
									style="float:right;margin-right:2px; margin-top:7px;cursor:pointer"/>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</div>
	#{/if}
	<div class="cb"></div>
</div>
#{/ifnot}
#{/list}
