#{list items: _commentsList, as: 'comment' }
	<div id="comment${comment.id}" class="commentbox">
		<div class="thankyoupic">
			<img src="${comment.fromTalker.imagePath}" border="0" width="48px" height="48px" />
		</div>
		<div class="thankyoutext"><span class="navybluetext12">${comment.fromTalker.userName}</span><br />
		  <span class="blacktext11">${comment.text}</span>
		  <span class="greytext11"><br/>${comment.time.format("MMM dd 'at' HH:MM a")}&nbsp;&nbsp;</span>
		  <a href="#" onclick="$('#reply${comment.id}').toggle(); return false;" class="navybluetext12">Reply</a>
		</div>
		<div class="commentsreply">
			<div style="display: none;" id="reply${comment.id}" class="replyForm">
				<ul>
					<li class="blacktext14">Comment:</li>
					<li>
						<textarea class="togglecomment" rows="5" cols="45" id="replytext${comment.id}"></textarea>
				    </li>
					<li>
						<div style="height: 46px; padding-top: 2px;" class="personaltextarea">
							<a href="#reply${comment.id}" onclick="return saveProfileComment('${comment.id}');">
								<img width="145" height="32" border="0" src="/public/images/addcomment_btn.gif"/>
							</a>
						</div>
					</li> 
				</ul>
			</div>
			#{profileCommentsTree commentsList: comment.children /}
		</div>
	</div>
#{/list}