<div class="signrightbox">
	#{if currentPage.equals("workshop")}
		#{ifnot session.username }
			#{include '/tags/newsletter/subscribeWorkshop.html' /}
		#{/ifnot}
	#{/if}
	
	#{ifnot session.username }
		<!--<span style="font-size: 12px;"><br /></span>-->
		#{include 'tahInfo.html' /}
		#{include 'newsletter_signup.html' /}
		#{include 'Upcoming_Workshops.html' /}
		#{include 'subscribe_reward.html' /}
		#{include 'tahShare.html' /}
		#{common/popularTopics popularTopics: popularTopics /}
		#{include 'tahHowYouCanHelp.html' /}
	#{/ifnot}
</div>
