<div class="signrightbox">
	<div class="aboutrightop"></div>
	<div class="signrighmid">
		<a href="/static/aboutus" class="bluetext14">About Us</a><br />
		<a href="/static/howitworks" class="bluetext14">How it works</a><br />
		<a href="/static/faq" class="bluetext14">FAQ</a><br />
		<a href="/static/communityguidelines" class="bluetext14">Community Guidelines</a><br />
		<a href="/static/howyoucanhelp" class="bluetext14">How you can help</a><br />
		<a href="http://blog.talkabouthealth.com" class="bluetext14">Blog</a><br />
		<a href="/static/resources" class="bluetext14">More Resources</a><br />
		<a href="/static/workshops" class="bluetext14">Workshops and Events</a><br />
		<a href="/static/partners" class="bluetext14">Partners</a><br />
		<a href="/static/privacy" class="bluetext14">Privacy Policy</a><br />
		<a href="/static/tos" class="bluetext14">Terms Of Service</a><br />
		<!--<a href="#" class="bluetext14">Job Opportunities</a>-->
	</div>
	<div class="signrighbot"></div>
</div>
