<div class="signrightbox">
	#{if currentPage.equals("workshop")}
		#{ifnot session.username }
			#{include '/tags/newsletter/subscribeWorkshop.html' /}
		#{/ifnot}
	#{/if}
	<div class="aboutrightop"></div>
	<div class="signrighmid">
		<a href="/static/aboutus" class="bluetext14">About Us</a><br />
		<a href="/static/howitworks" class="bluetext14">How it works</a><br />
		<a href="/static/faq" class="bluetext14">FAQ</a><br />
		<a href="/static/communityguidelines" class="bluetext14">Community Guidelines</a><br />
		<a href="/static/trained_peer_support_program" class="bluetext14">Trained Peer Support</a><br />
		#{if session.contains("cancerType")} 
			<a class="bluetext14" href="@{MicroSite.workshops(session.get("cancerType").toLowerCase().replaceAll(" ","-"))}">Q&A Workshops with Professionals</a>
		#{/if}
		#{else}
			<a href="/static/workshops" class="bluetext14">Q&A Workshops with Professionals</a>
		#{/else}
		<br />
		<a href="/static/howyoucanhelp" class="bluetext14">How you can help</a><br />
		#{if session.contains("cancerType")}  
			<a href="@{Explore.newsletter(session.get("cancerType").toLowerCase().replaceAll(" ","-"))}" class="bluetext14">Newsletters</a>
		#{/if}
		#{else}
			<a href="@{Explore.newsletter("cancer")}" class="bluetext14">Newsletters</a>
		#{/else}
		<br />
		<a href="http://blog.talkabouthealth.com" class="bluetext14">Blog</a><br />
		<a href="/static/resources" class="bluetext14">More Resources</a><br />
		<a href="/static/partner_network" class="bluetext14">Partner Network</a><br />
		<a href="/static/privacy" class="bluetext14">Privacy Policy</a><br />
		<a href="/static/tos" class="bluetext14">Terms Of Service</a><br />
		<!--<a href="#" class="bluetext14">Job Opportunities</a>-->
	</div>
	<div class="signrighbot"></div>
	#{ifnot session.username }
		<span style="font-size: 12px;"><br /></span>
		#{include 'tahInfo.html' /}
		#{include 'newsletter_signup.html' /}
		#{include 'Upcoming_Workshops.html' /}
		#{include 'subscribe_reward.html' /}
		#{include 'tahShare.html' /}
		#{common/popularTopics popularTopics: popularTopics /}
		#{include 'tahHowYouCanHelp.html' /}
	#{/ifnot}
</div>
<div id="boxes">
	<div id="dialog" class="window"></div>
	#{newsletter/emailpopup page: currentPage, talker: talker /}
</div>
<div id="mask"></div>
