<div class="signrightbox">
	<div class="aboutrightop"></div>
	<div class="signrighmid">
		<a href="/static/aboutus" class="bluetext14">About us</a><br />
		<a href="/static/faq" class="bluetext14">FAQ</a><br />
		<a href="http://blog.talkabouthealth.com" class="bluetext14">Blog</a><br />
		<a href="/static/communityguidelines" class="bluetext14">Community Guidelines</a><br />
		<!--<a href="#" class="bluetext14">How it works</a><br />-->
		<!--<a href="#" class="bluetext14">How we make money</a><br />-->
		<!--<a href="#" class="bluetext14">Our advisors</a><br />-->
		<a href="/static/privacy" class="bluetext14">Privacy policy</a><br />
		<a href="/static/tos" class="bluetext14">Terms of service</a><br />
		<!--<a href="#" class="bluetext14">Job Opportunities</a>-->
	</div>
	<div class="signrighbot"></div>
</div>