<div class="startsearchbox">
    <div class="startserch">
      <div class="demo">
        <div class="ui-widget">
          <textarea id="convoText" name="textarea" 
          	onKeyDown="limitText(this, titleLimit);" onKeyUp="limitText(this, titleLimit);" 
            class="edititinputx" rows="4"  cols="3" style="width:450px;height:40px" ></textarea>
        </div>
      </div>
      <!-- End demo -->
    </div>
    <input type="submit" src="/public/images/startsubmit.jpg" value=" " class="startsubmit startLink" />
  </div>