<div class="thnksfollowing">
    <div class="thnksfollowingimg">
		<a href="@{ViewDispatcher.view(_talker.userName)}">
			<img width="80" height="80" src="@{Image.show(_talker.userName)}" border="0" />
		</a>
	</div>
	<div class="thnksfollowingtext">
      	<a class="blue13" href="@{ViewDispatcher.view(_talker.userName)}">
     		<strong>${_talker.userName}</strong>
     	</a>
        <span class="blacktext12">
			#{if _talker.connection}
				(${_talker.connection}, ${_talker.levelOfRecognition})
			#{/if}
			#{else}
				(${_talker.levelOfRecognition})
			#{/else}
		</span><br/>
        #{if _talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.BIO) }
        	<span class="greytext12">
				${_talker.bio?.limitSize(80)}
				#{if _talker.bio?.size() > 80 }
					&nbsp;<a href="#" class="more11">more</a>
				#{/if}
			</span>
			<span class="greytext12 fulltext">${_talker.bio}</span>
			<br/>
        #{/if}
        <span class="bluetext12">
        	#{ifnot _currentTalker?.equals(_talker) }
			 	<a class="bluetext12 followActionLink" rel="${_talker.id}" href="#">
				${ _currentTalker.followingList.contains(_talker) ? 'Unfollow' : 'Follow'}
				</a> | 
			#{/ifnot}
			*{ TODO Not rel2 ? }* 
		 	<a href="#commentform" rel2="${_talker.id}" class="bluetext12 commentLink">Comment</a>
		 	#{ifnot _currentTalker?.equals(_talker) }
			 	 | <a href="#thankyouform" rel2="${_talker.id}" 
			 	 		class="bluetext12 thankYouLink">Thank</a>
			#{/ifnot}
        </span>
	</div>
</div>