#{list items: _recommendedTopics, as: 'topic'}
<div id="${topic.id}" class="topbox1">
      <div class="topr" style="width: 100%;">
        <div class="topictrendingtext">
          	<a style="color:#0286BC;" href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a>
        </div>
        <div id="topicFollowDiv${topic.id}" class="follow" style='margin-left:175px;'>
          <input type="submit" rel="${topic.id}" class="followers followTopicLink" value=" " />
        </div>
        <div id="topicUnfollowDiv${topic.id}" class="follow" style="display: none; text-align: right;">
          Followed!
        </div>
      </div>
      <div class="cb"></div>
</div>
#{/list} 