#{extends 'static.html' /}
#{set pageHeader:'About us' /}
		
<span class="blacktextgrey20">Welcome to TalkAboutHealth</span><br/>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is a breast cancer question and answer web site that is created, curated, and improved by the community.  We match the right people to support each other for personalized, helpful, and accurate health information.<br/><br/>

Everyone is encouraged to share their unique knowledge and experiences.  We welcome patients, families, caregivers, survivors, and professionals to connect, share, and learn in a welcoming and caring environment.  The more we share, the more lives we improve and save.<br/><br/>

	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>What makes us different.</strong></span>
<span class="blacktextgrey14"><br />
	
<strong>1) Every question on TalkAboutHealth should be the best resource possible, covering all points of view and perspectives.</strong>  To accomplish this goal, we find and notify the right people to answer questions.<br /><br />

<strong>2) Trusted and accessible health information.</strong>  The community curates, edits, votes for, and organizes questions and answers to make them easy to find, accessible, and understandable by everyone.<br /><br />

<strong>3) The right information to the right people, at the right time.</strong>  We match answers and information to the people who need them, based on their disease, stage, treatments, side effects, and more.  We notify members in real-time of answers to their questions and other relevant information via email, facebook, twitter, IM, and more.  <br /><br />

<strong>4) Connect the right people to support each other.</strong>  We match patients and caregivers with experienced peers, survivors, and experts who can help.  Members are matched based on their disease, stage, treatments, cultural background, demographics, and more. <br /><br />

	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our vision</strong></span>
<span class="blacktextgrey14"><br />
	A world where everyone has access to the health support they need, when they need it.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our mission</strong></span>
<span class="blacktextgrey14"><br />
	To improve and save people’s lives by connecting them with the right people and information they need for health support.  
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our sharing philosophy</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth believes in sharing our experiences and knowledge. 
	Our purpose is to create a community to help each other and expand our collective knowledge. 
	All conversations are archived and made available for the benefit of everyone to revisit. 
	<br /><br /><div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>What TalkAboutHealth can do for you</strong></span>
<span class="blacktextgrey14"><br />
	- Take control after learning from survivors and experienced peers.<br />
	- Know you are not alone after connecting with others like you.<br />
	- Feel hopeful after hearing survivors' experiences.<br />
	- Be confident after getting answers from experts.<br />
	- Feel comfort after sharing with someone else.<br />
	- Feel fulfilled after helping others.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Anonymous and secure</strong></span>
<span class="blacktextgrey14"><br />
	You will only be identified by your user name. 
	You determine how much information to share in your profile and whether your profile is private, public, or viewable by the community. 
	TalkAboutHealth protects your personal information and will not share personally identifiable information such as your name and email address without your explicit permission.  <br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Safe</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is a designated safe space.  We diligently review and moderate content to enforce Community Guidelines.  
	Members are encouraged to 'flag' content they feel is not acceptable. TalkAboutHealth removes content and bans users that do not follow the <a href="@{Static.communityguidelines()}">Community Guidelines</a> or that cause negative feelings for others.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<!--<span class="bluetext14"><strong>Our promise</strong></span>
<span class="blacktextgrey14"><br />
	We respect privacy and will never share any personally identifiable information with anyone without your explicit permission.
	<br /><br /><div id="dashedborder" style="width:590px;"></div><br /></span>-->
<span class="bluetext14"><strong>Team and advisors</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is led by a team and advisors concerned about your health. 
	We have qualified physicians, pharmacists, and therapists on our medical advisory board.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Future features</strong></span>
<span class="blacktextgrey14"><br />
	Please share your feedback and thoughts, or just say hi at <a href="mailto:feedback@talkabouthealth.com" class="bluetext14">feedback@talkabouthealth.com</a> </span>
