#{extends 'static.html' /}
#{set pageHeader:'About us' /}
		
<span class="bluetext14"><strong>Welcome to the TalkAboutHealth community</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is a caring and welcoming community of people who have come together to meet, share, and learn with each other. 
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our vision</strong></span>
<span class="blacktextgrey14"><br />
	Provide everyone the opportunity to get the health support, advice, and answers they need, when they need it.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our mission</strong></span>
<span class="blacktextgrey14"><br />
	We connect people for health support.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our goal</strong></span>
<span class="blacktextgrey14"><br />
	Bring together patients, family, caregivers, survivors, and professionals to create an open and compassionate community for health support.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Our sharing philosophy</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth believes in sharing our experiences and knowledge. 
	Our purpose is to create a community to help each other and expand our collective knowledge. 
	All conversations are archived and made available for the benefit of everyone to revisit. 
	<br /><br /><div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>What TalkAboutHealth can do for you</strong></span>
<span class="blacktextgrey14"><br />
	- Take back control after learning from survivors and experienced peers.<br />
	- Know you are not alone after connecting with others like you.<br />
	- Feel hopeful after hearing survivors' experiences.<br />
	- Be confident after getting answers from experts.<br />
	- Feel comfort after sharing with someone else.<br />
	- Feel fulfilled after helping others.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Anonymous and secure</strong></span>
<span class="blacktextgrey14"><br />
	You will only be identified by your user name during conversations. 
	You determine how much information to share in your profile and whether your profile is private, public, or viewable by the community. 
	Additionally, TalkAboutHealth protects your personal information and will not share personally identifiable information such as your name and email address without your explicit permission.  <br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Safe</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is a designated safe space.  We diligently review content and monitor conversations to enforce Community Guidelines.  
	Members are encouraged to 'flag' content they feel is not acceptable. TalkAboutHealth removes content and bans users that do not follow the <a href="@{Static.communityguidelines()}">Community Guidelines</a> or that cause negative feelings for others.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<!--<span class="bluetext14"><strong>Our promise</strong></span>
<span class="blacktextgrey14"><br />
	We respect privacy and will never share any personally identifiable information with anyone without your explicit permission.
	<br /><br /><div id="dashedborder" style="width:590px;"></div><br /></span>-->
<span class="bluetext14"><strong>Team and advisors</strong></span>
<span class="blacktextgrey14"><br />
	TalkAboutHealth is led by a team and advisors concerned about your health. 
	We have qualified physicians, pharmacists, and therapists on our medical advisory board.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Future features</strong></span>
<span class="blacktextgrey14"><br />
	Please share your feedback and thoughts, or just say hi at <a href="mailto:feedback@talkabouthealth.com" class="bluetext14">feedback@talkabouthealth.com</a> </span>
