#{extends 'static.html' /}
#{set pageHeader:'Become a Supporting Partner' /}
		
<span class="blacktextgrey18">
Connect with local and national patients, raise awareness for your programs, and showcase your unique services and benefits.
<br /></span>
<span class="blacktextgrey14"><br />As a member of the TalkAboutHealth partner network, your organization will be part of a unique community dedicated to educating and providing support to people everywhere.  <br /><br /><a href="@{Application.signup()}" class="bluetext14">Join now</a> to get started! Or email <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a> for more information.<br /><br /></span>

<div id="dashedborder" style="width:590px;"></div><br />

<span class="blacktextgrey16"><strong><br />Types of Partners</strong><br /></span>
<span class="blacktextgrey14"><br />
<strong>Content Partners</strong> answer questions and provide support on TalkAboutHealth.<br />
- We notify you of relevant questions.<br />
- We match your answers to the people who need them.<br />
- We recommend your organization to people who need you.<br /><br />
<strong>Cause Marketing Partners</strong> co-promote events, programs, and news.<br />
- We promote your organization, events, and programs.<br />
- We connect your organization to patients who need you based on location, need, and more.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>


<span class="blacktextgrey16"><strong><br />Benefits</strong><br /></span>
<span class="blacktextgrey14"><br />
- Attract and connect with local and national patients based on need.<br />
- Raise awareness around your unique content, programs, and events.<br />
- Showcase your expertise and research on specific topics.<br />
- Reach a wider audience of potential consumers.<br />
- Help more people using social media to share your programs and content.<br />
- Drive traffic to your web site.<br />
- Build your online reputation and recognition.<br />
- Provide a valuable and trusted resource for current members.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How we recognize and help our partners</strong><br /></span>
<span class="blacktextgrey14"><br />
- Include your logos, information, and links on our Partners page.<br />
- Highlight you in our blog and newsletter.<br />
- Promote you via facebook and twitter.<br />
- Share your videos on youtube and other channels.<br />
- Opportunities to guest blog.<br />
- Opportunities for videos and PSAs.<br />
- Opportunities to co-sponsor events.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />Your responsibilities as a partner</strong><br /></span>
<span class="blacktextgrey14"><br />
- Answer relevant questions on TalkAboutHealth.com (Content Partners).<br />
- Promote TalkAboutHealth via facebook and twitter.<br />
- Highlight TalkAboutHealth in your blog and newsletter.<br />
- Link back to TalkAboutHealth from your website.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How it works</strong><br /></span>
<span class="blacktextgrey14"><br />
- Free to join and begin connecting and sharing.<br />
- We notify you of relevant questions (Content Partners).<br />
- We match your answers to the people who need them (Content Partners).<br />
- We recommend patients to connect with you based on location and need.<br />
- Promote your organization, programs, events, and other news to the community.<br />
- Edit or delete your answers at any time and use them however you would like.<br />
- Easily distribute your answers via twitter and facebook.<br />
- We update you with the latest questions and answers for topics that interest you.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>
<span class="blacktextgrey16"><strong><br /><a href="@{Application.signup()}">Join now</a> to get started! Or email <a href="mailto:support@talkabouthealth.com" class="bluetext16"><strong>support@talkabouthealth.com</strong></a> for more information.<br /></strong><br /></span>

