#{extends 'static.html' /}
#{set pageHeader:'Community Guidelines' /}
						
<span class="blacktextgrey20">TalkAboutHealth is a caring community that encourages respectful and positive communication about health issues.
<br /><br />
<span class="blacktextgrey14">TalkAboutHealth is a self-regulating community.  We are all responsible for the quality and content of the site.  Everyone is empowered and encouraged to voice their opinion.  Be bold, but not reckless, in sharing knowledge and experiences.<br /><br /></span>

<div id="dashedborder" style="width:590px;"></div><br />
<span class="bluetext16"><strong>Table of contents</strong></span><br /><br />
<span class="blacktextgrey14">
	<a href="#general">General Guidelines</a><br />
	<a href="#question">Question Guidelines</a><br />
	<a href="#answer">Answer Guidelines</a><br />
	<a href="#topic">Topic Guidelines</a><br />
	<a href="#reviewer">Reviewer Guidelines</a><br />
	<a href="#administrator">Administrator Guidelines</a><br />
	<a href="#reference">Reference Guidelines</a><br /><br /></span>

<a name="general"></a>		
<div id="dashedborder" style="width:590px;"></div><br />
<span class="bluetext16"><strong>General Guidelines</strong></span><br /><br />
<span class="blacktext14"><strong>We encourage you to:  </strong></span>
<span class="blacktextgrey14"><br />
- Listen and support others while engaging in fruitful, intelligent, enlightening, entertaining, educational, and considerate discussions.<br />
- Be polite and thank users that help you.<br />
- Answer questions and post thoughts to share experiences, knowledge, insights, and resources you feel would be helpful.<br />
- Vote answers up or down based on how helpful, accurate, and complete they are.<br />
- Suggest edits to questions and answers to improve the quality of information.  <br />
- Help to organize questions and topics to make information easier to find.<br />
- Complete your personal and health profile so we can effectively match you with other members and questions relevant to you.<br />
- Review and customize your privacy settings to suit your needs.<br />
- Mark answers "Not Helpful" when they do not answer the question or are misleading or inaccurate.<br />
- Flag users, questions, answers, and any communications that do not follow community guidelines.<br />
- Flag duplicate questions.<br />
- Flag content that is not up to date with current research and standards of care.<br />
<br />
</span>
<span class="blacktext14"><strong>Please do not: </strong></span><span class="blacktextgrey14"><br />
- Ask others to give personal medical advice or make decisions for you.<br />
- Give personal medical advice or tell others what to do.<br />
- Cause other users to experience negative feelings.<br />
- Make inappropriate comments. This includes impolite, unsympathetic, insensitive, derogatory, and discriminatory remarks that could target a philosophy, religion, gender, ethnicity, age, disability, or sexual preference.<br />
- Post profanity or anything sexually explicit.<br />
- Engage in personal attacks.<br />
- Spam, advertise, or promote commercial entities.<br />
- Try to obtain personal information, that could include names, addresses, and email addresses.<br />
- Post your own or others’ personal information, including email addresses or other contact information.<br />
- Promote or endorse graphic or gratuitous violence, illegal activity, or any action designed to inflict intentional harm on anyone.<br />
- Do anything illegal. <br /><br />

<a name="question"></a>		
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext16"><strong>Question Guidelines</strong></span><br /><br />
<span class="blacktext14"><strong>Questions should ...</strong></span><br />
<span class="blacktextgrey14">
- be clear and precise providing context and background information when appropriate.<br />
- use standard English and complete sentences with correct spelling, grammar, and punctuation to make content accessible and understandable for everyone.<br />
- be general, not specific, to a particular user.<br />
- have a constructive, fair, and impartial tone.<br />
- seek narrative answers and be sufficiently open ended.<br />
- inspire peers to share experiences rather than asking for opinions.<br />
- insist that opinions be backed up with facts and references.<br />
- invite answers that explain “why” and “how”.<br /><br />
</span>
<span class="blacktext14"><strong>Questions should not ...</strong></span><br />
<span class="blacktextgrey14">
- be answers, statements, or opinions.  Use “Thoughts” for these.<br />
- be duplicated. Before asking a question, make sure it has not already been asked.<br /><br />
</span>

<a name="answer"></a>		
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext16"><strong>Answer Guidelines</strong><br /><br /></span>
<span class="blacktext14"><strong>Answers should ...</strong></span><br />
<span class="blacktextgrey14">
- be based on personal experiences or research that can be backed up with a reference.  "I heard it somewhere" is not valid.<br />  
- be courteous and respectful.<br />
- be open minded.  Many times there is no "right" answer. There can be opposing theories and strategies that are appropriate for different people. It is okay to disagree as long as both sides are providing facts with references to other sources and personal experiences.<br />
- directly respond to the question.<br />
- be honest and authentic while presenting a point of view accurately and in context.  Do not present any point of view as "the truth" or "the best view".<br />
- cite verifiable, authoritative sources, especially on controversial topics.<br /><br />
</span>
<span class="blacktext14"><strong>Answers should not ...</strong></span><br />
<span class="blacktextgrey14">
- tell someone what to do or recommend personal medical advice.<br />
- be inaccurate, unhelpful, or misleading.<br />
- be excessively self-promoting. If you have written a blog post that directly answers a question, it's okay to link to the post.  But please post a summary in your answer.<br />
- promote a product or business if you're directly involved in it, unless someone asked a question specifically about it.<br /><br />

<a name="topic"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext16"><strong>Topic Guidelines</strong><br /><br /></span>
<span class="blacktextgrey14">
- Questions should be categorized based on topic.  Topics should be chosen based on their relevance to the question.  Topics may be broad parent topics, more specific topics, or topics that are relevant but not explicitly mentioned.<br />

<a name="reviewer"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext16"><strong>Reviewer Guidelines</strong><br /><br /></span>
<span class="blacktextgrey14">
<i>What do reviewers do?</i><br />
Reviewers ensure that all content on TalkAboutHealth is acceptable according to the community guidelines, as well as up to date with current research and standards of care.  <br /><br />

<i>Who are the reviewers?</i><br />
Currently, we have appointed volunteers reviewing content.  In the future we will enable experienced members of the community to review questions and answers.<br /><br />

<i>What are the responsibilities of reviewers?</i><br />
The reviewer’s goal is to guide and set an example for the community.  Reviewers should be compassionate, but firm and always respectful, transparent, and fair.  Reviewers actions represent the community, so they will be held to a high standard of behavior.  <br /><br />

<i>Specific responsibilities of reviewers include:</i><br />

   1. Editing questions and topics to make them more accessible and understandable.<br />
   2. Organizing topics and questions to make content easier to find.  <br />
   3. Suggesting edits to answers to improve quality of content.<br />
   4. Marking answers as “Not helpful” for content that should be reevaluated.<br />
   5. Flagging content that should be removed or that is not up to date with current research or standards of care.<br />
   6. Flagging duplicate questions.<br />
   7. Explaining the reasoning for all actions taken on posts. This is important so that members can learn the norms of the community and review policies.<br /><br />

<a name="administrator"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext16"><strong>Administrator Guidelines</strong><br /><br /></span>
<span class="blacktextgrey14">
<i>What do administrators do?</i><br />
Administrators ensure content and user interactions meet community guidelines.<br /><br />

<i>Who are adminstrators?</i><br />
Currently representatives from TalkAboutHealth are administrators.<br /><br />

<i>What are the responsibilities of administrators?</i><br />
The administrator’s goal is to guide and set an example for the community.  Adminstrators should be compassionate, but firm and always respectful, transparent, and fair.  Administrator actions represent the community, so they will be held to a high standard of behavior.<br />

<i>Specific responsibilities include:</i><br /><br />

   1. Reviewing all flagged content to decide if further action is needed.<br />
   2. Merging duplicate questions and topics.  <br />
   3. Removing answers and questions that do not follow community guidelines or that are off topic.<br />
   4. Suspending users who do not follow community guidelines.<br />
   5. Explaining the reasoning for all actions taken on posts. This is important so that members can learn the norms of the community and the moderation policies.<br />
   6. Communicating directly with users via email to help mediate and resolve disputes.<br /><br />

<a name="reference"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext16"><strong>Reference Guidelines</strong><br /><br /></span>
<span class="blacktextgrey14">
- Acceptable references are third-party, published sources with a reputation for fact-checking and accuracy.<br />
- Source material must have been published.  <br />
- Sources should directly support the material presented in an answer and be appropriate to the claims made.<br />
- Acceptable references include academic and peer-reviewed publications, mainstream publications, university-level textbooks, books published by respected publishing houses, magazines, and mainstream newspapers. <br /><br />
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="blacktextgrey14">TalkAboutHealth will review all flags and suspend accounts if the above guidelines are not followed or if any other behavior is deemed to be inappropriate or unacceptable.<br /><br />

TalkAboutHealth reserves the right to change the Community Guidelines as new situations come to our attention and we find it necessary to alter or expand upon the policies.  We will notify the community of the changes as promptly as possible. </span>
<br /><br />
