#{extends 'static.html' /}
#{set pageHeader:'Community Guidelines' /}
						
<span class="bluetext14"><strong>TalkAboutHealth is a caring community of supporters that encourages respectful and positive communication about health issues.  </strong>
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>We encourage you to:  </strong></span><span class="blacktextgrey14"><br />
- Make your questions as clear and understandable as possible.<br />
- Answer questions and post thoughts to share knowledge, insights, and experiences.<br />
- Listen and support others while engaging in fruitful, intelligent, enlightening, entertaining, educational, and considerate discussions.<br />
- Use standard english and complete sentences to make content accessible and understandable for everyone.<br />
- Be polite and thank users that help you.<br />
- Make improvements to questions, suggest edits to answers, and help to organize questions and topics to improve the quality of information and organizational structure.<br />
- Mark answers "Not Helpful" when they do not answer the question.<br />
- Follow users, topics and conversations that interest you. <br />
- Complete your personal and health profile so we can effectively match you with other members and questions relevant to you. <br />
- Share your feedback with us.<br />
- Flag users, questions, answers, and any communications that do not follow community guidelines.<br />
<br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>Please do not: </strong></span><span class="blacktextgrey14"><br />
- Cause other users to experience negative feelings.<br/>
- Mention usernames in answers or questions because these are publicly viewable.<br />
- Use abbreviations or slang (i.e. use 'you' instead of 'u').<br /> 
- Make inappropriate comments. This includes impolite, unsympathetic, insensitive, derogatory, and discriminatory remarks that could target a philosophy, religion, gender, ethnicity, age, disability, or sexual preference. <br />
- Post profanity or anything sexually explicit.<br />
- Engage in personal attacks.<br />
- Spam, advertise, or promote commercial entities.<br />
- Try to obtain personal information, that could include names, addresses, and email addresses.<br />
- Post your own or anyone else's personal information, including email addresses or other contact information. <br />
- Promote or endorse graphic or gratuitous violence, illegal activity, or any action designed to inflict intentional harm on anyone.<br />
- Do anything illegal.<br />
 <br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="blacktextgrey14">TalkAboutHealth will review all flags and suspend accounts if the above guidelines are not followed or if any other behavior is deemed to be inappropriate or unacceptable.<br /><br />

TalkAboutHealth reserves the right to change the Community Guidelines as new situations come to our attention and we find it necessary to alter or expand upon the policies.  We will notify the community of the changes as promptly as possible. </span>
<br /><br />
