#{extends 'static.html' /}
#{set pageHeader:'Organizations and Medical Professionals' /}
		
<span class="blacktextgrey20">
Connect with local and national patients, while building your reputation and sharing knowledge.
<br /><br /></span>
<div id="dashedborder" style="width:590px;"></div><br />

<span class="bluetext14"><strong><br />Benefits to medical professionals and organizations</strong><br /></span>
<span class="blacktextgrey14"><strong>
- Connect with local patients based on need.<br />
- Showcase your expertise and research on specific topics.<br />
- Attract the right people.<br />
- Reach a wider audience of potential consumers.<br />
- Build your online reputation and recognition.<br />
- Help more people using social media to share your knowledge.<br />
- Raise awareness around your content, programs, and events.<br />
- Provide a valuable and trusted resource for current patients.<br /><br />
</strong>
<div id="dashedborder" style="width:590px;"></div></span>

<span class="bluetext14"><strong><br />How it works</strong><br /></span>
<span class="blacktextgrey14">
<strong>
- Free to join and begin connecting and sharing.<br />
- We notify you of relevant questions from local users.<br />
- We match your answers to the right people who need them.<br />
- We recommend patients to follow and connect with you based on location and need.<br />
- You may promote your organization, programs, events, and other news to the community.<br />
- You may edit or delete your answers at any time and use them however you would like.<br />
- Easily distribute your answers via twitter and facebook.<br />
- We update you with the latest questions and answers for topics that interest you.<br /><br />
</strong>

<div id="dashedborder" style="width:590px;"></div></span>
<span class="bluetext14"><strong><br />For more information</strong><br /></span>
<span class="blacktextgrey14"><strong><br />
Contact us at  <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a> so that we can verify your credentials and get you started!<br />

</span>
