#{extends 'static.html' /}
#{set pageHeader:'FAQ' /}

<span class="bluetext14">
<strong>1.  What is TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
TalkAboutHealth is a welcoming and caring community of people who have come together to meet, share, and learn with each other.<br /><br />  
<div id="dashedborder" style="width:590px;"></div><br />
</span><span class="bluetext14"><strong>2. How does TalkAboutHealth work?  </strong></span><span class="blacktextgrey14"><br />
TalkAboutHealth connects people for health support.  We match patients, family, and caregivers with experienced peers, survivors, and experts who can help. We do this in several ways:<br /><br />
1) Post a question.  We notify peers, survivors, and experts to answer your question.<br />
2) Share your thoughts with followers and the rest of the community.<br />
3) We recommend matches to you of peers, survivors, and experts who can help.<br /><br />

All questions and answers are organized and searchable.  Members are encouraged to continually improve questions and answers by adding new answers, suggesting edits to answers, and editing questions.  <br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>3.  How does TalkAboutHealth match me with the right people to help?  </strong></span>
<span class="blacktextgrey14"><br />
We match you with people who can help, such as experienced peers, survivors, and experts based on experiences, disease, treatments, medications, side effects, and more. The more profile and health information you share and the more active you are, the better we can match you with others to build your support network.  
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />

</span>

<span class="bluetext14"><strong>4.  How long will it take to receive an answer?  </strong></span><span class="blacktextgrey14"><br />
We will notify the right people of our question right away. Our goal is to have answers as soon as possible.<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>5.  How does TalkAboutHealth ensure answers are accurate and helpful?  </strong></span><span class="blacktextgrey14"><br />
- We notify the right people to answer your question based on experience and specialty.<br />
- Both the staff at TalkAboutHealth and experienced community members review all answers to ensure accuracy and helpfulness.  If answers are not accurate or helpful, they are marked "Not helpful", or are flagged and removed.<br />
- Questions are organized into topics and duplicate questions are merged to make it easier to find relevant information. 
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>6.  What can I use TalkAboutHealth for?</strong></span><span class="blacktextgrey14"><br />
- Meet others with similar health concerns to expand your support network. <br />
- Learn from peers, survivors, and experts and immediately benefit from their experience and knowledge.<br />
- Share your experiences, daily struggles, and triumphs to help others and increase the knowledge of the community. <br />
<br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>7. What else can I do on TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
- Browse or search for information using health key words. <br />
- Find members just like you by using personal interest key words.<br />
- Contribute your insights and knowledge by answering questions and sharing thoughts.<br />
- Be notified of questions and answers relevant to you.<br />
<br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>8.  Who is welcome to join TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
Everyone! Patients, high risk individuals, survivors, caregivers, family, friends, physicians, pharmacists, nurses, therapists.  Everyone in the health community is encouraged to share, request help, and provide support.    <br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>9.  How do I get started?</strong></span><span class="blacktextgrey14"><br />
Go to <a href="@{Application.index()}" class="bluetext14">www.TalkAboutHealth.com</a> and 
click <a href="@{Application.signup()}" class="bluetext14">"Join"</a>. Joining only takes a minute.  
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>10. What is a "Thank you"?</strong></span><span class="blacktextgrey14"><br />
A "Thank you" is given by members to each other to show gratitude. If someone helps you, please give them a "Thank you."  For example, "Thank you sunshine for your advice about finding a physician that is right for me.  As a result, I found the perfect physician and feel so much better about asking questions."
<br/><br/>
"Thank you's" are very important to TalkAboutHealth. They help us to measure our goals of connecting people and helping each other. <br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<!-- <span class="bluetext14"><strong>10. What levels of recognition can members achieve?</strong></span><span class="blacktextgrey14"><br />
New Member - 0 to 5 conversations<br />
Supporter - 5 to 15 conversations<br />
Companion - 15 to 35 conversations<br />
Advocate - 35 to 75 conversations<br />
Fellow - 75 to 200 conversations<br />
Benefactor - 200 to 500 conversations<br />
Patron - 500 to 1,000 conversations<br />
Champion - over 1,000 conversations<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>-->

<span class="bluetext14"><strong>11. Is TalkAboutHealth anonymous?  </strong></span><span class="blacktextgrey14"><br />
Yes.  You will only be identified by your username.  You determine how much information to share in your profile and whether your profile is private, public or viewable by the community.  <br /><br />
To be absolutely sure your identity is anonymous, we recommend the following:<br />
- Do not associate your real name with your username.<br />
- Make your username different than other usernames you use on the internet.<br /><br />


<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>12. How do I protect my privacy? </strong></span><span class="blacktextgrey14"><br />
By default, the profile and health information you provide is viewable by the community.  You may change your <a href="@{Profile.preferences()}">Privacy Settings</a> to make your profile information private or public. 
<br />
TalkAboutHealth does not share personally identifiable information such as your name and email address without your explicit permission.<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>13. Is TalkAboutHealth safe?</strong></span><span class="blacktextgrey14"><br />
TalkAboutHealth is a designated safe space.  We monitor and review communications and content on the site to maintain the quality of the content and enforce <a href="@{Static.communityguidelines()}">Community Guidelines</a>.
As well, we have a 'flagging' system and encourage Members to 'flag' users, answers, or replies that do not follow <a href="@{Static.communityguidelines()}">Community Guidelines</a> or cause Members to experience negative feelings.   
<br /><br />
Users who do not follow the <a href="@{Static.communityguidelines()}">Community Guidelines</a> will be banned from the Community. Unacceptable content will be removed from the site. 
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>14. Are TalkAboutHealth questions and answers public?</strong></span><span class="blacktextgrey14"><br />
All questions and answers on TalkAboutHealth are public and can be found by internet search engines. By default, usernames and profile images anonymous to the public. Users may make their usernames and profile images public if they choose. 
<br /><br />
Only Community Members may participate on the site, including asking and answering questions.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>15. Is it free?</strong></span><span class="blacktextgrey14"><br />
Yes.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>16. What if I see unhelpful information or content that may cause negative feelings in others?</strong></span><span class="blacktextgrey14"><br />
Please 'flag' content if you feel it may cause negative feelings in others or is misleading or inaccurate.  If an answer is unhelpful, please click the "Not helpful" link.  We actively moderate the community, but we need your help as well.  Content that is flagged multiple times will be investigated.  Please email us if you feel the matter is urgent.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>17. Can other people edit my questions?</strong></span><span class="blacktextgrey14"><br />
This site is collaboratively edited, similar to Wikipedia.  If you do not want your questions edited by other trusted users, this may not be the site for you.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>18. I forgot my password.  What should I do?</strong></span><span class="blacktextgrey14"><br />
To reset your password, go to <a href="@{Application.forgotPassword()}" class="bluetext14">Forgot Password</a> and enter the email address you used to set up your account.  An email will be sent to you with a new password.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>19.  How do I contact TalkAboutHealth support?</strong></span><span class="blacktextgrey14"><br />
Send an e-mail to <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>.  We are happy to help and always available to give assistance. 
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>20. Why don't you have a community for my health issue?</strong></span><span class="blacktextgrey14"><br />
We will open to other health communities very soon.  Please let us know your request at <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>. 
<br /><br />
</span>
