#{extends 'static.html' /}
#{set pageHeader:'FAQ' /}

<span class="bluetext14">
<strong>1.  What is TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
TalkAboutHealth is a real-time health support group where you connect with others who have similar health concerns and interests for live, anonymous conversations and answers.<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span><span class="bluetext14"><strong>2. How does TalkAboutHealth work?  </strong></span><span class="blacktextgrey14"><br />
You send a question or request to TalkAboutHealth through the web site or by instant message.  TalkAboutHealth immediately connects you with the right people to have your question answered or for a live group conversation via audio, video, or instant message.  In addition, TalkAboutHealth can notify you by instant message of conversations that might be of interest to you.<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>3.  How does TalkAboutHealth find the right people to help?  </strong></span>
<span class="blacktextgrey14"><br />
TalkAboutHealth uses a proprietary algorithm that finds people who have experience with your request and are similar to you. Information provided in the Profile and past conversations and answers are used to measure experience and similarity. The more information you provide and the more active you are, the better we can match you for conversations.<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>4.  How long will it take to join a conversation?  </strong></span><span class="blacktextgrey14"><br />
Instantly.  <br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>5.  What can I use TalkAboutHealth for?</strong></span><span class="blacktextgrey14"><br />
You can meet others with similar interests and health concerns to expand your support network. <br />
You can learn from peers and immediately benefit from the wisdom of other people who have been through similar experiences.<br />
You can share your experiences, daily struggles, and triumphs to help others and increase the knowledge of the community. <br />
You can talk to someone who understands for instant support.<br />
<br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>6. What else can I do on TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
You can browse or search for live conversations. <br />
You can search and view archives of conversations based on key word and usernames.<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>7.  Who can use TalkAboutHealth?</strong></span><span class="blacktextgrey14"><br />
Patients, survivors, caregivers, family members, friends, physicians, pharmacists, nurses, therapists.  Everyone in the health community is encouraged to share, request help, and provide support.    <br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>8.  How do I get started?</strong></span><span class="blacktextgrey14"><br />
Go to <a href="@{Application.index()}" class="bluetext14">www.TalkAboutHealth.com</a> and 
click <a href="@{Application.signup()}" class="bluetext14">"Sign-Up"</a>. Signing up only takes a minute.  
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>9. What are "Thank you's"?</strong></span><span class="blacktextgrey14"><br />
A "Thank you" is given by members to each other to show gratitude. If someone helps you, please give them a "Thank you."  For example, "Thank you sunshine for your advice about finding a physician that is right for me.  As a result, I found the perfect physician and feel so much better about asking questions."
<br/><br/>
"Thank you's" are very important to TalkAboutHealth. They help us to measure our goals of connecting people and helping each other. <br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<!-- <span class="bluetext14"><strong>10. What levels of recognition can members achieve?</strong></span><span class="blacktextgrey14"><br />
New Member - 0 to 5 conversations<br />
Supporter - 5 to 15 conversations<br />
Companion - 15 to 35 conversations<br />
Advocate - 35 to 75 conversations<br />
Fellow - 75 to 200 conversations<br />
Benefactor - 200 to 500 conversations<br />
Patron - 500 to 1,000 conversations<br />
Champion - over 1,000 conversations<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>-->

<span class="bluetext14"><strong>10. Is TalkAboutHealth anonymous?  </strong></span><span class="blacktextgrey14"><br />
Yes.  You will only be identified by your username during conversations.  You determine how much information to share in your profile and whether your profile is viewable or private to the community.  <br /><br />
To be absolutely sure your identity is anonymous, we recommend the following:<br />
- Do not associate your real name with your username.<br />
- Make your username different than other usernames you use on the internet.<br /><br />


<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>11. How do I protect my privacy? </strong></span><span class="blacktextgrey14"><br />
By default, the profile and health information you provide is private.  You may change your <a href="@{Profile.preferences()}">Privacy Settings</a> to make your profile information viewable to the community. 
<br />
TalkAboutHealth does not share personally identifiable information such as your name and email address without your explicit permission.<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>12. Are TalkAboutHealth conversations public?</strong></span><span class="blacktextgrey14"><br />
All questions and answers on TalkAboutHealth are public and can be found by internet search engines.  Publicly though, questions and answers are not associated with a username or any other profile information.  Only community members may see the username associated with questions and answers.  Archives of live talks are only viewable by community members.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>13. Is it free?</strong></span><span class="blacktextgrey14"><br />
Yes.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>14. I forgot my password.  What should I do?</strong></span><span class="blacktextgrey14"><br />
To reset your password, go to <a href="@{Application.forgotPassword()}" class="bluetext14">Forgot Password</a> and enter the email address you used to set up your account.  An email will be sent to you with a new password.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>15.  How do I contact TalkAboutHealth support?</strong></span><span class="blacktextgrey14"><br />
Send an e-mail to <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>.  We are happy to help and always available to give assistance. 
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>16. Why don't you have a community for my health issue?</strong></span><span class="blacktextgrey14"><br />
We will in the future.  Please let us know your request at <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>. 
<br /><br />
</span>
