#{extends 'static.html' /}
#{set pageHeader:'How TalkAboutHealth works' /}
<span class="blacktextgrey18">
	TalkAboutHealth finds and notifies the right experts, survivors, and organizations to help patients.
	<br/><br /></span>
	<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="blacktextgrey14"><br /><strong>Ask and answer questions</strong></span>
<span class="blacktextgrey14"><br /><br />
	 	We connect patients, high risk individuals, and supporters who need health support, with survivors, experts, and organizations that can help.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Share thoughts </strong></span>
<span class="blacktextgrey14"><br /><br />
	 We encourage users to post your discoveries or what you are thinking to educate others and start conversations.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Meet others who can help</strong></span>
<span class="blacktextgrey14"><br /><br />
	 We recommend matches for you with people who can help, such as experienced peers, survivors, and experts.  We match members based on experiences, disease, treatments, medications, side effects, demographics, cultural background, and much more.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Accurate, timely, and helpful</strong></span>
<span class="blacktextgrey14"><br /><br />
	We notify the right people right away to answer questions based on experience and specialty.  Both the staff at TalkAboutHealth and experienced community members review all answers. If answers are not accurate or helpful, they are marked "Not helpful", or are flagged and removed.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Personalized and relevant</strong></span>
<span class="blacktextgrey14"><br /><br />
	 We match you with the answers and knowledge you need based on your health and profile information.  
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Organized and curated</strong></span>
<span class="blacktextgrey14"><br /><br />
	 We gather together as a community to organize and curate the questions and answers so that the information patients and others are searching for is trusted and easily found.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="blacktextgrey14"><strong>Real-time notifications</strong></span>
<span class="blacktextgrey14"><br /><br />
	 We notify you of new answers and updates via facebook, email, instant message, and Twitter so you get the latest information. 
<br /><br />

