#{extends 'static.html' /}
#{set pageHeader:'How TalkAboutHealth works' /}
<span class="blacktextgrey20">
	We connect patients, high risk individuals, and supporters who need health support, with experienced peers, survivors, and experts who can help.  	
	<br/><br/>

	<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Ask and answer questions</strong></span>
<span class="blacktextgrey14"><br />
	 We find and notify the right people (experienced peers, survivors, experts) to answer your questions to ensure trusted, helpful, and accurate answers.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Share thoughts </strong></span>
<span class="blacktextgrey14"><br />
	 Post your discoveries or what you are thinking to educate others and start conversations.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
	<span class="bluetext14"><strong>Meet others who can help</strong></span>
<span class="blacktextgrey14"><br />
	 We recommend matches for you with people who can help, such as experienced peers, survivors, and experts.  We match members based on experiences, disease, treatments, medications, side effects, demographics, cultural background, and much more.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Accurate, timely, and helpful</strong></span>
<span class="blacktextgrey14"><br />
	The right people are notified right away to answer questions based on experience and specialty.  Both the staff at TalkAboutHealth and experienced community members review all answers. If answers are not accurate or helpful, they are marked "Not helpful", or are flagged and removed.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Personalized and relevant</strong></span>
<span class="blacktextgrey14"><br />
	 We match you with the answers and knowledge you need based on your health and profile information.  
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Organized and curated</strong></span>
<span class="blacktextgrey14"><br />
	 The community organizes and curates the questions and answers so that the information is trusted and easily found.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Real-time notifications</strong></span>
<span class="blacktextgrey14"><br />
	 We notify you of new answers and updates via facebook, email, instant message, and twitter so you get the latest information. 
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
