#{extends 'static.html' /}
#{set pageHeader:'How TalkAboutHealth works' /}
		
<span class="bluetext14"><strong>Connect with peers, survivors, and experts</strong></span>
<span class="blacktextgrey14"><br />
	 We recommend matches for you with people who can help, such as experienced peers, survivors, and experts.  We match members based on experiences, disease, treatments, medications, side effects, demographics, cultural background, and much more.
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Personalized information for you</strong></span>
<span class="blacktextgrey14"><br />
	We provide the support and knowledge you need based on your health and profile information.  <br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Real-time notifications</strong></span>
<span class="blacktextgrey14"><br />
	We notify you of new answers and updates via facebook, email, instant message, and twitter so you get the latest information. 
<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Trusted answers</strong></span>
<span class="blacktextgrey14"><br />
	We notify the right people (experienced peers, survivors, and experts) to answer your questions and provide support.  We match people based on their experience and expertise. <br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Organized and easy to find information</strong></span>
<span class="blacktextgrey14"><br />
	We organize and curate questions and answers so that the information is trusted and easily found.
	<br /><br /><div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Safe environment </strong></span>
<span class="blacktextgrey14"><br />
	We diligently enforce TalkAboutHealth Community Guidelines by removing content and banning users.<br /><br />
	<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Anonymous and secure</strong></span>
<span class="blacktextgrey14"><br />
	You will only be identified by your user name during conversations. 
	You determine how much information to share in your profile and whether your profile is private, public, or viewable by the community. 
	Additionally, TalkAboutHealth protects your personal information and will not share personally identifiable information such as your name and email address without your explicit permission.  <br /><br />
	
