#{extends 'static.html' /}
#{set pageHeader:'Medical Professionals' /}
#{include '/Static/medical_professionals_faculty.html' /}

<span class="blacktextgrey12"><br /></span>

<span class="blacktextgrey18">Featured Medical Professionals <span class="blacktextgrey14"><a href="medical_professional_network">(Become a featured medical professional)</a></span><br/><br/></span>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktextgrey12"><br /></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BlancheAlterMDMPH")}"><img src="/public/images/BlancheAlterMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BlancheAlterMDMPH")}">Blanche Alter,MD,MPH </a></strong><br />Senior Clinician at the National Cancer Institute<br /> Bethesda, MD</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ShawnAllenMD")}"><img src="/public/images/ShawnAllenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ShawnAllenMD")}">Shawn Allen, MD </a></strong><br />Founder of Dermatology Specialists of Boulder<br /> Boulder, CO</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BryanSchneiderMD")}"><img src="/public/images/BryanSchneiderMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BryanSchneiderMD")}">Bryan Schneider, MD </a></strong><br />Associate professor of medicine at the Indiana University Melvin and Bren Simon Cancer Center<br /> Indianapolis, IN</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeonardZonMD")}"><img src="/public/images/LeonardZonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeonardZonMD")}">Leonard Zon, MD </a></strong><br />Professor of Pediatric Medicine at Harvard Medical School<br /> Boston, MA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GarrettWalshMD")}"><img src="/public/images/GarrettWalshMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GarrettWalshMD")}">Garrett Walsh, MD </a></strong><br />Professor of Surgery, MD Anderson Cancer Center<br /> Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RituSainiMD")}"><img src="/public/images/RituSainiMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RituSainiMD")}">Ritu Saini, MD </a></strong><br />Assistant Professor at New York University<br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LaurieKilmartinPT")}"><img src="/public/images/LaurelleKilmartinPT.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LaurieKilmartinPT")}">Laurie Kilmartin, PT </a></strong><br />Physical Therapy Lymphedema Specialist at NYU<br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BenjaminDaviesMD")}"><img src="/public/images/BenjaminDaviesMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BenjaminDaviesMD")}">Benjamin Davies, MD </a></strong><br />Assistant professor of urology at the University of Pittsburgh<br /> Pittsburgh, PA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("DavidSpigelMD")}"><img src="/public/images/DavidSpigelMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DavidSpigelMD")}">David Spigel, MD </a></strong><br />Director of lung cancer research at the Sarah Cannon Research Institute.<br /> Nashville, TN</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JonathanZagerMD")}"><img src="/public/images/JonathanZagerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JonathanZagerMD")}">Jonathan Zager, MD </a></strong><br />Associate Professor at Moffitt Cancer Center<br /> Tampa, FL</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("KatherineCrewMD")}"><img src="/public/images/KatherineCrewMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("KatherineCrewMD")}">Katherine Crew, MD </a></strong><br />Assistant Professor of Medicine and Epidemiology at the New York-Presbyterian / Columbia University Medical Center<br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StevenODayMD")}"><img src="/public/images/StevenODayMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StevenODayMD")}">Steven O'Day, MD </a></strong><br />Director of Clinical Research, Beverly Hills Cancer Center<br /> Beverly Hills, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ManishShahMD")}"><img src="/public/images/ManishShahMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ManishShahMD")}">Manish Shah, MD </a></strong><br />Director of the Gastrointestinal Oncology Research Laboratory at Weill Cornell Medical College <br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("FrancineFossMD")}"><img src="/public/images/FrancineFossMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("FrancineFossMD")}">Francine Foss, MD </a></strong><br />Professor of medicine at the Yale Cancer Center<br /> New Haven, CT</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LinneaChapMD")}"><img src="/public/images/LinneaChapMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LinneaChapMD")}">Linnea Chap, MD </a></strong><br />Associate Professor, UCLA School of Medicine, Beverly Hills Cancer Center <br /> Beverly Hills, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("aweizer")}"><img src="/public/images/aweizer.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("aweizer")}">Alon Weizer, MD </a></strong><br />Associate Professor of Urology at the University of Michigan Health System <br /> Ann Arbor, MI</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("IgorPuzanovMD")}"><img src="/public/images/IgorPuzanovMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("IgorPuzanovMD")}">Igor Puzanov, MD </a></strong><br />Associate Professor at Vanderbilt University<br /> Nashville, TN</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("OmidHamidMD")}"><img src="/public/images/OmidHamidMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("OmidHamidMD")}">Omid Hamid, MD </a></strong><br />Director of the Melanoma Center at The Angeles Clinic and Research Institute. <br /> Los Angeles, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferBrownMDPhD")}"><img src="/public/images/JenniferBrownMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferBrownMDPhD")}">Jennifer Brown, MD, PhD </a></strong><br />Director, Chronic Lymphocytic Leukemia Center at Dana Farber Cancer Institute. <br /> Boston, MA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("HowardHochsterMD")}"><img src="/public/images/HowardHochsterMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("HowardHochsterMD")}">Howard Hochster, MD </a></strong><br />Professor at the Yale Cancer Center <br /> New Haven, CT</span>
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ArashAsherMD")}"><img src="/public/images/ArashAsherMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ArashAsherMD")}">Arash Asher, MD </a></strong><br />Director, Cancer Rehabilitation & Survivorship, Samuel Oschin Comprehensive Cancer Institute<br /> West Hollywood, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("jeffkane")}"><img src="/public/images/jeffkane.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("jeffkane")}">Jeff Kane, MD </a></strong><br />Author of Bedside Manifesto, Be Sick Well, and The Healing Companion.<br /> Grass Valley, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GlenWeissMD")}"><img src="/public/images/GlenWeissMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GlenWeissMD")}">Glen Weiss, MD </a></strong><br />Director of Clinical Research at Cancer Treatment Centers of America (CTCA) at Western Regional Medical Center.<br /> Goodyear, AZ</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("Dr.Sadeghi")}"><img src="/public/images/Dr.Sadeghi.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("Dr.Sadeghi")}">Alireza Sadeghi, MD </a></strong><br />Founder of Aesthetic and Reconstructive Breast Center <br /> New Orleans, LA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeorgeFitchettDMinPhD")}"><img src="/public/images/GeorgeFitchettDMinPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeorgeFitchettDMinPhD")}">George Fitchett, DMin, PhD </a></strong><br />Professor and the director of Research in the Department of Religion, Health, and Human Values, Rush University Medical Center<br /> Chicago, IL</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CelestiaHiganoMD")}"><img src="/public/images/CelesteHiganoMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CelestiaHiganoMD")}">Celeste Higano, MD </a></strong><br />Professor at the University of Washington School of Medicine. <br /> Seattle, WA</span>
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PhilipFriedlanderMD")}"><img src="/public/images/PhilipFriedlanderMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PhilipFriedlanderMD")}">Philip Friedlander, MD </a></strong><br />Assistant Professor of the Mount Sinai School of Medicine  <br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("WilliamHuangMD")}"><img src="/public/images/WilliamHuangMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("WilliamHuangMD")}">William Huang, MD </a></strong><br />Assistant Professor at NYU Langone Cancer Center <br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JamesTulskyMD")}"><img src="/public/images/JamesTulskyMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JamesTulskyMD")}">James Tulsky, MD </a></strong><br />Director of the Duke Center for Palliative Care <br /> Durham, NC</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichailShafirMD")}"><img src="/public/images/MichailShafirMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichailShafirMD")}">Michail Shafir, MD </a></strong><br />Professor at Mount Sinai School of Medicine <br /> New York, NY </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("YvonneSaengerMD")}"><img src="/public/images/YvonneSaengerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YvonneSaengerMD")}">Yvonne Saenger, MD </a></strong><br />Assistant Profeesor at Mount Sinai Hospital  <br /> New York, NY </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RachelFreedmanMDMPH")}"><img src="/public/images/RachelFreedmanMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RachelFreedmanMDMPH")}">Rachel Freedman, MD, MPH </a></strong><br />Instructor in Medicine, Harvard Medical School   <br /> Boston, MA </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StewartMassadMD")}"><img src="/public/images/StewartMassadMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StewartMassadMD")}">Stewart Massad, MD </a></strong><br />Professor at Washington University School of Medicine   <br /> St. Louis, MO </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AKutikovMD")}"><img src="/public/images/AKutikovMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AKutikovMD")}">Alexander Kutikov, MD </a></strong><br />Associate Professor of Surgical Oncology at the Fox Chase Cancer Center.  <br /> Philadelphia, PA </span>
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RogerioNevesMDPhD")}"><img src="/public/images/RogerioNevesMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RogerioNevesMDPhD")}">Rogerio Neves, MD, PhD </a></strong><br />Professor at Penn State Hershey Cancer Insitute.  <br /> Hershey, PA </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertAndtbackaMD")}"><img src="/public/images/RobertAndtbackaMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertAndtbackaMD")}">Robert Andtbacka, MD </a></strong><br />Assistant Professor at the University of Utah School of Medicine.  <br /> Salt Lake City, UT </span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PatrickHwuMD")}"><img src="/public/images/PatrickHwuMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PatrickHwuMD")}">Patrick Hwu, MD </a></strong><br />Department Chair, Department of Melanoma Medical Oncology, The University of Texas MD Anderson Cancer Center. <br /> Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("YvonneRomeroMD")}"><img src="/public/images/YvonneRomeroMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YvonneRomeroMD")}">Yvonne Romero, MD </a></strong><br />Assistant Professor at the Mayo Clinic. <br /> Rochester, MN</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}"><img src="/public/images/MichaelPishvaianMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}">Michael Pishvaian, MD, PhD </a></strong><br />Assistant Professor at the Lombardi Comprehensive Cancer Center. <br /> Washington DC</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertBastMD")}"><img src="/public/images/RobertBastMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertBastMD")}">Robert Bast, MD </a></strong><br />Vice President for Translational Research at The University of Texas M. D. Anderson Cancer Center. <br /> Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SusanLeclairPhD")}"><img src="/public/images/SusanLeclairPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SusanLeclairPhD")}">Susan Leclair, PhD </a></strong><br />Chancellor professor at the University of Massachusetts. <br /> North Dartmouth, MA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SanjayGoelMD")}"><img src="/public/images/SanjayGoelMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjayGoelMD")}">Sanjay Goel, MD </a></strong><br />Associate Professor at Albert Einstein College of Medicine. <br /> Bronx, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertFiglinMD")}"><img src="/public/images/RobertFiglinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertFiglinMD")}">Robert Figlin, MD </a></strong><br />Professor and Deputy Director at Cedars-Sinai's Samuel Oschin Comprehensive Cancer Institute. <br /> Los Angeles, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SumantaKumarPalMD")}"><img src="/public/images/SumantaKumarPalMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SumantaKumarPalMD")}">Sumanta Kumar Pal, MD </a></strong><br />Assistant professor and co-director of the Kidney Cancer Program at City of Hope. <br /> Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeraldRosenMD")}"><img src="/public/images/GeraldRosenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeraldRosenMD")}">Gerald Rosen, MD </a></strong><br />Leading expert in adult sarcomas at NYU Langone Medical Center.<br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JaredWeissMD")}"><img src="/public/images/JaredWeissMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JaredWeissMD")}">Jared Weiss, MD </a></strong><br />Assistant Professor at the University of North Carolina School of Medicine.<br /> Chapel Hill, NC</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnthonySteinMD")}"><img src="/public/images/AnthonySteinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonySteinMD")}">Anthony Stein, MD </a></strong><br />Professor, Department of Hematology & Hematopoietic Cell Transplantation, City of Hope.<br /> Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("toddmmorgan")}"><img src="/public/images/toddmmorgan.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("toddmmorgan")}">Todd Morgan, MD </a></strong><br />Assistant Professor, Urology at University of Michigan.<br /> Ann Arbor, MI</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}"><img src="/public/images/PeterCarrollMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}">Peter Carroll, MD, MPH </a></strong><br />Professor and Chair of the UCSF Department of Urology. <br />  San Francisco, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}"><img src="/public/images/CynthiaMaMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}">Cynthia Ma, MD, PhD </a></strong><br />Associate Professor of Breast Oncology, Washington University School of Medicine. <br />  St. Louis, MO</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeorgeMillerMD")}"><img src="/public/images/GeorgeMillerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeorgeMillerMD")}">George Miller, MD </a></strong><br />Assistant Professor at NYU Langone Medical Center.<br />  New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferLittonMD")}"><img src="/public/images/JenniferLittonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferLittonMD")}">Jennifer Litton, MD </a></strong><br />Assistant Professor at MD Anderson Cancer Center.<br />  Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}"><img src="/public/images/LeslieBernsteinPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}">Leslie Bernstein, PhD </a></strong><br />Professor and Director of the Department of Cancer Etiology at the City of Hope National Medical Center.<br />  Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RichardFinnMD")}"><img src="/public/images/RichardFinnMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardFinnMD")}">Richard Finn, MD</a></strong><br />Assistant Professor at the Geffen School of Medicine at UCLA.<br />  Los Angeles, CA</span>
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}"><img src="/public/images/PasiAnteroJanneMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}">Pasi Antero-Janne, MD, PhD </a></strong><br />Associate Professor of Medicine at Harvard Medical School. <br /> Boston, MA </span>
</div>


<!-- Copy/Use this div to add new entry in this page page -->
<!--  Add new entry here only -->

#{include '/Static/medical_professionals_old.html' /}


