#{extends 'static.html' /}
#{set pageHeader:'Medical Professional Network' /}
		
<span class="blacktextgrey18">
Connect with local and national patients, while building your reputation and sharing knowledge.<br /><br />
</span>  

<span class="blacktextgrey14">
TalkAboutHealth's medical network includes leading health professionals associated with prestigious institutions such as Johns Hopkins, Columbia, Emory, and more.  We help professionals reach and attract the right patients, showcase their expertise, and build their online reputation.<br /><br />
Memberships is by application or invitation. <a href="@{Application.signup()}" class="bluetext14">Join now</a> to get started!  Or email <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a> for more information.<br /><br />
</span>

<br /><br /></span>
<div id="dashedborder" style="width:590px;"></div><br />

<span class="blacktextgrey16"><strong><br />Benefits</strong></span>
<span class="blacktextgrey14"><br /><br />
- Attract and connect with local and national patients based on need and fit.<br />
- Raise awareness around the services and unique benefits of your practice.<br />
- Showcase your expertise and research on specific topics.<br />
- Build your online reputation and recognition.<br />
- Reach a wider audience of potential consumers.<br />
- Help more people using social media to share your knowledge.<br />
- Differentiate yourself from other experts.<br />
- Provide a valuable and trusted resource for current patients.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How we recognize and help our experts</strong></span>
<span class="blacktextgrey14"><br /><br />
- Match you with the right patients on TalkAboutHealth.<br />
- Regularly promote you via Facebook and Twitter.<br />
- Highlight you in our blog and newsletter.<br />
- Opportunities to present at events.<br />
- Opportunities to do video interviews.<br />
- Opportunities to guest blog.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How it works</strong></span>
<span class="blacktextgrey14"><br /><br />
- Free to join and begin connecting and sharing.<br />
- We notify you of relevant questions from local users.<br />
- We match your answers to the people who need them.<br />
- We recommend patients to connect with you based on location and need.<br />
- Promote your organization, programs, events, and other news to the community.<br />
- Edit or delete your answers at any time and use them however you would like.<br />
- Easily distribute your answers via twitter and facebook.<br />
- We update you with the latest questions and answers for topics that interest you.<br /><br />

<div id="dashedborder" style="width:590px;"></div></span>
<span class="blacktextgrey16"><strong><br /><a href="@{Application.signup()}">Join now</a> to get started! Or email <a href="mailto:support@talkabouthealth.com" class="bluetext16">support@talkabouthealth.com</a> for more information.<br />
</strong><br /></span>

