#{extends 'static.html' /}
#{set pageHeader:'Medical Professional Network' /}
		
<span class="blacktextgrey18">
Connect with local and national patients, while building your reputation and sharing knowledge.<br /><br />
</span>  

<span class="blacktextgrey14">
TalkAboutHealth's medical network includes leading health professionals from all over the country.  The purpose is to help professionals reach and attract the right people and build their online reputation.<br /><br />
Memberships is by application or invitation.  Contact us at <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a> to apply and get started!<br /><br />
</span>

<br /><br /></span>
<div id="dashedborder" style="width:590px;"></div><br />

<span class="blacktextgrey16"><strong><br />Benefits</strong></span>
<span class="blacktextgrey14"><br /><br />
- Connect with local patients based on need.<br />
- Reach a wider audience of potential consumers.<br />
- Differentiate yourself from other experts.<br />
- Showcase your expertise and research on specific topics.<br />
- Attract the right people.<br />
- Build your online reputation and recognition.<br />
- Help more people using social media to share your knowledge.<br />
- Raise awareness around your services, content, and events.<br />
- Provide a valuable and trusted resource for current patients.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How we recognize and help our experts</strong></span>
<span class="blacktextgrey14"><br /><br />
- Recommend you to the right patients on TalkAboutHealth.<br />
- Regularly promote you via Facebook and Twitter.<br />
- Highlight you in our blog and newsletter.<br />
- Opportunities to present at events.<br />
- Opportunities to do video interviews.<br />
- Opportunities to guest blog.<br /><br />
<div id="dashedborder" style="width:590px;"></div></span>

<span class="blacktextgrey16"><strong><br />How it works</strong></span>
<span class="blacktextgrey14"><br /><br />
- Free to join and begin connecting and sharing.<br />
- We notify you of relevant questions from local users.<br />
- We match your answers to the people who need them.<br />
- We recommend patients to connect with you based on location and need.<br />
- Promote your organization, programs, events, and other news to the community.<br />
- Edit or delete your answers at any time and use them however you would like.<br />
- Easily distribute your answers via twitter and facebook.<br />
- We update you with the latest questions and answers for topics that interest you.<br /><br />

<div id="dashedborder" style="width:590px;"></div></span>
<span class="blacktextgrey16"><strong><br />For more information</strong><br /></span>
<span class="blacktextgrey14"><br />
Contact us at  <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a> to apply and get started!<br />

</span>
