#{extends 'static.html' /}
#{set pageHeader:'Medical Professionals' /}
#{include '/Static/medical_professionals_faculty.html' /}

<span class="blacktextgrey12"><br /></span>

<span class="blacktextgrey18">Featured Medical Professionals <span class="blacktextgrey14"><a href="medical_professional_network">(Become a featured medical professional)</a></span><br/><br/></span>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktextgrey12"><br /></span>

#{include '/Static/medical_professionals_old.html' /}

<!-- Copy/Use this div to add new entry in this page page -->
<!--  Add new entry here only -->
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}">Pasi Antero-Janne, MD, PhD </a></strong><br />Associate Professor of Medicine at Harvard Medical School. <br /> Boston, MA </span>
</div>
