#{extends 'static.html' /}
#{set pageHeader:'Medical Professionals' /}
#{include '/Static/medical_professionals_faculty.html' /}

<span class="blacktextgrey12"><br /></span>

<span class="blacktextgrey18">Featured Medical Professionals <span class="blacktextgrey14"><a href="medical_professional_network">(Become a featured medical professional)</a></span><br/><br/></span>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktextgrey12"><br /></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}"><img src="/public/images/MichaelPishvaianMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}">Michael Pishvaian, MD, PhD </a></strong><br />Assistant Professor at the Lombardi Comprehensive Cancer Center. <br /> Washington DC</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertBastMD")}"><img src="/public/images/RobertBastMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertBastMD")}">Robert Bast, MD </a></strong><br />Vice President for Translational Research at The University of Texas M. D. Anderson Cancer Center. <br /> Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SusanLeclairPhD")}"><img src="/public/images/SusanLeclairPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SusanLeclairPhD")}">Susan Leclair, PhD </a></strong><br />Chancellor professor at the University of Massachusetts. <br /> North Dartmouth, MA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SanjayGoelMD")}"><img src="/public/images/SanjayGoelMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjayGoelMD")}">Sanjay Goel, MD </a></strong><br />Associate Professor at Albert Einstein College of Medicine. <br /> Bronx, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertFiglinMD")}"><img src="/public/images/RobertFiglinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertFiglinMD")}">Robert Figlin, MD </a></strong><br />Professor and Deputy Director at Cedars-Sinai's Samuel Oschin Comprehensive Cancer Institute. <br /> Los Angeles, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SumantaKumarPalMD")}"><img src="/public/images/SumantaKumarPalMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SumantaKumarPalMD")}">Sumanta Kumar Pal, MD </a></strong><br />Assistant professor and co-director of the Kidney Cancer Program at City of Hope. <br /> Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeraldRosenMD")}"><img src="/public/images/GeraldRosenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeraldRosenMD")}">Gerald Rosen, MD </a></strong><br />Leading expert in adult sarcomas at NYU Langone Medical Center.<br /> New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JaredWeissMD")}"><img src="/public/images/JaredWeissMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JaredWeissMD")}">Jared Weiss, MD </a></strong><br />Assistant Professor at the University of North Carolina School of Medicine.<br /> Chapel Hill, NC</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnthonySteinMD")}"><img src="/public/images/AnthonySteinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonySteinMD")}">Anthony Stein, MD </a></strong><br />Professor, Department of Hematology & Hematopoietic Cell Transplantation, City of Hope.<br /> Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("toddmmorgan")}"><img src="/public/images/toddmmorgan.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("toddmmorgan")}">Todd Morgan, MD </a></strong><br />Assistant Professor, Urology at University of Michigan.<br /> Ann Arbor, MI</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}"><img src="/public/images/PeterCarrollMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}">Peter Carroll, MD, MPH </a></strong><br />Professor and Chair of the UCSF Department of Urology. <br />  San Francisco, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}"><img src="/public/images/CynthiaMaMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}">Cynthia Ma, MD, PhD </a></strong><br />Associate Professor of Breast Oncology, Washington University School of Medicine. <br />  St. Louis, MO</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeorgeMillerMD")}"><img src="/public/images/GeorgeMillerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeorgeMillerMD")}">George Miller, MD </a></strong><br />Assistant Professor at NYU Langone Medical Center.<br />  New York, NY</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferLittonMD")}"><img src="/public/images/JenniferLittonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferLittonMD")}">Jennifer Litton, MD </a></strong><br />Assistant Professor at MD Anderson Cancer Center.<br />  Houston, TX</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}"><img src="/public/images/LeslieBernsteinPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}">Leslie Bernstein, PhD </a></strong><br />Professor and Director of the Department of Cancer Etiology at the City of Hope National Medical Center.<br />  Duarte, CA</span>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RichardFinnMD")}"><img src="/public/images/RichardFinnMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardFinnMD")}">Richard Finn, MD</a></strong><br />Assistant Professor at the Geffen School of Medicine at UCLA.<br />  Los Angeles, CA</span>
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}"><img src="/public/images/PasiAnteroJanneMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}">Pasi Antero-Janne, MD, PhD </a></strong><br />Associate Professor of Medicine at Harvard Medical School. <br /> Boston, MA </span>
</div>


<!-- Copy/Use this div to add new entry in this page page -->
<!--  Add new entry here only -->

#{include '/Static/medical_professionals_old.html' /}


