#{extends 'static.html' /}
#{set pageHeader:'Partner Network' /}
		
<span class="blacktextgrey18">Content Partners <span class="blacktextgrey14"><a href="become_a_partner">(Become a partner)</a></span><br/><br/></span>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktextgrey12"><br /></span>
<div id=partnerlogo1 style="height:100px;width:220px;float:left;">
	<a href="http://cancerquest.org" target="_blank"><img src="/public/images/logos/cq_logo.jpg" alt="" width="200"/></a>
</div>
<div id=partnerdescription1 style="height:100px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://cancerquest.org" target="_blank">CancerQuest</a></strong> is a cancer education and outreach program at Emory University.  We provide reliable information about cancer biology and treatment.</span>
</div>
<div id=partnerlogo2 style="height:120px;width:220px;float:left;">
	<a href="http://www.cfah.org" target="_blank"><img src="/public/images/logos/CFAH_logo.jpg" alt="" width="200"/></a>
</div>
<div id=partnerdescription2 style="height:120px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://www.cfah.org" target="_blank">The Center for Advancing Health (CFAH)</a></strong> conducts research, communicates findings and advocates for policies that support everyone’s ability to benefit from advances in health science. </span>
</div>
<div id=partnerlogo3 style="height:140px;width:220px;float:left;">
	<a href="https://www.disabilityrightslegalcenter.org/about/cancerlegalresource.cfm" target="_blank"><img src="/public/images/logos/DisabilityRightsLegalCenter_logo.PNG" alt="" /></a>
</div>
<div id=partnerdescription3 style="height:140px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="https://www.disabilityrightslegalcenter.org/about/cancerlegalresource.cfm" target="_blank">The Cancer Legal Resource Center (CLRC)</a></strong> provides free and confidential information and resources on cancer-related legal issues to cancer survivors, caregivers, employers, health care professionals, and others coping with cancer. </span>
</div>
<div id=partnerlogo5 style="height:120px;width:220px;float:left;">
	<a href="http://mautnerproject.org" target="_blank"><img src="/public/images/logos/mp_logo.jpg" alt="" width="200"/></a>
</div>
<div id=partnerdescription5 style="height:120px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://mautnerproject.org" target="_blank">Mautner Project</a></strong> is committed to improving the health of women who partner with women including lesbian, bisexual and transgender individuals, through direct and support service, education and advocacy.</span>
</div>
<div id=partnerlogo4 style="height:140px;width:220px;float:left;">
	<a href="http://patientadvocate.org" target="_blank"><img src="/public/images/logos/PatientAdvocate_logo.PNG" alt="" /></a>
</div>
<div id=partnerdescription4 style="height:140px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://patientadvocate.org" target="_blank">Patient Advocate Foundation</a></strong> provides effective mediation and arbitration services to patients to remove obstacles to healthcare including medical debt crisis, insurance access issues and employment issues for patients with chronic, debilitating and life-threatening illnesses.</span>
</div>

<span class="blacktextgrey18">Cause Marketing Partners<br/><br/></span>
<div id="dashedborder" style="height:20px;width:590px;"></div>
<div id=partnerlogo4 style="height:120px;width:220px;float:left;">
	<a href="http://4thAngel.org" target="_blank"><img src="/public/images/logos/4thAngel_logo.gif" alt="" width="200"/></a>
</div>
<div id=partnerdescription4 style="height:120px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://4thAngel.org" target="_blank">The 4th Angel</a></strong> mentoring Program offers free, one-on-one, confidential outreach and support from someone who has successfully made the same journey you are about to begin – the journey towards recovery. </span>
</div>
<div id=partnerlogo4 style="height:100px;width:220px;float:left;">
	<a href="http://breasttreatment.org" target="_blank"><img src="/public/images/logos/bttf_logo.png" alt="" /></a>
</div>
<div id=partnerdescription4 style="height:100px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://breasttreatment.org" target="_blank">Breast Treatment Task Force</a></strong> facilitates screening, education, diagnostic follow-up and treatment for patients without health insurance. </span>
</div>
<div id=partnerlogo4 style="height:100px;width:220px;float:left;">
	<a href="http://givemeasecond.com/" target="_blank"><img src="/public/images/logos/gmas_logo.png" alt="" width="200"/></a>
</div>
<div id=partnerdescription4 style="height:100px;width:340px;float:left;">
	<span class="blacktextgrey14"><strong><a href="http://givemeasecond.com/" target="_blank">Give Me A Second</a></strong> encourages women to become partners with their doctors and get the information they need to make important healthcare decisions - and to feel good about their decisions.. </span>
</div>

