#{extends 'static.html' /}
#{set pageHeader:'Partners' /}
		
<span class="blacktextgrey18">Content Partners<br/><br/></span>
	<div id="dashedborder" style="width:590px;"></div></span>
<span class="blacktextgrey14"><br /></span>
<div id=partnerlogo style="height:100px;width:220px;float:left;">
<a href="http://cancerquest.org" target="_blank"><img src="/public/images/logos/cq_logo.jpg" alt="" width="200"/>
</div>
<div id=partnerdescription style="height:100px;width:340px;float:left;">
<span class="blacktextgrey14"><strong><a href="http://cancerquest.org" target="_blank">CancerQuest</a></strong> is a cancer education and outreach program at Emory University.  We provide reliable information about cancer biology and treatment.</span>
</div>
<div id=partnerlogo style="height:120px;width:220px;float:left;">
<a href="http://www.cfah.org" target="_blank"><img src="/public/images/logos/CFAH_logo.jpg" alt="" width="200"/></a>
</div>
<div id=partnerdescription style="height:120px;width:340px;float:left;">
<span class="blacktextgrey14"><strong><a href="http://www.cfah.org" target="_blank">The Center for Advancing Health (CFAH)</a></strong> conducts research, communicates findings and advocates for policies that support everyone’s ability to benefit from advances in health science. </span>
</div>
<div id=partnerlogo style="height:140px;width:220px;float:left;">
<a href="https://www.disabilityrightslegalcenter.org/about/cancerlegalresource.cfm" target="_blank"><img src="/public/images/logos/DisabilityRightsLegalCenter_logo.PNG" alt="" /></a>
</div>
<div id=partnerdescription style="height:140px;width:340px;float:left;">
<span class="blacktextgrey14"><strong><a href="https://www.disabilityrightslegalcenter.org/about/cancerlegalresource.cfm" target="_blank">The Cancer Legal Resource Center (CLRC)</a></strong> provides free and confidential information and resources on cancer-related legal issues to cancer survivors, caregivers, employers, health care professionals, and others coping with cancer. </span>
</div>
<div id=partnerlogo style="height:180px;width:220px;float:left;">
<a href="http://patientadvocate.org" target="_blank"><img src="/public/images/logos/PatientAdvocate_logo.PNG" alt="" />
</div>
<div id=partnerdescription style="height:180px;width:340px;float:left;">
<span class="blacktextgrey14"><strong><a href="http://patientadvocate.org" target="_blank">Patient Advocate Foundation</a></strong> to provide effective mediation and arbitration services to patients to remove obstacles to healthcare including medical debt crisis, insurance access issues and employment issues for patients with chronic, debilitating and life-threatening illnesses.</span>
</div>
<span class="blacktextgrey18">Cause Marketing Partners<br/><br/></span>

