<span class="blacktext18">February<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JohnDipersioMDPhD")}"><img src="/public/images/JohnDipersioMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Bone Marrow Transplant and Acute Myeloid Leukemia Genetics </strong> (Thursday, February 28th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JohnDipersioMDPhD")}" target="_blank">John Dipersio</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14"> Deputy Director, Alvin J. Siteman Cancer Center, Professor of Oncology.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JohnDipersioMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AlanSpatzMD")}"><img src="/public/images/AlanSpatzMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Pathology and Oncology </strong> (Tuesday, February 26th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AlanSpatzMD")}" target="_blank">Alan Spatz</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Canada Research Chair in Molecular Pathology; Professor at McGill University. <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AlanSpatzMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("DonaldTrumpMD")}"><img src="/public/images/DonaldTrumpMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Vitamin D and Cancer, Prostate Cancer Oncology </strong> (Monday, February 25th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DonaldTrumpMD")}" target="_blank">Donald Trump</a>, MD</strong></span><br />
	<span class="blacktextgrey14"> President and Chief Executive Officer of Roswell Park Cancer Institute (RPCI).  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DonaldTrumpMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("DavidYTChenMD")}"><img src="/public/images/DavidYTChenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Kidney Cancer Surgery </strong> (Friday, February 22nd)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DavidYTChenMD")}" target="_blank">David Y.T. Chen</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Attending Surgeon and Urologic Oncologist at Fox Chase Cancer Center.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DavidYTChenMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("WendyChungMDPhD")}"><img src="/public/images/WendyChungMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Hereditary Breast and Ovarian Cancer </strong> (Tuesday, February 19th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("WendyChungMDPhD")}" target="_blank">Wendy Chung</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Director the clinical genetics program at the New York-Presbyterian Hospital / Columbia University Medical Center.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("WendyChungMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("KevinKalinskyMD")}"><img src="/public/images/KevinKalinskyMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology </strong> (Monday, February 18th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("KevinKalinskyMD")}" target="_blank">Kevin Kalinsky</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Medicine at the New York-Presbyterian Hospital / Columbia University Medical Center.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("KevinKalinskyMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LauraGoffMD")}"><img src="/public/images/LauraGoffMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Liver Cancer Oncology </strong> (Friday, February 15th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LauraGoffMD")}" target="_blank">Laura Goff</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor and Associate Director, Hematology/Oncology Fellowship Program at the Vanderbilt-Ingram Cancer Center.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LauraGoffMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BethDupreeMD")}"><img src="/public/images/BethDupreeMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Surgery </strong> (Thursday, February 14th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BethDupreeMD")}" target="_blank">Beth Dupree</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Medical director of the Breast Health Program for the Holy Redeemer Health System.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BethDupreeMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("TaeHartPhD")}"><img src="/public/images/TaeHartPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Psycosocial Issues for Colorectal Cancer Patients </strong> (Tuesday, February 12th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("TaeHartPhD")}" target="_blank">Tae Hart</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Psychology at Ryerson University.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("TaeHartPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JeffreyWayneMD")}"><img src="/public/images/JeffreyWayneMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sarcoma Surgery </strong> (Monday, February 11th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JeffreyWayneMD")}" target="_blank">Jeffrey Wayne</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Surgery at the Northwestern University Feinberg School of Medicine.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JeffreyWayneMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AndreaWangGillamMDPhD")}"><img src="/public/images/AndreaWangGillamMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pancreatic Cancer Oncology </strong>(Friday, February 8th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AndreaWangGillamMDPhD")}" target="_blank">Andrea Wang-Gillam</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Medicine at Washington University School of Medicine.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AndreaWangGillamMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnthonyBackMD")}"><img src="/public/images/AnthonyBackMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Doctor-Patient Communication </strong>(Thursday, February 7th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonyBackMD")}" target="_blank">Anthony Back</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Director of the Program on Cancer Communication at Seattle Cancer Care Alliance and associate professor at the University of Washington.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonyBackMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LynnMcPhersonPharmD")}"><img src="/public/images/LynnMcPhersonPharmD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pain Management and End of Life Care </strong>(Tuesday, February 5th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LynnMcPhersonPharmD")}" target="_blank">Mary Lynn McPherson</a>, PharmD, BCPS, CPE</strong></span><br />
	<span class="blacktextgrey14">Professor and vice chair in the Department of Pharmacy Practice and Science at the University of Maryland School of Pharmacy.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LynnMcPhersonPharmD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LyndaChinMD")}"><img src="/public/images/LyndaChinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Drug Development and Genomics </strong>(Monday, February 4th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LyndaChinMD")}" target="_blank">Lynda Chin</a>, MD</strong></span><br />
	<span class="blacktextgrey14"> Founding chair of the Department of Genomic Medicine at MD Anderson.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LyndaChinMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SantoshKesariMDPhD")}"><img src="/public/images/SantoshKesariMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Neuro-oncology </strong>(Friday, February 1st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SantoshKesariMDPhD")}" target="_blank">Santosh Kesari</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Professor of Neuroscience at UC San Diego School of Medicine.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SantoshKesariMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<span class="blacktext18">January<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SaiYendamuriMD")}"><img src="/public/images/SaiYendamuriMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Surgery </strong>(Thursday, January 31st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SaiYendamuriMD")}" target="_blank">Sai Yendamuri</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at the University at Buffalo School of Medicine & Biomedical Sciences.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SaiYendamuriMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StevenHochwaldMD")}"><img src="/public/images/StevenHochwaldMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Colorectal Cancer Oncology </strong>(Wednesday, January 30th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StevenHochwaldMD")}" target="_blank">Steven Hochwald</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Vice Chair and Chief of Gastrointestinal Surgery, Professor of Oncology at Roswell Park Cancer Institute.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StevenHochwaldMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StevenRosenMD")}"><img src="/public/images/StevenRosenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Myeloma </strong>(Tuesday, January 29th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StevenRosenMD")}" target="_blank">Steven Rosen</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine, at the Feinberg School of Medicine, Northwestern University, Director of the Robert H. Lurie Comprehensive Cancer Center and Director of Cancer Programs at Northwestern Memorial Hospital.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StevenRosenMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JayeshMehtaMD")}"><img src="/public/images/JayeshMehtaMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Myeloma </strong>(Tuesday, January 29th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JayeshMehtaMD")}" target="_blank">Jayesh Mehta</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Director of the Hematopoietic Stem Cell Transplantation Program at Northwestern University Feinberg School of Medicine.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JayeshMehtaMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SeemaSinghalMD")}"><img src="/public/images/SeemaSinghalMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Myeloma </strong>(Tuesday, January 29th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SeemaSinghalMD")}" target="_blank">Seema Singhal</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor and Director, Multiple Myeloma Program at Northwestern University Feinberg School of Medicine and the Robert H. Lurie Comprehensive Cancer Center at Northwestern University.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SeemaSinghalMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("HelenRossMD")}"><img src="/public/images/HelenRossMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology </strong>(Monday, January 28th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("HelenRossMD")}" target="_blank">Helen Ross</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Medicine at the Mayo Clinic, Arizona.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("HelenRossMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("NathanPennellMDPhD")}"><img src="/public/images/NathanPennellMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology </strong>(Monday, January 28th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NathanPennellMDPhD")}" target="_blank">Nathan Pennell</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Director of the lung cancer medical oncology program at the Taussig Cancer Institute, Cleveland Clinic.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NathanPennellMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MattCooperbergMD")}"><img src="/public/images/MattCooperbergMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer </strong>(Friday, January 25th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MattCooperbergMD")}" target="_blank">Matt Cooperberg</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Urology; Epidemiology & Biostatistics at UCSF.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MattCooperbergMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("YueshengZhangMDPhd")}"><img src="/public/images/YueshengZhangMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Cancer Prevention </strong>(Thursday, January 24th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YueshengZhangMDPhd")}" target="_blank">Yuesheng Zhang</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Professor of Oncology at Roswell Park Cancer Center.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YueshengZhangMDPhd")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BruceRothMD")}"><img src="/public/images/BruceRothMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer Oncology </strong>(Wednesday, January 23rd)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BruceRothMD")}" target="_blank">Bruce Roth</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine, Division of Oncology, Section of Medical Oncology, Washington University School of Medicine.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BruceRothMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MatthewNielsenMD")}"><img src="/public/images/MatthewNielsenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer Surgery </strong>(Monday, January 21st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MatthewNielsenMD")}" target="_blank">Matthew Nielsen</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Surgery and Adjunct Assistant Professor of Epidemiology at the NCI-designated Lineberger Comprehensive Cancer Center at the University of North Carolina at Chapel Hill.  <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MatthewNielsenMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}"><img src="/public/images/StefanFriedrichsdorfMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pediatric Pain and Palliative Care </strong>(Thursday, January 17th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}" target="_blank">Stefan Friedrichsdorf</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Medical Director, Pain & Palliative Care at Children's Hospitals and Clinics of Minnesota. <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JeffreyFarmaMD")}"><img src="/public/images/JeffreyFarmaMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Colorectal Cancer Surgery </strong>(Wednesday, January 16th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JeffreyFarmaMD")}" target="_blank">Jeffrey Farma</a>, MD</strong></span><br />
	<span class="blacktextgrey14"> Attending surgeon in the department of surgical oncology at Fox Chase Cancer Center. <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JeffreyFarmaMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}"><img src="/public/images/logos/PatientAdvocate_logo.PNG" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Medical Debt, Insurance, Employment </strong>(Tuesday, January 15th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}" target="_blank">Patient Advocate Foundation</a></strong></span><br />
	<span class="blacktextgrey14">Non-profit organization providing patients services to settle issues with access to care, medical debt, and job retention related to their illness.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ElissaBantug")}"><img src="/public/images/ElissaBantug.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Survivorship </strong>(Monday, January 14th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Elissa Bantug</a></strong></span><br />
	<span class="blacktextgrey14">Project Coordinator of the Breast Cancer Survivorship Program at the Johns Hopkins Sidney Kimmel Comprehensive Cancer Center.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeslieSchoverPhD")}"><img src="/public/images/LeslieSchoverPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sexuality and infertility after cancer </strong>(Monday, January 14th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieSchoverPhD")}" target="_blank">Leslie Schover</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Professor of Behavioral Science at MD Anderson Cancer Center. <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieSchoverPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MassimoRaimondoMD")}"><img src="/public/images/MassimoRaimondoMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pancreatic Cancer </strong>(Thursday, January 10th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MassimoRaimondoMD")}" target="_blank">Massimo Raimondo</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine at the Mayo Clinic in Jacksonville, Florida. <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MassimoRaimondoMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>
<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BernardoGoulartMD")}"><img src="/public/images/BernardoGoulartMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Cost Effectiveness of Cancer Treatments </strong>(Thursday, January 10th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BernardoGoulartMD")}" target="_blank">Bernardo Goulart</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Affiliate Investigator at Fred Hutchinson Cancer Research Center and Acting Instructor, University of Washington School of Medicine.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BernardoGoulartMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AndrewFabianoMD")}"><img src="/public/images/AndrewFabianoMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong> Neurosurgery and Oncology</strong>(Wednesday, January 9th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AndrewFabianoMD")}" target="_blank">Andrew Fabiano</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Neurosurgery and Oncology at Roswell Park Cancer Institute.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AndrewFabianoMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("TimByersMDMPH")}"><img src="/public/images/TimByersMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Cancer Prevention </strong>(Tuesday, January 8th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("TimByersMDMPH")}" target="_blank">Tim Byers</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Professor at the University of Colorado and formerly Chief of the Chronic Disease Prevention Branch of the Nutrition Division at the Centers for Disease Control and Prevention in Atlanta.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("TimByersMDMPH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SureshRamalingamMD")}"><img src="/public/images/SureshRamalingamMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology </strong>(Monday, January 7th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SureshRamalingamMD")}" target="_blank">Suresh Ramalingam</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor, Chief of Thoracic Oncology and Director of Medical Oncology at Emory University School of Medicine.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SureshRamalingamMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("DanRazMD")}"><img src="/public/images/DanRazMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Surgery </strong>(Friday, January 4th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DanRazMD")}" target="_blank">Dan Raz</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at City of Hope.<br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DanRazMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>
