#{extends 'static.html' /}
#{set pageHeader:'Past Workshops' /}
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktext20"><br />Past Expert Q&A Workshops</span><br/>
<span class="blacktextgrey14"><br />
	Answers from the leading cancer experts in their fields.  Our free educational question and answer sessions give you exclusive access to premiere medical professionals.  Ask questions before or during the session.<br/><br/>
</span>
<span class="blacktext18">March<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JoelNealMD")}"><img src="/public/images/JoelNealMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Non-Small Cell Lung Cancer Oncology</strong> (Friday, March 15th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JoelNealMD")}" target="_blank">Joel Neal</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Stanford University and the Stanford Cancer Institute. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JoelNealMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnneKatzRNPhD")}"><img src="/public/images/AnneKatzRNPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sexual health for cancer survivors</strong> (Wednesday, March 13th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnneKatzRNPhD")}" target="_blank">Anne Katz</a>, RN, PhD</strong></span><br />
	<span class="blacktextgrey14">Author and nurse. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnneKatzRNPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelMauroMD")}"><img src="/public/images/MichaelMauroMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>CML - Chronic Myelogenous Leukemia</strong> (Tuesday, March 12th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelMauroMD")}" target="_blank">Michael Mauro</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Oregon Health Science University. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelMauroMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}"><img src="/public/images/EmmanuelAntonarakisMBBCH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Monday, March 11th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}" target="_blank">Emmanuel Antonarakis</a>, MB BCh</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Johns Hopkins.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MahaHusseinMD")}"><img src="/public/images/MahaHusseinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Friday, March 8th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MahaHusseinMD")}" target="_blank">Maha Hussein</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine and Urology at the University of Michigan.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MahaHusseinMD")}" target="_blank">Ask Now!</a></strong></span><br /><br/>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("NirajGusaniMD")}"><img src="/public/images/NirajGusaniMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Liver Cancer Surgery</strong> (Thursday, March 7th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NirajGusaniMD")}" target="_blank">Niraj Gusani</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Penn State College of Medicine.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NirajGusaniMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnnaPavlickDO")}"><img src="/public/images/AnnaPavlickDO.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Oncology</strong> (Wednesday, March 6th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnnaPavlickDO")}" target="_blank">Anna Pavlick</a>, DO</strong></span><br />
	<span class="blacktextgrey14">Associate Professor; Co-Director Melanoma Program at NYU Langone Medical Center.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnnaPavlickDO")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GLitaSmithRN")}"><img src="/public/images/GLitaSmithRN.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Oncology Nursing and Managing Cancer Treatments and Survivorship </strong> (Tuesday, March 5th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GLitaSmithRN")}" target="_blank">G. Lita Smith</a>, RN</strong></span><br />
	<span class="blacktextgrey14">Nurse Practitioner supervisor at the University of Michigan Cancer Center. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GLitaSmithRN")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LilliLinkMD")}"><img src="/public/images/LilliLinkMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Nutrition and Integrative Medicine </strong> (Monday, March 4th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LilliLinkMD")}" target="_blank">Lilli Link</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Board certified internist and nutrition specialist.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LilliLinkMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}"><img src="/public/images/PasiAnteroJanneMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology and EGFR </strong> (Friday, March 1st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}" target="_blank">Pasi Antero-Janne</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Medicine at Harvard Medical School.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<!--  All past workshops for year 2013 will go in the past_workshops_2013.html file -->
#{include '/Static/past_workshops_2013.html' /}
#{include '/Static/past_workshops_2012.html' /}
#{include '/Static/past_workshops_2011.html' /}
