#{extends 'static.html' /}
#{set pageHeader:'Past Workshops' /}
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktext20"><br />Past Expert Q&A Workshops</span><br/>
<span class="blacktextgrey14"><br />
	Answers from the leading cancer experts in their fields.  Our free educational question and answer sessions give you exclusive access to premiere medical professionals.  Ask questions before or during the session.<br/><br/>
</span>

<span class="blacktext18">April<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RachelFreedmanMDMPH")}"><img src="/public/images/RachelFreedmanMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology</strong> (Friday, April 26th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RachelFreedmanMDMPH")}" target="_blank">Rachel Freedman</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Instructor in Medicine, Harvard Medical School <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RachelFreedmanMDMPH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RogerioNevesMDPhD")}"><img src="/public/images/RogerioNevesMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Surgical Oncology</strong> (Thursday, April 25th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RogerioNevesMDPhD")}" target="_blank">Rogerio Neves</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Professor at Penn State Hershey Cancer Insitute. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RogerioNevesMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertAndtbackaMD")}"><img src="/public/images/RobertAndtbackaMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Surgical Oncology</strong> (Tuesday, April 23rd)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertAndtbackaMD")}" target="_blank">Robert Andtbacka</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant professor at the University of Utah School of Medicine. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertAndtbackaMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AKutikovMD")}"><img src="/public/images/AKutikovMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer Oncology</strong> (Monday, April 22nd)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AKutikovMD")}" target="_blank">Alexander Kutikov</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Surgical Oncology at the Fox Chase Cancer Center. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AKutikovMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SanjivAgarwalaMD")}"><img src="/public/images/SanjivAgarwalaMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Oncology</strong> (Friday, April 19th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjivAgarwalaMD")}" target="_blank">Sanjiv Agarwala</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor at Temple University and Chief of Medical Oncology at St. Luke's Hospital. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjivAgarwalaMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RichardFinnMD")}"><img src="/public/images/RichardFinnMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Liver Cancer Oncology</strong> (Wednesday, April 17th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardFinnMD")}" target="_blank">Richard Finn</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at the Geffen School of Medicine at UCLA.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardFinnMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PatrickHwuMD")}"><img src="/public/images/PatrickHwuMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Oncology and Adoptive T-Cell Therapy </strong> (Monday, April 15th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PatrickHwuMD")}" target="_blank">Patrick Hwu</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Department Chair, Department of Melanoma Medical Oncology, The University of Texas MD Anderson Cancer Center<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PatrickHwuMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}"><img src="/public/images/LeslieBernsteinPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Epidemiology and Prevention</strong> (Monday, April 15th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}" target="_blank">Leslie Bernstein</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Professor and Director of the Department of Cancer Etiology at the City of Hope National Medical Center.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeslieBernsteinPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("FifthSeasonFinancial")}"><img src="/public/images/FifthSeasonFinancial.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Financial Support for Late Stage Cancer</strong> (Friday, April 12th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("FifthSeasonFinancial")}" target="_blank">Fifth Season Financial </a></strong></span><br />
	<span class="blacktextgrey14">We provide loans to people living with late-stage cancer by using their life insurance policy as collateral.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("FifthSeasonFinancial")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferLittonMD")}"><img src="/public/images/JenniferLittonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology</strong> (Thursday, April 11th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferLittonMD")}" target="_blank">Jennifer Litton</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at MD Anderson Cancer Center<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferLittonMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeorgeMillerMD")}"><img src="/public/images/GeorgeMillerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Liver Cancer Surgery</strong> (Wednesday, April 10th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeorgeMillerMD")}" target="_blank">George Miller</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at NYU Langone Medical Center.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeorgeMillerMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}"><img src="/public/images/CynthiaMaMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology</strong> (Tuesday, April 9th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}" target="_blank">Cynthia Ma</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Breast Oncology, Washington University School of Medicine.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CynthiaMaMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>




<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}"><img src="/public/images/PeterCarrollMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Monday, April 8th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}" target="_blank">Peter Carroll</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Professor and Chair of the UCSF Department of Urology <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PeterCarrollMDMPH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("toddmmorgan")}"><img src="/public/images/toddmmorgan.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Monday, April 1st)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("toddmmorgan")}" target="_blank">Todd Morgan</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor, Urology at University of Michigan.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("toddmmorgan")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>





<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("YvonneRomeroMD")}"><img src="/public/images/YvonneRomeroMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Barrett's Esophagus</strong> (Thursday, April 4th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YvonneRomeroMD")}" target="_blank">Yvonne Romero</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant professor of medicine, Mayo Medical School.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("YvonneRomeroMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnthonySteinMD")}"><img src="/public/images/AnthonySteinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>ALL and Stem Cell Transplantation</strong> (Monday, April 1st)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonySteinMD")}" target="_blank">Anthony Stein</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor, Department of Hematology & Hematopoietic Cell Transplantation, City of Hope.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnthonySteinMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>




<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JaredWeissMD")}"><img src="/public/images/JaredWeissMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology</strong> (Thursday, March 28th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JaredWeissMD")}" target="_blank">Jared Weiss</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at the University of North Carolina School of Medicine.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JaredWeissMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GeraldRosenMD")}"><img src="/public/images/GeraldRosenMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sarcoma</strong> (Wednesday, March 27th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeraldRosenMD")}" target="_blank">Gerald Rosen</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Leading expert in adult sarcomas at NYU Langone Medical Center.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GeraldRosenMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SumantaKumarPalMD")}"><img src="/public/images/SumantaKumarPalMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Kidney Cancer</strong> (Tuesday, March 26th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SumantaKumarPalMD")}" target="_blank">Sumanta Kumar Pal</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant professor and co-director of the Kidney Cancer Program at City of Hope.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SumantaKumarPalMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertFiglinMD")}"><img src="/public/images/RobertFiglinMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Kidney Cancer Oncology</strong> (Monday, March 25th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertFiglinMD")}" target="_blank">Robert Figlin</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor and Deputy Director at Cedars-Sinai's Samuel Oschin Comprehensive Cancer Institute.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertFiglinMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SanjayGoelMD")}"><img src="/public/images/SanjayGoelMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Colorectal Cancer Oncology</strong> (Monday, March 25th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjayGoelMD")}" target="_blank">Sanjay Goel</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Albert Einstein College of Medicine.<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SanjayGoelMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SusanLeclairPhD")}"><img src="/public/images/SusanLeclairPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Leukemia Blood Tests</strong> (Friday, March 22nd)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SusanLeclairPhD")}" target="_blank">Susan Leclair</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Chancellor professor at the University of Massachusetts. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SusanLeclairPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}"><img src="/public/images/MichaelPishvaianMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Colorectal Cancer Oncology</strong> (Monday, March 18th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}" target="_blank">Michael Pishvaian</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at the Lombardi Comprehensive Cancer Center.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RobertBastMD")}"><img src="/public/images/RobertBastMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Ovarian Cancer Oncology</strong> (Tuesday, March 19th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertBastMD")}" target="_blank">Robert Bast</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Vice President for Translational Research at The University of Texas M. D. Anderson Cancer Center.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RobertBastMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("SheldonFeldmanMD")}"><img src="/public/images/SheldonFeldmanMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Surgery</strong> (Wednesday, March 20th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SheldonFeldmanMD")}" target="_blank">Sheldon Feldman</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor and Chief of Breast Surgery at Columbia University - New York Presbyterian Hospital. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("SheldonFeldmanMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}"><img src="/public/images/MichaelPishvaianMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Colorectal Cancer Oncology</strong> (Monday, March 18th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}" target="_blank">Michael Pishvaian</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at the Lombardi Comprehensive Cancer Center.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelPishvaianMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>
<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JoelNealMD")}"><img src="/public/images/JoelNealMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Non-Small Cell Lung Cancer Oncology</strong> (Friday, March 15th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JoelNealMD")}" target="_blank">Joel Neal</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Stanford University and the Stanford Cancer Institute. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JoelNealMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnneKatzRNPhD")}"><img src="/public/images/AnneKatzRNPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sexual health for cancer survivors</strong> (Wednesday, March 13th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnneKatzRNPhD")}" target="_blank">Anne Katz</a>, RN, PhD</strong></span><br />
	<span class="blacktextgrey14">Author and nurse. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnneKatzRNPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MichaelMauroMD")}"><img src="/public/images/MichaelMauroMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>CML - Chronic Myelogenous Leukemia</strong> (Tuesday, March 12th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelMauroMD")}" target="_blank">Michael Mauro</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Oregon Health Science University. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MichaelMauroMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}"><img src="/public/images/EmmanuelAntonarakisMBBCH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Monday, March 11th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}" target="_blank">Emmanuel Antonarakis</a>, MB BCh</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Johns Hopkins.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EmmanuelAntonarakisMBBCH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MahaHussainMD")}"><img src="/public/images/MahaHussainMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Prostate Cancer</strong> (Friday, March 8th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MahaHussainMD")}" target="_blank">Maha Hussain</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor of Medicine and Urology at the University of Michigan.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MahaHussainMD")}" target="_blank">Ask Now!</a></strong></span><br /><br/>
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("NirajGusaniMD")}"><img src="/public/images/NirajGusaniMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Liver Cancer Surgery</strong> (Thursday, March 7th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NirajGusaniMD")}" target="_blank">Niraj Gusani</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Penn State College of Medicine.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("NirajGusaniMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("AnnaPavlickDO")}"><img src="/public/images/AnnaPavlickDO.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Oncology</strong> (Wednesday, March 6th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnnaPavlickDO")}" target="_blank">Anna Pavlick</a>, DO</strong></span><br />
	<span class="blacktextgrey14">Associate Professor; Co-Director Melanoma Program at NYU Langone Medical Center.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("AnnaPavlickDO")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GLitaSmithRN")}"><img src="/public/images/GLitaSmithRN.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Oncology Nursing and Managing Cancer Treatments and Survivorship </strong> (Tuesday, March 5th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GLitaSmithRN")}" target="_blank">G. Lita Smith</a>, RN</strong></span><br />
	<span class="blacktextgrey14">Nurse Practitioner supervisor at the University of Michigan Cancer Center. <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GLitaSmithRN")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LilliLinkMD")}"><img src="/public/images/LilliLinkMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Nutrition and Integrative Medicine </strong> (Monday, March 4th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LilliLinkMD")}" target="_blank">Lilli Link</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Board certified internist and nutrition specialist.  <br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LilliLinkMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}"><img src="/public/images/PasiAnteroJanneMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology and EGFR </strong> (Friday, March 1st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}" target="_blank">Pasi Antero-Janne</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor of Medicine at Harvard Medical School.   <br /></span>
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PasiAnteroJanneMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<!--  All past workshops for year 2013 will go in the past_workshops_2013.html file -->
#{include '/Static/past_workshops_2013.html' /}
#{include '/Static/past_workshops_2012.html' /}
#{include '/Static/past_workshops_2011.html' /}
