#{extends 'static.html' /}
#{set pageHeader:'TalkAboutHealth Privacy Policy' /}

<span class="bluetext14"><strong>Our Purpose and Commitment To Privacy</strong></span><span class="blacktextgrey14"><br />
The purpose of TalkAboutHealth is to help each other by sharing health experiences, knowledge, and concerns in a sociable, secure and trusting environment.     
<br /><br />
To better protect user privacy, the goals of this policy include:<br />
- Transparency about the information that TalkAboutHealth collects from Members and why and how it is shared with other parties.<br />  
- Assist users to make informed decisions about what information to provide and how to use the website.  
<br /><br />
To make this notice easy to find, we make it available on every page of our site. 
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span><span class="bluetext14"><strong>Information We Collect And Why  </strong></span><span class="blacktextgrey14"><br />
Much of the site can be accessed without providing any personal information.  In order to participate in live conversations, ask questions, answer questions, or view member profiles, users are required to register and some personal information is required.  
<br /><br />
<strong>Information Required For Registration</strong><br />
This information is used to confirm that users are eligible for these services as well as to contact members to provide further information about the service, service related announcements, or in case of a forgotten password.  Members may have the option of signing up for services including newsletters, health alerts, focus groups, surveys, product tests, and notifications of clinical trials.  The following information is collected when a user registers as a TalkAboutHealth member:
<br />
- TalkAboutHealth username (we recommend this to be different from the user's real name)<br />
- TalkAboutHealth password<br />
- e-mail address <br />
- health community (i.e. Breast Cancer, Melanoma, Multiple Sclerosis)<br />
- whether the user is a patient, caregiver, family member, friend, medical professional, etc.  <br /><br />

The TalkAboutHealth username, health community (i.e. Breast Cancer, Melanoma, Multiple Sclerosis), and whether the user is a patient, caregiver, family member, friend, medical professional, etc. will always be viewable by the TalkAboutHealth community unless the user deactivates their account.  These items will never be viewable by the public.   
<br /><br />
The TalkAboutHealth password and email address will always be private.  
<br /><br />
<strong>Profiles:</strong>  Each Member on the Site has an anonymous user profile.  Profile information is not required.  By default, profile information provided by the user is private.  Members have the option of making this information viewable by the TalkAboutHealth community.  This information will never be viewable by the public.
<br /><br />
Members are advised to be careful about providing profile and other personal information in all areas of the Site.  The more personally identifiable information that is viewable by the community (photo, location, etc.), the greater the risk of identification.  Information shared in any area of the Site is connected to the Profile.  
<br /><br />
To change the privacy settings for profile information, the user can go to the Privacy Settings page and select the information to make private or viewable by the community. 
<br /><br />
Profile information that users have the option of providing to TalkAboutHealth include:<br />
-	Age<br />
-	Gender<br />
-	Name<br />
-	Location<br />
-	Marital status<br />
-	Number of children<br />
-	Web page<br />
-	Bio<br />
-	Condition/disease information - including type, stage, onset of disease date, and diagnosis date.<br />
-	Symptoms experienced<br />
-	Treatments/medications - past and present treatments <br />
-	Side effects experienced<br /><br />

<strong>Questions, Answers, Replies:</strong>  Members may ask and answer questions, and reply to answers.  Questions, answers, and replies to answers are publicly viewable on the TalkAboutHealth web site, but are not associated with any member's personal or profile information.  The purpose is to share our experiences so that the collective knowledge and experiences of our community can be used to help others.  
<br /><br />
<strong>Live Talks:</strong>  Members may start and participate in live talks.  Live talks are archived and viewable by the community, but not publicly viewable.  
<br /><br />
<strong>Comments:</strong>  Members may leave comments in their own journal or other members' journals.  By default, all comments are viewable by the community, but not publicly viewable.  Each member controls whether their own journal is public or private as well as the content in their journal.  Only the owner of the journal may remove comments.  
<br /><br />
<strong>Anonymous Conversations, Questions, and Answers:</strong>  Members have the choice of anonymously starting a talk, asking a question, answering a question, or following a conversation.  If this option is selected, a username will not be associated with the conversation, question, or answer.
<br /><br />
<strong>Editing and deleting answers, questions, and replies:</strong>  Members may edit and delete any question, answer, or reply that they created.  Members may not delete comments they made in a live conversation.  
<br /><br />
<strong>Deactivating Account:</strong>  Members have the option of deactivating their account at any time.  When an account is deactivated, the following occurs:
<br />
-	other members may not view or interact with the deactivated profile<br />
-	all questions, answers, and conversations are no longer associated with the deactivated username<br />
-	a random username (i.e. member1234) will be associated with all archived questions, answers, and conversations. <br /><br /> 

The Member account can be reactivated at any time by logging back in to the Site.  
<br /><br />
<strong>Surveys, Interviews and Focus Groups:</strong>  Users may have the option to be notified of and participate in surveys, interviews, or focus groups for research purposes, or on behalf of third parties including research, pharmaceutical, medical device, and insurance companies.  We believe that by sharing opinions, experiences, and insights with organizations that provide products and services for members, they will do a better job and as a result improve quality of life and outcomes.  
<br /><br />
<strong>Web site usage</strong> - TalkAboutHealth tracks web site usage and page views in order to make the web site more intuitive and easier to use.  This information may also be used to help advertisers and sponsors better understand the benefits and results of advertising campaigns on TalkAboutHealth.   
<br /><br />
<strong>Cookies:</strong> Cookies are required to use the TalkAboutHealth web site. TalkAboutHealth uses both session ID cookies and persistent cookies.  A cookie is a small data file that can include an anonymous unique identifier that is stored on the computer's hard drive.  Session cookies are temporary cookies that remain in a file of the browser until log out of the website.  Session cookies do not store any personally identifying information, only a unique visitor ID that is used to improve the TalkAboutHealth user experience.  Persistent cookies remain in the cookie file of the browser after leaving the TalkAboutHealth website.  Persistent cookies also do not store any personally identifiable information, only preferences such as "Remember Me" so users do not have to log in to the site for every visit.    
<br /><br />
<strong>Internet Protocol (IP) address:</strong>  IP addresses of computers used to visit this site are noted, but not provided to 3rd parties.
<br /><br />
<strong>E-mail correspondence:</strong>  If users email TalkAboutHealth, we may retain the content of the email messages together with the email address and our responses.  The same data protection is provided for this communication as the rest of the Site.
<br /><br />
<strong>Invite a friend:</strong>  Users have the choice of inviting others to try TalkAboutHealth.  We ask for the invitee's email and send them a one-time e-mail inviting him/her to visit the site.  This information will only be used to track the success of this referral program and will not be used for any other purpose and will not be shared.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span><span class="bluetext14"><strong>How We Use This Information</strong></span><span class="blacktextgrey14"><br />
Prior to sharing information with our partners, TalkAboutHealth removes any personally identifiable information that can reasonably be used to identify users.  TalkAboutHealth and our Partners (including research organizations, pharmaceutical companies, medical device companies, and insurance companies) are interested in learning more about living with and experiencing health concerns in order to improve quality of life, treatment options, and health outcomes.
<br /><br />
<strong>Personally identifiable information:</strong> We DO NOT share personally identifiable information with 3rd Parties unless given explicit permission by the user.  An example of when permission to share information might be requested would be if the user applied to participate in a program sponsored by a Third Party, such as a focus group or interview.
<br /><br />
<strong>Internally:</strong>  In order to create the best features and user experience possible, TalkAboutHealth may use personally identifiable information internally for tasks including analysis, research, and ensuring the functioning of the technology.  We may use personally identifiable information to fulfill requests such as customer service or to notify of service changes.  We may provide personally identifiable information to approved providers who are assisting us with operations such as e-mail delivery or customer service.  
<br /><br />
<strong>Other members:</strong>  De-identified profile information, conversations, and web site usage data may be aggregated for research reports, newsletters, tips and suggestions, and other tools that would be valuable to members.  
<br /><br />
<strong>Advertisers:</strong>  TalkAboutHealth might provide de-identified aggregated data to advertisers to display more targeted and relevant advertisements.  
<br /><br />
<strong>Partners:</strong>  TalkAboutHealth has programs that enable users to opt-in to speak directly with Partner organizations through the TalkAboutHealth web site.  These programs include focus groups, interviews, surveys, and organization initiated conversations.  In these cases depending on the contract, the Partner organization could own the non-personal information provided.  
<br /><br />
De-identified profile, conversation, and web site usage data, both aggregated and part of individual records, will be made available to Partners for scientific and market research.
<br /><br />
<strong>FDA, CDC, and other regulatory bodies:</strong> TalkAboutHealth may report adverse event and drug safety information to the FDA, CDC, and/or other regulatory bodies (both US and internationally) as well as directly to pharmaceutical and biotechnology companies. We do not provide personally identifiable information including names, emails, or addresses, although TalkAboutHealth reserves the right to contact members for follow-up at the request of agencies or Partners. The information we report includes, but is not limited to, all of the information about the member and/or free text or images on the forums or evaluations. 
<br /><br />
<strong>Exceptions:</strong>  We may be required to provide Personally Identifiable Information in response to court order, subpoena, or government investigation. We reserve the right to report to law enforcement agencies any activities that we in good faith believe to be unlawful or when we believe that such release is reasonably necessary to protect the rights, property, and safety of others and ourselves.  We reserve the right to enforce applicable Terms of Service including investigations of potential violations.  We reserve the right to detect, prevent, investigate, or otherwise address fraud, security, or technical issues.
<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span><span class="bluetext14"><strong>Our Commitment To Data Security  </strong></span><span class="blacktextgrey14"><br />
In order to protect users' personal information, maintain data accuracy, and ensure the correct use of information, TalkAboutHealth has put in place physical, electronic, and managerial procedures to prevent unauthorized access and secure the information we collect online.  
<br /><br />
<strong>Secure Sockets Layer (SSL):</strong> SSL is used to encrypt information input for user profiles. 
<br /><br />
<strong>Encryption:</strong> Encryption is used to protect passwords and other personal information on a secure server.
<br /><br />
<strong>Firewall:</strong> A firewall is used to protect against unlawful intrusion.
<br /><br />
<strong>Servers in the United States:</strong>  Please note that user information will be stored and processed on computers in the United States.  The laws on holding personal data in the United States may be less stringent than the laws of other countries.

<br /><br />
<div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>Our Commitment To Children's Privacy</strong></span><span class="blacktextgrey14"><br />
Users must be at least 18 years old to use TalkAboutHealth.  No part of our web site is structured to attract anyone under 18 years old.  
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>How to access or correct personal information </strong></span><span class="blacktextgrey14"><br />
Users may update or remove profile information by logging into the web site and clicking to the Edit Profile page.  Users may also contact TalkAboutHealth directly at <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>.
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>Risks</strong></span><span class="blacktextgrey14"><br />
Most importantly we encourage users to apply common sense when communicating with others.  Do not reveal personal information such as home addresses or anything else a stranger should not have.  
<br /><br />
There is a risk that a user may be identified, and as a result, discrimination may be experienced based on health information.  At any time, users have the option of changing, removing, or not providing information.  Users also have the option of discontinuing use of this service.  User information provided before this time may still be used in accordance with this privacy policy.
<br /><br />
Additionally, TalkAboutHealth cannot guarantee the authenticity of information that other users provide during a conversation or via their profiles.
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>
<span class="bluetext14"><strong>Changes to the Policy</strong></span><span class="blacktextgrey14"><br />
As we provide more services on our web site and as privacy laws and regulations evolve, it may be necessary to revise or update our Privacy Policy.  For any changes, we will send a notice to the primary email address listed on user accounts.
<br /><br /><div id="dashedborder" style="width:590px;"></div><br />
</span>

<span class="bluetext14"><strong>How to Contact Us</strong></span><span class="blacktextgrey14"><br />
If there are any questions, please contact TalkAboutHealth at anytime at <a href="mailto:support@talkabouthealth.com" class="bluetext14">support@talkabouthealth.com</a>. <br /><br />
