#{extends 'static-resources.html' /}
#{set pageHeader:'Metastatic Breast Cancer' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://www.BrainMetsBC.org/" target="_blank">Brain Meets BC Org</a> - Provides information and support for women whose breast cancer has metastasized to the brain.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sharecancersupport.org" target="_blank">SHARE</a> - Supports, educates, and empowers women affected by breast or ovarian cancer through telephone support, support groups, and educational programs.  All services provided by survivors.
<br /><br />


