#{extends 'static-resources.html' /}
#{set pageHeader:'Beauty Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://amoena.com" target="_blank">Amoena</a> - offers an extensive product line of bras, swimwear and breast symmetry products that fully
address the needs of any woman.
<span class="blacktextgrey14"><br /><br />
	<a href="http://beauti-full-brows.com" target="_blank">Beauti-Full-Brows</a> - Removable eyebrow tattoos and stencils.
<span class="blacktextgrey14"><br /><br />
	<a href="http://facingthemirror.org" target="_blank">Facing the Mirror</a> - A guidebook for make-up application during chemotherapy.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lookgoodfeelbetter.org" target="_blank">Look Good…Feel Better</a> - Program that teaches beauty techniques to cancer patients to help them manage the appearance-related side effects of cancer treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://luminousfoundation.org" target="_blank">Luminous Foundation</a> - Offers wigs, headwear, make-up, prostheses, pocketed bras, swim forms, nail care, skin care, and lymphedema compression garments to breast cancer patients who are in financial need.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lymphedivas.com" target="_blank">Lymphedivas</a> - Fashionable colors as well as various skin tones colored compression sleeves for lyphedema.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.tlcdirect.org" target="_blank">Tender Loving Care</a> - An American Cancer society program that offers wigs, turbans, scarves and mastectomy products.
<span class="blacktextgrey14"><br /><br />
	<a href="http://4women.com" target="_blank">The Beau-beau</a> - Beautiful scarves for beautiful heads. Fashionable options for women, teens and girls who are experiencing medical hair loss.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php" target="_blank">Y-Me National Breast Cancer Organization</a> - Free wigs and prosthesis to those who qualify.
<br /><br />
