#{extends 'static-resources.html' /}
#{set pageHeader:'Patient Advocacy Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://annieappleseedproject.org">Annie Appleseed Project</a> - Provides information, education, advocacy, and awareness for people with cancer and their family and friends.
<span class="blacktextgrey14"><br /><br />
	<a href="http://breastcancerdeadline2020.org">National Breast Cancer Coalition</a> - How to get involved to end breast cancer by 2020.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.canceradvocacy.org">The National Coalition for Cancer Survivorship</a> - The oldest survivor-led cancer advocacy organization in the country, advocating for quality cancer care for all Americans and empowering cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.keep-a-breast.org">Keep A-Breast Organization</a> - Raising awareness about early detection.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.patientpower.info">Patient Power</a> - Dedicated to helping you and your loved ones gain the knowledge needed to make the smartest choices about your health as you seek to fight back against a serious health concern.
<span class="blacktextgrey14"><br /><br />
	<a href="http://selfchec.org">Self Chec</a> - Step by step instruction on self-exams.
<br /><br />

