#{extends 'static-resources.html' /}
#{set pageHeader:'General Breast Cancer Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://BCAction.org/" target="_blank">Breast Cancer Action </a> - Launched in response to the growing concern about the number of pink ribbon products on the market. The campaign calls for more transparency and accountability by companies that take part in breast cancer fundraising, and encourages consumers to ask critical questions about pink ribbon promotions.
<span class="blacktextgrey14"><br /><br />
	<a href="http://breastcancer.evidencewatch.com/" target="_blank">Breast Cancer Watch</a> - Providing the latest evidence-based guidance on state-of-the-art breast cancer therapies, with critical commentaries and clinical practice recommendations.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.facingourrisk.org" target="_blank">FORCE</a> - National nonprofit organization devoted to hereditary breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://her2support.org" target="_blank">Her2 Support Organization</a> - Especially for her2 diagnosed patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.lbbc.org/" target="_blank">Living Beyond Breast Cancer</a> - offers programs and services to women affected by breast cancer, caregivers and healthcare providers.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.michellesplace.org/" target="_blank">Michelle's Place</a> - Breast cancer resource center.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sharecancersupport.org" target="_blank">SHARE</a> - A supportive network and community of women affected by breast or ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.supportconnection.org" target="_blank">Support Connection</a> - Provides emotional, social, and educational support services to women, their families and friends affected by breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://komen.org" target="_blank">Susan G. Komen for the Cure</a> - Information on diagnosis, treatment and living with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nyp.org/services/war/index.html" target="_blank">Women At Risk</a> - For those at high risk for the development of breast cancer and women with breast cancer with information on research, education and support.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/" target="_blank">Y-Me National Breast Cancer Organization</a> - Where you can call – 24 hours a day, 7 days a week, 365 days a year – and talk to a breast cancer survivor and be understood in 150 languages.
<br /><br />



