#{extends 'static-resources.html' /}
#{set pageHeader:'Health/Fitness/Nutrition Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.aicr.org">American Institute for Cancer Research</a> - How to manage diet and side effects.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.stayingabreast.com/">Annie Toglio, MES</a> - This website offers different exercises that can be used after breast cancer surgery to prevent scar tissue from affecting mobility.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastcancersisterhood.com/">Breast Cancer Sisterhood</a> - Videos on nutrition and fitness.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.canceractive.com/">Cancer Active</a> - an independent charity that aims to help people increase their personal odds of beating cancer.  To achieve this we believe in empowering people – to understand the possible causes and to build effective integrated therapy programs, using well-researched, Complementary and Alternative therapies.
<span class="blacktextgrey14"><br /><br />
	<a href="http://cancerclimber.org/home.php">Cancer Climber</a> - Offers expeditions to exotic locales and adventure grants, a mobile camp, and personal visits to patients by survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://castingforrecovery.org/">Casting for Recovery</a> - 2½-day fly-fishing retreat for 14 women per retreat, at no cost to participants
<span class="blacktextgrey14"><br /><br />
	<a href="http://castingforrecovery.org/">Crazy Sexy Life</a> - Delivering fun, inspiring and brain cell-boosting education that will help you live like you really mean it as well as nutritional information.
<span class="blacktextgrey14"><br /><br />
	<a href="http://embodiworks.org/">EmbodiWorks</a> - Integrative cancer care.
<span class="blacktextgrey14"><br /><br />
	<a href="http://firstdescents.org/">First Descents</a> - Outdoor adventure sports for healing in young adults with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.gohealthysteps.com/">Healthy Steps</a> - Focus on healing through fitness and dance.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.imagerebornfoundation.org/">Image Reborn Foundation</a> - A renewal weekend retreat for women with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://movingonaerobics.org/">Moving on Aerobics</a> - Aerobic classes for cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nutritionincancer.co.uk/">Nutrition In Cancer</a> - An interactive website with information and special tools to highlight the importance of nutrition in cancer, supporting cancer patients throughout their journey.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.4nutrition.com/">Patrick Quillin, PhD, RD, CNS</a> - Providing optimal nutritional guidelines to improve outcome for cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.pennybrohncancercare.org/">Penny Brohn Cancer Care</a> - the UK's leading charity which offers specialist support including complementary therapies, advice & counseling for people living with cancer & their supporters. All services are offered free of charge.
<span class="blacktextgrey14"><br /><br />
	<a href="http://pinkkitchen.info/">Pink Kitchen</a> - Healthy nutritious recipes for breast cancer survivors and those who love them.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivorsretreat.com/index.html">Survivor Retreats</a> - Listing of great retreats for cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivorsretreat.com/index.html">Team Survivor</a> - Affiliates provide group exercise and support programs for women with a present or past diagnosis of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://healthfinder.gov/prevention/">US Department of Health and Human Services</a> - The government’s guidelines on how to start an exercise program.
<span class="blacktextgrey14"><br /><br />
	<a href="http://wecanrowdc.org">We Can Row DC</a> - Weekend long rowing classes for cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.womenbeyondcancer.org/">Women Beyond Cancer</a> - Free retreats for women dealing with any type of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.womensquest.com/">Women's Quest</a> - Health and fitness adventure retreats for the mind body and spirit.
<span class="blacktextgrey14"><br /><br />
	<a href="http://youcanthrive.org">You Can Thrive</a> - Information on meditation, exercise, nutrition and complimentary medicine.
<br /><br />

