#{extends 'static-resources.html' /}
#{set pageHeader:'Patient Advocacy Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://breastcancerdeadline2020.org" target="_blank">National Breast Cancer Coalition</a> - Coalition of breast cancer organizations with a goal of ending breast cancer by 2020.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.canceradvocacy.org" target="_blank">The National Coalition for Cancer Survivorship</a> - The oldest survivor-led cancer advocacy organization in the country, advocating for quality cancer care for all Americans and empowering cancer survivors.
<br /><br />

