#{extends 'static-resources.html' /}
#{set pageHeader:'Intimacy/Sexuality Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://nosurrenderbreastcancerhelp.org/">No Surrender Breast Cancer Foundation</a> -  A website where survivors can talk to the newly diagnosed.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nosurrenderbreastcancerhelp.org/">Solo Survivors</a> -  support for single people who are dealing with cancer who are facing similar challenges for support, sharing and advice.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.solosurvivors.org/">The Breast Care Site</a> - Covers sexuality, care, health, fitness.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/">Y-Me</a> - A website offering emotional support including how to ask for help, how to tell someone you have cancer, how to talk to children, sexual dysfunction and intimacy issues.
<br /><br />

