#{extends 'static-resources.html' /}
#{set pageHeader:'Reconstructive Surgery Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.bosombuddies.org/" target="_blank">Bosom Buddies</a> - This website offers DVD’s including one for children, one for the husband and one about reconstructive surgery.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastflap.com/" target="_blank">Breastflap</a> - Reconstruction using own tissue with a list of surgeons state by state.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastfree.org/" target="_blank">Breast Free</a> - For women considering whether or not to have reconstruction and for women who have already decided against reconstruction.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastreconstructionmatters.com/" target="_blank">Breast Reconstruction Matters</a> - A comprehensive guide about reconstruction with all of the options.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastreconstruction.org/" target="_blank">Breast Reconstruction Organization</a> - Help empower women to make informed choices about breast reconstruction.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.whyiworelipstick.com" target="_blank">Why I wore Lipstick</a> - Stories form women who have had mastectomies.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.yourbreastoptions.com" target="_blank">Your Breast Options</a> - Education on breast reconstruction and what you need to know to prepare and recover.
<br /><br />
