#{extends 'static-resources.html' /}
#{set pageHeader:'Nutrition Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.aicr.org" target="_blank">American Institute for Cancer Research</a> - How to manage diet and side effects.
<span class="blacktextgrey14"><br /><br />
	<a href="http://crazysexylife.com" target="_blank">Crazy Sexy Life</a> - Delivering fun, inspiring and brain cell-boosting education that will help you live like you really mean it as well as nutritional information.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nutritionincancer.co.uk" target="_blank">Nutrition In Cancer</a> - An interactive website with information and special tools to highlight the importance of nutrition in cancer, supporting cancer patients throughout their journey.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.4nutrition.com" target="_blank">Patrick Quillin, PhD, RD, CNS</a> - Providing optimal nutritional guidelines to improve outcome for cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://pinkkitchen.info/" target="_blank">Pink Kitchen</a> - Healthy nutritious recipes for breast cancer survivors and those who love them.
<br /><br />

