#{extends 'static-resources.html' /}
#{set pageHeader:'Finance Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.angelflight.com/">Angel Flight</a> - Free air transportation for any legitimate, charitable, medically related needs.
<span class="blacktextgrey14"><br /><br />
	<a href="http://jewishfamilyservice.org/">Another Pair of Hands</a> - Jewish Family Service of Colorado provides light housekeeping services at no charge.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancercarecopay.org/">Cancer Care Co-Payment Assistance Foundation</a> - A not-for-profit organization addressing the needs of individuals who cannot afford their insurance co-payments to cover the cost of medications for treating cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cdc.gov/cancer/nbccedp/">Centers for Disease Control and Prevention</a> - Provides access to breast and cervical cancer screening services to underserved women in all 50 states, the District of Columbia, 5 U.S. territories, and 12 tribes.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cleaningforareason.org/">Cleaning for a Reason</a> - Offers free professional housecleaning, and maid services to improve the lives of women undergoing treatment for cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.commitmenttoaccess.com/">Commitment to Access</a> - A patient assistance program that provides GSK prescription oncology medicines and specialty pharmacy products to qualified patients who need help paying for treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.corpangelnetwork.org/">Corporate Angel Network</a> - Arranges free air travel for patients on corporate jets.
<span class="blacktextgrey14"><br /><br />
	<a href="https://www.disabilityrightslegalcenter.org/about/about.cfm">Disability Rights Legal Center </a> - Provides free information and resources on cancer-related legal issues to cancer survivors, caregivers, health care professionals, employers, and others coping with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.domuspacis.org/">Domus Pacis</a> - encourages cancer patients, their families and friends to escape to the beauty of the mountains and experience the peace that comes from creating joyful memories for the people they most cherish.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.fifthseasonfinancial.com/">Fifth Season Financial Corp</a> - Win-Win Life Insurance Line of Credit program is designed to provide immediate financial assistance to cancer patients and their families.
<span class="blacktextgrey14"><br /><br />
	<a href="http://giveforward.com">Give Forward</a> - A way to gather money for your loved ones medical expenses through Facebook and email.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.gskforyou.com/">Glaxo Smith Kline</a> - Coverage for prescription medicine for those who qualify.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.domuspacis.org/">Image Reborn Foundation</a> - A free renewal weekend retreat for women with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.kristylasch.org/">Kristy Lasch Miracle Foundation</a> - Financial services to women under 30 with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://liveforthechallenge.com/">Live For the Challenge</a> - An on-line gift registry for things you may need or want during treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.mariecurie.org.uk/">Marie Curie Cancer Care</a> - Marie Curie Nurses provide free nursing care to cancer patients and those with other terminal illnesses in their own homes (UK).
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.myhopechest.org/">My Hope Chest</a> - The only organization in the country that assists breast cancer survivors by providing free breast reconstruction, following mastectomy, to those who qualify.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.needymeds.org/">Needy Meds</a> - Financial help with medication cost for those who qualify.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.copays.org/">Co-pays</a> - Direct financial support to insured patients, including Medicare Part D beneficiaries, who must financially and medically qualify to access pharmaceutical co-payment assistance.
<span class="blacktextgrey14"><br /><br />
	<a href="http://helpsis.org/">SIS - sustain inspire survive</a> - Providing financial assistance, essential services, and quality of life enhancements during treatment to those in need.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.medicare.gov/">US Government</a> - For people on Medicare and how to find out if you are eligible.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.patientadvocate.org/">Patient Advocate Foundation</a> - Mediation and arbitration services to patients to remove obstacles to healthcare including medical debt crisis, insurance access issues and employment issues.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.themedicineprogram.com/">The Medicine Program</a> - Free prescription medicine to those who qualify.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.thesamfund.org/">The Sam Fund</a> - provide grants and scholarships to help pay for transitional issues such as education, living, job search and lingering medical expenses. 
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.themedicineprogram.com/">Women Beyond Cancer</a> - Free retreats for women dealing with any type of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php">Y- Me National Breast Cancer Organization</a> - Free wigs and prosthesis to those in need.
<br /><br />

