#{extends 'static-resources.html' /}
#{set pageHeader:'Ethnicity Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.aancart.org/apicem/index.htm" target="_blank">Asian American Network for Cancer Awareness</a> - Search tool to find cancer information in Asian or Pacific Islander languages.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.blackwomenshealth.org/" target="_blank">Black Women’s Health Imperative</a> - Actionable steps to eliminate the enormous health disparities that exist for Black women.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancerequality.org.uk/" target="_blank">Cancer Equality UK</a> - Working to address the inequality in cancer care faced by people from Black and Minority Ethnic and Refugee (BMER) communities.
<span class="blacktextgrey14"><br /><br />
	<a href="https://www.disabilityrightslegalcenter.org/about/CLRCEspanol.cfm/" target="_blank">Cancer Legal Resource Center</a> - Spanish language website that provides in free information and resources on cancer-related legal issues to cancer survivors, caregivers, health care professionals, employers, and others coping with cancer including insurance coverage, employment and taking time off work, access to health care and government benefits, and estate planning.
<span class="blacktextgrey14"><br /><br />
	<a href="http://cancer.org" target="_blank">Chinese Cancer Hotline</a> - American Cancer Society - Hotline for Chinese cancer patients: 888.566.6222
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.crcfl.net/content/view/language-resources.html" target="_blank">Cancer Resource Center of the Finger Lakes</a> - Cancer information in many languages.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nawho.org" target="_blank">National Asian Women’s Health Organization</a> - Raise awareness about the health needs of Asian Americans through research and education.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.gov/espanol" target="_blank">National Cancer Institute</a> - Cancer information in Spanish.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.gov/espanol" target="_blank">Outlook Life</a> - Longterm support for childhood cancer survivors offering an online community and
chat in Japanese.
<span class="blacktextgrey14"><br /><br />
	<a href="http://palsforhealth.org/" target="_blank">PALS for Health</a> - Offers trained health care interpreters and translators in Spanish and 12 Asian and Pacific Islander languages., as well as written translation services.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sharsheret.org" target="_blank">Sharsheret</a> - Linking young Jewish women with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sistersnetworkinc.org/" target="_blank">Sisters Network Inc.</a> - Committed to increasing local and national attention to the devastating impact that breast cancer has in the African American community.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/" target="_blank">Y-Me National Breast Cancer Organization</a> - Where you can call – 24 hours a day, 7 days a week, 365 days a year – and talk to a breast cancer survivor and be understood in 150 languages.
<br /><br />

