#{extends 'static-resources.html' /}
#{set pageHeader:'Reproductive Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.fertilehope.org/">Fertile Hope</a> - Providing reproductive information, support and hope to cancer patients and survivors whose medical treatments present the risk of infertility .
<span class="blacktextgrey14"><br /><br />
	<a href="http://myoncofertility.org/">The Oncofertility Consortium at North Western University</a> - 
Providing information on fertility and cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://oncofertility.northwestern.edu">The Oncofertility Consortium at North Western University</a> - The Oncofertility Consortium is dedicated to the advancement of technologies that will provide improved fertility preservation for survivors of cancer and other serious diseases.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.pregnantwithcancer.org/">Hope for Two</a> - Being pregnant and having cancer at the same time.
<br /><br />

