#{extends 'static-resources.html' /}
#{set pageHeader:'Online Cancer Communities' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.advancedbreastcancercommunity.org/" target="_blank">Advanced Breast Cancer Community</a> - Comprehensive information source and online community solely dedicated to the needs of advanced (metastatic) breast cancer patients, caregivers, family and friends, and health care providers.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastcancersisterhood.com" target="_blank">Breast Cancer Sisterhood</a> - Videos on nutrition and fitness.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.thebreastcaresite.com" target="_blank">The Breast Care Site</a> - Covers sexuality, care, health, fitness.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.macmillan.org.uk/Home.aspx" target="_blank">Cancer Buddies</a> - helps everyone find that special buddy on the internet for the purpose of sharing, caring and supporting each other through the ups and downs of their personal experiences.
<span class="blacktextgrey14"><br /><br />
	<a href="http://news.cancerconnect.com/" target="_blank">Cancer Connect</a> - This covers all types of cancers and offers side effects, info for newly diagnosed, treatments and clinical trials.
<span class="blacktextgrey14"><br /><br />
	<a href="http://cancersupportcommunity.org" target="_blank">Cancer Support Community</a> - Online support community dedicated to providing support, education and hope to people affected by cancer.  
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.facingcancer.ca" target="_blank">Facing Cancer Together</a> - Designed to offer support and provide information, resources and tools to help women—and those who care about them—manage the social and emotional effects of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.mycancerplace.com" target="_blank">My Cancer Place </a> - a community of people with cancer, share information, give and receive support, learn from
the experiences of others, and create a free web page with text and photos that you can change anytime.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.planetcancer.org/" target="_blank">Planet Cancer</a> - The world's largest online community of young adults who have been affected by cancer and
offers weekend retreat programs bringing together young adults for recreation and personal exploration with their peers, helping them forge connections that will sustain them as they move on with their lives, in or out of treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://sharedexperience.org" target="_blank">Shared Experiences</a> - Relates stories from people who have had cancer, are newly diagnosed in their own words, anyone can upload his or her own story.

<br /><br />

