#{extends 'static-resources.html' /}
#{set pageHeader:'Caregiver Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://www.carersuk.org target="_blank"">Carers UK</a> - Helping caregivers get the best for the person they care for, make the most of their income, stay
in paid work, keep healthy, get in touch with other carers for support, find a listening ear and campaign for change.
<span class="blacktextgrey14"><br /><br />
	<a href="http://crossroads.org.uk" target="_blank">Crossroads</a> - Helping caregivers make a life of their own outside caring, employing over 6,000 trained
professionals, providing flexible services to people of all ages and with a range of disabilities and health conditions.
<span class="blacktextgrey14"><br /><br />
	<a href="http://mothersdaughters.org" target="_blank">Mothers Supporting Daughters with Breast Cancer </a> - Support to mothers of daughters with breast cancer.

<br /><br />

