#{extends 'static-resources.html' /}
#{set pageHeader:'General Health Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.advancedbreastcancercommunity.org/">Advanced Breast Cancer Community</a> - Comprehensive information source and online community solely dedicated to the needs of advanced (metastatic) breast cancer patients, caregivers, family and friends, and health care providers.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.asco.org/">American Society of Clinical Oncology</a> - Dedicated to issues unique to clinical oncology.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.BrainMetsBC.org/">Brain Meets BC Org</a> - Provides information and support for women whose breast cancer has metastasized to the brain.
<span class="blacktextgrey14"><br /><br />
	<a href="http://breastcancer.evidencewatch.com/">Breast Cancer Watch</a> - Providing the latest evidence-based guidance on state-of-the-art breast cancer therapies, with critical commentaries and clinical practice recommendations.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org/">American Cancer Society</a> - A comprehensive guide to all forms of cancer with topics including how to stay healthy, how to talk to children or family members and recent research.
<span class="blacktextgrey14"><br /><br />
	<a href="http://curetoday.com">Cure Today</a> - Covers all types of cancer from diagnosis to after treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://dslrf.org/breastcancer/">Dr. Susan Love Research Foundation</a> - Created for women and men interested in breast cancer prevention, detection, treatment, and long-term survivorship.
<span class="blacktextgrey14"><br /><br />
	<a href="http://embodiworks.org/">EmbodiWorks</a> - Integrative cancer care.
<span class="blacktextgrey14"><br /><br />
	<a href="http://livestrong.org">LiveStrong</a> - Empowering the cancer community to address the unmet needs of cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://managecancer.org">ManageCancer.org</a> - Provides cancer patients and their loved ones with information and links to valuable resources.  ManageCancer.org continually researches the available resources and brings the best of them together in one manageable location.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.michellesplace.org/">Michelle's Place</a> - 
Breast cancer resource center.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nccam.nih.gov/">National Center for Complementary and Alternative Medicine</a> - Offers information on complimentary and alternative medicine.
<span class="blacktextgrey14"><br /><br />
	<a href="http://news.cancerconnect.com/">Cancer Connect</a> <br/>
This covers all types of cancers and offers side effects, info for newly diagnosed, treatments and clinical trials.
<span class="blacktextgrey14"><br /><br />
	<a href="http://BCAction.org/">Breast Cancer Action </a> - Launched in response to the growing concern about the number of pink ribbon products on the market. The campaign calls for more transparency and accountability by companies that take part in breast cancer fundraising, and encourages consumers to ask critical questions about pink ribbon promotions.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.triplestepforthecure.org/index.php ">Triple Step for the Cure</a> - Information on triple negative breast cancer.
<br /><br />

