#{extends 'static-resources.html' /}
#{set pageHeader:'Family/Children Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.b4bc.org/">Boarding for Breast Cancer</a> - For teens and young adults about detection and prevention of breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.bebrightpink.org/home/">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastcancersisterhood.com/">Breast Cancer Sisterhood</a> - Videos on dealing with cancer and how to tell friends.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.bosombuddies.org/">Bosom Buddies Inc.</a> - This website offers DVD’s including one for children, one for the husbands and one about reconstructive surgery.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org/">American Cancer Society</a> - A comprehensive guide to all forms of cancer with topics including how to stay healthy, how to talk to children or family members and recent research.
<span class="blacktextgrey14"><br /><br />
	<a href="http://caringbridge.org">Caring Bridge</a> - Free patient websites connecting loved ones during serious health events.
<span class="blacktextgrey14"><br /><br />
	<a href="http://giveforward.com">Give Forward</a> - A way to gather money for your loved ones medical expenses through Facebook and email.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.kidscope.org/">Kidscope</a> - Help children and families understand the effects of cancer or chemotherapy on a loved one, to provide suggestions for coping, and to develop innovative programs and materials that communicate a message of hope to diverse families coping with this crisis.
<span class="blacktextgrey14"><br /><br />
	<a href="http://mylifeline.org">My Life Line</a> - Free personal websites for cancer patients, caregivers and survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nowherehair.com/">Nowhere Hair</a> - Offers a children’s book on talking to children about breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://thelittlepinkbooks.com/">Little Pink Book</a> - A series of children’s books covering when your teacher or mom gets cancer and when mom’s breasts cancer does not go away.
<span class="blacktextgrey14"><br /><br />
	<a href="http://thelittlepinkbooks.com/">Y-Me National Breast Cancer Organization </a> - A website offering emotional support including how to ask for help, how to tell someone you have Cancer, how to talk to children, sexual dysfunction and intimacy issues.
<br /><br />

