#{extends 'static-resources.html' /}
#{set pageHeader:'Reconstructive Surgery Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.bosombuddies.org/">Bosom Buddies</a> - This website offers DVD’s including one for children, one for the husband and one about reconstructive surgery.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastflap.com/">Breastflap</a> - Reconstruction using own tissue with a list of surgeons state by state.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastfree.org/">Breast Free</a> - For women considering whether or not to have reconstruction and for women who have already decided against reconstruction.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastreconstructionmatters.com/">Breast Reconstruction Matters</a> - A comprehensive guide about reconstruction with all of the options.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.breastreconstruction.org/">Breast Reconstruction Organization</a> - Help empower women to make informed choices about breast reconstruction.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.whyiworelipstick.com/v2/home.html">Why I wore Lipstick</a> - Stories form women who have had mastectomies.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.yourbreastoptions.com/en-us/Pages/">Your Breast Options</a> - Education on breast reconstruction and what you need to know to prepare and recover.
<br /><br />
