#{extends 'static-resources.html' /}
#{set pageHeader:'Clinical Trial Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.armyofwomen.org/" target="_blank">Army of Women</a> - Avon & Dr. Susan Love Research Foundation - Receive email updates announcing new research studies looking for volunteers with or without breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a> - List of government sponsored clinical trials.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nccam.nih.gov/research/clinicaltrials/" target="_blank">National Center for Complementary and Alternative Medicine</a> - List of clinical trials with results of each trial.
<br /><br />


