#{extends 'static-resources.html' /}
#{set pageHeader:'Emotional Support Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.org/" target="_blank">American Cancer Society</a> - Click on the ‘in your area’ tab and enter in your state and zip code to find support groups in your area or call 1-800-227-2345.
<span class="blacktextgrey14"><br /><br />
	<a href="http://beyondboobsinc.org" target="_blank">Beyond Boobs</a> - How to organize or find a support group in your area.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.macmillan.org.uk/Home.aspx" target="_blank">Cancer Backup</a> - The UK's Leading Cancer Information Service and Helpline.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org.au/home.htm" target="_blank">Cancer Council Australia</a> - Telephone helpline with information and support, patient support groups and programs.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org.au/home.htm" target="_blank">Cancer Crusade</a> - Free online publications (monthly and weekly) and other free support services for cancer
survivors and caregivers.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancerhopenetwork.org" target="_blank">Cancer Hope Network</a> - Offers free, confidential one-to-one support to cancer patients undergoing cancer treatment and their families.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.gildasclub.org" target="_blank">Gilda’s Club</a> - Support and networking groups, lectures and workshops, and social activities.
<span class="blacktextgrey14"><br /><br />
	<a href="http://imermanangels.org" target="_blank">Imerman Angels</a> - Matches cancer patients and their caregivers and family members with cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.4thangel.org" target="_blank">The Scott Hamilton CARES Initiative</a> - Connect via telephone with someone who has had cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sharecancersupport.org" target="_blank">SHARE</a> - A supportive network and community of women affected by breast or ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.ulmanfund.org/" target="_blank">Ulman Cancer Fund</a> - Patient navigation and one-on-one cancer support.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/" target="_blank">Y-Me National Breast Cancer Organization</a> - Where you can call – 24 hours a day, 7 days a week, 365 days a year – and talk to a breast cancer survivor and be understood in 150 languages.

<br /><br />



