#{extends 'static-resources.html' /}
#{set pageHeader:'Young Survivors Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://stupidcancer.com/" target="_blank">I’m Too Young For This</a> - Dealing with being diagnosed with cancer as a young adult.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nowwhat.org.au/" target="_blank">Now What</a> - Designed to educate, connect, support and empower young people throughout their cancer experience.
<span class="blacktextgrey14"><br /><br />
	<a href="http://rethinkbreastcancer.com/" target="_blank">Rethink</a> - Breast cancer charity to bring bold, relevant awareness to the under-40 crowd; foster a new generation of young and influential breast cancer supporters; infuse sass and style into the cause; and, most importantly, respond to the unique needs of young (or youngish) women going through it.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivoralert.org/" target="_blank">Survivor Alert</a> - Helping young survivors make their future as healthy as possible, know about their long-term
risks and get skills to take action.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.teenswithcancer.org/" target="_blank">Teens Living with Cancer</a> - For young adults, a special web site offering tips, resources and a chat community.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngadultcancer.ca/" target="_blank" target="_blank">Young Adult Cancer</a> - A community of young adults diagnosed with cancer that provides information, support, skills and opportunity.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngempowered.org/" target="_blank">Young Empowered Survivors</a> - Helps connect young women dealing with a cancer diagnosis. The group focuses on support, empowerment, sharing perspectives and resources so that our members don't feel alone as they go through their cancer diagnosis and treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngsurvival.org/" target="_blank">Young Survivor Coalition</a> - Dealing with breast cancer at a young age.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.ywbc.ca/" target="_blank">Young Women with Breast Cancer Support</a> - Addresses issues related to the loss of fertility, premature menopause, disruptions of careers and relationships.
<br /><br />
