#{extends 'static-resources.html' /}
#{set pageHeader:'Beauty Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://amoena.com">Amoena</a> - offer an extensive product line of bras, swimwear and breast symmetry products that fully
address the needs of any woman.
<span class="blacktextgrey14"><br /><br />
	<a href="http://beauti-full-brows.com">Beauti-Full-Brows</a> - Removable eyebrow tattoos and stencils.
<span class="blacktextgrey14"><br /><br />
	<a href="http://facingthemirror.org">Facing the Mirror</a> - A guidebook for make-up application during chemotherapy.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lookgoodfeelbetter.org">Look Good…Feel Better</a> - A comprehensive website offering beauty tips on skin, hair and nail care as well as how to shop for and care for a wig.
<span class="blacktextgrey14"><br /><br />
	<a href="http://luminousfoundation.org">Luminous Foundation</a> - Offers wigs, hair re-growth products, hats and headwear, make-up, prostheses, pocketed bras,
pocketed swimwear, swim forms, nail care, soothing skin care, non-carcinogenic deodorants, feminine lubricant products and lymphedema compression garments to breast cancer patients who are uninsured or underserved, have been diagnosed by a medical professional as having breast cancer and are in financial need.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lymphedivas.com">Lymphedivas</a> - Fashionable colors as well as various skin tones colored compression sleeves for lyphedema.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.tlcdirect.org">Tender Loving Care</a> - Offers wigs, turbans, scarves and mastectomy products.
<span class="blacktextgrey14"><br /><br />
	<a href="http://4women.com">The Beau-beau</a> - Beautiful Scarves for Beautiful Heads. Fashionable options for women, teens and girls who are experiencing medical hair loss.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php">Y-Me National Breast Cancer Organization</a> - Free wigs and prosthesis to those who qualify.
<br /><br />
