#{extends 'static-resources.html' /}
#{set pageHeader:'Retreats Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://cancerclimber.org/home.php" target="_blank">Cancer Climber</a> - Offers expeditions to exotic locales and adventure grants, a mobile camp, and personal visits to patients by survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://castingforrecovery.org" target="_blank">Casting for Recovery</a> - 2½-day fly-fishing retreat for 14 women per retreat, at no cost to participants
<span class="blacktextgrey14"><br /><br />
	<a href="http://firstdescents.org" target="_blank">First Descents</a> - Outdoor adventure sports for healing in young adults with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.imagerebornfoundation.org" target="_blank">Image Reborn Foundation</a> - A renewal weekend retreat for women with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivorsretreat.com" target="_blank">Survivor Retreats</a> - Listing of great retreats for cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.womenbeyondcancer.org" target="_blank">Women Beyond Cancer</a> - Free retreats for women dealing with any type of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.womensquest.com" target="_blank">Women's Quest</a> - Health and fitness adventure retreats for the mind body and spirit.
<br /><br />

