#{extends 'static-resources.html' /}
#{set pageHeader:'Career/Legal Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.cancerandcareers.org" target="_blank">Cancer and Careers</a> - For employees on their rights at work and for employers on how can you best support an employee with cancer while still maintaining a fully productive workplace.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.disabilityrightslegalcenter.org/about/cancerlegalresource.cfm" target="_blank">Cancer Legal Resource Center</a> - Provides free information and resources on cancer-related legal issues to cancer survivors, caregivers, health care professionals, employers, and others coping with cancer including insurance coverage, employment and taking time off work, access to health care and government benefits, and estate planning.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.eeoc.gov/facts/cancer.html" target="_blank">The United States Equal Employment Opportunity Commission</a> - Reveals questions and answers about cancer in the workplace and the Americans with Disabilities Act
<span class="blacktextgrey14"><br /><br />
	<a href="http://lawhelp.org" target="_blank">Law Help</a> - Provide locations of low cost or free legal assistance in your state.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.workplacefairness.org" target="_blank">Workplace Fairness</a> - Provides information, education, and assistance to individual workers and their advocates nationwide.  Promotes public policies that advance employee rights.
<br /><br />

