#{extends 'static-resources.html' /}
#{set pageHeader:'LGBT Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://cancer-network.org">The National LGBT Cancer Network</a> - Works to improve the lives of LGBT cancer survivors and those at risk by training, educating and advocating.
<span class="blacktextgrey14"><br /><br />
	<a href="http://gaycenter.org/">The Lesbian, Gay, Bisexual and Transgendered Center</a> - Aims to help participants navigate the challenges of caring for someone with a cancer diagnosis and focuses on juggling the emotions and responsibilities of care-giving with the critical importance of self-care.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lgbtcancer.com/transgenderedtransexual-breast-cancer/">The National LGBT Cancer Project</a> - Works to improve the lives of Lesbian, Gay, Bisexual and Transsexual people diagnosed with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.lilci.org/">Long Island Lesbian Cancer Initiative</a> - Purpose is to eliminate health disparities through education, advocacy, research and services.
<span class="blacktextgrey14"><br /><br />
	<a href="http://lgbthealth.webolutionary.com/">National Coalition for LGBT Health</a> - The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training. The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.lindacreed.org/rainbow_circle.php">Linda Creed Epstein Foundation</a> - Provides inclusive education, information and services that address your needs so that you can access optimum breast health care.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.mautnerproject.org/">Mautner Project, The National Lesbian Health Organization</a> - Committed to improving the health of women who partner with women including lesbian, bisexual and transgender individuals, through direct and support service, education and advocacy.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.outwithcancer.com/">Out with Cancer</a> - A bi-phobia and trans-phobia free zone about the cancer, and connections.
<br /><br />

