#{extends 'static.html' /}
#{set pageHeader:'Resources' /}

<span class="bluetext14"><strong>Table of Contents</strong></span>
<span class="blacktextgrey14"><br />
	<a href="#beauty">Beauty</a><br/>
	<a href="#careers">Careers</a><br/>
	<a href="#chemotherapy">Chemotherapy</a><br/>
	<a href="#clinicaltrials">Clinical Trials</a><br/>
	<a href="#emotionalsupport">Emotional Support</a><br/>
	<a href="#ethnicity">Ethnicity</a><br/>
	<a href="#familychildren">Family/Children</a><br/>
	<a href="#finances">Finances</a><br/>
	<a href="#gender">Gender</a><br/>
	<a href="#generalhealth">General Health</a><br/>
	<a href="#beauty">Beauty</a><br/>
	<a href="#healthfitnessnutrition">Health/Fitness/Nutrition</a><br/>
	<a href="#intimacysexuality">Intimacy/Sexuality</a><br/>
	<a href="#lgbt">LBGT</a><br/>
	<a href="#newlydiagnosed">Newly Diagnosed/At Risk</a><br/>
	<a href="#patientadvocacy">Patient Advocacy</a><br/>
	<a href="#prevention">Prevention</a><br/>
	<a href="#reconstructive">Reconstructive surgery and other options</a><br/>
	<a href="#reproductive">Reproductive Needs</a><br/>
	<a href="#triplenegative">Triple Negative</a><br/>
	<a href="#youngsurvivors">Young Survivors</a><br/>


<br /><br />

<a name="beauty"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>
<span class="bluetext14"><strong>Beauty</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://lookgoodfeelbetter.org">Look Good…Feel Better</a> - A comprehensive website offering beauty tips on skin, hair and nail care as well as how to shop for and care for a wig
<span class="blacktextgrey14"><br />
	<a href="http://lymphedivas.com">Lymphedivas</a> - Fashionable colors as well as various skin tones colored compression sleeves for lyphedema.

<span class="blacktextgrey14"><br />
	<a href="http://http://www.tlcdirect.org">Tender Loving Care</a> - Offers wigs, turbans, scarves and mastectomy products.

<span class="blacktextgrey14"><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php">Y-Me National Breast Cancer Organization</a> - Free wigs and prosthesis to those who qualify

<span class="blacktextgrey14"><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php">The Beau-beau</a> - Provides collection of headscarves and hats for sale.
<br /><br />
<a name="careers"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Career</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.cancerandcareers.org">Cancer and Careers</a> - For employees on their rights at work and for employers on how can you best support an employee with cancer while still maintaining a fully productive workplace.
<span class="blacktextgrey14"><br />
	<a href="http://www.eeoc.gov/facts/cancer.html">The United States Equal Employment Opportunity Commission</a> - Reveals questions and answers about cancer in the workplace and the Americans with Disabilities Act
<span class="blacktextgrey14"><br />
	<a href="www.lawhelp.org ">Law Help</a> - An organization that can provide you with the location of low cost or free legal assistance in your state.
<span class="blacktextgrey14"><br />
	<a href="http://www.workplacefairness.org">Workplace Fairness</a> - A not-for-profit organization that will assist you with your rights on workplace discrimination.
<br /><br />
<a name="chemotherapy"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Chemotherapy</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.chemocare.com/">Chemocare</a> - This website focuses on chemotherapy including what to eat during chemotherapy, managing side effects, how to prep yourself before and recover afterwards.
<span class="blacktextgrey14"><br />
	<a href="http://www.chemotherapy.com/">Chemotherapy.com</a> - Covers side effects, tracking test results, keeping organized, understanding insurance issues.
<span class="blacktextgrey14"><br />
	<a href="http://www.ons.org/">Oncology Nursing Society</a> - Designed to help provide nurses with the cancer information needed to help patients.
<br /><br />
<a name="clinicaltrials"></a>	
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Clinical Trials</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.armyofwomen.org/">Army of Women</a> - Avon & Dr. Susan Love Research Foundation - Receive email updates announcing new research studies looking for volunteers with or without breast cancer, just like you.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.gov/">National Cancer Institute</a> - List of government sponsored clinical trials.
<span class="blacktextgrey14"><br />
	<a href="http://ibcresearch.org">Inflammatory Breast Cancer Research Foundation</a> - Listing of clinical trials as well as information on symptoms and research.
<span class="blacktextgrey14"><br />
	<a href="http://nccam.nih.gov/research/clinicaltrials/">National Center for Complementary and Alternative Medicine</a> - List of clinical trials with results of each trial.
<br /><br />
<a name="emotionalsupport"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Emotional Support</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.4thangel.org/">The Scott Hamilton CARES Initiative</a> - Connect via telephone with someone who has had cancer.
<span class="blacktextgrey14"><br />
	<a href="http://beyondboobsinc.org">Beyond Boobs</a> - How to organize or find a support group in your area.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.org/">American Cancer Society</a> - Click on the ‘in your area’ tab and enter in your state and zip code to find support groups in your area or call 1-800-227-2345.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancerhopenetwork.org/">Cancer Hope Network</a> - Offers free, confidential one-to-one support to cancer patients undergoing cancer treatment and their families.
<span class="blacktextgrey14"><br />
	<a href="http://cancersupportcommunity.org">Cancer Support Community</a> - Cancer support for caregivers, friends and family of cancer patients.
<span class="blacktextgrey14"><br />
	<a href="http://www.facingcancer.ca">Facing Cancer Together</a> - Designed to offer support and provide information, resources and tools to help women—and those who care about them—manage the social and emotional effects of cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.gildasclub.org/">Gilda’s Club</a> - Support and networking groups, lectures and workshops, and social activities.
<span class="blacktextgrey14"><br />
	<a href="http://imermanangels.org/">Imerman Angels</a> - Matches cancer patients and their caregivers and family members with cancer survivors.
<span class="blacktextgrey14"><br />
	<a href="http://mothersdaughters.org">Mothers Supporting Daughters with Breast Cancer </a> - Support to mothers of daughters with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.sharecancersupport.org">SHARE</a> - A supportive network and community of women affected by breast or ovarian cancer.
<span class="blacktextgrey14"><br />
	<a href="Shared Experience Cancer Support">SHARE</a> - Relates stories from people who have had cancer, are newly diagnosed in their own words, anyone can upload his or her own story.
<br /><br />
<a name="ethnicity"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Ethnicity</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.aancart.org/apicem/index.htm">Asian American Network for Cancer Awareness</a> - Search tool to find cancer information in Asian or Pacific Islander languages.
<span class="blacktextgrey14"><br />
	<a href="http://www.blackwomenshealth.org/">Black Women’s Health Imperative</a> - Actionable steps to eliminate the enormous health disparities that exist for Black women.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.gov/espanol">National Cancer Institute</a> - Cancer information in Spanish.
<span class="blacktextgrey14"><br />
	<a href="http://www.cdc.gov/omhd/default.htm">Center for Disease Control and Prevention</a> - Aims to accelerate CDC’s health impact in the U.S population and to eliminate health disparities for vulnerable populations as defined by race/ethnicity, socio-economic status, geography, gender, age, disability status, risk status related to sex and gender, and among other populations identified to be at-risk for health disparities.
<span class="blacktextgrey14"><br />
	<a href="http://cancer.org">Chinese Cancer Hotline</a> - American Cancer Society - Hotline for Chinese cancer patients: 888.566.6222
<span class="blacktextgrey14"><br />
	<a href="http://www.crcfl.net/content/view/language-resources.html">Cancer Resource Center of the Finger Lakes</a> - Cancer information in many languages.
<span class="blacktextgrey14"><br />
	<a href="http://www.nawho.org">National Asian Women’s Health Organization</a> - Raise awareness about the health needs of Asian Americans through research and education.
<span class="blacktextgrey14"><br />
	<a href="http://palsforhealth.org/">PALS for Health</a> - Offers trained health care interpreters and translators in Spanish and 12 Asian and Pacific Islander languages., as well as written translation services.
<span class="blacktextgrey14"><br />
	<a href="http://www.sharsheret.org">Sharsheret</a> - Linking young Jewish women with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.sistersnetworkinc.org/">Sisters Network Inc.</a> - Committed to increasing local and national attention to the devastating impact that breast cancer has in the African American community.
<span class="blacktextgrey14"><br />
	<a href="http://www.y-me.org/">Y-Me National Breast Cancer Organization</a> - Where you can call – 24 hours a day, 7 days a week, 365 days a year – and talk to a breast cancer survivor and be understood in 150 languages.
<br /><br />
<a name="familychildren"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Family/Children</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.b4bc.org/">Boarding for Breast Cancer</a> - For teens and young adults about detection and prevention of breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.bebrightpink.org/home/">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastcancersisterhood.com/">Breast Cancer Sisterhood</a> - Videos on dealing with cancer and how to tell friends.
<span class="blacktextgrey14"><br />
	<a href="http://www.bosombuddies.org/">Bosom Buddies Inc.</a> - This website offers DVD’s including one for children, one for the husbands and one about reconstructive surgery.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.org/">American Cancer Society</a> - A comprehensive guide to all forms of cancer with topics including how to stay healthy, how to talk to children or family members and recent research.
<span class="blacktextgrey14"><br />
	<a href="http://caringbridge.org">Caring Bridge</a> - Free patient websites connecting loved ones during serious health events.
<span class="blacktextgrey14"><br />
	<a href="http://giveforward.com">Give Forward</a> - A way to gather money for your loved ones medical expenses through Facebook and email.
<span class="blacktextgrey14"><br />
	<a href="http://www.kidscope.org/">Kidscope</a> - Help children and families understand the effects of cancer or chemotherapy on a loved one, to provide suggestions for coping, and to develop innovative programs and materials that communicate a message of hope to diverse families coping with this crisis.
<span class="blacktextgrey14"><br />
	<a href="http://mylifeline.org">My Life Line</a> - Free personal websites for cancer patients, caregivers and survivors.
<span class="blacktextgrey14"><br />
	<a href="http://www.nowherehair.com/">Nowhere Hair</a> - Offers a children’s book on talking to children about breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://thelittlepinkbooks.com/">Little Pink Book</a> - A series of children’s books covering when your teacher or mom gets cancer and when mom’s breasts cancer does not go away.
<span class="blacktextgrey14"><br />
	<a href="http://thelittlepinkbooks.com/">Y-Me National Breast Cancer Organization </a> - A website offering emotional support including how to ask for help, how to tell someone you have Cancer, how to talk to children, sexual dysfunction and intimacy issues.
<br /><br />
<a name="finances"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Finances</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.angelflight.com/">Angel Flight</a> - Free air transportation for any legitimate, charitable, medically related needs.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancercarecopay.org/">Cancer Care Co-Payment Assistance Foundation</a> - A not-for-profit organization addressing the needs of individuals who cannot afford their insurance co-payments to cover the cost of medications for treating cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.cdc.gov/cancer/nbccedp/">Centers for Disease Control and Prevention</a> - Provides access to breast and cervical cancer screening services to underserved women in all 50 states, the District of Columbia, 5 U.S. territories, and 12 tribes.
<span class="blacktextgrey14"><br />
	<a href="http://www.cleaningforareason.org/">Cleaning for a Reason</a> - Offers free professional housecleaning, and maid services to improve the lives of women undergoing treatment for cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.commitmenttoaccess.com/">Commitment to Access</a> - A patient assistance program that provides GSK prescription oncology medicines and specialty pharmacy products to qualified patients who need help paying for treatment.
<span class="blacktextgrey14"><br />
	<a href="http://www.copays.org/">Patient Advocate Foundation</a> - Direct financial support to insured patients, including Medicare Part D beneficiaries, who must financially and medically qualify to access pharmaceutical co-payment assistance.
<span class="blacktextgrey14"><br />
	<a href="http://www.corpangelnetwork.org/">Corporate Angel Network</a> - Arranges free air travel for patients on corporate jets.
<span class="blacktextgrey14"><br />
	<a href="https://www.disabilityrightslegalcenter.org/about/about.cfm">Disability Rights Legal Center </a> - Provides free information and resources on cancer-related legal issues to cancer survivors, caregivers, health care professionals, employers, and others coping with cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.fifthseasonfinancial.com/">Fifth Season Financial Corp</a> - Win-Win Life Insurance Line of Credit program is designed to provide immediate financial assistance to cancer patients and their families.
<span class="blacktextgrey14"><br />
	<a href="http://giveforward.com">Give Forward</a> - A way to gather money for your loved ones medical expenses through Facebook and email.
<span class="blacktextgrey14"><br />
	<a href="http://www.gskforyou.com/">Glaxo Smith Kline</a> - Coverage for prescription medicine for those who qualify.
<span class="blacktextgrey14"><br />
	<a href="http://helpsis.org/">SIS - sustain inspire survive</a> - Providing financial assistance, essential services, and quality of life enhancements during treatment to those in need.
<span class="blacktextgrey14"><br />
	<a href="http://www.kristylasch.org/">Kristy Lasch Miracle Foundation</a> - Financial services to women under 30 with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.medicare.gov/">US Government</a> - For people on Medicare and how to find out if you are eligible.
<span class="blacktextgrey14"><br />
	<a href="http://www.myhopechest.org/">My Hope Chest</a> - The only organization in the country that assists breast cancer survivors by providing free breast reconstruction, following mastectomy, to those who qualify.
<span class="blacktextgrey14"><br />
	<a href="http://www.needymeds.org/">Needy Meds</a> - Financial help with medication cost for those who qualify.
<span class="blacktextgrey14"><br />
	<a href="http://www.patientadvocate.org/">Patient Advocate Foundation</a> - Mediation and arbitration services to patients to remove obstacles to healthcare including medical debt crisis, insurance access issues and employment issues.
<span class="blacktextgrey14"><br />
	<a href="http://www.themedicineprogram.com/">The Medicine Program</a> - Free prescription medicine to those who qualify.
<span class="blacktextgrey14"><br />
	<a href="http://www.y-me.org/programs/wig-prosthesis-bank.php">Y- Me National Breast Cancer Organization</a> - Free wigs and prosthesis to those in need.
<br /><br />
<a name="gender"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Gender</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.menagainstbreastcancer.org/">Men Against Breast Cancer</a> - Designed for male caregivers to empower and educate them on how to care for a loved one with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="https://malebreastcancer.org/Home_Page.php">John W. Nick Foundation, Inc.</a> - About the risk of breast cancer in men, and provides preventive and reactive measures to cancer through education and research.
<span class="blacktextgrey14"><br />
	Men's Crusade Against Breast Cancer: 703-978-3336
<span class="blacktextgrey14"><br />
	<a href="http://www.menstuff.org/issues/byissue/breastcancer.html">Menstuff</a> - Information about breast cancer in men, how it can affect their children and how to give support to a wife with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.youngcancerspouses.org/">Young Cancer Spouses</a> - A support community for spouses of young cancer patients.
<br /><br />
<a name="generalhealth"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>General Health</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.advancedbreastcancercommunity.org/">Advanced Breast Cancer Community</a> - Comprehensive information source and online community solely dedicated to the needs of advanced (metastatic) breast cancer patients, caregivers, family and friends, and health care providers.
<span class="blacktextgrey14"><br />
	<a href="http://www.asco.org/">American Society of Clinical Oncology</a> - Dedicated to issues unique to clinical oncology.
<span class="blacktextgrey14"><br />
	<a href="http://www.BrainMetsBC.org/">Brain Meets BC Org</a> - Provides information and support for women whose breast cancer has metastasized to the brain.
<span class="blacktextgrey14"><br />
	<a href="http://breastcancer.evidencewatch.com/">Breast Cancer Watch</a> - Providing the latest evidence-based guidance on state-of-the-art breast cancer therapies, with critical commentaries and clinical practice recommendations.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.org/">American Cancer Society</a> - A comprehensive guide to all forms of cancer with topics including how to stay healthy, how to talk to children or family members and recent research.
<span class="blacktextgrey14"><br />
	<a href="http://curetoday.com">Cure Today</a> - Covers all types of cancer from diagnosis to after treatment.
<span class="blacktextgrey14"><br />
	<a href="http://dslrf.org/breastcancer/">Dr. Susan Love Research Foundation</a> - Created for women and men interested in breast cancer prevention, detection, treatment, and long-term survivorship.
<span class="blacktextgrey14"><br />
	<a href="http://livestrong.org">LiveStrong</a> - Empowering the cancer community to address the unmet needs of cancer survivors.
<span class="blacktextgrey14"><br />
	<a href="http://managecancer.org">ManageCancer.org</a> - Provides cancer patients and their loved ones with information and links to valuable resources.  ManageCancer.org continually researches the available resources and brings the best of them together in one manageable location.
<span class="blacktextgrey14"><br />
	<a href="http://www.michellesplace.org/">Michelle's Place</a> - 
Breast cancer resource center.
<span class="blacktextgrey14"><br />
	<a href="http://nccam.nih.gov/">National Center for Complementary and Alternative Medicine</a> - Offers information on complimentary and alternative medicine.
<span class="blacktextgrey14"><br />
	<a href="http://news.cancerconnect.com/">Cancer Connect</a> <br/>
This covers all types of cancers and offers side effects, info for newly diagnosed, treatments and clinical trials.
<span class="blacktextgrey14"><br />
	<a href="http://BCAction.org/">Breast Cancer Action </a> - Launched in response to the growing concern about the number of pink ribbon products on the market. The campaign calls for more transparency and accountability by companies that take part in breast cancer fundraising, and encourages consumers to ask critical questions about pink ribbon promotions.
<span class="blacktextgrey14"><br />
	<a href="http://www.triplestepforthecure.org/index.php ">Triple Step for the Cure</a> - Information on triple negative breast cancer.
<br /><br />
<a name="healthfitnessnutrition"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Health/Fitness/Nutrition </strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.4nutrition.com/">Patrick Quillin, PhD, RD, CNS</a> - Providing optimal nutritional guidelines to improve outcome for cancer patients.
<span class="blacktextgrey14"><br />
	<a href="http://www.aicr.org">American Institute for Cancer Research</a> - How to manage diet and side effects.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastcancersisterhood.com/">Breast Cancer Sisterhood</a> - Videos on nutrition and fitness.
<span class="blacktextgrey14"><br />
	<a href="http://castingforrecovery.org/">Casting for Recovery</a> - 2½-day fly-fishing retreat for 14 women per retreat, at no cost to participants
<span class="blacktextgrey14"><br />
	<a href="http://embodiworks.org/">Embodiworks</a> - Integrative cancer care.
<span class="blacktextgrey14"><br />
	<a href="http://healthfinder.gov/prevention/">US Department of Health and Human Services</a> - The government’s guidelines on how to start an exercise program.
<span class="blacktextgrey14"><br />
	<a href="http://movingonaerobics.org/">Moving on Aerobics</a> - Aerobic classes for cancer patients.
<span class="blacktextgrey14"><br />
	<a href="http://pinkkitchen.info/">Pink Kitchen</a> - Healthy nutritious recipes for breast cancer survivors and those who love them.
<span class="blacktextgrey14"><br />
	<a href="http://www.stayingabreast.com/">Annie Toglio, MES</a> - This website offers different exercises that can be used after breast cancer surgery to prevent scar tissue from affecting mobility.
<span class="blacktextgrey14"><br />
	<a href="http://wecanrowdc.org">We Can Row DC</a> - Weekend long rowing classes for cancer patients.
<span class="blacktextgrey14"><br />
	<a href="http://youcanthrive.org">You Can Thrive</a> - Information on meditation, exercise, nutrition and complimentary medicine.
<br /><br />
<a name="intimacysexuality"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Intimacy/Sexuality</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://nosurrenderbreastcancerhelp.org/">No Surrender Breast Cancer Foundation</a> -  A website where survivors can talk to the newly diagnosed.
<span class="blacktextgrey14"><br />
	<a href="http://www.thebreastcaresite.com">The Breast Care Site</a> - Covers sexuality, care, health, fitness.
<span class="blacktextgrey14"><br />
	<a href="http://www.y-me.org/">Y-Me</a> - A website offering emotional support including how to ask for help, how to tell someone you have cancer, how to talk to children, sexual dysfunction and intimacy issues.
<br /><br />
<a name="lgbt"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>LGBT</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://cancer-network.org/about_us/people/index.php">The National LGBT Cancer Network</a> - Works to improve the lives of LGBT cancer survivors and those at risk by training, educating and advocating.
<span class="blacktextgrey14"><br />
	<a href="http://gaycenter.org/">The Lesbian, Gay, Bisexual and Transgendered Center</a> - Aims to help participants navigate the challenges of caring for someone with a cancer diagnosis and focuses on juggling the emotions and responsibilities of care-giving with the critical importance of self-care.
<span class="blacktextgrey14"><br />
	<a href="http://lgbtcancer.com/transgenderedtransexual-breast-cancer/">The National LGBT Cancer Project</a> - Works to improve the lives of Lesbian, Gay, Bisexual and Transsexual people diagnosed with cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.lilci.org/">Long Island Lesbian Cancer Initiative</a> - Purpose is to eliminate health disparities through education, advocacy, research and services.
<span class="blacktextgrey14"><br />
	<a href="http://lgbthealth.webolutionary.com/">National Coalition for LGBT Health</a> - The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training. The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training.
<span class="blacktextgrey14"><br />
	<a href="http://www.lindacreed.org/rainbow_circle.php">Linda Creed Epstein Foundation</a> - Provides inclusive education, information and services that address your needs so that you can access optimum breast health care.
<span class="blacktextgrey14"><br />
	<a href="http://www.mautnerproject.org/">Mautner Project, The National Lesbian Health Organization</a> - Committed to improving the health of women who partner with women including lesbian, bisexual and transgender individuals, through direct and support service, education and advocacy.
<span class="blacktextgrey14"><br />
	<a href="http://www.outwithcancer.com/">Out with Cancer</a> - A bi-phobia and trans-phobia free zone about the cancer, and connections.
<br /><br />
<a name="newlydiagnosed"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Newly diagnosed / At risk</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://news.cancerconnect.com/newly-diagnosed/your-cancer-treatment-team/">Cancer Connect </a> - Breakdown of diagnosis, the roles of your cancer treatment team, optimizing treatment, questions to ask, getting a second opinion and the role of caregivers.
<span class="blacktextgrey14"><br />
	<a href="http://www.facingourrisk.org/index.php">FORCE</a> - National nonprofit organization devoted to hereditary breast and ovarian cancer.
<span class="blacktextgrey14"><br />
	<a href="www.her2support.org">Her2 Support Organization</a> - Especially for her2 diagnosed patients.
<span class="blacktextgrey14"><br />
	<a href="http://komen.org">Susan G. Komen for the Cure</a> - Information on diagnosis, treatment and living with cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.lbbc.org/">Living Beyond Breast Cancer</a> - The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training. The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training.
<span class="blacktextgrey14"><br />
	<a href="http://nyp.org/services/war/index.html">Women At Risk</a> - For those at high risk for the development of breast cancer and women with breast cancer with information on research, education and support.
<span class="blacktextgrey14"><br />
	<a href="http://www.thebreastcaresite.com/tbcs">the Breast Care Site</a> - Covers types of cancers, before and after surgery information.
<br /><br />
<a name="patientadvocacy"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Patient Advocacy</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://annieappleseedproject.org">Annie Appleseed Project</a> Provides information, education, advocacy, and awareness for people with cancer and their family and friends.
<span class="blacktextgrey14"><br />
	<a href="http://breastcancerdeadline2020.org">National Breast Cancer Coalition</a> - How to get involved to end breast cancer by 2020.
<span class="blacktextgrey14"><br />
	<a href="http://www.canceradvocacy.org">The National Coalition for Cancer Survivorship</a> - The oldest survivor-led cancer advocacy organization in the country, advocating for quality cancer care for all Americans and empowering cancer survivors.
<span class="blacktextgrey14"><br />
	<a href="http://www.keep-a-breast.org">Keep A-Breast Organization</a> - Raising awareness about early detection.
<span class="blacktextgrey14"><br />
	<a href="http://www.patientpower.info">Patient Power</a> - Dedicated to helping you and your loved ones gain the knowledge needed to make the smartest choices about your health as you seek to fight back against a serious health concern.
<span class="blacktextgrey14"><br />
	<a href="http://selfchec.org">Self Chec</a> - Step by step instruction on self-exams.
<br /><br />
<a name="prevention"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Prevention</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.aicr.org/site/PageServer?pagename=reduce_cancer_prevention_home">American Institute for Cancer Research</a> - How a combination of a healthy diet, regular physical activity and healthy body weight can lower your risk of cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.b4bc.org/">Boarding for Breast Cancer</a> - For teens and young adults about detection and prevention of breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.bebrightpink.org/home/">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.gov/cancertopics/prevention">National Cancer Institute</a> -  General information about cancer prevention as well as information for specific cancers and descriptions of the concepts used in cancer-specific prevention summaries for both patients and professionals.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancer.org/Healthy/FindCancerEarly/index?ssSourceSiteId=null">American Cancer Society</a> - Cancer Screening Guidelines and Exams and test descriptions.
<span class="blacktextgrey14"><br />
	<a href="http://www.cancerproject.org/diet_cancer/index.php">The Cancer Project</a> - Covers factors contributing to cancer, nutrition and the roles of exercise and stress management.
<span class="blacktextgrey14"><br />
	<a href="http://www.cdc.gov/cancer/nbccedp/">Centers for Disease Control and Prevention</a> - 
Provides access to breast and cervical cancer screening services to underserved women in all 50 states, the District of Columbia, 5 U.S. territories, and 12 tribes.
<span class="blacktextgrey14"><br />
	<a href="http://healthfinder.gov/prevention/">US Department of Health and Human Services</a> - Information on cancer screening and prevention.
<span class="blacktextgrey14"><br />
	<a href="http://selfchec.org/main/">Self-Chec</a> - Self-Chec -Step by step instruction on self-exams.
<br /><br />
<a name="reconstructive"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Reconstructive surgery and other options</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.bosombuddies.org/">Bosom Buddies</a> - This website offers DVD’s including one for children, one for the husband and one about reconstructive surgery.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastflap.com/">Breastflap</a> - Reconstruction using own tissue with a list of surgeons state by state.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastfree.org/">Breast Free</a> - For women considering whether or not to have reconstruction and for women who have already decided against reconstruction.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastreconstructionmatters.com/">Breast Reconstruction Matters</a> - A comprehensive guide about reconstruction with all of the options.
<span class="blacktextgrey14"><br />
	<a href="http://www.breastreconstruction.org/">Breast Reconstruction Organization</a> - Help empower women to make informed choices about breast reconstruction.
<span class="blacktextgrey14"><br />
	<a href="http://www.whyiworelipstick.com/v2/home.html">Why I wore Lipstick</a> - Stories form women who have had mastectomies.
<span class="blacktextgrey14"><br />
	<a href="http://www.yourbreastoptions.com/en-us/Pages/">Your Breast Options</a> - Education on breast reconstruction and what you need to know to prepare and recover.
<br /><br />
<a name="reproductive"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Reproductive needs</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.fertilehope.org/">Fertile Hope</a> - Providing reproductive information, support and hope to cancer patients and survivors whose medical treatments present the risk of infertility .
<span class="blacktextgrey14"><br />
	<a href="http://myoncofertility.org/">The Oncofertility Consortium at North Western University</a> - 
Providing information on fertility and cancer.
<span class="blacktextgrey14"><br />
	<a href="http://oncofertility.northwestern.edu">The Oncofertility Consortium at North Western University</a> - The Oncofertility Consortium is dedicated to the advancement of technologies that will provide improved fertility preservation for survivors of cancer and other serious diseases.
<span class="blacktextgrey14"><br />
	<a href="http://www.pregnantwithcancer.org/">Hope for Two</a> - Being pregnant and having cancer at the same time.
<br /><br />
<a name="triplenegative"></a>
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Triple Negative</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://tnbcfoundation.org">Triple Negative Breast Cancer Foundation</a> - Raising awareness of triple negative breast cancer and to support scientists and researchers in their efforts to determine the definitive causes of triple negative breast cancer, so that effective detection, diagnosis, prevention and treatment can be pursued and achieved.
<span class="blacktextgrey14"><br />
	<a href="http://www.triplestepforthecure.org/index.php">Triple Step for the Cure</a> - Information on triple negative breast cancer.
<br /><br />
<a name="youngsurvivors"></a>		
<div id="dashedborder" style="width:590px;"></div><br /></span>

<span class="bluetext14"><strong>Young Survivors</strong></span>
<span class="blacktextgrey14"><br />
	<a href="http://www.bebrightpink.org/home/">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.kristylasch.org/">Kristy Lasch Miracle Foundation</a> - Financial services to women under 30 with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://marlenaproject.webs.com/">Beating Cancer in Heels</a> - Encouraging young women to still embrace their femininity and live their lives with confidence while fighting cancer.
<span class="blacktextgrey14"><br />
	<a href="http://www.nowwhat.org.au/">Now What</a> - Designed to educate, connect, support and empower young people throughout their cancer experience.
<span class="blacktextgrey14"><br />
	<a href="http://rethinkbreastcancer.com/">Rethink</a> - Breast cancer charity to bring bold, relevant awareness to the under-40 crowd; foster a new generation of young and influential breast cancer supporters; infuse sass and style into the cause; and, most importantly, respond to the unique needs of young (or youngish) women going through it.
<span class="blacktextgrey14"><br />
	<a href="http://www.sharsheret.org">Sharsheret</a> - Linking young Jewish women with breast cancer.
<span class="blacktextgrey14"><br />
	<a href="http://stupidcancer.com/">I’m Too Young For This</a> - Dealing with being diagnosed with cancer as a young adult.
<span class="blacktextgrey14"><br />
	<a href="http://www.ulmanfund.org/">The Ulman Cancer for Young Adults Foundation</a> - Working at a grassroots level to support, educate, connect and empower young adult cancer survivors.
<span class="blacktextgrey14"><br />
	<a href="http://www.youngcancerspouses.org/">Young Cancer Spouses</a> - A support community for spouses of young cancer patients.
<span class="blacktextgrey14"><br />
	<a href="http://www.youngsurvival.org/">Young Survivor Coalition</a> - Dealing with breast cancer at a young age.
<span class="blacktextgrey14"><br />
	<a href="http://www.ywbc.ca/">Young Women with Breast Cancer Support</a> - Addresses issues related to the loss of fertility, premature menopause, disruptions of careers and relationships.
<br /><br />
