#{extends 'static-resources.html' /}
#{set pageHeader:'Newly Diagnosed Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://news.cancerconnect.com/newly-diagnosed/your-cancer-treatment-team/">Cancer Connect </a> - Breakdown of diagnosis, the roles of your cancer treatment team, optimizing treatment, questions to ask, getting a second opinion and the role of caregivers.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.facingourrisk.org/index.php">FORCE</a> - National nonprofit organization devoted to hereditary breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="www.her2support.org">Her2 Support Organization</a> - Especially for her2 diagnosed patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://komen.org">Susan G. Komen for the Cure</a> - Information on diagnosis, treatment and living with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.lbbc.org/">Living Beyond Breast Cancer</a> - The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training. The Coalition is committed to improving the health and well being of lesbian, gay, bisexual, and transgender individuals through federal advocacy that is focused on research, policy, education, and training.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nyp.org/services/war/index.html">Women At Risk</a> - For those at high risk for the development of breast cancer and women with breast cancer with information on research, education and support.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.thebreastcaresite.com/tbcs">the Breast Care Site</a> - Covers types of cancers, before and after surgery information.
<br /><br />

