#{extends 'static.html' /}
#{set pageHeader:'Resource Categories' /}

<span class="blacktextgrey14"><br />
	<a href="resources_beauty">Beauty</a><br/>
	<a href="resources_careerlegal">Career/Legal</a><br/>
	<a href="resources_chemotherapy">Chemotherapy</a><br/>
	<a href="resources_clinicaltrials">Clinical Trials</a><br/>
	<a href="resources_emotionalsupport">Emotional Support</a><br/>
	<a href="resources_ethnicity">Ethnicity</a><br/>
	<a href="resources_familychildren">Family/Children</a><br/>
	<a href="resources_finances">Finances</a><br/>
	<a href="resources_gender">Gender</a><br/>
	<a href="resources_generalhealth">General Health</a><br/>
	<a href="resources_healthfitnessnutrition">Health/Fitness/Nutrition</a><br/>
	<a href="resources_inflammatory">Inflammatory Breast Cancer</a><br/>
	<a href="resources_intimacysexuality">Intimacy/Sexuality</a><br/>
	<a href="resources_lgbt">LBGT</a><br/>
	<a href="resources_newlydiagnosed">Newly Diagnosed/At Risk</a><br/>
	<a href="resources_patientadvocacy">Patient Advocacy</a><br/>
	<a href="resources_prevention">Prevention</a><br/>
	<a href="resources_reconstructivesurgery">Reconstructive surgery and other options</a><br/>
	<a href="resources_reproductive">Reproductive Needs</a><br/>
	<a href="resources_triplenegative">Triple Negative Breast Cancer</a><br/>
	<a href="resources_youngsurvivors">Young Survivors</a><br/>
<br /><br />
