#{extends 'static-resources.html' /}
#{set pageHeader:'Gender Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.menagainstbreastcancer.org/" target="_blank">Men Against Breast Cancer</a> - Designed for male caregivers to empower and educate them on how to care for a loved one with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="https://malebreastcancer.org/Home_Page.php" target="_blank">John W. Nick Foundation, Inc.</a> - About the risk of breast cancer in men, and provides preventive and reactive measures to cancer through education and research.
<span class="blacktextgrey14" target="_blank"><br /><br />
	Men's Crusade Against Breast Cancer: 703-978-3336
<span class="blacktextgrey14" target="_blank"><br /><br />
	<a href="http://www.menstuff.org/issues/byissue/breastcancer.html" target="_blank">Menstuff</a> - Information about breast cancer in men, how it can affect their children and how to give support to a wife with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngcancerspouses.org/" target="_blank">Young Cancer Spouses</a> - A support community for spouses of young cancer patients.
<br /><br />

