#{extends 'static-resources.html' /}
#{set pageHeader:'Young Survivors Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://www.bebrightpink.org/home/">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.kristylasch.org/">Kristy Lasch Miracle Foundation</a> - Financial services to women under 30 with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://marlenaproject.webs.com/">Beating Cancer in Heels</a> - Encouraging young women to still embrace their femininity and live their lives with confidence while fighting cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://firstdescents.org/">First Descents</a> - Outdoor adventure sports for healing in young adults with cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://stupidcancer.com/">I’m Too Young For This</a> - Dealing with being diagnosed with cancer as a young adult.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.kcc.tju.edu/kcc/clinical/patients/supportprograms/navnewnormal/">Navigating the New Normal</a> - provide support and education for individuals between the ages of 18 and 40 in the Philadelphia region who are living with cancer or a history of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.nowwhat.org.au/">Now What</a> - Designed to educate, connect, support and empower young people throughout their cancer experience.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.planetcancer.org/">Planet Cancer</a> - The world's largest online community of young adults who have been affected by cancer and
offers weekend retreat programs bringing together young adults for recreation and personal exploration with their peers, helping them forge connections that will sustain them as they move on with their lives, in or out of treatment.

<span class="blacktextgrey14"><br /><br />
	<a href="http://rethinkbreastcancer.com/">Rethink</a> - Breast cancer charity to bring bold, relevant awareness to the under-40 crowd; foster a new generation of young and influential breast cancer supporters; infuse sass and style into the cause; and, most importantly, respond to the unique needs of young (or youngish) women going through it.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.sharsheret.org">Sharsheret</a> - Linking young Jewish women with breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivoralert.org/">Survivor Alert</a> - Helping young survivors make their future as healthy as possible, know about their long-term
risks and get skills to take action.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.teenswithcancer.org/">Teens Living with Cancer</a> - For young adults, a special web site offering tips, resources and a chat community.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.ulmanfund.org/">The Ulman Cancer for Young Adults Foundation</a> - Working at a grassroots level to support, educate, connect and empower young adult cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngadultcancer.ca/">Young Adult Cancer</a> - A community of young adults diagnosed with cancer that provides information, support, skills
and opportunity.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngcancerspouses.org/">Young Cancer Spouses</a> - A support community for spouses of young cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngempowered.org/">Young Empowered Survivors</a> - Helps connect young women dealing with a cancer diagnosis. The group focuses on support, empowerment, sharing perspectives and resources so that our members don't feel alone as they go through their cancer diagnosis and treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.youngsurvival.org/">Young Survivor Coalition</a> - Dealing with breast cancer at a young age.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.ywbc.ca/">Young Women with Breast Cancer Support</a> - Addresses issues related to the loss of fertility, premature menopause, disruptions of careers and relationships.
<br /><br />
