#{extends 'static-resources.html' /}
#{set pageHeader:'Complementary and Alternative' /}

<span class="blacktextgrey14"><br />
	<a href="http://annieappleseedproject.org">Annie Appleseed Project</a> - Provides information, education, advocacy, and awareness for people with cancer and their family and friends.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.canceractive.com" target="_blank">Cancer Active</a> - an independent charity that aims to help people increase their personal odds of beating cancer.  To achieve this we believe in empowering people – to understand the possible causes and to build effective integrated therapy programs, using well-researched, Complementary and Alternative therapies.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.pennybrohncancercare.org" target="_blank">Penny Brohn Cancer Care</a> - the UK's leading charity which offers specialist support including complementary therapies, advice & counseling for people living with cancer & their supporters. All services are offered free of charge.
<span class="blacktextgrey14"><br /><br />
	<a href="http://youcanthrive.org" target="_blank">You Can Thrive</a> - Information on meditation, exercise, nutrition and complimentary medicine.


<br /><br />


