#{extends 'static-resources.html' /}
#{set pageHeader:'Fitness Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://www.stayingabreast.com" target="_blank">StayingABreast</a> - This website offers different exercises that can be used after breast cancer surgery to prevent scar tissue from affecting mobility.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.gohealthysteps.com" target="_blank">Healthy Steps</a> - Focus on healing through fitness and dance.
<span class="blacktextgrey14"><br /><br />
	<a href="http://movingonaerobics.org" target="_blank">Moving on Aerobics</a> - Aerobic classes for cancer patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.survivorsretreat.com" target="_blank">Team Survivor</a> - Affiliates provide group exercise and support programs for women with a present or past diagnosis of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://healthfinder.gov/prevention" target="_blank">US Department of Health and Human Services</a> - The government’s guidelines on how to start an exercise program.
<span class="blacktextgrey14"><br /><br />
	<a href="http://wecanrowdc.org" target="_blank">We Can Row DC</a> - Weekend long rowing classes for cancer patients.
<br /><br />

