#{extends 'static-resources.html' /}
#{set pageHeader:'Intimacy/Sexuality Resources' /}

<span class="blacktextgrey14"><br />
	<a href="http://nosurrenderbreastcancerhelp.org" target="_blank">No Surrender Breast Cancer Foundation</a> -  A website where survivors can talk to the newly diagnosed.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.solosurvivors.org" target="_blank">Solo Survivors</a> -  support for single people who are dealing with cancer who are facing similar challenges for support, sharing and advice.

<br /><br />

