#{extends 'static-resources.html' /}
#{set pageHeader:'Prevention Resources' /}



<span class="blacktextgrey14"><br />
	<a href="http://15-40.org/" target="_blank">15-40</a> - Dedicated to creating a world where "invincible" adolescents and young adults take their medical care and cancer screenings seriously by motivating teens and young adults to take action when they notice changes in their normal health and to be strong self-advocates when their instincts tell them something is wrong in order to save lives and improve cancer survival rates.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org/Healthy/FindCancerEarly/index?ssSourceSiteId=null" target="_blank">American Cancer Society</a> - Cancer Screening Guidelines and Exams and test descriptions.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.aicr.org/site/PageServer?pagename=reduce_cancer_prevention_home" target="_blank">American Institute for Cancer Research</a> - How a combination of a healthy diet, regular physical activity and healthy body weight can lower your risk of cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.b4bc.org/" target="_blank">Boarding for Breast Cancer</a> - For teens and young adults about detection and prevention of breast cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.bebrightpink.org/home/" target="_blank">Bright Pink</a> - For teens and young women on how to check for and learn about breast and ovarian cancer.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cdc.gov/cancer/nbccedp/" target="_blank">Centers for Disease Control and Prevention</a> - 
Provides access to breast and cervical cancer screening services to underserved women in all 50 states, the District of Columbia, 5 U.S. territories, and 12 tribes.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.keep-a-breast.org">Keep A-Breast Organization</a> - Raising awareness about early detection.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.gov/cancertopics/prevention" target="_blank">National Cancer Institute</a> -  General information about cancer prevention as well as information for specific cancers and descriptions of the concepts used in cancer-specific prevention summaries for both patients and professionals.
<span class="blacktextgrey14"><br /><br />
	<a href="http://selfchec.org/main/" target="_blank">Self-Chec</a> - Self-Chec -Step by step instruction on self-exams.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancerproject.org/diet_cancer/index.php" target="_blank">The Cancer Project</a> - Covers factors contributing to cancer, nutrition and the roles of exercise and stress management.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.touchyourselftrustyourself.ca/" target="_blank">Touch Yourself, Trust Yourself</a> - Information and videos that will help you learn about and take care of your body.
<span class="blacktextgrey14"><br /><br />
	<a href="http://healthfinder.gov/prevention/" target="_blank">US Department of Health and Human Services</a> - Information on cancer screening and prevention.
<br /><br />

