#{extends 'static-resources.html' /}
#{set pageHeader:'General Cancer Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.org/" target="_blank">American Cancer Society</a> - A comprehensive guide to all forms of cancer with topics including how to stay healthy, how to talk to children or family members and recent research.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.asco.org/" target="_blank">American Society of Clinical Oncology</a> - Dedicated to issues unique to clinical oncology.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancer.net" target="_blank">Cancer.net</a> - Developed by the American Society of Clinical Oncology (ASCO), Cancer.Net contains comprehensive and up-to-date information for all people affected by cancer. All content is approved by cancer doctors who are members of ASCO.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cancerquest.org/" target="_blank">CancerQuest</a> - Cancer education and outreach program at Emory University.  We provide reliable information about cancer biology and treatment..
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.cdc.gov/omhd/default.htm" target="_blank">Center for Disease Control and Prevention</a> - Aims to accelerate CDC’s health impact in the U.S population and to eliminate health disparities for vulnerable populations as defined by race/ethnicity, socio-economic status, geography, gender, age, disability status, risk status related to sex and gender, and among other populations identified to be at-risk for health disparities.
<span class="blacktextgrey14"><br /><br />
	<a href="http://curetoday.com" target="_blank">Cure Magazine</a> - Covers all types of cancer from diagnosis to after treatment.
<span class="blacktextgrey14"><br /><br />
	<a href="http://dslrf.org/breastcancer/" target="_blank">Dr. Susan Love Research Foundation</a> - Created for women and men interested in breast cancer prevention, detection, treatment, and long-term survivorship.
<span class="blacktextgrey14"><br /><br />
	<a href="http://embodiworks.org/" target="_blank">EmbodiWorks</a> - Integrative cancer care.
<span class="blacktextgrey14"><br /><br />
	<a href="http://livestrong.org" target="_blank">LiveStrong</a> - Empowering the cancer community to address the unmet needs of cancer survivors.
<span class="blacktextgrey14"><br /><br />
	<a href="http://managecancer.org" target="_blank">ManageCancer.org</a> - Provides cancer patients and their loved ones with information and links to valuable resources.  ManageCancer.org continually researches the available resources and brings the best of them together in one manageable location.
<span class="blacktextgrey14"><br /><br />
	<a href="http://nccam.nih.gov/" target="_blank">National Center for Complementary and Alternative Medicine</a> - Offers information on complimentary and alternative medicine.
<span class="blacktextgrey14" target="_blank"><br /><br />
<a href="http://www.ons.org/" target="_blank">Oncology Nursing Society</a> - Provides nurses with the cancer information needed to help patients.
<span class="blacktextgrey14"><br /><br />
	<a href="http://www.patientpower.info" target="_blank">Patient Power</a> - Dedicated to helping you and your loved ones gain the knowledge needed to make the smartest choices about your health as you seek to fight back against a serious health concern.
<br /><br />

