#{extends 'static.html' /}
#{set pageHeader:'Resource Categories' /}

<span class="blacktextgrey14"><br />
	<a href="resources_beauty">Beauty</a><br/>
	<a href="resources_breastcancer_products">Breast Cancer Products</a><br/>
	<a href="resources_career_legal">Career/Legal</a><br/>
	<a href="resources_caregivers">Caregivers</a><br/>
	<a href="resources_chemotherapy">Chemotherapy</a><br/>
	<a href="resources_clinical_trials">Clinical Trials</a><br/>
	<a href="resources_complementary_alternative">Complementary and Alternative</a><br/>
	<a href="resources_emotional_support">Emotional Support</a><br/>
	<a href="resources_ethnicity">Ethnicity</a><br/>
	<a href="resources_family_children">Family/Children</a><br/>
	<a href="resources_finances">Finances</a><br/>
	<a href="resources_fitness">Fitness</a><br/>
	<a href="resources_gender">Gender</a><br/>
	<a href="resources_general_breast_cancer">General Breast Cancer Resources</a><br/>
	<a href="resources_general_cancer">General Cancer Resources</a><br/>
	<a href="resources_general_health_care">General Health Care Resources</a><br/>
	<a href="resources_nutrition">Nutrition</a><br/>
	<a href="resources_inflammatory">Inflammatory Breast Cancer</a><br/>
	<a href="resources_intimacy_sexuality">Intimacy/Sexuality</a><br/>
	<a href="resources_lgbt">LBGT</a><br/>
	<a href="resources_metastatic_breast_cancer">Metastatic Breast Cancer</a><br/>
	<a href="resources_newly_diagnosed">Newly Diagnosed/At Risk</a><br/>
	<a href="resources_nursing">Nursing</a><br/>
	<a href="resources_online_cancer_communities">Online Cancer Communities</a><br/>
	<a href="resources_patient_advocacy">Patient Advocacy</a><br/>
	<a href="resources_prevention">Prevention</a><br/>
	<a href="resources_reconstructive_surgery">Reconstructive surgery and other options</a><br/>
	<a href="resources_reproductive">Reproductive Needs</a><br/>
	<a href="resources_retreats">Retreats</a><br/>
	<a href="resources_triple_negative">Triple Negative Breast Cancer</a><br/>
	<a href="resources_young_survivors">Young Survivors</a><br/>
<br /><br />
