#{extends 'static-resources.html' /}
#{set pageHeader:'General Health Care Resources' /}

<span class="blacktextgrey14"><br /><br />
	<a href="http://www.preparedpatientforum.org/" target="_blank">Prepared Patient</a> - helps people find good health care and make the most of it. The Forum offers a place for people to read and share experiences about seeking health care; it provides links to trusted and helpful resources; and it publishes the latest news about research related to the decisions people must make about their health and their care..
<br /><br />

