#{extends 'static.html' /}
#{set pageHeader:'Trained Peer Support Program' /}
<span class="blacktextgrey18">In partnership with: <br /><br /></span><a href="http://ShareCancerSupport.org" target="_blank"><img src="/public/images/Share35Logo.jpg"  width="400" border="0" style="margin-top:0px;margin-left:5px;"/></a><br/></span>
<span class="blacktextgrey16"><br/>
	Connect with a survivor trained by <a href="http://ShareCancerSupport.org" target="_blank" class="bluetext16">SHARE</a> to help you understand your health situation, deal with every step of the process, from diagnosis to survivorship, think through your choices, and find hope.<br/></span>
<span class="blacktextgrey14"><br/>
	It's easy to get started.  You can either:<br/><br/>
	1) Send an email to <span class="bluetext14"><a href="mailto:support@talkabouthealth.com">support@talkabouthealth.com</a></span> and we'll match you with a trained survivor.<br/>
	2) Send a direct message to one of the peer survivors below.<br/>
	3) Call 866-891-2392 if you would like to speak directly with someone who's been there.<br/><br/>

Trained peers will also be participating on TalkAboutHealth by answering questions and sharing thoughts.  Feel free to reach out to them at any time.<br/><br/>
<span class="blacktext18">SHARE Trained Survivors<br/><br/></span>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("Melissa")}"><img src="/public/images/Melissa.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("Melissa")}" target="_blank">Melissa</a></strong></span><br />
	<span class="blacktextgrey14">I was diagnosed in 2005 with estrogen positive, Stage 2 breast cancer. My treatment included lumpectomy, chemotherapy (ACT), and radiation. In 2010, I became a volunteer at SHARE, an organization in NYC that supports women with breast and ovarian cancer. I volunteer on its Hotline and facilitate an ongoing support group for women with breast cancer. I am in my fifties and I have two grown sons. <br /><br />
</div><br/><br/>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("Viva")}"><img src="/public/images/Viva.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("Viva")}" target="_blank">Viva</a></strong></span><br />
	<span class="blacktextgrey14">When I was diagnosed with breast cancer in 2005, I had every imaginable kind of support: a top-notch medical team, good health insurance, a loving mate, helpful kids, great friends, colleagues who covered for me when I needed them to. And still I struggled with fear and sadness. The things that helped me cope with those: sister survivors--and yoga.<br /><br />
</div>


