#{set currentPage:'workshop' /}
#{extends 'static.html' /}
#{set pageHeader:'Workshops and Events' /}
<div id="boxes">
	<div id="dialog" class="window"></div>
	#{if !talker}
		#{ newsletter/emailpopup /}
	#{/if}
</div>
<div id="mask"></div>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktext20"><br />Expert Q&A Workshops</span><span class="blacktextgrey14"><a href="past_workshops">&nbsp;&nbsp;(Past workshops)</a></span><br/><br/></span>
<span class="blacktextgrey14"><br />
	Answers from the leading cancer experts in their fields.  Our free educational question and answer sessions give you exclusive access to premiere medical professionals.  Ask questions before or during the session.<br/><br/>

<!-- <span class="blacktext18">July<br/><br/></span>-->
<!-- <span class="blacktext16">More coming soon!<br /><br /></span>-->




<span class="blacktext18">August<br/><br/></span>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferNamChoiMD")}"><img src="/public/images/JenniferNamChoiMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Basal Cell Carcinoma and Melanoma</strong> (Mon, August 5th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferNamChoiMD")}" target="_blank">Jennifer Nam Choi</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor of Dermatology and Director of the Yale Oncodermatology Clinic<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferNamChoiMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("RichardPensonMD")}"><img src="/public/images/RichardPensonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Ovarian Cancer</strong> (Tues, August 6th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardPensonMD")}" target="_blank">Richard Penson</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Harvard Medical School<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("RichardPensonMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LeoWangMDPhD")}"><img src="/public/images/LeoWangMDPhD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pediatric Stem Cell Transplantation</strong> (Wed, August 8th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeoWangMDPhD")}" target="_blank">Leo Wang</a>, MD, PhD</strong></span><br />
	<span class="blacktextgrey14">Instructor in Pediatrics, Harvard Medical School<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LeoWangMDPhD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("CraigHendersonMD")}"><img src="/public/images/CraigHendersonMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology</strong> (Mon, August 12th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CraigHendersonMD")}" target="_blank">Craig Henderson</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Adjunct Professor, UCSF<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("CraigHendersonMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>
