#{set currentPage:'workshop' /}
#{extends 'static.html' /}
#{set pageHeader:'Workshops and Events' /}
<div id="boxes">
	<div id="dialog" class="window"></div>
	#{if !talker}
		#{ newsletter/emailpopup /}
	#{/if}
</div>
<div id="mask"></div>
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktext20"><br />Expert Q&A Workshops</span><span class="blacktextgrey14"><a href="past_workshops">&nbsp;&nbsp;(Past workshops)</a></span><br/><br/></span>
<span class="blacktextgrey14"><br />
	Answers from the leading medical experts in their fields.  Our free educational question and answer sessions give you exclusive access to premiere medical professionals.  Ask questions before or during the session.<br/><br/>

<!-- <span class="blacktext18">July<br/><br/></span>-->
<!-- <span class="blacktext16">More coming soon!<br /><br /></span>-->


<span class="blacktext18">February<br/><br/></span>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("IgorPuzanovMD")}"><img src="/public/images/IgorPuzanovMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Melanoma Oncology</strong> (Monday, February 17th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("IgorPuzanovMD")}" target="_blank">Igor Puzanov</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Vanderbilt University<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("IgorPuzanovMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("JenniferDiamondMD")}"><img src="/public/images/JenniferDiamondMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Oncology</strong> (Tuesday, February 18th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferDiamondMD")}" target="_blank">Jennifer Diamond</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at University of Colorado<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("JenniferDiamondMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("GlenWeissMD")}"><img src="/public/images/GlenWeissMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Lung Cancer Oncology</strong> (Wednesday, February 19th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GlenWeissMD")}" target="_blank">Glen Weiss</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Director of Clinical Research at Cancer Treatment Centers of America (CTCA) at Western Regional Medical Center<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("GlenWeissMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BarryGreenbergMD")}"><img src="/public/images/BarryGreenbergMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Congestive Heart Failure</strong> (Friday, February 21st)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BarryGreenbergMD")}" target="_blank">Barry Greenberg</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Professor at the University of California, San Diego<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BarryGreenbergMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("StanleyLiauwMD")}"><img src="/public/images/StanleyLiauwMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Gastrointestinal Radiation Oncology</strong> (Monday, February 24th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StanleyLiauwMD")}" target="_blank">Stanley Liauw</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at University of Chicago<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("StanleyLiauwMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("ToddBauerMD")}"><img src="/public/images/ToddBauerMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Pancreatic Cancer</strong> (Tuesday, February 25th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ToddBauerMD")}" target="_blank">Todd Bauer</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at University of Virginia<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("ToddBauerMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("PhilipFriedlanderMD")}"><img src="/public/images/PhilipFriedlanderMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Basal Cell Carcinoma</strong> (Wednesday, February 26th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PhilipFriedlanderMD")}" target="_blank">Philip Friedlander</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Mount Sinai<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("PhilipFriedlanderMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("LiliBarouchMD")}"><img src="/public/images/LiliBarouchMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Congestive Heart Failure</strong> (Friday, February 28th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LiliBarouchMD")}" target="_blank">Lili Barouch</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Associate Professor at Johns Hopkins<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("LiliBarouchMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>



<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("KristenGanjooMD")}"><img src="/public/images/KristenGanjooMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Sarcoma</strong> (Monday, March 3rd)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("KristenGanjooMD")}" target="_blank">Kristen Ganjoo</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Stanford<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("KristenGanjooMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("EiranGorodeskiMDMPH")}"><img src="/public/images/EiranGorodeskiMDMPH.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Congestive Heart Failure</strong> (Tuesday, March 4th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EiranGorodeskiMDMPH")}" target="_blank">Eiran Gorodeski</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Assistant Professor at Cleveland Clinic<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EiranGorodeskiMDMPH")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("BJRimelMD")}"><img src="/public/images/BJRimelMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Endometrial Cancer</strong> (Wednesday, March 5th)</span><br />

	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BJRimelMD")}" target="_blank">BJ Rimel</a>, MD, MPH</strong></span><br />
	<span class="blacktextgrey14">Gynecologic Oncologist at Cedars-Sinai<br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("BJRimelMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

