#{extends 'static.html' /}
#{set pageHeader:'Workshops and Events' /}
		
<div id="dashedborder" style="width:590px;"></div>
<span class="blacktext20"><br />Expert Q&A Workshops</span><br/>
<span class="blacktextgrey14"><br />
	Answers from the leading cancer experts in their fields.  Our free educational question and answer sessions give you exclusive access to premiere medical professionals.  Ask questions before or during the session.<br/><br/>

<!-- <span class="blacktext18">July<br/><br/></span>-->
<!-- <span class="blacktext16">More coming soon!<br /><br /></span>-->

<span class="blacktext18">September<br/><br/></span>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("naotoueno")}"><img src="/public/images/naotoueno.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Inflammatory Breast Cancer</strong> (Tuesday, Sep. 20th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("naotoueno")}" target="_blank">Naoto Ueno</a>, MD</strong></span><br />
	<span class="blacktextgrey14">MD Anderson Cancer Center, Houston, TX<br />
	<span class="blacktextgrey14">Ask Dr. Ueno questions about inflammatory breast cancer.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("naotoueno")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("amooremd")}"><img src="/public/images/amooremd.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Radiology</strong> (Wednesday, Sep. 21st)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("amooremd")}" target="_blank">Ann Moore</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Radiology Center of Harding, Harding, NJ<br />
	<span class="blacktextgrey14">Ask Dr. Moore questions about radiology.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("amooremd")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("MarneeSpiererMD")}"><img src="/public/images/spierer110px.jpg" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Cancer Radiation Oncology</strong> (Tuesday, Sep. 27th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MarneeSpiererMD")}" target="_blank">Marnee Spierer</a>, MD</strong></span><br />
	<span class="blacktextgrey14">The Farber Center for Radiation Oncology, New York, NY<br />
	<span class="blacktextgrey14">Ask Dr. Spierer questions about breast cancer radiation oncology.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("MarneeSpiererMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<br />
<span class="blacktext18">October<br/><br/></span>


<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("naotoueno")}"><img src="/public/images/drattai.jpeg" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Surgery</strong> (Tuesday, Oct. 4th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DrAttai")}" target="_blank">Deanna Attai</a>, MD</strong></span><br />
	<span class="blacktextgrey14">Center for Breast Care, Burbank, CA<br />
	<span class="blacktextgrey14">Ask Dr. Attai questions about breast surgery.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("DrAttai")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("Dr._Ann_Becker-Schutte")}"><img src="/public/images/Dr._Ann_Becker-Schutte.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Emotional Health</strong> (Tuesday, Oct. 11th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("Dr._Ann_Becker-Schutte")}" target="_blank">Ann Becker-Schutte</a>, PhD</strong></span><br />
	<span class="blacktextgrey14">Kansas City, MO<br />
	<span class="blacktextgrey14">Ask Dr. Becker-Schutte questions about emotional health.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("Dr._Ann_Becker-Schutte")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("sfeldman")}"><img src="/public/images/sfeldman.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Surgery</strong> (Tuesday, Oct. 18th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("sfeldman")}" target="_blank">Sheldon Feldman</a>, MD</strong></span><br />
	<span class="blacktextgrey14">New York Presbyterian - Columbia, New York, NY<br />
	<span class="blacktextgrey14">Ask Dr. Feldman questions about breast cancer screening and nipple sparing mastectomy.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("sfeldman")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id=partnerlogo1 style="height:130px;width:130px;float:left;">
	<a href="@{ViewDispatcher.view("EleniTousimisMD")}"><img src="/public/images/EleniTousimisMD.gif" alt="" width="110"/></a>
</div>
<div id=partnerdescription1 style="height:130px;width:460px;float:left;">
	<span class="blacktext16"><strong>Breast Surgery</strong> (Tuesday, Oct. 18th)</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EleniTousimisMD")}" target="_blank">Eleni Tousimis</a>, MD</strong></span><br />
	<span class="blacktextgrey14">New York Presbyterian - Weill Cornell, New York, NY<br />
	<span class="blacktextgrey14">Ask Dr. Tousimis questions about breast surgery and minimally invasive treatment options.</span><br />
	<span class="blacktextgrey14"><strong><a href="@{ViewDispatcher.view("EleniTousimisMD")}" target="_blank">Ask Now!</a></strong></span><br /><br />
</div>

<div id="dashedborder" style="width:590px;"></div><br />
<br />
<span class="blacktext20">Upcoming Events<br/><br/></span>
<span class="blacktext18">September<br/><br/></span>
<span class="blacktext16"><a href="https://www.surveymonkey.com/s/WashingtonDC2011Registration" target="_blank"><strong>Cancer Rights Conference</strong></a> by Cancer Legal Resources<br />
(September 23rd, 9AM ET - Washington DC)</span><br /><br />
<span class="blacktext16"><a href="http://www.cancerandcareers.org/en/community/events/practical-advice-and-tools-fall-2011" target="_blank"><strong>Practical Advice to Balance Cancer and Employment</strong></a> by Cancer and Careers<br />
(September 29th, 3PM ET - Teleconference)</span><br /><br />

<span class="blacktext18">October<br/><br/></span>
<span class="blacktext16"><a href="http://lbbc.org/Events/LBBC-Annual-Conference" target="_blank"><strong>LBBC Annual Conference</strong></a> by Living Beyond Breast Cancer<br />
(October 1st, 9AM ET - Philadelphia, PA)</span><br /><br />
<span class="blacktext16"><a href="http://www.cancercare.org/connect_workshops/249-breast_cancer_bone_care_2011-10-07" target="_blank"><strong>Caring For Your Bones When You Have Breast Cancer</strong></a> by Cancer Care<br />
(October 7th, 1:30PM ET - Teleconference)</span><br /><br />
<span class="blacktext16"><a href="http://www.cancercare.org/connect_workshops/254-metastatic_breast_cancer_treatment_progress_2011-10-13" target="_blank"><strong>Progress in the Treatment of Metastatic Breast Cancer</strong></a> by Cancer Care<br />
(October 13th, 1:30PM ET - Teleconference)</span><br /><br />
<span class="blacktext16"><a href="http://www.cancerandcareers.org/en/community/events/ask-the-experts-legal-october-2011" target="_blank"><strong>Legal Advice</strong></a> by Cancer and Careers<br />
(October 13th, 6:30PM ET - Teleconference)</span><br /><br />
<span class="blacktext16"><a href="http://mbcnetwork.org/special-events/category/2011-national-conference-md/" target="_blank"><strong>MBCN National Conference</strong></a> by Metastatic Breast Cancer Network<br />
(October 29th, 9AM ET - Baltimore, MD)</span><br /><br />

