#{set currentPage:'error' /}
#{extends 'main.html' /}
<style>
<!--
.activitiestext { width: 100%; }
.jointxtbox { width: 80%; }
-->
</style>
<script type="text/javascript">
<!--
$(document).ready(function() {
	$.post("/posterror", {},
		function(data) {
		//	$("#serverResp").html(data);
		}
	);
});
-->
</script>
</head>
<body>
	#{include 'header.html' /}
   	<div id="innerbanner"></div>
   	<div id="innermain">
        	<div style="width:100%;">
        		<div style="float: left; padding: 50px 10px 0pt;">	
        			<img class="logotopmargin" alt="Talk About Health" src="/public/images/PageNotFound.jpg" border="0"/>
       			</div>
       			<div style="float: left; padding: 15px 10px 10px;width:660px;">
					<span class="blacktext12">${message}</span>
					<br/><br/>
					<div style="font-size: 20px; float: left;">Something went wrong! Rest assured, If you have any choice words to pass along, please email <a href="mailto:support@talkabouthealth.com" style="font-size:15px;" >support@talkabouthealth.com</a> OR <a href="/contactus" style="font-size:15px;">Contact Us</a></div>
					<div style="font-size: 15px; float: left;">
					<br/>
						If you’re really stuck, here are some other options:<br/><br/>
						<ul>
							<li>Were you looking for information about our <a href="/explore/members">members</a></li>
							<li>Or you looking for specific <a href="/explore/popular">question</a></li>
							<li>Better you try our <a href="/search">search</a></li>
							<li>It might just be best to start at our <a href="/">Home</a> page</li>
						</ul>
					</div>
				</div>
				#{if resultFlag }
					<div class="resulttopics">Try browsing the related search results</div>
					#{if topicResults}
						<div class="resulttopics">Topics</div>
						<div class="topicborder"></div>
	
						#{list items: topicResults, as: 'topic'}
						<div style="clear:both;">
							<div class="resulbreast" style="clear:none;float: left;padding-top: 5px;"><a href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a></div>
							<div class="resulbreasttxt" style="clear:none;float: left;padding-top: 7px;padding-left: 10px;">${topic.followersCount} Follower(s) | ${topic.noOfConverstions} Conversation(s)</div>
						</div>
						#{/list}
					#{/if}
					#{if convoResults}
						<div class="resulttopics">Questions</div>
						<div class="topicborder"></div>
						<div class="activitiestext" id="convoList">
							#{list items: convoResults, as: 'convoResult'}
								#{feed/feedActivity activity: convoResult, talker: talker /}
							#{/list}
						</div>
					#{/if}
				#{/if}
				#{else}
				<div class="resulttopics" style="height:150px;"></div>
				#{/else}
			</div>
	</div>
	<div id="bottom_container"></div>
</body>
</html>