#{set currentPage:'error' /}
#{extends 'main.html' /}
<script type="text/javascript">
<!--
$(document).ready(function() {
	$.post("/posterror", {},
		function(data) {
		//	$("#serverResp").html(data);
		}
	);
});
-->
</script>
</head>
<body>
	#{include 'header.html' /}
   	<div id="innerbanner"></div>
   	<div id="innermain">
		#{if play.mode.name() == 'DEV'}
			#{404 result /}
		#{/if}
        #{else}
        	<div style="width:100%;">
        		<div style="float: left; padding: 0pt 10px;width:350px;">	
        			<img width="350" height="357" class="logotopmargin" 
       					alt="Talk About Health" src="/public/images/PageNotFound.jpg" border="0"/>
       			</div>
       			<div style="float: left; padding: 50px 10px 10px;width:550px;">
					<span class="blacktext12">${result.message}</span>
					<!-- <span class="blacktext12" id="serverResp"></span>  -->
					<br/><br/>
					<div style="font-size: 25px; float: left;">Something went wrong! Rest assured, If you have any choice words to pass along, please email <a href="mailto:support@talkabouthealth.com" style="font-size:15px;" >support@talkabouthealth.com</a> OR <a href="/contactus" style="font-size:15px;">Contact Us</a></div>
					<div style="font-size: 15px; float: left;">
					<br/><br/>
						If you’re really stuck, here are some other options:<br/><br/>
						<ul>
							<li>Were you looking for information about our <a href="/explore/members">members</a></li>
							<li>Or you looking for specific <a href="/explore/popular">question</a></li>
							<li>Better you try our <a href="/search">search</a></li>
							<li>It might just be best to start at our <a href="/">Home</a> page</li>
						</ul>
					</div>
				</div>
			</div>
        #{/else}
	</div>
	<div id="bottom_container"></div>
    <!-- Quantcast Tag -->
	<script type="text/javascript">
		var _qevents = _qevents || [];
		
		(function() {
		var elem = document.createElement('script');
		elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
		elem.async = true;
		elem.type = "text/javascript";
		var scpt = document.getElementsByTagName('script')[0];
		scpt.parentNode.insertBefore(elem, scpt);
		})();
		
		_qevents.push({
		qacct:"p-7aWXmxtlCHn1M"
		});
	</script>
	
	<noscript>
	<div style="display:none;">
	<img src="//pixel.quantserve.com/pixel/p-7aWXmxtlCHn1M.gif" border="0" height="1" width="1" alt="Quantcast"/>
	</div>
	</noscript>
	<!-- End Quantcast tag -->
</body>
</html>