<span style="float: left;color:#a5a5a5;">&nbsp;&nbsp;&nbsp;Cc:</span>
<div style="float: left; margin-top: -2px;">
	<input id="ccTwitter${_type}" class="ccTwitterCheckbox" type="checkbox" 
		#{if twAccount && twAccount.isTrue(_setting)} checked #{/if}
	style="float: left;" /><span style="float: left; padding-top: 2px;">Twitter</span>
	<input id="ccFacebook${_type}" class="ccFacebookCheckbox" type="checkbox" 
		#{if fbAccount && fbAccount.isTrue(_setting)} checked #{/if}
	style="float: left;" /><span style="float: left; padding-top: 2px;">Facebook</span>
</div>