
#{if _type !=null && _type=="expertConvo"}
	<div class="joinbox" id="${_convo.comments.get(0).id}">
#{/if}
#{else}
	<div class="joinbox" id="${_convo.id}">
#{/else}

	
	<div class="joinpic">
		#{if _convo.comments != null && _convo.comments.size() > 0}
			#{talker/talkerImageLink size: 48, userName: _convo.comments.get(0).fromTalker.name /}
		#{/if}
		#{else}
			#{talker/talkerImageLink size: 48, userName: _convo.talker.name /}
		#{/else}
	</div>
	<div class="jointxtbox">
		<div class="jointextstop">
			<a href="@{ViewDispatcher.view(_convo.mainURL)}">${_convo.topic}</a>
		</div>
		<div class="jointxtlink2 moretext">
			#{if _convo.comments != null && _convo.comments.size() > 0}
				${_convo.comments.get(0).text.raw()}
			#{/if}
		</div>
		<div class="joinztextlink">
			<!-- <span>3 members speaking</span> |  --> 
			#{if session.username }
				<a href="#" class="followConvoLink" rel="${_convo.id}">
					${_talker?.followingConvosList?.contains(_convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
			#{/if}
			
			*{ when the user is not logged in, change the link for "Flag" to "5 Answers" or "Answer" }*
			#{if session.username }
				<a href="#" class="flagConvoLink" rel="${_convo.id}">Flag</a> | 
			#{/if}
			#{else}
				#{if !_convo.comments || _convo.comments?.size() == 0}
					<a href="@{ViewDispatcher.view(_convo.mainURL)}#answers">Answer</a> | 
				#{/if}
				#{else}
					<a href="@{ViewDispatcher.view(_convo.mainURL)}#answers">${_convo.comments?.size()} 
						Answer${_convo.comments.pluralize()}</a> | 
				#{/else}
			#{/else}
			
			<span>
			#{if _convo.comments != null && _convo.comments.size() > 0}
				${_convo.comments.get(0).time.since()}
			#{/if}
			#{else}
				${_convo.creationDate.since()}
			#{/else}
			</span>
		</div>
		<div class="jointxtlink1">
			New answer by 
			#{if _convo.comments != null && _convo.comments.size() > 0}
				#{talker/talkerLink talker: _convo.comments.get(0).fromTalker /}
			#{/if}
			#{else}
				#{talker/talkerLink talker: _convo.talker /}
			#{/else}
			<span class="blacktext12">
				#{if _convo.comments != null && _convo.comments.size() > 0}
					#{talker/talkerInfo talker: _convo.comments.get(0).fromTalker /}
				#{/if}
				#{else}
					#{talker/talkerLink talker: _convo.talker /}
				#{/else}
			</span>
		</div>
		<div class="jointxtlink2"></div>
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>