<div id="liveTalk${_convo.id}" class="joinbox">
	<div class="joinpic">
		#{talker/talkerImageLink size: 48, userName: _convo.talker.name /}
	</div>
	<div class="jointxtbox">
		<div class="jointextstop">
			<a href="@{ViewDispatcher.view(_convo.mainURL)}">${_convo.topic}</a>
		</div>
		<div class="joinztextlink">
			<a href="#" onclick="return openChat('${_convo.tid}');">${_convo.numOfChatters} user(s) chatting</a> | 
			
			#{if _convo.comments.size() == 0}
				<a href="@{ViewDispatcher.view(_convo.mainURL)}#answers">Answer</a> | 
			#{/if}
			#{else}
				<a href="@{ViewDispatcher.view(_convo.mainURL)}#answers">${_convo.comments.size()} 
					Answer${_convo.comments.pluralize()}</a> | 
			#{/else}
				
			#{if session.username}
				<a href="#" class="followConvoLink" rel="${_convo.id}">
					${_talker?.followingConvosList?.contains(_convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
			#{/if}
			#{if session.username?.equals("admin")}
				<a href="#" onclick="return closeLiveTalk('${_convo.id}')">Close Live Chat</a>&nbsp;| 
			#{/if}
			<span>${_convo.creationDate.since()}</span>
		</div>
		<div class="jointxtlink1">
			Live Chat started by 
			#{talker/talkerLink talker: _convo.talker /}
			<span class="blacktext12">
				#{talker/talkerInfo talker: _convo.talker /}
			</span>
		</div>
		<div class="jointxtlink2"></div>
	</div>
	#{if session.username}
		<div class="joinconbox">
			<input type="submit" src="/public/images/joinconversation.jpg" 
				value=" " class="joinconversation" onclick="return openChat('${_convo.tid}');" />
		</div>
	#{/if}
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>