<div class="joinbox" id="${_id}">
	<div class="joinpic">
		#{talker/talkerImageLink size: 48, userName: _convo.talker.name /}
	</div>
	<div class="jointxtbox">
		<div class="jointextstop">
			<a href="@{ViewDispatcher.view(_convo.mainURL)}">${_convo.topic}</a>
		</div>
		<div class="joinztextlink">
			<a href="@{ViewDispatcher.view(_convo.mainURL)}#answers">Answer</a> | 
			#{if session.username}
				<a href="#" class="followConvoLink" rel="${_convo.id}">
					${_talker?.followingConvosList?.contains(_convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
				<a href="#" onclick="restartConvo(${_convo.tid}, '${_convo.id}')">Re-start chat</a> | 
			#{/if}
			<span>${_convo.creationDate.since()}</span>
		</div>
		<div class="jointxtlink1">
			${_convo.getHtmlDetails(_talker != null).raw()}
		</div>
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>