<div class="joinbox" id="${_activity.id}">
	<div class="joinpic" style="width: 70px;">
		#{talker/talkerImageLink size: 70, userName: _activity.talker.name /}
	</div>
	<div class="jointxtbox">
		#{if _activity.convo}
			<div class="jointextstop">
				<a href="@{ViewDispatcher.view(_activity.convo.mainURL)}">${_activity.convo.topic}</a>
			</div>
		#{/if}
		
		<div class="jointxtlink2 moretext">
			#{if _activity.reply}
				${_activity.reply.text}
			#{/if}
			#{elseif _activity.answer}
				${_activity.answer.text.nl2br()}
			#{/elseif}
		</div>
		
		#{if _activity.profileComment}
			#{if _activity.otherTalker.equals(_activity.talker)}
				#{publicprofile/profileCommentsTree commentsList: [_activity.profileComment], level: 1, showDelete: false, isFeed: true, parentList: _parentList /}
			#{/if}
			#{else}
				<div class="jointxtlink1">
					${_activity.toHTML(session.username != null).raw()}
				</div>
				#{publicprofile/profileCommentsTree commentsList: [_activity.profileComment], level: 1, showDelete: false, isFeed: true, parentList: _parentList /}
			#{/else}
		#{/if}
		#{else}
			<div class="jointxtlink1">
				${_activity.toHTML(session.username != null).raw()}
			</div>
		#{/else}
		
		#{if _activity.convo}
			<div class="joinztextlink">
				#{if _activity.convo.numOfChatters != 0 }
					<a href="#" onclick="return openChat('${_activity.convo.tid}');">${_activity.convo.numOfChatters} user(s) chatting</a> | 
				#{/if}
				
				#{if _activity.convo.comments.size() == 0}
					<a href="@{ViewDispatcher.view(_activity.convo.mainURL)}#answers">Answer</a> | 
				#{/if}
				#{else}
					<a href="@{ViewDispatcher.view(_activity.convo.mainURL)}#answers">${_activity.convo.comments.size()} 
						Answer${_activity.convo.comments.pluralize()}</a> | 
				#{/else}
				
				#{if session.username}
					<a href="#" class="followConvoLink" rel="${_activity.convo.id}">
						${_talker?.followingConvosList?.contains(_activity.convo.id) ? 'Unfollow' : 'Follow'}</a>&nbsp;| 
					<!-- REFACTOR REMOVE LIVE CHAT OPTION
					<a href="#" onclick="return restartConvo(${_activity.convo.tid}, '${_activity.convo.id}')">Re-start chat</a> |
					-->
				#{/if}
				<span>${_activity.time.since()}</span>
			</div>
		#{/if}
	</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
</div>