<div id="addAnswer" class="window" >
    <div class="boxtopcenter">
      <div id="newConvoForm" class="popboxWraper">
        <div class="popbox2" style="height: 330px; width: 650px;margin-top: 190px;">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" onclick="javascript:document.getElementById('addAnswer').style.display='none';"/></div>
          </div>
           <div class="">
           <img class="logotopmargin" border="0"  src="/public/images/logo_footer.jpg" alt="Talk About Health">
          </div>
          <!--add answer-->
          <div id="answerFormDiv" style="display: ${userHasAnswer ? 'none' : 'block'};">
			<div class="topicborder" style="margin-top: 7px;"></div>
			<div class="answerh1">Add Answer</div>
			<textarea name="textarea" id="replytextPopup" class="answerinput" style="width: 617px; height: 150px;"
				onclick="if (this.value === 'Add New Answer') this.value='';">Add New Answer</textarea><br />
			<input type="submit" onclick="return saveAnswer('');" 
				src="/public/images/addcomments.jpg" class="addcomments" value=" " />
			<div id="saveAnswerImagePopup" class="ajaxLoading" 
				style="float: right; margin-right: 15px; margin-top: 20px;"></div>
		</div>
		<div id="noAnswerTextPopup" style="display: ${!userHasAnswer ? 'none' : 'block'}; margin-top: 50px;">
			Only one answer per conversation per user. You may edit your answer though.
		</div>
          <!--answer-->
          <div class="cb"></div>
        </div>
      </div>
     </div> 
  </div> 
