	<div id="commentform">
		<table align="center" cellspacing="10">
			<tr>
				<td align="right" valign="top">Comment:</td>
				<td><textarea rows="5" cols="30" id="commentText" name="commentText" ></textarea></td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input id="commentBtn" onClick="sendProfileComment()" type="button" value="Save comment"/>
					<input id="cancelBtn" onClick="$.fancybox.close();" value="Cancel" type="button" />
				</td>
			</tr>
		</table>	
	</div>