<div id="commentPopup" class="window" >
	  <div id="innermiddleareazs">
	    <div class="popboxWraper">
	      <div class="popboxflagzx1">
	        <div class="imheadingz">Thought for <span id="commentUser"></span></div>
	        <div class="commentsCover">
	          <!--	<div class="selheadingza">&nbsp;</div>-->
	          <div class="selheadinginputs">
	            <textarea id="commentText" class="popinputs" cols="4" rows="3" style="height:50px" ></textarea>
	          </div>
	        </div>
	        <!--commentsCover-->
	        <div class="poptxtzzCover">
	          <div  class="cancs" ><a href="#" onclick="return hideAll();">Cancel</a></div>
	          <input id="commentBtn" style="margin-right: 15px;"
	          	onclick="return sendProfileComment()" type="button" value="Save comment"/>
	        </div>

	        <!--poptxtCover-->
	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
	</div>
