<div id="emailVerificationDialog" class="window">
	<div id="innermiddlearea">
		<div class="popboxWraper">
			<div class="popbox" style="height: 240px;">
				<div class="closecover">
            		<div class="close">
            			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'"/>
            		</div>
            	</div>
				<div class="tah">
					<img src="/public/images/talkabouthealth.jpg" alt="TalkAboutHealth" />
				</div>
            	<div class="imheading" style="color: #000;">
            		Please verify your email so that we can notify you of <br/> answers to your questions
            		and when other users follow you.
            	</div>
 				<div class="selheading">
					<a href="#" title="${_talker.email}" 
						onclick="return sendVerificationLink(this);"
						class="red16">Resend verification email.</a>
					<span id="verificationResendResult" class="blacktext12"></span>
					<br/>
						
					<input type="button" id="agreeBtn" value="Close" 
			       		style="padding: 3px 15px; font-size: 16px; margin: 15px 0px; clear: both;"
			       		onclick="hideAll();"
			       		onmouseover="this.style.cursor='pointer'"/>
				</div>
 		
            	<div class="cb"></div>
            </div>
            <!--popbox-->
           </div><!--popboxWraper-->
          
           <div class="cb"></div>
	</div>
</div>