<div id="flagPopup" class="window">
	  <div id="innermiddleareaz">
	    <div class="popboxWraper">
	      <div class="popboxflagzx">
	        <div class="imheadingz">Flag Content</div>
	        <div class="commentsCover">
	          <div class="selheadingza">Please expain why you are flagging this content. Thank you.</div>
	          <div class="selheadinginputs">
	            <textarea id="flagReason" class="popinputs" cols="4" rows="3"></textarea>
	          </div>
	        </div>
	        <!--commentsCover-->
	        <div class="poptxtzzCover">
	          <div  class="cancs" ><a href="#" onclick="return hideAll();">Cancel</a></div>
	          <input type="submit" value=" " onclick="return flag();" 
	          	class="submitspops"  src="images/submitspops.jpg" alt="sub" />
	        </div>
	        <!--poptxtCover-->

	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
	</div>