<div id="flagPopup" class="window">
	  <div id="innermiddleareaz">
	    <div class="popboxWraper">
	      <div class="popboxflagzx">
	        <div class="imheadingz">Flag Content</div>
	        <div class="commentsCover">
	          <div class="selheadingza">Please explain why you are flagging this content. Thank you.</div>
	          <div class="selheadinginputs">
	            <textarea id="flagReason" class="popinputs" cols="4" rows="3"></textarea>
	          </div>
	        </div>
	        <!--commentsCover-->
	        <div class="poptxtzzCover">
	          <div  class="cancs" ><a href="#" onclick="return hideAll();">Cancel</a></div>
	          <input type="submit" value=" " onclick="return flag();" 
	          	class="submitspops"  src="images/submitspops.jpg" alt="sub" />
	        </div>
	        <!--poptxtCover-->

	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
</div>
<div id="flagConfirm" class="window">
	  <div id="innermiddleareaz">
	    <div class="popboxWraper">
	      <div class="popboxflagzx">
	        <div class="commentsCover" style="padding-top: 60px; text-align: justify;">
	          <div class="selheadingza" style="font-size: 16px;">Thank you for flagging this content. We will look into it right away.</div>
	        </div>
	        <!--commentsCover-->
	        <div class="poptxtzzCover">
	          <div  class="cancs" style="padding-right: 50px; font-size: 16px;" ><a href="#" onclick="return hideAll();">Ok</a></div>
	        </div>
	        <!--poptxtCover-->
	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
</div>
