<style type="text/css">
	#popBoxDiv {
		height: 430px; width: 800px; background-color: #FFFFFF; padding: 7px;
	}
	#communityHeader {
		color: #777777; font-size: 28px; padding-left: 40px; padding-bottom: 10px;
	}
	.mainWaitingListDiv {
		float: left; width: 460px; padding-left: 30px; padding-top: 20px;
	}
	
	.mainWaitingListDiv .signupmain { width: 440px }
	.mainWaitingListDiv .signuptextarea { width: 140px }
	
</style>
<div id="joinWaitingListDialog" class="window">
	<div id="innermiddlearea">
		<div class="popboxWraper">
			<div id="popBoxDiv" class="popbox">
				<div class="closecover">
            		<div class="close">
            			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'"/>
            		</div>
            	</div>
            	<div id="communityHeader">
            		<span id="communityName">Skin Cancer</span> Community Waiting List 
            		<span style="font-size: 18px;">| <span id="communityWaiting"></span> people</span>
            	</div>
            	<div class="topicborder"></div>
            	
            	<div>
            		<div id="joiningFromDiv" class="mainWaitingListDiv">
            			<span style="font-size: 18px;">
            				We'll do our best to support the communities with
            				the <br/>largest waiting lists first!
            			</span>
            			<br/><br/>
            			<span style="font-size: 14px;">
            				You'll receive an invitation to this community once it becomes available.
            				Be sure to remind your current support group to join the list with you.
            			</span>
            			<br/>
            			<div class="signupmain" style="padding-top: 15px;">
            				<span id="emailError" class="red16" style="padding-bottom: 10px;"></span>
							<div class="signuptextarea"><span class="blacktext14">Health Community</span></div>
							<div class="personaltextfield">
							  	<input id="healthCommunity" type="text" class="personalfields" value="" />
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Email</span></div>
							<div class="personaltextfield">
							  	<input id="email" type="text" class="personalfields" value="" />
							</div>
						</div>
						<div style="text-align: center; width: 100%;">
							<input type="button" id="agreeBtn" value="Add me to the List!" 
					       		style="padding: 3px 15px; font-size: 16px; margin: 10px auto; clear: both;"
					       		onclick="addToWaiting();"
					       		onmouseover="this.style.cursor='pointer'"/>
						</div>
					</div>
					<div id="thanksForJoiningDiv" class="mainWaitingListDiv" style="display: none; text-align: center;">
						<span style="font-size: 24px;">
            				Thank you for joining the waiting list!
            			</span>
            			<div style="text-align: center; width: 100%;">
							<input type="button" id="agreeBtn" value="Close" 
					       		style="padding: 3px 15px; font-size: 16px; margin: 10px auto; clear: both;"
					       		onclick="hideAll();"
					       		onmouseover="this.style.cursor='pointer'"/>
						</div>
					</div>
					
					<div style="float: right;">
						#{common/whyLoveTAHBox /}					
					</div>
            	</div>
 		
            	<div class="cb"></div>
            </div>
		</div>
		<div class="cb"></div>
	</div>
</div>