<div id="profileJoinNow" class="window" >
	  <div id="innermiddleareazs">
	    <div class="popboxWraper">
	    	<div class="popbox" style="height: 240px;">
				<div class="closecover">
            		<div class="close">
            			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'"/>
            		</div>
            	</div>
				<div class="tah">
					<img src="/public/images/talkabouthealth.jpg" alt="TalkAboutHealth" />
				</div>
            	<div class="imheading" style="color: #000;">
            		Please join TalkAboutHealth and you will be able to ask questions.
            	</div>
		        <div style="margin: 20px 0 0 0;">
		          <a href="@{Application.signup()}"><img src="/public/images/join_now_btn.png" alt="Join Now" /></a>
		        </div>
	        <!--poptxtCover-->
	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
</div>