<style type="text/css">
	#shareEmailsForm {
		height: 357px;
	}
</style>

<div id="shareEmailDialog" class="window">
	<div class="boxtopcenter">
		
		<div id="shareEmailsForm" class="popup">
		  <div class="popupheading">
		    <div class="popuph1">Share Topic</div>
		    <div class="close"><a href="#"><img src="/public/images/close.jpg" alt="close" border="0" /></a></div>
		  </div>
		  <!--popupheading-->
		  <div class="invitepeople">To tell people about this topic, type their email addresses here (separated by commas):</div>
		  <textarea id="shareEmails" class="popupinut" rows="4" cols="3"></textarea>
		  <div class="invitepeople">
		  	From: <input id="shareUserName" type="text" value="${_userName}" style="background-color:#F5F5F5;"/>
		  </div>
		  <div class="Addnote">Add a personal note here:</div>
		  <textarea id="shareemailNote" class="popupinut" cols="4" rows="3" autocomplete="off"
		  	>I thought you would be interested in the topic "${_topicName}" on TalkAboutHealth. - ${_topicURL}
		  	
${_topicDetails}</textarea>
		  <div class="sentbox">
		    <div id="shareResultText" class="senttxt"></div>
		    <div id="shareResultError" class="senttxt" style="color: red;"></div>
		    <input type="submit" class="sendinvites" id="shareTopicBtn" 
		    	onclick="return shareTopic('email', '${_topicName}');" value=" " src="images/sendinvites.jpg" />
		  </div>
      	</div>
      
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
</div> 