<style type="text/css">
	#shareFBForm {
		height: 170px;
	}
</style>

<div id="shareFBDialog" class="window">
	<div class="boxtopcenter">
		<div id="shareFBForm" class="popup">
		  <div class="popupheading" style="background: none;">
		    <div class="popuph1">Share Topic on Facebook</div>
		    <div class="close"><a href="#"><img src="/public/images/close.jpg" alt="close" border="0" /></a></div>
		  </div>
		  <textarea id="sharefacebookNote" class="popupinut" rows="3" cols="3"
		  	>Learning about ${_topicName} on TalkAboutHealth - ${_topicURL}</textarea>
		  <div class="sentbox">
		    <div id="shareResultText" class="senttxt"></div>
		    <div id="shareResultError" class="senttxt" style="color: red;"></div>
		    <input type="submit" id="shareTopicBtn" 
		    	onclick="return shareTopic('facebook');" value="Post" />
		  </div>
      	</div>
      
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
</div> 