<div id="shareDialogs" class="window">
	<div class="boxtopcenter">
      <div id="shareEmailsForm" class="popboxWraper">
        <div class="popbox2" style="height: 380px;">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          
          <div class="selheading">Share Topic</div>
          <div class="askheadingCover">
            <div class="asktext2">To tell people about this topic, type their email addresses here (separated by commas):</div>
          </div>
          <div class="askheadingCoverz">
            <div class="askinputCover">
				<textarea id="shareEmails" class="askkinput" cols="4" rows="4" ></textarea>
            </div>
          </div>
          <div class="askheadingCover">
            <div class="askinputCover">
            	From: <input id="shareUserName" type="text" value="${_userName}" />
            </div>
          </div>
          <div class="askheadingCover">
            <div class="asktext2">Add a personal note here:</div>
          </div>
          <div class="askheadingCover">
            <div class="askinputCover">
              <textarea id="shareNote" class="askinput2" cols="4" rows="3"
              	>I thought you would be interested in the topic "${_topicName}" on TalkAboutHealth. - ${_topicURL}
              	
              	${_topicDetails}</textarea>
            </div>
          </div>
          <div class="popsubmitcovar">
            <div class="popsubmitbox1">
              <div class="asktext2" style="display: none;">Topic successfully shared!</div>
              <div class="popupsubmits"><a href="#" id="shareTopicBtn" onclick="return shareTopic();">Submit</a></div>
            </div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>
        <!--popbox2-->
      </div>
      
      <div id="newQuestionConfirm" class="popboxWraper" style="display: none;">
        <div class="popbox3">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">Thank you for sharing your question</div>

          <div class="popusertxt3">We will notify other members of your question. 
          Responses will be sent to your email account as well as viewable at the
            following link: <a id="questionLink" href="#"></a></div>
          <div class="popsubmitcover1">
            <div class="popnothanks3"><a class="cancelLink" href="#">Close</a></div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      
      <div id="newTalkConfirm" class="popboxWraper" style="display: none;">
        <div class="popbox3">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">We are finding other members now to join the chat.</div>

          <div class="popusertxt3">
          	Click here to start the chat.<br/><br/>
          	<input id="startTalkBtn" type="submit" 
          		src="/public/images/startsubmit.jpg" value=" " class="startsubmit" />
          </div>
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
  </div> 