<div id="startDialog" class="window">
    <div class="boxtopcenter">
      <div id="newConvoForm" class="popboxWraper">
        <div class="popbox2" style="height: 100%;float:left;">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" style="cursor:pointer;" /></div>
          </div>
          <div class="askquestion">
            <div class="askquestionbox">
                #{if _page.equals("profileRight")}
                <input id="newConvoTargetId" type="hidden" value="${_target.id}" />
                <b>Your question to ${_target.name}:</b>
                #{/if}
                #{else}
            	<b>1) Question:</b>
            	#{/else}
            </div>
            <!-- REFACTOR REMOVE LIVE CHAT OPTIONS
            <div class="askquestionbox">
              <div class="asktext1">
              	<input id="newConvoTypeQuestion" name="newConvoType" checked="checked" type="radio" />
              	Ask a question (You will receive answers via email)<br/>
              	<input id="newConvoTypeConvo" name="newConvoType" type="radio" />
              	Start a live chat (You will start a video chat and other will join within minutes)
              </div>
            </div>
            <div style="clear: both;"></div>
            -->
          </div>
          <!--askquestion-->
          <div class="askheadingCoverz">
            <div class="askinputCover">
				<input id="newConvoTitle" class="askkinput" type="text"
					maxlength="160" 
					onfocus="if (this.value == 'Enter your question or request here.') this.value=''" 
			        onblur="if (this.value == '') this.value='Enter your question or request here.'"	
				    value="Enter your question or request here."
				>
            </div>
          </div>
          <div class="askheadingCover">
            <div class="asktext2"><b>2) Background Info (optional):</b> What context or background information is relevant to this request?</div>
          </div>
          <div class="askheadingCover">
            <div class="askinputCover">
              <textarea id="newConvoDetails" class="askinput2" 
                onfocus="if (this.value == 'For example. Will the stage of disease, current medications, or patient history help to answer the question?') this.value=''"                 
              	cols="4" rows="3">For example. Will the stage of disease, current medications, or patient history help to answer the question?</textarea>
            </div>
          </div>
          <!--
          <div class="askheadingCover">
            <div class="asktextl">Topics:<br />
              <span class="asksubtxt">(Optional)</span></div>

            <div class="askinputCover">
              <textarea id="newConvoTopics" class="askkinput" cols="4" rows="3"></textarea>
            </div>
          </div>
          -->
			#{if _talker != null }
	          <div class="askheadingCover">
	            <div class="asktext2"><b>3) Disease:</b> What disease is this question related to?</div>
	          </div>
	          <div class="askheadingCover">
	            <div class="personaltextfield">
	              <select id="newConvoDisease" class="personalfields" style="background-color: #FFFFFF;">
	              	<option selected="selected">${_talker.category}</option>
          			#{if _talker.otherCategories != null}
		              	#{list items: _talker.otherCategories, as: 'cancerType'}
		              	<option>${cancerType}</option>
		              	 #{/list}
					#{/if}
					<option>All Cancers</option>     	 
	              </select>
	            </div>
	          </div>
			#{/if}
          <div class="popsubmitcovar">
            <div class="notetext" style="color: #000;">
            	<b>Notes:</b> <br/>
            	The more clear and thorough your request, the more likely you will receive support.<br/>
            	Many of our members are learning from this information 
            	or english might not be their first language.
            	Please use standard english and spell out all words.
            	For example, use 'you' instead of 'u'.
            </div>
            <!-- <div class="popnothanks1"><a href="#" class="cancelLink">Cancel</a></div>  -->

            <div class="popsubmitbox1" id="saveConvoBtnId">
<!--               <div class="popupsubmits"> -->
              <input type="button" class="submitSubscribeEmail" id="saveConvoBtn" onclick="return saveConvo('${_page}');">
<!--               <a href="#" class="submitSubscribeEmail" id="saveConvoBtn" onclick="return saveConvo('${_page}');">Submit</a> -->
<!--               </div> -->
            </div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <!--popboxWraper-->
      <div id="newQuestionConfirm" class="popboxWraper" style="display: none;">
        #{if _page.equals("profileRight")}
        <div class="popbox3a">
        #{/if}
        #{else}
        <div class="popbox3">   
        #{/else}     
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">
          Thank you for sharing your question.
          #{if _page.equals("profileRight")}
          We will notify ${_target.name} right away.
          #{/if}
          </div>

          <div class="popusertxt3">Our topic related experts will review the question and will either answer right away, find the right specialist, or save the question for the next relevant Q&A workshop.
          Responses will be sent to your email account as well as viewable at the
          following link on TalkAboutHealth:<br />
          <a id="questionLink" href="#"></a></div>
          <div class="popsubmitcover1">
            <div class="popnothanks3"><a class="cancelLink" href="#">Close</a></div>
          </div>
          <!--popsubmitcover-->
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      
      <div id="newTalkConfirm" class="popboxWraper" style="display: none;">
        <div class="popbox3">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="iwant1">We are finding other members now to join the chat.</div>

          <div class="popusertxt3">
          	Click here to start the chat.<br/><br/>
          	<input id="startTalkBtn" type="submit" 
          		src="/public/images/startsubmit.jpg" value=" " class="startsubmit" />
          </div>
          <div class="cb"></div>
        </div>

        <!--popbox2-->
      </div>
      
      <div class="cb"></div>
    </div>
    <!--boxtopcenter-->
  </div> 
  
  
  <div id="showJoinNow" class="window">
    <div class="boxtopcenter">
      <div id="newConvoForm" class="popboxWraper">
        <div class="popbox2" style="height: 170px; width: 500px;margin-top: 190px; margin-left: 120px;">
          <div class="closecover">
            <div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
           <div class="">
           <img class="logotopmargin" border="0"  src="/public/images/logo_footer.jpg" alt="Talk About Health">
          </div>
          <!--askquestion-->
          <div style="font-size: 18px; font-weight: bold; padding-top: 10px">
              <b>Please join TalkAboutHealth and you will be able to ask questions.</b>
            </div> 
          <div id="joinnowbutton" style="margin: 5px 0px; padding-top: 10px; width: 145px;">
			<a href="@{Application.signup()}">
				<img src="/public/images/join_now1.png" alt="" border="0"/>
			</a>
			</div>
          <!--joinnowbutton-->
          <div class="cb"></div>
        </div>
      </div>
     </div> 
  </div> 
  
