<div id="subNewsletter" class="window">
	  <div id="innermiddleareaz">
	    <div class="popboxWraper">
	      <div class="popboxflagzx">
	      	<div class="closecover">
           		<div class="close">
           			<img src="/public/images/close.jpg" alt="Close" onmouseover="this.style.cursor='pointer'" onclick="return hideAll();"/>
           		</div>
           	</div>
           	<div class="imheading" style="color: #000;">
           		<span style="font-weight: bold; font-size: 25px;">Thank you for subscribing! </span><br/> <br/> 
	          	<span style="font-weight: bold; font-size: 18px;">Next : </span><br/> <br/> 
	          	<span style="font-weight: bold; font-size: 18px;">	<a href="#" onclick="return hideAll();" style="color: blue;"> Subscribe to more newsletters.</a><br/>
	          		<a href="/home" style="color: blue;">Go to your home page.</a>
	          	</span>
           	</div>
	      	<div class="poptxtzzCover">
	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
	</div>
</div>