<div id="thankYouPopup" class="window" >
	  <div id="innermiddleareazs">
	    <div class="popboxWraper">
	      <div class="popboxflagzx1">
	        <div class="imheadingz">Give a 'Thank you' to <span id="thankYouUser"></span></div>
	        <div class="commentsCover">
	          <!--	<div class="selheadingza">&nbsp;</div>-->
	          <div class="selheadinginputs">
	            <textarea id="thankYouListNote" class="popinputs" cols="4" rows="3" style="height:50px" ></textarea>
	          </div>
	        </div>
	        <!--commentsCover-->
	        <div class="poptxtzzCover">
	          <div  class="cancs" ><a href="#" onclick="return hideAll();">Cancel</a></div>
	          <input type="submit" onclick="return saveThankYou();" value="" class="submitspopss"   src="images/submitsthanks.jpg" />
	        </div>

	        <!--poptxtCover-->
	        <div class="cb"></div>
	      </div>
	      <!--popbox-->
	    </div>
	    <!--popboxWraper-->
	    <div class="cb"></div>
	  </div>
</div>