#{ extends 'main.html' /}

	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		#loginarea {
			margin: 30px 0;
		}
		#loginarea span {
			font-size: 17px;
		}
		#rightarea {
			padding-top: 30px;
		}
	</style>

	<!-- scripts -->
	<script language="javascript">
		#{ oauthJavaScripts /}
		
		function checkForm() {
			var emailField = document.getElementById('email');
			if (emailField.value == '' || emailField.value == 'Email') {
				alert("Please enter your email");
				return false;
			}
			
			return true;
		}
	</script>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="innerbanner"></div>
			<div id="innermain">
				<div class="blacktext2" id="innerheading">Password Reset</div>
				<div id="innermiddlearea">
					<div id="loginarea">
					#{if flash.success}
					    <span class="success">Your username and password were sent to you email. 
					    	Please sign in <a href='@{Secure.login()}'>here</a>.</span>
					#{/if}
					#{else}
					<form action="@{Application.sendNewPassword()}" onsubmit="return checkForm();" 
						name="forgotpassform" method="post" class="loginform"> 
						#{ifErrors}
						   #{errors}
						       <span class="error">${error}</span><br/>
						   #{/errors}
						#{/ifErrors}
						<h1>Please input your email</h1>
						<div class="fieldarea">
							<div class="fieldarealeft"></div>
							<div class="fieldareamid">
								<input id="email" name="email" type="text"  class="textfields" 
									value="${flash.email}" tabindex="1" />
							</div>
							<div class="fieldarearight"></div>
						</div>
						<div class="signupbutton">
							<input type="submit" value="Send new password" />
						</div>
						<div class="newusersignup">
							<a href="@{Application.signup()}" class="bluetext12"></a>Not a User ? <br>
						  	<a href="@{Application.signup()}" class="pinktext14">Create your account</a>
						</div>
					</form>
					#{/else}
					</div>
					<div id="rightarea">
						Or Sign in with one-click
						<div class="socialicons">
							<ul class="socialicons1">
								<li><a href="#" onclick="openFacebook()">
										<img src="/public/images/signinfacebook.gif" width="150" height="22" border="0" />
								</a></li>
								<li><a href="#" onclick="openTwitter()">
										<img src="/public/images/signintwitter.gif" width="150" height="22" border="0" />
								</a></li>
								<!-- <li><a href="#"><img src="images/signingoogle.gif" width="150" height="22" border="0" /></a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="bottom_container"></div>