#{extends 'main.html' /}
	<link rel="stylesheet" href="/public/plugins/jquery-tooltip/jquery.tooltip.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/public/plugins/jquery-tooltip/jquery.tooltip.js" ></script>

	<style type="text/css">
		body {
			background:url(/public/images/pagebg.gif) repeat-x top;
		}
	</style>

	<!-- scripts -->
	<script language="javascript">
		$(document).ready(function() {
			$('#exampleQuestionsLink').tooltip({
				track: true,
				delay: 0,
				showURL: false,
				extraClass: "pretty",
				left: 5,
				top: 15
			});
		});
			
		#{ oauthJavaScripts /}
		
		function checkForm() {
			//Check topic name field
			var newTopicField = document.postnewtopic.newtopic;
			if((newTopicField.value == "") 
					|| (newTopicField.value == "Please enter your Conversation here ...")) {
				alert("Please enter topic name.");
				newTopicField.focus();
				return false;
			}
			
			return true;
		}

		function submitenter(myfield,e) {
			var keycode;
			if (window.event) keycode = window.event.keyCode;
			else if (e) keycode = e.which;
			else return true;
			
			if (keycode == 13) {
				signup();
		    }
			return true;
		}
		
		function signup() {
			var newTopic = document.getElementById('newtopic').value;				
			document.location = "@{Application.signup()}?newtopic="+encodeURIComponent(newTopic);
		}
	</script>
</head>

<body>
<div id="top_container">
	<div id="top">
		#{logo /}
		<div id="topright">
			<span class="blacktext">Sign in with your</span> <br />
  			<div class="icon">
  				<a href="#" onclick="openTwitter()">
  					<img src="/public/images/twitter.gif" alt="Twitter" width="27" height="27" border="0" />
  				</a>
  			</div>
  			<div class="icon">
  				<a href="#" onclick="openFacebook()">
  					<img src="/public/images/facebook.gif" alt="facebook" width="27" height="27" border="0"/>
  				</a>
  			</div> 
		</div>
		<div id="topmid">
			<a href="@{Application.signup}" class="bluetext">Join Now</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="@{Secure.login}" class="redtext">Sign In</a>
		</div>
	</div>
	<div id="text_heading"></div>
</div>

<div id="banner"></div>

<div id="bottom_container">
	<div id="middle_area">
		<div id="arealeft">
			<!-- 
			<div id="curvetophome"></div>
			<div id="arealefttextarea">
				<div id="comingsoonhead" class="bluetext30">&nbsp;Coming Soon</div>
				<div id="dashedborder" style="width:638px;"></div>
				<div id="arealeftgrey" class="blacktext14">
					&nbsp;Sign up to receive the lates on our beta program and launch.<br />
			  		<span class="blacktext14">&nbsp;(Your email won't be used for anything else.)</span>
			  	</div>
			  	<div id="homefields">
					<ul>
						<li><input name="textfield" type="text" class="textfields" 
							id="textfield" onclick="this.value=''"  value="Your Email Address..." />
						</li>
					</ul>    
			  	</div>
			  	<div id="arearightbutton"><a href="#"><img src="/public/images/signupbutton.gif" width="126" height="46" border="0" /></a></div>
			  	<div id="arealefttext">Your email will remain safe and private</div>
			</div>
			<div id="curvebottom"></div>
			-->
			
			<h1>Ask a question <span class="text24">or start a new conversation:</span></h1>
			<div id="curvetop"></div>
			<div id="lefttextarea">
				<form id="postform" name="postnewtopic" action="javascript:signup();" method="post" > 
					<textarea cols="" rows="" class="textarea" id="newtopic" name="newtopic" maxlength="40" 
						onKeyPress="submitenter(this,event)" TABINDEX=1
						onclick="if (this.value == 'Please enter your Conversation here ...') this.value=''"
						>Please enter your Conversation here ...</textarea>
				</form>
			</div>
			<div id="arealefttextarea">
				<div id="arealefttext">
					<p>
						<a class="blacktext" href="#" id="exampleQuestionsLink"
							title="After a mastectomy, what items come in handy?<br/>
							What are some things you wish people had said or done?"
							>&nbsp;Example Questions</a>
					</p>
				</div>
				<div id="arealeftgrey">
					<a href="#" onclick="signup()"><img src="/public/images/startbutton.gif" width="206" height="46" border="0" /></a>
				</div>
			</div>
			<div id="curvebottom"></div>
			 
		</div>
		<div id="arearight">
			<h1>Current Support Communities</h1>
			<ul>
				<li>
					<span class="blacktext"><strong>Breast Cancer</strong></span><br />
  					<span class="greytext">3 active conversations |</span> 
  					<span class="bluetext2">${numberOfMembers} member(s)</span>
  				</li>
			</ul>
			<p>
				<span class="blacktext"><strong>Multiple Sclerosis</strong></span><br />
  				<span class="bluetext2">Coming Soon!</span>
  			</p>
		</div>
		<div id="boxarea_head">
			<h1>
				<span class="blacktext2">How does</span> 
				<span class="greentext">Talk</span><span class="blueext30">About</span><span class="pinktext30">Health</span>
				<span class="blacktext2"> work?</span>
			</h1>
		</div>		
		<div id="boxarea">
			<div class="box">
				<div class="box_top"><img src="/public/images/1img.jpg" width="294" height="160" alt="" /></div>
				<div class="boxmid">
					Share your Question or Comment<br /> 
  					<p>Send us a question or comment to start a conversation.<br /><br /></p>
  				</div>
				<div class="box_bot"></div>
			</div>
			<div class="box">
				<div class="box_top"><img src="/public/images/2img.jpg" width="294" height="160" alt="" /></div>
					<div class="boxmid">
						We find the right Group for you.<br /> 
  						<p>We find the right members to answer your questions, give advice, and share their experiences.</p>
  					</div>
					<div class="box_bot"></div>
				</div>
			<div id="box3">
				<div class="box_top"><img src="/public/images/3img.jpg" width="294" height="160" alt="" /></div>
				<div class="boxmid">
					Talk to your Support Group.<br /> 
  					<p>Within minutes, you&#146;ll be having a live &ndash; and anonymous &ndash; group conversation.<br /><br /></p>
  				</div>
				<div class="box_bot"></div>
			</div>
		</div>
		<div id="bottomboxarea">
			<div class="bottomboxinnerarea">
				<div id="boxarea1">
					<h3><span class="red">Meet</span> others like you</h3>
					<p>Grow your support network and make new friends who understand.</p>
				</div>
				<div class="colantext">
					<span class="blacktext14">Sometimes I need to talk to someone in the middle of the night</span>
					&nbsp; <img src="/public/images/colanbottom.gif"  width="19" height="15" /> <br />  
  					<span class="bluetext14">John H.</span>
  				</div>
			</div>
			<div class="bottomboxinnerarea">
				<div id="boxarea2">
					<h3><span class="green">Learn </span> from peers</h3>
					<p>Be more prepared after talking to experienced peers. Request their advice and opinions.</p>
				</div>
				<div class="colantext">
					<span class="blacktext14">
						I would like other people's opinions on best hospitals and physicians for my health issue&nbsp; 
					</span>
					<img src="/public/images/colanbottom.gif" /> <br />
					<span class="bluetext14">Susan P.</span>
				</div>
			</div>
			<div class="bottomboxinnerarea2">
				<div id="boxarea3">
					<h3><span class="purple">Share  </span> your experiences</h3>
					<p>Feel better after sharing your experiences with peers who understand. Others will learn from you.</p>
				</div>
			<div class="colantext">
				<span class="blacktext14">I want to meet others who understand what I am going through.</span>
				<img src="/public/images/colanbottom.gif" /> <br />
			  	<span class="bluetext14">Delores B</span>
			</div>
		</div>
	</div>
</div>
</div>