#{extends 'main.html' /}
	<style type="text/css">
		body {
			font-size:11px;
		}
	</style>

	<!-- scripts -->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".joinWaitingLink").click(function() {
				//show form in popup
				$("#joiningFromDiv").show()
				$("#thanksForJoiningDiv").hide();
				$("#emailError").html("");

				//initialize popup with community and waiting users number
				var community = $(this).attr("rel");
				$("#communityName").html(community);
				$("#healthCommunity").val(community);
				$("#communityWaiting").html($(this).next().html());
				 
				showPopup("#joinWaitingListDialog", 400);
			});

			makeAutocomplete("#healthCommunity", "topic", "Diseases");
		});

		//Add user to community's waiting list
		function addToWaiting() {
			var community = $("#healthCommunity").val();
			var email = $("#email").val();
			
			$.post("@{Application.addToWaitingList()}", 
  				{ community: community, email: email},
  				function(responseText) {
  	  				//TODO: create function for checking error in response?
  					if (responseText.indexOf("Error:") === 0) {
  						var errorText = responseText.replace("Error:", "");
  						$("#emailError").html(errorText); 
  					}
  					else {
  	  					$("#joiningFromDiv").hide();
  	  					$("#thanksForJoiningDiv").show();
  					}
  				}
  			);
		}
	</script>
</head>

<body>
<div id="bg">
  <div id="waperhome">
  	<div id="headerHome">
	  	#{set currentPage = 'landing' /}
	  	#{include 'header.html' /}
	  	</div>
	</div>
	
	<div id="ContentHome">
      <div class="meetCover">
        <div class="meetOther">
          <div class="meetOtherpic"><img src="/public/images/meetOther.jpg" alt="Meet Other" /></div>
          <div class="meetOtherText"> <span class="meetOtherh2"><span class="shareblue">Meet</span> others just like you</span><br />
            We match you with peers and experts </div>
        </div>
        <!--meetOther-->
        
        <!--meetOther-->
        <div class="meetOther">
          <div class="meetOtherpic"><img src="/public/images/readtimeans.jpg" alt="Real Time Answer" /></div>
          <div class="meetOtherText"> <span class="meetOtherh2"><span class="meetpuple">Learn</span> from experienced peers </span><br />
            Answers and live chats with the right people </div>
        </div>
		<div class="meetOther">
          <div class="meetOtherpic"><img src="/public/images/shareexpicon.jpg" alt="Share Experience" /></div>
          <div class="meetOtherText"> <span class="meetOtherh2"><span class="learnsblue">Share</span> your experiences</span><br />
            Help others by sharing your knowledge </div>
        </div>
        <!--meetOther-->
       
        <div class="joinTah"> 
        	<a href="@{Application.signup()}"><img src="/public/images/JoinTAH.jpg" alt="JoinTAH" border="0" /></a> 
        	<a href="#" onclick="openTwitter()"><img src="/public/images/JoinTweet.jpg" alt="Join Tweet"  border="0" class="JoinTweet" /></a> 
        	<a href="#" onclick="openFacebook()"><img src="/public/images/Joinfbook.jpg" alt="Join Tweet"  border="0" class="JoinTweet" /></a> 
        </div>
        <!--joinTah-->
      </div>
      
      <!--meetCover-->
      <div class="Communities">
        <div class="HealthCommunities">Health Communities</div>
        <div class="BreastCancer" style="padding-top: 10px;">
        	<a href="@{Explore.conversations('feed')}" class="bluetext12" 
						style="font-size: 16px;">Breast Cancer</a></div>
        <div class="Breastsubtxt">${numberOfMembers} members | ${numberOfLiveChats} live video chats <br />
          ${numberOfQuestions} questions | ${numberOfAnswers} answers</div>
        <div class="ComingSoon">Coming Soon</div>
        <div class="ComingSoonsub"> 
          #{list items:["Skin Cancer", "Multiple Sclerosis", "Diabetes", "Heart Diseases", "Alzheimer's"], as: "community"}
          	#{set numOfWaiting = waitingCommunitiesInfo.get(community) ? waitingCommunitiesInfo.get(community) : 0 /}
          	${community} 
          	<span class="csoontxt">
          		<a href="#" rel="${community}" class="joinWaitingLink">
          			Join waiting list (${numOfWaiting})
          		</a>
          		<span style="display: none;">${numOfWaiting}</span>
          	</span>
          	<br />
          #{/list}
          <!-- <em><a href="#">See More...</a></em>  --> 
        </div>
        <div class="tahfblikeCover">
          <div class="TalkAboutfacebook">
            #{ share/fblike currentURL: 'www.facebook.com/talkabouthealth' /} 
          </div>
        </div>
        <!--tahfblike-->
      </div>

      <div class="cb"></div>
    </div>
    <!--Content-->
    <!--======================================Content Ends=============================-->
    
		<div id="boxarea">
			<div class="box">
				<div class="box_top"><img src="/public/images/1img.jpg" width="294" height="160" alt="" /></div>
				<div class="boxmid">
					Share your Question or Request<br /> 
  					<p>Send us a question or request via our web site or instant message.<br /><br /></p>
  				</div>
				<div class="box_bot"></div>
			</div>
			<div class="box">
				<div class="box_top"><img src="/public/images/2img.jpg" width="294" height="160" alt="" /></div>
					<div class="boxmid">
						We find the right Group for you.<br /> 
  						<p>We find the right members to answer your questions, give advice, and share their experiences.</p>
  					</div>
					<div class="box_bot"></div>
				</div>
			<div id="box3">
				<div class="box_top"><img src="/public/images/3img.jpg" width="294" height="160" alt="" /></div>
				<div class="boxmid">
					Talk to your Support Group.<br /> 
  					<p>Within minutes, you&#146;ll receive an answer or have a live &ndash; and anonymous &ndash; group conversation.<br /><br /></p>
  				</div>
				<div class="box_bot"></div>
			</div>
		</div>
		<div id="bottomboxarea">
			<div class="bottomboxinnerarea">
				<div id="boxarea1">
					<h3><span class="red">Meet</span> others like you</h3>
					<p>Grow your support network and make new friends who understand.</p>
				</div>
				<div class="colantext">
					<span class="blacktext14">Sometimes I need to talk to someone in the middle of the night.</span>
					&nbsp; <img src="/public/images/colanbottom.gif"  width="19" height="15" /> <br />  
  					<span class="bluetext14">John H.</span>
  				</div>
			</div>
			<div class="bottomboxinnerarea">
				<div id="boxarea2">
					<h3><span class="green">Learn </span> from peers</h3>
					<p>Be more prepared after talking to experienced peers. Request their advice and opinions.</p>
				</div>
				<div class="colantext">
					<span class="blacktext14">
						I would like other people's opinions on best hospitals and physicians for my health issue. 
					</span>
					<img src="/public/images/colanbottom.gif" /> <br />
					<span class="bluetext14">Susan P.</span>
				</div>
			</div>
			<div class="bottomboxinnerarea2">
				<div id="boxarea3">
					<h3><span class="purple">Share  </span> your experiences</h3>
					<p>Feel better after sharing your experiences with peers who understand. Others will learn from you.</p>
				</div>
				<div class="colantext">
					<span class="blacktext14">I want to meet others who understand what I am going through.</span>
					<img src="/public/images/colanbottom.gif" /> <br />
				  	<span class="bluetext14">Delores B.</span>
				</div>
			</div>
		</div>
</div>
</div>

<div id="boxes">
  #{popups/joinWaitingList /}
	
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>
