<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Talkmi" /> 
	<meta name="keywords" content="support, health, talk" /> 
	<meta name="description" content="real-time support for your health issues" /> 
	<meta name="robots" content="all" /> 
	<title>TalkAboutHealth</title>
	
	<script type="text/javascript">
		function redirectParent() {
			var url = '${url?.raw()}';
			if (url) {
				window.opener.document.location = url;
				window.close();
			}
		}
	</script>
</head>
<body onload="redirectParent()">

<div id="container">
	Redirection. Please wait...
</div>

	#{ common/googleAnalytics /}

</body>
</html>