#{extends 'main.html' /}
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}	
	</style>
	
	<script type="text/javascript" src="/public/javascripts/validation.js" ></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('.personalfields').keypress(function(e){
				if (e.which == 13) {
			       $('form#signup').submit();

			       e.preventDefault();
				   return false;
			    }
			});
		});
	</script>
</head>

<body>
	<div id="top_container">
		<div id="top">
			#{ common/logo /}
		</div>
		<div id="innerbanner"></div>
		<div id="bottom_container">
			<div class="blacktext2" id="innerheading">Sign Up Now</div>
			<div id="innermiddlearea">
				<div id="signupleft">
				#{form @Application.register() , id:'signup' }
					#{if flash.from }
					    <h6 class="blacktext14">
					    	Welcome! You've gotten started by connecting your <i>${flash.from.toLowerCase().capFirst()}</i> account.
					    	<br/>Your TalkAboutHealth account needs just a few more details. 
					    	Please take a moment to provide them below
					    </h6>
					    <input type="hidden" id="from" name="from" value="${flash.from}" />
					#{/if}
					#{else}
					    <h6 class="blacktext14" style="text-align:left;">Save time entering your information</h6>
						<div class="socialicons2">
							<ul>
								<li><a href="#" onclick="openFacebook()">
										<img src="/public/images/joinusingfacebook.gif" width="150" height="22" border="0" />
								</a></li>
								<li><a href="#" onclick="openTwitter()">
										<img src="/public/images/joinusingtwitter.gif" width="150" height="22" border="0" />
								</a></li>
								<!-- <li><img src="/public/images/JoinwithGoogle.gif" width="150" height="22" />&nbsp;&nbsp;</li> -->
							</ul>
						</div>
					#{/else}	

					<h5 class="error">
						#{ifErrors}
						   <p>Validation failed! Please correct the following errors:</p>
						   <br/>
						   #{errors}
						       <p>${error}</p>
						   #{/errors}
						#{/ifErrors}
						#{if flash.contains("error") }
							<p>${flash.error}</p>
						#{/if}
					</h5>
					<div id="signupleftarea">
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Health Community</span></div>
							<div class="signuptextarea">
								<span class="blacktext14">Breast Cancer</span>
							</div>
							<div class="signtag" style="margin-top: -5px">
								<span class="textgreylight12">More Health communities coming soon. 
								Click <a href="@{Application.updatesEmail}" 
								class="bluetext12">here</a> to be reminded of our next community launch.</span>
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Patient, Physician, Caregiver, etc.</span></div>
							<div class="personaltextfield">
								<select size="1" name="talker.connection" class="personalfields" id="talker.connection">
							  		<option selected value=''></option>
							  		#{list items:models.TalkerBean.CONNECTIONS_ARRAY, as:'connection'}
									    <option value="${connection}"
									    #{if connection.equals(flash['talker.connection']) } selected #{/if} 
									    >${connection}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Username</span></div>
							<div class="personaltextfield">
								<input name="talker.userName" type="text" class="personalfields" id="talker.userName" 
									value="${flash['talker.userName']}" />
							</div>
							<div class="signtag">
								<span class="blacktext12">Your username will be visible to other members.
									If you would like to remain anonymous, be sure to make your username different than your real name.</span>
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Email</span></div>
							<div class="personaltextfield">
							  	<input name="talker.email" type="text" class="personalfields" id="talker.email" 
									value="${flash['talker.email']}" />
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Password</span></div>
							<div class="personaltextfield">
							  	<input name="talker.password" type="password" class="personalfields" id="talker.password" 
									value="${flash['talker.password']}" />
							</div>
						</div>
						*{
						
						***** Hidden fields (for now) *******
						
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Confirm Password</span></div>
							<div class="personaltextfield">
							  	<input id="talker.confirmPassword" name="talker.confirmPassword" type="password" class="personalfields"  
									value="" />
							</div>
						</div>
						
						Now it's added through popup on Home page or on Notifications page
						<div class="signupmain">
							<div class="signtag">
								<span class="textgreylight12">TalkAboutHealth notifies you of conversations via IM.</span>
							</div>
							<div class="signuptextarea">
								<span class="blacktext14" style="line-height:5px;">Select an IM Service</span><br/>
								<span class="blacktext11">(not required)</span>
							</div>
							<div class="personaltextfield" >
								<select id="talker.im" name="talker.im" class="personalfields">
							  		<option selected value=''>Select an IM service</option>
									#{list items: models.IMAccountBean.IM_SERVICES_MAP.keySet(), as:'imService'}
									    <option value="${imService}" 
									    #{if flash['talker.im'].equals(imService) } selected #{/if} 
									    >${models.IMAccountBean.IM_SERVICES_MAP.get(imService)}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea">
								<span class="blacktext14" style="line-height:5px;">IM Username</span><br/>
								<span class="blacktext11">(not required)</span>
							</div>
							<div class="personaltextfield" >
								<input name="talker.imUsername" id="talker.imUsername"  type="text" class="personalfields" 
								  	value="${flash['talker.imUsername']}" />
							</div>
							<div class="signtag">
								<span class="textgreylight12">Just the username, 
								  		no need for the "@gmail.com" or "@yahoo.com" (i.e. joesmith)</span>
							</div>
						</div>
						<div class="signupmain">
							<div class="signuptextarea"><span class="blacktext14">Date of Birth</span></div>
							<div class="personaltextfield">
								<select size="1"  name="talker.dobMonth" id="talker.dobMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
    #{if flash['talker.dobMonth'].equals((i_index-1).toString()) } selected #{/if} 
    >${i}</option>
#{/list}
								</select>
								<select size="1" name="talker.dobDay" class="textarea2" id="talker.dobDay">
							  		<option selected value='0'>Day</option>
							  		#{list items:1..31, as:'i'}
									    <option value="${i}"
									    #{if flash['talker.dobDay'].equals(i.toString()) } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
								<select size="1"  name="talker.dobYear" class="textarea2" id="talker.dobYear">
							  		<option selected value='0'>Year</option>
							  		#{list items:1991..1900, as:'i'}
									    <option value="${i}"
									    #{if flash['talker.dobYear'].equals(i.toString()) } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
							</div>
							<div class="signtag">
								<span class="textgreylight12">You must be over 18 years old to use this service.</span>
							</div>
						</div>
						}*
						<div class="signupmain"></div>
					</div>								
					<div class="signdown">
						#{if additionalSettings }
						<div style="padding-left: 10px">
							<div class="generalcheck" style="padding-top: 3px; padding-bottom:3px;">
								<span class="blacktext16"><b>Optional:</b></span>
							</div>
							
							#{list items: additionalSettings.keySet(), as: 'key' }
								<div class="generalcheck" style="padding-bottom:0px;">
									<div class="preferencescheck">
										<input type="checkbox" value="true" name="${flash.from}_${key}" style="margin-bottom: 0px;"
											#{if flash[flash.from+'_'+key] } checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;${additionalSettings.get(key)}</span>
									</div>
								</div>
							#{/list}
						</div>
						#{/if}
						
						<div id="checkboxarea2" style="padding-top: 10px;  font-weight: bold; color: #000000;">
							<input id="privacyagree" name="privacyagree" 
								type="checkbox" #{if flash['privacyagree']} checked #{/if} /> 
							By signing up I agree to the TalkAboutHealth 
							<a href="#" 
								onclick="window.open('@{Static.tos()}', 'TermsOfService','width=1000,height=550,resizable=1,scrollbars=1');" 
								class="bluetext14">Terms Of Service</a> and 
							<a href="#" 
								onclick="window.open('@{Static.privacy()}', 'PrivacyPolicy','width=1000,height=550,resizable=1,scrollbars=1');" 
								class="bluetext14">Privacy Policy</a>.
							<br />
	   						<strong>Note:</strong>
	   						<span style="font-weight: normal;">Your information will remain safe and private.</span>
						</div>
						<div id="checkboxarea2" style="padding-top: 22px;">
							<input id="talker.newsletter" name="talker.newsletter" 
								type="checkbox" #{if flash['talker.newsletter']} checked #{/if} /> 
							Sign me up for the TalkAboutHealth newsletter
						</div>
						<div class="signupbutton"  style="padding-top: 20px;">
							<a href="#" onclick="validateFormOnSubmit(document.signup);">
								<img src="/public/images/signupbutton.gif" border="0" width="126" height="46" />
							</a>
						</div>
						<div id="alreadyuser" style="padding-top: 30px;">
							<span class="blacktext14">Already have an account?&nbsp;</span> 
							<a href="@{Secure.login()}" class="bluetext16">Sign in</a>
						</div>
						<div id="checkboxarea2" style="padding-top: 20px; height: auto;">
							<span class="blacktext14"><strong>Note:</strong> All content on this site is informational and not a substitute for professional medical advice. 
							Always seek the advice of your physician or other qualified health provider with questions regarding your health.<br /><br />
 							<strong>Note:</strong> Health care professionals (i.e. physicians, pharmacists, nurses, etc.) are members of the TalkAboutHealth Community and do participate by sharing insights and knowledge.  Just like any other member, their communications are informational and are not personal medical advice.</span>
						</div>
					</div>
				#{/form}
				</div>
				
				<div id="signupright">
					<div class="signrightbox">
						<div class="signrightop"></div>
						<div class="signrighmid">
							<span class="blacktext14">Get the health information you need in 
							real-time, 24X7.<br /><br />
							Advice and support from experienced 
							peers.<br /><br />
							Meet and develop friendships with 
							others just like you.<br /><br />Share your story with others who 
							understand.</span>
						</div>
						<div class="signrighbot"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
