<script type="text/javascript">
	$(document).ready(function() {
		var newOptions = { success: showEmailMsg };
		$('#emailLetterForm').submit(function() {
			$("#emailLetterForm").ajaxSubmit(newOptions); 
			return false;
		})
	});
	function showEmailMsg(responseText) {
		if(responseText === "Ok") {
			hideAll();
			alert("Thank you for subscribing");
		} else {
			alert(responseText);
		}
	}
</script>
<div id="emailpopup" class="window">
    <div class="boxtopcenter">
		<div id="newConvoForm" class="popboxWraper">
			<div class="popbox2" style="height: 100%;">
				<div class="closecover">
					<div class="close"><img src="/public/images/close.jpg" alt="Close" /></div>
				</div>
				<div class="askquestion">
					<div class="askquestionbox"><b>Thank you for subscribing</b></div>
				</div>
				<div class="askheadingCoverz">
					<div class="askinputCover">
						Would you like to subscribe to some of our newsletters ?
					</div>
				</div>
				#{form @Newsletter.subscribeMoreNewsLetter() , id:'emailLetterForm' }
				<div class="answerh1">
					<div style="clear: both;">
						<input type="hidden" name="newsletter.email" value="" />
						<div id="checkboxarea3" style="float:none;height:30px;">
							<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="workshop" checked='checked' />
							Daily Update &amp; Workshop Announcement<br/>
							<font size="2px;" style="font-weight: normal;padding-left: 23px;">(Featured answers, experts, tips &amp; latest news.)</font>
						</div>
						<div id="checkboxarea3"  style="float:none;height:30px;">
							<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Workshop summery" checked='checked' />
							Daily Q&A Workshop Summary<br/>
							<font size="2px;" style="font-weight: normal;padding-left: 23px;">(Daily answer summaries from our expert Q&A workshops.)</font>
						</div>
						<div id="checkboxarea3"  style="float:none;height:30px;">
							<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Best of TalkAboutHealth" checked='checked' />
							Best of TalkAboutHealth (weekly)<br/>
							<font size="2px;" style="font-weight: normal;padding-left: 23px;">(The week's best answers, news &amp; support.)</font>	
						</div>		
						<div id="checkboxarea3" style="float:none;height:30px;">
							<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TalkAboutHealth Rewards" checked='checked' /> 
							TalkAboutHealth Benefits<br/>
							<font size="2px;" style="font-weight: normal;padding-left: 23px;">(Custom health, wellness &amp; medical offers.)</font>
						</div>
					</div>
				</div>
				<div style="padding: 10px 0;border-top: 1px solid #C5D0D6;font-size: 16px;height: 50px; margin-top: 10px; width: 635px;">
					<div class="askinputCover" style="float:right;">
						<span style="float:left;">
							<button type="submit" class="subscribe"></button>
						</span>
						<span style="float:left; padding-top: 15px;font-size: 13px;">
							<a href="#" onclick="javaScript:hideAll();">No Thanks</a>
						</span>
						<span style="float:right;padding-top: 15px;font-size: 13px;">
						<a href="/explore/newsletter">View all Newsletters</a></span>
					</div>
				</div>
				#{/form}
			</div>
		</div> 
	</div>
</div>