<script type="text/javascript">
	$(document).ready(function() {
		var newOptions = { success: showEmailMsg };
		$('#emailLetterForm').submit(function() {
			$("#emailLetterForm").ajaxSubmit(newOptions); 
			return false;
		});
	});
	function showEmailMsg(responseText) {
		if(responseText === "Ok") {
			$("#emailPopupError").css("color","#2E8B57");
	   		$("#emailPopupError").html("Thank you for subscribing"); 
	   		$("#emailPopupError").fadeIn(100);
	   		hideAll();
			/*Removing page submit in popup conditions*/
			//window.location.href = "/signup?fromPage=NEWS";
			//alert("Thank you for subscribing");
		} else {
			var errorText = responseText.replace("Error:", "");
	   		$("#emailPopupError").css("color","#ff0000");
	   		$("#emailPopupError").html(errorText); 
	   		$("#emailPopupError").fadeIn(100);
	   		closeTimeout = setTimeout(function() { $("#emailPopupError").fadeOut(200) }, 4000);
			//$("#emailPopupError").html(responseText);
		}
	}
</script>
<div id="emailpopup" class="window" style="width: 685px;">
    <div class="boxtopcenter">
		<div id="newConvoForm" class="popboxWraper">
			<div class="popbox2" style="height: 100%; padding: 0px;">
				
				<div class="askquestion" style="background-color: #FFF; margin-top: 0pt; padding: 10px; width: 650px;">
					<div class="askquestionbox" style="padding: 5px;">
						<span style="float: left;"><img width="153px" src="/public/images/logo_footer.jpg"/></span>
						<span style="float: left; padding-top: 3px;color:#3888c1;font-style: italic;font-size: 14px;" class="mtrighttxt1">Newsletters</span>
					</div>
					<div class="close" style="padding: 5px 0px 0px;"><img src="/public/images/close.jpg" alt="Close" /></div>
				</div>
<!-- 				<div class="askheadingCoverz"><div class="askinputCover">Would you like to subscribe to some of our newsletters ?</div></div> -->
				#{form @Newsletter.subscribeMoreNewsLetter() , id:'emailLetterForm' }
				<div class="answerh1" style="padding:5px 15px;">
					<div style="padding: 5px 0pt 10px;font-size:14px;font-weight: bold;">Subscribe to our free updates for the latest news, best answers and featured experts!</div>
					 
					<div style="clear: both;">
						<span style="font-size:14px;font-weight: bold;" >Your Email:</span> 
						<input type="text" name="newsletter.email" value="" class="askkinput" style="float:none;width:250px;" />
						<span id="emailPopupError" style="color: #FF0000;font-size: 14px;"></span>
						<div id="checkboxarea3" style="float:none;height:30px;">
							<span style="float:left;"><input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Notification" checked='checked' /></span>
							<span style="float:left; padding-top: 2px;">Q&A Workshop Announcements<br/>
							<font size="2px;" style="font-weight: normal;">(Featured experts, answers, tips, &amp; latest news.)</font>
							</span>
						</div>
						<div id="checkboxarea3"  style="float:none;height:30px;">
							<span style="float:left;"><input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Summary" checked='checked' /></span>
							<span style="float:left; padding-top: 2px;">Q&A Workshop Summaries<br/>
							<font size="2px;" style="font-weight: normal;">(Answer summaries from our expert Q&A workshops.)</font>
							</span>
						</div>
						<div id="checkboxarea3"  style="float:none;height:30px;">
							<span style="float:left;"><input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Best of TalkAboutHealth" checked='checked' /></span>
							<span style="float:left; padding-top: 2px;">Best of TalkAboutHealth (weekly)<br/>
							<font size="2px;" style="font-weight: normal;">(The week's best answers, news &amp; support.)</font></span>	
						</div>		
						<div id="checkboxarea3" style="float:none;height:30px;">
							<span style="float:left;"><input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TalkAboutHealth Rewards" checked='checked' /></span> 
							<span style="float:left; padding-top: 2px;">TalkAboutHealth Benefits<br/>
							<font size="2px;" style="font-weight: normal;">(Custom health, wellness &amp; medical promotions from our partners including clinical trials, market research opportunities, & new programs.)</font>
							</span>
						</div>
					</div>
				</div>
				<div style="padding: 5px 10px 0px;border-top: 1px solid #C5D0D6;font-size: 16px;height: 50px; margin-top: 10px; width: 650px;">
					<div class="askinputCover" style="float:right;">
						<span style="float:left;">
							<button type="submit" class="subscribe" onClick="_gaq.push(['_trackEvent', 'Newsletter_Popup', 'Signup_Click', 'Newsletter']);"></button>
						</span>
						<span style="float:left; padding-top: 15px;font-size: 13px;">
							<a onclick="javaScript:hideAll();" style="cursor: pointer;">No Thanks</a>
						</span>
						<span style="float:right;padding-top: 15px;font-size: 13px;">
						<a href="/explore/newsletter">View all Newsletters</a></span>
					</div>
				</div>
				#{/form}
			</div>
		</div> 
	</div>
</div>
