#{if csrType != null && csrType != ""}
<script type="text/javascript">
	$(document).ready(function() {
		var rewardOptions = { success: setcancerTopicLetterMessage }; 
		$('#cancerTopic').submit(function() {
			$("#cancerTopic").ajaxSubmit(rewardOptions); 
			return false;
		});
		$('#emailcancerTopic').click(function() {
			if($("#emailcancerTopic").val().trim() == 'Email Address')
				$("#emailcancerTopic").val('');
		});

		$('#emailcancerTopic').blur(function() {
			if($("#emailcancerTopic").val().trim() == '')
				$("#emailcancerTopic").val('Email Address');
		});
	});
	function setcancerTopicLetterMessage(responseText, statusText, xhr, $form) {
		if (responseText.indexOf("Error:") === 0) {
	   		var errorText = responseText.replace("Error:", "");
	   		$("#cancerTopicMessage").css("color","#ff0000");
	   		$("#cancerTopicMessage").html(errorText); 
	   		$("#cancerTopicMessage").fadeIn(100);
	   		closeTimeout = setTimeout(function() { $("#cancerTopicMessage").fadeOut(200) }, 4000);
	   	} else if (responseText.indexOf("NEW:") === 0) {
	   		$("#cancerTopicMessage").css("color","#2E8B57");
	   		$("#cancerTopicMessage").html(responseText.substring(4));
	   		$("#cancerTopicMessage").fadeIn(100);
	   		closeTimeout = setTimeout(function() { $("#cancerTopicMessage").fadeOut(200) }, 4000);
	   		var email = $("#cancerTopic :input[name='newsletter.email']").val();
	   		showPopupEmail(email);
	   	} else {
	   		#{ifnot session.username }
	   			window.location.href = "/signup?fromPage=NEWS";
	   		#{/ifnot}
	   		#{else}
		   		$("#cancerTopicMessage").css("color","#2E8B57");
		   		$("#cancerTopicMessage").html(responseText);
		   		$("#cancerTopicMessage").fadeIn(100);
		   		closeTimeout = setTimeout(function() { $("#cancerTopicBlock").fadeOut(200) }, 4000);
	   		#{/else}
	   	}
	}
	showPopupEmail = function(email) {
		$("#emailLetterForm :input[name='newsletter.email']").val(email);
		showPopup("#emailpopup", 350);
	}
</script>
<div class="box" id="tahcancerTopic">
	<h2 class="heading">#{if csrType == "All Cancers"}Cancer#{/if}#{else}${csrType}#{/else} newsletter</h2>
	<div class="body" id="cancerTopicBlock">
		<div style="float:left;padding:5px;">
			<span class="blacktextgrey15">Sign up for our weekly ${csrType} newsletter for the latest news, best answers and featured experts.</span>
		</div>
	  		#{form @Newsletter.subscribeWorkShop(), id:'cancerTopic' }
	  		<input id="newsletter" name="newsletter.newsLetterType" type="hidden" value="${csrType}"/>
	  		<div style="clear: both;height: 15px;padding:0 5px"><span id="cancerTopicMessage" class="success" style="display:none;font-size: 12px;">Thanks for subscribing.</span></div>
	  		<div>
	  		<div style="margin-right: 5px;float:left;">
			#{if session.username }
				<input name="newsletter.email" id="emailcancerTopic" class="search_field" style="width:145px;" type="text" value="${talker.email}" size="17" />
			#{/if}
			#{else}
				<input name="newsletter.email" id="emailcancerTopic" class="search_field" style="width:145px;" type="text" value="Email Address" size="17"/>
			#{/else}
			</div>
			<div style="float:left;">
				<input class="updatebtns" type="submit" value="" style="cursor: pointer;"/>
			</div>
			</div>
		#{/form}
  	</div>
</div>
#{/if}