<style>
#checkboxareainner {
    color: #646664;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: none;
    height: 20px;
    padding-top: 5px;
    text-decoration: none;
}
#subcribeConvo {
    margin-bottom: 10px;
    width: 250px;
    float: left;
    margin-top: 10px;
}



</style>
<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
<script type="text/javascript">

$(document).ready(function() {
	var submitOption = { success: setMessage }; 
	$('#subcribe').submit(function() {
		$("#subcribe").ajaxSubmit(submitOption);
		return false;
	});
	$('#email').click(function() {
		if($("#email").val().trim() == 'Please Enter Your Email Address')
			$("#email").val('');
	});

	$('#email').blur(function() {
		if($("#email").val().trim() == '')
			$("#email").val('Please Enter Your Email Address');
	});
});

function setMessage(responseText, statusText, xhr, $form)  {
	if (responseText.indexOf("Error:") === 0) {
   		var errorText = responseText.replace("Error:", "");
   		$("#responseMessage").css("color","#ff0000");
   		$("#responseMessage").html(errorText); 
   		$("#responseMessage").fadeIn(100);
   		closeTimeout = setTimeout(function() { $("#responseMessage").fadeOut(200) }, 4000);
   	} else if (responseText.indexOf("NEW:") === 0) {
   		$("#responseMessage").css("color","#2E8B57");
   		$("#responseMessage").html(responseText.substring(4));
   		$("#responseMessage").fadeIn(100);
   		closeTimeout = setTimeout(function() { $("#responseMessage").fadeOut(200) }, 4000);
   		var email = $("#subcribe :input[name='email']").val();
   		showPopupEmail(email);
   	} else {
   		$("#responseMessage").css("color","#2E8B57");
   		$("#responseMessage").html(responseText);
   		$("#responseMessage").fadeIn(100);
   		closeTimeout = setTimeout(function() { $("#responseMessage").fadeOut(200) }, 4000);
   	}
}
showPopupEmail = function(email){
	$("#emailpopup :input[name='newsletter.email']").val(email);
	showPopup("#emailpopup", 350);
}
</script>
<div id="subcribeConvo">
	#{form @Newsletter.subscribeTopic(), id:'subcribe'  }
   		<strong style="color: #000;">Receive weekly email digest of<br/> updates to the <span style="color:#0286BC">${topic.title}</span> topic</strong> <br />
   		<span id="responseMessage" style="display:none;margin-top: 5px;height:15px;float:left;width:100%;"></span>
   		<div style="margin-top: 5px;float:left;">
   			<input name="topicId" type="hidden" value="${topic.id}"/>
   			#{if talker }
   			 <input type="hidden" name="email" id="email" value="${talker.email}" />
   			 <input class="submitSubscribeTopic" type="submit" value=""/>
   			#{/if}
   			#{else}
	   		<input name="email" id="email" class="subscribeEmail" type="text" value="Please Enter Your Email Address"/>
	   		<input class="submitSubscribeEmail" type="submit" value=""/>
	   		#{/else}
   		</div>
   #{/form}
 </div>
 <div class="topicborder"></div>