<style type="text/css">
	/* Font size for autocomplete items */
	#wrapper {
	margin: 0 auto;
	width: 980px;
}
	
#header a,#header a:visited {
	color: #014ba9;
	text-decoration: none;
}

#header a:hover,#header a:focus { color: #E9225F; }
	
	
#header {
	float: left;
	width: 980px;
	margin: 10px 0 0 0;
}
.logo { float: left; position: relative; }

.search_signin {
	float: left;
	margin: 0 10px 0 20px;
	font-size: 13px;
}

.search_signin li {
	display: inline;
	float: left;
	margin: 0 10px;
	line-height: 27px;
}

.search_field {
	border: 1px solid #dadada;
	padding: 5px;
	width: 180px;
	border-radius: 3px 0 0 3px;
	-moz-border-radius:  3px 0 0 3px;
	-webkit-border-radius:  3px 0 0 3px;
}

.search_btn {
	background: #f5f5f5 url(/public/images/index/search_icon.png) center center no-repeat;
	padding: 4px 10px;
	margin: 0 0 0 -5px;
	border: 1px solid #dadada;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	cursor: pointer;
}
	
	/* main nav */
	
	#jsddm { float: left;margin-left: 25px; margin-top: 20px; }
	#jsddm li ul{background-color: #FFF;}
	#jsddm li ul li,#settings li,#settings1 li,#settings2 li{
		display: inline;
		clear:both;
		float: none;
		line-height:15px;
	}
	 
	#settings li:hover, #settings1 li:hover, #settings2 li:hover  {
		background: #0286BC !important;
		color : #FFF !important;
	}
	#jsddm li a.menu1 {
   	background-image: url("/public/images/bullet.gif");
    background-position: 36px 10px;
    background-repeat: no-repeat;
    padding-right: 25px;
}
	#jsddm li a {
		cursor: pointer;
		display: block;
		text-transform: capitalize;
		font-size: 14px;
		color: #014ba9;
		font-weight: bold;
		padding: 5px 15px 5px 5px;
	}
	#settings ul,#settings1 ul,#settings2 ul {
		margin: 0;
		padding: 0;
		position: absolute;
		visibility: hidden;
		border:1px solid #CCC;
		border-top: 1px solid #CCC;
		z-index: 1000;
		background-color: #FFF;
	}
	#jsddm li ul li a,#settings li a,#settings1 li a,#settings2 li a {
		cursor: pointer;
		display: block;
		text-transform: capitalize;
		font-size: 12px;
		color: #014ba9;
		font-weight: normal;
		padding: 5px;
	}
	
	#settings li a:hover,#settings1 li a:hover,#settings2 li a:hover {
		background: #0286BC;
		color:#FFF;
	}
	#settings1,#settings2,#settings{margin:0 5px;}
	#settings1 a.menu1,#settings2 a.menu1,#settings a.menu1 {
    background-image: url("/public/images/bullet.gif");
    background-repeat: no-repeat;
    padding-right: 9px;
	}
	#settings1 a.menu1{ background-position: 31px 5px; }
	#settings2 a.menu1{	background-position: 39px 5px; }
	#settings a.menu1 { background-position: 50px 5px; }
</style>
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;

function jsddm_open()
{	jsddm_canceltimer();
	jsddm_close();
	ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

function jsddm_close()
{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

function jsddm_timer()
{	closetimer = window.setTimeout(jsddm_close, timeout);}

function jsddm_canceltimer()
{	
	if(closetimer)
	{	window.clearTimeout(closetimer);
		closetimer = null;
	}
}
openServiceLogin = function(serviceType) {
	if(serviceType === 'F') {
		window.open("/oauth/getauth?type=facebook&redirectURL=","FacebookLogin", "width=1000,height=550,toolbar=no,location=no,menubar=no");
	} else if(serviceType === 'T'){
		window.open("/oauth/getauth?type=twitter&redirectURL=","TwitterLogin", "width=800,height=470,toolbar=no,location=no,menubar=no");
	}
}
	$(document).ready(function() {
		$(".twitterBtn").click(function() {
			openServiceLogin('T');
		});
		$(".facebookBtn").click(function() {
			openServiceLogin('F');
		});
		/*$("#topSearchBox")
			.focus(function() {
				$("#topSearchBox").autocomplete( "search" );
			})
			.keydown(function(c) {
				if (c.keyCode === 13) {
					makeFullSearch("#topSearchBox");
					return false;
				}
			});
		$("#topSearchHelp")
			.focus(function() {
				$(this).hide();
				$("#topSearchBox").show().focus();
		})*/
		
		makeAutocomplete("#topSearchBox", "all");

		//truncates big text - used for feeds, long answers, descriptions, etc.
		$('.moretext').truncatable({ limit: 70, more: '... more', less: true, hideText: '...less' });
		$('.moretext2').truncatable({ limit: 220, more: '... more', less: true, hideText: '...less' });
		
		$('#jsddm > li').bind('mouseover', jsddm_open);
		$('#jsddm > li').bind('mouseout',  jsddm_timer);
		
		$('#settings').bind('mouseover', jsddm_open);
		$('#settings').bind('mouseout',  jsddm_timer);
		
		$('#settings1').bind('mouseover', jsddm_open);
		$('#settings1').bind('mouseout',  jsddm_timer);
		
		$('#settings2').bind('mouseover', jsddm_open);
		$('#settings2').bind('mouseout',  jsddm_timer);

		//close button in popups
		$('.window .close, .window .cancelLink').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			hideAll();
		});
	});

	function makeFullSearch(inputId) {
		var query = $(inputId).val();
		
		if (trim(query) === '') {
			alert("Please enter search query");
			return false;
		}else{
			query = encodeURIComponent(trim(query));
			var url = "/search?query="+query;
			document.location = url; 
		}
	}
	
	deleteComment = function(commentId) {
   		var confirmDel = confirm("Are you sure want to delete this thought/reply?");
   		if (confirmDel) {
   	  		$.post("@{Actions.deleteComment()}", 
				{ commentId : commentId},
				function(html) {
					$(".comment"+html).html("<div class=\"inline_view moretext2\" style=\"color:#000000;padding-bottom:5px; border-bottom:solid 0px gray\">Thought deleted ...</span>");
				}
			);
   		}
   		return false;
	}
	
</script>
<div id="wrapper">
<div id="header">
	<h1 class="logo">
		<a href="/">
		#{if session.contains("cancerType")}
			<div style="height:61px;width:345px;">
				<span style="float:left;margin-right:0px;"><img src="/public/images/index/tah_logo_only.png" alt="${session.get("cancerType")}" /></span>
<!-- 				<div style="margin-top:10px;font-weight:bold;font-size:30px;float: left;color:#EB208C;text-shadow: 1px 1px 3px #1C7EB9;">Talk${session.get("cancerType").replaceAll(" ","")}</div> -->
				<div style="margin-top:10px;font-weight:bold;font-size:30px;float: left;color:#EB208C;"><!-- text-shadow: 1px 1px 3px #1C7EB9; -->
					#{if session.get("cancerType").indexOf(" ") > 0}
						<span style="color:#1da655;">Talk</span><span style="color:#1550a4;">${session.get("cancerType").replaceAll(" ","").substring(0,session.get("cancerType").indexOf(" "))}</span><span style="color:#eb1d90;">${session.get("cancerType").replaceAll(" ","").substring(session.get("cancerType").indexOf(" "))}</span>
					#{/if}
					#{else}
						<span style="color:#1da655;">Talk</span><span style="color:#1550a4;">${session.get("cancerType").replaceAll(" ","")}</span>
					#{/else}
				</div>
			</div>
		#{/if}
		#{else}
			<img src="/public/images/index/tah_logo.png" alt="Talk About Health" />
		#{/else}
		</a>
	</h1>
	<ul class="search_signin">
	    #{if session.contains("username") }
	    #{set currentUser = session.get("username") /}
	    #{if currentUser.equals("admin") }
	    <li style="width:300px;">
	    #{/if}
	    #{else}
	    <li style="width:300px">
	    #{/else}
	      <form action="?action=search" method="get">
	        <input id="topSearchBox" type="text" placeholder="Your search here..." class="search_field" />
	        <input id="topSearchText" type="button" class="search_btn" onclick="return makeFullSearch('#topSearchBox');" />
	      </form>
	    </li>
	    #{if currentUser.equals("admin") }
				<li id="settings2"><a class="menu1" href="#">Admin</a>
	                <ul>
	                  <li><a href="@{Notifications.index()}">Moderate New Questions</a></li>
	                  <li><a href="@{Dashboard.manageAccounts()}">Manage Accounts</a></li>
	                  <li><a href="@{Dashboard.verifyProfessionals()}">Verify Professionals</a></li>
	                  <li><a href="@{UserList.index()}">Users</a></li>
	                  <li><a href="@{Video.homePageVideo()}">Home video</a></li>
	                  <li><a href="@{Dashboard.diseaseUtil()}">Disease</a></li>
	                  <li><hr></li>
	                  <li><a href="@{NewsletterStats.index()}">Newsletter Stats</a></li>
	                  <li><a href="@{NewsletterStats.emailLookup()}">Email Lookup</a></li>
	                  <li><a href="@{ActivityLogReportController.logReport()}">Activity Stats</a></li>
	                  <li><a href="@{Advertisement.logReport()}">Advertisement Stats</a></li>
	                  <li><a href="@{Dashboard.topicStats()}">Topic Stats</a></li>
	                  <li><a href="@{Dashboard.diseaseStats()}">Disease Stats</a></li>
	                  <li><hr></li>
					  *{
	                  <li><a href="@{QuestionRecovery.index()}">Question Recovery</a></li>
	                  <li><a href="@{Application.reloadTalkersHealthInfo()}">Reload Talker Health Info</a></li>
	                  <li><a href="@{Application.updateTalkerIds()}">Update Talkers</a></li>
	                  <li><a href="@{UpdateQuestion.updateQuestionStatus()}">Question Recovery</a></li>
	                  }*
	                  <li><a href="@{Dashboard.updateTalkerImage()}">Image All</a></li>
	                </ul>
	            </li>
		  #{/if}
	    	<li>
                <div id="inboxLink">
               		 #{if session.inboxUnreadCount != null && !session.inboxUnreadCount.equals("") && !session.inboxUnreadCount.equals("0")  }
               		 	<a class="" href="@{Messaging.inbox()}" title="You have ${session.inboxUnreadCount} unread messages">
               		 		<b>Inbox(${session.inboxUnreadCount})</b>
               		 	</a>
                	 #{/if}
                	 #{else}
                	 	<a class="" href="@{Messaging.inbox()}" id="inboxLink">
                	 		Inbox
                	 	</a>
                	 #{/else}
                </div>
              </li>
              <li id="settings">
                <a class="menu1" href="#">Settings</a>
                <ul style="width: 141px;"><!--  right: 0; -->
                  <li><a href="@{Profile.edit()}">Edit Profile</a></li>
                  #{ifnot session.prof }
                  	<li><a href="@{Profile.healthDetails()}">Edit Health Info</a></li>
                  #{/ifnot}
                  <li><a href="@{Profile.notifications()}">Notification & Password</a></li><!-- Notification Settings & Password -->
                  <li><a href="@{Profile.preferences()}">Privacy Settings</a></li>
                </ul>
              </li>
              <li id="settings1"> <a class="menu1" href="#">More</a>
                <ul style="width: 136px;"><!-- right: 0; -->
					<li><a href="@{Static.aboutus()}">About</a></li>
					<li><a href="@{Static.howitworks()}">How it works</a></li>		                
					<li><a href="@{Static.faq()}">FAQ</a></li>
					<li><a href="@{Static.workshops()}">Q&A Workshops</a></li>
					<li><a href="@{Static.trained_peer_support_program()}">Trained Peer Support</a></li>
					<li><a href="@{Static.communityguidelines()}">Community Guidelines</a></li>
					<li><a href="@{Static.howyoucanhelp()}">How you can help</a></li>
					<li><a href="http://blog.talkabouthealth.com">Blog</a></li>
					<li><a href="@{Static.resources()}">Resources</a></li>
					<li><a href="#" onclick="openInvitationsWindow();">Share TalkAboutHealth</a></li>
					<li><a href="@{Application.contactus()}">Feedback</a></li>
					<li><a href="@{Secure.logout()}">Logout</a></li>
                </ul>
              </li>
	    #{/if}
		#{else}
		<li >
	      <form action="?action=search" method="get">
	        <input id="topSearchBox" type="text" placeholder="Your search here..." class="search_field" />
	        <input id="topSearchText" type="button" class="search_btn" onclick="return makeFullSearch('#topSearchBox');" />
	      </form>
	    </li>
			<li><a href="@{Application.signup()}"><img src="/public/images/index/user.png" alt="join now" /> Join Now</a></li>
		    <li><a href="@{Secure.login()}"><img src="/public/images/index/sign_in_icon.png" alt="sign in" /> Sign In</a></li>
	    	<li><a href="#" class="twitterBtn"><img src="/public/images/index/t_signin.png" alt="twitter signin" /></a></li>
	    	<li><a href="#" class="facebookBtn"><img src="/public/images/index/fb_signin.png" alt="facebook signin" /></a></li>
		#{/else}
	    
	</ul>
	<ul id="jsddm">
	#{if session.contains("username") }
		<li><a href="@{Home.index()}">Home</a></li>
		<li><a href="@{Explore.topics()}">Topics</a></li>
		<li><a href="@{Explore.browseMembers('active')}">Members</a></li>
		<li ><a href="#" class="menu1">You</a>
          <ul>
            <li><a href="@{ViewDispatcher.view(currentUser)}">Your Profile</a></li>
            <li><a href="@{PublicProfile.thoughts(currentUser)}">Your Thoughts</a></li>
            <li class="gap"><a href="@{PublicProfile.conversations(currentUser)}">Your Questions</a></li>
            <li><a href="@{PublicProfile.topicsFollowing(currentUser)}">Your Topics Following</a></li>
            <li class="gap"><a href="@{PublicProfile.answers(currentUser)}">Your Answers</a></li>
            <li><a href="@{PublicProfile.userBasedActions(currentUser, 'thankyous')}">Your Thank you's</a></li>
          </ul>
        </li>
        <li><a href="@{Static.TAH_Videos()}">Videos</a></li>
	#{/if}
	#{else}
	    <li><a href="@{Explore.conversations('expert')}">Answers</a></li>
	    <li><a href="@{Explore.topics()}">Topics</a></li>
	    <li>
	    	#{if session.contains("cancerType")}
	    		<a href="@{MicroSite.video(session.get("cancerType").toLowerCase().replaceAll(" ","-"))}">Videos</a>
	    	#{/if}
	    	#{else}
	    		<a href="@{Static.TAH_Videos()}">Videos</a>
	    	#{/else}
	    </li>
	    <li><a href="@{Explore.browseMembers('active')}">Members</a></li>
	    	#{if session.contains("cancerType")}
				<li><a href="@{MicroSite.medical_professionals(session.get("cancerType").toLowerCase().replaceAll(" ","-"))}">Experts</a></li>
				<li><a href="@{MicroSite.workshops(session.get("cancerType").toLowerCase().replaceAll(" ","-"))}">Workshops</a></li>
			#{/if}
	    	#{else}
	    		<li><a href="@{Static.medical_professionals()}">Experts</a></li>
	    		<li><a href="@{Static.workshops()}">Workshops</a></li>
	    	#{/else}
	    <li><a href="@{Static.trained_peer_support_program()}">Support</a></li><!--WAS: Support Team -->
	    <!--<li><a href="http://blog.talkabouthealth.com" target="_new">Blog</a></li>-->
	#{/else}
	</ul>
</div>
</div>
