<style type="text/css">
	/* Font size for autocomplete items */
	.ui-menu .ui-menu-item a { font-size: 16px }
	
	#nav { padding-top:9px; }
	
	.ajaxLoading {
		display: none;
		background-image: url(/public/images/ajax-loader.gif);
		background-repeat:no-repeat;
		width: 15px;
		height: 15px;
		margin: 10px auto;
	}
	//for caching image
	#ajaxLoading2 {
		background-image: url(/public/images/ajax-loader.gif);
		background-repeat:no-repeat;
		height: 1px;
	}
</style>
	
<script type="text/javascript">
	var timeout         = 500;
	var closetimer		= 0;
	var ddmenuitem      = 0;
	
	function jsddm_open()
	{	jsddm_canceltimer();
		jsddm_close();
		ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}
	
	function jsddm_close()
	{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}
	
	function jsddm_timer()
	{	closetimer = window.setTimeout(jsddm_close, timeout);}
	
	function jsddm_canceltimer()
	{	
		if(closetimer)
		{	window.clearTimeout(closetimer);
			closetimer = null;}
		}
	
	$(document).ready(function() {
		$('#jsddm > li').bind('mouseover', jsddm_open);
		$('#jsddm > li').bind('mouseout',  jsddm_timer);

		$("#topSearchBox")
			.focus(function() {
				$("#topSearchBox").autocomplete( "search" );
			})
			.keydown(function(c) {
				if (c.keyCode === 13) {
					makeFullSearch("#topSearchBox");
					return false;
				}
			});

		$("#topSearchHelp")
			.focus(function() {
				$(this).hide();
				$("#topSearchBox").show().focus();
			})
		
		makeAutocomplete("#topSearchBox", "all");

		//truncates big text - used for feeds, long answers, descriptions, etc.
		$('.moretext').truncatable({ limit: 70, more: '... more', less: true, hideText: '...less' });
		$('.moretext2').truncatable({ limit: 220, more: '... more', less: false, hideText: '' });
		

		//close button in popups
		$('.window .close, .window .cancelLink').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			hideAll();
		});
	});

	function makeFullSearch(inputId) {
		var query = $(inputId).val();
		if (query === '') {
			alert("Please enter search query");
			return false;
		}
		var url = "/search?query="+query;
		document.location = url;
	}
	
	document.onclick = jsddm_close;
	
// MOVED YURIY
   		function deleteComment(commentId) {
   	   		var confirmDel = confirm("Are you sure want to delete this thought/reply?");
   	   		if (confirmDel) {
   	   	   		//$(".comment"+commentId).remove();
   	   	   		$(".comment"+commentId).html("<div class=\"inline_view moretext2\" style=\"color:#000000;padding-bottom:5px; border-bottom:solid 0px gray\">Thought deleted ...</span>");

   	   	  		$.post("@{Actions.deleteComment()}", 
    				{ commentId : commentId},
    				function(html) {
    	  				//...
    				}
    			);
   	   		}
   	   		return false;
   		}
// MOVED YURIY   			
</script>
<div id="top_container">
	<div id="top">
        <div id="logoac">
        	<a href="@{Application.index()}">
        		<img width="322" height="66" class="logotopmargin" 
        			alt="Talk About Health" src="/public/images/mainlogo.png" border="0"/>
        	</a>
        </div>
        <div id="topnav3">
        	#{if session.contains("username") }
				#{set currentUser = session.get("username") /}
				<div class="topnavigationz">
					<div class="top4ie7"></div>
		            <ul id="jsddm">
		              <!-- <li><a href="#">Inbox</a></li>
		              <li class="separator">|</li> -->
		              #{if currentUser.equals("admin") }
							<li style="margin-right: 5px;"> <a class="libull" href="#"><b>Admin</b></a>
				                <ul>
				                  <li><a href="@{Notifications.index()}">Moderate New Questions</a></li>
				                  <li><a href="@{Dashboard.manageAccounts()}">Manage Accounts</a></li>
				                  <li><a href="@{Dashboard.verifyProfessionals()}">Verify Professionals</a></li>
				                  <li><a href="@{UserList.index()}">Users</a></li>
				                  <li><a href="@{QuestionRecovery.index()}">Question Recovery</a></li>
				                  <!--<li><a href="@{UpdateQuestion.updateQuestionStatus()}">Question Recovery</a></li>-->
				                </ul>
				            </li>
				            <li class="separator">|</li>
					  #{/if}
		              <li style="margin-right: 5px;">
		                <a class="libull" href="#">Settings</a>
		                <ul>
		                  <li><a href="@{Profile.edit()}">Edit Profile</a></li>
		                  #{ifnot session.prof }
		                  	<li><a href="@{Profile.healthDetails()}">Edit Health Info</a></li>
		                  #{/ifnot}
		                  <li><a href="@{Profile.notifications()}">Notification Settings & Password</a></li>
		                  <li><a href="@{Profile.preferences()}">Privacy Settings</a></li>
		                </ul>
		              </li>
		              <li class="separator">|</li>
		              <li> <a class="libull2" href="#">More</a>
		                <ul>
			              <li><a href="@{Static.aboutus()}">About</a></li>
			              <li><a href="@{Static.howitworks()}">How it works</a></li>		                
		                  <li><a href="@{Static.faq()}">FAQ</a></li>
		                  <li><a href="@{Static.communityguidelines()}">Community Guidelines</a></li>
		                  <li><a href="@{Static.howyoucanhelp()}">How you can help</a></li>
		                  <li><a href="http://blog.talkabouthealth.com">Blog</a></li>
		                  <li><a href="@{Static.resources()}">Resources</a></li>
		                  <li><a href="@{Static.workshops()}">Workshops and Events</a></li>
		                  <li><a href="@{Secure.logout()}">Logout</a></li>
		                </ul>
		              </li>
		            </ul>
	            	<div class="cb"></div>
	          	</div>
	          <!--topnavigations-->
	          <div class="cb"></div>
          
	          <div class="topnavCover">
	          
	            <div style="float: left; width: 265px;">
	              <div class="topnavCover2">
	                <div style="padding-top: 2px;" class="topsearchCover">
	                  <div class="topsearchinput">
	                    <input id="topSearchHelp" type="text" class="topserchz iebox"
	                    	style="color: #aaaaaa;" value="Search answers and topics"
	                    	/>
	                    <input id="topSearchBox" type="text" class="topserchz iebox" style="display: none;"/>
	                  </div>
	                  <div class="topsubmitsz">
	                    <input id="topSearchText" type="submit" onclick="return makeFullSearch('#topSearchBox');" 
	                    	style="cursor: pointer;" value=" " src="images/topsubmitbtn.png" class="topsubmit"/>
	                  </div>
	                </div>
	                <!--topsearchCover-->
	              </div>
	              <!--topnavCover2-->
	            </div>
	            
	            <div class="topnavCover1">
	              <ul id="nav">
	                <li class="home no-hov"><a href="@{Home.index()}">Home</a></li>
	                <!-- 
	                <li class="profile"><a href="@{ViewDispatcher.view(currentUser)}">You</a></li>
	                -->
	                <li class="profile"><a href="#" class="menu1">You</a>
	                  <ul>
	                    <li><a href="@{ViewDispatcher.view(currentUser)}">Your Profile</a></li>
	                    <li><a href="@{PublicProfile.thoughts(currentUser)}">Your Thoughts</a></li>
	                    <li class="gap"><a href="@{PublicProfile.conversations(currentUser)}">Your Questions</a></li>
	                    <li><a href="@{PublicProfile.topicsFollowing(currentUser)}">Your Topics Following</a></li>
	                    <li class="gap"><a href="@{PublicProfile.answers(currentUser)}">Your Answers</a></li>
	                    <li><a href="@{PublicProfile.userBasedActions(currentUser, 'thankyous')}">Your Thank you's</a></li>
	                  </ul>
	                </li>
	                 
	                <li class="explore"> <a href="#" class="menu2">Explore</a>
	                  <ul>
	                    <!-- <li><a href="@{Home.conversationFeed()}">Community Conversation Feed</a></li>  -->
	                    <!-- REFACTOR REMOVING LIVE CHAT OPTION
	                    <li><a href="@{Explore.liveTalks()}">Live Chats</a></li>

	                    -->
	                    <li><a href="@{Explore.openQuestions()}">Unanswered Questions</a></li>
	                    <li class="gap"><a href="@{Explore.browseMembers('active')}">Browse Members</a></li>
	                    <li><a href="@{Explore.browseMembers('search')}">Search Members</a></li>
	                    <li class="gap"><a href="@{Explore.browseTopics()}">Browse Topics</a></li>
	                    <li><a href="@{Search.allSearch()}">Search Answers and Topics</a></li>
	                  </ul>
	                </li>
	                <!--<li><a href="@{Explore.liveTalks()}">Chats</a></li>-->
	                <!--  <li class="community"> <a class="menu3" href="$">Group</a>
	                  <ul>
	                    <li><a href="#">Your Contacts</a></li>
	                    <li><a href="#">Browse People</a></li>
	                    <li><a href="#">Contributor Dash</a></li>
	                    <li class="gap"><a href="#">Blog</a></li>
	                    <li><a href="#">Forum</a></li>
	                  </ul>
	                </li>-->
	              </ul>
	              <!--nave-->
	            </div>
	            <!--topnavCover1-->
	            
	          </div>
	      #{/if}
	      #{else}
				<div class="topnavigationz" style="width: 270px;">	      
					#{if currentPage?.equals('landing') }
						<!--<ul id="jsddm" style="float: left;margin-left:-40px;">-->
						<ul id="jsddm" style="float: left;">
			              <li class="tell"><a href="@{Application.signup()}">Join Now</a></li>
			              <li class="separator">|</li>
			              <li class="tell"><a href="@{Secure.login()}">Sign In</a></li>
			              <!--			              			              
			              <li class="separator">|</li>
			              <li> <a class="libull4" href="#">More</a>
			                <ul>
			                  <li><a href="@{Static.aboutus()}">About</a></li>
			                  <li><a href="@{Static.howitworks()}">How it works</a></li>
			                  <li><a href="@{Static.faq()}">FAQ</a></li>
			                  <li><a href="@{Static.communityguidelines()}">Community Guidelines</a></li>
			                  <li><a href="@{Static.howyoucanhelp()}">How you can help</a></li>
			                  <li><a href="http://blog.talkabouthealth.com">Blog</a></li>
			                  <li><a href="@{Static.resources()}">Resources</a></li>
			                  <li><a href="@{Static.workshops()}">Workshops and Events</a></li>
			                  <li><a href="@{Application.contactus()}">Feedback</a></li>
			                  <li><a href="#" onclick="openInvitationsWindow();">Share TalkAboutHealth</a></li>
			                </ul>
			              </li>
			              -->			              
			            </ul>
			            <div class="homesocail">
			          		<a href="#" onclick="openFacebook()"><img border="0" alt="Facebook" src="/public/images/facebook.jpg"/></a> 
			          		<a href="#" onclick="openTwitter()"><img border="0" alt="Twitter" src="/public/images/twitter.jpg"/></a> 
			          	</div>
					#{/if}
					#{else}
						<ul id="jsddm">
			              <li class="tell"><a href="@{Application.signup()}">Join Now</a></li>
			              <li class="separator">|</li>
			              <li class="tell"><a href="@{Secure.login()}">Sign In</a></li>
			              <li class="separator">|</li>
			              <li> <a class="libull4" href="#">More</a>
			                <ul>
			                  <li><a href="@{Static.aboutus()}">About</a></li>
			                  <li><a href="@{Static.howitworks()}">How it works</a></li>
			                  <li><a href="@{Static.faq()}">FAQ</a></li>
			                  <li><a href="@{Static.communityguidelines()}">Community Guidelines</a></li>
			                  <li><a href="@{Static.howyoucanhelp()}">How you can help</a></li>
			                  <li><a href="http://blog.talkabouthealth.com">Blog</a></li>
			                  <li><a href="@{Static.workshops()}">Workshops and Events</a></li>
			                  <li><a href="@{Application.contactus()}">Feedback</a></li>
			                  <li><a href="#" onclick="openInvitationsWindow();">Share TalkAboutHealth</a></li>
			                </ul>
			              </li>
			            </ul>
					#{/else}
		            
	            	<div class="cb"></div>
	          	</div>
	          	
	          <div class="cb"></div>
          
	          <div class="topnavCover">
	          	<div style="float: left; width: 265px;">
	              <div class="topnavCover2">
	                <div style="padding-top: 2px;" class="topsearchCover">
	                  <div class="topsearchinput">
	                    <input id="topSearchHelp" type="text" class="topserchz iebox"
	                    	style="color: #aaaaaa;" value="Search answers and topics"
	                    	/>
	                    <input id="topSearchBox" type="text" class="topserchz iebox" style="display: none;"/>
	                  </div>
	                  <div class="topsubmitsz">
	                    <input id="topSearchText" type="submit" onclick="return makeFullSearch('#topSearchBox');" 
	                    	style="cursor: pointer;" value=" " src="images/topsubmitbtn.png" class="topsubmit"/>
	                  </div>
	                </div>
	                <!--topsearchCover-->
	              </div>
	              <!--topnavCover2-->
	            </div>
	            
	            <div class="topnavCover1">
	            	#{include 'notloggedinMenu.html' /}
	            </div>
	          </div>	      
	      #{/else}
	      
          <div class="cb"></div>
        </div>
      </div>
      
<!-- Saved form notification -->      
<div id="savedHelp">
	<div style="clear: none; float: right;" class="closecover">
		<div onclick="return hideHelpInfo('saved', false);" class="close">
			<img alt="Close" src="/public/images/close.png"/>
		</div>
	</div>
	<div id="savedHelpText">Saving...</div>
	<div id="savedHelpError"></div>
</div>      

<div id="ajaxLoading" class="ajaxLoading"></div>
<div id="ajaxLoading2"></div>
