<div class="box2">
  <h2 class="heading"><img src="/public/images/index/logo_blue.png" alt="logo_blue" /><a href="@{Explore.topics()}"> Topics</a></h2>
  <ul>
    <h3 class="sub_heading">Cancer, Patients and Survivors</h3>
    <li><a href="#">Patient Experiences (Cancer)</a></li>
    <li><a href="#">Patient Decisions (Cancer)</a></li>
    <li><a href="#">Survivorship (Cancer)</a></li>
    <li><a href="#">Emotional Support (Cancer)</a></li>
    <li><a href="#">What To Expect (Cancer)</a></li>
    <li><a href="#">Next Steps (Cancer)</a></li>
    <li><a href="#" class="last">More Options +</a></li>
  </ul>
  <ul>
    <h3 class="sub_heading">Cancer Symptoms and Diagnosis</h3>
    <li><a href="#">Symptoms (Cancer)</a></li>
    <li><a href="#">Just Diagnosed (Cancer)</a></li>
    <li><a href="#">Diagnosis (Cancer)</a></li>
    <li><a href="#">Pathology (Cancer)</a></li>
    <li><a href="#">Staging (Cancer)</a></li>
    <li><a href="#" class="last">More Options +</a></li>
  </ul>
</div>