<div class="box2">
  <h2 class="heading"><img src="/public/images/index/logo_blue.png" alt="logo_blue" /><a href="@{Explore.topics()}"> Topics</a></h2>
  <ul>
    <h3 class="sub_heading">Patients and Caregivers</h3>
    <li><a href="/cancer-patient-experiences">Patient Experiences</a></li>
    <li><a href="/cancer-patient-decisions">Patient Decisions</a></li>
    <li><a href="/cancer-survivorship">Survivorship</a></li>
    <li><a href="/cancer-emotional-support">Emotional Support</a></li>
    <li><a href="/cancer-what-to-expect">What To Expect</a></li>
    <li><a href="/cancer-mental-health">Mental Health</a></li>
    <li><a href="/cancer-how-to-prepare" class="last">How to Prepare</a></li>
    <li><a href="/cancer-next-steps" class="last">Next Steps</a></li>
  </ul>
  <ul>
    <h3 class="sub_heading">Treatment & Side Effects</h3>
    <li><a class="diseaseLink" href="/cancer-medications">Medications </a></li>
    <li><a class="diseaseLink" href="/cancer-surgery">Surgery </a></li>
    <li><a class="diseaseLink" href="/oncology">Oncology </a></li>
    <li><a class="diseaseLink" href="/radiation-therapy">Radiation Therapy </a></li>
    <li><a class="diseaseLink" href="/chemotherapy">Chemotherapy</a></li>
    <li><a class="diseaseLink" href="/biologic-therapy">Biologic Therapy</a></li>
    <li><a class="diseaseLink" href="/hormonal-therapy">Hormonal Therapy</a></li>
    <li><a class="diseaseLink" href="/complementary-and-alternative-medicine">Complementary & Alternative Medicine</a></li>
    <li><a class="diseaseLink" href="/cancer-side-effects">Side Effects </a></li>
  </ul>
  <ul>
    <h3 class="sub_heading">Life & Everyday</h3>
    <li><a class="diseaseLink" href="/nutrition">Nutrition</a></li>
    <li><a class="diseaseLink" href="/health">Health</a></li>
    <li><a class="diseaseLink" href="/exercise">Exercise & Fitness</a></li>
    <li><a class="diseaseLink" href="/beauty">Skin & Beauty</a></li>
    <li><a class="diseaseLink" href="/career">Career & Employment</a></li>
    <li><a class="diseaseLink" href="/legal">Legal</a></li>
    <li><a class="diseaseLink" href="/insurance">Insurance</a></li>
    <li><a class="diseaseLink" href="/medical-debt">Medical Debt</a></li>
  </ul>
  
  <ul>
    <h3 class="sub_heading">Symptoms and Diagnosis</h3>
    <li><a class="diseaseLink" href="/cancer-symptoms">Symptoms </a></li>
    <li><a class="diseaseLink" href="/cancer-just-diagnosed">Just Diagnosed </a></li>
    <li><a class="diseaseLink" href="/cancer-diagnosis">Diagnosis </a></li>
    <li><a class="diseaseLink" href="/cancer-pathology">Pathology </a></li>
    <li><a class="diseaseLink" href="/cancer-staging">Staging </a></li>
    <li><a class="diseaseLink" href="/cancer-recurrence">Recurrence </a></li>
  </ul>

<ul>
    <h3 class="sub_heading">Risk, Screening, and Genetics</h3>
    <li><a class="diseaseLink" href="/cancer-screening">Screening </a></li>
    <li><a class="diseaseLink" href="/cancer-risk-factors">Risk Factors </a></li>
    <li><a class="diseaseLink" href="/cancer-genetics">Genetics </a></li>
  </ul>
</div>
