<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:og="http://ogp.me/ns#"
		xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="author" content="TalkAboutHealth" /> 
	<meta name="robots" content="all" /> 
	
	<title>${pageTitle ? pageTitle : 'TalkAboutHealth - Breast Cancer Questions and Answers. Personalized, helpful, and accurate health information.'}</title>
	<meta name="description" content="${pageDescription ? pageDescription : 'Breast Cancer Questions and Answers.  Personalized, helpful, and accurate health information. Share your knowledge and experiences to improve and save lives. TalkAboutHealth uses matching and collaboration to ensure high quality, trusted, accessible, and personalized answers. We match patients with surviors and experts who can help. We match the right health information to the people who need it.  Take control, learn, and feel confident with a cancer support network to help with your journey.  Everyone in the community is welcome including patients, caregivers, family, physicians, nurses, pharmacists, and other health professionals.'}" /> 
	<meta name="keywords" content="${pageKeywords ? pageKeywords : 'support, health information, cancer, breast cancer, questions, answers, personalized health, emotional support, medical information, meet, learn, share, health community, relationships, wellness, health advice'}" /> 
	
	#{if pageType?.equals("Conversation") || pageType?.equals("Topic") }
		<meta property="og:title" content="${pageTitle}" />
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="${currentURL}"/>
		<meta property="og:image" content="http://talkabouthealth.com/public/images/mainlogo.png"/>
		<meta property="og:site_name" content="TalkAboutHealth"/>
		<meta property="og:description" content="${pageDescription}"/>
	#{/if}
	
	<link rel="shortcut icon" href="@{'/public/images/favicon.ico'}" />
	
	<link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/old_style.css" rel="stylesheet" type="text/css" />
	
	<!--[if lte IE 8]> <link href="/public/stylesheets/styleie.css" rel="stylesheet" type="text/css"> <![endif]-->

	<script type="text/javascript" src="/public/javascripts/jquery-1.4.2.min.js" ></script>
	<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
	
	<link rel="stylesheet" href="/public/plugins/ui-lightness/jquery-ui-1.8.4.custom.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/public/javascripts/jquery-ui-1.8.4.custom.min.js" ></script>
	
	<script type="text/javascript" src="/public/javascripts/all.js" ></script>
	<script type="text/javascript" src="/public/javascripts/headermenu.js" ></script>
	
	<script type="text/javascript">
		var currentURL = "${currentURL}";
		#{if talker}
			var hasTwitter = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.TWITTER) != null };
			var hasFacebook = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.FACEBOOK) != null };		
		#{/if}
	</script>
		
	#{doLayout /}
	
	<div id="footerarea">
		<div id="footer">
			<div id="footerleft">
				<div id="footericons">Find us on Facebook and Twitter 
					<a href="http://www.facebook.com/pages/TalkAboutHealth/123999230963635?ref=sgm" >
						<img src="/public/images/facebookfooter.gif" width="17" height="17" border="0" />
					</a>
					<a href="http://twitter.com/talkabouthealth">
						<img src="/public/images/twitterfooter.gif" width="17" height="17" border="0" />
					</a>
				</div>
				|&nbsp;&nbsp;
				<a href="http://blog.talkabouthealth.com" class="footerlink">Blog</a>&nbsp;&nbsp;|&nbsp;
				<a href="@{Static.faq()}" class="footerlink">Faq</a>&nbsp;&nbsp;|&nbsp;
				<a href="@{Application.contactus()}" class="footerlink">Contact Us</a>&nbsp;&nbsp;|&nbsp;
				<a href="@{Static.aboutus()}" class="footerlink">About Us</a>&nbsp;&nbsp;|&nbsp;
				<a href="@{Static.privacy()}" class="footerlink">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;
				<a href="@{Static.tos()}" class="footerlink" style="margin-right: 100px;">Terms of Service</a>
				<span>&copy; 2010</span>
			</div>
			<div id="footerright">
				<img src="/public/images/logo_footer.jpg" width="178" height="28" alt="" />
			</div>
		</div>
	</div>

	#{ common/googleAnalytics /}

</body>
</html>
