#{if session.contains("username") }
	#{set currentUser = session.get("username") /}
	<div class="chromestyle" id="chromemenu">
		<ul>
			#{if currentUser.equals("admin") }
				<li><a href="#" rel="dropmenu0"><b>Admin</b></a></li>
			#{/if}
			<li><a href="@{Home.index()}">Home</a></li>
			<li><a href="#" rel="dropmenu1">You</a></li>
			<li><a href="#" rel="dropmenu2">Explore</a></li>
			<li><a href="#" rel="dropmenu3">Settings</a></li>
			<li><a href="#" rel="dropmenu4">Help</a></li>
			<li><a href="@{Secure.logout()}" >Logout</a></li>	
		</ul>
	</div>
	<!--0st drop down menu -->                                                   
	<div id="dropmenu0" class="dropmenudiv">
		<a href="@{Dashboard.index()}">Dashboard</a>
		<a href="@{Dashboard.manageAccounts()}">Manage Accounts</a>
		<a href="@{Dashboard.verifyProfessionals()}">Verify Professionals</a>
	</div>
	<!--1st drop down menu -->                                                   
	<div id="dropmenu1" class="dropmenudiv">
		<a href="@{ViewDispatcher.view(currentUser)}">Public Profile</a>
		<a href="@{PublicProfile.userBasedActions(currentUser, 'comments')}">Comment Stream</a>
		<a href="@{PublicProfile.userBasedActions(currentUser, 'thankyous')}">Thank you's</a>
		<a href="@{PublicProfile.userBasedActions(currentUser, 'following')}">Following</a>
		<a href="@{PublicProfile.userBasedActions(currentUser, 'followers')}">Followers</a>
		<!--
		<a href="#">Conversation History</a>
		-->
		<a href="@{PublicProfile.conversationsStarted(currentUser)}">Conversations Started</a>
		<a href="@{PublicProfile.conversationsJoined(currentUser)}">Conversations Joined</a>
		<a href="@{PublicProfile.conversationsFollowing(currentUser)}">Conversations Following</a>
		<a href="@{PublicProfile.topicsFollowing(currentUser)}">Topics Following</a>
	</div>
	<!--2nd drop down menu -->                                                
	<div id="dropmenu2" class="dropmenudiv" style="width: 180px;">
		<a href="@{Community.searchConversations()}">Search Conversations</a>
		<a href="@{Community.browseMembers('active')}">Browse Members</a>
		<a href="@{Community.browseMembers('search')}">Find Members</a>
		<!--
		<a href="#">Search Conversations</a>
		<a href="#">Browse Conversations</a>
		-->
	</div>
	<!--3rd drop down menu -->                                                   
	<div id="dropmenu3" class="dropmenudiv" style="width: 180px;">
		<a href="@{Profile.edit()}">Edit Personal Info</a>
		<a href="@{Profile.healthDetails()}">Edit Health Info</a>
		<a href="@{Profile.notifications()}">Notification Settings</a>
		<a href="@{Profile.preferences()}">Privacy Settings</a>
	</div>
	<div id="dropmenu4" class="dropmenudiv" style="width: 180px;">
		<a href="@{Static.faq()}">FAQ</a>
		<a href="@{Static.communityguidelines()}">Community Guidelines</a>
		<!--  
		<a href="#">Enabling IM</a>
		<a href="#">IM Commands</a>
		<a href="#">Tips and Etiquette</a>
		-->
		<a href="http://blog.talkabouthealth.com">Blog</a>
		<a href="@{Application.contactus()}">Feedback</a>
		<a href="#" onclick="openInvitationsWindow()">Share TalkAboutHealth</a>
	</div>
	<script type="text/javascript">
		cssdropdown.startchrome("chromemenu")
		
		function openInvitationsWindow() {
			window.open("@{Home.invitations()}", "TalkAboutHealthInvitations", "width=600,height=350");
		}
	</script>
#{/if}