#{if !newsLetterFlag }
<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
   <script type="text/javascript">
   <!--
	$(document).ready(function() {

		//check cookie value of newsletter for displaying
		if(getCookie('newsLetter')=='hide'){
			document.getElementById('newsLetter').style.display = 'none';
		}else{
			document.getElementById('newsLetter').style.display = '';
		}
				
		var newsLetterOptions = { success: setNewsLetterMessage }; 
		$('#newsletter').submit(function() {
			$("#newsletter").ajaxSubmit(newsLetterOptions); 
			return false;
		});
	});
   //Show subscribe result in widget itself
	function setNewsLetterMessage(responseText, statusText, xhr, $form)  {
		if (responseText.indexOf("Error:") === 0) {
	   		var errorText = responseText.replace("Error:", "");
	   		$("#newsletterMessage").css("color","#ff0000");
	   		$("#newsletterMessage").html(errorText); 
	   		$("#newsletterMessage").fadeIn(100);
	   		closeTimeout = setTimeout(function() { $("#newsletterMessage").fadeOut(200) }, 4000);
	   	} else {
	   		$("#newsletter").fadeOut(200);
	   		$("#newsletterMessage").css("color","#2E8B57");
	   		$("#newsletterMessage").html(responseText);
	   		$("#newsletterMessage").fadeIn(100);
	   		closeTimeout = setTimeout(function() { $("#newsletterblock").fadeOut(200) }, 4000);
	   	}
	}

	function changeEmail(){
		var email = document.getElementById("email").value;
		if(email == 'Email Address'){
			document.getElementById("email").value = "";
		}else if(email == ''){
			document.getElementById("email").value = "Email Address";
		}
	}

	function emailValue(){
		var email = document.getElementById("email").value;
		if(email == 'Email Address'){
			document.getElementById("email").value = "";
		}
	}

	function closeDiv(){
		setCookie('newsLetter','hide',1);
		document.getElementById('newsLetter').style.display = 'none';
	}

	function setCookie(c_name,value,exdays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) +";path=/;";
		document.cookie=c_name + "=" + c_value;
	}

	function getCookie(c_name){
		var i,x,y,ARRcookies=document.cookie.split(";");
		for (i=0;i<ARRcookies.length;i++){
		  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
		  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
		  x=x.replace(/^\s+|\s+$/g,"");
		  if (x==c_name){
		    	return unescape(y);
		  }
		}
	}
	-->
</script>
	<div id="newsLetter" style="display: none;">
	<div class="mtrighttxt2" id="newsletterblock" style="height: auto;padding-left: 32px;padding-top: 43px;width: 216px;">
			<div style="margin-top: -33px; margin-left: 190px;" id="closeDiv"><a href="javascript:closeDiv();" title="Close">x</a></div>
		     <div class="blacktextgrey15_1">Join Our Newsletter</div>
				<span class="blacktextgrey8"></span>	        
				<span class="talkinfo" style="font-size: 11px;line-height: 19px;">
					Upcoming events, best blog posts, latest news, and featured organizations and experts.
					<br/>
				</span>
				<span class="blacktextgrey6"><br /></span>
			    <span id="newsletterMessage" class="success" style="display:none;">Thanks for subscribing to newsletter.</span>
					#{form @Application.subscribeNewsletter(), id:'newsletter'  }
					#{if session.username }
						<input name="email" id="email" class="email" type="text" value="${talker.email}" size="17" />
					#{/if}
					#{else}
						<input name="email" id="email" class="email" type="text" value="Email Address" size="17"  onclick="javascript:changeEmail();" onblur="javascript:changeEmail();"/>
					#{/else}
					<br/>
					<div style="padding-top: 12px;">
						<input class="newsignupbutton" type="submit" value="" style="cursor: pointer;"/>
					</div>
					<br />
					<br />
					<div><span><a href="/explore/newsletter">
					View all newsletters</a>
					</span></div>
					<!--
					 -- Old Code --
					Just Press [Enter] Key 
					<div class="signupbutton"><input type="submit" value="Subscribe Now" /></div>
					 -->
					#{/form}
				<span class="blacktextgrey6"><br /></span>	 
		    </div>
		     <div class="topicborder" style="margin-top: 15px;"></div>  
    </div>
    
    <div class="topists" id="tahNewsletter" style="display: none;">
		<div class="mtrighttxt1">TahkAboutHealth Newsletters</div>
		<br />
		<div><span class="blacktextgrey15">Sign up for one of our free newsletters!</span></div>
		 <div style="padding-top: 12px;">
			<a href="/explore/newsletter" >	<button class="newsignupbutton" type="submit" value=""  style="cursor: pointer;"></button></a>
		</div>	
		<br />
		<div class="topicborder"></div>
	</div>
    
#{/if}
#{else}
	<div class="topists" id="tahNewsletter">
		<div class="mtrighttxt1">TahkAboutHealth Newsletters</div>
		<br />
		<div><span class="blacktextgrey15">Sign up for one of our free newsletters!</span></div>
		 <div style="padding-top: 12px;">
			<a href="/explore/newsletter" >	<button class="newsignupbutton" type="submit" value=""  style="cursor: pointer;"></button></a>
		</div>	
		<br />
		<div class="topicborder"></div>
	</div>
#{/else}