<ul id="nav">
  <li class="explore"> <a href="#" class="menu4">Questions</a>
    <ul>
      <li><a href="@{Explore.conversations('feed')}">Community Questions</a></li>
      <li><a href="@{Explore.conversations('popular')}">Popular Questions</a></li>
      <li class="gap"><a href="@{Explore.liveTalks()}">Live Chats</a></li>
      <li><a href="@{Explore.openQuestions()}">Unanswered Questions</a></li>
      <li class="gap"><a href="@{Explore.searchConversations()}">Search</a></li>
    </ul>
  </li>
  <li><a href="@{Explore.browseTopics()}">Topics</a></li>
  <li><a href="@{Community.browseMembers()}">Members</a></li>
</ul>