<ul id="nav">
  <li class="explore"> <a href="#" class="menu2">Explore</a>
    <ul style="width: 210px;">
      <li><a href="@{Explore.conversations('feed')}">Community Conversation Feed</a></li>
      <li><a href="@{Explore.conversations('popular')}">Popular Conversations</a></li>
      <li class="gap"><a href="@{Explore.liveTalks()}">Live Chats</a></li>
      <li><a href="@{Explore.openQuestions()}">Open Questions</a></li>
      <li class="gap"><a href="@{Explore.browseTopics()}">Browse Topics</a></li>
      <li><a href="@{Explore.searchConversations()}">Search Conversations</a></li>
    </ul>
  </li>
  <li><a href="http://blog.talkabouthealth.com">Blog</a></li>
  <li><a href="@{Static.faq()}">FAQ</a></li>
  <li><a href="@{Static.aboutus()}">About</a></li>
</ul>