<div id="comright" style="padding-left:30px;">
#{if session.username }
	
	<script type="text/javascript">
		var currentURL = '${currentURL}';
		#{if talker}
			var hasTwitter = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.TWITTER) != null };
			var hasFB = ${ talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.FACEBOOK) != null };		
		#{/if}
	</script>
	
	<div class="topipsts"> <br />
       	#{if session.username.equals(talker.userName) }
       		Welcome 
             	<a href="@{ViewDispatcher.view(talker.userName)}"><strong>${talker.userName}</strong></a>!
       	#{/if}
       	#{else}
       		<a href="@{ViewDispatcher.view(talker.userName)}"><strong>${talker.userName}'s</strong></a> Profile
       	#{/else}
       	
         <div class="comtopbox">
             <div class="comrightimg">
				#{talker/talkerImageLink size: 58, userName: talker.userName /}
             </div>
             <div class="topr">
               <div class="comrighttext">
                 
                 #{if talker.connection}
                 	<div class="topiptext2">#{talker/connectionInfo talker: talker /}</div>
                 #{/if}
                 <div class="topiptext2">${talker.levelOfRecognition}</div>
               </div>
       		 </div>
       		<div class="cb"></div>
		</div>

     <!--comtopbox-->
     <div class="tpcover">
       <div class="thanktxt">
         <div class="thanktxtl">
           <div class="thanktxtblack">Thank You's:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'thankyous')}">
				${talker.thankYouList.size()}
			</a>
			 </div>
           </div>
           <!--thanktxtl-->

         <div class="thanktxtr">
           <div class="thanktxtblack">Following:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">
				${talker.followingList.size()}
			</a>
             </div>
           </div>
           <!--thanktxtr-->
         <div class="cb"></div>
       </div>
       <!--thanktxt-->

       <div class="thanktxt">
         <div class="thanktxtl">
           <div class="thanktxtblack">Answers:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none;" href="@{PublicProfile.answers(talker.userName)}">
				${talker.answerList.size()}
			</a>
           </div>
         </div>
         <!--thanktxtl-->
         <div class="thanktxtr">
           <div class="thanktxtblack">Followers:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">
				${talker.followerList.size()}
			</a>
           </div>
         </div>
           <!--thanktxtr-->
         <div class="cb"></div>
       </div>
       <!--thanktxt-->
     </div>
     <!--tpcover-->

     <div class="mtop"></div>
     <div class="topicborder"></div>
   </div>
   <!--topipsts-->
   <div class="cb"></div>
   
    #{if session.username.equals(talker.userName) && talker.verifyCode != null }
		<div class="topipsts">
           <div class="mtrighttxt1">Please verify your email</div>
           <div class="topixtext">
             <div class="tellustext">
             	So we can send you updates for your conversations.
             	<br/><br/>
             	<span style="font-size: 12px;">
             		<a href="#" title="${talker.email}" 
             			onclick="return sendVerificationLink(this);">Resend verification email.</a>
             		<span id="verificationResendResult" class="blacktext12"></span>
             	</span>
             </div>
           </div>
           <!--topixtext-->
	     <div class="mtop"></div>
	     <div class="topicborder"></div>
	   </div>
 	#{/if}
    
    *{
    #{if session.username.equals(talker.userName) && talker.nextStepMessage }
		<div class="topipsts">
           <div class="mtrighttxt1">Next Step</div>
           <div class="topixtext">
             <div class="tellustext">
             	<span style="font-size: 16px;">${talker.nextStepMessage?.raw()}</span>
             	#{if talker.nextStepNote}
             		<br/><br/>
             		${talker.nextStepNote}
             	#{/if}
             </div>
           </div>
           <!--topixtext-->
	     <div class="mtop"></div>
	     <div class="topicborder"></div>
	   </div>
 	#{/if}
 	}*
 	
 	#{if talker.userName.equals(session.username) && talker.profileCompletionValue != 100 }
              <div class="profilecompletion">
                <div class="mtrighttxt1">Profile Completion</div>
                <!-- 
                <div class="completion" >
                  <div class="completiotxt">${talker.profileCompletionValue} %</div>
                </div>
                 -->
                <style type="text/css">
			#profilebar {
				width: 200px;
				height: 20px;
				border: 1px solid #CCCCCC;
			}
			#profileprogress {
				background-color: #0386bc;
				padding-left: 5px;
				line-height: 20px;
				width: ${2*talker.profileCompletionValue-5}px;
				height: 100%;
			}
		</style>
		<div id="profilebar">
			<div id="profileprogress">
				<span class="whitetext12">${talker.profileCompletionValue}%</span>
			</div>
		</div>
                <div class="profilecompletiontxt">${talker.profileCompletionMessage?.raw()}</div>
                <div class="topicborder"></div>
                <div class="cb"></div>
              </div>
	#{/if}

	
   <div class="topipsts">
     <div class="mtrighttxt1">Share TalkAboutHealth</div>
     <div class="topixtext"> Invite friends to join the Community </div>
     <!--topixtext-->
     <div class="membersarea" style="height: auto;">
		#{ share/buttons /}
		#{if currentPage?.equals("home") }
			<br/>
			#{ share/fblike currentURL: 'www.facebook.com/talkabouthealth' /}
		#{/if}
     </div>
     <!--membersarea-->
     <div class="topicborder"></div>

   </div>
   
   #{if similarMembers}
   <div class="topipsts">
     <div class="mtrighttxt1">Similar Members</div>
     
     #{list items: similarMembers, as: 'member'}
		<div id="${member.id}" class="topbox1">
	       <div class="topleftimg">
	       	#{talker/talkerImageLink size: 39, userName: member.userName /}
	       </div>
	       <div class="topr">
	         <div class="trendingtext comname">
	           	<a href="@{ViewDispatcher.view(member.userName)}">
		     		<strong>${member.userName}</strong>
		     	</a>
		        <span class="blacktext12">
					#{talker/talkerInfo talker: member /}
				</span>
	         </div>
	         <div id="memberFollowDiv${member.id}" class="follow">
	           <input type="submit" rel="${member.id}" class="followers followMemberLink" value=" " />
	         </div>
	         <div id="memberUnfollowDiv${member.id}" class="follow" style="display: none; text-align: right;">
	           Followed!
	         </div>
	       </div>
	       <div class="cb"></div>
	   </div>
	#{/list} 
	<div class="topicborder"></div>
   </div>
   #{/if}
   
   #{if experts}
   <div class="topipsts">
     <div class="mtrighttxt1">Recommended Experts</div>
     
     #{list items: experts, as: 'member'}
		<div id="${member.id}" class="topbox1">
	       <div class="topleftimg">
	       	#{talker/talkerImageLink size: 39, userName: member.userName /}
	       </div>
	       <div class="topr">
	         <div class="trendingtext comname">
	           	<a href="@{ViewDispatcher.view(member.userName)}">
		     		<strong>${member.userName}</strong>
		     	</a>
		        <span class="blacktext12">
					#{talker/talkerInfo talker: member /}
				</span>
	         </div>
	         <div id="memberFollowDiv${member.id}" class="follow">
	           <input type="submit" rel="${member.id}" class="followers followMemberLink" value=" " />
	         </div>
	         <div id="memberUnfollowDiv${member.id}" class="follow" style="display: none; text-align: right;">
	           Followed!
	         </div>
	       </div>
	       <div class="cb"></div>
	   </div>
	#{/list} 
	<div class="topicborder"></div>
   </div>
   #{/if}
   
   #{if recommendedTopics}
   <div class="topipsts">
   		<div class="mtrighttxt1">Recommended Topics</div>
   		<div id="recommendedTopics">
   			#{list items: recommendedTopics, as: 'topic'}
   				<div id="${topic.id}" class="topbox1">
			       <div class="topr" style="width: 100%;">
			         <div class="trendingtext">
			           	<a style="color:#0286BC;" href="@{ViewDispatcher.view(topic.mainURL)}">${topic.title}</a>
			         </div>
			         <div id="topicFollowDiv${topic.id}" class="follow">
			           <input type="submit" rel="${topic.id}" class="followers followTopicLink" value=" " />
			         </div>
			         <div id="topicUnfollowDiv${topic.id}" class="follow" style="display: none; text-align: right;">
			           Followed!
			         </div>
			       </div>
			       <div class="cb"></div>
			   </div>
			#{/list} 
   		</div>
   		<div class="topicborder"></div>
	</div>
	#{/if}
	
	#{if recommendedConvos}
	<div class="topipsts">
   		<div class="mtrighttxt1">Recommended Conversations</div>
   		<div id="recommendedTopics">
   			#{list items: recommendedConvos, as: 'convo'}
   				<div id="${convo.id}" class="topbox1">
			       <div class="topr" style="width: 100%;">
			         <div class="trendingtext">
			           	<a style="color:#0286BC;" href="@{ViewDispatcher.view(convo.mainURL)}">${convo.topic}</a>
			         </div>
			         <div id="convoFollowDiv${convo.id}" class="follow">
			           <input type="submit" rel="${convo.id}" class="followers followConvoLink2" value=" " />
			         </div>
			         <div id="convoUnfollowDiv${convo.id}" class="follow" style="display: none; text-align: right;">
			           Followed!
			         </div>
			       </div>
			       <div class="cb"></div>
			   </div>
			#{/list} 
   		</div>
	</div>
	#{/if}
   
   <div class="mtop"></div>
   <br />

   <div class="cb"></div>
   <br />
   <div class="cb"></div>
#{/if}
#{else}
	#{include 'tahInfo.html' /}
	#{include 'tahShare.html' /}
#{/else}
 </div>
 
<div id="boxes">
  <div id="dialog" class="window"> </div>
  
  #{popups/startConvo page: currentPage /}
  
  #{if talker}
  	#{popups/imSettings talker: talker /}
  	
  	#{set twitterAccount = talker.serviceAccountByType(models.ServiceAccountBean.ServiceType.TWITTER) /}
			
	#{ popups/shareEmail shareType: 'TalkAboutHealth', userName: talker?.userName /}	
	#{ popups/shareTwitter shareType: 'TalkAboutHealth', userName: twitterAccount?.userName /}
	#{ popups/shareFacebook shareType: 'TalkAboutHealth' /}
  #{/if}
	
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>
