<div id="comright" style="padding-left:30px;">
#{if session.username }
         <div class="topipsts"> <br />
         	#{if session.username.equals(talker.userName) }
         		Welcome 
               	<a href="@{ViewDispatcher.view(talker.userName)}"><strong>${talker.userName}</strong></a>!
         	#{/if}
         	#{else}
         		<a href="@{ViewDispatcher.view(talker.userName)}"><strong>${talker.userName}'s</strong></a> Profile
         	#{/else}
         	
           <div class="comtopbox">
             <div class="comrightimg">
				#{talker/talkerImageLink size: 58, userName: talker.userName /}
             </div>
             <div class="topr">
               <div class="comrighttext">
                 
                 #{if talker.connection}
                 	<div class="topiptext2">#{talker/connectionInfo talker: talker /}</div>
                 #{/if}
                 <div class="topiptext2">${talker.levelOfRecognition}</div>
               </div>
               <!--comrighttext-->
       </div>
       <!--topr-->
       <div class="cb"></div>
     </div>

     <!--comtopbox-->
     <div class="tpcover">
       <div class="thanktxt">
         <div class="thanktxtl">
           <div class="thanktxtblack">Thank You's:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'thankyous')}">
				${talker.thankYouList.size()}
			</a>
			 </div>
           </div>
           <!--thanktxtl-->

         <div class="thanktxtr">
           <div class="thanktxtblack">Following:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'following')}">
				${talker.followingList.size()}
			</a>
             </div>
           </div>
           <!--thanktxtr-->
         <div class="cb"></div>
       </div>
       <!--thanktxt-->

       <div class="thanktxt">
         <div class="thanktxtl">
           <div class="thanktxtblack">Answers:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">0</div>
         </div>
         <!--thanktxtl-->
         <div class="thanktxtr">
           <div class="thanktxtblack">Followers:&nbsp;&nbsp;</div>
           <div class="thanktxtblue">
           	<a style="text-decoration: none" href="@{PublicProfile.userBasedActions(talker.userName, 'followers')}">
				${talker.followerList.size()}
			</a>
             </div>
           </div>
           <!--thanktxtr-->
         <div class="cb"></div>
       </div>
       <!--thanktxt-->
     </div>
     <!--tpcover-->

     <div class="mtop"></div>
     <div class="topicborder"></div>
   </div>
   <!--topipsts-->
   <div class="cb"></div>
   <div class="topipsts">
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('home') ? 'current' : ''}" 
     		href="@{Home.index()}">Home</a>
     </div>
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('thoughts') ? 'current' : ''}" 
     		href="@{PublicProfile.thoughts(talker.userName)}">Thoughts</a>
     </div>
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('convoFeed') ? 'current' : ''}" 
     		href="@{Home.conversationFeed()}">Conversation Feed</a>
     </div>
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('openQuestions') ? 'current' : ''}" 
     		href="@{Explore.openQuestions()}">Open Questions</a>
     </div>
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('liveTalks') ? 'current' : ''}" 
     		href="@{Explore.liveTalks()}">Live Talks</a>
     </div>
     <div class="mtrighttxt">
     	<a class="${currentPage.equals('browseTopics') ? 'current' : ''}" 
     		href="@{Explore.browseTopics()}">Browse Topics</a>
     </div>
     <div class="mtop"></div>
     <div class="topicborder"></div>
     <div class="cb"></div>
   </div>
    
    #{if session.username.equals(talker.userName) && talker.verifyCode != null }
		<div class="topipsts">
           <div class="mtrighttxt1">Please verify your email</div>
           <div class="topixtext">
             <div class="tellustext">
             	So that we can send you answers and updates for your conversations.
             	<br/><br/>
             	<span style="font-size: 16px;">
             		<a href="#" title="${talker.email}" 
             			onclick="return sendVerificationLink(this);">Resend verification email.</a>
             		<span id="verificationResendResult" class="blacktext12"></span>
             	</span>
             </div>
           </div>
           <!--topixtext-->
	     <div class="mtop"></div>
	     <div class="topicborder"></div>
	   </div>
 	#{/if}
   
    #{if session.username.equals(talker.userName) && talker.nextStepMessage }
		<div class="topipsts">
           <div class="mtrighttxt1">Next Step</div>
           <div class="topixtext">
             <div class="tellustext">
             	<span style="font-size: 16px;">${talker.nextStepMessage?.raw()}</span>
             	#{if talker.nextStepNote}
             		<br/><br/>
             		${talker.nextStepNote}
             	#{/if}
             </div>
           </div>
           <!--topixtext-->
	     <div class="mtop"></div>
	     <div class="topicborder"></div>
	   </div>
 	#{/if}

	
   <div class="topipsts">
     <div class="mtrighttxt1">Share TalkAboutHealth</div>
     <div class="topixtext"> Invite friends to join the Community </div>
     <!--topixtext-->
     <div class="membersarea">

       <div class="sharicons">
       	<img src="/public/images/emailicon.jpg" alt="Emails" class="rpad" />
       	<a href="#" onclick="return openInvitationsWindow();">Email</a> 
       </div>
       *{
       <div class="sharicons"><img src="/public/images/twittericon.jpg" alt="Twitter" class="rpad" /><a href="#">Twitter</a></div>
       <div class="sharicons"><img src="/public/images/facebookicon.jpg" alt="Members" class="rpad" /><a href="#">Facebook</a></div>
       }*
     </div>
     <!--membersarea-->
     <div class="topicborder"></div>

   </div>
   <!--topipsts-->
   *{
   <div class="topipsts">
     <div class="mtrighttxt1">Trending Topics &amp; People</div>
     <div class="topbox1">
       <div class="topleftimg"><img src="/public/images/topanswer1.jpg" alt="topanser" /></div>
       <div class="topr">

         <div class="trendingtext">
           <div class="topictxtnew"><a href="#">Murray</a> <span class="styles1">asked the Question</span> <span class="vieztext1"><a href="#">What are some things you
             wish people had said or ...</a></span></div>
         </div>
         <!--trendingtext-->
         <div class="follow">
           <input type="submit" class="followers" value=" " />

         </div>
       </div>
       <!--topr-->
       <div class="cb"></div>
     </div>
     <!--topbox-->
     <div class="topbox1">
       <div class="topleftimg"><img src="/public/images/topanswer1.jpg" alt="topanser" /></div>
       <div class="topr">

         <div class="trendingtext">
           <div class="topictxtnew"><a href="#">Situ</a> <span class="style2 styles1">asked the Question</span> <span class="vieztext1"><a href="#">What are some things you
             wish people had said or ...</a></span></div>
         </div>
         <!--trendingtext-->
         <div class="follow">
           <input type="submit" class="followers" value=" " />

         </div>
       </div>
       <!--topr-->
       <div class="cb"></div>
     </div>
     <!--topbox-->
     <div class="topbox1">
       <div class="topleftimg"><img src="/public/images/topanswer1.jpg" alt="topanser" /></div>
       <div class="topr">

         <div class="trendingtext">
           <div class="topictxtnew"><a href="#">Maria</a> <span class="styles1">asked the Question</span><span class="vieztext1"><a href="#">What are some things you
             wish people had said or ...</a></span></div>
         </div>
         <!--trendingtext-->
         <div class="follow">
           <input type="submit" class="followers" value=" " />
         </div>

       </div>
       <!--topr-->
       <div class="cb"></div>
     </div>
     <!--topbox-->
   </div>
   <!--topipsts-->
   }*
   <div class="mtop"></div>
   <br />

   <div class="cb"></div>
   <br />
   <div class="cb"></div>
#{/if}
 </div>
 
<div id="boxes">
  <div id="dialog" class="window"> </div>
  
  #{popups/startConvo page: currentPage /}
  
  #{popups/imSettings talker: talker /}
	
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>