   <div class="topipsts">
     <div class="mtrighttxt1"><a href="@{Static.trained_peer_support_program()}" target="_blank">SHARE Telephone Support</a></div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15_1">
			Call <a href="http://sharecancersupport.org" target="_blank">SHARE</a> at: 866-891-2392<br/>
			to speak directly to a trained breast cancer survivor for support and guidance.<br/><br/>
		</span>    
   </div>
	<div class="topicborder"></div>


