<div class="box" id="tahconvoTopic">
	<h2 class="heading">
<!-- 	<img src="/public/images/index/chat_icon.png" /> -->
		<a href="@{Static.trained_peer_support_program()}" target="_blank">SHARE Telephone Support</a>
	</h2>
	<div class="body">
		<span class="blacktextgrey15_1">
			Call <a href="http://sharecancersupport.org" target="_blank">SHARE</a> at: 866-891-2392<br/>
			to speak directly to a trained breast cancer survivor for support and guidance. 
		</span>    
	</div>
</div>

