   <div class="topipsts">
     <div class="mtrighttxt1"><a href="@{Static.trained_peer_support_program()}" target="_blank">SHARE Trained Peer Support</a></div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15_1">
			- Direct message the <a href="@{Static.trained_peer_support_program()}" target="_blank">trained peer supporter</a> you select.<br/> 
			- E-mail us at <a href="mailto:feedback@talkabouthealth.com">support@talkabouthealth.com</a>, and we will find the right match for you.<br/><br/>
		</span>    
		<a href="@{Static.trained_peer_support_program()}">
		     <strong>More info</strong>
		    </a><br/><br/>
   </div>
	<div class="topicborder"></div>


