<div class="box" id="tahconvoTopic">
	<h2 class="heading">
<!-- 	<img src="/public/images/index/chat_icon.png" /> -->
		<a href="@{Static.trained_peer_support_program()}" target="_blank">SHARE Support</a>
	</h2>
	<div class="body">
		<span class="blacktextgrey15_1">
			<strong>1)</strong> Call <a href="http://sharecancersupport.org" target="_blank">SHARE</a> at: 866-891-2392<br/>
			to speak directly to a trained breast cancer survivor for support and guidance. 
		</span>  
		<span class="blacktextgrey6"><br /><br /></span>  
		<span class="blacktextgrey15_1">
			<strong>2)</strong> Direct message the <a href="@{Static.trained_peer_support_program()}" target="_blank">trained peer supporter</a> you select.
		</span>   
		<span class="blacktextgrey6"><br /><br /></span> 
		<span class="blacktextgrey15_1">
			<strong>3)</strong> E-mail us at <a href="mailto:feedback@talkabouthealth.com">support@talkabouthealth.com</a>, and we will find the right match for you.
		</span>
		<span class="blacktextgrey6"><br /><br /></span>
		<span class="blacktextgrey15_1">
			<a href="@{Static.trained_peer_support_program()}"><strong>More info</strong></a>
		</span>
	</div>
</div>

