<div class="topipsts">
    </br>
    <table border="0" >
        <tr>
            <td width="80px">
				<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            	<script type="text/javascript">_ga.trackFacebook();</script>
            	<fb:like href="${_currentURL}" layout="button_count" show_faces="true" width="80" font=""></fb:like></td>         
            <td width="70px">#{ share/fbShare /}</td>
            <td width="100px">#{ share/tweetMeButton /}</td>    
            <td width="40px"><a href="#" onclick="return shareEmailPopup();"><img alt="Emailz" src="/public/images/email.png" height="20px" width="30px"/></a></td>
            <td width="40px">#{ share/googlePlus /}</td>
        </tr>
    </table>
</div>