#{if !rewardLetterFlag}
	<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var rewardOptions = { success: setRewardLetterMessage }; 
			$('#reward').submit(function() {
				$("#reward").ajaxSubmit(rewardOptions); 
				return false;
			});
		
		});
		function setRewardLetterMessage(responseText, statusText, xhr, $form)  {
			if (responseText.indexOf("Error:") === 0) {
		   		var errorText = responseText.replace("Error:", "");
		   		$("#rewardMessage").css("color","#ff0000");
		   		$("#rewardMessage").html(errorText); 
		   		$("#rewardMessage").fadeIn(100);
		   		closeTimeout = setTimeout(function() { $("#rewardMessage").fadeOut(200) }, 4000);
		   	} else {
		   		$("#rewardMessage").css("color","#2E8B57");
		   		$("#rewardMessage").html(responseText);
		   		$("#rewardMessage").fadeIn(100);
		   		closeTimeout = setTimeout(function() { $("#rewardblock").fadeOut(200) }, 4000);
		   	}
		}

		function changeEmailReward(){
			var email = document.getElementById("emailReward").value;
			if(email == 'Email Address'){
				document.getElementById("emailReward").value = "";
			}else if(email == ''){
				document.getElementById("emailReward").value = "Email Address";
			}
		}
	</script>


	<div class="topipsts" id="tahreward">
	<div class="" id="rewardblock" >
	
   		<div class="mtrighttxt1">TalkAboutHealth Rewards</div>
   		<span id="rewardMessage" class="success" style="display:none;font-weight: bold;">Thanks for subscribing to TalkAboutHealth Reward.</span>
   		#{form @Application.subscribeReward(), id:'reward' }
 		  		<div><br/><span class="blacktextgrey15">Health, wellness, food, medical saving,<br/> survey opportunities &special offers<br /></span></div>
 		  		<br />
			#{if session.username }
				<input name="email" id="emailReward" class="email" type="text" value="${talker.email}" size="17" />
			#{/if}
			#{else}
				<input name="email" id="emailReward" class="email" type="text" value="Email Address" size="17"  onclick="javascript:changeEmailReward();" onblur="javascript:changeEmailReward();"/>
			#{/else}
			<br/>
			<div style="padding-top: 12px;">
				<input class="newsignupbutton" type="submit" value="" style="cursor: pointer;"/>
			</div>	
		#{/form}   		
		<br />
   		<div class="topicborder"></div>
   	</div>
   	 
   	</div>
#{/if}