#{if !rewardLetterFlag}
	<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var rewardOptions = { success: setRewardLetterMessage }; 
			$('#reward').submit(function() {
				$("#reward").ajaxSubmit(rewardOptions); 
				return false;
			});
			$('#emailReward').click(function() {
				if($("#emailReward").val().trim() == 'Email Address')
					$("#emailReward").val('');
			});
			
			$('#emailReward').blur(function() {
				if($("#emailReward").val().trim() == '')
					$("#emailReward").val('Email Address');
			});
		});
		function setRewardLetterMessage(responseText, statusText, xhr, $form) {
			if (responseText.indexOf("Error:") === 0) {
		   		var errorText = responseText.replace("Error:", "");
		   		$("#rewardMessage").css("color","#ff0000");
		   		$("#rewardMessage").html(errorText); 
		   		$("#rewardMessage").fadeIn(100);
		   		closeTimeout = setTimeout(function() { $("#rewardMessage").fadeOut(200) }, 4000);
		   	} else {
		   		$("#rewardMessage").css("color","#2E8B57");
		   		$("#rewardMessage").html(responseText);
		   		$("#rewardMessage").fadeIn(100);
		   		closeTimeout = setTimeout(function() { $("#rewardblock").fadeOut(200) }, 4000);
		   	}
		}
	</script>
	<div class="topipsts" id="tahreward">
	<div class="" id="rewardblock" >
		<div style="padding:5px;float: left;">
			<span style="float: left;"><img width="153px" src="/public/images/logo_footer.jpg"/></span>
			<span style="float: left; padding-top: 3px;color:#3888c1;font-style: italic;font-size: 14px;" class="mtrighttxt1">Benefits</span>
		</div>
		<div style="float:left;padding:5px;">
			<span class="blacktextgrey15">Health, wellness, food, medical saving,<br/> survey opportunities &special offers</span>
		</div>
<!--		<div style="border-top: 2px solid #D9D7D7;float: left; margin: 5px 5px 0;width: 97%;"></div>-->
   		#{form @Application.subscribeReward(), id:'reward' }
	  		<div style="clear: both;height: 15px;padding:0 5px"><span id="rewardMessage" class="success" style="display:none;font-size: 12px;">Thanks for subscribing.</span></div>
	  		<div style="float:left;padding:0px 5px 0 5px">
			#{if session.username }
				<input name="email" id="emailReward" style="background: none repeat scroll 0 0 #F0F0F0;border: 1px solid #606060;color: #010101;padding: 3px;" type="text" value="${talker.email}" size="17" />
			#{/if}
			#{else}
				<input name="email" id="emailReward" style="background: none repeat scroll 0 0 #F0F0F0;border: 1px solid #606060;color: #010101;padding: 3px;" type="text" value="Email Address" size="17"/>
			#{/else}
			</div>
			<div style="float:left;padding-top: 2px;">
				<input class="newsignupBenefits" type="submit" value="" style="cursor: pointer;"/>
			</div>
		#{/form}
		<br/>
   		<div class="topicborder" style="margin-top: 20px;"></div>
   	</div>
   	</div>
#{/if}