   <div class="topipsts">
     <div class="mtrighttxt1">3 Quick Ways You Can Help</div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15u">
			<strong>1) Spread the word!</strong> Tell people you think might want some support. Tell medical professionals, health providers, and organizations. We'd love to collaborate with them.
			<br /></span>
		<span class="blacktextgrey6"><br /></span>	        
		<span class="blacktextgrey15u">
			<strong>2) <a href="http://facebook.com/talkabouthealth" target="_blank">Like</a> us on Facebook and <a href="http://twitter.com/talkabouthealth" target="_blank">follow</a> us on Twitter!</strong>
			<br /></span>
		<span class="blacktextgrey6"><br /></span>	        
		<span class="blacktextgrey15u">
			<strong>3) Volunteer</strong> - email us at <a href="mailto:volunteer@talkabouthealth.com" class="bluetext14">volunteer@talkabouthealth.com</a> for more information.
			<br /><br />

	       <a href="@{Static.howyoucanhelp()}">
		     <strong>More Ways To Help!</strong>
		    </a><br /><br />
     		</span>
    </div>
	<div class="topicborder"></div>
   

