<div class="topipsts">
	<div class="mtrighttxt1">Breast cancer questions and answers.<br /></div>
	<div class="latextCover latextr" style="font-size: 14px;">Personalized, helpful, and accurate health information.</div>
	<div id="joinnowbutton" style="margin: 5px 0px; padding-left: 50px; width: 145px;">
		<a href="@{Application.signup()}">
			<img src="/public/images/joinnow.jpg" alt="" width="135" height="44" border="0"/>
		</a>
	</div>
	<div style="margin: 5px 0px; padding-left: 37px; width: 220px;">
		<a href="#" onclick="return openFacebook();">
			<img src="/public/images/joinfb.jpg" alt="Facebook" width="77" height="27" border="0" />
		</a>
		<a href="#" onclick="return openTwitter();" style="margin-left: 5px;">
			<img src="/public/images/jointw.jpg" alt="Twitter" width="77" height="27" border="0" />
		</a>
	</div>
	<div class="latextCover latextr" style="font-size: 14px;">
		<a href="@{Static.howitworks()}">how it works&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.communityguidelines()}">guidelines&raquo;</a>
	</div>
	<div class="topicborder"></div>
</div>
<div class="topipsts">
	<div class="mtrighttxt1">Share your knowledge and experiences to improve and save lives.</div>
	<div class="latextCover latextr" style="font-size: 14px; margin-bottom: 7px;">
		<a href="@{Static.aboutus()}">about&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.faq()}">faq&raquo;</a>&nbsp;&nbsp;
		<a href="http://blog.talkabouthealth.com">blog&raquo;</a>
	</div>
	<div class="topicborder"></div>
</div>
