<div class="topipsts">
	<div class="mtrighttxt1">Join now for immediate answers and support.</div>
	<div id="joinnowbutton" style="margin: 5px 0px; width: 280px;">
		<a href="@{Application.signup()}">
			<img src="/public/images/join_nowbutton.gif" alt="" width="178" height="55" border="0"/>
		</a>
	</div>
	<div class="latextCover latextr" style="font-size: 14px;">
		<a href="@{Static.aboutus()}">why you'll love it&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.privacy()}">safety&raquo;</a>
	</div>
	<div class="topicborder"></div>
</div>
<div class="topipsts">
	<div class="mtrighttxt1">TalkAboutHealth matches users with similar
	     health concerns for answers and live chats.</div>
	<div class="latextCover latextr" style="font-size: 14px; margin-bottom: 7px;">
		<a href="@{Static.aboutus()}">about&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.faq()}">faq&raquo;</a>&nbsp;&nbsp;
		<a href="http://blog.talkabouthealth.com">blog&raquo;</a>
	</div>
	<div class="topicborder"></div>
</div>