<div class="topipsts" >
	<div id="joinnowbutton" style="margin: 5px 0px;padding-left: 0px; width: 255px;">
		<a href="@{Application.signup()}">
			<img src="/public/images/join_now.png" alt="" border="0"/>
		</a>
	</div>
	<div class="blacktextgrey15_1" style="font-size:15px;">Breast cancer questions and answers.<br /></div>
	<div class="talkinfo" >Personalized, helpful, and accurate health answers.</div>
	<div style="margin: 5px 0px; padding-left: 0px; width: 275px;">
		<a href="#" onclick="return openFacebook();">
			<img src="/public/images/fb.png" alt="Facebook" border="0" style="float: left;"/><p class="blacktextgrey15" style="float: left;margin: 5px;"> Join Via Facebook</p>
		</a>
		<a href="#" onclick="return openTwitter();" style="margin-left: 5px;">
			<img src="/public/images/tw.png" alt="Twitter" border="0"style="float: left;" /> <p class="blacktextgrey15" style="float: left;margin: 5px;">Join Via Twitter </p>
		</a>
	</div>
	<br/><br/>
	<div class="topicborder"></div>
</div>
<div class="topipsts">
	<div class="mtrighttxt1u">Share your knowledge and experiences to improve and save lives.</div>
	<div class="latextCover latextr" style="font-size: 14px;padding-bottom:2px;">
		<a href="@{Static.aboutus()}">about&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.faq()}">faq&raquo;</a>&nbsp;&nbsp;
		<a href="http://blog.talkabouthealth.com">blog&raquo;</a>
	</div>
	<div class="latextCover latextr" style="font-size: 14px;padding-bottom:4px;">
		<a href="@{Static.howitworks()}">how it works&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.communityguidelines()}">guidelines&raquo;</a>
	</div>
	<div class="topicborder"></div>
</div>
