<div class="topipsts">
	<div class="mtrighttxt1u">Share your knowledge and experiences to improve and save lives.</div>
	<div class="latextCover latextr" style="font-size: 14px;padding-bottom:2px;">
		<a href="@{Static.aboutus()}">about&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.faq()}">faq&raquo;</a>&nbsp;&nbsp;
		<a href="http://blog.talkabouthealth.com">blog&raquo;</a>
	</div>
	<div class="latextCover latextr" style="font-size: 14px;padding-bottom:4px;">
		<a href="@{Static.howitworks()}">how it works&raquo;</a>&nbsp;&nbsp;
		<a href="@{Static.communityguidelines()}">guidelines&raquo;</a>
	<br/><br/></div>
	<div class="topicborder"></div>
</div>
