#{if currentPage?.equals("topicPage") } 
    #{set shareTitle: 'Share and Like Topic' /}
    #{set twitterShareText: topic.twitterShareText /}
    #{set facebookShareURL: currentURL /}
#{/if}
#{elseif currentPage?.equals("conversationSummary") }
	#{set shareTitle: 'Share and Like Question' /}
	#{set twitterShareText: convo.twitterShareText /}
	#{set facebookShareURL: currentURL /}
#{/elseif}
#{else}
	#{set shareTitle: 'Share TalkAboutHealth' /}
	#{set twitterShareText: 'I am meeting others and sharing my health experiences on TalkAboutHealth.' /}
	#{set facebookShareURL: 'http://talkabouthealth.com' /}
#{/else}
<div class="topipsts">
	<div class="mtrighttxt1">
		#{get 'shareTitle' /}
	</div>
	<div class="membersarea">
		#{if talker}
			#{ share/buttons /}
		#{/if}
		#{else}
		  <div class="sharicons">
		  	<img class="rpad" alt="Twitter" src="/public/images/twittericon.jpg"/>
		  	<a href="http://twitter.com/share?text=${twitterShareText.urlEncode()}" target="_blank">Twitter</a>
		  </div>
		  <div class="sharicons">
		  	<img class="rpad" alt="Members" src="/public/images/facebookicon.jpg"/>
		  	<a href="http://www.facebook.com/share.php?u=${facebookShareURL.urlEncode()}" target="_blank">Facebook</a>
		  </div>
		#{/else}
	</div>
                  
    #{if currentPage?.equals("conversationSummary") || currentPage?.equals("topicPage") } 
    	#{ share/fblike currentURL: currentURL /}
    #{/if}
    #{else}
    	#{ share/fblike currentURL: 'www.facebook.com/talkabouthealth' /}
    #{/else}
                  
	<div class="topicborder"></div>
</div>
                
