			<div class="topipsts">
                  <div class="mtrighttxt1">Share and Like Topic</div>
                  <!--topixtext-->
                  <div class="membersarea">
                  	#{if talker}
                  		<div class="sharicons">
	                    	<img alt="Emailz" src="/public/images/emailicon.jpg"/>
	                    	<a href="#" onclick="return shareEmailPopup();">Email</a>
	                    </div>
	                    <div class="sharicons">
	                    	<img class="rpad" alt="Twitter" src="/public/images/twittericon.jpg"/>
	                    	<a href="#" onclick="return shareTwitterPopup();">Twitter</a>
	                    </div>
	                    <div class="sharicons">
	                    	<img class="rpad" alt="Members" src="/public/images/facebookicon.jpg"/>
	                    	<a href="#" onclick="return shareFBPopup();">Facebook</a>
	                    </div>
                  	#{/if}
                  	#{else}
	                    <div class="sharicons">
	                    	<img class="rpad" alt="Twitter" src="/public/images/twittericon.jpg"/>
	                    	<a href="http://twitter.com/share" target="_blank">Twitter</a>
	                    </div>
	                    <div class="sharicons">
	                    	<img class="rpad" alt="Members" src="/public/images/facebookicon.jpg"/>
	                    	<a href="http://www.facebook.com/share.php?u=${currentURL}"
	                    		target="_blank"
	                    		>Facebook</a>
	                    </div>
                  	#{/else}
                    
                  </div>
                 
                  <iframe src="http://www.facebook.com/plugins/like.php?href=${currentURL}&amp;layout=standard&amp;show_faces=true&amp;width=240&amp;action=like&amp;colorscheme=light&amp;height=70" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:70px;" allowTransparency="true"></iframe>
                  
                  <div class="topicborder"></div>
                </div>
                
                #{ifnot talker}
                	<div class="topipsts">
<br/>           	
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ftalkabouthealth&amp;width=240&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:62px;" allowTransparency="true"></iframe>
<br/><br/>                  		
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'talkabouthealth',
  interval: 6000,
  title: 'TalkAboutHealth on Twitter',
  subject: 'TalkAboutHealth',
  width: 240,
  height: 300,
  theme: {
    shell: {
      background: '#8ec1da',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script>
                  	</div>
                #{/ifnot}