   <div class="topipsts">
     <div class="mtrighttxt1"><a href="@{Static.workshops()}">Upcoming Workshops</a></div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15_1">
		
		<strong>Fertility and Sexual Issues After Cancer</strong><br /> (Mon., Jan. 15th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("LeslieSchoverPhD")}" target="_blank">Leslie Schover, PhD</a><br />
			<a href="@{ViewDispatcher.view("LeslieSchoverPhD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />   
		<strong>Breast Cancer Survivorship</strong><br /> (Mon., Jan. 15th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Elissa Bantug</a><br />
			<a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />   
		<strong>Medical Debt, Insurance, and Employment</strong><br /> (Tues., Jan. 16th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}" target="_blank">Patient Advocate Foundation</a><br />
			<a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />	
		</span>
		<strong>Colorectal Cancer Surgery</strong><br /> (Wed., Jan. 17th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("JeffreyFarmaMD")}" target="_blank">Jeffrey Farma, MD</a><br />
			<a href="@{ViewDispatcher.view("JeffreyFarmaMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />	
		</span>
		<strong>Pediatric Palliative Care</strong><br /> (Thurs., Jan. 18th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}" target="_blank">Stefan Friedrichsdorf, MD</a><br />
			<a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />	
	
	</div>
	<div class="topicborder"></div>


