   <div class="topipsts">
     <div class="mtrighttxt1">Upcoming Workshops</div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15">
		
	
		<strong>Behavioral Nutrition</strong><br /> (Mon., Mar. 12th)<br />
		</span>
		<span class="blacktextgrey15">
			<a href="@{ViewDispatcher.view("Joy Gurgevich")}" target="_blank">Joy Gurgevich</a><br />
			<a href="@{ViewDispatcher.view("Gurgevich")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />

		<strong>Inflammatory Breast Cancer</strong><br /> (Tues., Mar. 13th)<br />
		</span>
		<span class="blacktextgrey15">
			<a href="@{ViewDispatcher.view("naotoueno")}" target="_blank">Naoto Ueno, MD</a><br />
			<a href="@{ViewDispatcher.view("naotoueno")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />

		<strong>Integrative Medicine</strong><br /> (Wed., Mar. 14th)<br />
		</span>
		<span class="blacktextgrey15">
			<a href="@{ViewDispatcher.view("Herbaldale")}" target="_blank">Dale Bellisfield, RN</a><br />
			<a href="@{ViewDispatcher.view("Herbaldale")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />
			       

		<a href="@{Static.workshops()}">
		     <strong>More workshops</strong>
		    </a>
		<br /><br />
		</span>    
   </div>
	<div class="topicborder"></div>


