<div class="box">
	<h2 class="heading"><img src="/public/images/index/cal_icon.png" alt="calendar" /><a href="@{Static.workshops()}"> Upcoming Workshops</a></h2>
	<ul>
		
	
		<li>
			<a href="@{ViewDispatcher.view("LeslieSchoverPhD")}" target="_blank">
				<span>Fertility and Sexual Issues After Cancer</span><br />
				Mon., Jan 14th<br />
				Expert: <span>Leslie Schover, PhD</span>
			</a>
		</li>
		<li>
			<a href="@{ViewDispatcher.view("ElissaBantug")}" target="_blank">
				<span>Breast Cancer Survivorship</span><br />
				Mon., Jan 14th<br />
				Expert: <span>Elissa Bantug</span>
			</a>
		</li>
		<li>
			<a href="@{ViewDispatcher.view("PatientAdvocateFoundation")}" target="_blank">
				<span>Insurance, Medical Debt, and Employment</span><br />
				Tues., Jan 15th<br />
				Expert: <span>Patient Advocate Foundation</span>
			</a>
		</li>
		<li>
			<a href="@{ViewDispatcher.view("JeffreyFarmaMD")}" target="_blank">
				<span>Colorectal Cancer Surgery</span><br />
				Wed., Jan 16th<br />
				Expert: <span>Jeffrey Farma, MD</span>
			</a>
		</li>
		<li>
			<a href="@{ViewDispatcher.view("StefanFriedrichsdorfMD")}" target="_blank">
				<span>Pediatric Palliative Care</span><br />
				Thurs., Jan 17th<br />
				Expert: <span>Stefan Friedrichsdorf, MD</span>
			</a>
		</li>
		
		
			
	</ul>
   <div class="more"><a href="@{Static.workshops()}">All Workshops <img src="/public/images/index/arrow_blue.png" alt="all workshops" /></a></div>
</div>
