<div class="box">
	<h2 class="heading"><img src="/public/images/index/cal_icon.png" alt="calendar" /><a href="@{Static.workshops()}"> Upcoming Workshops</a></h2>
	<ul>
		
		
	
		<li>
			<a href="@{ViewDispatcher.view("ThomasDavisMD")}" target="_blank">
				<span>Head and Neck Cancer</span><br />
				Mon., April 28th<br />
				Expert: <span>Thomas Davis, MD</span>
			</a>
		</li>	
	

		
		<li>
			<a href="@{ViewDispatcher.view("GregoryWhitmanMD")}" target="_blank">
				<span>Dizzyness</span><br />
				Tues., April 29th<br />
				Expert: <span>Gregory Whitman, MD</span>
			</a>
		</li>	

	
	</ul>
   <div class="more"><a href="@{Static.workshops()}">All Workshops <img src="/public/images/index/arrow_blue.png" alt="all workshops" /></a></div>
</div>
