   <div class="topipsts">
     <div class="mtrighttxt1"><a href="@{Static.workshops()}">Upcoming Workshops</a></div>
		<span class="blacktextgrey8"><br /></span>	        
		<span class="blacktextgrey15_1">
			
		<strong>Tumorgrafting</strong><br /> (Mon., Aug 20th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("DavidSidranskyMD")}" target="_blank">David Sidransky, MD</a><br />
			<a href="@{ViewDispatcher.view("DavidSidranskyMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />

		<strong>Young adult and cancer survivorship</strong><br /> (Tues., Aug 21st)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("ChrisRecklitisPhD")}" target="_blank">Chris Recklitis, PhD</a><br />
			<a href="@{ViewDispatcher.view("ChrisRecklitisPhD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />     
		
		<strong>Cancer Survivorship</strong><br /> (Wed., Aug 22nd)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("KantiRaiMD")}" target="_blank">Kanti Rai, MD</a><br />
			<a href="@{ViewDispatcher.view("KantiRaiMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br /> 
		<strong>Bladder Cancer</strong><br /> (Thurs., Aug 23rd)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("ErikCastleMD")}" target="_blank">Erik Castle, MD</a><br />
			<a href="@{ViewDispatcher.view("ErikCastleMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />   

		<strong>Prostate Cancer</strong><br /> (Fri., Aug 24th)<br />
		</span>
		<span class="blacktextgrey15_1">
			<a href="@{ViewDispatcher.view("JuddMoulMD")}" target="_blank">Judd Moul, MD</a><br />
			<a href="@{ViewDispatcher.view("JuddMoulMD")}" target="_blank">Ask Questions Now!</a></strong>
			<br /><br />   
		</span>      
   </div>
	<div class="topicborder"></div>


