<div class="box">
	<h2 class="heading"><img src="/public/images/index/cal_icon.png" alt="calendar" /><a href="@{Static.workshops()}"> Upcoming Workshops</a></h2>
	<ul>
		
	
		<li>
			<a href="@{ViewDispatcher.view("KevinKalinskyMD")}" target="_blank">
				<span>Breast Cancer Oncology</span><br />
				Mon., Feb 18th<br />
				Expert: <span>Kevin Kalinsky, MD</span>
			</a>
		</li>
		<li>
			<a href="@{ViewDispatcher.view("WendyChungMDPhD")}" target="_blank">
				<span>Hereditary Breast and Ovarian Cancer</span><br />
				Tues., Feb 19th<br />
				Expert: <span>Wendy Chung, MD, PhD</span>
			</a>
		</li>
		
		<li>
			<a href="@{ViewDispatcher.view("DavidYTChenMD")}" target="_blank">
				<span>Kidney Cancer Surgery</span><br />
				Fri., Feb 22nd<br />
				Expert: <span>David Y.T. Chen, MD</span>
			</a>
		</li>

		
		
			
	</ul>
   <div class="more"><a href="@{Static.workshops()}">All Workshops <img src="/public/images/index/arrow_blue.png" alt="all workshops" /></a></div>
</div>
