#{set talkerType = talker.connection /}
#{if talkerType.equals("Social worker")}
	#{set talkerType = "Psychologist" /}
#{/if}

#{set profInfo = talker.profInfo /}

#{ifnot talkerType.equals("Complementary Care Expert") }
#{profile/field type: 'select', des: 'Credentials', name: 'credentials', talkerType: talkerType, profInfo: profInfo /}
#{/ifnot}

#{if talkerType.equals("Physician")}
	#{profile/field type: 'select', des: 'Primary specialty', name: 'prim_specialty', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'select', des: 'Secondary specialty', name: 'sec_specialty', talkerType: talkerType, profInfo: profInfo /}
#{/if}
#{if talkerType.equals("Psychologist")}
	#{profile/field type: 'select', des: 'Licenses', name: 'licenses', talkerType: talkerType, profInfo: profInfo /}
#{/if}

#{ifnot talkerType.equals("Researcher")}
	#{profile/field type: 'text_multiple', des: 'What states are you licensed in?', name: 'states_lic', talkerType: talkerType, profInfo: profInfo /}
#{/ifnot}

#{if talkerType.equals("Nurse") || talkerType.equals("Pharmacist") || talkerType.equals("Psychologist")}
	#{profile/field type: 'select', des: 'Specialty', name: 'specialty', talkerType: talkerType, profInfo: profInfo /}
#{/if}

#{profile/field type: 'textarea_multiple', des: 'Languages spoken', name: 'languages', talkerType: talkerType, profInfo: profInfo /}

<div class="personalmain">
	<div class="personaltextarea"><span class="blacktext14">Gender</span></div>
	<div class="personaltextfield">
		<select class="personalfields" id="talker.gender" name="talker.gender">
			<option value=""></option>
			#{list items:['Male', 'Female'], as:'gender'}
		  		<option value="${gender.charAt(0)}" 
			    #{if talker.gender?.equals(""+gender.charAt(0)) } selected #{/if} 
			    >${gender}</option>
			#{/list}
		</select>
	</div>
</div>
					
<div class="personalmain">
	<div class="personaltextarea"><span class="blacktext14">Birth Date</span></div>
	<div class="personaltextfield">
		<select size="1"  name="talker.dobMonth" id="talker.dobMonth" class="textarea2">
			#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
			    <option value="${i_index-1}" 
			 	#{if talker.dob?.month == i_index-2 } selected #{/if}  
			    >${i}</option>
			#{/list}
		</select>
		<select size="1" name="talker.dobDay" class="textarea2" id="talker.dobDay">
	  		<option selected value='0'>Day</option>
	  		#{list items:1..31, as:'i'}
			    <option value="${i}"
			    #{if talker.dob?.date == i } selected #{/if} 
			    >${i}</option>
			#{/list}
		</select>
		<select size="1"  name="talker.dobYear" class="textarea2" id="talker.dobYear">
	  		<option selected value='0'>Year</option>
	  		#{list items:1991..1900, as:'i'}
			    <option value="${i}"
			    #{if talker.dob?.year == i - 1900} selected #{/if} 
			    >${i}</option>
			#{/list}
		</select>
	</div>
</div>

#{if talkerType.equals("Physician")}
	<div class="personalmain" style="padding: 0px;">
		<div class="personaltextarea" style="height: 18px;"><span class="blacktext14">Education:</span></div>
	</div>
	#{profile/field type: 'text_multiple', des: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medical school', name: 'med_school', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text_multiple', des: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Residency', name: 'residency', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text_multiple', des: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internship', name: 'internship', talkerType: talkerType, profInfo: profInfo /}
	
	#{profile/field type: 'text_multiple', des: 'Board certifications', name: 'board_certs', talkerType: talkerType, profInfo: profInfo /}
#{/if}
#{if talkerType.equals("Nurse")}
	#{profile/field type: 'text_multiple', des: 'Nursing school', name: 'nurse_school', talkerType: talkerType, profInfo: profInfo /}
#{/if}
#{if talkerType.equals("Pharmacist")}
	#{profile/field type: 'text_multiple', des: 'Pharmacy school', name: 'pharm_school', talkerType: talkerType, profInfo: profInfo /}
#{/if}
#{if talkerType.equals("Psychologist") || talkerType.equals("Researcher")}
	#{profile/field type: 'text_multiple', des: 'School / University', name: 'school_uni', talkerType: talkerType, profInfo: profInfo /}
#{/if}

#{profile/field type: 'text_multiple', des: 'Professional memberships', name: 'memberships', talkerType: talkerType, profInfo: profInfo /}
#{profile/field type: 'textarea_multiple', des: 'Areas of expertise', name: 'expertise', talkerType: talkerType, profInfo: profInfo /}
#{profile/field type: 'textarea_multiple', des: 'Research interests', name: 'research_interests', talkerType: talkerType, profInfo: profInfo /}
#{profile/field type: 'textarea_multiple', des: 'Awards and publications', name: 'awards', talkerType: talkerType, profInfo: profInfo /}

<div class="personalmain">
	<div class="personaltextarea"><span class="blacktext14">Professional statement</span></div>
	<div class="textareabig">
		<textarea name="talker.profStatement" cols="45" rows="5" class="textarea3">${talker.profStatement}</textarea>
	</div>
</div>

<div class="personalmain">
	<div class="personaltextarea">
		<span class="blacktext14">
			Personal Bio<br/>
			<span class="footerlink">About you (interests, etc.).<br/>If you choose.</span>
		</span>
	</div>
	<div class="textareabig">
		<textarea name="talker.bio" cols="45" rows="5" class="textarea3">${talker.bio}</textarea>
	</div>
</div>

#{if talkerType.equals("Physician")}
	#{profile/field type: 'text', des: 'Hospital affiliation', name: 'affiliation', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice name', name: 'pract_name', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice address line 1', name: 'pract_adr1', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice address line 2', name: 'pract_adr2', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice city', name: 'pract_city', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice state', name: 'pract_state', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice zip code', name: 'pract_zip', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Practice phone number', name: 'pract_phone', talkerType: talkerType, profInfo: profInfo /}
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Web Page<br/>
				<span class="footerlink">(http://www.mysite.com)</span>
			</span>
		</div>
		<div class="personaltextfield">
			<input name="talker.webpage" type="text" class="personalfields"
					value="${talker.webpage}" />
		</div>		
	</div>

	<!-- SOCIAL ACCOUNTS -->
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Twitter page</span>
			<span class="footerlink">(http://twitter.com/mysite)</span>			
		</div>
		<div class="personaltextfield">
		#{if profInfo.get("tw_page")}
		<input name="pr_tw_page" type="text" class="personalfields" value="${profInfo.get("tw_page")}" />
		#{/if}
		#{elseif talker.getTwitterAccount()}
		<input name="pr_tw_page" type="text" class="personalfields" value="http://twitter.com/${talker.getTwitterAccount().getUserName()}" />
		#{/elseif}
		#{else}
		<input name="pr_tw_page" type="text" class="personalfields" value="" />
		#{/else}		
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Facebook page</span>
			<span class="footerlink">(http://facebook.com/mysite)</span>						
		</div>
		<div class="personaltextfield">
		<input name="pr_fb_page" type="text" class="personalfields" value="#{if profInfo.get("fb_page")}${profInfo.get("fb_page")}#{/if}" />
		</div>
	</div>
	#{profile/field type: 'text', des: 'LinkedIn page', name: 'li_page', talkerType: talkerType, profInfo: profInfo /}	
	#{profile/field type: 'text', des: 'Blog page', name: 'bl_page', talkerType: talkerType, profInfo: profInfo /}
	<!-- SOCIAL ACCOUNTS -->	

	#{profile/field type: 'text', des: 'Vitals.com link', note: '(http://www.vitals.com/doctors/Dr_John_Doe.html)', name: 'vitals', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Zocdoc link', note: '(http://www.zocdoc.com/doctor/john-doe-md-1234)', name: 'zocdoc', talkerType: talkerType, profInfo: profInfo /}
#{/if}
#{ifnot talkerType.equals("Physician")}
	#{profile/field type: 'text', des: 'Hospital or other affiliation', name: 'other_affiliation', talkerType: talkerType, profInfo: profInfo /}
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Web Page<br/>
				<span class="footerlink">(http://www.yousite.com)</span>
			</span>
		</div>
		<div class="personaltextfield">
			<input name="talker.webpage" type="text" class="personalfields"
					value="${talker.webpage}" />
		</div>
	</div>

	#{profile/field type: 'text', des: 'Twitter page', name: 'tw_page', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Facebook page', name: 'fb_page', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'LinkedIn page', name: 'li_page', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Blog page', name: 'bl_page', talkerType: talkerType, profInfo: profInfo /}		
	
	<div class="personalmain">
		<div class="personaltextarea"><span class="blacktext14">City</span></div>
		<div class="personaltextfield">
			<input name="talker.city" type="text" class="personalfields" id="talker.city" 
					value="${talker.city}" />
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea"><span class="blacktext14">State</span></div>
		<div class="personaltextfield">
			<input name="talker.state" type="text" class="personalfields" id="talker.state" 
					value="${talker.state}" />
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea"><span class="blacktext14">Zip Code</span></div>
		<div class="personaltextfield">
			<input name="talker.zip" type="text" class="personalfields"
					value="${talker.zip}" />
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea"><span class="blacktext14">Country</span></div>
		<div class="personaltextfield" style="border:0;">
			<input name="talker.country" type="text" class="personalfields" id="talker.country" 
					value="${talker.country}" />
		</div>
	</div>
#{/ifnot}

<div class="personalmain"></div>