#{set talkerType = talker.connection /}

#{set profInfo = talker.profInfo /}

<div class="personalmain">
	<div class="personaltextarea"><span class="blacktext14">Description</span><br />
	<span class="footerlink">(about you, your services, your practice, etc.)</span>	
	</div>
	<div class="textareabig">
		<textarea name="talker.profStatement" cols="45" rows="5" class="textarea3">${talker.profStatement}</textarea>
	</div>
</div>

	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Web page<br/></span>
			<span class="footerlink">(http://www.mysite.com)</span>			
		</div>
		<div class="personaltextfield">
			<input name="talker.webpage" type="text" class="personalfields"
					value="${talker.webpage}" />
		</div>
	</div>

	<!-- SOCIAL ACCOUNTS -->
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Twitter page</span>
			<span class="footerlink">(http://twitter.com/mysite)</span>			
		</div>
		<div class="personaltextfield">
		#{if profInfo.get("tw_page")}
		<input name="pr_tw_page" type="text" class="personalfields" value="${profInfo.get("tw_page")}" />
		#{/if}
		#{elseif talker.getTwitterAccount()}
		<input name="pr_tw_page" type="text" class="personalfields" value="http://twitter.com/${talker.getTwitterAccount().getUserName()}" />
		#{/elseif}
		#{else}
		<input name="pr_tw_page" type="text" class="personalfields" value="" />
		#{/else}		
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Facebook page</span>
			<span class="footerlink">(http://facebook.com/mysite)</span>						
		</div>
		<div class="personaltextfield">
		<input name="pr_fb_page" type="text" class="personalfields" value="#{if profInfo.get("fb_page")}${profInfo.get("fb_page")}#{/if}" />
		</div>
	</div>
	#{profile/field type: 'text', des: 'LinkedIn page', name: 'li_page', talkerType: talkerType, profInfo: profInfo /}	
	#{profile/field type: 'text', des: 'Blog page', name: 'bl_page', talkerType: talkerType, profInfo: profInfo /}
	<!-- SOCIAL ACCOUNTS -->	

	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Email address</span>
		</div>		
		<div class="personaltextfield">
			<input name="pr_pract_email" type="text" class="personalfields"
			#{if profInfo.get("pract_email")}
			value="${profInfo.get("pract_email")}"
			#{/if}
			#{else}
			value="${talker.email}"
			#{/else}
			 />			
		</div>
	</div>			
	*{#{profile/field type: 'text', des: 'Email address', name: 'pract_email', talkerType: talkerType, profInfo: profInfo /}}*
	#{profile/field type: 'text', des: 'Phone number', name: 'pract_phone', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Address line 1', name: 'pract_adr1', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Address line 2', name: 'pract_adr2', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'City', name: 'pract_city', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'State', name: 'pract_state', talkerType: talkerType, profInfo: profInfo /}
	#{profile/field type: 'text', des: 'Zip code', name: 'pract_zip', talkerType: talkerType, profInfo: profInfo /}

*{#{profile/field type: 'textarea_multiple', des: 'Keywords', name: 'research_interests', talkerType: talkerType, profInfo: profInfo /}}*

	<div class="personalmain">
		<div class="personaltextarea2">
			<span class="blacktext14">Keywords<br />
			<span class="footerlink">(We use keywords to connect you with the right users.)</span>
			</span>
		</div>
		*{<div class="personaltextfield">
			<input id="talkerkeywords" name="talker.keywords" type="text" class="personalfields"
				onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
				value="${talker.keywords?.toCommaString('Keywords')}"/>
		</div>
		}*		
		<div class="textareabig">
		<textarea id="talkerkeywords" name="talker.keywords" cols="45" rows="5" 
			onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
			class="textarea3">${talker.keywords?.toCommaString('Keywords')}</textarea>
		</div>
	</div>


<div class="personalmain"></div>