#{set profInfo = talker.profInfo /}

					*{
						Currently hidden fields
						
						<div class="personalmain">
							<div class="personaltextarea">
								<span class="blacktext14">Email</span>
							</div>
							<div class="personaltextfield" style="height: auto">
							  	<input name="talker.email" type="text" class="personalfields" id="talker.email" 
										value="${talker.email}" /><br/>
								#{if talker.verifyCode != null }
									<a href="#" id="verificationResendLink" 
										class="red12">(email not verified - resend verification e-mail)</a>
									<span id="verificationResendResult" class="blacktext12"></span>
								#{/if}
							</div>
						</div>
						<div class="personalmain">
							<div class="personaltextarea"><span class="blacktext14">First Name</span></div>
							<div class="personaltextfield">
							  	<input name="talker.firstName" type="text" class="personalfields"
										value="${talker.firstName}" />
							</div>
						</div>
						<div class="personalmain">
							<div class="personaltextarea"><span class="blacktext14">Last Name</span></div>
							<div class="personaltextfield">
								<input name="talker.lastName" type="text" class="personalfields"
										value="${talker.lastName}" />
							</div>
						</div>
					}*
					
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Birth Date</span></div>
						<div class="personaltextfield">
							<select size="1"  name="talker.dobMonth" id="talker.dobMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
 	#{if talker.dob?.month == i_index-2 } selected #{/if}  
    >${i}</option>
#{/list}
							</select>
							<select size="1" name="talker.dobDay" class="textarea2" id="talker.dobDay">
						  		<option selected value='0'>Day</option>
						  		#{list items:1..31, as:'i'}
								    <option value="${i}"
								    #{if talker.dob?.date == i } selected #{/if} 
								    >${i}</option>
								#{/list}
							</select>
							<select size="1"  name="talker.dobYear" class="textarea2" id="talker.dobYear">
						  		<option selected value='0'>Year</option>
						  		#{list items:1991..1900, as:'i'}
								    <option value="${i}"
								    #{if talker.dob?.year == i - 1900} selected #{/if} 
								    >${i}</option>
								#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Gender</span></div>
						<div class="personaltextfield">
							<select class="personalfields" id="talker.gender" name="talker.gender">
								<option value=""></option>
								#{list items:['Male', 'Female'], as:'gender'}
							  		<option value="${gender.charAt(0)}" 
								    #{if talker.gender?.equals(""+gender.charAt(0)) } selected #{/if} 
								    >${gender}</option>
								#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">City</span></div>
						<div class="personaltextfield">
							<input name="talker.city" type="text" class="personalfields" id="talker.city" 
									value="${talker.city}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">State</span></div>
						<div class="personaltextfield">
							<input name="talker.state" type="text" class="personalfields" id="talker.state" 
									value="${talker.state}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Zip Code</span></div>
						<div class="personaltextfield">
							<input name="talker.zip" type="text" class="personalfields"
									value="${talker.zip}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Country</span></div>
						<div class="personaltextfield" style="border:0;">
							<input name="talker.country" type="text" class="personalfields" id="talker.country" 
									value="${talker.country}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Marital Status</span></div>
						<div class="personaltextfield">
							<select id="talker.maritalStatus" name="talker.maritalStatus" class="personalfields">
		#{list items:["", "Single", "Married/partnered relationship", "Divorced", "Separated", "Widowed"], as:'maritalStatus'}
	  		<option value="${maritalStatus}" 
		    #{if maritalStatus.equals(talker.maritalStatus) } selected #{/if} 
		    >${maritalStatus}</option>
		#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Number of children</span></div>
						<div class="personaltextfield">
							<input id="talker.childrenNumStr" name="talker.childrenNumStr" type="text" class="personalfields" 
									value="${talker.childrenNum == -1 ? '' : talker.childrenNum}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Ages of Children</span></div>
						<div class="personalcheck">
							#{list items:models.TalkerBean.CHILDREN_AGES_ARRAY, as:'age'}
								#{if age_parity.equals('odd') }
									<div class="personalcheck1">
								#{/if}
								#{else}
									<div class="personalcheck2">
								#{/else}
										<input name="talker.childrenAges" type="checkbox" value="${age}" 
										${talker.childrenAges?.contains(age) ? 'checked="true"' : ''}
										/>
										&nbsp; <span class="blacktext14">${age}</span>
									</div>
							#{/list}
						</div>
					</div>
					
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Ethnicity</span></div>
						<div class="personalcheck">
							#{list items:models.TalkerBean.ETHNICITY_ARRAY, as:'ethnicity'}
								#{if ethnicity_parity.equals('odd') }
									<div class="personalcheck1">
								#{/if}
								#{else}
									<div class="personalcheck2">
								#{/else}
										<input name="talker.ethnicities" type="checkbox" value="${ethnicity}" 
										${talker.ethnicities?.contains(ethnicity) ? 'checked="true"' : ''}
										/>
										&nbsp; <span class="blacktext14">${ethnicity}</span>
									</div>
							#{/list}
						</div>
					</div>
					
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Religion</span></div>
						<div class="personaltextfield">
							<select id="talker.religion" name="talker.religion" class="personalfields">
		#{list items:["", "Agnosticism", "Atheism", "Christianity", "Judaism", "Catholicism", "Islam", "Hinduism", "Buddhism", "Other"], as:'religion'}
	  		<option value="${religion}" 
		    #{if religion.equals(talker.religion) } selected #{/if} 
		    >${religion}</option>
		#{/list}
							</select>
						</div>
						<div class="personaltextfield" style="margin-left: 156px;">
							<select id="talker.religionSerious" name="talker.religionSerious" class="personalfields">
		#{list items:["", "and very serious about it", "and somewhat serious about it", "but not too serious about it", "and laughing about it"], as:'religionSerious'}
	  		<option value="${religionSerious}" 
		    #{if religionSerious.equals(talker.religionSerious) } selected #{/if} 
		    >${religionSerious}</option>
		#{/list}
							</select>
						</div>
					</div>
					
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Languages</span></div>
						<div class="personaltextarea" style="width: 250px; height: auto;">
						#{list items:[0, 1, 2, 3, 4], as: 'count'}
							<select name="talker.languagesList[${count}].name" 
									#{if count == 0} disabled #{/if} class="simpleselect">
								<option value=""></option>
								#{list items:models.TalkerBean.LANGUAGE_ARRAY, as:'language'}
									<option value="${language}"
									#{if language.equals(talker.languagesList[count]?.name) } selected #{/if} 
									>${language}</option>
								#{/list}
							</select>
							<select name="talker.languagesList[${count}].proficiency" class="simpleselect" style="width: 80px;">
								#{list items:['', 'Fluently', 'Okay', 'Poorly'], as:'proficiency'}
									<option value="${proficiency}"
									#{if proficiency.equals(talker.languagesList[count]?.proficiency) } selected #{/if} 
									>${proficiency}</option>
								#{/list}
							</select>
						#{/list}
						</div>
					</div>
					
					<div class="personalmain">
						<div class="personaltextarea">
							<span class="blacktext14">Web Page<br/>
								<span class="footerlink">(i.e. http://www.yourblog.com)</span>
							</span>
						</div>
						<div class="personaltextfield">
							<input name="talker.webpage" type="text" class="personalfields"
									value="${talker.webpage}" />
						</div>
					</div>
	
	<!-- SOCIAL ACCOUNTS -->
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Twitter page</span>
			<span class="footerlink">(http://twitter.com/mysite)</span>			
		</div>
		<div class="personaltextfield">
		#{if profInfo.get("tw_page")}
		<input name="pr_tw_page" type="text" class="personalfields" value="${profInfo.get("tw_page")}" />
		#{/if}
		#{elseif talker.getTwitterAccount()}
		<input name="pr_tw_page" type="text" class="personalfields" value="http://twitter.com/${talker.getTwitterAccount().getUserName()}" />
		#{/elseif}		
		#{else}
		<input name="pr_tw_page" type="text" class="personalfields" value="" />
		#{/else}
		</div>
	</div>
	<div class="personalmain">
		<div class="personaltextarea">
			<span class="blacktext14">Facebook page</span>
			<span class="footerlink">(http://facebook.com/mysite)</span>						
		</div>
		<div class="personaltextfield">
		<input name="pr_fb_page" type="text" class="personalfields" value="#{if profInfo.get("fb_page")}${profInfo.get("fb_page")}#{/if}" />
		</div>
	</div>
	<!--
	#{profile/field type: 'text', des: 'Blog page', name: 'bl_page', talkerType: talkerType, profInfo: profInfo /}
	-->
	<!-- SOCIAL ACCOUNTS -->
					
					<div class="personalmain">
						<div class="personaltextarea2">
							<span class="blacktext14">Ask me about<br />
								<span class="footerlink">Key words of topics other members 
									may ask you about (i.e. Clinical Trials, Herceptin, etc.).</span>
							</span>
						</div>
						<div class="personaltextfield">
							<input id="talkerkeywords" name="talker.keywords" type="text" class="personalfields"
									onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
									value="${talker.keywords?.toCommaString('Keywords')}"/>
						</div>
						*{
						<div class="textareabig">
							<textarea id="talkerkeywords" name="talker.keywords" cols="45" rows="5" 
								onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
								class="textarea3">${talker.keywords?.toCommaString('Keywords')}</textarea>
						</div>
						}*
					</div>
					<div class="personalmain">
						<div class="personaltextarea11">
						<span class="blacktext14">Personal Bio (Your story. Tell us about you.)</span></div>
						<div class="textareabiger">
							<textarea name="talker.bio" cols="60" rows="5" class="textarea4">${talker.bio}</textarea>
						</div>
					</div>
					<div class="personalmain"></div>