#{extends 'main.html' /}

<style>
	body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
	#innerpersonalarea { padding-top: 10px }
	
	#mtright { margin-top:-50px; }
	#signupright { margin-right:43px; }
</style>
<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		$("#verificationResendLink").click(function() {
			$(this).html("Sending...");
			$.post("@{Profile.resendVerificationEmail()}", 
				{email: '${talker.email}'},
				function(data) {
					$("#verificationResendLink").hide();
					$("#verificationResendResult").html(data).show();
				}
			);
			return false;
		});

		makeTopicsAutocomplete("#talkerkeywords");
	});
	
	function validatePasswordForm() {
		var reason = "";
		
		reason += validatePassword(document.changePasswordForm.newPassword);
		if (reason != "") {
		    alert(reason);
		    return false;
		}
		
		document.changePasswordForm.submit();
	}
	
	function validateProfileForm() {
	  var reason = "";
	  var updateprofileForm = document.getElementById("updateprofile");
		
	  reason += validateUsername(document.getElementById("talker.userName"));
	  //reason += validateEmail(document.getElementById("talker.email"));
	  //reason += validateEmpty(document.getElementById("talker.dobString"));
	    
	  if (reason != "") {
	    alert("Some fields need correction:\n" + reason);
	    return false;
	  }
		
	  updateprofileForm.submit();
	}
	function validateEmpty(fld) {
	    var error = "";
	 
	    if (fld.value.length == 0) {
	        fld.style.background = 'Yellow'; 
	        error = "The required field has not been filled in.\n"
	    } else {
	        fld.style.background = 'White';
	    }
	    return error;  
	}
	function validateUsername(fld) {
	    var error = "";
	    var illegalChars = /\W/; // allow letters, numbers, and underscores
	 
	    if (fld.value == "") {
	        fld.style.background = 'Yellow'; 
	        error = "You didn't enter a username.\n";
	    } else if ((fld.value.length < 1) || (fld.value.length > 15)) {
	        fld.style.background = 'Yellow'; 
	        error = "The username is the wrong length.\n";
	    } else if (illegalChars.test(fld.value)) {
	        fld.style.background = 'Yellow'; 
	        error = "The username contains illegal characters.\n";
	    } else {
	        fld.style.background = 'White';
	    }
	    return error;
	}
	function validatePassword(fld) {
	    var error = "";
	    var illegalChars = /[\W_]/; // allow only letters and numbers 
	 
	    if (fld.value == "") {
	        fld.style.background = 'Yellow';
	        error = "You didn't enter a password.\n";
	    } else if ((fld.value.length < 1) || (fld.value.length > 15)) {
	        error = "The password is the wrong length. \n";
	        fld.style.background = 'Yellow';
	    } else if (illegalChars.test(fld.value)) {
	        error = "The password contains illegal characters.\n";
	        fld.style.background = 'Yellow';
	    } else if (!((fld.value.search(/(a-z)+/)) && (fld.value.search(/(0-9)+/)))) {
	        error = "The password must contain at least one numeral.\n";
	        fld.style.background = 'Yellow';
	    } else {
	        fld.style.background = 'White';
	    }
	   return error;
	}  
	function trim(s)
	{
	  return s.replace(/^\s+|\s+$/, '');
	}
	function validateEmail(fld){
	    var error="";
	    var tfld = trim(fld.value);                        // value of field with whitespace trimmed off
	    var emailFilter = /^[^@]+@[^@.]+\.[^@]*\w\w$/ ;
	    var illegalChars= /[\(\)\<\>\,\;\:\\\"\[\]]/ ;
	   
	    if (fld.value == "") {
	        fld.style.background = 'Yellow';
	        error = "You didn't enter an email address.\n";
	    } else if (!emailFilter.test(tfld)) {              //test email for illegal characters
	        fld.style.background = 'Yellow';
	        error = "Please enter a valid email address.\n";
	    } else if (fld.value.match(illegalChars)) {
	        fld.style.background = 'Yellow';
	        error = "The email address contains illegal characters.\n";
	    } else {
	        fld.style.background = 'White';
	    }
	    return error;
	}

</script>
</head>
<body>
#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Edit Your Profile Information</div>
		<div id="innerpersonalarea">
			<div id="signupleft">
#{if verifiedEmail}
<div id="verifiedEmailHelp" class="helpInfo">
      <div class="popboxWraper">
        <div class="popbox2">
          <div class="closecover" style="clear: none; float: right;">
            <div class="close" onclick="return hideHelpInfo('verifiedEmail', false);">
            	<img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="note">
		  	<strong>Email verified successfully. Thank you.</strong><br/><br/>
		  	Please tell us more about you so that we can match you for conversations most relevant to you.
		  	Also, other community members with similar concerns can find and connect with you.
		  	<br/>
		  	<br/>
          </div>
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <div class="cb"></div>
</div> 	
#{/if}			
#{ifnot talker?.hiddenHelps.contains('profile') }
<div id="profileHelp" class="helpInfo">
      <div class="popboxWraper">
        <div class="popbox2">
          <div class="closecover" style="clear: none; float: right;">
            <div class="close" onclick="return hideHelpInfo('profile', true);">
            	<img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="note">
		  	<strong>Why provide profile information?</strong><br/>
		  	- We can match you for questions and talks most relevant to you.<br/>
		  	- Enables other members with similar concerns to find and connect with you.<br/>
		  	- The more information everyone in the community shares, the more we help each other.<br/>
		  	<br/>
		  	<strong>Username visibility.</strong><br/>
		  	Your username will be visible to other members. 
		  	If you want to remain anonymous, please make your username different than your real name.<br/>
		  	<br/>
		  	<strong>Is the other profile information I provide private?</strong><br/>
		  	Yes. By default, the information you provide is private.
		  	You may make your profile viewable by the community by changing your <a href="@{Profile.preferences()}">Privacy Settings.</a><br/>
		  	<br/>
          </div>
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <div class="cb"></div>
</div> 
#{/ifnot}
			#{form @Profile.save() , id:'updateprofile' }
				<!-- We need this field to pass TalkerBean validation -->
				<input type="hidden" id="talker.password" name="talker.password" value="pass" />
				<div id="personalleft">
					<div class="personalmain" style="text-align: center">
						#{if "editForm".equals(flash.currentForm)}
							#{if flash.success}
							    <span class="success">Changes saved!</span>&nbsp;&nbsp;&nbsp;
							    <span style="font-size: 14px; font-weight: bold;">Next step: Edit your 
							    	<a href="@{Profile.healthDetails()}">Health Info</a>
							    </span>
							#{/if}
							#{ifErrors}
							   #{errors}
							       <span class="error">${error}</span><br/>
							   #{/errors}
							#{/ifErrors}
						#{/if}
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Username</span></div>
						<div class="personaltextfield">
							<input name="talker.userName" type="text" class="personalfields" id="talker.userName" 
									value="${talker.userName}" />
						</div>
					</div>
					
					<input name="talker.email" type="hidden" class="personalfields" 
						id="talker.email" value="bad@email.com" />
					*{
					<div class="personalmain">
						<div class="personaltextarea">
							<span class="blacktext14">Email</span>
						</div>
						<div class="personaltextfield" style="height: auto">
						  	<input name="talker.email" type="text" class="personalfields" id="talker.email" 
									value="${talker.email}" /><br/>
							#{if talker.verifyCode != null }
								<a href="#" id="verificationResendLink" 
									class="red12">(email not verified - resend verification e-mail)</a>
								<span id="verificationResendResult" class="blacktext12"></span>
							#{/if}
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">First Name</span></div>
						<div class="personaltextfield">
						  	<input name="talker.firstName" type="text" class="personalfields"
									value="${talker.firstName}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Last Name</span></div>
						<div class="personaltextfield">
							<input name="talker.lastName" type="text" class="personalfields"
									value="${talker.lastName}" />
						</div>
					</div>
					}*
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Birth Date</span></div>
						<div class="personaltextfield">
							<select size="1"  name="talker.dobMonth" id="talker.dobMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
 	#{if talker.dob?.month == i_index-2 } selected #{/if}  
    >${i}</option>
#{/list}
							</select>
							<select size="1" name="talker.dobDay" class="textarea2" id="talker.dobDay">
						  		<option selected value='0'>Day</option>
						  		#{list items:1..31, as:'i'}
								    <option value="${i}"
								    #{if talker.dob?.date == i } selected #{/if} 
								    >${i}</option>
								#{/list}
							</select>
							<select size="1"  name="talker.dobYear" class="textarea2" id="talker.dobYear">
						  		<option selected value='0'>Year</option>
						  		#{list items:1991..1900, as:'i'}
								    <option value="${i}"
								    #{if talker.dob?.year == i - 1900} selected #{/if} 
								    >${i}</option>
								#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Gender</span></div>
						<div class="personaltextfield">
							<select class="personalfields" id="talker.gender" name="talker.gender">
								<option value=""></option>
								#{list items:['Male', 'Female'], as:'gender'}
							  		<option value="${gender.charAt(0)}" 
								    #{if talker.gender?.equals(""+gender.charAt(0)) } selected #{/if} 
								    >${gender}</option>
								#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">City</span></div>
						<div class="personaltextfield">
							<input name="talker.city" type="text" class="personalfields" id="talker.city" 
									value="${talker.city}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">State</span></div>
						<div class="personaltextfield">
							<input name="talker.state" type="text" class="personalfields" id="talker.state" 
									value="${talker.state}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Zip Code</span></div>
						<div class="personaltextfield">
							<input name="talker.zip" type="text" class="personalfields"
									value="${talker.zip}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Country</span></div>
						<div class="personaltextfield" style="border:0;">
							<input name="talker.country" type="text" class="personalfields" id="talker.country" 
									value="${talker.country}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Martial Status</span></div>
						<div class="personaltextfield">
							<select id="talker.maritalStatus" name="talker.maritalStatus" class="personalfields">
		#{list items:["", "Single", "Married/partnered relationship", "Divorced", "Separated", "Widowed"], as:'maritalStatus'}
	  		<option value="${maritalStatus}" 
		    #{if maritalStatus.equals(talker.maritalStatus) } selected #{/if} 
		    >${maritalStatus}</option>
		#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Number of children</span></div>
						<div class="personaltextfield">
							<input id="talker.childrenNumStr" name="talker.childrenNumStr" type="text" class="personalfields" 
									value="${talker.childrenNum == -1 ? '' : talker.childrenNum}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Ages of Children</span></div>
						<div class="personalcheck">
							#{list items:models.TalkerBean.CHILDREN_AGES_ARRAY, as:'age'}
								#{if age_parity.equals('odd') }
									<div class="personalcheck1">
								#{/if}
								#{else}
									<div class="personalcheck2">
								#{/else}
										<input name="talker.childrenAges" type="checkbox" value="${age}" 
										${talker.childrenAges?.contains(age) ? 'checked="true"' : ''}
										/>
										&nbsp; <span class="blacktext14">${age}</span>
									</div>
							#{/list}
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Patient/Caregiver/etc.</span></div>
						<div class="personaltextfield">
							<select size="1" name="talker.connection" class="personalfields" id="talker.connection">
						  		<option selected value=''></option>
						  		#{list items:models.TalkerBean.CONNECTIONS_ARRAY, as:'connection'}
								    <option value="${connection}"
								    #{if connection.equals(talker.connection) } selected #{/if} 
								    >${connection}</option>
								#{/list}
							</select>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea">
							<span class="blacktext14">Web Page<br/>
								<span class="footerlink">(i.e. http://www.yourblog.com)</span>
							</span>
						</div>
						<div class="personaltextfield">
							<input name="talker.webpage" type="text" class="personalfields"
									value="${talker.webpage}" />
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea2">
							<span class="blacktext14">Ask me about<br />
								<span class="footerlink">Key words of topics other members 
									may ask you about (i.e. Clinical Trials, Herceptin, etc.).</span>
							</span>
						</div>
						<div class="personaltextfield">
							<input id="talkerkeywords" name="talker.keywords" type="text" class="personalfields"
									onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
									value="${talker.keywords?.toCommaString('Keywords')}"/>
						</div>
						*{
						<div class="textareabig">
							<textarea id="talkerkeywords" name="talker.keywords" cols="45" rows="5" 
								onclick="if (this.value == 'Keywords (please separate by commas)') this.value = ''"
								class="textarea3">${talker.keywords?.toCommaString('Keywords')}</textarea>
						</div>
						}*
					</div>
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Personal Bio (About you)</span></div>
						<div class="textareabig">
							<textarea name="talker.bio" cols="45" rows="5" class="textarea3">${talker.bio}</textarea>
						</div>
					</div>
					<div class="personalmain">
						<div class="personaltextarea"></div>
						<div class="personaltextarea" >
							<a href="#" onclick="validateProfileForm()">
								<img src="/public/images/savechanges_btn.gif" width="186" height="46" border="0" /></a>
						</div>
					</div>
					<div class="personalmain"></div>
				</div>
				<div id="personalright">
					<div id="personalrightimg">
						<img src="@{Image.show(talker.userName)}" />
					</div>
					<div class="bluetext12" id="personalrighttext">
						<a href="@{Profile.image()}" class="bluetext12">Change Photo</a>
					</div>
				</div>
			#{/form}
			</div>
			
			#{ set currentPage = 'publicProfile' /}
			#{ set currentTalker = talker /}
            #{ include 'PublicProfile/profileRight.html' /}
			
			<div id="signupright">
				<div class="personalinfosignrightbox">
					<div class="personalinfosignrighttop"></div>
					<div class="signrighmid">
						<span class="blacktext14"><strong>Picture and username visibility</strong></span>
						<span class="blacktext12"><br />
						Your picture and username will be visible to other members. 
						If you want to remain anonymous, please make your user name 
						different than your real name and do not use a picture of yourself.
						</span>
						<span class="blacktext14"><strong><br /><br />Why provide more information?</strong></span>
						<span class="blacktext12"><br />
						Filling in your profile information enables us to match you with 
						questions and talks most relevant to you. <br/><br/>
						The more information you provide, the more likely other members with similar concerns will find and connect with you.
						<br /><br />
						The more information everyone in the community shares, the more we help each other.
						</span>
						<span class="blacktext14"><strong><br />
						<br />Is the information I provide private?</strong></span>
						<span class="blacktext12"><br />
						By default, the information you provide is private. 
						You can make your information viewable to the community 
						by changing your <a href="@{Profile.preferences()}">Privacy Settings</a>.</span></span><br />
						<br />
					</div>
					<div class="signrighbot"></div>
				</div>
			</div>	
		</div>
	</div>
</div>
<div id="personalarea">
	<div id="personalinner">
		<div id="personalleft1">
		<a name="passwordform"></a>
		<form id="changePasswordForm" name="changePasswordForm" action="@{Profile.changePassword()}#changePasswordForm" method="post">
			<div class="personalmain" style="text-align: center">
				#{if "changePasswordForm".equals(flash.currentForm)}
					#{if flash.success}
					    <span class="success">Password is changed!</span>
					#{/if}
					#{ifErrors}
					   #{errors}
					       <span class="error">${error}</span><br/>
					   #{/errors}
					#{/ifErrors}
				#{/if}
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Current Password</span></div>
				<div class="personaltextfield">
					<input name="curPassword" id="curPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">New Password</span></div>
				<div class="personaltextfield">
					<input name="newPassword" id="newPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Confirm Password</span></div>
				<div class="personaltextfield">
					<input name="confirmPassword" id="confirmPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"></div>
				<div class="personaltextarea" style="height:46px; padding-top:2px;">
					<a href="#passwordform" onclick="validatePasswordForm()">
						<img src="/public/images/changepass_btn.gif" width="186" height="46" border="0" />
					</a>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
