#{extends 'main.html' /}

<style>
	body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
	#innerpersonalarea { padding-top: 10px }
	
	#mtright { margin-top:-50px; }
	#signupright { margin-right:43px; }
</style>

<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
<script type="text/javascript">
	$(document).ready(function() {
		makeTopicsAutocomplete("#talkerkeywords");

		addAjaxForm("#updateprofile");
		addAjaxForm("#changeInsuranceForm");
	});

	/*
		When user changes connection we reload page to update fields	
	*/
	function changeConnection(elem) {
		var newConnection = $(elem).val();
		$.post("@{Profile.changeConnection()}", 
			{value: newConnection},
			function(data) {
				window.location = "/profile/profileinfo";
			}
		);
		
		return false;
	}
</script>
</head>
<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Edit Your Profile Information</div>
		<div id="innerpersonalarea">
			<div id="signupleft">
				#{if verifiedEmail}
					<div id="verifiedEmailHelp" class="helpInfo">
					      <div class="popboxWraper">
					        <div class="popbox2">
					          <div class="closecover" style="clear: none; float: right;">
					            <div class="close" onclick="return hideHelpInfo('verifiedEmail', false);">
					            	<img src="/public/images/close.jpg" alt="Close" /></div>
					          </div>
					          <div class="note">
					          	#{if talker.isProf()}
					          		<strong>Email verified successfully.  Thank you.</strong><br/><br/>
									Please tell us more about you so that we can personalize your experience and recommend topics and conversations. 
									As well, this enables community members to find you and follow your answers and comments if you choose.  
									Providing profile information is optional.
					          	#{/if}
					          	#{else}
					          		<strong>Email verified successfully. Thank you.</strong><br/><br/>
								  	Please tell us more about you so that we can match you for conversations most relevant to you.
								  	Also, other community members with similar concerns can find and connect with you.
					          	#{/else}
							  	<br/>
							  	<br/>
					          </div>
					          <div class="cb"></div>
					        </div>
					      </div>
					      <div class="cb"></div>
					</div> 	
				#{/if}			
				#{ifnot talker?.hiddenHelps.contains('profile') }
					<div id="profileHelp" class="helpInfo">
					      <div class="popboxWraper">
					        <div class="popbox2">
					          <div class="closecover" style="clear: none; float: right;">
					            <div class="close" onclick="return hideHelpInfo('profile', true);">
					            	<img src="/public/images/close.jpg" alt="Close" /></div>
					          </div>
					          <div class="note">
					          	#{if talker.isProf()}
					          		<strong>Provide profile information so we can personalize your experience:</strong><br/>
									- Notify you of questions, chats, and information relevant to you.<br/>
									- Enables others to find you based on location, health concern, specialty, etc.<br/>
									<br/>
									<strong>Your profile info is private by default.</strong><br/>
									- Update your <a href="@{Profile.preferences()}">privacy settings</a> to share your profile information with the community.<br/>
					          	#{/if}
					          	#{else}
					          		<strong>Provide profile information so we can personalize your experience:</strong><br/>
								        - Recommend similar members for you to meet.<br/>	
					                                - Notify you of questions, chats, and information relevant to you.<br/>
								  	<br/>
								  	<strong>Your profile is private by default.</strong><br/>
								  	- Update your <a href="@{Profile.preferences()}">privacy settings</a> to share your profile information with the community.<br/>
					          	#{/else}
							  	<br/>
					          </div>
					          <div class="cb"></div>
					        </div>
					      </div>
					      <div class="cb"></div>
					</div> 
				#{/ifnot}
			#{form @Profile.save() , id:'updateprofile' }
				<!-- We need this field to pass TalkerBean validation -->
				<input type="hidden" id="talker.password" name="talker.password" value="pass" />
				<div id="personalleft">
					<div class="personalmain">
						<div class="personaltextarea"><span class="blacktext14">Username</span></div>
						<div class="personaltextfield">
							<input name="talker.userName" type="text" class="personalfields" id="talker.userName" 
									value="${talker.userName}" />
						</div>
					</div>
					<input name="talker.email" type="hidden" class="personalfields" 
						id="talker.email" value="bad@email.com" />
					
					<div class="personalmain">
						<div class="personaltextarea" style="padding-top: 0px;">
							<span class="blacktext14">Patient, Physician, Caregiver, etc.</span></div>
						<div class="personaltextfield">
							<select size="1" name="talker.connection" class="personalfields" 
								onchange="return changeConnection(this);"
								id="talker.connection">
						  		<option selected value=''></option>
						  		#{list items:models.TalkerBean.CONNECTIONS_ARRAY, as:'connection'}
								    <option value="${connection}"
								    #{if connection.equals(talker.connection) } selected #{/if} 
								    >${connection}</option>
								#{/list}
							</select>
						</div>
					</div>
					
					#{if talker.connection.equals("Organization") || talker.connection.equals("Support Group")}
						#{include 'Profile/editfieldsOrganization.html' /}
					#{/if}
					#{elseif talker.isProf()}
						#{include 'Profile/editfieldsProf.html' /}
					#{/elseif}
					#{else}
						#{include 'Profile/editfields.html' /}					
					#{/else}
					
					
				</div>
				<div id="personalright">
					<div id="personalrightimg">
						<img src="@{Image.show(talker.userName)}" />
					</div>
					<div class="bluetext12" id="personalrighttext">
						<a href="@{Profile.image()}" class="bluetext12">Change Photo</a>
					</div>
				</div>
			#{/form}
			
			#{if talker.connection?.equals("Physician")}
				<div id="personalleft1" style="padding-left: 0px; padding-top: 20px;">
					<a name="insuranceform"></a>
					<div class="personaltextarea"><span class="blacktext14">Insurance Accepted</span></div>
					<form id="changeInsuranceForm" name="changeInsuranceForm" 
							action="@{Profile.changeInsuranceAccepted()}#insuranceform" method="post">
						<div class="personalmain" style="text-align: center">
							#{if "changeInsuranceForm".equals(flash.currentForm)}
								#{if flash.success}
								    <span class="success">Changes saved!</span>&nbsp;&nbsp;&nbsp;
							    	<span style="font-size: 14px; font-weight: bold;">
							    		Next step: Update your <a href="@{Profile.preferences()}">Privacy Settings</a>
								    </span>
								#{/if}
								#{ifErrors}
								   #{errors}
								       <span class="error">${error}</span><br/>
								   #{/errors}
								#{/ifErrors}
							#{/if}
						</div>
						#{list items: logic.TalkerLogic.getFieldsData("insuranceAccepted", talker.connection), as: 'insurance' }
							#{ifnot insurance.equals("")}
								<div style="clear: both;">
									<input name='insuranceAccepted' value="${insurance}" type='checkbox'
									#{if talker.insuranceAccepted?.contains(insurance) }
										checked='checked'
									#{/if}
									/>&nbsp; <span class="blacktext14">${insurance}</span>
								</div>
							#{/ifnot}
						#{/list}
					</form>
				</div>
			#{/if}
			
				<div style="float: left; clear: both;">
					<input id="saveBtn" disabled="disabled" type="submit" value="Save" />
					<span id="saveBtnText"></span>
				</div>
			
				#{if talker.nextStepMessage }
				 	<div class="generalsubhead">
					 	Next Step: ${talker.nextStepMessage?.raw()}.
					 	Or go to the <a href="@{Home.index()}">Home</a> page.
					</div>
				#{/if}
			
			</div>
			
			#{ set currentPage = 'publicProfile' /}
			#{ set currentTalker = talker /}
            #{ include 'PublicProfile/profileRight.html' /}
			
			<div id="signupright">
				<div class="personalinfosignrightbox">
					<div class="personalinfosignrighttop"></div>
					<div class="signrighmid">
						<span class="blacktext14"><strong>Picture and username visibility</strong></span>
						<span class="blacktext12"><br />
						Your picture and username will be visible to other members. 
						If you want to remain anonymous, please make your user name 
						different than your real name and do not use a picture of yourself.
						</span>
						<span class="blacktext14"><strong><br /><br />Why provide more information?</strong></span>
						<span class="blacktext12"><br />
							#{if talker.isProf()}
				          		Providing your profile information enables us to personalize your experience 
				          		and recommend topics and conversations most relevant to you.<br/><br/>
				          		The more information everyone in the community shares, the more we help each other.
				          	#{/if}
				          	#{else}
				          		Filling in your profile information enables us to match you with 
								questions and talks most relevant to you. <br/><br/>
								The more information you provide, the more likely other members with similar concerns will find and connect with you.
								<br /><br />
								The more information everyone in the community shares, the more we help each other.
				          	#{/else}
						</span>
						<span class="blacktext14"><strong><br />
						<br />Is the information I provide private?</strong></span>
						<span class="blacktext12"><br />
						By default, the information you provide is private. 
						You can make your information viewable to the community 
						by changing your <a href="@{Profile.preferences()}">Privacy Settings</a>.</span></span><br />
						<br />
					</div>
					<div class="signrighbot"></div>
				</div>
			</div>	
		</div>
	</div>
</div>
