#{ extends 'main.html' /}

	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		.signfields2 ul {
			padding-top: 0px;
		}
		.signfields2 ul li {
			background:none;
			font-size: 14px;
			line-height: 24px;
			height: 24px;
			padding: 0px;
			width:600px;
		}	
	</style>
</head>
<body>
<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{ include 'menu.html' /}
		</div>
	</div>
		<div id="innerbanner"></div>
		<form id="healthdetailsform" name="healthdetailsform" action="@{Profile.saveHealthDetails()}" method="POST">
		<div id="innermain">
			<div class="blacktext2" id="innerheading">General Health Details</div>
			<div id="innermiddlearea">
				<div id="notifactionbox">
					<div class="notifactionboxtop"></div>
					<div class="notifactionboxmid">
						#{if flash.success}
						   <div class="notibluearea">
								<div class="notiblueareatop"></div>
								<div class="signfields2">
									<h4>Changes are saved!</h4>
								</div>
								<div class="notiblueareabot"></div>
							</div>
						#{/if}
						<div class="notibluearea">
							<div class="notiblueareatop"></div>
							<div class="signfields2">
								<div class="row">
									<label>What is the stage?</label>
									<div>
										<select name="talkerDisease.stage" class="textarea1">
											#{list items:stagesList, as:'stage' }
												<option value="${stage}" 
											    #{if stage.equals(talkerDisease.stage) } selected #{/if} 
											    >${stage}</option>
											#{/list}
										</select>
									</div> 
								</div>
								<div class="row">
									<label>Disease type</label>
									<div>
										<select name="talkerDisease.type" class="textarea1">
											#{list items:typesList, as:'type' }
												<option value="${type}" 
											    #{if type.equals(talkerDisease.type) } selected #{/if} 
											    >${type}</option>
											#{/list}
										</select>
									</div> 
								</div>
								<div class="row">
									<label>Is it recurrent?</label>
									<div>
										<select name="talkerDisease.recurrent" class="textarea1">											
									 		<option value="false">No</option>
									 		<option value="true" 
									 		#{if talkerDisease.recurrent } selected #{/if} 
									 		>Yes</option>
										</select>
									</div> 
								</div>
								<div class="row">
									<label>When did the first symptom appear?</label>
									<div>
										<input name="talkerDisease.symptomDate" type="text" class="textfields" 
											onclick="if (this.value == 'mm/dd/yyyy') this.value='';" 
											#{if talkerDisease != null && talkerDisease.symptomDate != null }	
												value="${talkerDisease.symptomDate.format('MM/dd/yyyy')}"
											#{/if}
											#{else}
												value="mm/dd/yyyy"
											#{/else}
										/>
									</div> 
								</div>
								<div class="row">
									<label>When were you first diagnosed?</label>
									<div>
										<input name="talkerDisease.diagnoseDate" type="text" class="textfields" 
											onclick="if (this.value == 'mm/dd/yyyy') this.value='';" 
											#{if talkerDisease != null && talkerDisease.diagnoseDate != null }	
												value="${talkerDisease.diagnoseDate.format('MM/dd/yyyy')}"
											#{/if}
											#{else}
												value="mm/dd/yyyy"
											#{/else}
										/>
									</div> 
								</div>
								<h1 style="margin-top: 15px;" >What were the initial symptoms you experienced?</h1>
								<ul>
									#{ healthItemsTree healthItem:healthItemsMap["symptoms"], checkedItems: talkerDisease.healthItems /}
								</ul>
							</div>
							<div class="notiblueareabot"></div>
						</div>
						<a id="savebutton" href="#" onclick="document.healthdetailsform.submit();">
							<img src="/public/images/save.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="notifactionboxbot"></div>
				</div>
				<div id="tipsbox">
					<b>Tips</b><br/><br/>
					Filling in your health details enables
					us to find others just like you for conversations.
					The more information you provide
					the better we can match you 
					with conversations and other members.
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Tests and Procedures</div>
				<div id="notifactionbox2">
					<div class="notifactionboxtop"></div>
					<div class="notifactionboxmid">
						<div class="notibluearea">
							<div class="notiblueareatop"></div>
							<div class="signfields2">								
								<h1>Which of the following tests have you had?</h1>
								<ul>
									#{ healthItemsTree healthItem:healthItemsMap["tests"], checkedItems: talkerDisease.healthItems /}
								</ul>
							</div>
							<div class="notiblueareabot"></div>
						</div>
						<div class="notibluearea">
							<div class="notiblueareatop"></div>
							<div class="signfields2">								
								<h1>What procedures / surgeries have you had?</h1>
								<ul>
									#{ healthItemsTree healthItem:healthItemsMap["procedures"], checkedItems: talkerDisease.healthItems /}
								</ul>
							</div>
							<div class="notiblueareabot"></div>
						</div>
						<a id="savebutton" href="#" onclick="document.healthdetailsform.submit();">
							<img src="/public/images/save.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="notifactionboxbot"></div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Treatments and medications</div>
				<div id="notifactionbox2">
					<div class="notifactionboxtop"></div>
					<div class="notifactionboxmid">
						<div class="notibluearea">
							<div class="notiblueareatop"></div>
							<div class="signfields2">								
								<h1>What treatments / medications have you taken?</h1>
								<ul>
									#{ healthItemsTree healthItem:healthItemsMap["treatments"], checkedItems: talkerDisease.healthItems /}
								</ul>
							</div>
							<div class="notiblueareabot"></div>
						</div>
						<a id="savebutton" href="#" onclick="document.healthdetailsform.submit();">
							<img src="/public/images/save.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="notifactionboxbot"></div>
				</div>
			</div>
		</div>
		
		</form>