#{ extends 'main.html' /}

	<style>
		#innerpersonalarea { padding-top: 10px }
		
		#mtright { margin-top:-50px; }
		#signupright { margin-right:43px; }
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
	<script type="text/javascript">
		function submitForm(section) {
			$("#section").val(section);
			
			document.healthdetailsform.submit();
			return false;
		}

		$(document).ready(function() {
			addAjaxForm("#healthdetailsform");
			
			makeTopicsAutocomplete("#othersymptoms", "Breast Cancer Symptoms");
			makeTopicsAutocomplete("#othertests", "Tests");
			makeTopicsAutocomplete("#otherprocedures", "Procedures");
			makeTopicsAutocomplete("#othertreatments", "Medications");
			makeTopicsAutocomplete("#othersideeffects", "Side Effects");
		});
	</script>
</head>
<body>

#{include 'header.html' /}

		<div id="innerbanner"></div>
		<form id="healthdetailsform" name="healthdetailsform" action="@{Profile.saveHealthDetails()}" method="POST">
		<input type="hidden" name="section" id="section" />
		<div id="innermain">
			<div class="blacktext2" id="innerheading">Edit Your Health Information</div>
			<div id="innerpersonalarea">
				<div id="signupleft">
					#{if verifiedEmail}
						<div id="verifiedEmailHelp" class="helpInfo">
						      <div class="popboxWraper">
						        <div class="popbox2">
						          <div class="closecover" style="clear: none; float: right;">
						            <div class="close" onclick="return hideHelpInfo('verifiedEmail', false);">
						            	<img src="/public/images/close.jpg" alt="Close" /></div>
						          </div>
						          <div class="note">
						          	#{if talker.isProf()}
						          		<strong>Email verified successfully.  Thank you.</strong><br/><br/>
										Please tell us more about you so that we can personalize your experience and recommend topics and conversations. 
										As well, this enables community members to find you and follow your answers and comments if you choose.  
										Providing profile information is optional.
						          	#{/if}
						          	#{else}
						          		<strong>Email verified successfully. Thank you.</strong><br/><br/>
									  	Please tell us more about you so that we can match you with peers, survivors, and experts who can help.
									  	Also, other community members with similar concerns can find and connect with you.
						          	#{/else}
								  	<br/>
								  	<br/>
						          </div>
						          <div class="cb"></div>
						        </div>
						      </div>
						      <div class="cb"></div>
						</div> 	
					#{/if}			
					#{ifnot talker?.hiddenHelps.contains('health')}
					<div id="healthHelp" class="helpInfo">
					      <div class="popboxWraper">
					        <div class="popbox2">
					          <div class="closecover" style="clear: none; float: right;">
					            <div class="close" onclick="return hideHelpInfo('health', true);">
					            	<img src="/public/images/close.jpg" alt="Close" /></div>
					          </div>
					          <div class="note">
							  	<strong>Provide your health information so we can personalize your experience:</strong><br/>
							  	- Match you with other members who can help.<br/> 
							  	- Match you with questions and information relevant to you.<br/>
							  	<br/>
							  	<strong>Your health information is viewable by the community by default.</strong><br/>
							  	- Update your <a href="@{Profile.preferences()}">privacy settings</a> to make your health information private or public.<br/>
							  	<br/>
					          </div>
					          <div class="cb"></div>
					        </div>
					        <!--popbox2-->
					
					      </div>
					      <div class="cb"></div>
					</div> 
					#{/ifnot}
					
					<div id="signupleftarea">
						<div class="signupmain">
							#{if talker.connection.equals("High Risk Individual")}
							<div class="generaltextarea2">
								<span class="blacktext16"><strong>Health Bio</strong> (Your health story. Share some of your health experiences.)</span>
							</div>
							<div class="textareabigerer1">
								<textarea name="talkerDisease.healthBio" cols="45" rows="5" 
									class="textarea6">${talkerDisease?.healthBio}</textarea>
							</div>							
							#{/if}
							#{else}
							<div class="generaltextarea2">
								<span class="blacktext16"><strong>Health Bio</strong> (Your health story. Share some of your health experiences.)</span>
							</div>
							<div class="textareabigerer">
								<textarea name="talkerDisease.healthBio" cols="45" rows="5" 
									class="textarea5">${talkerDisease?.healthBio}</textarea>
							</div>							
							#{/else}							
						</div>
						#{list items:disease.questions, as:'question'}
						#{if (talker.connection.equals("High Risk Individual") && talker.isHighRiskQ(question.name)) || (!talker.connection.equals("High Risk Individual") && !talker.isHighRiskQ(question.name))} 
							<div class="signupmain">
							#{if question.type == models.DiseaseBean.DiseaseQuestion.DiseaseQuestionType.SELECT}
								<div class="generaltextarea">
									<span class="blacktext16"><strong>${question.text}</strong></span>
								</div>
								<div class="personaltextfield">
									<select name="${question.name}" class="personalfields">
										<option value=""></option>
										#{list items:question.choices, as:'choice' }
											<option value="${choice}" 
										    	#{if talkerDisease?.healthInfo?.get(question.name)?.contains(choice) } 
										    		selected 
										    	#{/if}
										    >${choice}</option>
										#{/list}
									</select>
								</div>
							#{/if}
							#{else}
								#{if question.name.equals("hrbenigh1")}
								<div class="generalsubhead">Benigh Breast Conditions</div>
								#{/if}
								<div class="generaltextarea2">
									#{if question.name.equals("hrbenigh1") || question.name.equals("hrbenigh2") }
									<span class="blacktext14">
									#{/if}
									#{else}
	 								<span class="blacktext16">
	 								#{/else}
	 								<strong>${question.text}</strong>
	 								</span>
	 							</div>
								<div class="generalcheck">
									#{list items:question.choices, as: 'choice'}
										<div>
											<input name="${question.name}" type="checkbox" value="${choice}"
											#{if talkerDisease?.healthInfo?.get(question.name)?.contains(choice) } 
									    		checked='checked'
									    	#{/if}
											/>&nbsp; <span class="blacktext14">${choice}</span>
										</div>
									#{/list}
								</div>
								#{if question.name.equals("rareforms")}
								<div class="signupmain">
									<div class="personaltextfield">
								  		#{ profile/otherField name:'rareforms', values: talkerDisease?.otherHealthItems /}
									</div>
								</div>
								#{/if}
							#{/else}
						</div>
						#{/if}
						#{/list}
						
						#{ifnot talker.connection.equals("High Risk Individual")}
						<div class="signupmain">
							<a name="symptoms"></a>
							<div class="generaltextarea">
								<span class="blacktext16"><strong>Is it recurrent?</strong></span>
							</div>
							<div class="personaltextfield">
								<select name="talkerDisease.recurrent" class="personalfields">
									#{list items:['', 'no', 'yes'], as:'val' }
										<option value="${val}" 
									    #{if val.equals(talkerDisease?.recurrent) } selected #{/if} 
									    >${val}</option>
									#{/list}	
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>When did the first symptom appear?</strong></span>
							</div>
							<div class="personaltextfield">
								<select size="1"  name="talkerDisease.symptomMonth" id="talkerDisease.symptomMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
    #{if talkerDisease?.symptomDate?.month == i_index-2 } selected #{/if} 
    >${i}</option>
#{/list}
								</select>
								&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;
								<select size="1"  name="talkerDisease.symptomYear" class="textarea2" id="talkerDisease.symptomYear">
							  		<option value='0'>Year</option>
							  		#{list items:2010..1950, as:'i'}
									    <option value="${i}"
									    *{ TODO: use of deprecated getYear() ? }*
									    #{if talkerDisease?.symptomDate?.year == i - 1900 } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>When were you first diagnosed?</strong></span>
							</div>
							<div class="personaltextfield">
								<select size="1"  name="talkerDisease.diagnoseMonth" id="talkerDisease.diagnoseMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
    #{if talkerDisease?.diagnoseDate?.month == i_index-2 } selected #{/if} 
    >${i}</option>
#{/list}
								</select>
								&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;
								<select size="1"  name="talkerDisease.diagnoseYear" class="textarea2" id="talkerDisease.diagnoseYear">
							  		<option value='0'>Year</option>
							  		#{list items:2010..1950, as:'i'}
									    <option value="${i}"
									    #{if talkerDisease?.diagnoseDate?.year == i - 1900 } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
							</div>
						</div>
						
						<div class="signupmain">
 							<div class="generaltextarea2">
 								<span class="blacktext16"><strong>What were the initial symptoms you experienced?</strong></span>
 							</div>
							<div class="generalcheck">
								#{ profile/healthItemsTree healthItem:healthItemsMap["symptoms"], checkedItems: talkerDisease?.healthItems /}
							</div>
							<div class="signupmain">
								<div class="personaltextfield">
								  	#{ profile/otherField name:'symptoms', values: talkerDisease?.otherHealthItems /}
								</div>
							</div>
						</div>
						<div class="signupmain"></div>
						#{/ifnot}
					</div>
				</div>
				
				#{ set currentPage = 'publicProfile' /}
				#{ set currentTalker = talker /}
            	#{ include 'PublicProfile/profileRight.html' /}
            
				<div id="signupright">
					<div class="personalinfosignrightbox">
					<div class="personalinfosignrighttop"></div>
					<div class="signrighmid">
						<span class="blacktext14"><strong>Why provide your health information?</strong></span>
						<span class="blacktext12"><br />
						Filling in your health details enables us to match you with peers, survivors, and experts who can help.
						<br /><br />					 
						As well, the more information you provide, the more likely 
						other members with similar concerns will find and connect with you.
						<br /><br />
						The more information everyone in the community shares, the more we help each other.
						</span>
						<span class="blacktext14"><strong><br />
						<br />Is the information I provide private?</strong></span>
						<span class="blacktext12"><br />
						The information you provide is viewable by the community by default. 
						You may make your information private or public  
						by changing your <a href="@{Profile.preferences()}">Privacy Settings.</a></span></span><br />
						<br />
					</div>
					<div class="signrighbot"></div>
				</div>
				</div>
			</div>
		</div>
		
		#{ifnot talker.connection.equals("High Risk Individual")}
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Tests and Procedures</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">Which of the following tests have you had?</div>
					<div class="generalcheck">
						#{ profile/healthItemsTree healthItem:healthItemsMap["tests"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="personaltextfield">
						#{ profile/otherField name:'tests', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="generalsubhead">
						<a name="procedures"></a>
						What procedures/surgeries have you had?
					</div>
					<div class="generalcheck">
						#{ profile/healthItemsTree healthItem:healthItemsMap["procedures"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="personaltextfield">
						#{ profile/otherField name:'procedures', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Treatments and medications</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">
						What treatments / medications have you taken?
					</div>
					<div class="generalcheck">
						<a name="treatments"></a>
						#{ profile/healthItemsTree healthItem:healthItemsMap["treatments"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="personaltextfield">
						#{ profile/otherField name:'treatments', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Side Effects</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">What Treatment/Medication Side Effects have you experienced?</div>
					<div class="generalcheck">
						#{ profile/healthItemsTree healthItem:healthItemsMap["sideeffects"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="personaltextfield">
						<a name="sideeffects"></a>
						#{ profile/otherField name:'sideeffects', values: talkerDisease?.otherHealthItems /}
					</div>
					#{if talker.nextStepMessage }
					 	<div class="generalsubhead">
						 	Next Step: ${talker.nextStepMessage?.raw()}.
						 	Or go to the <a href="@{Home.index()}">Home</a> page.
						</div>
				 	#{/if}
					
					<div style="float: left; clear: both;">
						<input id="saveBtn" disabled="disabled" type="submit" value="Save" />
						<span id="saveBtnText"></span>
					</div>
				
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
		#{/ifnot}
	</form>
