#{ extends 'main.html' /}

	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		.signfields2 ul {
			padding-top: 0px;
		}
		.signfields2 ul li {
			background:none;
			font-size: 14px;
			line-height: 24px;
			height: 24px;
			padding: 0px;
			width:600px;
		}	
	</style>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	
		<div id="innerbanner"></div>
		<form id="healthdetailsform" name="healthdetailsform" action="@{Profile.saveHealthDetails()}" method="POST">
		<div id="innermain">
			<div class="blacktext2" id="innerheading">General Health Details</div>
			<div id="innerpersonalarea">
				<div id="signupleft">
					<div id="signupleftarea">
						#{if flash.success}
							<div class="signupmain" style="text-align: center">
								<span class="success">Changes are saved!</span>
							</div>
						#{/if}
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>Stage of disease</strong></span>
							</div>
							<div class="personaltextfield">
								<select name="talkerDisease.stage" class="personalfields">
									#{list items:stagesList, as:'stage' }
										<option value="${stage}" 
									    #{if stage.equals(talkerDisease?.stage) } selected #{/if} 
									    >${stage}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>Disease type</strong></span>
							</div>
							<div class="personaltextfield">
								<select name="talkerDisease.type" class="personalfields">
									#{list items:typesList, as:'type' }
										<option value="${type}" 
									    #{if type.equals(talkerDisease?.type) } selected #{/if} 
									    >${type}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>Is it recurrent?</strong></span>
							</div>
							<div class="personaltextfield">
								<select name="talkerDisease.recurrent" class="personalfields">											
							 		<option value="false">No</option>
							 		<option value="true" 
							 		#{if talkerDisease?.recurrent } selected #{/if} 
							 		>Yes</option>
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>When did the first symptom appear?</strong></span>
							</div>
							<div class="personaltextfield">
								<select size="1"  name="talkerDisease.symptomMonth" id="talkerDisease.symptomMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
    #{if talkerDisease?.symptomDate?.month == i_index-2 } selected #{/if} 
    >${i}</option>
#{/list}
								</select>
								&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;
								<select size="1"  name="talkerDisease.symptomYear" class="textarea2" id="talkerDisease.symptomYear">
							  		<option value='0'>Year</option>
							  		#{list items:2010..1950, as:'i'}
									    <option value="${i}"
									    *{ TODO: use of deprecated getYear() ? }*
									    #{if talkerDisease?.symptomDate?.year == i - 1900 } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
							</div>
						</div>
						<div class="signupmain">
							<div class="generaltextarea">
								<span class="blacktext16"><strong>When were you first diagnosed?</strong></span>
							</div>
							<div class="personaltextfield">
								<select size="1"  name="talkerDisease.diagnoseMonth" id="talkerDisease.diagnoseMonth" class="textarea2">
#{list items:['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], as:'i'}
    <option value="${i_index-1}" 
    #{if talkerDisease?.diagnoseDate?.month == i_index-2 } selected #{/if} 
    >${i}</option>
#{/list}
								</select>
								&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;
								<select size="1"  name="talkerDisease.diagnoseYear" class="textarea2" id="talkerDisease.diagnoseYear">
							  		<option value='0'>Year</option>
							  		#{list items:2010..1950, as:'i'}
									    <option value="${i}"
									    *{ TODO: use of deprecated getYear() ? }*
									    #{if talkerDisease?.diagnoseDate?.year == i - 1900 } selected #{/if} 
									    >${i}</option>
									#{/list}
								</select>
							</div>
						</div>
						
						<div class="signupmain">
 							<div class="generaltextarea2">
 								<span class="blacktext16"><strong>What were the initial symptoms you experienced?</strong></span>
 							</div>
							<div class="generalcheck">
								#{ healthItemsTree healthItem:healthItemsMap["symptoms"], checkedItems: talkerDisease?.healthItems /}
							</div>
							<div class="signupmain">
								<div class="textareabig">
									#{ otherField name:'symptoms', values: talkerDisease?.otherHealthItems /}
								</div>
							</div>
							<div class="button">
								<a href="#" onclick="document.healthdetailsform.submit()">
									<img src="/public/images/savechanges_btn.gif" width="186" height="46" border="0" />
								</a>
							</div>
						</div>
						<div class="signupmain"></div>
					</div>
				</div>
				<div id="signupright">
					<div class="personalinfosignrightbox">
						<div class="generalinfosignrighttop"></div>
						<div class="signrighmid">
							<span class="blacktext14">Filling in your health details enables 
							us to find others just like you for 
							conversations. <br /><br />
							
							The more information you provide, 
							the better we can match you with 
							conversations and other members.</span>
						</div>
						<div class="signrighbot"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Tests and Procedures</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">Which of the following tests have you had?</div>
					<div class="generalcheck">
						#{ healthItemsTree healthItem:healthItemsMap["tests"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="textareabig">
						#{ otherField name:'tests', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="generalsubhead">What procedures/surgeries have you had?</div>
					<div class="generalcheck">
						#{ healthItemsTree healthItem:healthItemsMap["procedures"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="textareabig">
						#{ otherField name:'procedures', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="button">
						<a href="#" onclick="document.healthdetailsform.submit()">
							<img src="/public/images/savechanges_btn.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Treatments and medications</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">What treatments / medications have you taken?</div>
					<div class="generalcheck">
						#{ healthItemsTree healthItem:healthItemsMap["treatments"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="textareabig">
						#{ otherField name:'treatments', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="button">
						<a href="#" onclick="document.healthdetailsform.submit()">
							<img src="/public/images/savechanges_btn.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
		
		<div id="midnoticontainer">
			<div id="midnoticontainermain">
				<div id="boxarea_head2" class="blacktext2">Side Effects</div>
				<div class="signupleftarea2">
					<div class="generalsubhead">What Treatment/Medication Side Effects have you experienced?</div>
					<div class="generalcheck">
						#{ healthItemsTree healthItem:healthItemsMap["sideeffects"], checkedItems: talkerDisease?.healthItems /}
					</div>
					<div class="textareabig">
						#{ otherField name:'sideeffects', values: talkerDisease?.otherHealthItems /}
					</div>
					<div class="button">
						<a href="#" onclick="document.healthdetailsform.submit()">
							<img src="/public/images/savechanges_btn.gif" width="186" height="46" border="0" />
						</a>
					</div>
					<div class="signupmain"></div>
				</div>
			</div>
		</div>
	</form>