#{ extends 'main.html' /}

	<style>
		#userpicture {
			float: left;
			margin: 10px;
		}	
	</style>
        <script type="text/javascript" src="/public/javascripts/ajaxfileupload.js"></script>
        <script type="text/javascript">
	function ajaxFileUpload(val) {
            $("#loading").ajaxStart(function(){
                    $(this).show();
            })
            .ajaxComplete(function(){
                    $(this).hide();
                    $('#userpicture').show();
            });
            $('#userpicture').remove();
            $.ajaxFileUpload({
                url:'@{Profile.uploadImage()}',
                secureuri:false,
                fileElementId:'imageFile',
                data:{submitAction: val},
                success: function (){
                    var body = $($('iframe').get(0).contentWindow.document.body);
                    var newimg = $('#userpicture', body).clone();
                    newimg.hide();
                    $('#loading').after(newimg);
                },
                error: function () {
                    alert('error');
                }
            });
            return false;
	}
	</script>	
</head>
<body>
	#{include 'header.html' /}

	<div id="innerbanner"></div>
	<form id="uploadimageform" name="uploadimageform" enctype="multipart/form-data"
		action="@{Profile.uploadImage()}" method="POST" />
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Upload Picture</div>
		<div id="innermiddlearea">
			<div id="notifactionbox">
				<div class="notifactionboxtop"></div>
				<div class="notifactionboxmid">
                                    <img id="loading" src="/public/images/loading.gif" style="padding: 34px; float: left; margin: 10px; display:none;" />
                                    <img id="userpicture" src="@{Image.show(userName)}?${num}" width="100" height="100" /> 
                                    <h3>Actions:</h3>
                                    <input type="file" id="imageFile" name="imageFile" onchange="return ajaxFileUpload('Upload');" />
                                    <br/><br/>
                                    <input type="submit" id="submitAction" name="submitAction" value="Remove current image" onclick="return ajaxFileUpload('Remove current image');" />
				</div>
				<div class="notifactionboxbot"></div>
			</div>
		</div>
	</div>
	</form>