#{ extends 'main.html' /}

	<style>
		#userpicture {
			float: left;
			margin: 10px;
		}
                .ui-dialog-title {
                    font-family: Verdana;
                    font-size: 12px;
                }
                .ui-dialog-titlebar-close {
                    display: none;
                }
                .ui-dialog-content {
                    font-family: Verdana;
                    font-size: 10px;
                }
                .ui-dialog .ui-dialog-buttonpane {
                    padding:0.2em;
                }
                .ui-dialog .ui-dialog-buttonpane button {
                    padding: 0.1 em;
                    margin: 0.1em;
                }
                .ui-button-text {
                    font-family: Verdana;
                    font-size: 12px;
                }
                
                
                /* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(/public/images/index/Jcrop.gif);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}
                
	</style>
	<script type="text/javascript" src="/public/plugins/jquery.Jcrop.js" ></script>
        <script type="text/javascript">  
        var jcropObj;
	function ajaxFileUpload(value) {
			jcropObj.destroy();
			$('#userpicture').removeAttr("style");
            var framename = 'frame' + new Date().getTime();
            $('<iframe id='+ framename +' name=' + framename + ' src="" style="position:absolute; top:-9999px; left:-9999px"></iframe>').appendTo(document.body); 
            $('#submitAction').val(value);
            $('#uploadimageform').attr('target', framename);
            $('#uploadimageform').submit();
            $("#loading").show();
            $('#userpicture').hide();
            var curtime = new Date().getTime();
            if ($.browser.safari) {
                checkResponse(curtime);
            }
            else {
                setTimeout('checkResponse(' + curtime + ')', 1000);
            }
	}
	
	function cropFile(value) {
			$('#uploadimageform').attr('target', "_self");
            $('#submitAction').val(value);
            $('#uploadimageform').submit();
            $("#loading").show();
            $('#userpicture').hide();
            var curtime = new Date().getTime();
	}
	
        var checkResponse = function(time) {
            var listAction = #{jsAction @Profile.imageStatus() /}
            $.get(listAction(), function(data){
                if (data == 'incomplete') {
                    if (new Date().getTime() - time > 5000) {
                       $("#image_msg").html("Error Uploading File. Please try again."); 
                       $("#loading").hide();
                       $('#userpicture').show();
                       $('iframe').remove();
                       $('#image_msg').dialog("open");
                    } else {
                        setTimeout('checkResponse(' + time + ')', 1000);
                    }
                    $('#userpicture').Jcrop({
                		aspectRatio: 1,
                		onSelect: updateCoords},
                		function(){
                			jcropObj = this;	
                		}
                	);
                } else {
                    var msg;
                    if (data == 'error') {
                        $("#image_msg").html('<p>Error uploading file. Please make sure size of file is under 50KB and type of file is jpg, png, gif</p>');
                    } else {
                        $('#image_msg').html('<p>Picture uploaded successfully. It may take a couple of minutes to appear on all of the pages.</p>');
                    }
                    var imageurl = '@{Image.show(userName)}';
                    imageurl+= '?' + new Date().getTime();    
                    $('#userpicture').attr("src", imageurl);
                    $('#userpicture').load(function(){
                        $("#loading").hide();
                        $('#userpicture').show();
                        $('iframe').remove();
                        $('#image_msg').dialog("open");
                        $('#userpicture').unbind();
                        $('#userpicture').Jcrop({
                    		aspectRatio: 1,
                    		onSelect: updateCoords},
                    		function(){
                    			jcropObj = this;	
                    		}
                    	);
                    });
               }
            }, "text");
        };
      
        $(window).load(function(){
            $("#image_msg").dialog({
            autoOpen: false, 
            modal: true, 
            resizable: false,
            draggable: false,
            title: 'Upload Status', 
            buttons:[
                {
                    text: "OK",
                    click:function(){
                        $(this).dialog("close");
                    }
                }
        ] });
            
         $('#userpicture').Jcrop({
        		aspectRatio: 1,
        		onSelect: updateCoords},
        		function(){
        			jcropObj = this;	
        		}
        	);
        });
        function updateCoords(c) {
        	jQuery('#x').val(c.x);
        	jQuery('#y').val(c.y);
        	jQuery('#w').val(c.w);
        	jQuery('#h').val(c.h);
        };
        docrop = function(operation) {
        	var x = $("#w").val();
        	if($.trim(x) == '') {
        		alert('Please select area to crop');
        	} else {
	        	jcropObj.destroy();
	        	cropFile(operation);
        	}
        }
	</script>	
</head>
<body>
	#{include 'header.html' /}

	<div id="innerbanner"></div>
	<form id="uploadimageform" name="uploadimageform" enctype="multipart/form-data"
              action="@{Profile.uploadImage()}" method="POST">
	<input type="hidden" id="x" name="x" />
	<input type="hidden" id="y" name="y" />
	<input type="hidden" id="w" name="w" />
	<input type="hidden" id="h" name="h" />
	
	<div id="innermain">
		<div class="blacktext2" id="innerheading">Upload Picture</div>
		<div id="innermiddlearea">
			<div style="border:1px solid #999;float:left;width:100%;padding:10px;border-radius:10px;">
<!-- 				<div class="notifactionboxtop"></div> -->
<!-- 				<div> -->
					<div style="float:left;padding-right:20px;">
                                    <img id="loading" src="/public/images/index/tah_loading.gif" style="padding: 34px; float: left; margin: 10px; display:none;" />
                                    <img id="userpicture" src="@{Image.show(userName)}?${num}" /> 
                         </div>
                         <div style="float:left;">           
                                    <h3>Actions</h3>
                                   
                                    <br/><br/>
                                    
                                    <input type="file" id="imageFile" name="imageFile" onchange="return ajaxFileUpload('Upload');" />
                                    <br/><br/>
                                    
                                    <input type="button" value="Crop current image" onclick="return docrop('crop');" title="Crop current image" />
<!--                                     <a href="javascript:docrop('crop')">Crop</a> -->
                                    <br/><br/>
                                    
                                    <input type="button" value="Remove current image" onclick="return ajaxFileUpload('Remove current image');" title="Remove current image" />
                                    
                                     
                                    
                                    <input type="hidden" id="submitAction" name="submitAction" />
                        </div>
<!-- 				</div> -->
<!-- 				<div class="notifactionboxbot"></div> -->
			</div>
		</div>
	</div>
           
	</form>
        
        <div id="image_msg">
            
        </div>
        
       