#{ extends 'main.html' /}

<style>
	body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
	#innerpersonalarea { padding-top: 10px; padding-bottom: 10px;}
	#innermiddlearea { width: 655px; padding-top: 5px; }
	#innerheading { width:500px; }
	
	#mtright { float: right; margin-top:-50px; }
	#signupright { margin-right:40px; }
	
	#emailstable td, #imstable td {
		padding: 7px;
		font-size: 14px;
	}
	.notiblueareamid, .signfields2 {
		background: none;
		border: none;
	}
	.notibluearea { padding-bottom: 0px; }
	.signfields2 h1, .notiblueareamid h1 {
		color:#000000;
	}
	
	.twitterSetting { margin-bottom: 0px; }
	.settingsDiv {
		padding-top: 15px;
		padding-left: 20px;
	}
	.settingsDiv .settingsItems {
		padding-top: 5px;
		padding-left: 30px;
		display: none;
	}
	.showSettingsLink { font-size: 15px; }
	h4 { color: #000000 }
</style>

<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		addAjaxForm("#setNotifyFrequency");
		addAjaxForm("#emailsettings");
		addAjaxForm("#serviceSettingsForm");
		
		// ------------ Emails --------------
		$("#newEmailBtn").click(function() {
			$("#emailError").html("");
			var newEmail = $("#newEmail").val();
			$.post("@{Profile.addEmail()}", 
				{newEmail : newEmail},
				function(data) {
					if (data.indexOf("<tr>") == 0) {
						$("#newEmail").val("");
						$("#addEmailForm").hide();

						$(data).appendTo($("#emailstable"));
					}
					else {
						$("#emailError").html(data);
					}
				}
			);
		});

		$(".deleteEmailLink").live("click", function() {
			var email = $(this).attr("title");
			//remove raw in the table
			$(this).parent().parent().remove();
			$.post("@{Profile.deleteEmail()}", 
				{email : email},
				function(data) {
					
				},
				"json"
			);
		});

		// ------------ IM Accounts --------------
		$("#newIMBtn").click(function() {
			$("#imError").html("");
			var imUserName = $("#imUserName").val();
			var imService = $("#imService").val();

			if (imService.length == 0) {
				alert("Please choose IM Service");
				return;
			}
			
			if (imUserName.length == 0) {
				alert("Please enter correct IM Username");
				return;
			}

			$.post("@{Profile.addIMAccount()}", 
				{imUserName : imUserName, imService : imService},
				function(data) {
					if (data.indexOf("<tr>") == 0) {
						$("#imUserName").val("");
						$("#imService").val("");
						$("#addIMForm").hide();

						$(data).appendTo($("#imstable"));
					}
					else {
						$("#imError").html(data);
					}
				}
			);
		});

		$(".deleteIMLink").live("click", function() {
			var imId = $(this).attr("rel");
			//remove raw in the table
			$(this).parent().parent().remove();
			$.post("@{Profile.deleteIMAccount()}", 
				{imId : imId},
				function(data) {}
			);
		});

		$(".showSettingsLink").click(function() {
			var currentText = $(this).html();
			if (currentText.indexOf("+") > -1) {
				$(this).html("-"+currentText.substring(1));
			}
			else {
				$(this).html("+"+currentText.substring(1));
			}
			$(this).next().toggle();
			return false;
		});
	});

	function validatePasswordForm() {
		var reason = "";
		
		reason += validatePassword(document.changePasswordForm.newPassword);
		if (reason != "") {
		    alert(reason);
		    return false;
		}
		
		document.changePasswordForm.submit();
	}
	function validatePassword(fld) {
	    var error = "";
	    var illegalChars = /[\W_]/; // allow only letters and numbers 
	 
	    if (fld.value == "") {
	        fld.style.background = 'Yellow';
	        error = "You didn't enter a password.\n";
	    } else if ((fld.value.length < 1) || (fld.value.length > 15)) {
	        error = "The password is the wrong length. \n";
	        fld.style.background = 'Yellow';
	    } else if (illegalChars.test(fld.value)) {
	        error = "The password contains illegal characters.\n";
	        fld.style.background = 'Yellow';
	    } else if (!((fld.value.search(/(a-z)+/)) && (fld.value.search(/(0-9)+/)))) {
	        error = "The password must contain at least one numeral.\n";
	        fld.style.background = 'Yellow';
	    } else {
	        fld.style.background = 'White';
	    }
	   return error;
	}  

	function addServiceAccount(serviceType) {
		if (serviceType === "TWITTER") {
			openTwitter();
		}
		else {
			openFacebook();
		}
	}

	function deleteServiceAccount(serviceType) {
		var confirmDel = confirm("Are you sure want to delete this account?");
   		if (confirmDel) {
   	  		$.post("@{Profile.deleteServiceAccount()}", 
				{type : serviceType},
				function(data) {
					window.location.reload();
				}
			);
   		}
   		
   		return false;
	}
</script>

</head>

<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading" style="width: 550px;">Notifications Settings and Password</div>
		<div id="innermiddlearea">
				<div class="notibluearea">
					<div class="signfields2">
						<h1>Email</h1>
						<table id="emailstable" border="0" style="margin-left: 10px;">
							<tr>
								<td>${talker.email}<br/>
									#{if talker.verifyCode != null }
										<a href="#" title="${talker.email}" 
											onclick="return sendVerificationLink(this);"
											class="red12">(email not verified - resend verification e-mail)</a>
										<span id="verificationResendResult" class="blacktext12"></span>
									#{/if}
								</td>
								<td>Primary</td>
								<td>&nbsp;</td>
							</tr>
							#{list items: talker.emails, as: 'email' }
								#{ profile/profileNotificationEmail email: email /}
							#{/list}
						</table>
						<div style="margin-left: 20px;">
							<a href="#"  style="font-size:14px;" 
								onclick="$('#addEmailForm').toggle(); return false;">add another email address</a>
							<div id="addEmailForm" style="display:none">
								<br/>
								<span class="error" id="emailError"></span><br/>
								<input id="newEmail" name="newEmail" type="text" value="" size="40"/>
								<br/>
								<input id="newEmailBtn" type="button" value="Add email" />
							</div>
						</div>
						<div class="settingsDiv">
							<a href="#" class="showSettingsLink">+ Email Settings</a>
							<div class="settingsItems">
								<form id="emailsettings" name="emailsettings" action="@{Profile.emailSettingsSave()}#emailsettingsform" method="post">
								<div class="generalcheck">
									<h4>User Related</h4>
									#{set showConvoTitle = true /}
									#{list items:models.TalkerBean.EmailSetting.values(), as:'setting' }
										#{if setting.toString().startsWith('CONVO') && showConvoTitle}
											<h4>Conversation Related</h4>
											#{set showConvoTitle = false /}
										#{/if}
										<div class="preferencescheck">
											<input type="checkbox" value="" name="${setting}"
												#{if talker.emailSettings?.contains(setting) } checked='checked' #{/if}
											/>
											<span class="blacktext14">&nbsp;${setting.description}</span>
										</div>
									#{/list}
								</div>
								<h4>Newsletter</h4>
								<div class="generalcheck">
									<div class="preferencescheck">
										<input id="talker.newsletter" name="talker.newsletter" 
											type="checkbox" #{if talker.newsletter} checked #{/if} /> 
										<span class="blacktext14">&nbsp;Send me the TalkAboutHealth newsletter.</span>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<form id="serviceSettingsForm" name="serviceSettingsForm" 
						action="@{Profile.serviceSettingsSave}" method="post"  >
				<div class="notibluearea">
					<div class="signfields2">
						<h1>IM</h1>
						<table id="imstable" border="0" style="margin-left: 10px;">
							#{list items: talker.imAccounts, as: 'imAccount' }
								#{ profile/profileNotificationIM imAccount: imAccount /}
							#{/list}
						</table>
						<div style="margin-left: 20px;">
							<a href="#" style="font-size:14px;"
								onclick="$('#addIMForm').toggle(); return false;">add another IM account</a>
							<div id="addIMForm" style="display:none">
								<br/>
								<span class="error" id="imError"></span><br/>
								<select id="imService" name="imService" class="personalfields">
							  		<option selected value=''>Select an IM service</option>
									#{list items: models.IMAccountBean.IM_SERVICES_MAP.keySet(), as:'imService'}
									    <option value="${imService}" 
									    #{if flash['talker.im'].equals(imService) } selected #{/if} 
									    >${models.IMAccountBean.IM_SERVICES_MAP.get(imService)}</option>
									#{/list}
								</select>
								<br/>
								<input id="imUserName" name="imUserName" type="text" value="" size="40"/>
								<br/>
								<input id="newIMBtn" type="button" value="Add IM account" />
							</div>
						</div>
						<div class="settingsDiv">
							<a href="#" class="showSettingsLink">+ IM Settings</a>
							<div class="settingsItems">
								<div class="generalcheck" style="padding-top: 0px; padding-bottom:0px;">
									<div class="preferencescheck">
										*{ TODO: Save/use these settings? }*
										<input type="checkbox" value="" name="im_notify" class="twitterSetting"
											#{if talker.imNotify} checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;Notify me of relevant questions and live chats via IM.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="notibluearea">
					#{list items:models.ServiceAccountBean.ServiceType.values(), as: 'serviceType'}
						#{set serviceTypeName = serviceType.toString().toLowerCase().capFirst() /}
						<div class="signfields2">
							<h1>${serviceTypeName}</h1>
							<div style="font-size: 14px; padding-left: 20px;">
								#{set serviceAccount = talker.serviceAccountByType(serviceType) /}
								#{if serviceAccount }
									<br/><br/>
									&nbsp;${ serviceAccount.userName ? serviceAccount.userName : talker.userName } 
									&nbsp;&nbsp;&nbsp;<a href="#" onclick="return deleteServiceAccount('${serviceType.toString()}');">delete</a>
									<div class="settingsDiv" style="padding-left: 0px;">
										<a href="#" class="showSettingsLink">+ ${serviceTypeName} Settings</a>
										<div class="settingsItems">
											<div class="generalcheck">
												<h4>Notifications</h4>
												#{set settingsNames = models.ServiceAccountBean.settingsNamesByType(serviceType) /}
												#{set showPostsTitle = true /}
												#{list items: settingsNames.keySet(), as: 'key' }
													#{ifnot key.equals('FOLLOW') }
														#{if key.contains('SHARE') && showPostsTitle}
															<h4>Posts</h4>
															#{set showPostsTitle = false /}
														#{/if}
														<div class="generalcheck" style="padding-bottom:0px;">
															<div class="preferencescheck">
																<input type="checkbox" value="true" name="${serviceType.toString()}_${key}"
								#{if serviceAccount?.settings && serviceAccount?.settings[key]?.equals('true')} checked='checked' #{/if}
																/>
																<span class="blacktext14">&nbsp;${settingsNames.get(key)}</span>
															</div>
														</div>
													#{/ifnot}
												#{/list}
											</div>
										</div>
									</div>
								#{/if}
								#{else}
									<a href="#" style="font-size:14px;" 
									onclick="return addServiceAccount('${serviceType.toString()}');">add your ${serviceTypeName} account</a>
								#{/else}
								#{if flash.err && flash.from?.equals(serviceType.toString())}
									<div style="font-size: 14px; color: red;">
										${flash.err}
									</div>
								#{/if}
							</div>
						</div>
					#{/list}
				</div>
				</form>
		</div>
		
		#{ set currentPage = 'publicProfile' /}
		#{ set currentTalker = talker /}
        #{ include 'PublicProfile/profileRight.html' /}
            	
	
	<form id="setNotifyFrequency" name="setNotifyFrequency" action="@{Profile.notificationsSave()}#notificationsform" method="post"  >
		<div id="innermiddlearea">
					<div class="notibluearea">
						<div class="notiblueareamid">
							<h1>How often do you want to be notified?</h1>
							<ul>
	#{list items:['more than 10 times per day', '5 to 10 times per day', '2 to 5 times per day', '1 time per day', 'Never'], as:'notifyFreq'}
		<li>
			<input name="talker.nfreq" type="radio" value="${notifyFreq_index}" 
			#{if talker.nfreq == notifyFreq_index} checked="true" #{/if}
			class="radiobutton" /> 
			<span class="blacktext" style="vertical-align:top;">${notifyFreq}</span>
		</li>
	#{/list}
							</ul>
						</div>
					</div>
					<a name="notificationsform"></a>
					<div class="notibluearea">
						<div class="notiblueareamid">
							<h1>When do you want to be notified?</h1>
							<ul>
		 	#{list items:['whenever I am online', 'weekdays (9AM - 5PM)', 'weeknights (5PM - 10PM)', 'weekends (Sat and Sun)'], as:'notifyTime'}
				<li>
					<input name="talker.ntime" type="radio" value="${notifyTime_index}" 
					#{if talker.ntime == notifyTime_index} checked="true" #{/if}
					class="radiobutton" /> 
					<span class="blacktext" style="vertical-align:top;">${notifyTime}</span>
				</li>
			#{/list}
							</ul>
						</div>
					</div>
					<div class="notibluearea">
						<div class="notiblueareamid">
							<h1>What types of conversations interest you the most?</h1>
							<ul>	
						#{list items:models.TalkerBean.CONVERSATIONS_TYPES_ARRAY, as:'cType'}
							<li><input name='talker.ctype' type='checkbox' value='${cType}' 
							#{if talker.ctype?.contains(cType) } checked="checked" #{/if}
							/>&nbsp;<span class='blacktext' >${cType}</span></li>
						#{/list}				
								<li>
									<textarea class="textarea3" rows="5" cols="45" style="padding: 5px; border: 1px solid #999999;"
										onclick="if (this.value == 'Other (please separate by commas)') this.value='';" 
										id="otherCTypes" name="otherCTypes">${talker.getOtherCTypes()}</textarea>
								</li>	
							</ul>
						</div>
					</div>
			</div>
		</form>
		
		<div style="float: left; clear: both;">
			<input id="saveBtn" disabled="disabled" type="submit" value="Save" />
			<span id="saveBtnText"></span>
		</div>
		
		#{if talker.nextStepMessage }
		 	<div class="generalsubhead" style="clear: both;">
			 	Next Step: ${talker.nextStepMessage?.raw()}.
			 	Or go to the <a href="@{Home.index()}">Home</a> page.
			</div>
	 	#{/if}
	</div>		
	
	
<div id="personalarea" style="margin-top: 25px;">
	<div id="personalinner">
		<div class="blacktext2">Password</div>
		<div id="personalleft1">
		<a name="passwordform"></a>
		<form id="changePasswordForm" name="changePasswordForm" action="@{Profile.changePassword()}#changePasswordForm" method="post">
			<div class="personalmain" style="text-align: center">
				#{if "changePasswordForm".equals(flash.currentForm)}
					#{if flash.success}
					    <span class="success">Password is changed!</span>
					#{/if}
					#{ifErrors}
					   #{errors}
					       <span class="error">${error}</span><br/>
					   #{/errors}
					#{/ifErrors}
				#{/if}
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Current Password</span></div>
				<div class="personaltextfield">
					<input name="curPassword" id="curPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">New Password</span></div>
				<div class="personaltextfield">
					<input name="newPassword" id="newPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Confirm Password</span></div>
				<div class="personaltextfield">
					<input name="confirmPassword" id="confirmPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"></div>
				<div class="personaltextarea" style="height:46px; padding-top:2px;">
					<a href="#passwordform" onclick="validatePasswordForm()">
						<img src="/public/images/changepass_btn.gif" width="186" height="46" border="0" />
					</a>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>	