#{ extends 'main.html' /}
<style>
	#innerpersonalarea { padding-top: 10px; padding-bottom: 10px;}
	#innermiddlearea { width: 655px; padding-top: 5px; }
	#innerheading { width:500px; }
	#mtright { float: right; margin-top:-50px; }
	#signupright { margin-right:40px; }
	#emailstable td, #imstable td {
		padding: 7px;
		font-size: 14px;
	}
	.notiblueareamid, .signfields2 {
		background: none;
		border: none;
	}
	.notibluearea { padding-bottom: 0px; }
	.signfields2 h1, .notiblueareamid h1 {
		color:#000000;
	}
	.twitterSetting { margin-bottom: 0px; }
	.settingsDiv {
		padding-top: 15px;
		padding-left: 20px;
	}
	.settingsDiv .settingsItems {
		padding-top: 5px;
		padding-left: 30px;
		display: none;
	}
	.showSettingsLink { font-size: 15px; }
	h4 { color: #000000 }
</style>
<style type="text/css">
	#innermiddlearea { padding-top: 10px }
	#checkboxareainner { color: #000000;float: left;font-family: arial;font-size: 14px;font-weight: bold;height: 20px;padding-top: 5px;text-decoration: none;width: 590px; }
    #checkboxarea3 { float: none;height: 30px; }
    .lableDiv {float:left;margin: 2px 0 0 5px;}
</style>
<script type="text/javascript">
	function showMsg(responseText) {
		if(responseText === "Ok") {
			window.scrollTo(0,280);
			showPopup("#subNewsletter", 350);
		} else if(responseText.indexOf("Error:") === 0) {
			var errorText = responseText.replace("Error:", "");
			alert(errorText);
		} else {
			$("#responseText").html(responseText);
		}
	}
	function displayOptions(option){
		if(document.getElementById(option).style.display == 'none'){
			document.getElementById(option).style.display = 'block';
			document.getElementById(option + 'EC').src = "/public/images/expand.png";
		}else{
			document.getElementById(option).style.display = 'none';
			document.getElementById(option + 'EC').src = "/public/images/collapse.png";
		}
	}
</script>
<script type="text/javascript" src="/public/plugins/jquery.form.js" ></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		addAjaxForm("#setNotifyFrequency");
		addAjaxForm("#emailsettings");
		addAjaxForm("#serviceSettingsForm");
		// ------------ Emails --------------
		$("#newEmailBtn").click(function() {
			$("#emailError").html("");
			var newEmail = $("#newEmail").val();
			$.post("@{Profile.addEmail()}", 
				{newEmail : newEmail},
				function(data) {
					if (data.indexOf("<tr>") == 0) {
						$("#newEmail").val("");
						$("#addEmailForm").hide();

						$(data).appendTo($("#emailstable"));
					}
					else {
						$("#emailError").html(data);
					}
				}
			);
		});
		$(".deleteEmailLink").live("click", function() {
			var email = $(this).attr("title");
			//remove raw in the table
			$(this).parent().parent().remove();
			$.post("@{Profile.deleteEmail()}", 
				{email : email},
				function(data) {
				},
				"json"
			);
		});
		// ------------ IM Accounts --------------
		$("#newIMBtn").click(function() {
			$("#imError").html("");
			var imUserName = $("#imUserName").val();
			var imService = $("#imService").val();
			if (imService.length == 0) {
				alert("Please choose IM Service");
				return;
			}
			if (imUserName.length == 0) {
				alert("Please enter correct IM Username");
				return;
			}
			$.post("@{Profile.addIMAccount()}", 
				{imUserName : imUserName, imService : imService},
				function(data) {
					if (data.indexOf("<tr>") == 0) {
						$("#imUserName").val("");
						$("#imService").val("");
						$("#addIMForm").hide();
						$(data).appendTo($("#imstable"));
					}
					else {
						$("#imError").html(data);
					}
				}
			);
		});
		$(".deleteIMLink").live("click", function() {
			var imId = $(this).attr("rel");
			//remove raw in the table
			$(this).parent().parent().remove();
			$.post("@{Profile.deleteIMAccount()}", 
				{imId : imId},
				function(data) {}
			);
		});
		//Show or Hide settings of IM, Email, etc.
		$(".showSettingsLink").click(function() {
			var currentText = $(this).html();
			if (currentText.indexOf("+") > -1) {
				$(this).html("-"+currentText.substring(1));
			}
			else {
				$(this).html("+"+currentText.substring(1));
			}
			$(this).next().toggle();
			return false;
		});
		
		$("[name='newsletter.newsLetterType']").change(function(){
			 var email="${talker.email}";
			 var newsletter=this.value;
			 var add;
			 if(this.checked)
				 add=true;
			 else
				 add=false;
			 $("#savedHelpText, #saveBtnText").html("Saving...!"); 
			 $.get("/Profile/addOrRemoveNewsletter",{email:email,newsletter:newsletter,addorremove:add},function(data){
				 if (data.indexOf("Error:") === 0) {
					 $("#savedHelpText, #saveBtnText").html("Error!");
				 }else
				 $("#savedHelpText, #saveBtnText").html("Saved!"); 
			});
		}); 
	});
	function validatePasswordForm() {
		var reason = "";
		
		reason += validatePassword(document.changePasswordForm.newPassword);
		if (reason != "") {
		    alert(reason);
		    return false;
		}
		document.changePasswordForm.submit();
	}
	function validatePassword(fld) {
	    var error = "";
	    var illegalChars = /[\W_]/; // allow only letters and numbers 
	    if (fld.value == "") {
	        fld.style.background = 'Yellow';
	        error = "You didn't enter a password.\n";
	    } else if ((fld.value.length < 1) || (fld.value.length > 15)) {
	        error = "The password is the wrong length. \n";
	        fld.style.background = 'Yellow';
	    } else if (illegalChars.test(fld.value)) {
	        error = "The password contains illegal characters.\n";
	        fld.style.background = 'Yellow';
	    } else if (!((fld.value.search(/(a-z)+/)) && (fld.value.search(/(0-9)+/)))) {
	        error = "The password must contain at least one numeral.\n";
	        fld.style.background = 'Yellow';
	    } else {
	        fld.style.background = 'White';
	    }
	   return error;
	}  
	function addServiceAccount(serviceType) {
		if (serviceType === "TWITTER") {
			openTwitter();
		}
		else {
			openFacebook();
		}
	}
	function deleteServiceAccount(serviceType) {
		var confirmDel = confirm("Are you sure want to delete this account?");
   		if (confirmDel) {
   	  		$.post("@{Profile.deleteServiceAccount()}", 
				{type : serviceType},
				function(data) {
					window.location.reload();
				}
			);
   		}
   		return false;
	}
</script>
</head>
<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain">
		<div class="blacktext2" id="innerheading" style="width: 550px;">Notification Settings & Password</div>
		<div id="innermiddlearea">
				<div class="notibluearea">
					<div class="signfields2">
						<h1>Email</h1>
						<table id="emailstable" border="0" style="margin-left: 10px;">
							<tr>
								<td>${talker.email}<br/>
									#{if talker.verifyCode != null }
										<a href="#" title="${talker.email}" 
											onclick="return sendVerificationLink(this);"
											class="red12">(email not verified - resend verification e-mail)</a>
										<span id="verificationResendResult" class="blacktext12"></span>
									#{/if}
								</td>
								<td>Primary</td>
								<td>&nbsp;</td>
							</tr>
							#{list items: talker.emails, as: 'email' }
								#{ profile/profileNotificationEmail email: email /}
							#{/list}
						</table>
						<div style="margin-left: 20px;">
							<a href="#"  style="font-size:14px;" 
								onclick="$('#addEmailForm').toggle(); return false;">add another email address</a>
							<div id="addEmailForm" style="display:none">
								<br/>
								<span class="error" id="emailError"></span><br/>
								<input id="newEmail" name="newEmail" type="text" value="" size="40"/>
								<br/>
								<input id="newEmailBtn" type="button" value="Add email" />
							</div>
						</div>
						<div class="settingsDiv">
							<a href="#" class="showSettingsLink">+ Email Settings</a>
							<div class="settingsItems">
								<form id="emailsettings" name="emailsettings" action="@{Profile.emailSettingsSave()}#emailsettingsform" method="post">
								<div class="generalcheck">
									<h4>User Related</h4>
									#{set showConvoTitle = true /}
									#{list items:models.TalkerBean.EmailSetting.values(), as:'setting' }
										#{if setting.toString().startsWith('CONVO') && showConvoTitle}
										<div class="preferencescheck">
											<input type="checkbox"  id="newsletter"  value="CLINICAL_TRIALS_UPDATE" name="newsletter.newsLetterType"   #{if talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("CLINICAL_TRIALS_UPDATE") } checked='checked' #{/if}  />
											<span class="blacktext14">&nbsp;Send me updates to relevant clinical trials.</span>
										</div>
										<div class="preferencescheck">
											<input type="checkbox"  id="newsletter"  value="PRODUCT_AND_PROGRAMS_UPDATE" name="newsletter.newsLetterType"  #{if  talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("PRODUCT_AND_PROGRAMS_UPDATE") } checked='checked' #{/if} />
											<span class="blacktext14">&nbsp;Send me updates for new products and programs from partners.</span>
										</div>
										<div class="preferencescheck">
											<input type="checkbox"  id="newsletter"  value="MARKET_RESEARCH_UPDATE" name="newsletter.newsLetterType" #{if talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("MARKET_RESEARCH_UPDATE") } checked='checked' #{/if} />
											<span class="blacktext14">&nbsp;Send me updates for market research opportunities.</span>
										</div>
											<h4>Question Related</h4>
											#{set showConvoTitle = false /}
										#{/if}
										#{if setting.description.length()>0}
										<div class="preferencescheck">
											<input type="checkbox" value="" name="${setting}"
												#{if talker.emailSettings?.contains(setting) } checked='checked' #{/if}
											/>
											<span class="blacktext14">&nbsp;${setting.description}</span>
										</div>
										#{/if}
									#{/list}
								</div>
								<h4 style="display: none;">Newsletter and workshops</h4>
								<div class="generalcheck" style="display: none;">
									<div class="preferencescheck">
										<input id="talker.newsletter" name="talker.newsletter" 
											type="checkbox" #{if talker.newsletter} checked #{/if} /> 
										<span class="blacktext14">&nbsp;Send me the TalkAboutHealth newsletter.</span>
									</div>
									<div class="preferencescheck">
										<input id="talker.workshop" name="talker.workshop" 
											type="checkbox" #{if talker.workshop} checked #{/if} /> 
										<span class="blacktext14">&nbsp;Notify me of TalkAboutHealth workshops.</span>
									</div>
									<div class="preferencescheck">
										<input id="talker.workshopSummery" name="talker.workshopSummery" 
											type="checkbox" #{if talker.workshopSummery} checked #{/if} /> 
										<span class="blacktext14">&nbsp;Send me an email with a summary of answers of workshops.</span>
									</div>
								</div>
								<input type="hidden" name="talker.email" value="${talker.email}" >
								</form>
							</div>
						</div>
					</div>
				</div>
				<form id="serviceSettingsForm" name="serviceSettingsForm" 
						action="@{Profile.serviceSettingsSave}" method="post"  >
				*{<div class="notibluearea">
					<div class="signfields2">
						<h1>IM</h1>
						<table id="imstable" border="0" style="margin-left: 10px;">
							#{list items: talker.imAccounts, as: 'imAccount' }
								#{ profile/profileNotificationIM imAccount: imAccount /}
							#{/list}
						</table>
						<div style="margin-left: 20px;">
							<a href="#" style="font-size:14px;"
								onclick="$('#addIMForm').toggle(); return false;">add another IM account</a>
							<div id="addIMForm" style="display:none">
								<br/>
								<span class="error" id="imError"></span><br/>
								<select id="imService" name="imService" class="personalfields">
							  		<option selected value=''>Select an IM service</option>
									#{list items: models.IMAccountBean.IM_SERVICES_MAP.keySet(), as:'imService'}
									    <option value="${imService}" 
									    #{if flash['talker.im'].equals(imService) } selected #{/if} 
									    >${models.IMAccountBean.IM_SERVICES_MAP.get(imService)}</option>
									#{/list}
								</select>
								<br/>
								<input id="imUserName" name="imUserName" type="text" value="" size="40"/>
								<br/>
								<input id="newIMBtn" type="button" value="Add IM account" />
							</div>
						</div>
						<div class="settingsDiv">
							<a href="#" class="showSettingsLink">+ IM Settings</a>
							<div class="settingsItems">
								<div class="generalcheck" style="padding-top: 0px; padding-bottom:0px;">
									<div class="preferencescheck">
										<input type="checkbox" value="" name="im_notify" class="twitterSetting"
											#{if talker.imNotify} checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;Notify me of relevant questions and live chats via IM.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>}*
				
				<div class="notibluearea">
					#{list items:models.ServiceAccountBean.ServiceType.values(), as: 'serviceType'}
						#{set serviceTypeName = serviceType.toString().toLowerCase().capFirst() /}
						<div class="signfields2">
							<h1>${serviceTypeName}</h1>
							<div style="font-size: 14px; padding-left: 20px;">
								#{set serviceAccount = talker.serviceAccountByType(serviceType) /}
								#{if serviceAccount }
									<br/><br/>
									&nbsp;${ serviceAccount.userName ? serviceAccount.userName : talker.userName } 
									&nbsp;&nbsp;&nbsp;<a href="#" onclick="return deleteServiceAccount('${serviceType.toString()}');">delete</a>
									<div class="settingsDiv" style="padding-left: 0px;">
										<a href="#" class="showSettingsLink">+ ${serviceTypeName} Settings</a>
										<div class="settingsItems">
											<div class="generalcheck">
												#{if !serviceTypeName.equals("Facebook")}
												<h4>Notifications</h4>
												#{/if}
												#{set settingsNames = models.ServiceAccountBean.settingsNamesByType(serviceType) /}
												#{set showPostsTitle = true /}
												#{list items: settingsNames.keySet(), as: 'key' }
													#{ifnot key.equals('FOLLOW') }
														#{if key.contains('SHARE') && showPostsTitle}
															<h4>Posts</h4>
															#{set showPostsTitle = false /}
														#{/if}
														<div class="generalcheck" style="padding-bottom:0px;">
															<div class="preferencescheck">
															#{if !settingsNames.get(key).equals("")}
																<input type="checkbox" value="true" name="${serviceType.toString()}_${key}"
								#{if serviceAccount?.settings && serviceAccount?.settings[key]?.equals('true')} checked='checked' #{/if}
																/>
																<span class="blacktext14">&nbsp;${settingsNames.get(key)}</span>
															#{/if}
															</div>
														</div>
													#{/ifnot}
												#{/list}
											</div>
										</div>
									</div>
								#{/if}
								#{else}
									<a href="#" style="font-size:14px;" 
									onclick="return addServiceAccount('${serviceType.toString()}');">add your ${serviceTypeName} account</a>
								#{/else}
								#{if flash.err && flash.from?.equals(serviceType.toString())}
									<div style="font-size: 14px; color: red;">
										${flash.err}
									</div>
								#{/if}
							</div>
						</div>
					#{/list}
				</div>
				</form>
				<div class="notibluearea">
					<div class="signfields2">
						<h1>Newsletters</h1>
						<div class="settingsDiv">
							<input style="display: none;" type="checkbox"  id="CLINICAL_TRIALS_UPDATE_newsletter"       value="CLINICAL_TRIALS_UPDATE"      name="newsletter.newsLetterType"   #{if talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("CLINICAL_TRIALS_UPDATE") } checked='checked' #{/if}  />
							<input style="display: none;" type="checkbox"  id="PRODUCT_AND_PROGRAMS_UPDATE_newsletter"  value="PRODUCT_AND_PROGRAMS_UPDATE" name="newsletter.newsLetterType"   #{if talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("PRODUCT_AND_PROGRAMS_UPDATE") } checked='checked' #{/if} />
							<input style="display: none;" type="checkbox"  id="MARKET_RESEARCH_UPDATE_newsletter"       value="MARKET_RESEARCH_UPDATE"      name="newsletter.newsLetterType"   #{if talker.newsLetterBean && talker.newsLetterBean.newsLetterType?.contains("MARKET_RESEARCH_UPDATE") } checked='checked' #{/if} />
		            		
		            		<input type="hidden" name="newsletter.email" value="${talker.email}">
		          		<div id="checkboxarea3">
			          				<div style="float:left;">
										#{if newsletter != null && newsletter.newsLetterType !=null}
										#{if newsletter.newsLetterType.contains("TAH Workshop Notification")}
											<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Notification" checked="checked"/>
										#{/if}
										#{else}
											<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Notification"/>
										#{/else}
										#{/if}
										#{else}
												<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Notification" />
										#{/else}
									</div>
								<div class="lableDiv">
								#{if session.username} Q&A Workshop Announcements<br/>
									<font size="2px;" style="font-weight: normal;">(Featured experts, answers, tips &amp; latest news.)</font>
								#{/if}
								#{else} Q&A Workshop Announcements<br/>
									<font size="2px;" style="font-weight: normal;">(Featured experts, answers, tips &amp; latest news.)</font>
								#{/else}
								</div>
							</div>
						<div id="checkboxarea3">
							<div style="float:left;">
							#{if newsletter != null && newsletter.newsLetterType !=null}
								#{if newsletter.newsLetterType.contains("TAH Workshop Summary")}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Summary" checked="checked"/>
								#{/if}
								#{else}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Summary"/>
								#{/else}
							#{/if}
							#{else}
								<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="TAH Workshop Summary" />
							#{/else}
							</div>
							<div class="lableDiv">
							#{if session.username}
								Q&A Workshop Summaries<br/>
								<font size="2px;" style="font-weight: normal;">(Answer summaries from our expert Q&A workshops.)</font>
							#{/if}
							#{else}
								Q&A Workshop Summaries<br/>
								<font size="2px;" style="font-weight: normal;">(Answer summaries from our expert Q&A workshops.)</font>
							#{/else}
							</div>
						</div>
						<div id="checkboxarea3">
							<div style="float:left;">
							#{if newsletter != null && newsletter.newsLetterType !=null}
								#{if newsletter.newsLetterType.contains("Best of TalkAboutHealth")}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="Best of TalkAboutHealth" checked='checked'>
								#{/if}
								#{else}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="Best of TalkAboutHealth">
								#{/else}
							#{/if}
							#{else}
								<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="Best of TalkAboutHealth" > 
							#{/else}
							</div>
							<div class="lableDiv">
							#{if session.username}
								Best of TalkAboutHealth (weekly)<br/>
								<font size="2px;" style="font-weight: normal;">(The week's best answers, news &amp; support.)</font>	
							#{/if}
							#{else}
							Best of TalkAboutHealth (weekly)
							<br/>
								<font size="2px;" style="font-weight: normal;">(The week's best answers, news &amp; support.)</font>
							#{/else}	
							</div>
						</div>
						<div id="checkboxarea3">
							<div style="float:left;">
							#{if newsletter != null && newsletter.newsLetterType !=null}
								#{if newsletter.newsLetterType.contains("TalkAboutHealth Rewards")}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="TalkAboutHealth Rewards" checked="checked"/>
								#{/if}
								#{else}
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="TalkAboutHealth Rewards"/>
								#{/else}
							#{/if}
							#{else}
								<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" id="newsletter.newsLetterType" value="TalkAboutHealth Rewards" />
							#{/else}
							</div>
							<div class="lableDiv">
							#{if session.username}Benefits and programs from our partners
							<br/>
							<font size="2px;" style="font-weight: normal;">(Custom health, wellness &amp; medical offers including clinical trials, market research.)</font>
							#{/if}
							#{else}Benefits and programs from our partners
							<br/>
							<font size="2px;" style="font-weight: normal;">(Custom health & medical offers including clinical trials, market research programs.)</font>
							#{/else}
							</div>
						</div>
						<div style="width:100%;margin-top: 10px;">
						<h4 style="font-weight: bold; margin-top: 10px; width: 100%;">
							<a href="javascript:displayOptions('newsLetterOption');" ><img id="newsLetterOptionEC" src="/public/images/collapse.png"/>
							<span style="margin-left: 5px; vertical-align: top;">
							#{if session.username}Disease Newsletters (weekly)#{/if}
							#{else}View more Disease Community Newsletters (weekly)#{/else}
							</span></a></h4>
							<div id="newsLetterOption" style="display: none;padding-left: 20px; padding-bottom: 7px; float: left;">
								#{list items:diseaseList , as: 'disease'}
								   <div id="checkboxareainner">
								   		<div style="float:left;">
										<input id="newsletter" name="newsletter.newsLetterType" 
											type="checkbox"  id="newsletter.newsLetterType" value="${disease.name}"
											#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains(disease.name) } 
												    		checked='checked'
												    	#{/if}/> 
										</div>
										<div class="lableDiv">
											${disease.name}
										</div>
									</div>
								#{/list}
							</div>
						</div>
						<div style="width:100%;">
						<h4 style="  width: 100%;"><a href="javascript:displayOptions('rewardsOptions');" ><img id="rewardsOptionsEC" src="/public/images/collapse.png"/><span style="margin-left: 5px; vertical-align: top;">
							#{if session.username}More TalkAboutHealth Benefits#{/if}
							#{else}View more TalkaboutHealth Rewards (weekly)#{/else}
						</span></a></h4>
						<div id="rewardsOptions" style="display: none;padding-left: 20px; padding-bottom: 7px; float: left;">
							<div id="checkboxareainner">
								<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" 
									type="checkbox" id="newsletter.newsLetterType" value="Diet, Nutrition, Food, and Recipe Rewards"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Diet, Nutrition, Food, and Recipe Rewards') } 
											    		checked='checked'
											    	#{/if}> 
								</div>
								<div class="lableDiv">
									Diet, Nutrition, Food, and Recipe Rewards
								</div>
							</div>
							<div id="checkboxareainner">
								<div style="float:left;">
								<input id="newsletter" name="newsletter.newsLetterType" 
									type="checkbox" id="newsletter.newsLetterType" value="Fitness and Exercise Rewards"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Fitness and Exercise Rewards') } 
											    		checked='checked'
											    	#{/if}/> 
								</div>
								<div class="lableDiv">
								Fitness and Exercise Rewards
								</div>
							</div>
							
							<div id="checkboxareainner">
								<div style="float:left;">
								<input id="newsletter" name="newsletter.newsLetterType" 
									type="checkbox" id="newsletter.newsLetterType" value="Skin and Beauty Rewards"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Skin and Beauty Rewards') } 
											    		checked='checked'
											    	#{/if}> 
								</div>
								<div class="lableDiv">
								Skin and Beauty Rewards
								</div>
							</div>
							<div id="checkboxareainner"  style="padding-bottom: 10px;">
								<div style="float:left;">
								<input id="newsletter" name="newsletter.newsLetterType" 
									type="checkbox" id="newsletter.newsLetterType" value="Pharmaceutical Rewards"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Pharmaceutical Rewards') } 
											    		checked='checked'
											    	#{/if}/> 
								</div>
								<div class="lableDiv">
								Pharmaceutical Rewards <br/>
								<font size="2px;" style="font-weight: normal;">(Relevant promotions and survey opportunities based on disease and more)</font>
								</div>
							</div>
							<div id="checkboxareainner" style="padding-bottom: 17px;">
								<div style="float:left;">
								<input id="newsletter" name="newsletter.newsLetterType" 
									type="checkbox" id="newsletter.newsLetterType" value="Family Rewards"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Family Rewards') } 
											    		checked='checked'
											    	#{/if}> 
								</div>
								<div class="lableDiv">
								Family Rewards <br/>
								<font size="2px;" style="font-weight: normal;">(Maternity, baby, and family savings & special offeres)</font>
								</div>
							</div>
						</div>
						</div>
						<div style="width:100%;">
							<h4 style="font-weight: bold; margin-top: 10px;float:none;  width: 100%;">
							<a href="javascript:displayOptions('otherOption');" ><img id="otherOptionEC" src="/public/images/collapse.png"/><span style="margin-left: 5px; vertical-align: top;">
								#{if session.username}Health & Condition Management Newsletters (weekly)#{/if}
								#{else}View more Health & Condition Management Newsletters  (weekly)#{/else}
								</span></a></h4>
							<div id="otherOption" style="display: none;padding-left: 20px; padding-bottom: 7px; float: left;">
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Beauty and Skin Care"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Beauty and Skin Care') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Beauty and Skin Care</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Bone Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Bone Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Bone Health</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox" value="Cancer Genetics"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Cancer Genetics') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Cancer Genetics</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Cancer Medications"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Cancer Medications') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Cancer Medications</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Cancer Prevention"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Cancer Prevention') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Cancer Prevention</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Cancer Screening"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Cancer Screening') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Cancer Screening</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Cancer Treatments"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Cancer Treatments') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Cancer Treatments</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Depression"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Depression') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Depression</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Emotional Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Emotional Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Emotional Health</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Fertility"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Fertility') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Fertility</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Fitness"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Fitness') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Fitness</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Food and Nutrition"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Food and Nutrition') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Food and Nutrition</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Integrative Medicine"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Integrative Medicine') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Integrative Medicine</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Joint Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Joint Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Joint Health</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Mens Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Mens Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Men's Health</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Menopause"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Menopause') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Menopause</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Mood and Stress"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Mood and Stress') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Mood and Stress</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Oral Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Oral Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Oral Health</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Pain Management"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Pain Management') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Pain Management</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Parenting"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Parenting') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Parenting</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Pregnancy"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Pregnancy') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Pregnancy</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Sex and Relationships"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Sex and Relationships') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Sex and Relationships</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Sleep Management"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Sleep Management') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Sleep Management</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Vitamins and Supplements"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Vitamins and Supplements') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Vitamins and Supplements</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Weight Loss and Diet"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Weight Loss and Diet') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Weight Loss and Diet</div>
								</div>
								<div id="checkboxareainner">
									<div style="float:left;">
									<input id="newsletter" name="newsletter.newsLetterType" type="checkbox"  value="Womens Health"
									#{if newsletter != null && newsletter.newsLetterType !=null && newsletter.newsLetterType.contains('Womens Health') } 
								   		checked='checked'
								    	#{/if}> 
									</div>
									<div class="lableDiv">Women's Health</div>
								</div>
							</div>
						</div>
			        </div>
						</div>
				</div>
		</div>
		#{ set currentPage = 'publicProfile' /}
		#{ set currentTalker = talker /}
        #{ include 'PublicProfile/profileRight.html' /}
		<div style="float: left; clear: both;">
			<input id="saveBtn" disabled="disabled" type="submit" value="Save" />
			<span id="saveBtnText"></span>
		</div>
		
		#{if talker.nextStepMessage }
		 	<div class="generalsubhead" style="clear: both;">
			 	Next Step: ${talker.nextStepMessage?.raw()}.
			 	Or go to the <a href="@{Home.index()}">Home</a> page.
			</div>
	 	#{/if}
	</div>		
<div id="personalarea" style="margin-top: 25px;">
	<div id="personalinner">
		<div class="blacktext2">Update Password</div>
		<div id="personalleft1">
		<a name="passwordform"></a>
		<form id="changePasswordForm" name="changePasswordForm" action="@{Profile.changePassword()}#changePasswordForm" method="post">
			<div class="personalmain" style="text-align: center">
				#{if "changePasswordForm".equals(flash.currentForm)}
					#{if flash.success}
					    <span class="success">Password is changed!</span>
					#{/if}
					#{ifErrors}
					   #{errors}
					       <span class="error">${error}</span><br/>
					   #{/errors}
					#{/ifErrors}
				#{/if}
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Current Password</span></div>
				<div class="personaltextfield">
					<input name="curPassword" id="curPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">New Password</span></div>
				<div class="personaltextfield">
					<input name="newPassword" id="newPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"><span class="blacktext14">Confirm Password</span></div>
				<div class="personaltextfield">
					<input name="confirmPassword" id="confirmPassword" type="password" class="personalfields" value="" />
				</div>
			</div>
			<div class="personalmain">
				<div class="personaltextarea"></div>
				<div class="personaltextarea" style="height:46px; padding-top:2px;">
					<a href="#passwordform" onclick="validatePasswordForm()">
						<img src="/public/images/changepass_btn.gif" width="186" height="46" border="0" />
					</a>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>	
