#{ extends 'main.html' /}

<style>
	body {
		background:url(/public/images/inner_bg.gif) repeat-x top;
		font-family:arial;
		font-size:11px;
	}
	.note {
		float: left; 
		clear: left; 
		margin-top: -10px; 
		width: 600px;
		color:#7C7C7C;
		font-family:arial;
		font-size:12px;
	}
	
	#emailstable td {
		padding: 10px;
		font-size: 14px;
	}
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#verificationResendLink").click(function() {
			$(this).html("Sending...");
			$.post("@{Profile.resendVerificationEmail()}", {},
				function(data) {
					$("#verificationResendLink").hide();
					$("#verificationResendResult").html(data).show();
				}
			);
			return false;
		});

		$("#newEmailBtn").click(function() {
			
		});
	});
</script>

</head>

<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{ include 'menu.html' /}
			</div>
		</div>
	</div>
	<div id="innerbanner"></div>
	<div id="innermain">
	<form id="primaryIM" name="setPrimaryIM" action="@{Profile.saveAccounts()}#accountsform" method="post">
		<div class="blacktext2" id="innerheading">Accounts where we notify you</div>
		<div id="innermiddlearea">
			<div class="notifactionboxtop"></div>
			<div class="notifactionboxmid">
				#{if "accountsForm".equals(flash.currentForm)}
					#{if flash.success}
					   <div class="notibluearea">
							<div class="notiblueareatop"></div>
							<div class="signfields2">
								<h4>Changes are saved!</h4>
							</div>
							<div class="notiblueareabot"></div>
						</div>
					#{/if}
				#{/if}
				<div class="notibluearea">
					<div class="notiblueareatop"></div>
					<div class="signfields2">
						<h1>Email</h1>
						<table id="emailstable" border="0">
							<tr>
								<td>${talker.email}</td>
								<td>Primary</td>
								<td>&nbsp;</td>
							</tr>
						</table>
						<a href="#" onclick="$('#addEmailForm').toggle()">add another email address</a>
						<div id="addEmailForm" style="display:none">
							<span class="error" id="emailerror"></span>
							<input id="newEmail" name="newEmail" type="text" value="" size="40"/>
							<br/>
							<input id="newEmailBtn" type="button" value="Add email" />
						</div>
					</div>
					<div class="notiblueareabot"></div>
				</div>
				<div class="notibluearea">
					<div class="notiblueareatop"></div>
					<div class="signfields2">
						<h1>IM</h1>
						#{if talker.verifyCode != null }
							<a href="#" id="verificationResendLink" 
								class="red12">(email not verified - resend verification e-mail)</a>
							<span id="verificationResendResult" class="blacktext12"></span>
						#{/if}
						<ul>
						  <li>
						  	<input name="talker.email" type="text" class="textfields" id="talker.email"
						  		value="${talker.email}"/>
						  </li>
						</ul>
					</div>
					<div class="notiblueareabot"></div>
				</div>
<!-- <div id="savebutton"><img src="/public/images/save.gif" width="186" height="46" /></div> -->
				<input id="submit" name="submit1" type="image" src="/public/images/save.gif" value="save changes"> 
			</div>
			<div class="notifactionboxbot"></div>
		</div>
	</form>
	</div>
	
	<div id="midnoticontainer">
		<div id="midnoticontainermain">
		<a name="notificationsform"></a>
		<form id="NofifyFrequency" name="setNotifyFrequency" action="@{Profile.saveNotifications()}#notificationsform" method="post"  >
			<div id="boxarea_head2" class="blacktext2">IM Notification Settings</div>
			<div id="notifactionbox2">
			
			<div class="notifactionboxtop"></div>
				<div class="notifactionboxmid">
					#{if "notificationsForm".equals(flash.currentForm)}
						#{if flash.success}
						   <div class="notibluearea">
								<div class="notiblueareatop"></div>
								<div class="signfields2">
									<h4>Changes are saved!</h4>
								</div>
								<div class="notiblueareabot"></div>
							</div>
						#{/if}
					#{/if}
					<div class="notibluearea">
						<div class="notiblueareatop"></div>
						<div class="notiblueareamid">
							<h1>How often do you want to be notified?</h1>
							<ul>
	#{list items:['more than 10 times per day', '5 to 10 times per day', '2 to 5 times per day', '1 time per day', 'Never'], as:'notifyFreq'}
		<li>
			<input name="talker.nfreq" type="radio" value="${notifyFreq_index}" 
			#{if talker.nfreq == notifyFreq_index} checked="true" #{/if}
			class="radiobutton" /> 
			<span class="blacktext" style="vertical-align:top;">${notifyFreq}</span>
		</li>
	#{/list}
							</ul>
						</div>
						<div class="notiblueareabot"></div>
					</div>
					<div class="notibluearea">
						<div class="notiblueareatop"></div>
						<div class="notiblueareamid">
							<h1>When do you want to be notified?</h1>
							<ul>
		 	#{list items:['whenever I am online', 'weekdays (9AM - 5PM)', 'weeknights (5PM - 10PM)', 'weekends (Sat and Sun)'], as:'notifyTime'}
				<li>
					<input name="talker.ntime" type="radio" value="${notifyTime_index}" 
					#{if talker.ntime == notifyTime_index} checked="true" #{/if}
					class="radiobutton" /> 
					<span class="blacktext" style="vertical-align:top;">${notifyTime}</span>
				</li>
			#{/list}
							</ul>
						</div>
						<div class="notiblueareabot"></div>
					</div>
					<div class="notibluearea">
						<div class="notiblueareatop"></div>
						<div class="notiblueareamid">
							<h1>What types of conversations interest you the most?</h1>
							<ul>	
						#{list items:["Informational", "Advice and opinions", "Meet new people", "Emotional support"], as:'cType'}
							<li><input name='talker.ctype' type='checkbox' value='${cType}' 
							#{if talker.ctype?.contains(cType) } checked="checked" #{/if}
							/>&nbsp;<span class='blacktext' >${cType}</span></li>
						#{/list}				
								<li>
									<textarea class="textarea3" rows="5" cols="45" style="padding: 5px"
										onclick="if (this.value == 'Other (please separate by commas)') this.value='';" 
										id="otherCTypes" name="otherCTypes">${talker.getOtherCTypes()}</textarea>
								</li>	
							</ul>
						</div>
						<div class="notiblueareabot"></div>
					</div>
<!-- <div id="savebutton"><a href="/tah-java/SetNotification"><img src="/public/images/save.gif" width="186" height="46" /></a></div> -->
					<input id="submit" name="submit1" type="image" src="/public/images/save.gif" value="save changes"> 
				</div>
				<div class="notifactionboxbot"></div>
			</div>
		</form>
		</div>
	</div>
			
	
	<div id="midnoticontainer">
		<div id="midnoticontainermain">
		<a name="emailsettingsform"></a>
		<form id="emailsettings" name="emailsettings" action="@{Profile.saveEmailSettings()}#emailsettings" method="post">
			<div id="boxarea_head2" class="blacktext2">Email Settings</div>
			<div id="notifactionbox2">
				<div class="notifactionboxtop"></div>
				<div class="notifactionboxmid">
					#{if "emailsettingsForm".equals(flash.currentForm)}
						#{if flash.success}
						   <div class="notibluearea">
								<div class="notiblueareatop"></div>
								<div class="signfields2">
									<h4>Changes are saved!</h4>
								</div>
								<div class="notiblueareabot"></div>
							</div>
						#{/if}
					#{/if}
					<div class="notibluearea">
						<div class="notiblueareatop"></div>
						<div class="signfields2">
							<div class="generalcheck">
								<h1>User Related</h1>
								#{set showConvoTitle = true /}
								#{list items:models.TalkerBean.EmailSetting.values(), as:'setting' }
									#{if setting.toString().startsWith('CONVO') && showConvoTitle}
										<h1>Conversation Related</h1>
										#{set showConvoTitle = false /}
									#{/if}
									<div class="preferencescheck">
										<input type="checkbox" value="" name="${setting}"
											#{if talker.loadEmailSettings().contains(setting) } checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;${setting.description}</span>
									</div>
								#{/list}
							</div>
							
							
							<h1>Newsletter</h1>
							<div class="generalcheck">
								<div class="preferencescheck">
									<input id="talker.newsletter" name="talker.newsletter" 
										type="checkbox" #{if talker.newsletter} checked #{/if} /> 
									<span class="blacktext14">&nbsp;Send me the TalkAboutHealth newsletter.</span>
								</div>
							</div>
						</div>
						<div class="notiblueareabot"></div>
					</div>
					<input id="submit" name="submit1" type="image" src="/public/images/save.gif" value="save changes"> 
				</div>
				<div class="notifactionboxbot"></div>
			</div>
		</form>
		</div>
	</div>