#{ extends 'main.html' /}

	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		#innerpersonalarea {
			padding-bottom: 50px;
		} 
	</style>
</head>
<body>

<div id="top_container">
	<div id="top">
		#{ logo /}
		<div id="topnav">
			#{ include 'menu.html' /}
		</div>
		<div id="innerbanner"></div>
		<form id="profilepreferencesform" name="profilepreferencesform" action="@{Profile.savePreferences()}" method="POST" >
		<div id="innermain">
			<div class="blacktext2" id="innerheading">Profile Preferences</div>
			<div id="innerpersonalarea">
				<div id="signupleft">
					<div id="signupleftarea">
						#{if flash.success}
							<div class="signupmain" style="text-align: center">
								<span class="success">Changes are saved!</span>
							</div>
						#{/if}
						<div class="signupmain">
							<div class="generalcheck">
								#{list items:profilePreferencesArr, as:'preference' }
									<div class="preferencescheck">
										<input type="checkbox" value="" name="${preference}"
										#{if profilePreferences.contains(preference) } checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;${preference.description}</span>
									</div>
								#{/list}
							</div>
						</div>
						<a id="savebutton" href="#" onclick="document.profilepreferencesform.submit();">
							<img src="/public/images/save.gif" width="186" height="46" border="0"/>
						</a>
					</div>
				</div>
				<div id="signupright">
					<div class="personalinfosignrightbox">
						<div class="generalinfosignrighttop"></div>
						<div class="signrighmid">
							<span class="bluetext14">
								Displaying your health details enables others just 
								like you to find you to request advice or just talk.<br /><br />
								The more information everyone in the community shares, 
								the more we help each other. 
							</span>
						</div>
						<div class="signrighbot"></div>
					</div>
				</div>
			</div>
		</div>
		</form>