#{ extends 'main.html' /}
	<script type="text/javascript">
		function confirmDeactivation() {
			return false;
		}
	</script>
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		#innerpersonalarea {
			padding-bottom: 50px;
		} 
	</style>
</head>
<body>

#{include 'header.html' /}
		<div id="innerbanner"></div>
		<div id="innermain">
		<form id="profilepreferencesform" name="profilepreferencesform" action="@{Profile.savePreferences()}" method="POST" >
			<div class="blacktext2" id="innerheading">Privacy Settings</div>
			<div id="innerpersonalarea">
				<div id="signupleft">
				
#{ifnot talker?.hiddenHelps.contains('privacy') }
<div id="privacyHelp" class="helpInfo">
      <div class="popboxWraper">
        <div class="popbox2">
          <div class="closecover" style="clear: none; float: right;">
            <div class="close" onclick="return hideHelpInfo('privacy', true);"><img src="/public/images/close.jpg" alt="Close" /></div>
          </div>
          <div class="note">
		  	<strong>What are Privacy Settings?</strong><br/>
		  	Privacy Settings are how you control who may view your information. 
		  	You may choose to make your information private or viewable by the Community.
		  	Your information will never be viewable by the public.
		  	<br/><br/>
		  	<strong>Is the information I provide private?</strong><br/>
		  	By default, all infromation that you provide is private and all of the infromation from
		  	your actions on TalkAboutHealth is viewable by the Community. 
		  	Your control the privacy of your information using the check boxes below.
		  	<br/><br/>
          </div>
          <div class="cb"></div>
        </div>
        <!--popbox2-->

      </div>
      <div class="cb"></div>
</div> 
#{/ifnot}					
					<div id="signupleftarea">
						#{if flash.success}
							<div class="signupmain" style="text-align: center">
								<span class="success">Changes are saved!</span>
							</div>
						#{/if}
						<div class="signupmain">
							<div class="generalcheck">
								#{list items:models.TalkerBean.ProfilePreference.values(), as:'preference' }
									<div class="preferencescheck">
										<input type="checkbox" value="" name="${preference}"
										#{if profilePreferences.contains(preference) } checked='checked' #{/if}
										/>
										<span class="blacktext14">&nbsp;${preference.description}</span>
									</div>
								#{/list}
							</div>
						</div>
						<a id="savebutton" href="#" onclick="document.profilepreferencesform.submit();">
							<img src="/public/images/save.gif" width="186" height="46" border="0"/>
						</a>
					</div>
				</div>
				<div id="signupright">
					<div class="personalinfosignrightbox">
						<div class="generalinfosignrighttop"></div>
						<div class="signrighmid">
							<span class="blacktext14">
								Displaying your profile and health details enables others just 
								like you to find you to request advice or just talk.<br /><br />
								The more information everyone in the community shares, 
								the more we help each other. 
							</span>
						</div>
						<div class="signrighbot"></div>
					</div>
				</div>
				
			</form>
			</div>
			
			<div class="blacktext2" id="innerheading">Account Deactivation</div>
			<div id="innerpersonalarea">
				<div id="signupleft">
					<span class="blacktext14">
						Deactivating your account means that you'll never
						hear from TalkAboutHealth again. If you change
						your mind, you can always reactivate your account by
						logging in with your username or email address and password.
					</span><br/><br/><br/><br/><br/>
					<form action="@{Profile.deactivateAccount()}" method="POST" 
							onsubmit="if (!confirm('Are you sure want to deactivate your account?')) return false;">
						<input type="submit" style="padding: 10px" 
							value="Deactivate Account" />
					</form>
				</div>
			</div>
		</div>
