#{extends 'main.html' /}
	<style>
		body {
			background:url(/public/images/inner_bg.gif) repeat-x top;
		}
		.seeall {
			/* Temporarily - until we have pages for all "see all" */
			display: none;
		}
	</style>
	<script type="text/javascript"> 	 
   		$(document).ready(function() {
   			$("#followActionlink").click(function() {
   				follow();
	   		});

   			$("#followActionImagelink").click(function() {
   				follow();
	   		});
   		});

   		//follow(String followingId)
   		function follow(callback) {
   			$.post("@{Actions.follow()}", 
  				{ followingId: '${talker.id}'},
  				function(data) {
  					$("#followResult").html("Ok! ");
  					$("#followActionlink").html(data);

  					//$("#followActionImagelink img").attr("src", "/public/images/"+data.toLowerCase()+"_icon.gif");
  					if (data == 'Follow') {
  						$("#followActionImagelink").html('<img src="/public/images/follow_icon.gif" width="52" height="19" border="0"/>');
  					}
  					else {
  						$("#followActionImagelink").html('Unfollow');
  					}
  				}
  			);
   		}

   		//createThankYou(String toTalker, String note)
   		function thankYou() {
   	   		var noteText = $("#thankYouNote").val();
   			$("#thankYouNote").val("");

   			$.post("@{Actions.createThankYou()}", 
  				{ toTalker: '${talker.id}', note: noteText},
  				function(html) {
  					$("#firstthankyoumessage").hide();
  					
  					//put new thank you item in the list
  					$(html).appendTo($("#thankyoulist"));
  				}
  			);

   			$("#leavethankyouText").hide();
   		}

   		//saveProfileComment(String profileTalkerId, String parentId, String text)
   		function saveProfileComment(parentId) {
   	   		var commentText = $("#replytext"+parentId).val();
   			$("#replytext"+parentId).val("");

   			$.post("@{Actions.saveProfileComment()}", 
  				{ profileTalkerId: '${talker.id}', parentId: parentId, text: commentText},
  				function(html) {
  	  				$("#firstcommentmessage").hide();
  					//put comment in the tree
  					if (parentId == '') {
  	  					//add as first element in the top
  						$(html).prependTo($(".commentsarea"));
  					}
  					else {
  	  					//add as last element in subtree
  						$(html).appendTo($("#comment"+parentId+" > .commentsreply"));
  					}
  				}
  			);

   			$("#reply"+parentId).hide();
  			return false;
   		}
   	</script>
</head>
<body>
	<div id="top_container">
		<div id="top">
			#{ logo /}
			<div id="topnav">
				#{include 'menu.html' /}
			</div>
		</div>
		<div id="bottom_container">
			<div id="innerbanner"></div>
			<div id="innermain">
				<div id="innerheading" class="blacktext2">My Public Profile</div>
				<div id="innermiddlearea">
					<div id="profileleft">
						<div id="profilelefttop"></div>
						<div id="profileleftmid">
							<div class="proleftwhite">
								<div class="proleftwhitetop"></div>
								<div class="proleftwhitemid">
									<div class="profilearea">
										<div class="profileimg">
											<img src="@{Image.show(talker.userName)}" width="208" height="136" />
										</div>
										<div class="profileimgtext">
											<ul>
											<!-- 
												<li><span class="simpletext">Currently Online</span></li>
											-->
											#{ifnot talker.userName.equals(currentTalker.userName) }
												<li>
													<span id="followResult" class="simpletext"></span>
													<a id="followActionlink" href="#" class="navybluetext12">
													${ currentTalker.followingList.contains(talker) ? 'Unfollow' : 'Follow'}
													</a>
												</li>
												#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
													<li><a href="#thankyouSection" onclick="$('#leavethankyouText').toggle();" 
															id="thankyoulink2" 
															class="navybluetext12">Give a 'Thank you'</a></li>
												#{/if}

												#{if talker.followingList.contains(currentTalker) &&
													talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.COMMENTS) }
													<li>
														<a href="#commentsSection" onclick="$('#reply').show();"
															class="navybluetext12">Leave a comment</a>
													</li>
												#{/if}
												
												<!-- 
												<li><a href="#" class="navybluetext12">Send a private message</a></li>
												<li><a href="#" class="navybluetext12">Request to talk right now</a></li>
												-->
											#{/ifnot}
											</ul>
										</div>
									</div>
								</div>
								<div class="proleftwhitebot"></div>
							</div>
							#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWING) }
							<div class="proleftwhite">
								<div class="proleftwhitetop"></div>
								<div class="proleftwhitemid">
									<div class="followarea">
									<div class="profileheading">Following</div>
									<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
									<div class="followingimg">
										<ul>
											#{list items:talker.followingList, as:'following' }
												<li>
													<a href="@{Profile.view(following.userName)}" class="bluetext11">
														<img src="@{Image.show(following.userName)}" width="48" height="48" border="0" />
														${following.userName}
													</a>
												</li>
											#{/list}
										</ul>
									</div>
									</div>
								</div>
								<div class="proleftwhitebot"></div>
							</div>
							#{/if}
							#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.FOLLOWERS) }
							<div class="proleftwhite">
								<div class="proleftwhitetop"></div>
								<div class="proleftwhitemid">
									<div class="followarea">
									<div class="profileheading">Followers</div>
									<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
									<div class="followingimg">
										<ul>
											#{list items:talker.followerList, as:'follower' }
												<li>
													<a href="@{Profile.view(follower.userName)}" class="bluetext11">
														<img src="@{Image.show(follower.userName)}" width="48" height="48" border="0" />
														${follower.userName}
													</a>
												</li>
											#{/list}
										</ul>
									</div>
								</div>
								</div>
								<div class="proleftwhitebot"></div>
							</div>
							#{/if}
							<!-- 
							<div class="proleftwhite">
								<div class="proleftwhitetop"></div>
								<div class="proleftwhitemid">
									<div class="profilearea">
										<div class="profileheading">Groups</div>
										<div class="profileimgtext">
										<ul>
											<li><a href="#" class="navybluetext12">UWS Breast Cancer Group</a></li>
											<li><a href="#" class="navybluetext12">NYC Skin Cancer Group</a></li>
											<li><a href="#" class="navybluetext12">BreastCancer.org</a></li>
										</ul>
										</div>
									</div>
								</div>
								<div class="proleftwhitebot"></div>
							</div>
							-->
							#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.PERSONAL_INFO) }
							<div class="proleftwhite">
								<div class="proleftwhitetop"></div>
								<div class="proleftwhitemid">
									<div class="profilearea">
										<div class="profileheading">Personal Info</div>
										<div class="profileimgtext personalinfo">
											<ul>
				<li class="blacktext12">Age: ${talker.age}</li>
				#{if talker.gender}<li class="blacktext12">Gender: ${talker.fullGender}</li>#{/if}
				#{if talker.state && talker.city}<li class="blacktext12">Location: ${talker.state}, ${talker.city}</li>#{/if}
				#{if talker.maritalStatus}<li class="blacktext12">Marital Status: ${talker.maritalStatus}</li>#{/if}
				<li class="blacktext12">No. of Children: ${talker.childrenNum}</li>
				#{if talker.childrenAges}<li class="blacktext12">Ages of Children: ${talker.childrenAges?.toCommaString()}</li>#{/if}
				#{if talker.webpage}
					<li class="blacktext12">Web page: 
						<a href="${talker.webpage}" target="_blank" 
						class="navybluetext12">${talker.webpage}</a>
					</li>
				#{/if}
				#{if talker.keywords}<li class="blacktext12">Keywords Following: ${talker.keywords?.toCommaString()}</li>#{/if}
				<li class="blacktext12"></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="proleftwhitebot"></div>
							</div>
							#{/if}
						</div>
						<div id="profileleftbot"></div>
					</div>
					<div id="profileright">
						<div id="proheading">
							<span class="pinktext18">${talker.userName}</span>
							#{if talker.connection}
								<span class="blacktext18">&nbsp;-&nbsp;${talker.connection}</span>
							#{/if}
							#{ifnot talker.userName.equals(currentTalker.userName) }
								<a id="followActionImagelink" href="#" class="navybluetext12" style="margin-left:15px;">
									#{if currentTalker.followingList.contains(talker)}
										Unfollow
									#{/if}
									#{else}
										<img src="/public/images/follow_icon.gif" width="52" height="19" border="0"/>
									#{/else}
								</a>
							#{/ifnot}
						</div>
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.BASIC_INFO) }
							<div class="profiletext2">
								<ul>
									<li class="blacktext12"><strong>Community:</strong> Skin Cancer</li>
									#{if talker.state && talker.city}
									*{ TODO: make better for location? }*
										<li class="blacktext12">
											<strong>Location:</strong> ${talker.city}, ${talker.state}, ${talker.country}
										</li>
									#{/if}
									<li class="blacktext12"><strong>Member Since:</strong> ${talker.regDate.format('MMM d, yyyy')}</li>
								</ul>
							</div>
							<div class="profiletext2">
								<ul>
									<li class="blacktext12"><strong>Recognition Level:</strong> ${talker.levelOfRecognition}</li>
									<li class="blacktext12"><strong>Conversations:</strong> ${talker.numberOfTopics}</li>
									<li class="blacktext12"><strong>Thank you's:</strong> ${talker.thankYouList.size()}</li>
								</ul>
							</div>
						#{/if}
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.BIO) && talker.bio}
							<div class="prosubheading">
								<div class="profileheading">Bio</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div class="protext">
								${talker.bio}
							</div>
						#{/if}
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.HEALTH_INFO) && talkerDisease }
							<div class="prosubheading">
								<div class="profileheading">Health Info</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div class="profiletext2">
								<ul>
									<li class="blacktext12">Disease: <span class="blacktext">${talkerDisease.name}</span></li>
									<li class="blacktext12">Disease Type: <span class="blacktext">${talkerDisease.type}</span></li>
									<li class="blacktext12">Stage of disease: <span class="blacktext">${talkerDisease.stage}</span></li>
									#{if talkerDisease.symptomDate}
										<li class="blacktext12">Date of first symptom: 
											<span class="blacktext">${talkerDisease.symptomDate?.format('MM/dd/yyyy')}</span>
										</li>
									#{/if}
									#{if talkerDisease.diagnoseDate}
										<li class="blacktext12">Date of diagnosis: 
											<span class="blacktext">${talkerDisease.diagnoseDate?.format('MM/dd/yyyy')}</span>
										</li>
									#{/if}
									<li class="blacktext12">Recurrent:
										<span class="blacktext">${talkerDisease.recurrent?.yesno('Yes', 'No')}</span>
									</li>
									
									<li class="blacktext12" style="padding-top:10px;"><strong>Initial Symptoms</strong></li>
									#{ healthItemsList healthItem: healthItemsMap["symptoms"], talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.symptoms, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
									
									<li class="blacktext12" style="padding-top:10px;"><strong>Tests</strong></li>
									#{ healthItemsList healthItem:healthItemsMap["tests"], talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.tests, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
								</ul>
							</div>
							<div class="profiletext2">
								<ul>
									<li class="blacktext12"><strong>Procedures/Surgeries</strong></li>
									#{ healthItemsList healthItem:healthItemsMap["procedures"], talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.procedures, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
									
									<li class="blacktext12" style="padding-top:10px;">
										<strong>Medications and Treatments</strong>
									</li>
									#{ healthItemsList healthItem:healthItemsMap["treatments"], talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.treatments, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
									
									<li class="blacktext12" style="padding-top:10px;">
										<strong>Side effects from medications/treatments</strong>
									</li>
									#{ healthItemsList healthItem:healthItemsMap["sideeffects"], talkerDisease: talkerDisease /}
									#{list items: talkerDisease.otherHealthItems?.sideeffects, as: 'item' }
										<li class="blacktext12">${item}</li>
									#{/list}
								</ul>
							</div>
						#{/if}
						
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.THANKYOUS) }
							<div id="thankyouSection" class="prosubheading">
								<div class="profileheading">
									Thank You's (${talker.thankYouList.size()})
									#{ifnot talker.userName.equals(currentTalker.userName) }
										<a id="displayThankYouText" href="#" onclick="$('#leavethankyouText').toggle(); return false;"
											class="navybluetext12">Give a Thank You</a>
									#{/ifnot}
								</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div id="leavethankyouText" style="display:none">
								<ul>
									<li class="blacktext14">Give a Thank You</li>
									<li>
										<input id="thankYouNote" name="thankYouNote" type="text" 
											class="togglecommentfield" value="" size="6" />
									</li>
									<li>
										<div class="personaltextarea" style="height:46px; padding-top:2px;">
											<a href="#thankyouSection" onclick="thankYou()">
												<img src="/public/images/addcomment_btn.gif" width="145" height="32" border="0" />
											</a>
										</div>
									</li> 
								</ul>
							</div>
							<div id="thankyoulist" class="thankyoutextarea">
								#{list items:talker.thankYouList, as:'thankYou'}
									#{ profileThankYou thankYou: thankYou /}
								#{/list}
								#{else}
									<span id="firstthankyoumessage" class="blacktext12">
										${talker.userName} does not have a 'Thank you', be the first to leave a 'Thank you'.
									</span>
								#{/else}
							</div>
						#{/if}
						
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.COMMENTS) }
						<div id="commentsSection" class="prosubheading">
							<div class="profileheading">
								Comments
								#{if talker.followingList.contains(currentTalker)}
									<a id="displaycommentText" href="#" onclick="$('#reply').toggle(); return false;"
									 class="navybluetext12">Leave a new Comment</a>
								#{/if}
							</div>
							<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
						</div>
						<div style="display: none;" id="reply" class="replyForm">
							<ul>
								<li class="blacktext14">Comment:</li>
								<li>
									<textarea class="togglecomment" rows="5" cols="45" id="replytext"></textarea>
							    </li>
								<li>
									<div style="height: 46px; padding-top: 2px;" class="personaltextarea">
										<a href="#" onclick="return saveProfileComment('');">
											<img width="145" height="32" border="0" src="/public/images/addcomment_btn.gif"/>
										</a>
									</div>
								</li> 
							</ul>
						</div>
						<div class="commentsarea">
							#{if talker?.profileCommentsList?.isEmpty()}
								<span id="firstcommentmessage" class="blacktext12">
									${talker.userName} does not have any Comments, be the first to leave a Comment.
								</span>
							#{/if}
							#{profileCommentsTree commentsList: talker.profileCommentsList /}
						</div>
						#{/if}
						
						*{
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.CONVERSATIONS) }
							<div class="prosubheading">
								<div class="profileheading">Conversation Started (10)</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div class="conversationarea">
								<div class="conversationtext">
									<a href="#" class="navybluetext12"><strong>Just received 2 diagnoses, what should i do ?</strong></a><br />
									<span class="greytext11">May 16 at 11:55am</span>
									<div class="conversationtextsmall">
										<a href="#" class="navybluetext12">10 talkers</a> 
										<span class="blacktext">- mjones, yiwang, shanghao, eltont, sariebarie, quigs, dubs, nana, johnr, nato</span><br />
										<a href="#" class="navybluetext12">3 comments</a><span class="blacktext"> - johnr, suzie, scott</span>
									</div>
								</div>
							</div>
							<div class="prosubheading">
								<div class="profileheading">Conversation Joined (20)</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div class="conversationarea">
								<div class="thankyoupic">
									<a href="#" class="bluetext11"><img src="/public/images/followimg2.jpg" border="0" /><br />Blal</a>
								</div>
								<div class="conversationtext">
									<a href="#" class="navybluetext12">
										<strong>Just received 2 diagnoses, what should i do ?</strong></a><br />
									<span class="greytext11">May 16 at 11:55am</span>
									<div class="conversationtextsmall">
										<a href="#" class="navybluetext12">10 talkers</a>
										<span class="blacktext">- mjones, yiwang, shanghao, eltont, 
											sariebarie, quigs, dubs, nana, johnr, nato</span><br />
										<a href="#" class="navybluetext12">3 comments</a>
										<span class="blacktext"> - johnr, suzie, scott</span>
									</div>
								</div>
							</div>
						#{/if}
						}*
						#{if talker.loadProfilePreferences().contains(models.TalkerBean.ProfilePreference.ACTIVITY_STREAM) && talker.activityList}
							<div class="prosubheading">
								<div class="profileheading">${talker.userName} Activities</div>
								<div class="seeall"><a href="#" class="bluetext12"><strong>see all</strong></a></div>
							</div>
							<div class="activitiestext">
								#{list items:talker.activityList, as:'activity' }
									<span class="blacktext12">${talker.userName} ${activity.text}</span><br/>
									<span class="greytext11">May 16 at 11:55am</span><br />
								#{/list}
							</div>
						#{/if}
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- Pop-up Thank You form -->
<div id="hiddenwindows" style="display: none">
	<!-- 
	<div id="thankyouform">
		<table align="center" cellspacing="10">
			<tr>
				<td align="right" valign="top">'Thanks You' note:</td>
				<td><textarea rows="5" cols="30" id="thankYouNote" name="thankYouNote" ></textarea></td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input id="thankYouBtn" onClick="thankYou()" type="button" value="Give a 'Thanks you'"/>
					<input id="cancelBtn" onClick="$.fancybox.close();" value="Cancel" type="button" />
				</td>
			</tr>
		</table>	
	</div>
	-->
</div>