#{ extends 'main.html' /}
<script type="text/javascript" src="/public/javascripts/scroller.js" />
<script type="text/javascript"> 	 
	//maps actions to tabs
	var tabs = {
   		"active" : "tab1",
   		"new" : "tab2",
   		//"likeyou" : "tab3",
   		"search" : "tab4" ,
   		"experts" : "tab5"
	}
	$(document).ready(function() {
		//default action
		var activeTab = tabs["${action}"];
		initOldTabs(activeTab);
	});
</script>
<style>
body { font-family:arial;font-size:11px; }
#mycustomscroll2 { width: 925px; height: 35px; overflow: auto; position: relative; background-color: #FFF; margin: 0.1em auto; padding: 15px 0px;z-index:0; }
.fixedwidth { width: 2645px; height: auto; position: relative; color: black; padding: 1px; }
.scrollgeneric { line-height: 1px; font-size: 1px; position: absolute; top: 0; left: 0; }
.hscrollerbase { height: 10px; background-color: white; }
.hscrollerbar { height: 10px; background-color: #233F92; }
.scrollerjogbox { width: 10px; height: 10px; top: auto; left: auto; bottom: 0px; right: 0px; background-color: #233F92; }
</style>
</head>
<body>
	#{include 'header.html' /}
	<div id="innerbanner"></div>
	<div id="innermain" style="padding-left:0px;">
		<div class="blacktext2" id="innerheading">Browse Members</div>
		<div id="innermiddlearea">
			<div class="tabbed_box" id="tabbed_box_1">
    			<div class="tabbed_area" style="padding-left:0px;">
    				<div id='mycustomscroll2' class='flexcroll'>
    				<div class='fixedwidth'>
	    				<ul class="tabs" style="padding-right:10px;">
				        	<li><a href="#tab1"><span>Active</span></a></li>
				            <li><a href="#tab2"><span>New</span></a></li>
				            <li><a href="#tab4"><span>Search</span></a></li>
				            #{list items: members.keySet(), as: 'memberType'}
				            	<li><a href="#tab${memberType_index+4}" id="${memberType}"><span>${memberType}</span></a></li>
				            #{/list}
				        </ul>
				        </div>
			        </div>
			        <div class="tab_container">
				        <div id="tab1" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Active Users</span> 
					            </div>
				            </div>
				            <div class="thnksarea" id="activeTab">
				            	#{list items: activeTalkers, as: 'talker' }
				            		#{if currentTalker || talker.name != null}
				            			#{talker/talkerInList talker: talker, currentTalker: currentTalker /}
				            		#{/if}
				            	#{/list}
				            </div>
			        	</div>
			        	#{if activeTalkers.size() == logic.TalkerLogic.TALKERS_PER_PAGE }
								<div align="center" id="activeBtn" style=" clear: both;">
			                          <input type="submit" src="images/seemore.jpg" onclick="return loadMoreUser('active');" value=" " class="seemorecom" />
		                        </div>
							#{/if}
			        	</div>
			        	<div id="tab2" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">New Users</span> 
					            </div>
				            </div>
				            <div class="thnksarea" id="newTab">
				            	#{list items: newTalkers, as: 'talker' }
				            		#{if currentTalker || talker.name != null}
				            			#{talker/talkerInList talker: talker, currentTalker: currentTalker /}
				            		#{/if}
				            	#{/list}
				            </div>
			        	</div>
			        	#{if newTalkers.size() == logic.TalkerLogic.TALKERS_PER_PAGE }
							<div align="center" id="newBtn" style=" clear: both;">
			                	<input type="submit" src="images/seemore.jpg" onclick="return loadMoreUser('new');" value=" " class="seemorecom" />
							</div>
						#{/if}
			        	</div>
			        
			        	<div id="tab3" class="tab_content">
			   			<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            	<span class="blacktext25">Like You</span> 
					            </div>
				            </div>
				            <div class="thnksarea">
				            	<span class="blacktext14">This page is being developed. It will be available soon.</span>
				            </div>
			        	</div>
			        	</div>
			        	<div id="tab4" class="tab_content">
			        	<div>
				        	<div class="headingarea">
					            <div class="tabheading">
					            <form name="searchForm" action="@{Explore.browseMembers('search')}" method="POST">
					            	<span class="blacktext25" style="float: left; padding-top: 3px;margin-right: 10px;">Search</span> 
					            	
									<div id="searcharea">
										<input name="query" type="text" class="search"  value="${flash.query ? flash.query : 'Search Members'}" 
											onclick="if (this.value == 'Search Members') this.value=''" onblur=""/>
									</div>
									<div id="searchright">
										<a href="#" onclick="document.searchForm.submit(); return false;">
											<img src="/public/images/searchbutton.gif" width="34" height="35" border="0"/>
										</a>
									</div>
								</form>
					            </div>
				            </div>
				            <div class="thnksarea">
								#{if results }
									<div style="font-size: 14px; clear: left; padding-top: 10px" id="searchTab">	
										#{list items:results, as: 'talker'}
											#{if currentTalker || talker.name != null}
						            			#{talker/talkerInList talker: talker, currentTalker: currentTalker /}
						            		#{/if}
										#{/list}
									</div>
									#{if results.size() == logic.TalkerLogic.TALKERS_PER_PAGE }
										<div align="center" id="searchBtn" style=" clear: both;">
						                	<input type="submit" src="images/seemore.jpg" onclick="return loadMoreUser('search');" value=" " class="seemorecom" />
										</div>
									#{/if}
								#{/if}
								#{elseif flash.query}
									<br/><br/><br/>
									<div style="font-size: 14px; clear: left; padding-top: 10px">
										Sorry. No results match the query.
									</div>
									<br/><br/><br/>
								#{/elseif}
								#{else}
									<br/><br/><br/>
									<div style="font-size: 14px; clear: left; padding-top: 10px">
										Type in your search term and get is.
									</div>
									<br/><br/><br/>
								#{/else}
				            </div>
			        	</div>
    					</div>
    					#{list items: members.keySet(), as: 'memberType'}
    						<div id="tab${memberType_index+4}" class="tab_content">
					   			<div>
						        	<div class="headingarea">
							            <div class="tabheading">
							            	<span class="blacktext25">${memberType}</span> 
							            </div>
						            </div>
						           </div>
									<div class="thnksarea" id="${memberType.replaceAll(" ", "-").replaceAll("&", "and")}TabFirst">
						            	#{list items: members.get(memberType), as: 'talker' }
						            		#{if currentTalker || talker.name != null}
						            			#{talker/talkerInList talker: talker, currentTalker: currentTalker /}
						            		#{/if}
						            	#{/list}
									</div>
									 #{if  members.get(memberType).length == logic.TalkerLogic.TALKERS_PER_PAGE }
										<div align="center" style=" clear: both;" id="${memberType.replaceAll(" ", "-").replaceAll("&", "and")}Btn">
						                	<input type="submit" src="images/seemore.jpg" onclick="return loadMoreUser('${memberType.replaceAll(" ", "-").replaceAll("&", "and")}');" value=" " class="seemorecom" />
										</div>
									#{/if}
					        </div>
			            #{/list}
    				</div>
    			</div>
			</div>
			#{ifnot currentTalker}
				<div style="padding-top: 50px; clear: both; font-size: 12px;">
					Only members who have chosen to make their profile information public are viewable here.
				</div>
			#{/ifnot}
		</div>
	</div>
<div id="boxes">
	<div id="dialog" class="window"></div>
	#{ popups/thankyou /}
	#{ popups/thoughtComment /}
</div>
<div id="mask"></div>