#{set pageType = 'cancerPage' /}
#{set currentPage = 'cancerPage' /}

#{extends 'main_new.html' /}
	<style type="text/css">
		#innermiddlearea { padding-top: 10px }
		.home {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/public/images/index/headernew.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
}
.slide {
    float: left;
    margin-top: 30px;
}
	</style>
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		var feedsPerPage = ${logic.FeedsLogic.FEEDS_PER_PAGE};
		var action = '${type}';

		var popularConvo=0;
		var recentConvo=0;
		var expertConvo=0;
		var openConvo=0;
		
		$(document).ready(function() {
			initTabs();

   	   		if (action === 'expertConvo') {
   	   			$("#expertConvo").click();
   			} else if (action === 'openConvo') {
   	   			$("#openConvo").click();
   			} else if (action === 'recentConvo') {
   	   			$("#recentConvo").click();
   			}

			$(".flagConvoLink").click(function() {
				flagType = "convo";
				flagId = $(this).attr("rel");
				showPopup("#flagPopup", 200);
			});
			
			$(".moreBtn").click(function() {
				var idBtn = $(this).attr("id");
				var id = "expertConvo"
				if(idBtn == 'expertMore')
					id = "expertConvo";
				else if(idBtn == 'recentMore')
					id = "recentConvo";
				else if(idBtn == 'openMore')
					id = "openConvo";
				loadMoreCommunityFeeds(id);
			});
			
		});
		
		function initTabs(){
			$(".tabs li").click(function() {
				$(".active").removeClass("active");
				$(this).addClass("active");

				var id = $(this).attr("id");
				$(".slide .tabContent").hide();
				$(".replytommentbox").hide();
				$("div.tabBody").hide();
				$("#" + id + "Tab").fadeIn();
				var loading = $('<li><img src="/public/images/index/tah_loading.gif" width="25"/></li>');
				
				if(id=='recentConvo' && recentConvo==0 ) {
					$("#"+id+"Cnt").html(loading);
					$.get("/Explore/communityFeedAjaxLoad",{  type : 'recentConvo', csrType : '${csrType}' },function(data){
						recentConvo=1;
						$(loading).remove();
						$(data).appendTo($("#"+id+"Cnt"));
						$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
				    });
				} else if(id=='expertConvo' && expertConvo==0){
					$("#"+id+"Cnt").html(loading);
					$.get("/Explore/communityFeedAjaxLoad",{  type : 'expertConvo', csrType : '${csrType}' },function(data){
						expertConvo=1;
						$(loading).remove();
						$(data).appendTo($("#"+id+"Cnt"));
						$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
					});
				} else if(id=='openConvo' && openConvo ==0) {
					$("#"+id+"Cnt").html(loading);
					$.get("/Explore/communityFeedAjaxLoad",{ type : 'openConvo', csrType : '${csrType}' },function(data){
						openConvo=1;
						$(loading).remove();
						$(data).appendTo($("#"+id+"Cnt"));
						$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
					});
				}
				return false;
			});
		}
		
		loadMoreCommunityFeeds = function(type) {
			//var lastActionId = $("#"+type+"List").children().last().attr("id");
			var lastActionId = $("#"+type+"Cnt").children().last().attr("id");
			var loading = $('<li><img src="/public/images/index/tah_loading.gif" width="25"/></li>');
			$(loading).appendTo($("#"+type+"Cnt"));
			$.get("/Explore/communityFeedAjaxLoad", {afterActionId: lastActionId, type: type, csrType : '${csrType}' },
					function(data) {
						$(loading).remove();
						//$(data).appendTo($("#"+type+"List"));
						$(data).appendTo($("#"+type+"Cnt"));
						//for new items
						$('.inline-edit').inlineEdit( { hover: ''} );
						$('.disc').truncatable({ limit: 160, more: '... more', less: true, hideText: '...less' });
		 			}
				);
			
			return false;
		}
</script>
	
</head>		
<body class="home">
<div id="wrapper">
#{include 'header_new.html' /}
  <div id="content">
  	<div id="main">
  		<span class="tabBody" style="border-radius:5px;padding: 20px; width: 650px;"><h3>${csrType} Questions and Answers</h3></span>
  		<div class="slide">
			<ul class="tabs">
				<li id="expertConvo" class="fst active"><a href="#">Expert Answers</a></li>
				<li id="recentConvo"><a href="#">Shared Experiences</a></li>
				<li id="openConvo"><a href="#">Unanswered Questions</a></li>
			</ul>
		</div>
		<div id="expertConvoTab" class="tabBody">
		   <ul id="expertConvoCnt">
		   </ul>
		   <ul>
		   	<li class="lastFeed">
		   		<a class="moreBtn" id="expertMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
		   	</li>
		   </ul>
		 </div>
		 <div id="recentConvoTab" class="tabBody" style="display:none;">
		<ul id="recentConvoCnt">
		   	</ul>
		   	<ul>
		   	<li class="lastFeed">
		   		<a class="moreBtn" id="recentMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
		   	</li>
		   </ul>
		 </div>
		 <div id="openConvoTab" class="tabBody" style="display:none;">
		 		<ul id="openConvoCnt"></ul>
		   	<ul>
		   	<li class="lastFeed">
		   		<a class="moreBtn" id="openMore"><img src="/public/images/index/see_more_btn.png" alt="see more" /></a>
		   	</li>
		   </ul>
		 </div>
		 <!-- 
        <div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
                <div class="mtcontent">
                  <div class="topipcWraper">
					<div class="cb"></div>
					<div class="topic">
						
						
	                      <div id="expertConvoContent" class="tabContent" style="display: none;">
							<div class="topic">
		                      <div class="newpage1">Expert Answers</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <!--mtinputbox-- >
		                      <div class="cb"></div>
		                      <div class="topic" >
			                      <div id="expertConvoDiv"> 
				                      <div id="expertConvoList"></div>
				                  </div>	
								  <div class="cb"></div>
							  </div>
		                      <!--newpageCover-- >
		                      <div class="cb"></div>
		                    </div> 
						</div>
	                      <div id="recentConvoContent" class="tabContent">	
							<div class="topic">
		                      <div class="newpage1">Shared Experiences</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
		                      	<div id="recentConvoDiv"> 
				                      <div id="recentConvoList">
				                      </div>
				                  </div>
							  <div class="cb"></div>
		                      </div> <!--newpageCover-- >
		                      <div class="cb"></div>
		                    </div> 
						</div>
						
						<div id="openConvoContent" class="tabContent" style="display: none;">
							<div class="topic">
		                      <div class="newpage1">Unanswered Questions</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic" >
							  <div id="openConvoDiv">		                      
			                      <div id="openConvoList">
			                      </div>
			                  </div>
									<div class="cb"></div>
								</div>  <!--newpageCover-- >
		                      <div class="cb"></div>
		                    </div> 
						</div>
	                    </div> 
                    <div class="cb"></div>
                  <div class="cb"></div>
                </div>
                <div class="cb"></div>
              </div>
              <div class="cb"></div>
          </div>
          <!--mtcover-- >
          <div class="cb"></div>
        </div>
        <div id="signupright"></div>
       
      </div>
    </div>
      -->
  </div>
  <div id="sidebar">
   #{ include 'right_new.html' /}
   </div>
  </div>
  </div>
<!-- Mask to cover the whole screen -->
<div id="mask"></div>