#{if type=="expertConvo"}
	<div id="expertConvoList">
		#{list items: expertConvos, as: 'convo' }
			#{convo/convoListItem convo: convo, talker: talker , type : type /}
		#{/list}
	</div>
	#{if expertConvos.size() == logic.FeedsLogic.FEEDS_PER_PAGE }
		<div class="replytommentbox" id="expertConvoBtn">
           <input type="submit" src="images/seemore.jpg" 
           	onclick="return loadMoreCommunityFeeds('expertConvo');" value=" " class="seemorecom" />
         </div>
	#{/if}
#{/if}

#{if type=="openConvo"}
	<div id="openConvoList">
	#{list items: openConvo, as: 'convo' }
		#{convo/openQuestion convo: convo, talker: talker /}
	#{/list}
	</div>
	#{if openConvo.size() == logic.FeedsLogic.FEEDS_PER_PAGE }
		<div class="replytommentbox" id="openConvoBtn">
           <input type="submit" src="images/seemore.jpg" 
           	onclick="return loadMoreCommunityFeeds('openConvo');" value=" " class="seemorecom" />
         </div>
	#{/if}
#{/if}

#{if type == "recentConvo"}
	<div id="recentConvoList">
		#{list items: recentConvo, as: 'convo' }
			#{convo/convoListItem convo: convo, talker: talker , type : type /}
		#{/list}
	</div>
	#{if recentConvo != null}
		#{if recentConvo.size() == logic.FeedsLogic.FEEDS_PER_PAGE }
			<div class="replytommentbox" id="recentConvoBtn">
				<input type="submit" src="images/seemore.jpg" onclick="return loadMoreCommunityFeeds('recentConvo');" value=" " class="seemorecom" />
			</div>
		#{/if}
	#{/if}
#{/if}