#{if type == 'expert'}
	#{list items: convoFeed, as: 'convo'}
	    <li id="${convo.comments.get(0).id}">
			<div class="varified"> 
				#{if convo.comments != null && convo.comments.size() > 0}
					#{talker/talkerImageLink size: 72, userName: convo.comments.get(0).fromTalker.name /}
				#{/if}
				#{else}
					#{talker/talkerImageLink size: 72, userName: convo.talker.name /}
				#{/else}
				#{if convo.comments.get(0).fromTalker.connectionVerified }
					<h4>Verified</h4>
				#{/if}
				#{else}
					<h4 class="not">Not Verified</h4>
				#{/else}
	        </div>
			<div  class="q">
				<h3 class="sub_heading">
					<a href="@{ViewDispatcher.view(convo.mainURL)}">${convo.topic}</a>
				</h3>
				<p class="disc">
					#{if convo.comments != null && convo.comments.size() > 0}
						${convo.comments.get(0).printThoughtOrAnswer()}
					#{/if}
				</p>
				<p class="by">
					New answer by 
					<span>#{if convo.comments != null && convo.comments.size() > 0}
						#{talker/talkerLink talker: convo.comments.get(0).fromTalker /}
					#{/if}
					#{else}
						#{talker/talkerLink talker: convo.talker /}
					#{/else}</span>
					#{if convo.comments != null && convo.comments.size() > 0}
						(${convo.comments.get(0).fromTalker.connection})
					#{/if}
					#{else}
						(#{talker/talkerLink talker: convo.talker /})
					#{/else}
				</p>
				<div class="ans">
					<img src="/public/images/index/chat_icon.png" alt="answers" />
	 				#{if !convo.comments || convo.comments?.size() == 0}
						<a href="@{ViewDispatcher.view(convo.mainURL)}#answers">0 Answer</a>  
					#{/if}
					#{else}
						<a href="@{ViewDispatcher.view(convo.mainURL)}#answers">${convo.comments?.size()} 
							Answer${convo.comments.pluralize()}</a>
					#{/else}
				</div>
				<div class="ans">	
					<img src="/public/images/index/timer_icon.png" alt="time" />
					#{if convo.comments != null && convo.comments.size() > 0}
						${convo.comments.get(0).time.since()}
					#{/if}
					#{else}
						${convo.creationDate.since()}
					#{/else}
				</div>
			</div>
		</li>
	#{/list}
#{/if}
#{elseif type == 'recent'}
	#{list items: convoFeed, as: 'convo'}
	    <li id="${convo.comments.get(0).id}">
			<div class="varified"> 
				#{if convo.comments != null && convo.comments.size() > 0}
					#{talker/talkerImageLink size: 72, userName: convo.comments.get(0).fromTalker.name /}
				#{/if}
				#{else}
					#{talker/talkerImageLink size: 72, userName: convo.talker.name /}
				#{/else}
			*{	#{if convo.comments.get(0).fromTalker.connectionVerified }
					<h4>Verified</h4>
				#{/if}
				#{else}
					<h4 class="not">Not Verified</h4>
				#{/else}	}*
	        </div>
			<div  class="q">
				<h3 class="sub_heading">
					<a href="@{ViewDispatcher.view(convo.mainURL)}">${convo.topic}</a>
				</h3>
				<p class="disc">
					#{if convo.comments != null && convo.comments.size() > 0}
						${convo.comments.get(0).printThoughtOrAnswer()}
					#{/if}
				</p>
				<p class="by">
					New answer by 
					<span>#{if convo.comments != null && convo.comments.size() > 0}
						#{talker/talkerLink talker: convo.comments.get(0).fromTalker /}
					#{/if}
					#{else}
						#{talker/talkerLink talker: convo.talker /}
					#{/else}</span>
					#{if convo.comments != null && convo.comments.size() > 0}
						(${convo.comments.get(0).fromTalker.connection})
					#{/if}
					#{else}
						(#{talker/talkerLink talker: convo.talker /})
					#{/else}
				</p>
				<div class="ans">
					<img src="/public/images/index/chat_icon.png" alt="answers" />
	 				#{if !convo.comments || convo.comments?.size() == 0}
						<a href="@{ViewDispatcher.view(convo.mainURL)}#answers">0 Answer</a>  
					#{/if}
					#{else}
						<a href="@{ViewDispatcher.view(convo.mainURL)}#answers">${convo.comments?.size()} 
							Answer${convo.comments.pluralize()}</a>
					#{/else}
				</div>
				<div class="ans">	
					<img src="/public/images/index/timer_icon.png" alt="time" />
					#{if convo.comments != null && convo.comments.size() > 0}
						${convo.comments.get(0).time.since()}
					#{/if}
					#{else}
						${convo.creationDate.since()}
					#{/else}
				</div>
			</div>
		</li>
	#{/list}
#{/elseif}
#{elseif type == 'open'}
	#{list items: convoFeed, as: 'convo'}
	    <li id="${convo.id}">
	    	<div class="varified"> 
				#{if convo.talker != null && convo.talker.name != null}
					#{talker/talkerImageLink size: 72, userName: convo.talker.name /}
				#{/if}
				#{if convo.talker.connectionVerified }
					<h4>Verified</h4>
				#{/if}
				#{elseif convo.talker.isProf() }
					<h4 class="not">Not Verified</h4>
				#{/elseif}
	        </div>
			<div  class="q">
				<h3 class="sub_heading">
					<a href="@{ViewDispatcher.view(convo.mainURL)}">${convo.topic}</a>
				</h3>
				<p class="disc"></p>
				<p class="by">${convo.getHtmlDetails(_talker != null).raw()}</p>
				<div class="ans">
					<img src="/public/images/index/chat_icon.png" alt="answers" />
	 				<a href="@{ViewDispatcher.view(convo.mainURL)}#answers">0 Answer</a>
				</div>
				<div class="ans">	
					<img src="/public/images/index/timer_icon.png" alt="time" />
					${convo.creationDate.since()}
				</div>
			</div>
	    </li>
	#{/list}
#{/elseif}