#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
	</style>
	
	<script type="text/javascript">
		$(document).ready(function() {
			makeAutocomplete("#convoText", "convo");
			
			$(".startLink").click(function() {
				return showStartConvoDialog("chat");
			});
		});
	</script>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
                #{if talker}
	                <div id="targetedtherapy">
	                  <div class="comh1">Ask a question or start a chat</div>
	                  <div class="comborder"></div>
	                </div>
	                <div class="topipcWraper">
	                  #{startConvoInput /}
	            #{/if}
	            #{else}
	            	<div class="topipcWraper">
	            #{/else}

                  <div class="convoPagesTitle">Live Community Chats (${liveTalks.size()})</div>
                    <div class="topicborder"></div>
                    <div class="cb"></div>
                    
                    <div class="topic conversationsList" style="padding-top: 5px;">
						#{list items: liveTalks, as: 'convo'}
							#{liveTalk convo: convo, talker: talker /}
						#{/list}
						#{else}
							#{if talker}
				                <a href="#" onclick="return showStartConvoDialog('chat')" 
				                	style="font-size: 14px;">Be the first to start a live chat.</a>
				            #{/if}
				            #{else}
				            	<span class="blacktext14"><a href="@{Application.signup()}">Join now</a> 
				            		to be the first to start a live chat.</span>
				            #{/else}
						#{/else}
						
                      <div class="replytommentbox1" style="display: none;">
                        <input type="submit" src="images/seemore.jpg" value=" " class="seemorecom" />
                      </div>

                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    
                    <span>
						<br/>
						<b>Note:</b> You must be a member of the community to join a live chat.
					</span>
					#{ notLoggedNotice /}

                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'liveTalks' /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>