#{extends 'main.html' /}
	<style type="text/css">
		body { background:transparent url(/public/images/inner_bgmt.gif) repeat-x scroll center top; }
		
		#innermiddlearea { padding-top: 10px }
		.seeall { padding-top: 20px }
		
		#mask { background-color:#e6e6e6; }
		
		.stylez2 {
			font-size:22px;
			color:#000000;
			clear:both;
			padding-top:5px;
			text-align:left;
			padding-bottom:4px;
		}
		.style2 {
			color: #000000
		}
	</style>
	
	<script type="text/javascript" src="/public/plugins/jquery.truncatable.js" ></script>
	<script type="text/javascript">
		var titleLimit = 150;
		
		$(document).ready(function() {
			makeAutocomplete("#convoText", "convo");
			
			$(".followConvoLink").live('click', function() {
				var convoId = $(this).attr("rel");
				if ($(this).html().indexOf("Unfollow") != -1) {
					$(this).html("Follow");
				}
				else {
					$(this).html("Unfollow");
				}
				$.post("@{Conversations.follow()}", 
	  				{ convoId: convoId},
	  				function(data) {
	  					//...
	  				}
	  			);
	  			return false;
			});

			$(".startLink").click(function(e) {
				$("#newConvoTypeConvo").attr("checked", "checked");
				
				$("#newConvoForm").show();
				$("#newQuestionConfirm").hide();
				$("#newTalkConfirm").hide();
				$("#newConvoTitle").val($("#convoText").val());
				showPopup("#startDialog", 350);
			});

			$('.moretext').truncatable({ limit: 160, more: '... more', less: true, hideText: '' });
		});
	</script>
		
<div id="managtopic1" style="background:url(/public/images/inner_bgmt.gif); background-repeat:repeat-x;">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="innermiddlearea">
          <div id="mtcover">
            <div id="mtleft">
              <div class="mtcontent">
                #{if talker}
	                <div id="targetedtherapy">
	                  <div class="comh1">Ask a question or start a talk</div>
	                  <div class="comborder"></div>
	                </div>
	                <div class="topipcWraper">
	                  #{startConvoInput /}
	            #{/if}
	            #{else}
	            	<div class="topipcWraper">
	            #{/else}

                  <div class="stylez2">Live Community Talks (${liveTalks.size()})</div>
                    <div class="topicborder"></div>
                    <!--mtinputbox-->

                    <div class="cb"></div>
                    <div class="topic conversationsList">
                    
						#{list items: liveTalks, as: 'convo'}
							#{liveTalk convo: convo, talker: talker /}
						#{/list}
						#{else}
							#{if talker}
				                <span class="blacktext14">Be the first to start a live talk.</span>
				            #{/if}
				            #{else}
				            	<span class="blacktext14"><a href="@{Application.signup()}">Join now</a> to be the first to start a live talk.</span>
				            #{/else}
						#{/else}
						
                      <div class="replytommentbox1" style="display: none;">
                        <input type="submit" src="images/seemore.jpg" value=" " class="seemorecom" />
                      </div>

                      <div class="cb"></div>
                    </div>
                    <!--topic-->
                    
                    <span>
						<br/>
						<b>Note:</b> You must be a member of the community to join a live talk.
					</span>
					#{ notLoggedNotice /}

                  <!--topic-->
                  <div class="cb"></div>
                </div>
                <!--topipcWraper-->
                <div class="cb"></div>
              </div>
              <!--mtcontent-->
              <div class="cb"></div>
            </div>
            <!--mtleft-->
            
            #{ set currentPage = 'liveTalks' /}
            #{ include 'right.html' /}
            
            <!--mtright-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>


<div id="boxes">
  <div id="dialog" class="window"> </div>
  
  #{popups/startConvo page: 'liveTalks' /}

  <div id="mask"></div>
</div>
