#{extends 'main.html' /}
	<style type="text/css">
		#innermiddlearea { padding-top: 10px }
		
		.diseaseLink{
			background-repeat: no-repeat;
		    color: #1425CD;
		    font-family: arial;
		    font-size: 16px;
		    font-weight: normal;
		    text-decoration: none;
		}
	</style>
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		var feedsPerPage = ${logic.FeedsLogic.FEEDS_PER_PAGE};
		var action = '${action}';
	
		$(document).ready(function() {
			initNewTabs();

   			if (action === 'popular') {
   	   			$("#popularConvo").click();
   			}else if (action === 'expert') {
   	   			$("#expertConvo").click();
   			}else if (action === 'open') {
   	   			$("#openConvo").click();
   			}

			$(".flagConvoLink").click(function() {
				flagType = "convo";
				flagId = $(this).attr("rel");
				showPopup("#flagPopup", 200);
			});


			$(".categoryLink").click(function() {
				$(".categoryLink").removeClass("currentcat");
				$(this).addClass("currentcat");

				var categoryId = $(this).attr("rel");
				$(".catbox2").hide();
				$("#children"+categoryId).show();
			});

			$(".root .category").click(function() {
				var childid = $(this).parent().next();
				if ($(childid).css("display") == "none") {
					$(childid).css("display", "block");
				}
				else {
					$(childid).css("display", "none");
				}
				if ($(this).hasClass("cat_close")) {
					$(this).removeClass("cat_close").addClass("cat_open");
				}
				else {
					$(this).removeClass("cat_open").addClass("cat_close");
				}

				return false;
			});
			
		});

	</script>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="targetedtherapy">

          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
                <div class="mtcontent" style="width: 942px;">
                  <div class="topipcWraper">
                  	<div class="newTabCover">
					  <div class="newActiveTab"><a href="#" id="diseases" class="tabLink">Diseases</a></div>
					  <div class="newTab"><a href="#" id="symptoms" class="tabLink">Symptoms</a></div>
					  <div class="newTab"><a href="#" id="medications" class="tabLink">Medications & Radiation Therapy</a></div>
					  <div class="newTab"><a href="#" id="procedures" class="tabLink">Procedures and Tests</a></div>
					  <div class="newTab"><a href="#" id="sideEffects" class="tabLink">Side Effects</a></div>
					  <div class="newTab"><a href="#" id="survivorship" class="tabLink">Survivorship</a></div>
					  <div class="newTab"><a href="#" id="mentalHealth" class="tabLink">Mental Health</a></div>
					  <div class="laborder"></div>
					</div>
					<div class="cb"></div>
					<div>
						<div id="diseasesContent" class="tabContent">	
							<div class="topic">
		                      <div class="newpage1">Cancers</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic" style="padding-top: 10px;">
		                      	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"> </div>
		                        
		                        <div class="newpage1">Breast Cancer</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>
		                      	<div class="topic"  style="padding-top: 10px;">
		                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="#" style="font-weight: bold;">Breast Cancer Types</a><br/>
	                        			<a class="diseaseLink" href="#">Invasive ductal carcinoma</a><br/>
	                        			<a class="diseaseLink" href="#">Invasive lobular carcinoma</a><br/>
	                        			<a class="diseaseLink" href="#">Ductal carcinoma in situ (DCIS)</a><br/>
	                        			<a class="diseaseLink" href="#">Lobular carcinoma in situ (LCIS)</a><br/>
	                        			<a class="diseaseLink" href="#">Medullary carcinoma</a><br/>
	                        			<a class="diseaseLink" href="#">Inflammatory breast cancer</a><br/>
	                        			<a class="diseaseLink" href="#">Mucinous carcinoma</a><br/>
	                        			<a class="diseaseLink" href="#">Paget's disease</a><br/>
	                        			<a class="diseaseLink" href="#">Papillary carcinoma</a><br/>
	                        			<a class="diseaseLink" href="#">Phyllodes tumor</a><br/>
	                        			<a class="diseaseLink" href="#">Tubular carcinomas</a><br/>
	                        			<a class="diseaseLink" href="#">Metaplastic tumors</a><br/>
	                        			<a class="diseaseLink" href="#">Adenoid cystic carcinomas</a><br/>
	                        			<a class="diseaseLink" href="#">Angiosarcoma</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="#" style="font-weight: bold;">Breast Cancer Sub-Types</a><br/>
	                        			<a class="diseaseLink" href="#">ER+</a><br/>
	                        			<a class="diseaseLink" href="#">PR+</a><br/>
	                        			<a class="diseaseLink" href="#">Her2+</a><br/>
	                        			<a class="diseaseLink" href="#">Triple Negative</a><br/>
	                        			<a class="diseaseLink" href="#">Basal Like</a><br/>
	                        			<a class="diseaseLink" href="#">Luminal A</a><br/>
	                        			<a class="diseaseLink" href="#">Luminal B</a><br/><br/>
	                        			<a class="diseaseLink" href="#" style="font-weight: bold; margin-top: 5px;">Breast Cancer Risk Factors</a><br/><br/>
	                        			<a class="diseaseLink" href="#" style="font-weight: bold; margin-top: 5px;">Breast Cancer Genetic Risk</a><br/>
	                        			<a class="diseaseLink" href="#">BRCA-1 / BRCA-2</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="#" style="font-weight: bold;">Breast Cancer Recurrence</a><br/><br/>
	                        			<a class="diseaseLink" href="#" style="font-weight: bold;">Breast Cancer Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Mammogram</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Self-Exam</a><br/><br/>
	                        			<a class="diseaseLink" href="#" style="font-weight: bold;">Breast Cancer Staging</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 0 (DCIS)</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 0 (LCIS)</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 1</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 2</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 3</a><br/>
	                        			<a class="diseaseLink" href="#">Stage 4</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"> </div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="symptomsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Symptoms</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
		                      			<div class="cath11">
											<a style="color: rgb(20, 37, 205);" href="/symptoms">Symptoms(4)</a>
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/allergic-reaction-symptoms' class='diseaseLink'>Allergic Reaction Symptoms</a><br />
											<a href='/breast-cancer-symptoms' class='diseaseLink' style='font-weight: bold;'>Breast Cancer Symptoms</a><br />
											<a href='/breast-dimpling' class='diseaseLink'>Breast Dimpling</a><br />
											<a href='/breast-discharge' class='diseaseLink'>Breast Discharge</a><br />
											<a href='/breast-puckering' class='diseaseLink'>Breast Puckering</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/breast-size-changes' class='diseaseLink'>Breast Size Changes</a><br />
											<a href='/cyst' class='diseaseLink'>Cyst</a><br />
											<a href='/lump-in-breast' class='diseaseLink'>Lump In Breast</a><br />
											<a href='/nipple-turned-inward-into-breast' class='diseaseLink'>Nipple Turned Inward Into Breast</a><br />
											<a href='/red-breast' class='diseaseLink'>Red Breast</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/scaly-breast' class='diseaseLink'>Scaly Breast</a><br />
											<a href='/swollen-skin' class='diseaseLink'>Swollen Skin</a><br />
											<a href='/chills' class='diseaseLink'>Chills</a><br />
											<a href='/cold-symptoms_2' class='diseaseLink'>Cold Symptoms</a><br /> 
										</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="medicationsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Medications & Radiation Therapy</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
										<div class="cath11">
											<a style="color: rgb(20, 37, 205);" href="/medications">Medications</a>
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
										<a href='/adjuvant-therapy' class='diseaseLink'>Adjuvant Therapy</a><br />
										<a href='/anti-fungal-treatments' class='diseaseLink' style='font-weight: bold;'>Anti-Fungal Treatments</a><br />
										<a href='/anti-fungal-cream' class='diseaseLink'>Anti-Fungal Cream</a><br />
										<a href='/aromatase-inhibitors' class='diseaseLink'>Aromatase Inhibitors</a><br />
										<a href='/breast-cancer-medications' class='diseaseLink'>Breast Cancer Medications</a><br />
										<a href='/chemo-medications' class='diseaseLink'>Chemo Medications</a><br />
										<a href='/chemotherapy' class='diseaseLink' style='font-weight: bold;'>Chemotherapy</a><br />
										<a href='/capecitabine-xeloda' class='diseaseLink'>Capecitabine (Xeloda)</a><br />
										<a href='/carboplatin-paraplatin' class='diseaseLink'>Carboplatin (Paraplatin)</a><br />
										<a href='/chemotherapy-experiences' class='diseaseLink'>Chemotherapy Experiences</a><br />
										<a href='/cyclophosphamide-cytoxan' class='diseaseLink'>Cyclophosphamide (Cytoxan)</a><br />
										<a href='/daunorubicin-cerubidine-daunoxome' class='diseaseLink'>Daunorubicin (Cerubidine/Daunoxome)</a><br />
										<a href='/docetaxel-taxotere' class='diseaseLink'>Docetaxel (Taxotere)</a><br />
										<a href='/doxorubicin-adriamycin-doxil' class='diseaseLink'>Doxorubicin (Adriamycin/Doxil)</a><br />
										<a href='/epirubicin-ellence' class='diseaseLink'>Epirubicin (Ellence)</a><br />
										<a href='/fluorouracil-adrucil' class='diseaseLink'>Fluorouracil (Adrucil)</a><br />
										<a href='/gemcitabine-gemzar' class='diseaseLink'>Gemcitabine (Gemzar)</a><br />
										<a href='/ixabepilone-ixempra' class='diseaseLink'>Ixabepilone (Ixempra)</a><br />
										<a href='/methotrexate-rheumatrex-trexall' class='diseaseLink'>Methotrexate (Rheumatrex/Trexall)</a><br />
										<a href='/mitoxantrone-novantrone' class='diseaseLink'>Mitoxantrone (Novantrone)</a><br />
										<a href='/paclitaxol-abraxane-taxol' class='diseaseLink'>Paclitaxol (Abraxane/Taxol)</a><br />
										<a href='/thiotepa-thioplex' class='diseaseLink'>Thiotepa (Thioplex)</a><br />
										<a href='/vincristine-oncovin-vincrex' class='diseaseLink'>Vincristine (Oncovin/Vincrex)</a><br />
										<a href='/vinorelbine-navelbine' class='diseaseLink'>Vinorelbine (Navelbine)</a><br />
										<a href='/chemotherapy-medications' class='diseaseLink'>Chemotherapy Medications</a><br />
										<a href='/chemotherapy-regimens' class='diseaseLink'>Chemotherapy Regimens</a><br />
										<a href='/constipation-medications' class='diseaseLink' style='font-weight: bold;'>Constipation Medications</a><br />
										<a href='/bowel-stimulants' class='diseaseLink' style='font-weight: bold;'>Bowel Stimulants</a><br />
										<a href='/bisacodyl-correctol-dulcolax' class='diseaseLink'>Bisacodyl (Correctol/Dulcolax)</a><br />
										<a href='/sennosides-senokot' class='diseaseLink'>Sennosides (Senokot)</a><br />
										<a href='/chloride-channel-activators' class='diseaseLink' style='font-weight: bold;'>Chloride Channel Activators</a><br />
										<a href='/lubiprostone-amitiza' class='diseaseLink'>Lubiprostone (Amitiza)</a><br />
										<a href='/hydrating-agents' class='diseaseLink' style='font-weight: bold;'>Hydrating Agents</a><br />
										<a href='/haley-s-mo' class='diseaseLink'>Haley's MO</a><br />
										<a href='/magnesium-citrate' class='diseaseLink'>Magnesium Citrate</a><br />
										<a href='/milk-of-magnesia' class='diseaseLink'>Milk Of Magnesia</a><br />
										<a href='/polyethylene-glycol-miralax' class='diseaseLink'>Polyethylene Glycol (Miralax)</a><br />
									</div>
									<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
										
										<a href='/osmotic-agents' class='diseaseLink' style='font-weight: bold;'>Osmotic Agents</a><br />
										<a href='/lactulose-cephulac' class='diseaseLink'>Lactulose (Cephulac)</a><br />
										<a href='/sorbitol' class='diseaseLink'>Sorbitol</a><br />
										<a href='/prucalopride-resolor' class='diseaseLink'>Prucalopride (Resolor)</a><br />
										<a href='/senna-plus' class='diseaseLink'>Senna Plus</a><br />
										<a href='/stool-softeners' class='diseaseLink' style='font-weight: bold;'>Stool Softeners</a><br />
										<a href='/docusate-colace-surfak' class='diseaseLink'>Docusate (Colace/Surfak)</a><br />
										<a href='/corn-starch' class='diseaseLink'>Corn Starch</a><br />
										<a href='/depression-medications' class='diseaseLink' style='font-weight: bold;'>Depression Medications</a><br />
										<a href='/amitriptyline-elavil-endep-vanatrip' class='diseaseLink'>Amitriptyline (Elavil/Endep/Vanatrip)</a><br />
										<a href='/bupropion-wellbutrin' class='diseaseLink'>Bupropion (Wellbutrin)</a><br />
										<a href='/citalopram-celexa' class='diseaseLink'>Citalopram (Celexa)</a><br />
										<a href='/duloxetine-cymbalta' class='diseaseLink'>Duloxetine (Cymbalta)</a><br />
										<a href='/excitalopram-lexapro' class='diseaseLink'>Excitalopram (Lexapro)</a><br />
										<a href='/fluoxetine-prozac' class='diseaseLink'>Fluoxetine (Prozac)</a><br />
										<a href='/imipramine-tofranil-tofranil-pm' class='diseaseLink'>Imipramine (Tofranil/Tofranil-PM)</a><br />
										<a href='/nortriptyline-aventyl-hcl-pamelor' class='diseaseLink'>Nortriptyline (Aventyl HCl/Pamelor)</a><br />
										<a href='/paroxetine-paxil-pexeva' class='diseaseLink'>Paroxetine (Paxil/Pexeva)</a><br />
										<a href='/sertraline-zoloft' class='diseaseLink'>Sertraline (Zoloft)</a><br />
										<a href='/venlafaxine-effexor' class='diseaseLink'>Venlafaxine (Effexor)</a><br />
										<a href='/diflucan' class='diseaseLink'>Diflucan</a><br />
										<a href='/drug-interactions' class='diseaseLink'>Drug Interactions</a><br />
										<a href='/estrogen-receptor-down-regulators' class='diseaseLink'>Estrogen Receptor Down Regulators</a><br />
										<a href='/estrogen-replacement-therapy' class='diseaseLink'>Estrogen Replacement Therapy</a><br />
										<a href='/fiber-supplements' class='diseaseLink' style='font-weight: bold;'>Fiber Supplements</a><br />
										<a href='/polycarbophil-fibercon' class='diseaseLink'>Polycarbophil (Fibercon)</a><br />
										<a href='/psyllium-metamucil' class='diseaseLink'>Psyllium (Metamucil)</a><br />
										<a href='/filgrastim' class='diseaseLink'>Filgrastim</a><br />
										<a href='/fluconazole' class='diseaseLink'>Fluconazole</a><br />
										<a href='/hormonal-therapy' class='diseaseLink' style='font-weight: bold;'>Hormonal Therapy</a><br />
										<a href='/exemestane-aromasin' class='diseaseLink'>Exemestane (Aromasin)</a><br />
										<a href='/fluoxymesterone-halotestin' class='diseaseLink'>Fluoxymesterone (Halotestin)</a><br />
										<a href='/fulvestrant-faslodex' class='diseaseLink'>Fulvestrant (Faslodex)</a><br />
										<a href='/goserelin-acetate-zoladex' class='diseaseLink'>Goserelin Acetate (Zoladex)</a><br />
										<a href='/letrozole-femara' class='diseaseLink'>Letrozole (Femara)</a><br />
										<a href='/leuprolide-lupron' class='diseaseLink'>Leuprolide (Lupron)</a><br />
									</div>
									<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
										
										
										<a href='/megestrol-megace' class='diseaseLink'>Megestrol (Megace)</a><br />
										<a href='/raloxifene-evista' class='diseaseLink'>Raloxifene (Evista)</a><br />
										<a href='/tamoxifen' class='diseaseLink' style='font-weight: bold;'>Tamoxifen</a><br />
										<a href='/tamoxifen-benefits' class='diseaseLink'>Tamoxifen Benefits</a><br />
										<a href='/tamoxifen-cases' class='diseaseLink'>Tamoxifen Cases</a><br />
										<a href='/tamoxifen-examples' class='diseaseLink'>Tamoxifen Examples</a><br />
										<a href='/tamoxifen-risks' class='diseaseLink'>Tamoxifen Risks</a><br />
										<a href='/toremifene-fareston' class='diseaseLink'>Toremifene (Fareston)</a><br />
										<a href='/triptorelin-trelstar' class='diseaseLink'>Triptorelin (Trelstar)</a><br />
										<a href='/hormonal-treatments' class='diseaseLink'>Hormonal Treatments</a><br />
										<a href='/hormone-replacement-therapy_1' class='diseaseLink'>Hormone Replacement Therapy</a><br />
										<a href='/lactinex' class='diseaseLink'>Lactinex</a><br />
										<a href='/laxatives' class='diseaseLink'>Laxatives</a><br />
										<a href='/mineral-oil' class='diseaseLink'>Mineral Oil</a><br />
										<a href='/mouth-wash' class='diseaseLink'>Mouth Wash</a><br />
										<a href='/neulasta' class='diseaseLink'>Neulasta</a><br />
										<a href='/neupogen' class='diseaseLink'>Neupogen</a><br />
										<a href='/nystatin' class='diseaseLink'>Nystatin</a><br />
										<a href='/ointments' class='diseaseLink'>Ointments</a><br />
										<a href='/pegfilgrastim' class='diseaseLink'>Pegfilgrastim</a><br />
										<a href='/pepto-bismol' class='diseaseLink'>Pepto-Bismol</a><br />
										<a href='/selective-estrogen-receptor-modulators' class='diseaseLink'>Selective Estrogen Receptor Modulators</a><br />
										<a href='/targeted-therapy' class='diseaseLink' style='font-weight: bold;'>Targeted Therapy</a><br />
										<a href='/bevacizumab-avastin' class='diseaseLink'>Bevacizumab (Avastin)</a><br />
										<a href='/lapatinib-tykerb' class='diseaseLink'>Lapatinib (Tykerb)</a><br />
										<a href='/trastuzumab-herceptin' class='diseaseLink'>Trastuzumab (Herceptin)</a><br />
										<a href='/topical-cream' class='diseaseLink' style='font-weight: bold;'>Topical Cream</a><br />
										<a href='/hydrocortisone-cream' class='diseaseLink'>Hydrocortisone Cream</a><br />
										<a href='/silvadene-cream' class='diseaseLink'>Silvadene Cream</a><br />
										<a href='/topical-oral-anesthetics' class='diseaseLink'>Topical Oral Anesthetics</a><br />
										<a href='/vaseline' class='diseaseLink'>Vaseline</a><br /> 
								</div>
		                      	<div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="proceduresContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Procedures and Tests</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
										<div class="cath11">
											<a style="color: rgb(20, 37, 205);" href="/procedures">Procedures</a>
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
												<a href='/biopsy' class='diseaseLink'>Biopsy</a><br />
												<a href='/cryotherapy' class='diseaseLink'>Cryotherapy</a><br />
												<a href='/radiation-therapy' class='diseaseLink' style='font-weight: bold;'>Radiation Therapy</a><br />
												<a href='/external-radiation' class='diseaseLink'>External Radiation</a><br />
												<a href='/internal-radiation' class='diseaseLink'>Internal Radiation</a><br />
												<a href='/radiation-therapy-experiences' class='diseaseLink'>Radiation Therapy Experiences</a><br />
												<a href='/surgery' class='diseaseLink' style='font-weight: bold;'>Surgery</a><br />
												<a href='/axillary-lymph-node-dissection-or-biopsy' class='diseaseLink'>Axillary Lymph Node Dissection Or Biopsy</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
												
												<a href='/breast-reconstruction' class='diseaseLink' style='font-weight: bold;'>Breast Reconstruction</a><br />
												<a href='/breast-reconstruction-experiences' class='diseaseLink'>Breast Reconstruction Experiences</a><br />
												<a href='/one-stage-immediate-reconstruction' class='diseaseLink'>One Stage Immediate Reconstruction</a><br />
												<a href='/tissue-flaps' class='diseaseLink'>Tissue Flaps</a><br />
												<a href='/two-stage-reconstruction' class='diseaseLink'>Two Stage Reconstruction</a><br />
												<a href='/lumpectomy' class='diseaseLink'>Lumpectomy</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
												<a href='/mastectomy' class='diseaseLink' style='font-weight: bold;'>Mastectomy</a><br />
												<a href='/modified-radical-mastectomy' class='diseaseLink'>Modified Radical Mastectomy</a><br />
												<a href='/partial-or-segmental-mastectomy' class='diseaseLink'>Partial or Segmental Mastectomy</a><br />
												<a href='/prophylactic-mastectomy' class='diseaseLink'>Prophylactic Mastectomy</a><br />
												<a href='/radical-mastectomy' class='diseaseLink'>Radical Mastectomy</a><br />
												<a href='/simple-or-total-mastectomy' class='diseaseLink'>Simple or Total Mastectomy</a><br />
												<a href='/prophylactic-ovary-removal' class='diseaseLink'>Prophylactic Ovary Removal</a><br />
												<a href='/sentinel-lymph-node-dissection-or-biopsy' class='diseaseLink'>Sentinel Lymph Node Dissection Or Biopsy</a><br />
										</div>		
		                      	 <div class="cb"></div>
		                      	 
										<div class="cath11">
											<a style="color: rgb(20, 37, 205);" href="/tests">Tests</a>
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/breast-cancer-tests' class='diseaseLink'>Breast Cancer Tests</a><br />
											<a href='/diagnosis' class='diseaseLink' style='font-weight: bold;'>Diagnosis</a><br />
											<a href='/blood-cell-counts' class='diseaseLink'>Blood Cell Counts</a><br />
											<a href='/blood-chemistries' class='diseaseLink'>Blood Chemistries</a><br />
											<a href='/blood-marker-tests' class='diseaseLink'>Blood Marker Tests</a><br />
											<a href='/bone-scan' class='diseaseLink'>Bone Scan</a><br />
											<a href='/breast-biopsy' class='diseaseLink' style='font-weight: bold;'>Breast Biopsy</a><br />
											<a href='/breast-biopsy-results' class='diseaseLink'>Breast Biopsy Results</a><br />
											<a href='/cat-scan-ct-computerized-tomography' class='diseaseLink'>CAT Scan (CT - Computerized Tomography)</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											
											<a href='/estrogen-receptor' class='diseaseLink'>Estrogen Receptor</a><br />
											<a href='/fish-test-fluorescence-in-situ-hybridization' class='diseaseLink'>FISH Test (Fluorescence in Situ Hybridization)</a><br />
											<a href='/her2-neu' class='diseaseLink'>Her2/neu</a><br />
											<a href='/ihc-tests-immunohistochemistry' class='diseaseLink'>IHC Tests (ImmunoHistoChemistry)</a><br />
											<a href='/mri-magnetic-resonance-imaging' class='diseaseLink'>MRI (Magnetic Resonance Imaging)</a><br />
											<a href='/pet-scan-positron-emission-tomography' class='diseaseLink'>PET Scan (Positron Emission Tomography)</a><br />
											<a href='/progesterone-receptor' class='diseaseLink'>Progesterone Receptor</a><br />
										</div>
										<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/spot-light-her2-cish' class='diseaseLink'>Spot-Light HER2 CISH</a><br />
											<a href='/ultrasound' class='diseaseLink'>Ultrasound</a><br />
											<a href='/x-ray' class='diseaseLink'>X-Ray</a><br />
											<a href='/monitoring' class='diseaseLink' style='font-weight: bold;'>Monitoring</a><br />
											<a href='/ca15-3' class='diseaseLink'>CA15-3</a><br />
											<a href='/dna-ploidy' class='diseaseLink'>DNA Ploidy</a><br />
											<a href='/ki-67-antigen' class='diseaseLink'>Ki-67 Antigen</a><br />
											<a href='/oncotype-dx' class='diseaseLink'>Oncotype DX</a><br />
											<a href='/test-results' class='diseaseLink' style='font-weight: bold;'>Test Results</a><br />
											<a href='/pathology-report' class='diseaseLink'>Pathology Report</a><br /> 
							  			</div>	
							  </div>		                      
		                      
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="sideEffectsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Side Effects</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
										<div class="cath11">
											<a style="color: rgb(20, 37, 205);" href="/side-effects">Side Effects</a>
										</div>
											<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
												<a href='/abdominal-pain' class='diseaseLink'>Abdominal Pain</a><br />
												<a href='/aching' class='diseaseLink'>Aching</a><br />
												<a href='/addiction' class='diseaseLink'>Addiction</a><br />
												<a href='/allergic-reactions_1' class='diseaseLink'>Allergic Reactions</a><br />
												<a href='/anemia' class='diseaseLink'>Anemia</a><br />
												<a href='/angiodema' class='diseaseLink'>Angiodema</a><br />
												<a href='/anxiety' class='diseaseLink'>Anxiety</a><br />
												<a href='/appetite-changes' class='diseaseLink'>Appetite Changes</a><br />
												<a href='/arm-swelling' class='diseaseLink'>Arm Swelling</a><br />
												<a href='/armpit' class='diseaseLink'>Armpit</a><br />
												<a href='/back-pain' class='diseaseLink'>Back Pain</a><br />
												<a href='/bad-taste' class='diseaseLink'>Bad Taste</a><br />
												<a href='/blackness-in-mind' class='diseaseLink'>Blackness In Mind</a><br />
												<a href='/bleeding' class='diseaseLink'>Bleeding</a><br />
												<a href='/blood-clots' class='diseaseLink'>Blood Clots</a><br />
												<a href='/blood-in-urine' class='diseaseLink'>Blood In Urine</a><br />
												<a href='/bone-pain' class='diseaseLink'>Bone Pain</a><br />
												<a href='/bowel-disorder' class='diseaseLink'>Bowel Disorder</a><br />
												<a href='/bowel-obstruction' class='diseaseLink'>Bowel Obstruction</a><br />
												<a href='/breathing-problems' class='diseaseLink'>Breathing Problems</a><br />
												<a href='/bruising' class='diseaseLink'>Bruising</a><br />
												<a href='/burning' class='diseaseLink'>Burning</a><br />
												<a href='/burning-sensation' class='diseaseLink'>Burning Sensation</a><br />
												<a href='/burning-urine' class='diseaseLink'>Burning Urine</a><br />
												<a href='/chemo-side-effects' class='diseaseLink'>Chemo Side Effects</a><br />
												<a href='/chemo-brain_1' class='diseaseLink'>Chemo brain</a><br />
												<a href='/chemo-brain' class='diseaseLink'>Chemo-brain</a><br />
												<a href='/chemotherapy-side-effects' class='diseaseLink'>Chemotherapy Side Effects</a><br />
												<a href='/chemotherapy-induced-amenorrhea' class='diseaseLink'>Chemotherapy-induced Amenorrhea</a><br />
												<a href='/chest-pain' class='diseaseLink'>Chest Pain</a><br />
												<a href='/chronic-side-effects' class='diseaseLink'>Chronic Side Effects</a><br />
												<a href='/conjunctivitis' class='diseaseLink'>Conjunctivitis</a><br />
												<a href='/constipation' class='diseaseLink'>Constipation</a><br />
												<a href='/coughing' class='diseaseLink'>Coughing</a><br />
												<a href='/dehydration' class='diseaseLink'>Dehydration</a><br />
												<a href='/delayed-wound-healing' class='diseaseLink'>Delayed Wound Healing</a><br />
												<a href='/depression' class='diseaseLink'>Depression</a><br />
												<a href='/desquamating-erythema-of-the-palms' class='diseaseLink'>Desquamating Erythema Of The Palms</a><br />
												<a href='/desquamation' class='diseaseLink'>Desquamation</a><br />
												<a href='/diarrhea' class='diseaseLink'>Diarrhea</a><br />
												<a href='/difficulty-sleeping' class='diseaseLink'>Difficulty Sleeping</a><br />
												<a href='/discomfort' class='diseaseLink'>Discomfort</a><br />
												<a href='/dry-heaving' class='diseaseLink'>Dry Heaving</a><br />
												<a href='/dry-mouth' class='diseaseLink'>Dry Mouth</a><br />
												<a href='/dry-skin' class='diseaseLink'>Dry Skin</a><br />
												<a href='/edema' class='diseaseLink'>Edema</a><br />
												<a href='/electrolyte' class='diseaseLink'>Electrolyte</a><br />
												<a href='/endometriosis' class='diseaseLink'>Endometriosis</a><br />
												<a href='/erythema' class='diseaseLink'>Erythema</a><br />
												<a href='/excessive-lacrimation' class='diseaseLink'>Excessive Lacrimation</a><br />
												<a href='/extravastion' class='diseaseLink'>Extravastion</a><br />
												<a href='/eye-problems' class='diseaseLink'>Eye Problems</a><br />
												<a href='/fainting' class='diseaseLink'>Fainting</a><br />
												<a href='/fatigue' class='diseaseLink'>Fatigue</a><br />
												<a href='/fertility-issues' class='diseaseLink'>Fertility Issues</a><br />
												<a href='/fever' class='diseaseLink'>Fever</a><br />
												<a href='/flare-reaction' class='diseaseLink'>Flare Reaction</a><br />
												<a href='/flu-symptoms' class='diseaseLink'>Flu Symptoms</a><br />
												<a href='/fluid-retention' class='diseaseLink'>Fluid Retention</a><br />
												<a href='/forgetfulness' class='diseaseLink'>Forgetfulness</a><br />
												<a href='/gas-flatulence' class='diseaseLink'>Gas (Flatulence)</a><br />
												<a href='/gastrointestinal-tract-infections' class='diseaseLink'>Gastrointestinal Tract Infections</a><br />
												<a href='/hair-loss-and-changes' class='diseaseLink'>Hair Loss And Changes</a><br />
												<a href='/hand-foot-syndrome-hfs' class='diseaseLink'>Hand-Foot Syndrome (HFS)</a><br />
											</div>
											<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
												<a href='/headaches' class='diseaseLink'>Headaches</a><br />
												<a href='/hearing-problems' class='diseaseLink'>Hearing Problems</a><br />
												<a href='/heart-pounding' class='diseaseLink'>Heart Pounding</a><br />
												<a href='/heart-problems' class='diseaseLink'>Heart Problems</a><br />
												<a href='/heartburn' class='diseaseLink'>Heartburn</a><br />
												<a href='/heaving' class='diseaseLink'>Heaving</a><br />
												<a href='/hematologic' class='diseaseLink'>Hematologic</a><br />
												<a href='/hematoma-blood-build-up' class='diseaseLink'>Hematoma (Blood Build-Up)</a><br />
												<a href='/high-blood-pressure' class='diseaseLink'>High Blood Pressure</a><br />
												<a href='/high-cholesterol' class='diseaseLink'>High Cholesterol</a><br />
												<a href='/high-termperature' class='diseaseLink'>High Termperature</a><br />
												<a href='/hormonal-side-effects' class='diseaseLink'>Hormonal Side Effects</a><br />
												<a href='/hot-flashes' class='diseaseLink'>Hot Flashes</a><br />
												<a href='/hyperpigmentation-of-feet' class='diseaseLink'>Hyperpigmentation Of Feet</a><br />
												<a href='/hyperpigmentation-of-hands' class='diseaseLink'>Hyperpigmentation Of Hands</a><br />
												<a href='/hypersalivation' class='diseaseLink'>Hypersalivation</a><br />
												<a href='/imbalance' class='diseaseLink'>Imbalance</a><br />
												<a href='/increase-flow-of-mucous-secretions' class='diseaseLink'>Increase Flow Of Mucous Secretions</a><br />
												<a href='/increased-calcium' class='diseaseLink'>Increased Calcium</a><br />
												<a href='/infection' class='diseaseLink'>Infection</a><br />
												<a href='/infertility' class='diseaseLink'>Infertility</a><br />
												<a href='/injection-site-reaction' class='diseaseLink'>Injection Site Reaction</a><br />
												<a href='/insomnia' class='diseaseLink'>Insomnia</a><br />
												<a href='/itching' class='diseaseLink'>Itching</a><br />
												<a href='/jaw-pain' class='diseaseLink'>Jaw Pain</a><br />
												<a href='/joint-pain' class='diseaseLink'>Joint Pain</a><br />
												<a href='/kidney-problems' class='diseaseLink'>Kidney Problems</a><br />
												<a href='/lack-of-appetite' class='diseaseLink'>Lack Of Appetite</a><br />
												<a href='/late-side-effects' class='diseaseLink'>Late Side Effects</a><br />
												<a href='/leg-cramps' class='diseaseLink'>Leg Cramps</a><br />
												<a href='/lethargy' class='diseaseLink'>Lethargy</a><br />
												<a href='/leukopenia' class='diseaseLink'>Leukopenia</a><br />
												<a href='/lightheadedness' class='diseaseLink'>Lightheadedness</a><br />
												<a href='/liver-problems' class='diseaseLink'>Liver Problems</a><br />
												<a href='/loose-bowels_2' class='diseaseLink'>Loose Bowels</a><br />
												<a href='/loose-stools' class='diseaseLink'>Loose Stools</a><br />
												<a href='/loss-of-libido' class='diseaseLink'>Loss Of Libido</a><br />
												<a href='/low-blood-pressure' class='diseaseLink'>Low Blood Pressure</a><br />
												<a href='/low-red-blood-cell-count' class='diseaseLink'>Low Red Blood Cell Count</a><br />
												<a href='/low-termperature' class='diseaseLink'>Low Termperature</a><br />
												<a href='/low-white-blood-cell-count' class='diseaseLink'>Low White Blood Cell Count</a><br />
												<a href='/lung-problems' class='diseaseLink'>Lung Problems</a><br />
												<a href='/lymph-infection' class='diseaseLink'>Lymph Infection</a><br />
												<a href='/lymphedema' class='diseaseLink'>Lymphedema</a><br />
												<a href='/memory-loss' class='diseaseLink'>Memory Loss</a><br />
												<a href='/menopausal-symptoms' class='diseaseLink'>Menopausal Symptoms</a><br />
												<a href='/metallic-taste' class='diseaseLink'>Metallic Taste</a><br />
												<a href='/mood-swings' class='diseaseLink'>Mood Swings</a><br />
												<a href='/mouth-discomfort' class='diseaseLink'>Mouth Discomfort</a><br />
												<a href='/mouth-infection' class='diseaseLink'>Mouth Infection</a><br />
												<a href='/mouth-sores' class='diseaseLink'>Mouth Sores</a><br />
												<a href='/mouth-ulcers' class='diseaseLink'>Mouth Ulcers</a><br />
												<a href='/mucositis' class='diseaseLink'>Mucositis</a><br />
												<a href='/nail-changes' class='diseaseLink'>Nail Changes</a><br />
												<a href='/nausea' class='diseaseLink'>Nausea</a><br />
												<a href='/nervous-system-numbness' class='diseaseLink'>Nervous System Numbness</a><br />
												<a href='/neuropathy' class='diseaseLink'>Neuropathy</a><br />
												<a href='/neurotoxicity' class='diseaseLink'>Neurotoxicity</a><br />
												<a href='/neutropenia' class='diseaseLink'>Neutropenia</a><br />
												<a href='/night-sweats' class='diseaseLink'>Night Sweats</a><br />
												<a href='/not-hungry' class='diseaseLink'>Not Hungry</a><br />
												<a href='/numbness' class='diseaseLink'>Numbness</a><br />
												<a href='/ocular-disturbances' class='diseaseLink'>Ocular Disturbances</a><br />
												<a href='/oral-infection' class='diseaseLink'>Oral Infection</a><br />
											</div>
											<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
											<a href='/oral-inflammation' class='diseaseLink'>Oral Inflammation</a><br />
												<a href='/oral-sores' class='diseaseLink'>Oral Sores</a><br />
												<a href='/osteonecrosis-of-the-jaw' class='diseaseLink'>Osteonecrosis Of The Jaw</a><br />
												<a href='/osteoporosis-bone-loss' class='diseaseLink'>Osteoporosis (Bone Loss)</a><br />
												<a href='/ptsd-post-traumatic-stress-disorder' class='diseaseLink'>PTSD (Post-Traumatic Stress Disorder)</a><br />
												<a href='/pain' class='diseaseLink'>Pain</a><br />
												<a href='/petechiae' class='diseaseLink'>Petechiae</a><br />
												<a href='/phantom-breast-pain' class='diseaseLink'>Phantom Breast Pain</a><br />
												<a href='/phlebitis' class='diseaseLink'>Phlebitis</a><br />
												<a href='/photophobia' class='diseaseLink'>Photophobia</a><br />
												<a href='/pitting-of-nails' class='diseaseLink'>Pitting of nails</a><br />
												<a href='/pruritis' class='diseaseLink'>Pruritis</a><br />
												<a href='/pyrexia' class='diseaseLink'>Pyrexia</a><br />
												<a href='/radiation-burn' class='diseaseLink'>Radiation Burn</a><br />
												<a href='/radiation-side-effects' class='diseaseLink'>Radiation Side Effects</a><br />
												<a href='/red-spots' class='diseaseLink'>Red Spots</a><br />
												<a href='/red-tissue' class='diseaseLink'>Red Tissue</a><br />
												<a href='/redness' class='diseaseLink'>Redness</a><br />
												<a href='/rhinorrhea' class='diseaseLink'>Rhinorrhea</a><br />
												<a href='/runny-nose' class='diseaseLink'>Runny Nose</a><br />
												<a href='/sadness' class='diseaseLink'>Sadness</a><br />
												<a href='/scar-contraction' class='diseaseLink'>Scar Contraction</a><br />
												<a href='/scar-tissue-formation' class='diseaseLink'>Scar Tissue Formation</a><br />
												<a href='/scarring' class='diseaseLink'>Scarring</a><br />
												<a href='/seroma-fluid-build-up' class='diseaseLink'>Seroma (Fluid Build-Up)</a><br />
												<a href='/skin-blisters' class='diseaseLink'>Skin Blisters</a><br />
												<a href='/skin-damage' class='diseaseLink'>Skin Damage</a><br />
												<a href='/skin-discoloration' class='diseaseLink'>Skin Discoloration</a><br />
												<a href='/skin-flushing' class='diseaseLink'>Skin Flushing</a><br />
												<a href='/skin-sensitivity' class='diseaseLink'>Skin Sensitivity</a><br />
												<a href='/smell-changes' class='diseaseLink'>Smell Changes</a><br />
												<a href='/sore-throat' class='diseaseLink'>Sore Throat</a><br />
												<a href='/soreness' class='diseaseLink'>Soreness</a><br />
												<a href='/stomatitis' class='diseaseLink'>Stomatitis</a><br />
												<a href='/surgery-side-effects' class='diseaseLink'>Surgery Side Effects</a><br />
												<a href='/swallowing-problems' class='diseaseLink'>Swallowing Problems</a><br />
												<a href='/sweating' class='diseaseLink'>Sweating</a><br />
												<a href='/swelling' class='diseaseLink'>Swelling</a><br />
												<a href='/swelling-of-skin' class='diseaseLink'>Swelling Of Skin</a><br />
												<a href='/taste-changes' class='diseaseLink'>Taste Changes</a><br />
												<a href='/tear-duct-stenosis' class='diseaseLink'>Tear Duct Stenosis</a><br />
												<a href='/throat-sores' class='diseaseLink'>Throat Sores</a><br />
												<a href='/throbbing' class='diseaseLink'>Throbbing</a><br />
												<a href='/thrombocytopenia' class='diseaseLink'>Thrombocytopenia</a><br />
												<a href='/thrombocytosis' class='diseaseLink'>Thrombocytosis</a><br />
												<a href='/tingling-sensation' class='diseaseLink'>Tingling Sensation</a><br />
												<a href='/tiredness' class='diseaseLink'>Tiredness</a><br />
												<a href='/unable-to-get-up-in-the-morning' class='diseaseLink'>Unable To Get Up In The Morning</a><br />
												<a href='/unexplained-bleeding' class='diseaseLink'>Unexplained Bleeding</a><br />
												<a href='/upset-stomach' class='diseaseLink'>Upset Stomach</a><br />
												<a href='/urinary-tract-infection' class='diseaseLink'>Urinary Tract Infection</a><br />
												<a href='/urine-discoloration' class='diseaseLink'>Urine Discoloration</a><br />
												<a href='/vaginal-discharge' class='diseaseLink'>Vaginal Discharge</a><br />
												<a href='/vaginal-dryness' class='diseaseLink'>Vaginal Dryness</a><br />
												<a href='/vertigo' class='diseaseLink'>Vertigo</a><br />
												<a href='/vision-problems' class='diseaseLink'>Vision Problems</a><br />
												<a href='/vomiting' class='diseaseLink'>Vomiting</a><br />
												<a href='/weakness' class='diseaseLink'>Weakness</a><br />
												<a href='/weight-changes' class='diseaseLink'>Weight Changes</a><br />
												<a href='/wooziness' class='diseaseLink'>Wooziness</a><br />
												<a href='/wretching' class='diseaseLink'>Wretching</a><br />
												<a href='/yeast-infection' class='diseaseLink'>Yeast Infection</a><br />
										    </div>
										</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="survivorshipContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Survivorship</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
						<div id="mentalHealthContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Mental Health</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
					</div>
                    
                    <div class="cb"></div>
                  </div>
                  <!--topipcWraper-->

                  <div class="cb"></div>
                </div>
                <!--mtcontent-->
                
                <div class="cb"></div>
              </div>
              <!--mtleft-->
              
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>
  
<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/flag /}
</div>
<!-- Mask to cover the whole screen -->
<div id="mask"></div>    
