#{extends 'main.html' /}
	<style type="text/css">
		#innermiddlearea { padding-top: 10px }
		
		.diseaseLink{
		  	font-size: 14px;
	    	font-weight: normal;
		    line-height: 20px;
    		text-overflow: clip;
		}
		.newpage1 {
			padding-bottom:0px;
		}
		.joinborder {
		    height: 2px;
		}
	</style>
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			initNewTabs();
			if('${topic}' == 'life and everyday') {
				$("#lifeEveryday").click();
			} else if('${topic}' == 'risk') {
				$("#risks").click();
			} else if('${topic}' == 'treatments and side effect') {
				$("#treatments").click();
			} else if('${topic}' == 'symptoms and diagnosis') {
				$("#symptoms").click();
			} else if('${topic}' == 'survivorship') {
				$("#survivorship").click();
			}
		});
	</script>
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="targetedtherapy">
          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
                <div class="mtcontent" style="width: 942px;">
                  <div class="topipcWraper">
                  	<div class="newTabCover">
					  <div class="newActiveTab"><a href="#" id="diseases" class="tabLink">Diseases</a></div>
					  <div class="newTab"><a href="#" id="risks" class="tabLink">Risk, Screening, & Genetics</a></div>
					  <div class="newTab"><a href="#" id="symptoms" class="tabLink">Symptoms, Diagnosis, & Tests</a></div>
					  <div class="newTab"><a href="#" id="treatments" class="tabLink">Treatments & Side Effects</a></div>
					  <div class="newTab"><a href="#" id="lifeEveryday" class="tabLink">Life & Everyday</a></div>
					  <div class="newTab"><a href="#" id="survivorship" class="tabLink">Survivorship</a></div>
					  <div class="laborder"></div>
					</div>
					<div class="cb"></div>
					<div>
						<div id="diseasesContent" class="tabContent">	
							<div class="topic">
		                      <div class="newpage1">Cancers</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic" style="padding-top: 10px;">
		                      	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"> </div>
		                        
		                        <div class="newpage1">All Cancers</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>
		                      	<div class="topic"  style="padding-top: 10px;">
		                      		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	     	                   			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Risk & Screening</a><br/>
	                        			<a class="diseaseLink" href="/cancer-screening">Screening (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-prevention">Prevention (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-risk-factors">Risk Factors (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-genetics">Genetics (Cancer)</a><br/>
	                        		</div>
		                      	 	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Symptoms & Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="/cancer-symptoms">Symptoms (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-just-diagnosed">Just Diagnosed (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-diagnosis">Diagnosis (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-pathology">Pathology (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-staging">Staging (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-recurrence">Recurrence (Cancer)</a><br/>
										<a class="diseaseLink" href="/metastatic-cancer">Metastatic Cancer</a><br/>
	                        		</div>
	                        		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Treatment & Side Effects</a><br/>
	                        			<a class="diseaseLink" href="/cancer-medications">Medications (Cancer)</a><br/>
										<a class="diseaseLink" href="/cancer-surgery">Surgery (Cancer)</a><br/>
										<a class="diseaseLink" href="/radiation-therapy">Radiation Therapy (Cancer)</a><br/>
										<a class="diseaseLink" href="/chemotherapy">Chemotherapy</a><br/>
										<a class="diseaseLink" href="/biologic-therapy">Biologic Therapy</a><br/>
										<a class="diseaseLink" href="/hormonal-therapy">Hormonal Therapy</a><br/>
										<a class="diseaseLink" href="/complementary-and-alternative-medicine">Complementary & Alternative Medicine</a><br/>
										<a class="diseaseLink" href="/cancer-side-effects">Side Effects (Cancer)</a><br/>
	                        		</div>
	                        		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Survivorship</a><br/>
	                        			<a class="diseaseLink" href="/cancer-patient-experiences">Patient Experiences (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-patient-decisions">Patient Decisions (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-survivorship">Survivorship (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-emotional-support">Emotional Support (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-what-to-expect">What To Expect (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-mental-health">Mental Health (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-how-to-prepare">How To Prepare (Cancer)</a><br/>
	                        			<a class="diseaseLink" href="/cancer-next-steps">Next Steps (Cancer)</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"> </div>
		                      </div>
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="risksContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Risk</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-risk-factors">Risk Factors (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-risk-factors">Risk Factors (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-risk-factors">Risk Factors (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
		                    
		                    <div class="topic">
		                      <div class="newpage1">Screening</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-screening">Screening (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-screening">Screening (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-screening">Screening (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    <div class="topic">
		                      <div class="newpage1">Genetics</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-genetics">Genetics (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-genetics">Genetics (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-genetics">Genetics (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="symptomsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Symptoms</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-symptoms">Symptoms (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-symptoms">Symptoms (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-symptoms">Symptoms (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
		                    <div class="topic">
		                      <div class="newpage1">Diagnosis</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-diagnosis">Diagnosis (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-diagnosis">Diagnosis (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-diagnosis">Diagnosis (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>

		                    <div class="topic">
		                      <div class="newpage1">Staging</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-staging">Staging (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-staging">Staging (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-staging">Staging (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>

		                    <div class="topic">
		                      <div class="newpage1">Just Diagnosed</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-just-diagnosed">Just Diagnosed (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-just-diagnosed">Just Diagnosed (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-just-diagnosed">Just Diagnosed (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    
		                    <div class="topic">
		                      <div class="newpage1">Pathology</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-pathology">Pathology (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-pathology">Pathology (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-pathology">Pathology (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    
		                    <div class="topic">
		                      <div class="newpage1">Recurrence</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-recurrence">Recurrence (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-recurrence">Recurrence (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-recurrence">Recurrence (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>

						</div>
						<div id="treatmentsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Treatments</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    <div class="topic">
		                      <div class="newpage1">Side Effects</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="lifeEverydayContent" class="tabContent" style="display: none;">
							<div class="newpage1">Life & Everyday</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>	
							<div class="topic"  style="padding-top: 10px;">
	                      	 	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="/nutrition">Nutrition</a><br/>
	                        			<a class="diseaseLink" href="/health">Health</a><br/>
	                        			<a class="diseaseLink" href="/exercise">Exercise</a><br/>
	                        			<a class="diseaseLink" href="/beauty">Beauty</a><br/>
	                        		</div>
	                        		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="/skin">Skin</a><br/>
	                        			<a class="diseaseLink" href="/sex">Sex</a><br/>
	                        			<a class="diseaseLink" href="/intimacy">Intimacy</a><br/>
	                        			<a class="diseaseLink" href="/career">Career</a><br/>
	                        		</div>
	                        		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        			<a class="diseaseLink" href="/legal">Legal</a><br/>
	                        			<a class="diseaseLink" href="/insurance">Insurance</a><br/>
	                        			<a class="diseaseLink" href="/medical-debt">Medical Debt</a><br/>
	                        		</div>
	                        </div>
						</div>
						<div id="survivorshipContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Survivorship</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic" style="padding-top: 10px;">
		                      
								<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
	        	                			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
	    	                    			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
	            	            			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
	                	        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
	                    	   			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
	        	                			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
	    	                    			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
	            	            			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
	                	        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
		                        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
	        	                			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
	    	                    			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
	            	            			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
	                	        			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
	                        				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                      
	                        			
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
					</div>
                    <div class="cb"></div>
                  </div>
                  <!--topipcWraper-->

                  <div class="cb"></div>
                </div>
                <!--mtcontent-->
                <div class="cb"></div>
              </div>
              <!--mtleft-->
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>
        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>
<div id="boxes">
	<div id="dialog" class="window"></div>
	#{ popups/flag /}
</div>
<!-- Mask to cover the whole screen -->
<div id="mask"></div>