<div class="topic">
	<div class="newpage1">Medications</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-medications">Medications (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-medications">Medications (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-medications">Medications (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-medications">Medications (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-medications">Medications (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-medications">Medications (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-medications">Medications (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-medications">Medications (Kidney and Renal Cancer)</a><br/>
  			<a class="diseaseLink" href="/Larynx-Cancer-medications">Medications (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-medications">Medications (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-medications">Medications (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-medications">Medications (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-medications">Medications (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-medications">Medications (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-medications">Medications (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-medications">Medications (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-medications">Medications (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-medications">Medications (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-medications">Medications (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-medications">Medications (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-medications">Medications (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-medications">Medications (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-medications">Medications (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-medications">Medications (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-medications">Medications (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-medications">Medications (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-medications">Medications (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-medications">Medications (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Surgery</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-surgery">Surgery (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-surgery">Surgery (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-surgery">Surgery (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-surgery">Surgery (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-surgery">Surgery (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-surgery">Surgery (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-surgery">Surgery (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-surgery">Surgery (Kidney and Renal Cancer)</a><br/>
			<a class="diseaseLink" href="/Larynx-Cancer-surgery">Surgery (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-surgery">Surgery (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-surgery">Surgery (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-surgery">Surgery (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-surgery">Surgery (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-surgery">Surgery (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-surgery">Surgery (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-surgery">Surgery (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-surgery">Surgery (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-surgery">Surgery (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-surgery">Surgery (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-surgery">Surgery (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-surgery">Surgery (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-surgery">Surgery (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-surgery">Surgery (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-surgery">Surgery (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-surgery">Surgery (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-surgery">Surgery (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-surgery">Surgery (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-surgery">Surgery (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Oncology</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-oncology">Oncology (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-oncology">Oncology (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-oncology">Oncology (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-oncology">Oncology (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-oncology">Oncology (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-oncology">Oncology (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-oncology">Oncology (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-oncology">Oncology (Kidney and Renal Cancer)</a><br/>
			<a class="diseaseLink" href="/Larynx-Cancer-oncology">Oncology (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-oncology">Oncology (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-oncology">Oncology (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-oncology">Oncology (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-oncology">Oncology (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-oncology">Oncology (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-oncology">Oncology (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-oncology">Oncology (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-oncology">Oncology (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-oncology">Oncology (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-oncology">Oncology (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-oncology">Oncology (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-oncology">Oncology (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-oncology">Oncology (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-oncology">Oncology (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-oncology">Oncology (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-oncology">Oncology (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-oncology">Oncology (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-oncology">Oncology (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-oncology">Oncology (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Radiation Therapy</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-radiation-therapy">Radiation Therapy (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-radiation-therapy">Radiation Therapy (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-radiation-therapy">Radiation Therapy (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-radiation-therapy">Radiation Therapy (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-radiation-therapy">Radiation Therapy (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-radiation-therapy">Radiation Therapy (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-radiation-therapy">Radiation Therapy (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-radiation-therapy">Radiation Therapy (Kidney and Renal Cancer)</a><br/>
			<a class="diseaseLink" href="/Larynx-Cancer-radiation-therapy">Radiation Therapy (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-radiation-therapy">Radiation Therapy (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-radiation-therapy">Radiation Therapy (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-radiation-therapy">Radiation Therapy (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-radiation-therapy">Radiation Therapy (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-radiation-therapy">Radiation Therapy (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-radiation-therapy">Radiation Therapy (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-radiation-therapy">Radiation Therapy (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-radiation-therapy">Radiation Therapy (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-radiation-therapy">Radiation Therapy (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-radiation-therapy">Radiation Therapy (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-radiation-therapy">Radiation Therapy (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-radiation-therapy">Radiation Therapy (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-radiation-therapy">Radiation Therapy (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-radiation-therapy">Radiation Therapy (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-radiation-therapy">Radiation Therapy (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-radiation-therapy">Radiation Therapy (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-radiation-therapy">Radiation Therapy (Testicular Cancer)</a><br/>
 			<a class="diseaseLink" href="/Thyroid-Cancer-radiation-therapy">Radiation Therapy (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-radiation-therapy">Radiation Therapy (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Chemotherapy</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-chemotherapy">Chemotherapy (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-chemotherapy">Chemotherapy (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-chemotherapy">Chemotherapy (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-chemotherapy">Chemotherapy (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-chemotherapy">Chemotherapy (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-chemotherapy">Chemotherapy (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-chemotherapy">Chemotherapy (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-chemotherapy">Chemotherapy (Kidney and Renal Cancer)</a><br/>
			<a class="diseaseLink" href="/Larynx-Cancer-chemotherapy">Chemotherapy (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-chemotherapy">Chemotherapy (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-chemotherapy">Chemotherapy (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-chemotherapy">Chemotherapy (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-chemotherapy">Chemotherapy (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-chemotherapy">Chemotherapy (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-chemotherapy">Chemotherapy (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-chemotherapy">Chemotherapy (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-chemotherapy">Chemotherapy (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-chemotherapy">Chemotherapy (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-chemotherapy">Chemotherapy (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-chemotherapy">Chemotherapy (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-chemotherapy">Chemotherapy (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-chemotherapy">Chemotherapy (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-chemotherapy">Chemotherapy (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-chemotherapy">Chemotherapy (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-chemotherapy">Chemotherapy (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-chemotherapy">Chemotherapy (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-chemotherapy">Chemotherapy (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-chemotherapy">Chemotherapy (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Biologic Therapy</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-therapy">Biologic Therapy (Bladder and Urinary Cancer)</a><br/>
			<a class="diseaseLink" href="/Brain-Cancer-therapy">Biologic Therapy (Brain Cancer)</a><br/>
			<a class="diseaseLink" href="/Breast-Cancer-therapy">Biologic Therapy (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-therapy">Biologic Therapy (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-therapy">Biologic Therapy (Colon and Rectal Cancer)</a><br/>
			<a class="diseaseLink" href="/Esophagus-Cancer-therapy">Biologic Therapy (Esophagus Cancer)</a><br/>
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-therapy">Biologic Therapy (Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-therapy">Biologic Therapy (Kidney and Renal Cancer)</a><br/>
			<a class="diseaseLink" href="/Larynx-Cancer-therapy">Biologic Therapy (Larynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Leukemia-therapy">Biologic Therapy (Leukemia)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-therapy">Biologic Therapy (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-therapy">Biologic Therapy (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-therapy">Biologic Therapy (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-therapy">Biologic Therapy (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-therapy">Biologic Therapy (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-therapy">Biologic Therapy (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-therapy">Biologic Therapy (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-therapy">Biologic Therapy (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-therapy">Biologic Therapy (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-therapy">Biologic Therapy (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-therapy">Biologic Therapy (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-therapy">Biologic Therapy (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-therapy">Biologic Therapy (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-therapy">Biologic Therapy (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-therapy">Biologic Therapy (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-therapy">Biologic Therapy (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-therapy">Biologic Therapy (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-therapy">Biologic Therapy (Uterine and Endometrial Cancer)</a><br/>
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Hormonal Therapy</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
				<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-therapy">Hormonal Therapy (Bladder and Urinary Cancer)</a><br/>
				<a class="diseaseLink" href="/Brain-Cancer-therapy">Hormonal Therapy (Brain Cancer)</a><br/>
				<a class="diseaseLink" href="/Breast-Cancer-therapy">Hormonal Therapy (Breast Cancer)</a><br/>
				<a class="diseaseLink" href="/Cervical-Cancer-therapy">Hormonal Therapy (Cervical Cancer)</a><br/>
				<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-therapy">Hormonal Therapy (Colon and Rectal Cancer)</a><br/>
				<a class="diseaseLink" href="/Esophagus-Cancer-therapy">Hormonal Therapy (Esophagus Cancer)</a><br/>
				<a class="diseaseLink" href="/Hodgkin-Lymphoma-therapy">Hormonal Therapy (Hodgkin Lymphoma)</a><br/>
				<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-therapy">Hormonal Therapy (Kidney and Renal Cancer)</a><br/>
				<a class="diseaseLink" href="/Larynx-Cancer-therapy">Hormonal Therapy (Larynx Cancer)</a><br/>
				<a class="diseaseLink" href="/Leukemia-therapy">Hormonal Therapy (Leukemia)</a><br/>
		</div>
	   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
				<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-therapy">Hormonal Therapy (Liver and Intraheptic Cancer)</a><br/>
				<a class="diseaseLink" href="/Lung-Cancer-therapy">Hormonal Therapy (Lung Cancer)</a><br/>
				<a class="diseaseLink" href="/Melanoma-(Cutaneous)-therapy">Hormonal Therapy (Melanoma (Cutaneous))</a><br/>
				<a class="diseaseLink" href="/Melanoma-(Mucosal)-therapy">Hormonal Therapy (Melanoma (Mucosal))</a><br/>
				<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-therapy">Hormonal Therapy (Melanoma (Ocular or Uveal))</a><br/>
				<a class="diseaseLink" href="/Mesothelioma-therapy">Hormonal Therapy (Mesothelioma)</a><br/>
				<a class="diseaseLink" href="/Myeloma-therapy">Hormonal Therapy (Myeloma)</a><br/>
				<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-therapy">Hormonal Therapy (Non-Hodgkin Lymphoma)</a><br/>
				<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-therapy">Hormonal Therapy (Oral Cavity and Pharynx Cancer)</a><br/>
				<a class="diseaseLink" href="/Ovarian-Cancer-therapy">Hormonal Therapy (Ovarian Cancer)</a><br/>
		</div>
	   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
				<a class="diseaseLink" href="/Pancreatic-Cancer-therapy">Hormonal Therapy (Pancreatic Cancer)</a><br/>
				<a class="diseaseLink" href="/Prostate-Cancer-therapy">Hormonal Therapy (Prostate Cancer)</a><br/>
				<a class="diseaseLink" href="/Sarcoma-therapy">Hormonal Therapy (Sarcoma)</a><br/>
				<a class="diseaseLink" href="/Skin-Cancer-therapy">Hormonal Therapy (Skin Cancer)</a><br/>
				<a class="diseaseLink" href="/Stomach-Cancer-therapy">Hormonal Therapy (Stomach Cancer)</a><br/>
				<a class="diseaseLink" href="/Testicular-Cancer-therapy">Hormonal Therapy (Testicular Cancer)</a><br/>
				<a class="diseaseLink" href="/Thyroid-Cancer-therapy">Hormonal Therapy (Thyroid Cancer)</a><br/>
				<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-therapy">Hormonal Therapy (Uterine and Endometrial Cancer)</a><br/>
		</div>
    	<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Complementary & Alternative Medicine</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
  		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-complementary-medicine">Complementary & Alternative Medicine (Bladder and Urinary Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Brain-Cancer-complementary-medicine">Complementary & Alternative Medicine (Brain Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Breast-Cancer-complementary-medicine">Complementary & Alternative Medicine (Breast Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Cervical-Cancer-complementary-medicine">Complementary & Alternative Medicine (Cervical Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-complementary-medicine">Complementary & Alternative Medicine (Colon and Rectal Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Esophagus-Cancer-complementary-medicine">Complementary & Alternative Medicine (Esophagus Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-complementary-medicine">Complementary & Alternative Medicine (Hodgkin Lymphoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-complementary-medicine">Complementary & Alternative Medicine (Kidney and Renal Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Larynx-Cancer-complementary-medicine">Complementary & Alternative Medicine (Larynx Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Leukemia-complementary-medicine">Complementary & Alternative Medicine (Leukemia)</a><br/><!-- bluetext14-->
		</div>
   		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-complementary-medicine">Complementary & Alternative Medicine (Liver and Intraheptic Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Lung-Cancer-complementary-medicine">Complementary & Alternative Medicine (Lung Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-complementary-medicine">Complementary & Alternative Medicine (Melanoma (Cutaneous))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-complementary-medicine">Complementary & Alternative Medicine (Melanoma (Mucosal))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-complementary-medicine">Complementary & Alternative Medicine (Melanoma (Ocular or Uveal))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Mesothelioma-complementary-medicine">Complementary & Alternative Medicine (Mesothelioma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Myeloma-complementary-medicine">Complementary & Alternative Medicine (Myeloma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-complementary-medicine">Complementary & Alternative Medicine (Non-Hodgkin Lymphoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-complementary-medicine">Complementary & Alternative Medicine (Oral Cavity and Pharynx Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Ovarian-Cancer-complementary-medicine">Complementary & Alternative Medicine (Ovarian Cancer)</a><br/><!-- bluetext14-->
		</div>
   		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-complementary-medicine">Complementary & Alternative Medicine (Pancreatic Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Prostate-Cancer-complementary-medicine">Complementary & Alternative Medicine (Prostate Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Sarcoma-complementary-medicine">Complementary & Alternative Medicine (Sarcoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Skin-Cancer-complementary-medicine">Complementary & Alternative Medicine (Skin Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Stomach-Cancer-complementary-medicine">Complementary & Alternative Medicine (Stomach Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Testicular-Cancer-complementary-medicine">Complementary & Alternative Medicine (Testicular Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Thyroid-Cancer-complementary-medicine">Complementary & Alternative Medicine (Thyroid Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-complementary-medicine">Complementary & Alternative Medicine (Uterine and Endometrial Cancer)</a><br/><!-- bluetext14-->
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
 <div class="topic">
	<div class="newpage1">Side Effects</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
  		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-side-effects">Side Effects (Bladder and Urinary Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Brain-Cancer-side-effects">Side Effects (Brain Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Breast-Cancer-side-effects">Side Effects (Breast Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Cervical-Cancer-side-effects">Side Effects (Cervical Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-side-effects">Side Effects (Colon and Rectal Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Esophagus-Cancer-side-effects">Side Effects (Esophagus Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-side-effects">Side Effects (Hodgkin Lymphoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-side-effects">Side Effects (Kidney and Renal Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Larynx-Cancer-side-effects">Side Effects (Larynx Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Leukemia-side-effects">Side Effects (Leukemia)</a><br/><!-- bluetext14-->
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-side-effects">Side Effects (Liver and Intraheptic Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Lung-Cancer-side-effects">Side Effects (Lung Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-side-effects">Side Effects (Melanoma (Cutaneous))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-side-effects">Side Effects (Melanoma (Mucosal))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-side-effects">Side Effects (Melanoma (Ocular or Uveal))</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Mesothelioma-side-effects">Side Effects (Mesothelioma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Myeloma-side-effects">Side Effects (Myeloma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-side-effects">Side Effects (Non-Hodgkin Lymphoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-side-effects">Side Effects (Oral Cavity and Pharynx Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Ovarian-Cancer-side-effects">Side Effects (Ovarian Cancer)</a><br/><!-- bluetext14-->
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-side-effects">Side Effects (Pancreatic Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Prostate-Cancer-side-effects">Side Effects (Prostate Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Sarcoma-side-effects">Side Effects (Sarcoma)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Skin-Cancer-side-effects">Side Effects (Skin Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Stomach-Cancer-side-effects">Side Effects (Stomach Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Testicular-Cancer-side-effects">Side Effects (Testicular Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Thyroid-Cancer-side-effects">Side Effects (Thyroid Cancer)</a><br/><!-- bluetext14-->
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-side-effects">Side Effects (Uterine and Endometrial Cancer)</a><br/><!-- bluetext14-->
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>