<div class="topic">
	<div class="newpage1">Symptoms</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-symptoms">Symptoms (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-symptoms">Symptoms (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-symptoms">Symptoms (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-symptoms">Symptoms (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-symptoms">Symptoms (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-symptoms">Symptoms (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-symptoms">Symptoms (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-symptoms">Symptoms (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-symptoms">Symptoms (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-symptoms">Symptoms (Leukemia)</a><br />
		</div>
		<div
			style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-symptoms">Symptoms (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-symptoms">Symptoms (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-symptoms">Symptoms (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-symptoms">Symptoms (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-symptoms">Symptoms (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-symptoms">Symptoms (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-symptoms">Symptoms (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-symptoms">Symptoms (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-symptoms">Symptoms (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-symptoms">Symptoms (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-symptoms">Symptoms (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-symptoms">Symptoms (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-symptoms">Symptoms (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-symptoms">Symptoms (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-symptoms">Symptoms (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-symptoms">Symptoms (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-symptoms">Symptoms (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-symptoms">Symptoms (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Diagnosis</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-diagnosis">Diagnosis (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-diagnosis">Diagnosis (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-diagnosis">Diagnosis (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-diagnosis">Diagnosis (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-diagnosis">Diagnosis (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-diagnosis">Diagnosis (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-diagnosis">Diagnosis (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-diagnosis">Diagnosis (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-diagnosis">Diagnosis (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-diagnosis">Diagnosis (Leukemia)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-diagnosis">Diagnosis (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-diagnosis">Diagnosis (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-diagnosis">Diagnosis (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-diagnosis">Diagnosis (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-diagnosis">Diagnosis (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-diagnosis">Diagnosis (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-diagnosis">Diagnosis (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-diagnosis">Diagnosis (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-diagnosis">Diagnosis (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-diagnosis">Diagnosis (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-diagnosis">Diagnosis (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-diagnosis">Diagnosis (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-diagnosis">Diagnosis (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-diagnosis">Diagnosis (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-diagnosis">Diagnosis (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-diagnosis">Diagnosis (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-diagnosis">Diagnosis (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-diagnosis">Diagnosis (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Staging</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-staging">Staging (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-staging">Staging (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-staging">Staging (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-staging">Staging (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-staging">Staging (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-staging">Staging (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-staging">Staging (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-staging">Staging (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-staging">Staging (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-staging">Staging (Leukemia)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-staging">Staging (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-staging">Staging (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-staging">Staging (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-staging">Staging (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-staging">Staging (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-staging">Staging (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-staging">Staging (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-staging">Staging (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-staging">Staging (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-staging">Staging (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-staging">Staging (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-staging">Staging (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-staging">Staging (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-staging">Staging (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-staging">Staging (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-staging">Staging (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-staging">Staging (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-staging">Staging (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Just Diagnosed</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-just-diagnosed">Just Diagnosed (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-just-diagnosed">Just Diagnosed (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-just-diagnosed">Just Diagnosed (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-just-diagnosed">Just Diagnosed (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-just-diagnosed">Just Diagnosed (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-just-diagnosed">Just Diagnosed (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-just-diagnosed">Just Diagnosed (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-just-diagnosed">Just Diagnosed (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-just-diagnosed">Just Diagnosed (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-just-diagnosed">Just Diagnosed (Leukemia)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-just-diagnosed">Just Diagnosed (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-just-diagnosed">Just Diagnosed (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-just-diagnosed">Just Diagnosed (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-just-diagnosed">Just Diagnosed (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-just-diagnosed">Just Diagnosed (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-just-diagnosed">Just Diagnosed (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-just-diagnosed">Just Diagnosed (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-just-diagnosed">Just Diagnosed (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-just-diagnosed">Just Diagnosed (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-just-diagnosed">Just Diagnosed (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-just-diagnosed">Just Diagnosed (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-just-diagnosed">Just Diagnosed (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-just-diagnosed">Just Diagnosed (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-just-diagnosed">Just Diagnosed (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-just-diagnosed">Just Diagnosed (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-just-diagnosed">Just Diagnosed (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-just-diagnosed">Just Diagnosed (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-just-diagnosed">Just Diagnosed (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Pathology</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-pathology">Pathology (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-pathology">Pathology (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-pathology">Pathology (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-pathology">Pathology (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-pathology">Pathology (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-pathology">Pathology (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-pathology">Pathology (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-pathology">Pathology (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-pathology">Pathology (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-pathology">Pathology (Leukemia)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-pathology">Pathology (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-pathology">Pathology (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-pathology">Pathology (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-pathology">Pathology (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-pathology">Pathology (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-pathology">Pathology (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-pathology">Pathology (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-pathology">Pathology (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-pathology">Pathology (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-pathology">Pathology (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-pathology">Pathology (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-pathology">Pathology (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-pathology">Pathology (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-pathology">Pathology (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-pathology">Pathology (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-pathology">Pathology (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-pathology">Pathology (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-pathology">Pathology (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Recurrence</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-recurrence">Recurrence (Bladder and Urinary Cancer)</a><br />
			<a class="diseaseLink" href="/Brain-Cancer-recurrence">Recurrence (Brain Cancer)</a><br />
			<a class="diseaseLink" href="/Breast-Cancer-recurrence">Recurrence (Breast Cancer)</a><br />
			<a class="diseaseLink" href="/Cervical-Cancer-recurrence">Recurrence (Cervical Cancer)</a><br />
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-recurrence">Recurrence (Colon and Rectal Cancer)</a><br />
			<a class="diseaseLink" href="/Esophagus-Cancer-recurrence">Recurrence (Esophagus Cancer)</a><br />
			<a class="diseaseLink" href="/Hodgkin-Lymphoma-recurrence">Recurrence (Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-recurrence">Recurrence (Kidney and Renal Cancer)</a><br />
			<a class="diseaseLink" href="/Larynx-Cancer-recurrence">Recurrence (Larynx Cancer)</a><br />
			<a class="diseaseLink" href="/Leukemia-recurrence">Recurrence (Leukemia)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-recurrence">Recurrence (Liver and Intraheptic Cancer)</a><br />
			<a class="diseaseLink" href="/Lung-Cancer-recurrence">Recurrence (Lung Cancer)</a><br />
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-recurrence">Recurrence (Melanoma (Cutaneous))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-recurrence">Recurrence (Melanoma (Mucosal))</a><br />
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-recurrence">Recurrence (Melanoma (Ocular or Uveal))</a><br />
			<a class="diseaseLink" href="/Mesothelioma-recurrence">Recurrence (Mesothelioma)</a><br />
			<a class="diseaseLink" href="/Myeloma-recurrence">Recurrence (Myeloma)</a><br />
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-recurrence">Recurrence (Non-Hodgkin Lymphoma)</a><br />
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-recurrence">Recurrence (Oral Cavity and Pharynx Cancer)</a><br />
			<a class="diseaseLink" href="/Ovarian-Cancer-recurrence">Recurrence (Ovarian Cancer)</a><br />
		</div>
		<div style="width: 33%; display: inline-block; vertical-align: top; float: none;">
			<a class="diseaseLink" href="/Pancreatic-Cancer-recurrence">Recurrence (Pancreatic Cancer)</a><br />
			<a class="diseaseLink" href="/Prostate-Cancer-recurrence">Recurrence (Prostate Cancer)</a><br />
			<a class="diseaseLink" href="/Sarcoma-recurrence">Recurrence (Sarcoma)</a><br />
			<a class="diseaseLink" href="/Skin-Cancer-recurrence">Recurrence (Skin Cancer)</a><br />
			<a class="diseaseLink" href="/Stomach-Cancer-recurrence">Recurrence (Stomach Cancer)</a><br />
			<a class="diseaseLink" href="/Testicular-Cancer-recurrence">Recurrence (Testicular Cancer)</a><br />
			<a class="diseaseLink" href="/Thyroid-Cancer-recurrence">Recurrence (Thyroid Cancer)</a><br />
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-recurrence">Recurrence (Uterine and Endometrial Cancer)</a><br />
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>