<div class="topic">
  <div class="newpage1">Medications</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-medications">Medications (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>

<div class="topic">
  <div class="newpage1">Surgery</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-surgery">Surgery (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>

<div class="topic">
  <div class="newpage1">Oncology</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-oncology">Oncology (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-oncology">Oncology (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-oncology">Oncology (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>

<div class="topic">
  <div class="newpage1">Radiation Therapy</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-radiation-therapy">Radiation Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>

<div class="topic">
  <div class="newpage1">Chemotherapy</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-chemotherapy">Chemotherapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>
<div class="topic">
  <div class="newpage1">Biologic Therapy</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Biologic Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>
<div class="topic">
  <div class="newpage1">Hormonal Therapy</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  <div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-therapy">Hormonal Therapy (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>


<div class="topic">
  <div class="newpage1">Complementary & Alternative Medicine</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-complementary-medicine">Complementary & Alternative Medicine (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-complementary-medicine">Complementary & Alternative Medicine (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-complementary-medicine">Complementary & Alternative Medicine (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>

<div class="topic">
  <div class="newpage1">Side Effects</div>
  <div class="cb"></div>
  <div class="joinborder"></div>
  <div class="cb"></div>
  <div class="topic"  style="padding-top: 10px;">
  	<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList1 != null && diseaseList1.size() > 0}
   			#{list items: diseaseList1, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList2 != null && diseaseList2.size() > 0}
   			#{list items: diseaseList2, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
   	<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
   				<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-side-effects">Side Effects (${disease.name})</a><br/><!-- bluetext14-->
   			#{/list}
   		#{/if}
   	</div>
    <div class="cb"></div>
  </div>
  <div class="cb"></div>
</div>