<div class="topic">
	<div class="newpage1">Risk</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-risk-factors">Risk Factors (Bladder and Urinary Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Brain-Cancer-risk-factors">Risk Factors (Brain Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Breast-Cancer-risk-factors">Risk Factors (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-risk-factors">Risk Factors (Cervical Cancer)</a><br/>
<!-- 			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-risk-factors">Risk Factors (Colon and Rectal Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Esophagus-Cancer-risk-factors">Risk Factors (Esophagus Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Hodgkin-Lymphoma-risk-factors">Risk Factors (Hodgkin Lymphoma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-risk-factors">Risk Factors (Kidney and Renal Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Larynx-Cancer-risk-factors">Risk Factors (Larynx Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Leukemia-risk-factors">Risk Factors (Leukemia)</a><br/> -->
		</div>
   		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-risk-factors">Risk Factors (Liver and Intraheptic Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Lung-Cancer-risk-factors">Risk Factors (Lung Cancer)</a><br/>
<!-- 			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-risk-factors">Risk Factors (Melanoma (Cutaneous))</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Melanoma-(Mucosal)-risk-factors">Risk Factors (Melanoma (Mucosal))</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-risk-factors">Risk Factors (Melanoma (Ocular or Uveal))</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Mesothelioma-risk-factors">Risk Factors (Mesothelioma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Myeloma-risk-factors">Risk Factors (Myeloma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-risk-factors">Risk Factors (Non-Hodgkin Lymphoma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-risk-factors">Risk Factors (Oral Cavity and Pharynx Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Ovarian-Cancer-risk-factors">Risk Factors (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 		<a class="diseaseLink" href="/Pancreatic-Cancer-risk-factors">Risk Factors (Pancreatic Cancer)</a><br/>
			<a class="diseaseLink" href="/Prostate-Cancer-risk-factors">Risk Factors (Prostate Cancer)</a><br/>
			<a class="diseaseLink" href="/Sarcoma-risk-factors">Risk Factors (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-risk-factors">Risk Factors (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-risk-factors">Risk Factors (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-risk-factors">Risk Factors (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-risk-factors">Risk Factors (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-risk-factors">Risk Factors (Uterine and Endometrial Cancer)</a><br/>
 -->
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div> 
<div class="topic">
	<div class="newpage1">Screening</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-screening">Screening (Bladder and Urinary Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Brain-Cancer-screening">Screening (Brain Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Breast-Cancer-screening">Screening (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-screening">Screening (Cervical Cancer)</a><br/>
			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-screening">Screening (Colon and Rectal Cancer)</a><br/>
<!-- 			<a class="diseaseLink" href="/Esophagus-Cancer-screening">Screening (Esophagus Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Hodgkin-Lymphoma-screening">Screening (Hodgkin Lymphoma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-screening">Screening (Kidney and Renal Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Larynx-Cancer-screening">Screening (Larynx Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Leukemia-screening">Screening (Leukemia)</a><br/> -->
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-screening">Screening (Liver and Intraheptic Cancer)</a><br/>
			<a class="diseaseLink" href="/Lung-Cancer-screening">Screening (Lung Cancer)</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-screening">Screening (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-screening">Screening (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-screening">Screening (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-screening">Screening (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-screening">Screening (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-screening">Screening (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-screening">Screening (Oral Cavity and Pharynx Cancer)</a><br/>
			 -->
			<a class="diseaseLink" href="/Ovarian-Cancer-screening">Screening (Ovarian Cancer)</a><br/>
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Pancreatic-Cancer-screening">Screening (Pancreatic Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Prostate-Cancer-screening">Screening (Prostate Cancer)</a><br/>
<!-- 			<a class="diseaseLink" href="/Sarcoma-screening">Screening (Sarcoma)</a><br/>
			<a class="diseaseLink" href="/Skin-Cancer-screening">Screening (Skin Cancer)</a><br/>
			<a class="diseaseLink" href="/Stomach-Cancer-screening">Screening (Stomach Cancer)</a><br/>
			<a class="diseaseLink" href="/Testicular-Cancer-screening">Screening (Testicular Cancer)</a><br/>
			<a class="diseaseLink" href="/Thyroid-Cancer-screening">Screening (Thyroid Cancer)</a><br/>
			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-screening">Screening (Uterine and Endometrial Cancer)</a><br/>
		 -->
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Genetics</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic"  style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Bladder-and-Urinary-Cancer-genetics">Genetics (Bladder and Urinary Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Brain-Cancer-genetics">Genetics (Brain Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Breast-Cancer-genetics">Genetics (Breast Cancer)</a><br/>
			<a class="diseaseLink" href="/Cervical-Cancer-genetics">Genetics (Cervical Cancer)</a><br/>
<!-- 			<a class="diseaseLink" href="/Colon-and-Rectal-Cancer-genetics">Genetics (Colon and Rectal Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Esophagus-Cancer-genetics">Genetics (Esophagus Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Hodgkin-Lymphoma-genetics">Genetics (Hodgkin Lymphoma)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Kidney-and-Renal-Cancer-genetics">Genetics (Kidney and Renal Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Larynx-Cancer-genetics">Genetics (Larynx Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Leukemia-genetics">Genetics (Leukemia)</a><br/> -->
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Liver-and-Intraheptic-Cancer-genetics">Genetics (Liver and Intraheptic Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Lung-Cancer-genetics">Genetics (Lung Cancer)</a><br/>
<!--			<a class="diseaseLink" href="/Melanoma-(Cutaneous)-genetics">Genetics (Melanoma (Cutaneous))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Mucosal)-genetics">Genetics (Melanoma (Mucosal))</a><br/>
			<a class="diseaseLink" href="/Melanoma-(Ocular-or-Uveal)-genetics">Genetics (Melanoma (Ocular or Uveal))</a><br/>
			<a class="diseaseLink" href="/Mesothelioma-genetics">Genetics (Mesothelioma)</a><br/>
			<a class="diseaseLink" href="/Myeloma-genetics">Genetics (Myeloma)</a><br/>
			<a class="diseaseLink" href="/Non-Hodgkin-Lymphoma-genetics">Genetics (Non-Hodgkin Lymphoma)</a><br/>
			<a class="diseaseLink" href="/Oral-Cavity-and-Pharynx-Cancer-genetics">Genetics (Oral Cavity and Pharynx Cancer)</a><br/>
			<a class="diseaseLink" href="/Ovarian-Cancer-genetics">Genetics (Ovarian Cancer)</a><br/>
-->			
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
<!-- 			<a class="diseaseLink" href="/Pancreatic-Cancer-genetics">Genetics (Pancreatic Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Prostate-Cancer-genetics">Genetics (Prostate Cancer)</a><br/> -->
			<a class="diseaseLink" href="/Sarcoma-genetics">Genetics (Sarcoma)</a><br/>
<!-- 			<a class="diseaseLink" href="/Skin-Cancer-genetics">Genetics (Skin Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Stomach-Cancer-genetics">Genetics (Stomach Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Testicular-Cancer-genetics">Genetics (Testicular Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Thyroid-Cancer-genetics">Genetics (Thyroid Cancer)</a><br/> -->
<!-- 			<a class="diseaseLink" href="/Uterine-and-Endometrial-Cancer-genetics">Genetics (Uterine and Endometrial Cancer)</a><br/> -->
		</div>
		<div class="cb"></div>
	</div>
	<div class="cb"></div>
</div>