#{extends 'main.html' /}
	<style type="text/css">
		#innermiddlearea { padding-top: 10px }
		
		.diseaseLink{
			background-repeat: no-repeat;
		    color: #1425CD;
		    font-family: arial;
		    font-size: 16px;
		    font-weight: normal;
		    text-decoration: none;
		}
	</style>
	<script type="text/javascript" src="/public/plugins/jquery.inline-edit.js" ></script>
	<script type="text/javascript">

		$(document).ready(function() {
			initNewTabs();
			if('${topic}' == 'life and everyday') {
				$("#lifeEveryday").click();
			} else if('${topic}' == 'risk') {
				$("#risks").click();
			} else if('${topic}' == 'treatments and side effect') {
				$("#treatments").click();
			} else if('${topic}' == 'symptoms and diagnosis') {
				$("#symptoms").click();
			} else if('${topic}' == 'survivorship') {
				$("#survivorship").click();
			}
		});
	</script>
		
<div id="managtopic1">
  <div id="managtopic">
  	#{include 'header.html' /}
  	<div id="bottom_container">
      	<div class="haderbanner"><div id="innerbanner"></div></div>
        <div id="targetedtherapy">

          <div id="innermiddlearea">
            <div id="mtcover">
              <div id="mtleft">
                <div class="mtcontent" style="width: 942px;">
                  <div class="topipcWraper">
                  	<div class="newTabCover">
					  <div class="newActiveTab"><a href="#" id="diseases" class="tabLink">Diseases</a></div>
					  <div class="newTab"><a href="#" id="risks" class="tabLink">Risk, Screening, & Genetics</a></div>
					  <div class="newTab"><a href="#" id="symptoms" class="tabLink">Symptoms, Diagnosis, & Tests</a></div>
					  <div class="newTab"><a href="#" id="treatments" class="tabLink">Treatments & Side Effects</a></div>
					  <div class="newTab"><a href="#" id="lifeEveryday" class="tabLink">Life & Everyday</a></div>
					  <div class="newTab"><a href="#" id="survivorship" class="tabLink">Survivorship</a></div>
					  <div class="laborder"></div>
					</div>
					<div class="cb"></div>
					<div>
						<div id="diseasesContent" class="tabContent">	
							<div class="topic">
		                      <div class="newpage1">Cancers</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic" style="padding-top: 10px;">
		                      	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="/explore/${disease.name.convertToURL()}">${disease.name}</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"> </div>
		                        
		                        <div class="newpage1">All Cancers</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>
		                      	<div class="topic"  style="padding-top: 10px;">
		                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Patients & Survivors</a><br/>
	                        			<a class="diseaseLink" href="#">Patient Experiences</a><br/>
	                        			<a class="diseaseLink" href="#">Patient Decisions</a><br/>
	                        			<a class="diseaseLink" href="#">Survivorship</a><br/>
	                        			<a class="diseaseLink" href="#">Emotional Support</a><br/>
	                        			<a class="diseaseLink" href="#">Mental Health</a><br/><br/>
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Symptoms & Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Symptoms</a><br/>
	                        			<a class="diseaseLink" href="#">Just Diagnosed</a><br/>
	                        			<a class="diseaseLink" href="#">Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Pathology</a><br/>
	                        			<a class="diseaseLink" href="#">Staging</a><br/>
	                        			<a class="diseaseLink" href="#">Recurrence</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Treatment & Side Effects</a><br/>
	                        			<a class="diseaseLink" href="#">Medications</a><br/>
	                        			<a class="diseaseLink" href="#">Surgery</a><br/>
	                        			<a class="diseaseLink" href="#">Oncology</a><br/>
	                        			<a class="diseaseLink" href="#">Radiation Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Chemotherapy</a><br/>
	                        			<a class="diseaseLink" href="#">Hormonal Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Biologic Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Immunotherapy</a><br/>
	                        			<a class="diseaseLink" href="#">Complementary & Integrative Medicine</a><br/>
	                        			<a class="diseaseLink" href="#">Side Effects</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Life & Everyday</a><br/>
	                        			<a class="diseaseLink" href="#">Nutrition</a><br/>
	                        			<a class="diseaseLink" href="#">Health</a><br/>
	                        			<a class="diseaseLink" href="#">Exercise and Fitness</a><br/>
	                        			<a class="diseaseLink" href="#">Skin & Beauty</a><br/>
	                        			<a class="diseaseLink" href="#">Sex & Intimacy</a><br/>
	                        			<a class="diseaseLink" href="#">Career & Employment</a><br/>
	                        			<a class="diseaseLink" href="#">Legal</a><br/>
	                        			<a class="diseaseLink" href="#">Insurance</a><br/>
	                        			<a class="diseaseLink" href="#">Medical Debt</a><br/><br/>
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Risk & Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Risk Factors</a><br/>
	                        			<a class="diseaseLink" href="#">Genetics</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"> </div>
		                        <!-- 
		                        <div class="newpage1">Breast Cancer</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>

		                      	<div class="topic"  style="padding-top: 10px;">
		                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Breast Cancer Patients & Survivors</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Patient Experiences</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Patient Decisions</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Survivorship</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Emotional Support</a><br/>
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Breast Cancer Symptoms & Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Symptoms</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Just Diagnosed</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Pathology</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Staging</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Recurrence</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Breast Cancer Treatment & Side Effects</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Medications</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Surgery</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Oncology</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Radiation Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Chemotherapy</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Hormonal Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Side Effects</a><br/>
	                        		</div>

	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Breast Cancer Risk & Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Risk Factors</a><br/>
	                        			<a class="diseaseLink" href="#">Breast Cancer Genetics</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"> </div>
		                        
		                        <div class="newpage1">Lung Cancer</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>

		                      	<div class="topic"  style="padding-top: 10px;">
		                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Lung Cancer Patients & Survivors</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Patient Experiences</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Patient Decisions</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Survivorship</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Emotional Support</a><br/>
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Lung Cancer Symptoms & Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Symptoms</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Just Diagnosed</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Pathology</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Staging</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Recurrence</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Lung Cancer Treatment & Side Effects</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Medications</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Surgery</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Oncology</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Radiation Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Chemotherapy</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Hormonal Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Side Effects</a><br/>
	                        		</div>

	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Lung Cancer Risk & Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Risk Factors</a><br/>
	                        			<a class="diseaseLink" href="#">Lung Cancer Genetics</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"> </div>
		                        
		                        <div class="newpage1">Melanoma</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>

		                      	<div class="topic"  style="padding-top: 10px;">
		                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Melanoma Patients & Survivors</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Patient Experiences</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Patient Decisions</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Survivorship</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Emotional Support</a><br/>
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Melanoma Symptoms & Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Symptoms</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Just Diagnosed</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Diagnosis</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Pathology</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Staging</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Recurrence</a><br/>
	                        		</div>
	                        		
	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Melanoma Treatment & Side Effects</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Medications</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Surgery</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Oncology</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Radiation Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Chemotherapy</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Hormonal Therapy</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Side Effects</a><br/>
	                        		</div>

	                        		<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        			<a href="#" style="font-weight: bold; color: black; font-size: 15px;">Melanoma Risk & Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Screening</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Risk Factors</a><br/>
	                        			<a class="diseaseLink" href="#">Melanoma Genetics</a><br/>
	                        		</div>
		                      	</div>
		                        <div class="cb"></div>
		                       -->
		                      </div>
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="risksContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Risk</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Risk Factors</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Risk Factors</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Risk Factors</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
		                    
		                    <div class="topic">
		                      <div class="newpage1">Screening</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Screening</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Screening</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Screening</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    
		                    <div class="topic">
		                      <div class="newpage1">Genetics</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Genetics</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Genetics</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Genetics</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="symptomsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Symptoms</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Symptoms</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Symptoms</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Symptoms</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
		                    
		                    <div class="topic">
		                      <div class="newpage1">Diagnosis</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Diagnosis</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Diagnosis</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Diagnosis</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
		                    
		                    <div class="topic">
		                      <div class="newpage1">Tests</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Tests</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Tests</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Tests</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="treatmentsContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Treatments</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Treatments</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Treatments</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Treatments</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
		                    
		                    <div class="topic">
		                      <div class="newpage1">Side Effects</div>
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>

		                      <div class="topic"  style="padding-top: 10px;">
		                      <div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList1 != null && diseaseList1.size() > 0}
	                        			#{list items: diseaseList1, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Side Effects</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList2 != null && diseaseList2.size() > 0}
	                        			#{list items: diseaseList2, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Side Effects</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
	                        	<div style="width: 290px;display: inline-block; vertical-align: top;float: none;">
	                        		#{if diseaseList3 != null && diseaseList3.size() > 0}
	                        			#{list items: diseaseList3, as: 'disease'}
	                        				<a class="diseaseLink" href="#">${disease.name} Side Effects</a><br/><!-- bluetext14-->
	                        			#{/list}
	                        		#{/if}
	                        	</div>
		                        <div class="cb"></div>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div>
						</div>
						<div id="lifeEverydayContent" class="tabContent" style="display: none;">
							<div class="newpage1">Life & Everyday</div>
		                        <div class="cb"></div>
		                      	<div class="joinborder"></div>
		                      	<div class="cb"></div>	
							<div class="topic"  style="padding-top: 10px;">
	                      	 	<div style="width: 290px; display: inline-block; vertical-align: top;float: none;">
                        			<a class="diseaseLink" href="#">Nutrition</a><br/>
                        			<a class="diseaseLink" href="#">Health</a><br/>
                        			<a class="diseaseLink" href="#">Exercise & Fitness</a><br/>
                        			<a class="diseaseLink" href="#">Skin & Beauty</a><br/>
                        			<a class="diseaseLink" href="#">Career & Employment</a><br/>
                        			<a class="diseaseLink" href="#">Legal</a><br/>
                        			<a class="diseaseLink" href="#">Insurance</a><br/>
                        			<a class="diseaseLink" href="#">Medical Debt</a><br/>
                        		</div>
	                        </div>
						</div>
						<div id="survivorshipContent" class="tabContent" style="display: none;">	
							<div class="topic">
		                      <div class="newpage1">Survivorship</div>
		
		                      <div class="cb"></div>
		                      <div class="joinborder"></div>
		                      <div class="cb"></div>
		                      <div class="topic">
		                        <a class="diseaseLink" href="#">Survivorship</a><br/>
		                      </div>
		                      <!--newpageCover-->
		                      <div class="cb"></div>
		                    </div> 
						</div>
					</div>
                    
                    <div class="cb"></div>
                  </div>
                  <!--topipcWraper-->

                  <div class="cb"></div>
                </div>
                <!--mtcontent-->
                
                <div class="cb"></div>
              </div>
              <!--mtleft-->
              
            <div class="cb"></div>
          </div>
          <!--mtcover-->
          <div class="cb"></div>

        </div>
        <div id="signupright"></div>
      </div>
    </div>
  </div>
  
<div id="boxes">
	<div id="dialog" class="window"></div>
	
	#{ popups/flag /}
</div>
<!-- Mask to cover the whole screen -->
<div id="mask"></div>    
