<div class="topic">
	<div class="newpage1">Patient Experiences</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
	 	</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	 		#{if diseaseList2 != null && diseaseList2.size() > 0}
	 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
	 			#{/list}
	 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
	 		#{if diseaseList3 != null && diseaseList3.size() > 0}
	 			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-experiences">Patient Experiences (${disease.name})</a><br/>
	 			#{/list}
	 		#{/if}
	 	</div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Patient Decisions</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-patient-decisions">Patient Decisions (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Survivorship</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-survivorship">Survivorship (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">Emotional Support</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-emotional-support">Emotional Support (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">What To Expect</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-what-to-expect">What To Expect (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>

<div class="topic">
	<div class="newpage1">Mental Health</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-mental-health">Mental Health (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>
<div class="topic">
	<div class="newpage1">How To Prepare</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-how-to-prepare">How To Prepare (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>

<div class="topic">
	<div class="newpage1">Next Steps</div>
	<div class="cb"></div>
	<div class="joinborder"></div>
	<div class="cb"></div>
	<div class="topic" style="padding-top: 10px;">
		<div style="width: 33%; display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList1 != null && diseaseList1.size() > 0}
 			#{list items: diseaseList1, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
 		#{if diseaseList2 != null && diseaseList2.size() > 0}
 			#{list items: diseaseList2, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
 			#{/list}
 		#{/if}
		</div>
		<div style="width: 33%;display: inline-block; vertical-align: top;float: none;">
   		#{if diseaseList3 != null && diseaseList3.size() > 0}
   			#{list items: diseaseList3, as: 'disease'}
			<a class="diseaseLink" href="/${disease.name.replaceAll(" ", "-")}-next-steps">Next Steps (${disease.name})</a><br/>
   			#{/list}
   		#{/if}
		</div>
	</div>
	<div class="cb"></div>
</div>